<template>
    <template if:true={loading}>
        <div id="spinnerDiv" style="height: 10rem">
        <div class="slds-spinner_container">
                <div role="status" class="slds-spinner slds-spinner_medium">
                    <span class="slds-assistive-text">Loading</span>
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>
        </div>
        </div>
    </template>
    <div style="height:750px;">
        <article class="slds-card">
            <div class="slds-card__header"  style="text-align: center;font-size:x-large;">
                Search and Associate Accounts
            </div> <br/>
            <div class="slds-card__body">
                <div class="slds-form-element" style="position:relative;bottom:20px;">
                    <div class="slds-form-element__control">
                        <div class="slds-combobox_container">
                            <div class={txtclassname} data-id="resultBox" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                                <div class="sec-div slds-p-bottom_small slds-grid slds-grid_vertical-align-start slds-gutters_xx-small">
                                    <span class="d-inline-block font-bold slds-p-right_x-small slds-p-top_small slds-m-top_small slds-col slds-size_1.5-of-12" style="white-space: nowrap;">Account Search</span>
                                    <lightning-input required={required}  data-id="userinput"  name="searchText" value={searchString} class="leftspace d-inline-block slds-col slds-size_5-of-12" onchange={handleChange} onkeyup={handleKeyUp}></lightning-input>
                                    <span class=" d-inline-block icon-search slds-m-left_x-small  slds-m-top_medium" onclick={handleSearch}>
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="search" style="height: 14px; fill:#fff; ">
                                                    <title></title>
                                                    <path d="M22.9 20.9l-6.2-6.1c1.3-1.8 1.9-4 1.6-6.4-.6-3.9-3.8-7.1-7.8-7.4C5 .4.4 5 1 10.5c.3 4 3.5 7.3 7.4 7.8 2.4.3 4.6-.3 6.4-1.5l6.1 6.1c.3.3.7.3 1 0l.9-1c.3-.3.3-.7.1-1zM3.7 9.6c0-3.2 2.7-5.9 5.9-5.9 3.3 0 6 2.7 6 5.9 0 3.3-2.7 6-6 6-3.2 0-5.9-2.6-5.9-6z">
                                                </path></svg>
                
                                    </span>
                                </div>
                                <div if:true={clearIconFlag}>
                                    <button class="slds-input__icon slds-input__icon_right slds-button slds-button_icon iconheight" onclick={resetData}>
                                                <lightning-icon class="slds-icon slds-icon slds-icon_small slds-icon-text-default" icon-name="utility:clear" size="x-small" alternative-text="icon" ></lightning-icon>
                                                <span class="slds-assistive-text">Clear</span></button>
                                </div>
                                <div class="slds-grid slds-grid_vertical-align-start slds-gutters_xx-small">
                                    <span class="slds-p-right_x-small font-bold slds-p-top_small slds-m-top_small slds-p-right_x-small d-inline-block slds-col slds-size_1.5-of-12">Keyword Filter</span>
                                    <lightning-input  data-id="keywordinput"  name="keywordFilter" value={keywordFilterValue} onchange={handleKeywordFilter} class="d-inline-block leftspace slds-col slds-size_5-of-12" ></lightning-input>
                                    <span class="slds-p-right_x-small slds-col slds-m-top_small slds-p-top_small font-bold slds-p-right_x-small slds-size_0.5-of-12 d-inline-block">Location</span>  
                                    <lightning-input  data-id="locationinput"  name="locationFilter" value={locatonFilterValue} onchange={handleLocationFilter} class=" d-inline-block leftspace slds-col slds-size_3-of-12" ></lightning-input> 
                                <!--  <lightning-combobox name="status"
                                            data-id="statusinput"
                                            value={statusValue}
                                            placeholder="All Statuses"
                                            options={statusOptions}
                                            class="slds-col slds-size_2-of-12 d-inline-block"         
                                            onchange={handleOptionChange} >
                                        </lightning-combobox>-->
                                
                                    </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <template if:false={recordCount}>
                    <div style="height:450px;">
                        <table class="slds-table slds-table_bordered slds-table_fixed-layout slds-table_resizable-cols" role="grid">
                            <thead>                
                                <tr class="slds-line-height_reset">
                                        <th class="slds-text-align_right" scope="col" style="width:3.25rem">
                                            <div class="slds-truncate slds-assistive-text" id="column-group-header" title="Choose a row to select">Choose a row to select</div>
                                        </th>
                                    <template for:each={tableColumns} for:item="tableCol" >
                                        <th aria-label="Name" aria-sort="none" class="slds-is-resizable slds-is-sortable" scope="col" key={tableCol.fieldName} width={tableCol.initialWidth}>
                                            <a class="slds-th__action slds-text-link_reset" href="javascript:void(0);" role="button" tabindex="-1">
                                                <span class="slds-assistive-text">Sort by: </span>
                                                <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                                                    <span class="slds-truncate" title={tableCol.fieldName}>{tableCol.label}</span>                                  
                                                </div>
                                            </a>
                                        </th>
                                    </template>
                                </tr>
                            </thead>
                        </table>
                       <template if:true={tableData}>
                            <lightning-datatable
                                key-field="Id"
                                data={tableData}
                                columns={columns}
                                onrowselection={handleRowSelection}
                                selected-rows={selectedRows}>
                            </lightning-datatable>
                        </template>
                    </div>
                </template>
                <template if:true={recordCount}>
                    <c-lwc-empty-state-image
            header-text={label.NoData}
            img="Start"
        ></c-lwc-empty-state-image>
                </template>
            </div>
            <footer class="slds-card__footer">
                <div class="slds-no-flex">
                    <lightning-button variant="Neutral" label="Cancel" onclick={closeQuickAction} class="slds-m-left_x-small"></lightning-button>
					<lightning-button variant="brand" label="Add Account(s)" onclick={saveStrategicRecords} class="slds-m-left_x-small"></lightning-button>
                </div>
            </footer>
        </article>
    </div>
</template>