<template>
    <template if:true={showModal}>
        <article class="slds-card">
            <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_medium"
                aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
                <div class="slds-modal__container">
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                        <lightning-tabset active-tab-value={activetab}>
                            <lightning-tab label="Resume" value="Resume" onactive={handleActive}>
                                <lightning-layout>
                                    <template if:true={resumesloading}>
									<div style = "Height:700px">
                                        <div class="resumecontainer" lwc:dom="manual"></div>
										</div>
                                    </template>
                                    <template if:false={resumesloading}>
                                        <div
                                            class="slds-grid slds-grid_vertical slds-grid_align-center slds-grid_vertical-align-center">
                                            <img width="200px" src={imageUrl} />
                                            <h3 class="slds-text-heading_large">No matches found</h3>
                                        </div>
                                    </template>
                                </lightning-layout>
                            </lightning-tab>

                            <lightning-tab label="Activities" value="Activities" onactive={handleActive}>
                                <template if:true={showActivities}>
                                    <div class="card-content slds-p-around_small" >
                                        <div class="slds-grid">
                                            <div class="slds-col slds-size_1-of-4 act-fld-common act-fld-type slds-p-left_large">
                                                <span class="slds-p-left_x-small text-upper-case slds-text-heading_small slds-text-title_bold">TYPE</span>
                                            </div>
                                            <div class="slds-col slds-size_1-of-4 act-fld-common act-fld-status">
                                                <span class="slds-p-left_xx-small text-upper-case sslds-text-heading_small slds-text-title_bold">STATUS</span>
                                            </div>
                                            <div class="slds-col slds-size_1-of-4 act-fld-common act-fld-asi-to slds-p-left_small">
                                                <span class="text-upper-case slds-text-heading_small slds-text-title_bold">ASSIGNED TO</span>
                                            </div>
                                            <div class="slds-col slds-size_1-of-4 act-fld-common act-fld-date slds-p-left_medium">
                                                <span class="slds-p-left_xxx-small text-upper-case slds-text-heading_small slds-text-title_bold">DATE</span>
                                            </div>
                                        </div>
                                        <ul>
                                    <template for:each={activities} for:item="item">
                                        <li key={item.RecordId}>
                                            <c-basecardtimelineitemtask task-item={item} current-user={currentUserId} enable-action-menu=false enable-condensed-labels=true rec-type={item.TimelineType} ></c-basecardtimelineitemtask>
                                        </li>

                                    </template>
                                    <div style = "Height:120px"></div>
                                    </ul>
                                    </div>
                                
                               
                    
                                </template>
                                <template if:false={showActivities}>
                                    <div
                                        class="slds-grid slds-grid_vertical slds-grid_align-center slds-grid_vertical-align-center">
                                        <img width="200px" src={imageUrl} />
                                        <h3 class="slds-text-heading_large">No activities found</h3>
                                    </div>
                                </template>
                            </lightning-tab>
                        </lightning-tabset>
                    </div>
                    <footer class="slds-modal__footer">
                        <lightning-button label="Close" title="Close" onclick={handleCloseModal}
                            class="slds-m-left_x-small">
                        </lightning-button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </article>
    </template>

</template>