.THIS .radius-select{
	max-width: 4rem;
	min-width: 3.5rem;
}

.THIS .distance-select{
	max-width: 3.5rem;
}

/*.THIS .slds-form-element,
.THIS .slds-pill-container{
	width: 100%;
}*/

.THIS .location-input {
	width: 20vw;
}

.THIS .location-input .slds-has-inline-listbox .slds-combobox__input{
	min-height: auto;
}

.THIS .location-input input::placeholder { 
	color: rgba(177, 173, 171, 1.0); 
	text-align: left;
}

.THIS .location-pill-container{
	max-width: 40vw;
}

.THIS .location-pill-container li .slds-pill__action{
	margin-right: 0.25rem;
	border: 1px solid rgb(177, 173, 171);
}