.THIS .slds-form-element, 
.THIS .slds-card__body,
.THIS .slds-input{
	width: 100%;
}


.THIS ul.slds-wrap li{
	display: inline-block;
	margin: 0.125rem 0.25rem 0.125rem 0;
}

.THIS .slds-icon_container{
	line-height: 0.2;
}

.THIS.ldsBtn  {
    width: 10px;
}

/*.THIS .slds-card__body,
.THIS .slds-pill-container{
	min-height: calc(2.25rem + 2px);
}*/

.THIS .slds-icon-utility-favorite svg{
	height: .875rem;
	width: .875rem;
	position: relative;
	transform: translate(3px, 3px);
}

.THIS .mid-blue {
	background-color: rgba(27, 82, 151, 1.0);
	color: #ffffff;
}

.THIS .mid-blue .slds-icon-utility-favorite svg{
	fill: transparent;
	stroke: #ffffff;
	stroke-width: 2px;
}



.THIS .favorite {
	background-color: #FCB95B;
	color: #ffffff;
}

/*.THIS .favorite svg{
	fill: #FCB95B;
}

.THIS .mid-blue svg{
	fill: rgba(27, 82, 151, 1.0);
}*/

.THIS .slds-button_icon-bare svg{
	/*fill: rgb(112, 110, 107);*/
	fill: #fff;
}

.THIS .slds-button_icon-bare svg::hover{
	/*fill: rgb(112, 110, 107);*/
	fill: #e7e7e7;
}

.THIS .slds-pill__action{
	border: 0px;
}

.THIS .view-mode .slds-pill__action{
	/*padding-right: calc(0.25rem + 0.25rem + 2px);*/
	padding: 0.25rem 0.5rem;
}

.THIS .top-container{
	border-radius: .25rem .25rem 0rem 0rem;
	border-bottom: none;
}

.THIS .bottom-container{
	border-radius: 0rem 0rem .25rem .25rem ;
}

.THIS .slds-form-element__label{
	display: none;
}

.THIS .view-mode .slds-button_icon-bare {
	display: none;
}
.THIS .clone-highlight .top-container {
    border-left: 5px solid #00cdcd;
    background-color: #f4ffff;
}
.THIS .clone-highlight .bottom-container {
    border-left: 5px solid #00cdcd;
    background-color: #f4ffff;
}