.THIS .mass-case-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.THIS h1 {
    font-weight: 700;
    font-size: 1.25rem;
    color: #00396B;
}

.THIS .button-row {
    display: flex;
    justify-content: space-evenly;
}

.THIS .sub-header{
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #F3F2F2;
}

.THIS .sub-header h2 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
    color: #080707;
}

.THIS .mass-case-body {
    padding: 0.5rem 1rem;
}

.THIS [role="combobox"] input[readonly]{
    cursor: pointer;
}

@media  (min-width: 48em) {
    .THIS .slds-form-element_horizontal .slds-form-element__control {
        padding-left: unset;
        clear: unset;
    }
    .THIS .slds-form-element_horizontal .slds-form-element__label,
    .THIS .slds-form-element_horizontal .slds-form-element__icon {
        float: unset;
        max-width: unset;
    }
}