<template>
    <!-- Search field --> 
    <div class="slds-form-element">  
     <div class="slds-form-element__control">
         <div class="slds-combobox_container"> 
                 <!-- <lightning-button if:false={isSynchronousSearch} label="Search" title="Search" onclick={handleSearch} class="slds-m-left_x-small"></lightning-button>  -->
              <div class={txtclassname} data-id="resultBox" aria-expanded="false" aria-haspopup="listbox" role="combobox" aria-labelledby="resultSearch">
                 <div if:false={relatedToSkill} class="slds-form-element__control slds-input-has-icon slds-input-has-icon " role="none">                                
                   
                     <lightning-input  
                        required={required} 
                        label={labelText} 
                        data-id="userinput" 
                        aria-label="search" 
                        name="searchText" 
                        value={searchString} 
                        class="leftspace" 
                        onkeyup={handleKeyUp}  
                        placeholder={placeHolderText} 
                        autocomplete="off" 
                        onblur={blurHandler} 
                        disabled={isReadOnly} 
                        onchange={handleOnChange} 
                        variant={variant}>
                    </lightning-input>                    
                    <div>
                        <span class="search-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="search" style="height: 15px;">
                                <title></title>
                                <path
                                    d="M22.9 20.9l-6.2-6.1c1.3-1.8 1.9-4 1.6-6.4-.6-3.9-3.8-7.1-7.8-7.4C5 .4.4 5 1 10.5c.3 4 3.5 7.3 7.4 7.8 2.4.3 4.6-.3 6.4-1.5l6.1 6.1c.3.3.7.3 1 0l.9-1c.3-.3.3-.7.1-1zM3.7 9.6c0-3.2 2.7-5.9 5.9-5.9 3.3 0 6 2.7 6 5.9 0 3.3-2.7 6-6 6-3.2 0-5.9-2.6-5.9-6z">
                                </path>
                            </svg>
                        </span>
                    </div>
                 </div>
                 <div if:true={relatedToSkill} class="slds-form-element__control" role="none">                                
                    <lightning-input required={required} data-id="userinput" aria-label="search" name="searchText" value={searchString} class="leftspace height-box" onkeyup={handleKeyUp} variant={variant} placeholder={placeHolderText} autocomplete="off" onblur={hideSearchResult} disabled={isReadOnly}></lightning-input>                                               
                 </div>
                 
                 <!-- Load result -->
               
                 <div if:true={showSearchResults} class="slds-dropdown slds-dropdown_length-with-icon-7 slds-dropdown_fluid overflow-hdn" style={classRelatedSkill} data-id="searchResult">                    
                         <ul class="slds-listbox_vertical" >
                                 <template for:each={searchResults} for:item="resultItem" for:index="index" >
                                     <li key={resultItem.recordId} data-item={index} class="slds-listbox__item slds-p-left_small list-item-focus" onclick={handleResultItemClick} data-id={resultItem.recordId} style="padding-top: 4px;padding-bottom:4px;"  >
										<c-search-result-display search-results={resultItem}></c-search-result-display>
                                     </li>
                                 </template>
                         </ul>
                </div>                             
            </div>
        </div>
    </div>
</div>
</template>