.icon-fill{
    top: 23px;
    left: -5px;
}
.listItemFocus{
    padding-left: .75rem;
    background: #F3F2F2;
    padding-top: 4px;
    padding-bottom: 4px;
}

.deFocusList{
    padding-left: .75rem;  
    padding-top: 4px;
    padding-bottom: 4px;
}
.overflow-hdn{
    cursor: pointer;
	 overflow:hidden;
}
.list-item-focus:hover{
    background: #F3F2F2;
}
.list-item-focus:active{
    background: #F3F2F2;
}
.list-item-focus:focus{
    background: #F3F2F2;
}
.height-box{
    height: 10px;
}
.user-phone{
    position: absolute;
    right: 2px;
}



/* slot[name="icon"], */
.search-icon {
    position: absolute;    
    height: 1rem;
    width: 1rem;
    top: 1.65rem;
    right: .5rem;
    fill: #706e6b;       
    display: flex;
    align-items: center;
    overflow: hidden;
}