<template>
   <template if:true={loading}>
      <div id="spinnerDiv" style="height: 10rem">
      <div class="slds-spinner_container">
            <div role="status" class="slds-spinner slds-spinner_medium">
               <span class="slds-assistive-text">Loading</span>
               <div class="slds-spinner__dot-a"></div>
               <div class="slds-spinner__dot-b"></div>
            </div>
      </div>
      </div>
   </template>
<lightning-card>
    <div class="sec-title slds-p-horizontal_small">
        <span if:false={checkEdit} class="page-title">{label.ATS_CREATE_PRO_SUBMITTAL}</span>
        <span if:true={checkEdit} class="page-title">{label.ATS_EDIT_PROACTIVE_SUBMITTAL}</span>
        <div class="btn-bg-color">
            <lightning-button label={label.ATS_CANCEL} slot="actions" variant="natural" class="btn-cancel-pos slds-m-right_small" onclick={handleCancel}></lightning-button>
            <lightning-button label={label.ATS_SAVE} slot="actions" variant="brand" onclick={saveSubmittal} class="btn-save-pos"></lightning-button>
        </div>
    </div>
    <div if:true={displayCreateOppoSection} class="opp-verbiage-pos slds-grid">
           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="info" class="slds-m-right_x-small slds-m-left_x-small">
              <path d="M12 .9C5.9.9.9 5.9.9 12s5 11.1 11.1 11.1 11.1-5 11.1-11.1S18.1.9 12 .9zm0 5.6c.8 0 1.4.6 1.4 1.4s-.6 1.4-1.4 1.4-1.4-.6-1.4-1.4.6-1.4 1.4-1.4zm2.3 9.7c0 .2-.2.4-.5.4h-3.6c-.3 0-.5-.1-.5-.4v-.9c0-.3.2-.5.5-.5.2 0 .4-.2.4-.4v-1.9c0-.2-.2-.5-.4-.5-.3 0-.5-.1-.5-.4v-.9c0-.3.2-.5.5-.5h2.7c.3 0 .5.2.5.5v3.7c0 .2.2.4.4.4.3 0 .5.2.5.5v.9z"></path>
           </svg>
           <span class="verb-pos slds-m-right_small"> If You would like to create an opportunity after saving this form check the box to the right.</span>
           <span class="border-right slds-m-right_x-small"></span>
           <div class="slds-form-element d-inline-block">
              <div class="slds-form-element__control">
                 <div class="slds-checkbox">
                    <input type="checkbox" data-id="createopp" name="options" id="checkbox-unique-id-72" value="checkbox-unique-id-72" checked={isOpportunityChecked} onclick={createOpportunityChecked}/>
                    <label class="slds-checkbox__label" for="checkbox-unique-id-72"> 
                    <span class="slds-form-element__label">Create New Opportunity</span>
                        <span class="slds-checkbox_faux"></span>
                    </label>
                 </div>
              </div>
           </div>
        </div>
    <div class="acc-section slds-m-horizontal_small slds-m-bottom_small">
        <div class="acc-title slds-p-around_small" onclick={handleCaretClick} style="margin-top: -18px;">
            <span if:false={iconchevDown} class="">
               
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="chevrondown" style="height: 16px; fill:#fff;margin-right:7px;">
                  <path d="M22 8.2l-9.5 9.6c-.3.2-.7.2-1 0L2 8.2c-.2-.3-.2-.7 0-1l1-1c.3-.3.8-.3 1.1 0l7.4 7.5c.3.3.7.3 1 0l7.4-7.5c.3-.2.8-.2 1.1 0l1 1c.2.3.2.7 0 1z">
                  </path>
               </svg>
            </span>
            <span if:true={iconchevDown} class={iconchevDown}>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="chevronright" style="height: 16px; fill:#fff;margin-right:7px;">
                     <path d="M8.3 2l9.5 9.5c.3.3.3.7 0 1L8.3 22c-.3.2-.8.2-1.1 0l-1-1c-.2-.3-.2-.8 0-1.1l7.6-7.4c.2-.3.2-.7 0-1L6.3 4.1C6 3.8 6 3.3 6.3 3l1-1c.3-.2.7-.2 1 0z">
                     </path>
                  </svg>
            </span> {label.ATS_DETAILS}
        </div>
        <div class={sectionDisplay}>
            <div class="slds-grid slds-gutters slds-m-horizontal_none slds-m-top_x-small">
                <div class="slds-col slds-size_1-of-4">
                    <div class="label-variants">
                        <!--<span class="req-field slds-m-right_xxx-small">*</span>-->{label.ATS_JOB_TITLE}</div>
                    <div class="search-lookup">
                        <c-search-lookup-component clas-name='Lookup' place-holder={label.ATS_SEARCH_JOB_TITLE} method-name='querySObject' object-name='Global_LOV__c' record-type-name='JobTitleList' is-soql='true' sort-condition='Number_Value__c DESC' use-cache=false onlookupitemselectedevent={handleJobTitleSelectedEvent}
                            search-string={jobTitle} where-condition={jobTitleWhereCondition} addl-fields="[]" record-limit="6"></c-search-lookup-component>
                    </div>
                </div>
                <div class="slds-col slds-size_1-of-4">
                    <div class="label-variants"><span class="req-field slds-m-right_xxx-small">*</span>{label.ATS_ACCOUNT_NAME}</div>

                    <div class="search-lookup">
                        <!--<c-search-lookup-component clas-name='Lookup' method-name='searchSObject' object-name='Account' record-type-name='Client' is-soql='false' sort-condition='Name asc' use-cache=false onlookupitemselectedevent={handleAccountSelectedEvent} search-string={accountNameSearchKey} addl-fields={accAddlFields}></c-search-lookup-component>-->
                        <c-search-lookup-component clas-name='Lookup' place-holder={label.ATS_SEARCH_ACCOUNTS} method-name='searchSObject' object-name='Account' record-type-name='Client' is-soql='false' use-cache=false onlookupitemselectedevent={handleAccountSelectedEvent}
                            search-string={accountNameSearchKey} addl-fields="[]" first-record-search-icon="true" is-read-only={isAccountReadOnly} search-lookup-text="Accounts" record-limit="6"></c-search-lookup-component>
                    </div>
                </div>
                <!--<div class="slds-grid"> -->
                <div class="slds-col slds-size_1-of-4">
                    <div class="label-variants"><span class="req-field slds-m-right_xxx-small">*</span>{label.ATS_HIRING}</div>

                    <div class="search-lookup">
                        <!--<c-search-lookup-component  clas-name='Lookup' method-name='searchSObject' object-name='Contact' record-type-name='Client' is-soql='false' sort-condition='Name asc' use-cache=false onlookupitemselectedevent={handleHMSelectedEvent} search-string={hmNameSearchKey} addl-fields={hmAddlFields}></c-search-lookup-component>-->
                        <c-search-lookup-component place-holder={label.ATS_SEARCH_HIRING_MANAGER} clas-name='Lookup' method-name='searchSObject' object-name='Contact' record-type-name='Client' is-soql='false' use-cache=false onlookupitemselectedevent={handleHMSelectedEvent}
                            search-string={hmNameSearchKey} addl-fields={hmAddlFields} first-record-search-icon="true" is-read-only={isHiringManagerReadOnly} search-lookup-text="Hiring Manager" record-limit="6"></c-search-lookup-component>

                        <!--<div class="slds-col slds-size_1-of-4 slds-m-top_xx-small">
                                 <lightning-button label="Search" onclick={handleHMLookupModal} ></lightning-button></div> -->
                    </div>
                </div>
                <div class="slds-col slds-size_1-of-4">
                    <div class="label-variants">{label.ATS_SUBMISSION_TYPE}</div>
                           <lightning-combobox
                              name="progress"
                              value={submittalType}
                              options={options}
                              onchange={handleSubmittalTypeChange} 
                              class="search-lookup"
                              ></lightning-combobox>
                </div>


            </div>
            <div class="slds-grid slds-gutters slds-m-horizontal_none">
                <div class="slds-col slds-size_1-of-2">
                    <div class="label-variants">
                        <span class="req-field slds-m-right_xxx-small">*</span>{label.ATS_POC_AM}</div>
                    <div class="search-lookup">
                        <!--<c-search-lookup-component clas-name='Lookup' method-name='querySObject' object-name='User' record-type-name='' is-soql='true' sort-condition='' use-cache=false onlookupitemselectedevent={handleAMSelectedEvent} search-string={pcacMgrKey} where-condition="Profile.Name='Single Desk 1'" addl-fields="['name','email']"></c-search-lookup-component>-->
                        <c-search-lookup-component clas-name='Lookup' method-name='querySObject' object-name='User' record-type-name='' is-soql='true' sort-condition='' use-cache=false onlookupitemselectedevent={handleAMSelectedEvent} search-string={pcacMgrKey} where-condition="Profile.Name='Single Desk 1'"
                            addl-fields={amAddlFields} display-fields={amDisplayFields} related-to="User" is-custom-css=true record-limit="6"></c-search-lookup-component>
                    </div>
                </div>
                <!--<div class="slds-col slds-size_1-of-4">
                           <div class="label-variants"><span class="req-field slds-m-right_xxx-small">*</span>Point of Contact / Account Manager</div>
                           <lightning-input
                             type="search"
                             class="slds-m-bottom_small search-lookup"
                             value={pcacMgrKey}
                             onchange={handleAccountMgrChange}
                             ></lightning-input>
                           <template if:true={accountMgr.data}>
                             <template for:each={accountMgr.data} for:item="accMgr">
                                <p key={accMgr.Id}>{accMgr.Name}</p>
                             </template>
                           </template>
                           </div>-->
                <div class="slds-col slds-size_1-of-2">
                    <div class="label-variants">
                        <!--<span class="req-field slds-m-right_xxx-small">*</span>-->{label.ATS_SKILLS}</div>
                    <!-- Load skills component -->
                    <c-search-lookup-pill-container pills-list={skillsObjects} pill-css='' onlookuppillitemselectedevent={handlelookupitemselectedevent} search-text={searchText}></c-search-lookup-pill-container>
                    <!--
                           <lightning-input
                              type="search"
                              class="search-lookup"
                              value={skills}
                              onchange={handleSkill}
                              ></lightning-input> -->
                    <!--template if:true={skillSearchList.data}>
                              <template for:each={skillSearchList.data} for:item="jTitle">
                                  <p key={skill.Id}>{skill.Name}</p>
                              </template>
                              </template-->
                </div>

            </div>
            <div class="slds-grid slds-gutters slds-m-horizontal_none">
                <div class="slds-col slds-size_6-of-12">
                    <div class="label-variants">{label.ATS_TALENT_QUALIFICATIONS}</div>
                    <lightning-textarea type="string" value={talentQualification} class="string-input search-lookup" placeholder={label.ATS_ENTER_BRF_DESC} onchange={handleQualificationChange}></lightning-textarea>
                    <!-- <lightning-input
                     type="string"
                     value={talentQualification}
                     class="string-input search-lookup"
                     onchange={handleQualificationChange}
                     ></lightning-input>-->
                </div>
                <div class="slds-col slds-size_6-of-12">
                    <div class="label-variants">{label.ATS_DESC_ROLE}</div>
                    <lightning-textarea type="string" value={descRole} class="string-input search-lookup" placeholder={label.ATS_ENTER_BRF_DESC} onchange={handleDescRoleChange}></lightning-textarea>

                    <!--<lightning-input
                     type="string"
                     value={descRole}
                     class="string-input search-lookup"
                     onchange={handleDescRoleChange} 
                     ></lightning-input>-->
                </div>
            </div>
        </div>
    </div>
    <div class="acc-section slds-m-horizontal_small slds-m-bottom_small margin-btm">
        <div class="acc-title slds-p-around_small" onclick={handleCaretClickComp}>
            <span if:false={iconchevDownComp}>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  style="height: 16px; fill:#fff;margin-right:7px;">
                     <path d="M22 8.2l-9.5 9.6c-.3.2-.7.2-1 0L2 8.2c-.2-.3-.2-.7 0-1l1-1c.3-.3.8-.3 1.1 0l7.4 7.5c.3.3.7.3 1 0l7.4-7.5c.3-.2.8-.2 1.1 0l1 1c.2.3.2.7 0 1z">
                     </path>
                  </svg>
            </span>
            <span if:true={iconchevDownComp}>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  style="height: 16px; fill:#fff;margin-right:7px;">
                     <path d="M8.3 2l9.5 9.5c.3.3.3.7 0 1L8.3 22c-.3.2-.8.2-1.1 0l-1-1c-.2-.3-.2-.8 0-1.1l7.6-7.4c.2-.3.2-.7 0-1L6.3 4.1C6 3.8 6 3.3 6.3 3l1-1c.3-.2.7-.2 1 0z">
                     </path>
                  </svg>
               
            </span> Compensation
        </div>
        <div class={sectionDisplayComp}>
            <div class="slds-grid slds-gutters slds-m-horizontal_none slds-m-top_small">
                <div class="slds-col slds-size_1-of-4">
                    <div class="label-variants">{label.ATS_PAYRATE}</div>
                    <lightning-input type="Number" value={payRate} class="search-lookup" onchange={handlePayRateChange} placeholder={label.ATS_ENTER_PAY}></lightning-input>
                </div>
                <div class="slds-col slds-size_1-of-4">
                    <div class="label-variants">{label.ATS_DESIRED_PAY}</div>
                    <lightning-input type="Number" value={desireSalary} onchange={handleDesireSalaryChange} class="search-lookup" placeholder={label.ATS_DESIRED_SAL_ENTER}></lightning-input>
                </div>
                <div class="slds-col slds-size_1-of-4">
                    <div class="label-variants">{label.ATS_RATE_TYPE}</div>
                    <template if:true={rateTypeOption.data}>
                     <lightning-combobox
                        name="progress"
                        value={rateType}
                        options={rateTypeOption.data.values}
                        onchange={handleRateTypeChange} 
                        class="search-lookup"
                        placeholder={label.ATS_SELECT_RATE_TYPE}
                        ></lightning-combobox>
                  </template>
                </div>
                <div class="slds-col slds-size_1-of-4">
                    <div class="label-variants">{label.ATS_Currency}</div>
                    <template if:true={submCurrencyOption.data}>
                     <lightning-combobox
                        name="progress"
                        label=""
                        aria-labelledby="currency"
                        title={label.ATS_Currency}
                        value={submittalCurrency}
                        options={submCurrencyOption.data.values}
                        onchange={handleSubmCurrencyChange} 
                        class="search-lookup"
                        placeholder={label.ATS_SELECT_CURRENCY}
                        ></lightning-combobox>
                  </template>
                </div>
            </div>
        </div>
    </div>
</lightning-card>

<template if:true={modelOpen}>
      <c-modal header={moadalHeader} css-modal="slds-modal slds-fade-in-open slds-modal_large" modal-result="slds-modal__content slds-p-around_medium slds-scrollable">
         <!--{content}-->
         <div slot="modalbody">
               <c-detail-search-lookup  search-string={modalSearchKey} 
                                       object-name={modalTrgObject} 
                                       table-columns={modalTblColumns} 
                                       search-in-fields={modalSchInFlds} 
                                       returning-fields={modalRtnFlds}
                                       qcondition={modalCondition} 
                                       feature-item={modalFeature}
                                       onrowselectedevent={renderSearchField} 
                                       oncancleclickevent={handleCancelModal}>

               </c-detail-search-lookup>  
         </div>
         <div slot="footer" style="display: flex; justify-content: flex-end; background: #ECECEC; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; padding: 5px; ">
            <lightning-button
               label="Cancel"
               variant="neutral"
               onclick={handleCancelButton}
               ></lightning-button>
            <lightning-button
               label="Save"
               variant="brand"
               class="slds-m-horizontal_small"
               onclick={handleSaveButton}
               ></lightning-button>
         </div>
      </c-modal>
   </template>
</template>