/*style*/
.btn-bg-color{
    position: relative;
    top: -9px;
    display: flex;
    justify-content: flex-end;
   
}
.d-inline-block{
    display: inline-block;
}
.d-block{
    display: block;
}
.d-block-none{
    display: none;
}
.sec-title{
    background: #F3F2F2;
    position: relative;
    top:-25px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: -1px;
    margin-left:-1px;
}
.page-title{
    position: relative;
    top: 17px;
    font-size: 18px;
    color:rgb(62,62,60);
    font-weight:600;
}

.acc-section{
    border: 1px solid rgb(221, 219, 218);
    border-radius: 5px;
}
.margin-btm{
    margin-bottom: 125px;
}
.acc-title{
    background: #035797;
    color: rgb(255, 255, 255);
    font-size:16px;
    line-height:19.5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.search-lookup{
    position: relative;
    top: -16px;
}
.label-variants{
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    color: rgb(62, 62, 60);
}
.req-field{
    color: rgb(194, 57, 52);
}
.bg-color{
    background: #ECECEC;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}
.opp-verbiage-pos {
    background-color:#DBEDFB;
     position: relative; 
    bottom: 20px;
    margin-right: 13px;
    margin-left: 13px;
    margin-right: 13px;
    margin-left: 13px;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 5px;   
}
 .opp-verbiage-pos svg {
        height:17px;
        fill:#2C6790;   
    }
 .verb-pos {
  font-size:12px; 
  padding-top:1px;
}
.border-right {
  border: 1px solid #2C6790;
  margin-top:-3px;
  margin-bottom:-3px;  
}