.THIS .slds-form-element__label{
    display: none !important;
}
.THIS span.showTitle .slds-form-element__label{
    display:block !important;
}
.THIS .toggle{
	  display: none;
}

.THIS .uiPillContainer--default {padding: 2px 2px 0 2px;margin: 0;line-height: 14px;}
.THIS .uiPill_default .pillIcon, .THIS .uiPill_default .pillIcon .uiImage {height: 15px;width: 15px;line-height: 1;}
.THIS .uiPillContainer_default .pillContainerListItem {margin-right: 5px;margin-bottom: 2px;}
/* -- lookup field override -- */
.THIS .cATS_LookupComponent .twitter-typeahead {z-index: 9999;}
.THIS .forceSearchInputLookupDesktop .uiInput--lookup.lookup__menu{
    z-index: 10000;
}
.THIS .slds-input, 
.THIS .uiInput_input,
.THIS .input {
    line-height: 1rem;
    min-height: 1.9rem;
}
.THIS .spinner-div {
    background-color: rgba(255, 255, 255,0.8);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}
/* Sandeep: Time picker is going under the modal footer.below styel to makesur it overflows */
.THIS.overflow-y-visible {
    overflow: visible!important;
}

.THIS .addModalHeight {
    height:60%;
}

.THIS .borderRight {
    border-right: 2px solid rgb(221, 219, 218);
}

.THIS .borderLeft {
    border-left: 2px solid rgb(221, 219, 218);
}

.THIS .borderBottom {
    border-bottom: 2px solid rgb(221, 219, 218);
}
.THIS .spinner-pos{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50px;
    left: 0;
    z-index: 9999;
    background:none;
}

.THIS .slds-datepicker {
    position: relative !important;
    top: 100% !important;
    left: 0 !important;
    box-shadow: 4px 4px 8px grey;
}