.THIS .section-header{
    background-color:#f3f2f2;
}
.THIS .chevron-down{
    position:relative;
    bottom:2px;
}
.THIS .req-space {
    margin-left:0rem;
}
.THIS .section-header-text{
    font-size:17px;
    color:#2B2826;
}
.THIS .font-weight-regular{
    font-weight:400 !important;
}
.THIS .font-weight-regular .slds-form-element__label{
    font-weight:400;
}
.THIS .help-button-icon-secondary .slds-form-element__icon{
    position:relative;
    top:-2px;
}
.THIS .no-wordspace .slds-form-element__help{
    white-space:normal;
}
.THIS .req-field {
  color: #C23934;  
  font-size: 0.8rem;
}
.THIS .required-field::before {
  content: "*";
  color: #C23934;
  font-size: 0.8rem; 
}
.THIS .slds-form-element__label{
    color:#000000;
    font-size:0.8rem;
    font-weight:700;
}
.THIS .field-font-variant{
    color:#000000;
    font-size:0.8rem;
    font-weight:700;
}
.THIS .overide-formelement .slds-form-element__label{
    padding:0;
    margin:0;
    display:block;
}
.THIS .slds-select{
    min-height:2.14rem;
}
.THIS .p-right_none .slds-form-element__label{
    padding-right:0rem;
}
.THIS .checkbox-flex{
    display:flex;
}

.THIS .input-cls .field-height{
    min-height:2.14rem;
}
.THIS .clone-highlight .slds-select{
   border-left: 5px solid #00cdcd;
    background-color: #f4ffff; 
}
.THIS .clone-highlight .lookup-input .slds-input{
   border-left: 5px solid #00cdcd;
    background-color: #f4ffff; 
}
.THIS .clone-address-highlight .slds-input{
   border-left: 5px solid #00cdcd;
    background-color: #f4ffff; 
}
.THIS .clone-highlight field-heightsearch-req-field{
    background-color: #f4ffff; 
}
.THIS .textarea-height .slds-textarea{
    min-height:4.2rem;
}
.THIS .clone-highlight .slds-textarea{
   border-left: 5px solid #00cdcd;
    background-color: #f4ffff; 
}

.THIS .nowrap-whitespace{
    white-space:nowrap;
}
.THIS .emea_location label{
    color:#000000;
    font-size:0.8rem;
    font-weight:700;
}
.THIS .emea_location .slds-button{
    color:#0070D2;
    font-size:0.8rem;
    font-weight:700;
    
}
.THIS .header-text{
     color:#00396B;
    font-size:1rem;
    font-weight:700;
}
.THIS .d-inline-block{
    display:inline-block;
}
.THIS .m-auto{
    margin-left:auto;
}
.THIS .flex-center{
    align-items:center;
}
.THIS .search-match-pill-clone{
   width: 1rem;
    height: 5px;
    transform:rotate(270deg);
    border-radius: 1rem;
    background-color: #00cdcd;
    position:relative;
    left:1px;
    top:-1px;
}
.THIS .bar-text{
    text-align:left;
    color:#000000;
    font-size:0.8rem;
    font-weight:700;
}
.THIS .skill-wrapper .slds-card__header {
    display:none;
}
.THIS .skill-wrapper .slds-card__body{
    margin:0;
    padding:0;
}
.THIS .skill-wrapper .suggested_skillpill .slds-pill{
   background-color: #AFD6F2 !important;
    padding:0rem;
    margin: .25rem .15rem .25rem .15rem;
}
.THIS .skill-wrapper .suggested_skillpill .slds-pill__label{
    color: #000 !important;
}
.THIS .skill-wrapper .suggested_skillpill .slds-icon_container svg{
    color: #000;
}
.THIS .skill-wrapper{
    border:1px solid rgb(221, 219, 218);
    border-radius:0.25rem;
    border-left: 5px solid #00cdcd;
    background-color: #f4ffff; 
    
}
.THIS .skill-wrapper .slds-pill_container {
   border:none;
   padding:0;
   background-color: #f4ffff;
}
.THIS .skill-wrapper .slds-combobox_container {
   border:none;
}
.THIS .skill-wrapper .search-req-field{
    border-left: none !important;
}
.THIS .skill-wrapper .field-heightsearch-req-field{
    background-color: #f4ffff; 
}
.THIS .skill-wrapper .slds-card{
    border:none;
    box-shadow:none;
}
.THIS .error-required-field {
  color: #C23934;
}
.THIS .container-position{
    top:-1rem !important;
}
.THIS{
    position:relative;
    top:-0.7rem;
}
@media (max-width: 48em){
    .THIS .req-header {
        width:94% !important;     
 }    
    .THIS .req-header .flex-center{
        display:block;   
 }   
    .THIS .req-header .m-auto{
        padding-top: 0.33rem;
        padding-bottom: 0.33rem;
 }   
}
.THIS .req-container{
    margin: 0 auto; 
    width: 100%;
    max-width: 65rem;
    min-width: 20rem; 
    background:#fff;
    border-top-left-radius: 0.33rem;
    border-top-right-radius: 0.33rem;
}
.THIS .req-header{
    position: fixed;
    width: 65rem;
    background: #fff;
    z-index: 10;
    border: 1px solid #979797;
    border-top-left-radius: 0.33rem;
    border-top-right-radius: 0.33rem;
}
.THIS .req-content{
    padding-top:6rem;
}
.THIS {
	margin: 0 auto;
    width: 65rem;
    outline: none;
}
 .THIS .micro-text-label {
     white-space: nowrap;
    display: inline-block;
    font-size: 9px;
    }
.THIS .slds-pill .slds-icon-text-default{
    fill: #fff;
}
.THIS .toggle-text{
	color: rgb(159, 170, 181);
}
.THIS .error-wrap {
    border-radius: 5px;
}
.THIS .error-input .slds-select, .THIS .error-wrap{
	border: 1.5px solid #C23934;
}
.THIS .error-slds-input .slds-input {
    border: 1.5px solid #C23934;
}
.THIS .error-input .slds-textarea{
	border: 1.5px solid #C23934;
}
.THIS .error-input .slds-combobox_container{
	border: 1.5px solid #C23934;
}
.THIS .error-input-skill {
    border: 1.5px solid #C23934;
    border-left: 5px solid #00cdcd;
}
 .THIS .error-input-highlight .slds-textarea{
    border: 1.5px solid #C23934;
    border-left: 5px solid #00cdcd;
    }
.THIS .slds-icon-utility-close > span > svg{
	fill: #fff;
}
/* .THIS .slds-pill__label{
    color:#ffffff; 
} */
.THIS.a:hover, .THIS.a:active{
    color:#ffffff; 
}
.THIS .slds-pill__label {
    text-transform: capitalize;
    display: inline-flex;
}
/* .THIS .slds-pill{
    color:#ffffff;
	margin: 0.25rem 0.25rem 0.25rem 0;
	padding: 0.25rem 0.5rem;
    background-color: #00396B;
} */
.THIS .slds-icon_container{
	line-height: 1.2;
}

.THIS .truncate-badge{
	display: inline-block;
	max-width: 15rem;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px;
}
.THIS .boldtext {
 	font-weight: 600;
 	position: relative;
 	top: 0.125rem;
}
/*Styles for Essential pills*/

.THIS .essential-pill {
	background-color: #FFB75D;
}
.THIS.spinnercls{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.THIS .customRadioCls .slds-form-element__control{
    display : inline-flex !important;
}

.THIS .customRadioCls{
    width: 120%;
}
/*.THIS .input-cls .cC_LookupLtng input {
    border-left:none!important;
    background-color: white!important;
}*/
.THIS .High-field .match-req-bg-color {
    background-color: #f4ffff;
}
.THIS .cCRM_SuggestedSkills {
    display: none;
}
.THIS c-lwc-pills-lookup .slds-pill_container > span {
    margin-bottom: .25rem;
}
.THIS .d-label_pos {
    position: relative;
    bottom: 1.3rem;
}
.THIS .my-small-text {font-size: 12px}