.THIS .edit-popover{
    position: absolute;
    z-index: 9000;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.10);
    transform: translate(-23.5rem, 1rem);
}

.THIS .slds-popover_medium{
    min-width: 25rem;
}

.THIS .slds-button--icon-x-small .slds-button__icon{
    width: .75rem;
    height: .75rem;
}


.THIS .location-field .slds-has-inline-listbox .slds-combobox__input ::placeholder{
    display: none;
}

.THIS .edit-button{
    position: absolute;
    transform: translate(0.5rem, -0.125rem);
}

.THIS p{
    line-height: 1.25;
}