<template>
    <header class="slds-modal__header">
        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
            <b>Merge With Opportunity</b>
        </h2>
    </header>
    <div class="slds-modal__content slds-p-around_medium">                
        <template if:true={selectedRecord}>
            <div class="slds-grid slds-p-around_small">
                <div class="slds-col slds-size_1-of-1">
                    <a onclick={navigateToOpportunityPage}>{selectedRecord.Req_Job_Title__c} @ {selectedRecord.Account.Name} - {selectedRecord.Opportunity_Num__c}</a>
                    <p>
                        <em>{selectedRecord.Req_Worksite_City__c}, {selectedRecord.Req_Worksite_State__c}&nbsp;
                            <template if:true={showRemote}>
                                OR Remote
                            </template>
                        </em>
                    </p>
                </div>
            </div>    
            <div class="slds-grid slds-p-around_small">
                <div class="slds-col slds-size_1-of-4">
                    <label class="slds-form-element__label slds-p-bottom_xx-small">Created Date</label><br/>
                    <lightning-formatted-date-time value={selectedRecord.CreatedDate} month="long" day="2-digit" year="numeric"></lightning-formatted-date-time>
                </div>
                <div class="slds-col slds-size_1-of-4">
                    <label class="slds-form-element__label slds-p-bottom_xx-small">Req Owner</label><br/>
                    <a onclick={navigateToUserPage} class="slds-p-top_x-small">{selectedRecord.Owner.Name}</a>
                </div>
                <div class="slds-col slds-size_1-of-4">
                    <label class="slds-form-element__label">Placement Type</label>
                    <p class="slds-p-top_xx-small">{selectedRecord.Req_Product__c}&nbsp;
                        <em>
                            <template if:true={showDuration}>
                                - {selectedRecord.Req_Duration__c}&nbsp;{selectedRecord.Req_Duration_Unit__c}
                            </template>
                        </em>
                    </p>
                </div>
                <div class="slds-col slds-size_1-of-4">
                    <label class="slds-form-element__label">Req Stage</label>
                    <p class="slds-p-top_xx-small">{selectedRecord.Req_Qualifying_Stage__c}</p>
                </div>
            </div>
            <div class="slds-grid slds-p-around_small">
                <div class="slds-col slds-size_1-of-4">
                    <label class="slds-form-element__label">Max Bill Rate</label>
                    <p class="slds-p-top_xx-small">
                        <template if:true={showMaxBill}>$</template>
                        {selectedRecord.Req_Bill_Rate_Max__c}
                        <template if:true={showMaxBill}>/hr</template>
                    </p>
                </div>
                <div class="slds-col slds-size_1-of-4">
                    <label class="slds-form-element__label">Max Pay Rate</label>
                    <p class="slds-p-top_xx-small">
                        <template if:true={showMaxBill}>$</template>
                        {selectedRecord.Req_Pay_Rate_Max__c}
                        <template if:true={showMaxPay}>/hr</template>
                    </p>
                </div>
                <div class="slds-col slds-size_1-of-4">
                    <label class="slds-form-element__label">Open Positions</label>
                    <p class="slds-p-top_xx-small">{selectedRecord.Req_Open_Positions__c}</p>
                </div>
                <div class="slds-col slds-size_1-of-4">
                    <label class="slds-form-element__label">Total Positions</label>
                    <p class="slds-p-top_xx-small">{selectedRecord.Req_Total_Positions__c}</p>
                </div>
            </div>
            <div class="slds-grid slds-p-around_small">
                <div class="slds-col slds-size_1-of-1">
                    <label class="slds-form-element__label">Top Skills</label><br/>
                    <ul class="slds-listbox slds-listbox_horizontal" role="listbox" aria-label="Selected Options:" aria-orientation="horizontal" aria-describedby="listbox-pill-with-icon">
                        <template for:each={pills} for:item="pill">
                            <li class="slds-listbox-item border slds-p-right_small" role="presentation" key={pill}>
                            <span class="slds-pill background" role="option" tabindex="0" aria-selected="true">                            
                                <span class="slds-pill__label" title={pill}>{pill}</span>                            
                            </span>
                            </li>
                        </template>
                    </ul>
                </div>
            </div> 
            <h2 class="slds-p-around_small">VMS Position Info</h2>
            <div class="slds-grid slds-p-around_small">
                <div class="slds-col slds-size_1-of-4">
                    <label class="slds-form-element__label">Open Positions</label><br/>
                    <p class="slds-p-top_xx-small">{vmsReq.fields.Req_Total_Positions__c.value}</p>
                </div>
                <div class="slds-col slds-size_1-of-4">
                    <label class="slds-form-element__label">Total Positions</label>
                    <p class="slds-p-top_xx-small">{vmsReq.fields.Req_Total_Positions__c.value}</p>
                </div>
            </div> 
        </template>
    </div>
    <footer class="slds-modal__footer"> 
        <div class="slds-float_left" onclick={showSelectOpportunity}>
            <lightning-button-icon icon-name="action:back" size="small" variant="outline-brand" alternative-text="Back" title="Back"></lightning-button-icon>
            <a class="slds-p-left_xx-small">Go back to select Opportunity</a>
        </div>           
        <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
        <button class="slds-button slds-button_brand" onclick={mergeWithOpportunity} title="OK">Merge With Opportunity</button>                       
    </footer>
</template>

<!--
    color: blue;
    border-color: blue;
    border-radius: 1000px;
    /* background: #73AD21; */
    /* padding: 20px; */
    width: 5px;
    height: 33px;
-->