<template>
    <template if:true={loading}>
        <div id="spinnerDiv" style="height: 10rem">
        <div class="slds-spinner_container">
              <div role="status" class="slds-spinner slds-spinner_medium">
                 <span class="slds-assistive-text">Loading</span>
                 <div class="slds-spinner__dot-a"></div>
                 <div class="slds-spinner__dot-b"></div>
              </div>
        </div>
        </div>
     </template>
    <lightning-card>
        <div>
            <template if:true={showTable}>
                <lightning-datatable
                        hide-checkbox-column="true"
                        key-field="id"
                        data={tableData}
                        columns={columns}>
                </lightning-datatable>
            </template>
            <template if:false={showTable}>
                <div class="slds-illustration slds-illustration_small" aria-hidden="true">
                    <img src="/img/chatter/OpenRoad.svg" class="slds-illustration__svg" alt=""/>
                    <div class="slds-text-longform">
                        <h3 class="slds-text-heading_medium">No Talent First Opportunities to display</h3>
                    </div>
                </div>
            </template>
        </div>
    </lightning-card>
</template>