.THIS #g2-textarea {
    flex-direction: row;
    background: rgb(255, 255, 255);
    border: 1px solid white;
}

.THIS .focused-div-container {
    border: 1px solid rgb(0,140,231) !important;
    box-shadow: 0 0 3px rgba(0,140,231,1);
    border-radius: .25rem;
}

.THIS .blue-border-left {
    border-left: 5px solid #00cdcd;
}

.THIS .truncated-container::after {
    content: 'MORE' !important;
    background: white;
    right: 0;
    font-size: .7rem;
    transform: translate(-4px, -25px);
    float: right;
    padding: 5px 6px 0 8px;
    color: rgb(0, 109, 204);
}

.THIS .flex-box-container {
    display: flex;
    justify-content: space-between;
}
.THIS .g2-comment .textarea-wrapper textarea {
      background-color: #F0EE6C;
}
.THIS .g2-comment .textarea-wrapper {
      background-color: #F0EE6C;
       border: 1.5px solid #C2A10D !important;
}

.THIS #g2-textarea textarea {
    transform: translateY(-1px);
}