.THIS .slds-card__body {overflow-y: visible;margin-bottom: 0px;}
.THIS .slds-card__footer {margin-top: 0px;margin-bottom: 0px;padding-top: 0px;padding-bottom: 0px;}
.THIS .edit-status,
.THIS .cancel-status {
	vertical-align: top;
	border: 0;
	color: rgb(199, 199, 199);
}
.THIS .edit-status:hover,
.THIS .cancel-status:hover {
	color: rgb(112, 110, 107);
}


.THIS .picklist{
    cursor: pointer;
}

.THIS .icon-col{
    width: 5%;
}

.THIS .status-col{
    width: 120px;
}

.THIS .req-col{
    width: 25%;
}

.THIS .account-col{
    width: 25%;
}

.THIS .address-col{
    width: 19%;
}

.THIS .date-col{
    width: 20%
}

.THIS .edit-col{
    width: 9%;
}
.THIS .ts-actions {
    display: flex;
    align-items: center;
}
.THIS .letter-p {
   background: #045797;
    border-radius: 0.6em;
    -moz-border-radius: 0.6em;
    -webkit-border-radius: 0.6em;
    color: #ffffff;
    display: inline-block;
    font-weight: 600;
    line-height: 1.2em;
    margin-right: 5px;
    text-align: center;
    width: 1.2em;
    font-size:12px;
    text-align:center;
    font-weight:400;
    padding-top:1px;
    cursor:pointer;
}
.THIS .btn-size {
 min-width:87px;
 max-width:90px;
}
