
.THIS .preferred__text a{
    font-weight: 600;
}

.THIS .status {
    display: flex;
    justify-content: center;
    align-items: center;
}

.THIS .notes-add-pill {
    background: rgb(61,138,231);
    border-radius: 1rem;
    padding: .1rem .3rem .1rem .5rem;
    color: white;
    font-size: .8rem;
    display: inline-block;
    cursor: pointer;
}

.THIS .add-note {
    font-size: 1.2rem;
    line-height: .8rem;
    font-weight: 100;
    transform: translateY(1px);
    display: inline-block;
}

.THIS .note-icon svg {
    fill: rgb(245,187,109);
    height: 1.5rem;
    cursor: pointer;
}

.THIS #notes-modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.4);
    z-index: 9999999;    
    padding: 2rem;
}

.THIS .notes-modal {
    background: white;
    border-radius: .5rem;
    width: calc(100vw - 2rem);
    height: calc(100vh - 2rem);
}