.THIS {
    margin-left: -12px;
    margin-right: -12px;
    width: fit-content;
    min-width: -webkit-fill-available;    
    min-width: -moz-available;    
    min-width: fill-available;
}
.THIS .slds-page-header_object-home {padding-right:0px;padding-left:0px;width:100%;margin-bottom: 0px;min-height: 116px; margin-top: -15px; margin-left: -12px;line-height: 1rem;}
.THIS .tiny-text {font-size: .67rem;}
.THIS .slds-popover_panel .slds-popover__body {padding: .5rem 1.5rem .5rem 1.5rem!important}
.THIS .AG-Status__Badge {padding: 2px 10px;border-radius: 15px; white-space: nowrap;display: inline-block;}
.THIS .AG-Status__Badge_Placed {background-color:#5dbb5d;color: #ffffff;}
.THIS .AG-Status__Badge_DNR {background-color:#ff9900;color: #ffffff;}
.THIS .AG-Status__Badge_DNC {background-color:#3498DB;color: #ffffff;}
.THIS .AG-Status__Badge_Ownership {background-color:#ff9900;color: #ffffff;}
.THIS .bold {font-weight:600}
.THIS .top-title-bar {min-width: 200px;}
.THIS .text-preferred {font-weight: 600;}
.THIS .slds-page-header {background: transparent;border-bottom: 0px;box-shadow: none; padding: 1rem 1rem .5rem 1rem}
.THIS .s1FixedFullWidth {left: 0;border-bottom: 1px solid rgb(221, 219, 218);box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.10);}
.THIS header.forceHighlightsPanel.highlights.headerBanner.forceHighlightsPanel.highlights {margin-left: 0rem;margin-top: 0rem;} 
.THIS .header-top_fixed {position:fixed; width: 100%; margin-top:0px; background-color: rgb(250, 250, 249); }
.THIS .header-top_lower-half {top: 66px; left: 0;padding: 0px;border-radius: 0; position: relative; background: #FFFFFF;width: calc(100% + 24px); padding: 0.5rem 1rem;}
.THIS div.uiMenuList.visible {display: block; left: 0px!important; top: 30px!IMPORTANT;}
.THIS button.header-action-menu {width: auto!important; color:  rgb(0, 112, 210);}
.THIS .view-all-menu_dropdown {display: inline-block; padding-left: 5px}
.THIS .slds-page-header__detail-row {margin: 0px;min-height: 60px;position: initial;}
.THIS.headerBanner {width:100%;}
/*added by akshay start */
.THIS .viewMenuLabel {color: rgb(22, 50, 92);}
.THIS .slds-card__body {overflow-y: visible;margin-bottom: 0px; min-height: 116px}
.THIS .slds-card__footer {margin-top: 0px;margin-bottom: 0px;padding-top: 0px;padding-bottom: 0px;}

.THIS .content-toggle {display:none;}

/* -- default icon hover --*/
.THIS .slds-icon__hover_light-grey svg {fill: #fff}
.THIS .slds-icon__hover_light-grey:hover svg {fill: #cfd7e6!important}
.THIS .slds-icon_blue svg {fill: #0070d2!important;}
/* -- end default icon hover --*/

.THIS article .slds-truncate {display: -webkit-box;-webkit-line-clamp: 5;-webkit-box-orient: vertical; white-space: pre-line; }

.THIS .slds-media__body {overflow:initial;}
.THIS span { overflow-wrap: break-word; word-wrap: break-word;}

.THIS .slds-dropdown-trigger .slds-icon-text-default {
        fill: rgb(112, 110, 107);
}
/*added by akshay end */
@media screen and (max-width:780px) {
    .THIS .top-title-bar {width:33%}
    .THIS .top-title-bar .slds-truncate {max-width: 80%;}    
}

@media screen and (max-width:1000px) {
    .THIS .max-width--ownership {width: 150px;}
}

.THIS .split_on .top-title-bar{
       min-width: auto!important;
}
/*Sandeep: Split screen changes end*/
.THIS .badge-container {
    position: relative;
}
.THIS .CS-popover {
	top: -7px;
    left: 67px;
}

.THIS .edit-button-location{
    position: absolute;
    transform: translate(0.5rem, -0.125rem);
}

.THIS .CS-popover::after {top: 24px;}
.THIS .CS-popover::before {
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    background-color: rgba(0,0,0,0);
    transform: translateX(-75px) translateY(-30px);
}
.THIS .mixedCase {
	text-transform: capitalize;
}
.THIS .slds-popover__header {
    -ms-word-break: break-all;
    word-break: break-all;
    /* Non standard for WebKit */
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
.THIS .text-color_light-grey {
    color:lightslategrey;
}


.THIS .uiMenuList--default .uiMenuItem>a{
    text-transform: capitalize;
}
.THIS .switchHeader {
    position: fixed;
    z-index: 100;
    top: 10px;
}
.THIS .switchHeader svg {
    fill: white;
}

/*NEW HEADER STYLING*/
.THIS.tempStyle {
    height: 54px;
    margin-top: -12px;
}
.THIS .cC_LinkedInIcon img {
    width: auto;
    height: auto;
    max-width:45px;
}
.THIS .core-popover {
    top: 61px;
    left: -6px;
    background-color: #F3F2F2;
}
.THIS .url-btn {
    line-height: 1.2rem;
    border-radius: 0;
    background-color: #006B3F;
    border-color: #006B3F;
    color: white;
    float: right;
    margin-top: -20px;
}
.THIS .more-btn svg {
    fill: #0070d2;
}
.THIS .popoverBodyGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
}
.THIS .rc-info {
    margin-top: 10px;
    background-color: white;
    padding: 5px;
}
.THIS .url-placeholder {
    position: absolute;
    left: -9999px;
}
.THIS #linkedInDiv {
    display: flex;
    align-items: center;
}
.THIS #linkedInDiv img {
    width: 16px;
    height: auto;
    margin-right: 7px;
}
.THIS .flexGrow {
    flex-grow: 1;
}
.THIS .edit-button {
    position: initial!important;    
}
.THIS .edit-button-location {
    position: initial!important;    
}
.THIS #tlp-header {
    background-color: white;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid lightgray;
}
.THIS #tlp-header-splitView {
    position: absolute;
    right:0;    
    z-index: -1;    
}
.THIS #tlp-header-otherView {
    position: fixed;
    left: 0;    
    z-index: 99;
}
.THIS #tlp-header-nt-name {
    align-items: center;
}
.THIS #tlp-header-nt-name h1 {
    font-size: 1.1rem;
    white-space: nowrap;
}
.THIS #tlp-title {
    font-size: 1rem;
}
.THIS #tlp-header-col1 {
    height: 100%;
}
.THIS #tlp-header-col2 > div {
    flex: 1 1 0%;
    min-width: 0;
    justify-content: center;
    max-width: 238px;
}
.THIS #tlp-header-col2 {
    flex-grow: 1;
}
.THIS #tlp-header-col3 {
    min-width: 99px;
}
.THIS #tlp-header-back {
    width: 28px;
    border-right: 1px solid lightgray;
    height: 100%;
}
.THIS #tlp-header-back svg {
    fill: #0070D2;
}
.THIS #tlp-header-icon {
    margin: 0 10px;
}
.THIS #tlp-header-nt-ti-title h3 {
    font-style: italic;
    margin: 0 3px;
    text-transform: capitalize;
}
.THIS #tlp-header-nt-ti svg {
    fill: #8DC63F;
}
.THIS #tlp-header-nt-ti-icons svg {
    fill: #C23934;
}
.THIS #tlp-header-status {
    margin: 0 10px;
}
.THIS .icon-gray svg {
    fill: #969DA8;
}
.THIS #tlp-header-phone {
    position: relative;
}
.THIS #tlp-header-phone-icon-dnc svg {
    fill: #C23934;
}

.THIS .tlp-locItem::after {
    content: ', ';
}
.THIS .tlp-locItem:last-of-type::after {
    content: '';
}
.THIS .dnc-wrapper {
    position: absolute;
    top: 1.2rem;
    align-items: center;
    color: #c23934;
}
.THIS .dnc-wrapper svg {
    fill: #c23934;
    margin-right: 0.2rem;
}
.THIS .dnc-wrapper span  {
    text-transform: uppercase;
    font-weight: 600;
}
.THIS .ok-wrapper {
    position: absolute;
    top: 1.2rem;
    align-items: center;
    color: #328965;
}
.THIS .ok-wrapper svg {
    fill: #328965;
    margin-right: 0.2rem;
}
.THIS .ok-wrapper span  {
    text-transform: uppercase;
    font-weight: 600;
}
.THIS .dnu-wrapper {
    margin-left: 0.2rem;
    align-items: center;
    color: #c23934;
    font-size: 0.7rem;
}
.THIS .dnu-wrapper svg {
    fill: #c23934;
    margin-right: 0.2rem;
}
.THIS .dnu-wrapper span  {
    text-transform: uppercase;
    font-weight: 600;

}
.THIS .color-red svg{
fill: #A9262E; 
}
.THIS .color-grey svg{
fill: #B7B6B4; 
}
.THIS .color-green svg{
fill: #29835E; 
}
.THIS .smsc:hover svg {fill: rgb(0, 68, 135) !important;cursor :pointer;}
.THIS .uiMenuList--default ul{
    max-height: 26rem;
}
.THIS .button-width {
    margin: 0px;
    white-space: nowrap;    
}

.THIS .drz-boards-serach-field{
    position: relative;
    border-radius: 5px;
    background-color: #f4ffff;
}