.THIS hr{
	margin: 1rem 1.5rem;
}

.THIS .desired-currency-table {
	width: 100%;
	table-layout: fixed;
}

.THIS .desired-currency-table th,
.THIS .desired-currency-table td{
	width: 12%;
	overflow: hidden;
}

.THIS label.slds-form-element__label{
	display: none;
}

.THIS .uiInput--input .input {
	min-height: 0;
}

.THIS ul.slds-wrap li{
	display: inline-block;
	margin: 0.25rem 0.5rem 0.25rem 0;
}

.THIS .slds-pill{
	margin: 0.25rem;
}

.THIS .truncate-badge{
	display: inline-block;
	max-width: 10rem;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

 .THIS .slds-modal__container{
    max-width: 70rem !important;
    width:90% !important;           
}
.THIS .slds-p-around_medium {
    padding: 0rem;
}
.THIS .slds-modal__content {
    overflow-y: hidden; 
    height: unset;
    max-height: unset;
}