.THIS {overflow-x: hidden; margin-bottom: 50px;}
/*.THIS .slds-table th {background-color: #fafaf9;color: #514f4d;padding: 0.25rem 0.5rem; vertical-align:middle;}*/
.THIS .slds-table tr {vertical-align: top;}

.THIS .slds-radio_faux {margin-right: 5px!important;}
.THIS .uiInput--radio input[type=radio] {    margin: 3px .5rem 0 0;}
.THIS .slds-badge {color: #fff; max-width: 350px; width: fit-content;}
.THIS .no-wrap{white-space: normal;}

.THIS hr{margin: 1rem 0;}
.THIS .reset-btn{padding: 0 0 0 .5rem; border-radius: 25%;}
.THIS .uiInput--default.has-error.uiInputDefaultError{padding-left: 1.3rem;}
.THIS .wrap-block{display: inline-block; margin-bottom: 0.25rem; margin-left: 0; margin-right: .5rem; margin-top: .25rem;}
.THIS tr:hover {background-color: rgb(244, 246, 249);}
.THIS a {color: inherit}
.THIS .not-equals td {color: #ff9a3c; font-weight: 600; }
.THIS .equals td {font-weight: 600; }
.THIS .equals svg {fill: gray;}
.THIS .not-equals svg {fill: #ff9a3c;}
.THIS tr { height: 44px; vertical-align: middle !important;}
.THIS table {border-top: none; border-bottom: none;}
.THIS .table-border {
    border: 1px solid lightgray;
    margin-bottom: 16px;
}
.THIS .contains-icon { position: relative;}

.THIS .icon {
    padding-right: 10px;
}
    
.THIS .slds-input { width: 35%;}
.THIS .master-pill {
    vertical-align: middle;
    margin: 0 5px;
    background-color: rgb(126, 211, 33);
    border: 1px solid rgb(126, 211, 33);
    color: white;
    font-size: 12px;
}
.THIS .master-pill:empty:before {
    content: 'MASTER';
    padding: 3px 5px;
    font-weight: 600;
}
.THIS .duplicate-pill {
    vertical-align: middle;
    margin: 0 5px;
    background-color: white;
    color: black;
    border: 1px solid black;
    font-size: 12px;
}
.THIS .duplicate-pill:empty:before {
    content: 'DUPLICATE';
    padding: 3px 5px;

}
.THIS .orange {color: #ff9a3c; font-weight: bold;}
.THIS .title-text {white-space: normal;}
.THIS .same-skill {color: black; font-weight: bold;}
.THIS .diff-skill {color: #ff9a3c; font-weight: bold;}
.THIS .skill::after {content: ',\00a0'; color: black;}
.THIS .skill:last-child::after {content: "";}
.THIS .skills-div {
    display: flex;
    flex-wrap: wrap;
}
.THIS .badge-div {height: 23px;}