.THIS .center-column {text-align: center;}
.THIS table {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}
.THIS thead th {background-color: inherit;}
.THIS .name-column button {padding: 0 8px 0 0;}
.THIS .name-column a { color: #1589ee;}

.THIS tbody tr {height: 40px;}
.THIS tbody tr:hover {background-color: rgb(244, 246, 249);}
.THIS .align-center {
    display: flex;
    align-items: center;
}

.THIS table a {padding: 0;}
.THIS .col1 {width: 35%;}
.THIS .col3 {width: 35%;}
.THIS .col2 {width: 15%; text-align: center;}
.THIS .col2 a {display: flex; justify-content: center;}
.THIS .col4 {width: 15%;}