.THIS .slds-textarea {
    height:400px !important;
}

.THIS .footer {
    margin: -16px;
    padding: 10px;
    border-top: 2px solid rgb(221, 219, 218);
    background-color: rgb(243, 242, 242);
}
.THIS .body {
    margin-bottom: 28px;
}