.job-posting-container {
    margin: 0 auto 4rem;
    width: 100%;
    max-width: 65rem;
    min-width: 20rem;
}

.section-accordion .slds-accordion__summary-heading span {
    font-size: 1rem;
    font-weight: 600;
}

.job-posting-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    width: 65rem;
    background-color: #F3F2F2;
    border: 1px solid #979797;
    border-top-left-radius: .33rem;
    border-top-right-radius: .33rem;
    margin-top: -0.75rem;
    position: fixed;
    z-index: 10;
}

.job-posting-header h1 {
    font-weight: 600;
    font-size: 1rem;
    color: #00396B;
}

.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-group p,
.button-group lightning-button {
   margin-left: 0.5rem;
}

.job-posting-body {
    padding-top: 3rem;
    background: #fff;
    border-top-left-radius: .33rem;
    border-top-right-radius: .33rem;
}

.accordion-header {
    background-color: #F3F2F2;
}

.accordion-content {
    background-color: #fff;
    margin: 0 -0.75rem -1rem;
    padding: 0.75rem 1.5rem 1.5rem;
}

.accordion-content p {
    padding-left: 1rem;
    margin: 0.5rem 0;
}

.job-posting-footer {
    display: flex;
    justify-content: flex-end;
    background: #fff;
    border-bottom-left-radius: .33rem;
    border-bottom-right-radius: .33rem;
    padding: 0.5rem 1.5rem 1.5rem;
}

.slds-rich-text-editor__output ul {
    margin-left: 1.5rem;
}

.sub-section {
     margin-top: 0.75rem;
}
.sub-section p {
    padding-left: 0;
}