<template>
    <article class="job-posting-container">

        <header class="job-posting-header">
            <h1>{label.ATS_PREVIEW_POSTING}</h1>
            <div class="button-group">
                <lightning-button label={label.ATS_BACK} onclick={navBack} variant="neutral"></lightning-button>
                <template if:true={isBSD}>
                    <lightning-button label={label.ATS_NEXT} onclick={processEMEAPosting} variant="brand" disabled={buttonDisabled}>
                    </lightning-button>
                </template>
                <template if:false={isBSD}>
                    <lightning-button label={label.ATS_CREATE_POSTING} onclick={createPosting} variant="brand" disabled={buttonDisabled}>
                    </lightning-button>
                </template>
            </div>
        </header>
        <section class="job-posting-body">
          
            <div class="slds-accordion">
                <div class="accordion-header">

                    <section class="slds-accordion__section slds-is-open">
                        <div class="slds-accordion__summary">
                            <h3 class="slds-accordion__summary-heading">{label.ATS_POSTING_BASICS}</h3>
                        </div>
                        <div class="accordion-content">
                            <div class="slds-grid slds-gutters">
                                <div class="slds-col slds-size_1-of-2">
                                    <label class="slds-form-element__label slds-no-flex">
                                        {label.ATS_JOB_TITLE}
                                    </label>
                                    <p>{prevData.Job_Title__c}</p>
                                    
                                </div>
                                <div class="slds-col slds-size_1-of-2">
                                    <label class="slds-form-element__label slds-no-flex">
                                       {label.ATS_ALLEGIS_EMPLOY_TYPE}
                                    </label>
                                    <p>{prevData.Allegis_Employment_Type__c}</p>
                                    
                                </div>
                            </div>
                            <template if:true={isEMEA}>
                                 <div class="slds-grid slds-gutters">
                                     <div class="slds-col slds-size_1-of-2">
                                        <label class="slds-form-element__label slds-no-flex">
                                            {label.ATS_ALLEGIS_CATEGORY}
                                        </label>
                                        <p>{prevData.Job_Category__c}</p>
                                   
                                    </div>
                                     <div class="slds-col slds-size_1-of-2">
                                        <label class="slds-form-element__label slds-no-flex">
                                            {label.ATS_ALLEGIS_SUBCATEGORY}
                                        </label>
                                        <p>{prevData.Job_Subcategory__c}</p>
                                   
                                    </div>
                                 </div>
                                 <div class="slds-grid slds-gutters">
                                    <div class="slds-col slds-size_1-of-2">
                                        <label class="slds-form-element__label slds-no-flex">
                                            {label.ATS_INDUSTRY_SECTOR}
                                        </label>
                                        <p>{prevData.Industry_Sector__c}</p>
                                   
                                    </div>
                                    <div class="slds-col slds-size_1-of-2">
                                        <label class="slds-form-element__label slds-no-flex">
                                           {label.ATS_LOCATION}
                                        </label>
                                        <p>{getLocation}</p>
                                    </div>
                                 </div>
                            </template>
                            <template if:false={isEMEA}>
                                <div class="slds-grid slds-gutters">
                                    <div class="slds-col slds-size_1-of-2">
                                        <label class="slds-form-element__label slds-no-flex">
                                            {label.ATS_INDUSTRY_SECTOR}
                                        </label>
                                        <p>{prevData.Industry_Sector__c}</p>
                                   
                                    </div>
                                    <div class="slds-col slds-size_1-of-2">
                                        <label class="slds-form-element__label slds-no-flex">
                                            {label.ATS_ALLEGIS_CATEGORY}
                                        </label>
                                        <p>{prevData.Job_Category__c}</p>
                                   
                                    </div>
                                </div>
                                <div class="slds-grid slds-gutters">
                                    <div class="slds-col slds-size_1-of-2">
                                        <label class="slds-form-element__label slds-no-flex">
                                           {label.ATS_LOCATION}
                                        </label>
                                        <p>{getLocation}</p>
                                    </div>
                                    <template if:true={isRoadtechs}>
                                        <div class="slds-col slds-size_1-of-2">
                                            <label class="slds-form-element__label slds-no-flex">
                                                Roadtechs Board Name
                                            </label>
                                            <p>{roadtechLabel}</p>                                   
                                        </div>
                                    </template>
                                    <template if:true={isJSFirm}>
                                        <div class="slds-col slds-size_1-of-2">
                                            <label class="slds-form-element__label slds-no-flex">
                                                JSfirm Position
                                            </label>
                                            <p>{prevData.JSFirm_Position__c}</p>                                   
                                        </div>
                                    </template>
                                </div>
                            </template>
                            
                        </div>
                    </section>

                </div>
                <div class="accordion-header">
                    <section class="slds-accordion__section slds-is-open">
                        <div class="slds-accordion__summary">
                            <h3 class="slds-accordion__summary-heading">{label.ATS_SALARY_AND_BENEFIT_INFO}</h3>
                        </div>
                        <div class="accordion-content">
                             <template if:true={isEMEA}>
                                <label class="slds-form-element__label slds-no-flex">
                                    Hide Rate
                                </label>
                                <p>{getPayRateToggleText}</p>
                            </template> 
                           
                            <div class="slds-grid slds-gutters">
                                <div class="slds-col slds-size_1-of-4">
                                    <label class="slds-form-element__label slds-no-flex">
                                        {label.ATS_PAY_RATE_MIN}
                                    </label>
                                    <p>{getpayRateMin}</p>
                            
                            
                                </div>
                                <div class="slds-col slds-size_1-of-4">
                                    <label class="slds-form-element__label slds-no-flex">
                                        {label.ATS_PAY_RATE_MAX}
                                    </label>
                                    <p>{getpayRateMax}</p>
                            
                                </div>
                                <div class="slds-col slds-size_1-of-4">
                                    <label class="slds-form-element__label slds-no-flex">
                                        {label.ATS_CURRENCY}
                                    </label>
                                    <p>{prevData.Currency__c}</p>
                            
                                </div>
                                <div class="slds-col slds-size_1-of-4">
                                    <label class="slds-form-element__label slds-no-flex">
                                        {label.ATS_FREQUENCY}
                                    </label>
                                    <p>{getFreq}</p>
                            
                                </div>
                            </div>
                           
                            <div>
                                <label class="slds-form-element__label slds-no-flex">
                                    {label.ATS_ADDITIONAL_BENEFITS}
                                </label>
                                <p>{getAddlBenefits}</p>
                               
                            </div>
                        </div>
                    </section>
                  
                </div>
                <div class="accordion-header">
                    <section class="slds-accordion__section slds-is-open">
                        <div class="slds-accordion__summary">
                            <h3 class="slds-accordion__summary-heading">{label.ATS_ADDITIONAL_INFORMATION}</h3>
                        </div>
                        <div class="accordion-content">
                            <div>
                                <label for="jobDesc" class="slds-form-element__label">
                                    {label.ATS_DETAILED_JOB_DESC}
                                </label>
                               
                                <div class="container slds-rich-text-editor__output" lwc:dom="manual">
                                    <!-- Job Description Renders Here -->
                                </div>
                            </div>

                        </div>
                    </section>
                 
                </div>

                <div class="accordion-header">
                    <section class="slds-accordion__section slds-is-open">
                        <div class="slds-accordion__summary">
                            <h3 class="slds-accordion__summary-heading">{label.ATS_CONTACT_INFORMATION}</h3>
                        </div>
                        <div class="accordion-content">
                            <div class="slds-grid slds-gutters">
                                <div class="slds-col slds-size_1-of-2">
                                    <label class="slds-form-element__label slds-no-flex">
                                       {label.ATS_CONTACT_NAME}
                                    </label>
                                    <p>{getContactName}</p>
                            
                            
                                </div>
                                <div class="slds-col slds-size_1-of-2">
                                    <label class="slds-form-element__label slds-no-flex">
                                        {label.ATS_CONTACT_EMAIL}
                                    </label>
                                    <p>{getContactEmail}</p>
                            
                                </div>
                            </div>
                            <div class="slds-grid slds-gutters">
                                <div class="slds-col">
                                    <label class="slds-form-element__label slds-no-flex">
                                        {label.ATS_CONTACT_PHONE}
                                    </label>
                                    <p>{getContactPhone}</p>
                                </div>
                            </div>
                        </div>
                    </section>
                
                </div>
               
            </div>
        </section>
        <footer class="job-posting-footer">
            <div class="button-group">
                <lightning-button label={label.ATS_BACK} onclick={navBack} variant="neutral"></lightning-button>
                <template if:true={isBSD}>
                    <lightning-button label={label.ATS_NEXT} onclick={processEMEAPosting} variant="brand" disabled={buttonDisabled}>
                    </lightning-button>
                </template>
                <template if:false={isBSD}>
                    <lightning-button label={label.ATS_CREATE_POSTING} onclick={createPosting} variant="brand" disabled={buttonDisabled}>
                    </lightning-button>
                </template>                
                
            </div>
        </footer>
    </article>
</template>