<template>
    <section class="insight-popover-container">
        <template if:true={isConfigReady}>
            <ul>
                <template for:each={processInsights} for:item="item">
                    <li id={item.id} class="slds-grid"
                        data-item={item.id} key={item.id}>
                        <div class="slds-col">
                            <template if:true={item.interestList}>
                                <template if:true={item.showCheckIcon}>
                                    <lightning-icon icon-name="utility:check" alternative-text="true" size="xx-small"
                                        variant="success"></lightning-icon>
                                </template>
                                <!-- <template if:false={item.showCheckIcon}>
                                <div class="slds-icon_xx-small"></div>
                            </template> -->
                            </template>

                            <template if:false={item.interestList}>
                                <lightning-icon icon-name={item.iconName} alternative-text={item.iconText}
                                    size="xx-small" variant={item.variant}></lightning-icon>
                            </template>

                        </div>
                        <div class="slds-col slds-var-p-left_xx-small">
                            <p>{item.signal}</p>
                        </div>
                        <div class="slds-col slds-var-p-left_xx-small">
                            <template if:true={item.value}>

                                <p>(<lightning-formatted-date-time value={item.value} year="numeric" month="short"
                                        day="2-digit" time-zone="UTC">
                                    </lightning-formatted-date-time>)</p>

                            </template>
                        </div>
                    </li>
                </template>
            </ul>
            <template if:true={showEmptyState}>
                <p>{emptyStateMessage}</p>
            </template>
        </template>

    </section>
</template>