<div class="summaryProfile clearfix">
    <span class="slds-text-heading--large slds-m-bottom--large">Summary</span>
    <br/><br/>
    <div class="clientGroupDetail viewmodeonly clearfix">
        <div class="clientGroupIcon">
            <svg class="slds-icon slds-icon--blue" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/LightningDesignSystem/assets/icons/utility-sprite/svg/symbols.svg#groups"></use></svg>
        </div>
        <span class="slds-text-heading--medium">{practice.VALUEONLY}</span>
        <div class="rate">{portables.VALUEONLY}</div>
        <span class="value">&nbsp; Book of Business |&nbsp;</span>
        <div class="rate">{currentcompensation.VALUEONLY} </div>
        <span class="value">&nbsp;Per Year |&nbsp;</span>
        <span style="display:block;  float: left; width: 180px"><svg class="slds-icon slds-icon--grey" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/LightningDesignSystem/assets/icons/utility-sprite/svg/symbols.svg#checkin">&nbsp;</use></svg>
        {willingtorelocate.VALUEONLY}</span>
    </div>
    <div class="editmodeonly">
        <div class="clientGroupIcon">
            <svg class="slds-icon slds-icon--blue" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/LightningDesignSystem/assets/icons/utility-sprite/svg/symbols.svg#groups"></use></svg>
        </div>
        <div class="preference__field-practice">{practice}</div>
        <div class="rate">{portables}</div>
        <span class="value">&nbsp; |&nbsp;</span>
        <div class="rate">{currentcompensation} </div>
        <span class="value">&nbsp;Per Year |&nbsp;</span>
        <span style="display:block;  float: left; width: 180px"><svg class="slds-icon slds-icon--grey" aria-hidden="true"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/resource/LightningDesignSystem/assets/icons/utility-sprite/svg/symbols.svg#checkin">&nbsp;</use></svg>
        <span class="checkbox">{willingtorelocate}</span></span>
    </div>
</div>

<div class="slds-col--padded slds-align-middle slds-size--1-of-1 formFieldCont">{goalsandinterest}</div>

<div class="form-field-group">
    <div class="slds-col--padded slds-size--1-of-1 formFieldCont">
         <div class="label">Book of Business &amp; Compensation</div>
    </div>
    <div class="slds-grid slds-wrap label-value-field--spacing">

        <div class="slds-col--padded slds-size--1-of-2">
             <div class="label">Compensation</div>
             <div class="rate">{desiredsalarymin.VALUEONLY}<div class="static-content">&nbsp;per&nbsp;</div><div class="static-content">{desiredsalaryunit.VALUEONLY}</div></div>
             <div class="rate">{bonus}</div>
             <div class="rate">{bonuspercentage}</div>
        </div>
        <div class="slds-col--padded slds-size--1-of-2">
             <div class="rate">{billingratemax}<div class="static-content">&nbsp;per hour</div></div>
             <div class="rate">{billingratemin}<div class="static-content">&nbsp;per hour</div></div>
             <div class="rate">{additionalcompensation}</div>
        </div>
    </div>
</div>

<div class="form-field-group">
    <div class="slds-grid slds-wrap">
        <div class="slds-col--padded slds-size--1-of-3 formFieldCont">{firmstoconsider}</div>
        <div class="slds-col--padded slds-size--1-of-3 formFieldCont">{firmsnottoconsider}</div>
        <div class="slds-col--padded slds-size--1-of-3 formFieldCont">{firmsalreadyapproached}</div>
    </div>

<div class="form-field-group">
    <div class="slds-grid slds-wrap">
        <div class="slds-col--padded slds-size--1-of-2 formFieldCont">{clients}</div>
        <div class="slds-col--padded slds-size--1-of-2 formFieldCont">{group}</div>
    </div>
</div>

<div class="form-field-group">
    <div class="slds-col--padded slds-size--1-of-1 formFieldCont">
        <div class="label">Preferences</div>
    </div>
    <div class="slds-grid slds-wrap label-value-field--spacing">
        <div class="slds-col--padded slds-size--1-of-2">
            <div class="">{desiredjoblocation}</div>
            <div class="">{desiredplacementtype}</div>
            <div class="">{partofgroup}</div>
        </div>
        <div class="slds-col--padded slds-size--1-of-2">
            <div class="">{position}</div>
            <div class="">{desiredjobtitle}</div>
            <div class="">{desiredschedule}</div>
            <div class="preference__field-practice-group">{practicegroup}</div>
        </div>
    </div>
</div>

<div class="form-field-group">
    <div class="slds-col--padded slds-size--1-of-1 formFieldCont  ">
         <div class="label">Personal Information</div>
    </div>
    <div class="slds-grid slds-wrap label-value-field--spacing">
        <div class="slds-col--padded slds-size--1-of-2">
            <div class="">{race}</div>
            <div class="">{gender}</div>
        </div>
        <div class="slds-col--padded slds-size--1-of-2">
        </div>
    </div>
</div>
