.THIS.Client {
    height: 24px;
	margin-top: -10px;
    margin-bottom: -12px;
}
.THIS.Talent {
    height: 24px;
    margin-top: -10px;
    margin-bottom: -12px;
}
.THIS .Error.Client {
    top: -9px;
}
.THIS .Warning.Client {
    top: -9px;
}
.THIS h3 {
    margin-left: 15px;
}
.THIS .msg-icon {
    margin-left:15px;
}
.THIS .msg-icon svg {
    fill: white;
}
.THIS.Warning {
    background-color:#ff9a3c;
    color:white;
    position: relative;
    left: -12px;
    width: calc(100% + 1.5rem);
    font-weight: 600;
}
.THIS.Success {
    height:1px;

}
.THIS h3 {
    margin-left: 5px;
}
.THIS.Error {
    background-color:#c23934;
    color:white;
    position: relative;
    left: -12px;
    width: calc(100% + 1.5rem);
    font-weight: 600;
    overflow:hidden;
}
.THIS .send-consent-button{
	border-radius: 1rem;
    line-height: 0;
}
.THIS.confirmationdailog .slds-modal__container{
    max-width: 40rem;
}