<template>
    <template if:true={isModalOpen}>        
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container container-width">                
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Share Req</h2>
                </header>    

                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <div>
                        <p>Message for User(s)</p>
                        <div data-id="message-users">
                            <!--<lightning-input class="slds-p-bottom_x-medium"
                            name="message"                                
                            type="message"
                            placeholder="Message for User(s)"
                            variant="label-hidden"                            
                            autocomplete="off"
                            value={messagetouser}
                        ></lightning-input>-->
                           <!-- <lightning-input value={messagetouser} placeholder="compose your tweet IN Development Story- Ignore" onchange={messagetouserchange}></lightning-input>-->
                            <lightning-textarea name="userinput" value={messagetouser} placeholder="Compose your message here..."  onchange={messagetouserchange} ></lightning-textarea>
                        </div>
                    </div>
                    <div>
                        <p>Recent Contacts</p>
                        <div data-id="past-contacts">
                            <lightning-datatable
                                    key-field="id"
                                    data={pastContactsData}
                                    onrowselection={getSelectedRecords}
                                    columns={columns}
                                    max-row-selection="10">
                            </lightning-datatable>
                            <template if:false={hasPastContacts}>
                                <p class="empty-table">The users you have shared reqs with most recently will show here</p>
                            </template>
                        </div>
                    </div>
                    <div>
                        <p class="slds-p-top_medium slds-p-bottom_xx-small">Find a User</p>                        
                        <lightning-input class="slds-p-bottom_x-small"
                            name="enter-search"                                
                            type="search"
                            placeholder="Search for a user"
                            variant="label-hidden"
                            onchange={handleKeyChange}
                            autocomplete="off"
                        ></lightning-input>                        
                        <div data-id="search-table">
                            <lightning-datatable
                                key-field="id"
                                data={findContactsData}
                                columns={columns}
                                onrowselection={handleRowSelection}
                                max-row-selection="1"                                
                                enable-infinite-loading={isLoaded}
                                onloadmore={onLoadMoreHandler}
                                sorted-by={sortBy}
                                sorted-direction={sortDirection}
                                onsort={handleSortdata}>
                            </lightning-datatable>
                            <template if:false={foundNoContactsOnSearch}>
                                <p class="empty-table empty-search-list">Search for a user to populate results</p>
                            </template>
                        </div>
                    </div>
                </div>
                
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
                    <!--<button class="slds-button slds-button_brand" onclick={shareReqs} title="OK">Share Req</button>-->
                    <button class="slds-button slds-button_brand" onclick={shareReqs} title="Share">Share Req</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>