.THIS .slds-modal__content label.form-element__label:first-child{display: block;}
.THIS .container_edu-cert{min-height: 280px;}
.THIS .slds-media .slds-col > .slds-button, .THIS .slds-button.expandButton {outline: 0!important;box-shadow: none!important; line-height: 0}