<template>
    <template if:false={showEmptyState}>
            <div class="submittals-container slds-is-relative">
                    <div data-class={submittalsView} class="submittals">
                        <c-lwc-card>
                            <div slot="title" if:false={isApplicationTab}>{Labels.ATS_SUBMITTALS}</div>
                            <div slot="title" if:true={isApplicationTab}>{Labels.ATS_Applications}</div>
                            <div slot="actions">
                                    <button class="slds-button slds-button_neutral" onclick={getSelected}>{Labels.ATS_MASS_STATUS_UPDATE}</button>
                                <!-- <c-lwc-json-to-csv formated-data={exportData}>  </c-lwc-json-to-csv> -->
                            </div>
                            <c-lwc-data-table table-columns={cols} table-data={tableData} show-spinner={showSpinner} 
                                selection="multi"
                                rows-per-page={rowsPerPage}
                                onedit={handleEdit}
                                pagination="true"
                                actions={actions}
                                onrowaction={handleAction}
                                >
                                
                            </c-lwc-data-table>           
                        </c-lwc-card>
                    </div>
            
                    <div data-class={submittalDetailsView} class="submittal-details">
                        <template if:true={showingDetails}>
                            <c-lwc-submittal-details 
                                status={submittalDetailStatus} 
                                startdate={submittalDetailStartDate}                      
                                oncancel={hideSubmittalDetails} 
                                submittal={submittalDetail}
                                comments={submittalDetailComments}
                                onedit={handleEdit}
                                oninterviewupdate={handleDetailInterviewUpdates}
                                tab={currentTab}
                                rows-per-page={historyRowsPerPage}                
                                running-user={runningUser}                
                                >
                            </c-lwc-submittal-details>
                        </template>
                        <template if:true={showingProactiveDetails}>
                            <c-proactive-submittal-form
                                con-id={proactiveSubmittal.conId}
                                talent-id={proactiveSubmittal.talentId}
                                running-user={proactiveSubmittal.runningUser}
                                record-type="Order"
                                use-events-save-cancel="true"
                                oncancel={toggleDetailsView}
                                onsave={handleProactiveSubmittalChange}                                
                            >                                
                            </c-proactive-submittal-form>
                        </template>
                    </div>        
                </div>
    </template>
    <template if:true={showEmptyState}>
        <div if:true={isApplicationTab}>
        <c-lwc-empty-state-image
            header-text={Labels.ATS_NO_APPLICATIONS_FOUND}
            img="Start"
        ></c-lwc-empty-state-image>
            
        </div>

        <div if:false={isApplicationTab}>
            
        <c-lwc-empty-state-image
            header-text={Labels.ATS_NO_SUBMITTALS_FOUND}
            img="Start"
        ></c-lwc-empty-state-image>
        </div>
   </template>
    
</template>