<template>
    <div class="pill-wrap slds-p-around_xx-small slds-m-horizontal_xx-small slds-m-top_xx-small">
        {pillLabel}
        <div if:true={showCloseButton} class="slds-m-left_xx-small pill-close">
        <!--   <lightning-button-icon icon-name="utility:close"  size="x-small"  alternative-text="close" class="slds-m-left_xx-small" onclick={handlePillClose}></lightning-button-icon> --> 
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="close" class="closecls" onclick={handlePillClose}>
                <path d="M14.3 11.7l6-6c.3-.3.3-.7 0-1l-.9-1c-.3-.2-.7-.2-1 0l-6 6.1c-.2.2-.5.2-.7 0l-6-6.1c-.3-.3-.7-.3-1 0l-1 1c-.2.2-.2.7 0 .9l6.1 6.1c.2.2.2.4 0 .6l-6.1 6.1c-.3.3-.3.7 0 1l1 1c.2.2.7.2.9 0l6.1-6.1c.2-.2.4-.2.6 0l6.1 6.1c.2.2.7.2.9 0l1-1c.3-.3.3-.7 0-1l-6-6c-.2-.2-.2-.5 0-.7z">
            </path>
        </svg>
        </div>
    </div>
</template>