.pill-wrap{
    display: inline-block;
    font-size: 13px;
    background:rgb(164, 215, 244);
    border-radius: 4px;
    
    
}
.pill-close{
    display: inline-block;
}
.closecls{
    height: 12px;;
}