.lookup {
    position: relative;
}
.slds-dropdown {
    text-transform: capitalize;
}
[data-state="hide"] {
    display: none;
}
slot[name="icon"] {
    position: absolute;    
    height: 1rem;
    width: 1rem;
    top: 2rem;
    right: .5rem;
    fill: #706e6b;       
    display: flex;
    align-items: center;
    overflow: hidden;
}
/* input {
    padding: 0 1.5rem;
} */
/* input[data-class="icon"] {
    padding-left: 2rem;
} */
/* svg.search-icon {
    position: absolute;
    width: 1rem;
    top: .5rem;
    right: .5rem;
    fill: #706e6b;
} */