<template>
    <div class="lookup">
             
        <lightning-input 
            label={inputLabel}
            type="text" 
            value={value} 
            onchange={handleChange} 
            onkeydown={handleKeyDown} 
            placeholder={placeholder}
            autocomplete="off" 
            variant={inputVariant}
            required={required}
            field-level-help={tooltipText}
        ></lightning-input>
        <slot name="icon" style={labelOffset}>
            
        </slot>
        
        <div data-state={listState} class="slds-dropdown slds-dropdown_length-with-icon-7 slds-dropdown_fluid" role="listbox">
            <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                <template for:each={displayList} for:item="item">
                    <li key={item} tabindex="-1" data-value={item} onclick={handleListClick} onkeydown={handleListItemKeys} role="presentation" class="slds-listbox__item">
                        <div class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
                            <span class="slds-media__body">
                                <span class="slds-listbox__option-text slds-listbox__option-text_entity">
                                    <span>{item}</span>
                                </span>
                            </span>
                        </div>
                    </li> 
                </template>
                
            </ul>
        </div> 

    </div>
</template>