/*
** eiannucci 07/12/2021
The ZI below needs to be exactly 97
This will cover all but Salesforce search/top Nav
*/

.THIS.slds-backdrop {
    z-index: 97 !important;
}


/*
The Z Index below needs to be exactly 98
this covers .slds-backdrop
but does not scroll over salesforce search bar/top nav
*/

.THIS .slds-modal {
    position: absolute;
    top: 0;
    max-width: 100%;
    z-index: 98;
}

.THIS .slds-modal__container {
    max-width: 75%;
    width: inherit;
    height: auto;
    margin: 0 auto;
}