// Grayscale
@black-0:                  #fff;
@black-10:                 #edefef;
@black-20:                 darken(#fff, 20%); // #ccc
@black-30:                 darken(#fff, 30%); // #b3b3b3
@black-40:                 darken(#fff, 40%); // #999
@black-50:                 darken(#fff, 50%); // #808080
@black-60:                 darken(#fff, 60%); // #666
@black-70:                 darken(#fff, 70%); // #4d4d4d
@black-80:                 darken(#fff, 80%); // #333
@black-90:                 darken(#fff, 90%); // #191919
@black-100:                darken(#fff, 100%); // #000

// Brand colors
@brand-primary:           #006B3F; //#03a9f4;
@brand-secondary:         #C2A10D;
@brand-tertiary:          #C2A10D; //#C8AC51;
@brand-quaternary:        #013d73;
@brand-slate:             #4D4F53;
@brand-footer:            #333333;
@brand-sticky-footer:      #C8AC51;
@sidebar-background:      #4D4F53;
@sidebar-hover:           darken(@sidebar-background, 20%);
@sidebar-text:            #E2E4E3;
@sidebar-text-active:     @black-0;

@header-bg-light:         #09253e;
@header-bg-dark:          #021a33;

@brand-success:           @brand-secondary;
@brand-warning:           @brand-tertiary;
@brand-danger:            #d9534f;
@brand-info:              #CDE8F7;

// Scaffolding
@body-background:         @black-10;
@text-color:              #010101; // this is also set on the Skuid theme

// Links
@link-color:              @brand-primary;
@link-color-hover:        darken(@link-color, 5%); // #0083CE
@linkedin-color-hover:    darken(#0077B5; 5%);
@link-color-hover-background: #E2E4E3 !important;

// Borders
@border-color:            @body-background;

// Button colors
@btn-background-color:    @brand-primary;
@btn-border-color:        2px solid @brand-primary;
@btn-font-color:          #FFF;
@btn-font-size:           14px;
@btn-border-radius:       0px;
@btn-height:              41px;
@btn-font-weight:         inherit;
@btn-padding:             10px 20px;
@btn-border:              2px solid @brand-primary;
@btn-box-shadow:          inherit;
@btn-text-transform:      uppercase;
@btn-background-color-hover:  @link-color-hover;
@btn-font-color-hover:        #FFF;
@btn-border-hover:            2px solid @link-color-hover;
@btn-background-color-active: @link-color-hover;
@btn-font-color-active:       #FFF;
@btn-border-active:           2px solid @link-color-hover;
@btn-line-spacing:			3px;
@btn-line-height:			1;
//ghost button
@btn-ghost-font-color:        @brand-primary;
@btn-ghost-border:            2px solid @brand-primary;
@btn-ghost-background-hover:  @brand-primary;
@btn-ghost-font-color-hover:  #FFF;
@btn-ghost-border-hover:      2px solid @brand-primary;
@btn-ghost-background-active: @brand-primary;
@btn-ghost-border-active:     2px solid @brand-primary;
@btn-ghost-font-color-active: #FFF;

// Forms
@input-border:            @border-color;
@input-border-focus:      @brand-primary;
@input-bg:                @black-0;
@input-bg-disabled:       @black-20;
@input-search-focus:      #FAFAD2;

@state-success-text:      @brand-success;
@state-success-bg:        darken(@brand-success, 30%);

@state-warning-text:      @brand-warning;
@state-warning-bg:        darken(@brand-warning, 30%);

@state-danger-text:      @brand-danger;
@state-danger-bg:        darken(@brand-danger, 30%);

// image paths
@imagePath:                 '../../images';
@imagePathOpco:             '../../images/astoncarter';

// Typography
@font-family-sans-serif:  'Verlag A', 'Verlag B', Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-family-serif:       'Verlag A', 'Verlag B', Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-family-monospace:   'Verlag A', 'Verlag B', Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-family-header:      'Verlag A', 'Verlag B', Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-family-base:        @font-family-sans-serif;

// Selection Colors
@selection-color: #000;
@selection-background: #B4D5FE;