// Grayscale
@black-0:                  #fff;
@black-10:                 #edefef;
@black-20:                 darken(#fff, 20%); // #ccc
@black-30:                 darken(#fff, 30%); // #b3b3b3
@black-40:                 darken(#fff, 40%); // #999
@black-50:                 darken(#fff, 50%); // #808080
@black-60:                 darken(#fff, 60%); // #666
@black-70:                 darken(#fff, 70%); // #4d4d4d
@black-80:                 darken(#fff, 80%); // #333
@black-90:                 darken(#fff, 90%); // #191919
@black-100:                darken(#fff, 100%); // #000

// Brand colors
@brand-primary:			  #8DC63F;
@brand-secondary:         #8DC63F;
@brand-tertiary:          #021A32;
@brand-quaternary:        #013d73;
@brand-slate:             #021A32;
@brand-footer:            #333333;
@brand-sticky-footer:     #03a9f4;
@sidebar-background:      #021a32;
@sidebar-hover:           darken(@sidebar-background, 20%);
@sidebar-text:            lighten(@sidebar-background, 80%);
@sidebar-text-active:     @black-0;

@header-bg-light:         #09253e;
@header-bg-dark:          #021a33;

@brand-success:           @brand-secondary;
@brand-warning:           @brand-tertiary;
@brand-danger:            #d9534f;
@brand-info:              #CDE8F7;

// Scaffolding
@body-background:         @black-10;
@text-color:              #010101; // this is also set on the Skuid theme

// Links
@link-color:              @brand-primary;
@link-color-hover:        darken(@link-color, 10%); // #0083CE
@link-color-hover-background:   #e3f1f8;
@linkedin-color-hover:    darken(#0077B5; 5%);
@input-search-focus:      #FAFAD2;

// Borders
@border-color:            @body-background;

// Button colors
@btn-background-color:        @brand-primary;
@btn-border-color:            2px solid @brand-primary;
@btn-font-color:              @brand-tertiary;
@btn-font-size:               16px;
@btn-border-radius:           6px;
@btn-height:                  41px;
@btn-font-weight:             800;
@btn-padding:                 10px 20px;
@btn-border:                  2px solid @brand-primary;
@btn-box-shadow:              inherit;
@btn-text-transform:          inherit;
@btn-background-color-hover:  @brand-primary;
@btn-font-color-hover:        @brand-tertiary;
@btn-border-hover:            2px solid @brand-tertiary;
@btn-background-color-active: @brand-tertiary;
@btn-font-color-active:       #FFF;
@btn-border-active:           2px solid @brand-tertiary;
//ghost button
@btn-ghost-font-color:        @brand-quaternary;
@btn-ghost-border:            2px solid @brand-quaternary;
@btn-ghost-background-hover:  #FFF;
@btn-ghost-font-color-hover:  @brand-tertiary;
@btn-ghost-border-hover:      2px solid @brand-tertiary;
@btn-ghost-background-active: @brand-tertiary;
@btn-ghost-border-active:     2px solid @brand-tertiary;
@btn-ghost-font-color-active: #FFF;

// Forms
@input-border:            @border-color;
@input-border-focus:      @brand-primary;
@input-bg:                @black-0;
@input-bg-disabled:       @black-20;

@state-success-text:      @brand-success;
@state-success-bg:        darken(@brand-success, 30%);

@state-warning-text:      @brand-warning;
@state-warning-bg:        darken(@brand-warning, 30%);

@state-danger-text:      @brand-danger;
@state-danger-bg:        darken(@brand-danger, 30%);

// image paths
@imagePath:                 '../../images';
@imagePathOpco:             '../../images/teksystems';

// font path
@fontPath:              '../../fonts/muller';

// Typography
@font-face {
    font-family: 'muller-bold';
    src: url('/teksystemscom/s/sfsites/c/resource/1528894098000/tc_tek_fonts/muller/muller-bold.woff') format('woff');
}
@font-face {
    font-family: 'muller-extrabold';
    src: url('/teksystemscom/s/sfsites/c/resource/1528894098000/tc_tek_fonts/muller/muller-extrabold.woff') format('woff');
}
@font-face {
    font-family: 'muller-light_italic';
    src: url('/teksystemscom/s/sfsites/c/resource/1528894098000/tc_tek_fonts/muller/muller-light_italic.woff') format('woff');
}
@font-face {
    font-family: 'muller-light';
    src: url('/teksystemscom/s/sfsites/c/resource/1528894098000/tc_tek_fonts/muller/muller-light.woff') format('woff');
}
@font-face {
    font-family: 'muller-regular_italic';
    src: url('/teksystemscom/s/sfsites/c/resource/1528894098000/tc_tek_fonts/muller/muller-regular_italic.woff') format('woff');
}
@font-face {
    font-family: 'muller-regular';
    src: url('/teksystemscom/s/sfsites/c/resource/1528894098000/tc_tek_fonts/muller/muller-regular.woff') format('woff');
}
@font-face {
    font-family: 'klinic-medium';
    src: url('/teksystemscom/s/sfsites/c/resource/1528894098000/tc_tek_fonts/tc_tek_fonts/klinic/klinicslab-medium.woff') format('woff');
}
@font-face {
    font-family: 'klinic-medium_italic';
    src: url('/teksystemscom/s/sfsites/c/resource/1528894098000/tc_tek_fonts/klinic/klinicslab-medium_italic.woff') format('woff');
}
@font-face {
    font-family: 'klinic-book';
    src: url('/teksystemscom/s/sfsites/c/resource/1528894098000/tc_tek_fonts/klinic/klinicslab-book.woff') format('woff');
}
@font-face {
    font-family: 'klinic-book_italic';
    src: url('/teksystemscom/s/sfsites/c/resource/1528894098000/tc_tek_fonts/klinic/klinicslab-book_italic.woff') format('woff');
}
@font-face {
    font-family: 'klinic-bold';
    src: url('/teksystemscom/s/sfsites/c/resource/1528894098000/tc_tek_fonts/klinic/klinicslab-bold.woff') format('woff');
}
@font-face {
    font-family: 'klinic-bold_italic';
    src: url('/teksystemscom/s/sfsites/c/resource/1528894098000/tc_tek_fonts/klinic/klinicslab-bold_italic.woff') format('woff');
}


@font-family-sans-serif:  "muller-regular",sans-serif;
@font-family-serif:       "muller-regular",sans-serif;
@font-family-monospace:   "muller-regular",sans-serif;
@font-family-header:      "muller-regular",sans-serif;
@font-family-base:        "muller-regular",sans-serif;

// Selection Colors
@selection-color: #000;
@selection-background: #B4D5FE;