.THIS .slds-modal__content {
    overflow: hidden;
    overflow-y: auto;
    min-height: 69vh;
    padding-bottom: 0;
}
.THIS .icon_blue .slds-icon {
    fill:rgb(0, 109, 204);
}
.THIS .left-column {min-height: 50vh;}
.THIS .slds-modal__container {min-width: 95%; top: 0!important}
.THIS .req-search_container {
    position: sticky;
    bottom: 0;
    width: 100%;
    background: white;
    z-index: 0;
    padding-bottom: 10px
}
.THIS .req-search_container header {
   /* width: calc(100% - 3rem);
    margin-left: 1rem;*/
    border: 0;
    box-shadow: none;
    position:relative;
}
.THIS .slds-modal__footer span {display:inline-block; vertical-align: top}
.THIS .slds-modal__footer button {margin-left: .5rem;}
.THIS .slds-modal__footer input {margin-left: .5rem; margin-right: 4.5rem;}
.THIS .slds-modal__container .SearchReqsContainer .slds-nubbin_top:after, .THIS .slds-modal__container .slds-nubbin--top:after {
    width: 1rem;
    height: 1rem;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(-135deg);
    content: '';
    background-color: inherit;
    left: 50%;
    bottom: -.5rem;TOP: unset;
    margin-left: -.5rem;
}
.THIS .slds-modal__container  .SearchReqsContainer .slds-nubbin_top:before, .THIS .slds-nubbin--top:before {
    width: 1rem;
    height: 1rem;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: '';
    background-color: inherit;
    left: 50%;
    bottom: -0.5rem;TOP: unset;
    margin-left: -.5rem;
}
.THIS .slds-modal__container .SearchReqsContainer .slds-dropdown-trigger .slds-dropdown {
    bottom: 30px;
}
.THIS .slds-modal__container .SearchReqsContainer .slds-dropdown-trigger .slds-dropdown {
    top: AUTO;
}
.THIS .slds-modal__container .SearchReqsContainer .cC_SearchLocationInputPopover .multiple-location-popover {
    position: absolute;
    z-index: 9000;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.10);
    -webkit-transform: translate(-18.50rem, 2.5rem);
    -ms-transform: translate(-18.50rem, 2.5rem);
    transform: translate(-18.5rem, -15.5rem);
}
.THIS .slds-modal__container .SearchReqsContainer .search-body-container{
	position:inherit ;
	top: 0px;
    display:none;
}
.THIS .slds-modal__container .search-body-container{
	position:inherit ;
	top: 0px;
}
.THIS .slds-modal__container .SearchReqsContainer header {
    margin-top: 0;
}
.THIS hr { margin: 0 0 .5rem 0;}

/* disabled */
.THIS .disabled {background: rgb(239, 239, 239); font-style:italic;    color: grey;}

.THIS lightning-helptext.slds-form-element {
    top: -2px;
    margin-left: 2px;
}
.THIS .SearchReqsContainer {
}
.THIS .req-search_inline {
    display: inline-flex;
}

.THIS .footer-input {width: 97%;  min-height: 32px;}

/*Indicator Area Styles*/
/*
.THIS .indicator-area{
	margin: 0.75rem 0;
}
.THIS .icon-circle{
	background-color: #706e6b;
	height: 24px;
	width: 24px;
	border-radius: 50%;
	position: relative;
}

.THIS .indicator-area .slds-icon > lightning-primitive-icon > svg{
	height: 0.75rem;
	width: 0.75rem;
	fill: #f4f6f9;
}*/
.THIS .indicator-area .slds-icon{
    width: 1rem;
    height: 1rem;
}
.THIS input[type=checkbox]:checked.green-checkbox{
    border-color: rgb(0, 178, 0); /*Choose your color*/
    box-shadow: 0 0 3px #006A00; /*Choose a darker color for the shadow*/
    background-color: rgb(0, 178, 0);
}
.THIS .link-icon-center {
 position:relative;
 top:7px;
}