#survey_container{ margin: 10px; font-family: "TEKsys DIN-RegularAlternate", "Helvetica Neue", Helvetica, Arial, sans-serif !important; }
.surveyforce { max-width: 800px; margin: 0 auto !important; position: relative; display: block;     -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
    background: #fff;
    text-align: center;
    margin: 20px auto !important;
    margin-bottom: 0;}
.slds-box { display: block; padding: 20px !important; background-color: #ffffff !important; border-top: 0 !important; border-right: 0 !important; border-bottom: 0 !important; border-left: 0 !important; border-radius: 0 !important; transition: none; }
.slds-form-element { text-align: left !important; }
body { background-color: #edefef !important; }
.btn { background: #f8971d !important; color: #fff !important; padding: 10px 20px !important; display: inline-block; min-height: 41px; font-size: 13px !important;
    font-weight: 700 !important;
    padding: 10px 20px !important;
    border: 1px solid transparent !important;
    border-radius: 3px !important;
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.1) !important;
    text-align: center;
    text-decoration: none!important;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin: 5px !important; }
.u-btn--ghost-primary { background: #FFF !important; border-color: #f8971d !important; color: #f8971d !important; }
@media screen and (max-width: 480px) {
    table.convertToLDS tbody tr td{ display: block; width:100%; }
   .surveyforce .slds-notify--toast { min-width: 0rem !important; }
}
