.container {
    border-radius: 5px;
    background-color: white;
}
.table-filters input {
    max-width: 30%;
}
.table-filters > * {
    margin-right: .5rem;
}
[data-filter="office"] {
    min-width: 265px;
}
[data-filter="region"] {
    min-width: 14rem;
}
.dialog-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
.dialog-container {
    position: relative;
    border-radius: 5px;
    background: white;
    display: flex;
    flex-direction: column;    
    min-width: 25rem;
}
.dialog-content {
    padding: 0 1rem 1rem;
}
.close-btn {
    position: absolute;
    right:-1rem;
    top: -1rem;
    font-weight: 600;
    line-height: 1;
    color: white;
    cursor: pointer;
}
.close-btn svg {
    width: 1rem;
    fill: white;
}
.dialog-title {
    border-bottom: 1px solid lightgray;
    padding: 1rem;
    text-align: center;
    font-size: 22px;
}
.dialog-footer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid lightgray;
}