<template>
    <div class="container slds-p-around_small">
        <template if:true={showSpinner}>
            <lightning-spinner variant="brand" alternative-text="Loading" size="medium">
        </lightning-spinner></template> 
        <c-lwc-card>
            <div slot="title">Community Manager Alignment</div>
            <div slot="actions">
                <button id="bulkUpdate" class="slds-button slds-button_neutral" onclick={handleMassUpdate}>Mass Update</button>
            </div>    
                <div class="table-filters slds-p-bottom_small slds-grid">
                    <template if:true={label}>
                        {label}
                    </template>
                </div>
                <div class="table-filters slds-p-bottom_small slds-grid">                    
                    <input 
                        type="text" 
                        placeholder="Search By Office Code" 
                        class="slds-input"
                        onchange={handleOfficeCode} 
                    />
                    <lightning-combobox
                        data-filter="office" 
                        label="Office"
                        value={value}                        
                        placeholder="Select an option"
                        variant="label-hidden"
                        options={officeFilter}
                        onchange={handleFilterCriteriaChange}
                    ></lightning-combobox>
                    <lightning-combobox 
                        data-filter="region"  
                        name="region"                     
                        label="Region"
                        value={value}
                        placeholder="Select an option"                        
                        variant="label-hidden"
                        options={getAllRegionName}
                        onchange={handleRegionNameChange}
                    ></lightning-combobox>
                    <lightning-button label="Search" 
                                      variant="brand" 
                                      onclick={handleSearchManagerAlignment}></lightning-button>             
                </div>

                <template if:true={tableCols}>

                    <c-lwc-data-table
                    table-columns={tableCols}
                    table-data={data}
                    selection="multi"
                    onrowaction={handleRowAction}
                    onedit={handleRowEdit}
                    sorted-by={sortBy}
                    sorted-direction={sortDirection}
                    onsort={handleSort}
                    rows-per-page="50"
                    pagination="true"></c-lwc-data-table>

                    <!-- onrowaction={handleRowAction}
                    onedit={handleRowEdit}
                    is-database-sort="true"
                    ondatabasesort={handleSort}-->
                    
                    <!--lightning-datatable   
                        key-field="id" 
                        data={dataLWC}
                        columns={tableColumns}
                        onrowselection={handleCommMgrRowSelectedName}
                        oncellchange={handleCommMgrRowCellChange}
                        show-row-number-column="false">
                    </lightning-datatable-->
                </template>

               
                              
                          

                          
              <!--  <lightning-datatable data={data} 
                             columns={tableColumns} 
                             key-field="id"
                             hide-checkbox-column="false"
                             onsave={handleSave}
                             draft-values={draftValues}
                             ></lightning-datatable>    --> 
        </c-lwc-card>
    </div>
    <template if:true={showDialog}>
        <div class="dialog-background">
            <div class="dialog-container">
                <div class="close-btn" onclick={closeDialog}>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="close"><path 
                        d="M14.3 11.7l6-6c.3-.3.3-.7 0-1l-.9-1c-.3-.2-.7-.2-1
                         0l-6 6.1c-.2.2-.5.2-.7 
                         0l-6-6.1c-.3-.3-.7-.3-1 
                         0l-1 1c-.2.2-.2.7 0 
                         .9l6.1 6.1c.2.2.2.4 0 
                         .6l-6.1 6.1c-.3.3-.3.7 0 
                         1l1 1c.2.2.7.2.9 0l6.1-6.1c.2-.2.4-.2.6 
                         0l6.1 6.1c.2.2.7.2.9 0l1-1c.3-.3.3-.7 
                         0-1l-6-6c-.2-.2-.2-.5 0-.7z"></path></svg>
                </div>
                <div class="dialog-title">Mass Update Selected Rows</div>
                <div class="dialog-content">
                    <c-search-lookup-component 
                    data-field="Name"
                    record-type-name=''
                    place-holder="Talent Community Manager"         
                    clas-name='Lookup' 
                    method-name='searchSObject' 
                    object-name="User" 
                    is-soql='true'                                    
                    use-cache=false
                    addl-fields='["Title"]'
                    display-fields={lookupAdditionlFields}
                    related-to="User"  
                    is-custom-css=true 
                    record-limit="6"      
                    first-record-search-icon="true"                 
                    search-lookup-text="Community Manager"
                    onselected={handleSelectedForMass}   
                ></c-search-lookup-component>
                </div>
                <div class="dialog-footer">
                    <button class="slds-button slds-button_neutral" onclick={closeDialog}>Cancel</button>
                    <button class="slds-button slds-button_brand" onclick={handleMassSave}>Save</button>
                </div>
            </div>
        </div>
    </template>
</template>