.accordion-header {
    background-color: #F3F2F2;
}

 .accordion-content {
    background-color: #fff;
    margin: 0 -0.75rem -1rem;
    padding: 0.75rem 1.5rem 1.5rem;
}

 .slds-accordion__section {
    padding: 0rem 0.75rem 0.75rem;
}

 .section-accordion .slds-accordion__summary-heading span {
    font-size: 1rem;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button-group p,
.button-group lightning-button {
   margin-left: 0.5rem;
}

.action-button-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.25rem 0;
}

.action-button-bar p,
.action-button-bar lightning-button {
   margin-left: 0.5rem;
}

.backup-list li {
    margin-bottom: 0.25rem;
}

ul {
    margin: 0.25rem 0;
    padding-left: 1.2rem;
    list-style: disc;
}

li {
    font-size: 0.8125rem;
    color: rgb(62, 62, 60);
}

ul li {
    margin-bottom: 0.25rem;
}

li ul {
    list-style: lower-alpha;
}