<template>
    <template if:true={isLoading}>
        <lightning-spinner variant="brand" size="large" alternative-text="Loading..."></lightning-spinner>
    </template>
    <template if:false={isParentORChild}>
    <template if:true={isPayrollForm}>
        <template if:true={isCSCtalentOfc}>
            <template if:true={isAdjustment}>
                    <div class="payroll-container">
                        <lightning-accordion allow-multiple-sections-open active-section-name={activeSections}>
                            <template if:false={isCaseClosed}>
                                <c-lwc-c-s-c-payroll-input-fields 
                                    form-config={conditionalFields} 
                                    origin-id={recordId} 
                                    onconfigchange={handleBackupTypeConfig}
                                    onpvchange={handlePVChange}
                                    onutachange={handleUTAChange}
                                    onvalidation={handleSubmitValidation}
                                    >
                                </c-lwc-c-s-c-payroll-input-fields> 
                            </template>
                            <template if:true={isCaseClosed}>
                                <c-lwc-c-s-c-payroll-output-fields form-config={conditionalFields} origin-id={recordId}></c-lwc-c-s-c-payroll-output-fields>
                            </template>
                            <div class="accordion-header">
                                <lightning-accordion-section name="section2" label="Adjustment Calculations">
                                    <div class="accordion-content">
                                        <template if:false={getIsNoAdj}>
                                            <lightning-datatable data={searchData}
                                                            class="slds-table_header-fixed_container slds-scrollable_x slds-border_top" 
                                                            columns={columns} 
                                                            key-field="id"
                                                            hide-checkbox-column="true"
                                                            show-row-number-column="true">
                                            </lightning-datatable>
                                
                                            <div class="slds-panel slds-size_small slds-panel_docked slds-panel_docked-right slds-is-open" aria-hidden="false">
                                                <div class="slds-panel__header">
                                                    <h2 class="slds-panel__header-title slds-text-heading_small slds-truncate" title="Panel Header"><b>Total Gross Difference : </b></h2>
                                                </div>
                                        
                                                <div class="slds-panel__body">
                                                    <p><lightning-formatted-number value={grossDifference} format-style="currency" currency-code="USD" currency-display-as="symbol"></lightning-formatted-number></p>
                                                    <!--<lightning-record-view-form
                                                            record-id={recordId}
                                                            object-api-name="Case">
                                               
                                                        <lightning-output-field field-name="Total_Gross_Difference__c" variant="label-hidden">
                                                        </lightning-output-field>
                                                    </lightning-record-view-form>-->
                                                </div>
                                         
                                            </div>
                                            <div class="action-button-bar">
                                                <lightning-button label="Edit Adjustments" variant="brand" onclick={handleAdjustments} disabled={isCaseClosed}></lightning-button>
                                            </div>
                                        </template>
                                        <template if:true={getIsNoAdj}>
                                            <div class="action-button-bar">
                                                <lightning-button label="Add Adjustments" variant="brand" onclick={handleAddAdjustments} disabled={isCaseClosed} ></lightning-button>
                                            </div>
                                        </template>
                                    </div>
                    
                                </lightning-accordion-section>
                            </div>
                  
                            <div class="accordion-header">
                                <lightning-accordion-section name="section3" label="Backup Types" class={toggleBackupSection}>
                                    <div class="accordion-content">
                                        <template if:true={hasBackupType}>
                                            <ul class="backup-list">
                                                <template for:each={getBackupTypes} for:item="config" for:index="index">
                                                    <li key={config.labelId}>
                                                        <c-lwc-c-s-c-payroll-backup-types config={config} onselect={handleBackupTypeSelect}></c-lwc-c-s-c-payroll-backup-types>
                                                    </li>
                                                </template>
                                            </ul>
                                        </template>
                                    </div>
                                </lightning-accordion-section>
                            </div>
                    
                    
                        </lightning-accordion>
                        <div class="button-group">
                            <lightning-button label="Save" variant="brand" onclick={handleSubmit} disabled={isCaseClosed}></lightning-button>
                        </div>
                    </div>
        
            </template>
            <template if:false={isAdjustment}>
                <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_error" role="alert">
                    <lightning-icon icon-name="utility:error" size="small" variant="error" class="slds-m-around_x-small"></lightning-icon>
                    <h2>Payroll Form not applicable for non payroll related case types.</h2>
                </div>
            </template>

        </template>

        <template if:false={isCSCtalentOfc}>
            <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_error" role="alert">
                <lightning-icon icon-name="utility:error" size="small" variant="error" class="slds-m-around_x-small"></lightning-icon>
                <h2>The Selected Office Does Not Utilize this Form. Please Use Info Path to Process Payroll Adjustment.</h2>
            </div>
        </template>
    </template>
    <!--Form for Check request-->
    <template if:true={enableCheck}>
        <template if:true={isCheckRequest}>
            <template if:true={isCheckRequestTalent}>
                <template if:true={isCheckRequestType}>
                    <div class="payroll-container">
                        <lightning-accordion allow-multiple-sections-open active-section-name={activeSections}>
                           <!--<br/> <span class="slds-align_absolute-center">Check Request Form Coming Soon.</span><br/>-->
                            <!--Chec Request Input Fields-->
                            <c-lwc-c-s-c-check-request-input-fields 
                                form-config={conditionalFields}
                                origin-id={recordId}
                                backup-reqs={crBackupReqs}
                                onvalidation={handleSubmitValidation}
                                onloadbackup={handleLoadBackupReqs}
                                case-readonly={isCaseClosed}
                                >
                            </c-lwc-c-s-c-check-request-input-fields> 
                            <!--Check Request Backup Section :: START-->
                            <div class="accordion-header">
                                <lightning-accordion-section name="section3" label="Backups Required">
                                    <div class="accordion-content">
                                        <div class="backupReqs" lwc:dom="manual"></div><br/>
                                        <lightning-file-upload
                                                label="Upload Backup Files"
                                                name="fileUploader"
                                                accept={acceptedFormats}
                                                record-id={recordId}
                                                disabled={isCaseClosed}
                                                onuploadfinished={handleUploadFinished}
                                                multiple>
                                        </lightning-file-upload>
                                    </div>
                                </lightning-accordion-section>
                            </div>
                            <!--Check Request Backup Section :: END-->
                            <!-- Check Request Adjustments  :: START-->
                            <div class="accordion-header">
                                <lightning-accordion-section name="section2" label="Adjustment Calculations">
                                    <div class="accordion-content">
                                        <template if:false={getIsNoAdj}>
                                            <lightning-datatable data={searchData}
                                                            class="slds-table_header-fixed_container slds-scrollable_x slds-border_top" 
                                                            columns={columnsCR} 
                                                            key-field="id"
                                                            hide-checkbox-column="true"
                                                            show-row-number-column="true">
                                            </lightning-datatable>
                                            <br/>
                                            <div class="slds-panel slds-size_small slds-panel_docked slds-panel_docked-right slds-is-open" aria-hidden="false">
                                                <div class="slds-panel__header">
                                                    <h2 class="slds-panel__header-title slds-text-heading_small slds-truncate" title="Panel Header"><b>Total Gross Difference : </b></h2>
                                                </div>
                                        
                                                <div class="slds-panel__body">
                                                    <p><lightning-formatted-number value={grossDifference} format-style="currency" currency-code="USD" currency-display-as="symbol"></lightning-formatted-number></p>
                                                </div>
                                         
                                            </div>
                                            <div class="action-button-bar">
                                                <lightning-button label="Edit Adjustments" variant="brand" onclick={handleAdjustments} disabled={isCaseClosed}></lightning-button>
                                            </div> 
                                        </template>
                                        <template if:true={getIsNoAdj}>
                                            <div class="action-button-bar">
                                                <lightning-button label="Add Adjustments" variant="brand" onclick={handleAddAdjustments} disabled={isCaseClosed} ></lightning-button>
                                            </div>
                                        </template>
                                    </div>
                    
                                </lightning-accordion-section>
                            </div>
                            <!-- Check Request Adjustments  :: END-->
                        </lightning-accordion>
                        <div class="button-group">
                           <lightning-button label="Save" variant="brand" onclick={handleCRSubmit} disabled={isCaseClosed}></lightning-button> 
                        </div>
                    </div>
                </template>
                <template if:false={isCheckRequestType}>
                    <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_error" role="alert">
                        <lightning-icon icon-name="utility:error" size="small" variant="error" class="slds-m-around_x-small"></lightning-icon>
                        <h2>Check request Form not applicable for non check request related case types.</h2>
                    </div>
                </template>
            </template>
            <template if:false={isCheckRequestTalent}>
                <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_error" role="alert">
                    <lightning-icon icon-name="utility:error" size="small" variant="error" class="slds-m-around_x-small"></lightning-icon>
                    <h2>The Selected Office Does Not Utilize this Form. Please Use Info Path to Process TEK Check Request form.</h2>
                </div>
            </template>
        </template>
    </template>
    <template if:true={noAdjustmentForm}>
        <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_error" role="alert">
            <lightning-icon icon-name="utility:error" size="small" variant="error" class="slds-m-around_x-small"></lightning-icon>
            <h2>Please fill in Talent Office in Case detail page to display Adjustment form.</h2>
        </div>
    </template>
    </template>
    <template if:true={isParentORChild}>
        <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_error" role="alert">
            <lightning-icon icon-name="utility:error" size="small" variant="error" class="slds-m-around_x-small"></lightning-icon>
            <h2>Adjustment Form not applicable for Mass Case.</h2>
        </div>
    </template>

    <c-lwc-c-s-c-payroll-adj-modal
        record-id={recordId} 
        modal-data={searchData}
        table-cols={modalDataCols} 
        onsave={handleModalSave} 
        onaddrow={handleAddAdjustments}
        onremoverow={handleRemoveAdjustments}
        oncopyrow={handleCopyAdjustments}
        oncellupdate={handleTableRefresh}
        is-payroll={isPayrollForm}
        is-checkrequest={isCheckRequest}
        table-cols-c-r={modalDataColsCR}
        >
    </c-lwc-c-s-c-payroll-adj-modal>
   
    
    
  
</template>