{{!-- 
	Used when both the jobs teaser and assignment status cards should be displayed, instead 
	of just jobs teaser.
 --}}
<div>
	<div id="assignment-status-box" class="c-assignment-status-box qa-assignment-status-box col-md-6">
	</div>
	<div id="jobs-teaser-box" class="c-jobs-teaser-box qa-jobs-teaser-box col-md-6">
	</div>
</div>
