<div class="qa-assignment-end-date-notice">
	<span>{{mergeVars $Label.TC_approaching_end_date_notice}}</span>
	<span>
		<button class="u-btn u-btn--slate" onclick="skuid.events.publish('com.dashboard.onClickAssignEndNoticeConfirm'); return false;">
			{{$Label.TC_approaching_end_date_notice_button}}
		</button>
	</span>
</div>
