{{#unless isTalentFormerNotRecent}}
  {{#ifNotEmpty CustomSettings.Useful_Links_Label_1__c}}
      <div class="c-tile-useful-resources__resource">
          <a target="_blank" href="{{$Site.Prefix}}/tc_tne_login_redirect">
              {{#if CustomSettings.Useful_Links_SLDS_1__c}}
                  <span class="slds-icon__container slds-icon__container--circle">
                     <svg aria-hidden="true" class="slds-icon slds-icon--large">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$Site.Prefix}}/resource/SLDS011/assets/icons/{{ CustomSettings.Useful_Links_Icon_Category_1__c }}-sprite/svg/symbols.svg#{{ CustomSettings.Useful_Links_Icon_1__c }}"></use>
                     </svg>
                  </span>
              {{else}}
                  <img src="{{ CustomSettings.Useful_Links_Icon_1__c }}" class="c-tile-useful-resources__resource-icon" />
              {{/if}}
              <span>{{ CustomSettings.Useful_Links_Label_1__c }}
                 <svg aria-hidden="true" class="slds-icon slds-icon--small">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$Site.Prefix}}/resource/SLDS011/assets/icons/utility-sprite/svg/symbols.svg#new_window"></use>
                 </svg>
              </span>
          </a>
      </div>
  {{/ifNotEmpty}}
{{/unless}}

{{#unless isTalentFormerNotRecent}}
  {{#ifNotEmpty CustomSettings.Useful_Links_Label_2__c}}
      <div class="c-tile-useful-resources__resource">
          <a target="_blank" href="{{ CustomSettings.Useful_Links_Url_2__c }}">
              {{#if CustomSettings.Useful_Links_SLDS_2__c}}
                  <span class="slds-icon__container slds-icon__container--circle">
                     <svg aria-hidden="true" class="slds-icon slds-icon--large">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$Site.Prefix}}/resource/SLDS011/assets/icons/{{ CustomSettings.Useful_Links_Icon_Category_2__c }}-sprite/svg/symbols.svg#{{ CustomSettings.Useful_Links_Icon_2__c }}"></use>
                     </svg>
                  </span>
              {{else}}
                  <img src="{{ CustomSettings.Useful_Links_Icon_2__c }}" class="c-tile-useful-resources__resource-icon" />
              {{/if}}
              <span>{{ CustomSettings.Useful_Links_Label_2__c }}
                 <svg aria-hidden="true" class="slds-icon slds-icon--small">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$Site.Prefix}}/resource/SLDS011/assets/icons/utility-sprite/svg/symbols.svg#new_window"></use>
                 </svg>
              </span>
          </a>
      </div>
  {{/ifNotEmpty}}
{{/unless}}

{{#ifNotEmpty CustomSettings.Useful_Links_Label_3__c}}
    <div class="c-tile-useful-resources__resource">
        <a target="_blank" href="{{ CustomSettings.Useful_Links_Url_3__c }}">
            {{#if CustomSettings.Useful_Links_SLDS_3__c}}
                <span class="slds-icon__container slds-icon__container--circle">
                   <svg aria-hidden="true" class="slds-icon slds-icon--large">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$Site.Prefix}}/resource/SLDS011/assets/icons/{{ CustomSettings.Useful_Links_Icon_Category_3__c }}-sprite/svg/symbols.svg#{{ CustomSettings.Useful_Links_Icon_3__c }}"></use>
                   </svg>
                </span>
            {{else}}
                <img src="{{ CustomSettings.Useful_Links_Icon_3__c }}" class="c-tile-useful-resources__resource-icon" />
            {{/if}}
            <span>{{ CustomSettings.Useful_Links_Label_3__c }}
               <svg aria-hidden="true" class="slds-icon slds-icon--small">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$Site.Prefix}}/resource/SLDS011/assets/icons/utility-sprite/svg/symbols.svg#new_window"></use>
               </svg>
            </span>
        </a>
    </div>
{{/ifNotEmpty}}

{{#unless isTalentFormer}}
  {{#ifNotEmpty CustomSettings.Useful_Links_Label_4__c}}
      <div class="c-tile-useful-resources__resource">
          <a target="_blank" href="{{ CustomSettings.Useful_Links_Url_4__c }}">
              {{#if CustomSettings.Useful_Links_SLDS_4__c}}
                  <span class="slds-icon__container slds-icon__container--circle">
                     <svg aria-hidden="true" class="slds-icon slds-icon--large">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$Site.Prefix}}/resource/SLDS011/assets/icons/{{ CustomSettings.Useful_Links_Icon_Category_4__c }}-sprite/svg/symbols.svg#{{ CustomSettings.Useful_Links_Icon_4__c }}"></use>
                     </svg>
                  </span>
              {{else}}
                  <img src="{{ CustomSettings.Useful_Links_Icon_4__c }}" class="c-tile-useful-resources__resource-icon" />
              {{/if}}
              <span>{{ CustomSettings.Useful_Links_Label_4__c }}
                 <svg aria-hidden="true" class="slds-icon slds-icon--small">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$Site.Prefix}}/resource/SLDS011/assets/icons/utility-sprite/svg/symbols.svg#new_window"></use>
                 </svg>
              </span>
          </a>
      </div>
  {{/ifNotEmpty}}
{{/unless}}

{{#unless isTalentFormer}}
  {{#ifNotEmpty CustomSettings.Useful_Links_Label_5__c}}
      <div class="c-tile-useful-resources__resource">
          <a target="_blank" href="{{ CustomSettings.Useful_Links_Url_5__c }}">
              {{#if CustomSettings.Useful_Links_SLDS_5__c}}
                  <span class="slds-icon__container slds-icon__container--circle">
                     <svg aria-hidden="true" class="slds-icon slds-icon--large">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$Site.Prefix}}/resource/SLDS011/assets/icons/{{ CustomSettings.Useful_Links_Icon_Category_5__c }}-sprite/svg/symbols.svg#{{ CustomSettings.Useful_Links_Icon_5__c }}"></use>
                     </svg>
                  </span>
              {{else}}
                  <img src="{{ CustomSettings.Useful_Links_Icon_5__c }}" class="c-tile-useful-resources__resource-icon" />
              {{/if}}
              <span>{{ CustomSettings.Useful_Links_Label_5__c }}
                 <svg aria-hidden="true" class="slds-icon slds-icon--small">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$Site.Prefix}}/resource/SLDS011/assets/icons/utility-sprite/svg/symbols.svg#new_window"></use>
                 </svg>
              </span>
          </a>
      </div>
  {{/ifNotEmpty}}
{{/unless}}

{{#unless isTalentFormer}}
  {{#ifNotEmpty CustomSettings.Useful_Links_Label_6__c}}
      <div class="c-tile-useful-resources__resource">
          <a target="_blank" href="{{ CustomSettings.Useful_Links_Url_6__c }}">
              {{#if CustomSettings.Useful_Links_SLDS_6__c}}
                  <span class="slds-icon__container slds-icon__container--circle">
                     <svg aria-hidden="true" class="slds-icon slds-icon--large">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$Site.Prefix}}/resource/SLDS011/assets/icons/{{ CustomSettings.Useful_Links_Icon_Category_6__c }}-sprite/svg/symbols.svg#{{ CustomSettings.Useful_Links_Icon_6__c }}"></use>
                     </svg>
                  </span>
              {{else}}
                  <img src="{{ CustomSettings.Useful_Links_Icon_6__c }}" class="c-tile-useful-resources__resource-icon" />
              {{/if}}
              <span>{{ CustomSettings.Useful_Links_Label_6__c }}
                 <svg aria-hidden="true" class="slds-icon slds-icon--small">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$Site.Prefix}}/resource/SLDS011/assets/icons/utility-sprite/svg/symbols.svg#new_window"></use>
                 </svg>
              </span>
          </a>
      </div>
  {{/ifNotEmpty}}
{{/unless}}
