<div role="dialog" tabindex="-1" aria-labelledby="header43" class="slds-modal c-modal-dialog c-survey-modal">
    <div class="slds-modal__container c-modal-dialog__body">
      <div class="slds-modal__header">
        <button class="slds-button slds-button--icon-inverse slds-modal__close" onclick="skuid.events.publish('com.global.modalClose', [{ modalId: 'dashboard-survey-modal' }]); return false;">
        <svg aria-hidden="true" class="slds-button__icon slds-button__icon--large">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$Site.Prefix}}/resource/SLDS202/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
        </svg>
        <span class="slds-assistive-text">{{$Label.TC_modal_close_assist_text}}</span>
      </button>
      </div>
      <div class="slds-modal__content slds-p-around--medium">
        <form id="survey-form" action="#">
          {{!-- By default, mimic/use Skuid error styling. --}}
          <span class="c-survey-text">{{$Label.TC_survey_text_a}}<br />{{$Label.TC_survey_text_b}}</span>
          <div class="c-survey-modal__button-wrapper">
            {{!-- Set the type of the cancel button (to "button") so that hitting enter on the form does not engage it. --}}
            <button type="button" class="u-btn u-btn--ghost-primary" onclick="skuid.events.publish('com.global.modalClose', [{ modalId: 'dashboard-survey-modal' }]); return false;">{{$Label.TC_survey_no}}</button><input type="submit" class="u-btn ubtn--primary" value="{{$Label.TC_survey_yes}}" onclick="skuid.events.publish('com.jobsearch.shareJob', [{ reqId: '{{reqId}}' }]); return false;" />
          </div>
        </form>
      </div>
    </div>
</div>

<div class="slds-backdrop"></div>