<div class="c-card c-relevant-jobs qa-jobs-teaser-explore">
	<div>
		<header class="c-header c-basic-header">
			<span class="c-header__title">
				{{$Label.TC_Explore_Jobs}}
			</span>
		</header>
		<p class="c-relevant-jobs__header">
			{{$Label.TC_Weve_made_it_easy_for_you_to_start_exploring_jobs}}
		</p>
	</div>
	<p class="c-relevant-jobs__footer">
		<a class="u-btn u-btn-link" href="{{$Site.Prefix}}/tc_jobs">{{$Label.TC_Explore_Jobs}}</a>
	</p>
</div>