{{!-- 
	Used when only the jobs teaser card should be displayed, instead of both jobs teaser and 
	assignment status.
 --}}
<div>
	<div id="jobs-teaser-box" class="c-jobs-teaser-box qa-jobs-teaser-box col-md-12">
	</div>
</div>
