<div class="c-card c-relevant-jobs qa-jobs-teaser-listing">
	<div>
		<header class="c-header c-basic-header">
			<span class="c-header__title">
				{{$Label.TC_job_search_teaser_listing_header}}
			</span>
		</header>
	</div>
	<div class="c-former-job-listing">
		{{#ifNotEmpty reqs}}
			<p class="c-relevant-jobs__header">
				{{$Label.TC_job_search_teaser_listing_explain_1}}
			</p>
			{{#each reqs}}
			<div class="c-former-job-listing__item qa-req-listing-item-box">
				<div class="row">
					<div class="col-md-6">
						{{#ifNotEmpty this.clientJobTitle}}
							<span class="c-search-results__title">{{this.clientJobTitle}}</span>
						{{/ifNotEmpty}}
					</div>
					<div class="col-md-6">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						{{#ifNotEmpty this.city}}
							<dl class="c-search-results__details">
								<dt><strong>{{../$Label.TC_job_search_req_location}}:</strong>&nbsp;{{this.city}}, {{this.state}}</dt>
							</dl>
						{{/ifNotEmpty}}
					</div>
					<div class="col-md-6">
						{{#ifNotEmpty this.placementype}}
							<dl class="c-search-results__details">
								<dt><strong>{{../$Label.TC_job_search_req_placement_type}}: </strong>&nbsp;{{this.placementype}}</dt>
							</dl>
						{{/ifNotEmpty}}
					</div>
				</div>
			</div>
			{{/each}}
		{{/ifNotEmpty}}
		{{#ifEmpty reqs}}
			{{$Label.TC_job_search_teaser_listing_no_jobs}}
		{{/ifEmpty}}
	</div>
		<div class="c-relevant-jobs__footer">
			<a class="u-btn u-btn-link" href="{{$Site.Prefix}}/tc_jobs">{{$Label.TC_job_search_teaser_listing_submit}}</a>
		</div>
</div>
