{{#if assignStatusActive}}
	<div class="c-card c-current-assignment qa-status-content-box qa-status-active" style="height: 350px; min-height: 350px;">
		<div>
			<div style="width: 130px; margin: 0px auto;">
				<iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
				<canvas id="current-assignment" width="130" height="130" style="width: 130px; height: 130px; display: block;"></canvas>
				<div class="c-chart__doughnut-inner">
					<span id="c-current-assignment__daysRemaining" class="qa-days-remaining">{{daysRemaining}}</span>
				</div>
				<p class="c-current-assignment__remaining">{{$Label.TC_days_remaining}}</p>
			</div>
			<p class="c-current-assignment__start-end-date">
				{{$Label.TC_Anticipated_end_date}}:
				<span class="qa-enddate">{{endDateFormatted}}</span>
				<br/>
				<span class="enddate-text qa-enddate-text">{{$Label.TC_Request_new_end_date}}</span>
			</p>
		</div>
		<p class="c-current-assignment__request-enddate">
			<a href="#" class="u-btn u-btn-link qa-enddate-contactme-btn" onclick="skuid.events.publish('com.dashboard.onClickRequestEndDateChange'); return false;">{{$Label.TC_Contact_Me}}</a>
		</p>
	</div>
{{else if assignStatusInactive}}
	<div class="c-card c-current-assignment qa-status-content-box qa-status-inactive" style="height: 350px; min-height: 350px;">
		<p class="c-current-assignment__header">
			{{$Label.TC_Currently_Not_on_Active_Assignment}}
		</p>
		<p class="c-current-assignment__body">
			{{$Label.TC_Are_you_looking_for_your_next_opportunity}}
		</p>
	</div>
{{else if assignStatusBeginning}}
	<div class="c-card c-current-assignment qa-status-content-box qa-status-starting" style="height: 350px; min-height: 350px;">
		<p>
			{{$Label.TC_Your_next_assignment_is_scheduled_to_begin_in}}:
		</p>
		<p>
			<span class="c-current-assignment__days">{{daysToBegin}}</span>
			<span> {{$Label.TC_days}}</span>
		</p>
		<p class="c-current-assignment__start-end-date">
			{{$Label.TC_Anticipated_start_date}}:
			<span>{{startDateFormatted}}</span>
		</p>
		<div class="c-current-assignment__footer">
			<p>
				{{$Label.TC_Does_any_of_this_information_look_inaccurate}} {{$Label.TC_Be_sure_to_connect_with_your_recruiter_for_any_questions_or_concerns}}
			</p>
		</div>
	</div>
{{else if assignStatusChange}}
	<div class="c-card c-current-assignment qa-status-content-box qa-status-change" style="height: 350px; min-height: 350px;">
		<p class="c-current-assignment__header">
			{{$Label.TC_Assignment_end_date_under_review}}
		</p class="c-current-assignment__body">
		</p>
			{{$Label.TC_Contact_your_recruiter_if_you_have_any_immediate_questions_or_concerns}}
		<p>
	</div>
{{else if assignStatusNodata}}
	<div class="c-card c-current-assignment qa-status-content-box qa-status-unknown" style="height: 350px; min-height: 350px;">
		<p class="c-current-assignment__body">
			{{$Label.TC_There_seems_to_be_an_error_in_your_current_assignment_information}} {{$Label.TC_Contact_your_recruiter_if_you_have_any_immediate_questions_or_concerns}}
		</p>
	</div>
{{/if}}
