<div class="c-card c-relevant-jobs qa-jobs-teaser-matches">
	<div>
		<p class="c-relevant-jobs__header">
			{{$Label.TC_we_found}} <strong>{{jobsCount}}</strong> {{newOpportunitiesText}}
		</p>
	</div>
	<p class="c-relevant-jobs__footer">
		<a class="u-btn u-btn-link" href="{{$Site.Prefix}}/tc_jobs">Search</a>
	</p>
</div>
