<div class="row" style="margin-left: 0px; margin-right: 0px;">
    <div class="col-md-1 col-sm-1 col-xs-3">
        <button id="menu-toggle" class="u-btn u-btn--ghost">
            <span>{{ $Label.TC_Menu }}</span>
        </button>
    </div>
    <div class="col-md-5 col-sm-5 col-xs-9">
        <a class="u-brand" href="{{ $Site.Prefix }}/tc_dashboard"><img src="{{ $Site.Prefix }}{{{ OpCoMappings.Logo_URL_Color__c }}}"></a>
    </div>
    <div class="u-refer-a-friend col-md-6 col-sm-6">
        <p id="header-refer-friend-tagline-box" class="u-refer-a-friend__text slds-hidden">{{ OpCoMappings.ReferFriend_Verbiage__c }}</p>
        <a class="u-refer-a-friend__link" href="{{$Site.Prefix}}/tc_refer_friend">
        {{ $Label.TC_refer_a_friend_heading }}
        <span class="slds-icon__container">
            <svg aria-hidden="true" class="slds-icon slds-icon-text-default slds-icon--x-small">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$Site.Prefix}}/resource/SLDS011/assets/icons/utility-sprite/svg/symbols.svg#forward"></use>
            </svg>
        </span>
        </a>
    </div>
</div>