{{!-- By default, mimic/use Skuid error styling. --}}
<div class="nx-messages">
	<div class="nx-error">
		<div>
			{{{errorMessageMarkup}}}
		</div>
		{{#if errorsArr}}
		<div>
			<ul>
			{{#each errorsArr}}
				<li>{{this}}</li>
			{{/each}}
			</ul>
		</div>
		{{/if}}
	</div>
</div>
