<div class="slds-notify_container qa-notify-box qa-notify-success-box">
  <div class="slds-notify slds-notify--toast slds-theme--success" role="alert">
    <span class="slds-assistive-text">{{$Label.TC_global_notification_assist_text_success}}</span>
    <button class="slds-button slds-button--icon-inverse slds-notify__close js-notify-close-button qa-notify-close-button" onclick="skuid.events.publish('com.header.clearGlobalSuccess');">
      <svg aria-hidden="true" class="slds-button__icon slds-button__icon--large">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$Site.Prefix}}/resource/SLDS202/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
      </svg>
      <span class="slds-assistive-text">{{$Label.TC_modal_close_assist_text}}</span>
    </button>
    <div class="slds-notify__content slds-grid">
      <svg aria-hidden="true" class="slds-icon slds-icon--small slds-m-right--small slds-col slds-no-flex">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$Site.Prefix}}/resource/SLDS202/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
      </svg>
      <div class="slds-col slds-align-middle">
        <h2 class="slds-text-heading--small js-notify-content-box qa-notify-content-box"></h2>
      </div>
    </div>
  </div>
</div>