<ul class="c-primary-menu">
    <li>
        <a href="{{$Site.Prefix}}/tc_dashboard">
        <svg aria-hidden="true" class="slds-icon slds-icon--x-small">
        <use 
            xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$Site.Prefix}}/resource/SLDS011/assets/icons/action-sprite/svg/symbols.svg#new_custom64"></use>
        </svg>{{$Label.TC_My_Home}}</a>
    </li>
    <li>
        <a href="{{$Site.Prefix}}/{{userId}}">
        <svg aria-hidden="true" class="slds-icon slds-icon--x-small">
        <use 
            xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$Site.Prefix}}/resource/SLDS011/assets/icons/standard-sprite/svg/symbols.svg#user"></use>
        </svg>{{ $Label.TC_My_Profile }}</a>
    </li>
    <li>
        <a href="{{$Site.Prefix}}/tc_news">
        <svg aria-hidden="true" class="slds-icon slds-icon--x-small">
        <use 
            xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$Site.Prefix}}/resource/SLDS011/assets/icons/utility-sprite/svg/symbols.svg#news"></use>
        </svg>{{ $Label.TC_News_and_Updates }}</a>
    </li>
    <li>
        <a href="{{$Site.Prefix}}/tc_jobs">
        <svg aria-hidden="true" class="slds-icon slds-icon--x-small">
        <use 
            xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$Site.Prefix}}/resource/SLDS011/assets/icons/utility-sprite/svg/symbols.svg#preview"></use>
        </svg>{{ $Label.TC_Find_Jobs }}</a>
    </li>
    <li class="u-hidden-aerotek">
        <a href="{{$Site.Prefix}}/tc_groups">
        <svg aria-hidden="true" class="slds-icon slds-icon--x-small">
        <use 
            xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$Site.Prefix}}/resource/SLDS011/assets/icons/standard-sprite/svg/symbols.svg#groups"></use>
        </svg>{{ $Label.TC_Community_Groups }}</a>
    </li>
    </ul>
    <ul class="c-secondary-menu">

        {{#unless isTalentFormerNotRecent}}
            {{#ifNotEmpty CustomSettings.Useful_Links_Label_1__c}}
            <li>
                <a target="_blank" href="{{$Site.Prefix}}/tc_tne_login_redirect">
                    {{#if CustomSettings.Useful_Links_SLDS_1__c}}
                        <svg aria-hidden="true" class="slds-icon slds-icon--x-small">
                        <use 
                xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$Site.Prefix}}/resource/SLDS011/assets/icons/{{ CustomSettings.Useful_Links_Icon_Category_1__c }}-sprite/svg/symbols.svg#{{ CustomSettings.Useful_Links_Icon_1__c }}"></use>
                        </svg>
                    {{else}}
                        <img src="{{ CustomSettings.Useful_Links_Icon_1__c }}" class="u-useful-links-icon" />
                    {{/if}}
                    {{ CustomSettings.Useful_Links_Label_1__c }}
                </a>
            </li>
            {{/ifNotEmpty}}
        {{/unless}}

        {{#unless isTalentFormerNotRecent}}
            {{#ifNotEmpty CustomSettings.Useful_Links_Label_2__c}}
            <li>
                <a target="_blank" href="{{ CustomSettings.Useful_Links_Url_2__c }}">
                    {{#if CustomSettings.Useful_Links_SLDS_2__c}}
                        <svg aria-hidden="true" class="slds-icon slds-icon--x-small">
                        <use 
                xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$Site.Prefix}}/resource/SLDS011/assets/icons/{{ CustomSettings.Useful_Links_Icon_Category_2__c }}-sprite/svg/symbols.svg#{{ CustomSettings.Useful_Links_Icon_2__c }}"></use>
                        </svg>
                    {{else}}
                        <img src="{{ CustomSettings.Useful_Links_Icon_2__c }}" class="u-useful-links-icon" />
                    {{/if}}
                    {{ CustomSettings.Useful_Links_Label_2__c }}
                </a>
            </li>
            {{/ifNotEmpty}}
        {{/unless}}

        {{#unless isTalentFormerNotRecent}}
            {{#ifNotEmpty CustomSettings.Useful_Links_Label_7__c}}
            <li>
                <a target="_blank" href="{{ CustomSettings.Useful_Links_Url_7__c }}">
                    {{#if CustomSettings.Useful_Links_SLDS_7__c}}
                        <svg aria-hidden="true" class="slds-icon slds-icon--x-small">
                        <use 
                xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$Site.Prefix}}/resource/SLDS011/assets/icons/{{ CustomSettings.Useful_Links_Icon_Category_7__c }}-sprite/svg/symbols.svg#{{ CustomSettings.Useful_Links_Icon_7__c }}"></use>
                        </svg>
                    {{else}}
                        <img src="{{ CustomSettings.Useful_Links_Icon_7__c }}" class="u-useful-links-icon" />
                    {{/if}}
                    {{ CustomSettings.Useful_Links_Label_7__c }}
                </a>
            </li>
            {{/ifNotEmpty}}
        {{/unless}}

        {{#unless isTalentFormerNotRecent}}
            {{#ifNotEmpty CustomSettings.Useful_Links_Label_8__c}}
            <li>
                <a target="_blank" href="{{ CustomSettings.Useful_Links_Url_8__c }}">
                    {{#if CustomSettings.Useful_Links_SLDS_8__c}}
                        <svg aria-hidden="true" class="slds-icon slds-icon--x-small">
                        <use 
                xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$Site.Prefix}}/resource/SLDS011/assets/icons/{{ CustomSettings.Useful_Links_Icon_Category_8__c }}-sprite/svg/symbols.svg#{{ CustomSettings.Useful_Links_Icon_8__c }}"></use>
                        </svg>
                    {{else}}
                        <img src="{{ CustomSettings.Useful_Links_Icon_8__c }}" class="u-useful-links-icon" />
                    {{/if}}
                    {{ CustomSettings.Useful_Links_Label_8__c }}
                </a>
            </li>
            {{/ifNotEmpty}}
        {{/unless}}

        {{#ifNotEmpty CustomSettings.Useful_Links_Label_3__c}}
        <li>
            <a target="_blank" href="{{ CustomSettings.Useful_Links_Url_3__c }}">
                {{#if CustomSettings.Useful_Links_SLDS_3__c}}
                    <svg aria-hidden="true" class="slds-icon slds-icon--x-small">
                    <use 
            xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$Site.Prefix}}/resource/SLDS011/assets/icons/{{ CustomSettings.Useful_Links_Icon_Category_3__c }}-sprite/svg/symbols.svg#{{ CustomSettings.Useful_Links_Icon_3__c }}"></use>
                    </svg>
                {{else}}
                    <img src="{{ CustomSettings.Useful_Links_Icon_3__c }}" class="u-useful-links-icon" />
                {{/if}}
                {{ CustomSettings.Useful_Links_Label_3__c }}
            </a>
        </li>
        {{/ifNotEmpty}}

        {{#unless isTalentFormer}}
            {{#ifNotEmpty CustomSettings.Useful_Links_Label_4__c}}
            <li>
                <a target="_blank" href="{{ CustomSettings.Useful_Links_Url_4__c }}">
                    {{#if CustomSettings.Useful_Links_SLDS_4__c}}
                        <svg aria-hidden="true" class="slds-icon slds-icon--x-small">
                        <use 
                xmlns:xlink="http://www.w4.org/1999/xlink" xlink:href="{{$Site.Prefix}}/resource/SLDS011/assets/icons/{{ CustomSettings.Useful_Links_Icon_Category_4__c }}-sprite/svg/symbols.svg#{{ CustomSettings.Useful_Links_Icon_4__c }}"></use>
                        </svg>
                    {{else}}
                        <img src="{{ CustomSettings.Useful_Links_Icon_4__c }}" class="u-useful-links-icon" />
                    {{/if}}
                    {{ CustomSettings.Useful_Links_Label_4__c }}
                </a>
            </li>
            {{/ifNotEmpty}}
        {{/unless}}

        {{#unless isTalentFormer}}
            {{#ifNotEmpty CustomSettings.Useful_Links_Label_5__c}}
            <li>
                <a target="_blank" href="{{ CustomSettings.Useful_Links_Url_5__c }}">
                    {{#if CustomSettings.Useful_Links_SLDS_5__c}}
                        <svg aria-hidden="true" class="slds-icon slds-icon--x-small">
                        <use 
                xmlns:xlink="http://www.w5.org/1999/xlink" xlink:href="{{$Site.Prefix}}/resource/SLDS011/assets/icons/{{ CustomSettings.Useful_Links_Icon_Category_5__c }}-sprite/svg/symbols.svg#{{ CustomSettings.Useful_Links_Icon_5__c }}"></use>
                        </svg>
                    {{else}}
                        <img src="{{ CustomSettings.Useful_Links_Icon_5__c }}" class="u-useful-links-icon" />
                    {{/if}}
                    {{ CustomSettings.Useful_Links_Label_5__c }}
                </a>
            </li>
            {{/ifNotEmpty}}
        {{/unless}}

        {{#unless isTalentFormer}}
            {{#ifNotEmpty CustomSettings.Useful_Links_Label_6__c}}
            <li>
                <a target="_blank" href="{{ CustomSettings.Useful_Links_Url_6__c }}">
                    {{#if CustomSettings.Useful_Links_SLDS_6__c}}
                        <svg aria-hidden="true" class="slds-icon slds-icon--x-small">
                        <use 
                xmlns:xlink="http://www.w6.org/1999/xlink" xlink:href="{{$Site.Prefix}}/resource/SLDS011/assets/icons/{{ CustomSettings.Useful_Links_Icon_Category_6__c }}-sprite/svg/symbols.svg#{{ CustomSettings.Useful_Links_Icon_6__c }}"></use>
                        </svg>
                    {{else}}
                        <img src="{{ CustomSettings.Useful_Links_Icon_6__c }}" class="u-useful-links-icon" />
                    {{/if}}
                    {{ CustomSettings.Useful_Links_Label_6__c }}
                </a>
            </li>
            {{/ifNotEmpty}}
        {{/unless}}

    </ul>
    <ul class="c-secondary-menu">
    <li>
        <a href="{{$Site.Prefix}}/tc_refer_friend">
        <svg aria-hidden="true" class="slds-icon slds-icon--x-small">
        <use 
            xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$Site.Prefix}}/resource/SLDS011/assets/icons/utility-sprite/svg/symbols.svg#share"></use>
        </svg>{{ $Label.TC_refer_a_friend_heading }}</a>
    </li>
    <li>
        <a href="{{$Site.Prefix}}/tc_help">
        <svg aria-hidden="true" class="slds-icon slds-icon--x-small">
        <use 
            xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$Site.Prefix}}/resource/SLDS011/assets/icons/utility-sprite/svg/symbols.svg#question"></use>
        </svg>{{ $Label.TC_Help_and_Support }}</a>
    </li>
    <li>
        <a href="{{$Site.Prefix}}/secur/logout.jsp">
        <svg aria-hidden="true" class="slds-icon slds-icon--x-small">
        <use 
            xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$Site.Prefix}}/resource/SLDS011/assets/icons/utility-sprite/svg/symbols.svg#power"></use>
        </svg>{{ $Label.TC_Logout }}</a>
    </li>
</ul>
