<div class="js-form-level-errors" />

<form action="#">
    <div class="c-search-container__section c-search-form">
        <label for="tsearch1">Keywords</label>
        <input id="tsearch1" class="c-search-form__form-control" type="text" name="tsearch1" value="" required="required" placeholder="e.g. project manager">
    </div>
    <div class="c-search-container__section c-search-container__section--md">
        <label for="radiussearch">Within</label>
        <div class="c-select-style">
            <select id="radiussearch" name="radiussearch">
                <option>Everywhere</option>
                <option>5</option>
                <option>10</option>
                <option>20</option>
                <option>30</option>
                <option selected="selected">50</option>
                <option>75</option>
                <option>100</option>
                <option>150</option>
            </select>
        </div>
    </div>
    <div class="c-search-container__section c-search-form">
        <label for="citysearch">City</label>
        <input id="citysearch" class="c-search-form__form-control" type="text" name="citysearch" value="" placeholder="e.g. Baltimore">
    </div>
    <div class="c-search-container__section c-search-container__section--sm">
        <label for="statesearch">State/Province</label>
        <div class="c-select-style">
            <select id="statesearch" name="statesearch">
                <option disabled>State</option>
                <option value="AK">AK</option>
                <option value="AL">AL</option>
                <option value="AR">AR</option>
                <option value="AZ">AZ</option>
                <option value="CA">CA</option>
                <option value="CO">CO</option>
                <option value="CT">CT</option>
                <option value="DC">DC</option>
                <option value="DE">DE</option>
                <option value="FL">FL</option>
                <option value="GA">GA</option>
                <option value="GU">GU</option>
                <option value="HI">HI</option>
                <option value="IA">IA</option>
                <option value="ID">ID</option>
                <option value="IL">IL</option>
                <option value="IN">IN</option>
                <option value="KS">KS</option>
                <option value="KY">KY</option>
                <option value="LA">LA</option>
                <option value="MA">MA</option>
                <option value="MD">MD</option>
                <option value="ME">ME</option>
                <option value="MH">MH</option>
                <option value="MI">MI</option>
                <option value="MN">MN</option>
                <option value="MO">MO</option>
                <option value="MS">MS</option>
                <option value="MT">MT</option>
                <option value="NC">NC</option>
                <option value="ND">ND</option>
                <option value="NE">NE</option>
                <option value="NH">NH</option>
                <option value="NJ">NJ</option>
                <option value="NM">NM</option>
                <option value="NV">NV</option>
                <option value="NY">NY</option>
                <option value="OH">OH</option>
                <option value="OK">OK</option>
                <option value="OR">OR</option>
                <option value="PA">PA</option>
                <option value="PR">PR</option>
                <option value="PW">PW</option>
                <option value="RI">RI</option>
                <option value="SC">SC</option>
                <option value="SD">SD</option>
                <option value="TN">TN</option>
                <option value="TX">TX</option>
                <option value="UT">UT</option>
                <option value="VA">VA</option>
                <option value="VI">VI</option>
                <option value="VT">VT</option>
                <option value="WA">WA</option>
                <option value="WI">WI</option>
                <option value="WV">WV</option>
                <option value="WY">WY</option>
                <option disabled>Province</option>
                <option value="AB">AB</option>
                <option value="BC">BC</option>
                <option value="MB">MB</option>
                <option value="NB">NB</option>
                <option value="NL">NL</option>
                <option value="NS">NS</option>
                <option value="NT">NT</option>
                <option value="NU">NU</option>
                <option value="ON">ON</option>
                <option value="PE">PE</option>
                <option value="QC">QC</option>
                <option value="SK">SK</option>
                <option value="YT">YT</option>
            </select>
        </div>
    </div>
    <div class="c-search-container__section c-search-container__section--md">
        <label></label>
        <button id="search-button" role="button" class="u-btn u-btn--tertiary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" onclick="skuid.events.publish('com.jobsearch.searchForReqs'); return false;"><span class="ui-button-text">Search</span></button>
    </div>
</form>
