<div class="js-express-stickyfooter">
    <div class="u-container">
        <div class="row row-centered">
            <div class="col-md-3 col-centered">
                <span id="js-express-stickyfooter__expresscount">0</span>
                <span class="js-express-stickyfooter__expresscount-label">{{ $Label.TC_Jobs_Selected }}</span>
            </div>
            <div class="col-md-3 col-centered">
                <button class="js-submit-job-interest u-btn btn-primary ui-state-disabled ui-button-disabled" onclick="skuid.events.publish('com.jobsearch.expressInterest'); return false;" disabled="disabled">{{  $Label.TC_Contact_Me }}</button>
                <a tabindex="0" class="u-popover" role="button" data-toggle="popover" data-trigger="focus" data-content="{{$Label.TC_Jobsearch_Help_Popup}}">
                    <span class="slds-icon__container slds-icon__container--circle">
                        <svg aria-hidden="true" class="slds-icon slds-icon--x-small">
                            <use xlink:href="{{$Site.Prefix}}/resource/SLDS202/assets/icons/utility-sprite/svg/symbols.svg#info"></use>
                        </svg>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
