{{#ifNotEmpty reqs}}
<div class="c-card">
	{{#each reqs}}
	<div class="c-search-results__row" data-reqid="{{reqId}}">
		{{#if ../allowInteraction}}
		<div class="col-md-1 col-sm-1 col-xs-2">
			<label for="{{reqId}}">
			<span onClick="skuid.events.publish('com.jobsearch.selectReq');" class="c-search-results__select">
				<input name="{{reqId}}" id="{{reqId}}" class="js-job-interest" type="checkbox" {{reqSelected}} data-job-id="{{reqId}}" data-job-copy="{{clientJobTitle}}">
				<span class="c-search-results__indicator"></span>
			</span>
		</label>
		</div>
		{{/if}}
		<div class="col-md-10 col-sm-10 col-xs-7">
			{{#ifNotEmpty clientJobTitle}}
				<span class="c-search-results__title">{{clientJobTitle}}</span>
			{{/ifNotEmpty}}
			{{#ifNotEmpty keywords}}
			<dl class="c-search-results__keywords">
				<dt class="c-search-keyword__title"><strong>Keywords: </strong></dt>
				<dd class="c-search-keywords__keywords">{{keywords}}</dd>
			</dl>
			{{/ifNotEmpty}}
			{{#ifNotEmpty city}}
				<dl class="c-search-results__details">
					<dt><strong>Location: </strong>&nbsp;</dt>
					<dd> {{city}}, {{state}}</dd>
				</dl>
			{{/ifNotEmpty}}
			{{#ifNotEmpty reqDateStr}}
				<dl class="c-search-results__details">
					<dt><strong>Date Posted: </strong>&nbsp;</dt>
					<dd> {{reqDateStr}}</dd>
				</dl>
			{{/ifNotEmpty}}
			{{#ifNotEmpty placementype}}
				<dl class="c-search-results__details">
					<dt><strong>Type: </strong>&nbsp;</dt>
					<dd> {{placementype}}</dd>
				</dl>
			{{/ifNotEmpty}}
			{{#ifNotEmpty relevancy}}
				<dl class="js-relevancy hidden">
					<dt>Relevancy: </dt>
					<dd>{{relevancy}}</dd>
				</dl>
			{{/ifNotEmpty}}
			{{#ifNotEmpty docVector}}
				<dl class="js-doc-vector hidden">
					<dt>Doc Vector: </dt>
					<dd>{{{docVector}}}</dd>
				</dl>
			{{/ifNotEmpty}}
			{{#ifNotEmpty extDescription}}
				<dl>
					<dd>
						{{!-- 
							By default, a truncated teaser for the job description is shown. The display of the teaser and full description are 
							mutually exclusive of each other. If the external description is short, there will be no teaser. In that case, we do 
							not provide users the ability to toggle between the teaser and the full description.
						 --}}
						{{#ifNotEmpty extDescriptionTease}}
						<div data-job-desc-tease-id="{{reqId}}">
							<div class="c-search-results__ext-description"><span class="c-search-results__label-title">Description:&nbsp;</span>{{extDescriptionTease}}...</div>
							<div class="c-search-results__expand-btn" onClick="skuid.events.publish('com.jobsearch.toggleReqDescriptionDisplay', [{ reqId: '{{reqId}}' }]); return false;">+ more</div>
						</div>
						{{/ifNotEmpty}}
						<div {{#ifNotEmpty extDescriptionTease}}class="hidden"{{/ifNotEmpty}} data-job-desc-full-id="{{reqId}}">
							<div class="c-search-results__ext-description">
								<span class="c-search-results__label-title">Description:&nbsp;</span>
								{{!-- 
									The external description has been split by newlines, with the results collected in an array. This allows the 
									description to be formatted nicely using HTML line breaks.
								 --}}
								{{#each extDescription}}
									{{this}}
									</br>
								{{/each}}
							</div>
							{{#ifNotEmpty extDescriptionTease}}
							<div class="c-search-results__expand-btn" onClick="skuid.events.publish('com.jobsearch.toggleReqDescriptionDisplay', [{ reqId: '{{reqId}}' }]); return false;">- less</div>
							{{/ifNotEmpty}}
						</div>
					</dd>
				</dl>
			{{/ifNotEmpty}}
		</div>
		<div class="col-md-1 col-sm-1 col-xs-3">
			{{#ifNotEmpty clientJobTitle}}
				<span onClick="skuid.events.publish('com.jobsearch.shareJobSelect', [{ reqId: '{{reqId}}' }]);">
					{{#if ../allowInteraction}}
					<span class="c-search-results__share"><i class="fa fa-paper-plane" aria-hidden="true"></i> <span class="share-text">{{../$Label.TC_share_job_launch_button_label}}</i></span>
					{{/if}}
				</span>
			{{/ifNotEmpty}}
		</div>
	</div>
	{{/each}}
</div>
{{/ifNotEmpty}}
