<div id="job-results-header-box" class="sk-grid">
	<div class="sk-grid-division c-search-summary">
		{{#if jobsFound}}
		<span>
			{{jobCount}} {{$Label.TC_job_found}}
			<br />
			<span class="sub-results">{{$Label.TC_select_jobs_and_contact_me}}</span>
		</span>
		{{else}}
		<p>Sorry, there were no results that matched your search. Please check your spelling or widen your search criteria and try again.</p>
		{{/if}}
	</div>
	
	{{! Only show the top pagination area if at least one job was found. }}
	{{#if jobsFound}}
	<div class="sk-grid-division c-search-pagination top-pagination">
		<div>
			<ul class="c-search-pagination__paginator">
			</ul>
		</div>
	</div>
	{{/if}}
</div>
