<div id="job-results-footer-box" class="sk-grid">
	{{! Only show the bottom pagination area if at least one job was found. }}
	{{#if jobsFound}}
	<div class="sk-grid-division">
	</div>
	<div class="sk-grid-division c-search-pagination">
		<div>
			<ul class="c-search-pagination__paginator">
			</ul>
		</div>
	</div>
	{{/if}}
</div>
