<div class="sk-grid" id="job-results-and-facets-box">
	<div class="sk-grid-division c-search-navigators">
		{{#ifNotEmpty searchFacets}}
		<div class="c-card">

			{{! Loop through each facet category. For example, placement type, date range, etc. }}
			{{#each searchFacets}}
			{{#ifNotEmpty this.navOptions}}
			<div>
				<span class="c-search-navigators__title">
					{{this.label}}
				</span>

				{{! Loop through each option for the current facet category. }}
				{{#each this.navOptions}}
				{{! var isChecked = $.inArray(navJson[i].navOptions[j].key, selectedFilters.split(',')) != -1; }}
				<div class="c-search-navigators__filter">
					<input type="checkbox" value="{{this.key}}" onclick="skuid.events.publish('com.jobsearch.filterReqs');" {{#delimitedTextContains selectedFacets this.key "," true}}{{/delimitedTextContains}} />
					<label>
						{{this.label}}
					</label>
				</div>
				{{/each}}

			</div>
			{{/ifNotEmpty}}
			{{/each}}

		</div>
		{{/ifNotEmpty}}
	</div>
	<div class="sk-grid-division c-search-results js-search-results {{#unless jobsFound}}slds-hidden{{/unless}}">
		{{! The actual found/matched jobs are inserted here. }}
	</div>
</div>
