<div role="dialog" tabindex="-1" aria-labelledby="header43" class="slds-modal c-modal-dialog">
  <div class="slds-modal__container c-modal-dialog__body">
    <div class="slds-modal__header">
      <button class="slds-button slds-button--icon-inverse slds-modal__close" onclick="skuid.events.publish('com.global.modalClose', [{ modalId: 'jobsearch-share-job-modal' }]); return false;">
        <svg aria-hidden="true" class="slds-button__icon slds-button__icon--large">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{$Site.Prefix}}/resource/SLDS202/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
        </svg>
        <span class="slds-assistive-text">{{$Label.TC_modal_close_assist_text}}</span>
      </button>
    </div>
    <div class="slds-modal__content slds-p-around--medium">

      {{{reqDetailsMarkup}}}

      <div class="share-a-job__call-to-action">
        {{#if isAerotek}}
          {{$Label.TC_share_job_explain_2}}
        {{else}}
          {{$Label.TC_share_job_explain_1}}
        {{/if}}
        <br />
        {{$Label.TC_share_job_call_to_action}}
      </div>

      <div class="js-form-level-errors" />

      <form id="share-job-form" action="#">
        {{!-- By default, mimic/use Skuid error styling. --}}
        <div class="row c-refer-a-friend">
            <div class="col-md-4  nx-field c-refer-a-friend__text-input">
              <span class="c-refer-a-friend__required">*</span>
              <label for="share-job-first-name-input" class="">Friend's First Name</label>
              <input id="share-job-first-name-input" class="" type="text" name="share-job-first-name-input" value="" required="required">
            </div>
            <div class="col-md-4 nx-field c-refer-a-friend__text-input">
              <span class="c-refer-a-friend__required">*</span>
              <label for="share-job-last-name-input" class="">Friend's Last Name</label>
              <input id="share-job-last-name-input" class="c-refer-a-friend__text-input c-search-form__form-control" type="text" name="share-job-last-name-input" value="" required="required">
            </div>
            <div class="col-md-4 nx-field c-refer-a-friend__text-input">
              <span class="c-refer-a-friend__required">*</span>
              <label for="share-job-email-input" class="">Friend's Email</label>
              <input id="share-job-email-input" class="c-refer-a-friend__text-input c-search-form__form-control" type="text" name="share-job-email-input" value="" required="required">
            </div>
        </div>
        <div class="c-refer-a-friend__call-to-action">
          {{!-- Set the type of the cancel button (to "button") so that hitting enter on the form does not engage it. --}}
          <button type="button" class="u-btn u-btn--ghost-primary" onclick="skuid.events.publish('com.global.modalClose', [{ modalId: 'jobsearch-share-job-modal' }]); return false;">
            {{$Label.TC_share_job_cancel_button_label}}
          </button>
          <input type="submit" class="u-btn ubtn--primary" value="{{$Label.TC_share_job_submit_button_label}}" onclick="skuid.events.publish('com.jobsearch.shareJob', [{ reqId: '{{reqId}}' }]); return false;" />
        </div>
      </form>
    </div>
  </div>
</div>
<div class="slds-backdrop"></div>