<div>
	<div>
		<span class="c-linkedin__header-text">
			{{$Label.TC_linkedin_import_explain_1}}
		</span>
	</div>
	<div class="c-linkedin__select-all">
		<span>
			<input type="checkbox" name="select-all" id="select-all" class="c-linkedin__checkbox js-select-all-input qa-select-all-input" checked="checked" onclick="skuid.events.publish('com.linkedInImport.onClickSelectAll');" />
		</span>
		<span class="c-linkedin__labels">
			{{$Label.TC_linkedin_import_input_select_all}}
		</span>
	</div>

	<div class="c-linkedin__select-section">
		<span>
			<input type="checkbox" name="title" id="title" class="c-linkedin__checkbox js-title-input qa-title-input" checked="checked" onclick="skuid.events.publish('com.linkedInImport.onClickChoiceCheckbox');" />
		</span>
		<span class="c-linkedin-labels">
			{{$Label.TC_linkedin_import_input_title}}
		</span>
	</div>
	<div class="c-linkedin__select-section">
		<span>
			<input type="checkbox" name="industry" id="industry" class="c-linkedin__checkbox js-industry-input qa-industry-input" checked="checked" onclick="skuid.events.publish('com.linkedInImport.onClickChoiceCheckbox');" />
		</span>
		<span class="c-linkedin-labels">
			{{$Label.TC_linkedin_import_input_industry}}
		</span>
	</div>
	<div class="c-linkedin__select-section">
		<span>
			<input type="checkbox" name="linkedin-url" id="linkedin-url" class="c-linkedin__checkbox js-linkedin-url-input qa-linkedin-url-input" checked="checked" onclick="skuid.events.publish('com.linkedInImport.onClickChoiceCheckbox');" />
		</span>
		<span class="c-linkedin-labels">
			{{$Label.TC_linkedin_import_input_linkedin_url}}
		</span>
	</div>
	<div class="c-linkedin__select-section">
		<span>
			<input type="checkbox" name="summary" id="summary" class="c-linkedin__checkbox js-summary-input qa-summary-input" checked="checked" onclick="skuid.events.publish('com.linkedInImport.onClickChoiceCheckbox');" />
		</span>
		<span class="c-linkedin-labels">
			{{$Label.TC_linkedin_import_input_summary}}
		</span>
	</div>
	<div class="c-linkedin__button-wrapper">
		{{!-- Set the type of the cancel button (to "button") so that hitting enter on the form does not engage it. --}}
		<button type="button" class="u-btn u-btn--ghost-primary js-cancel-button" onclick="skuid.events.publish('com.linkedInImport.onFormCancel'); return false;">
			{{$Label.TC_linkedin_import_button_cancel}}
		</button>
		<input type="submit" class="u-btn ubtn--primary js-submit-button qa-submit-button" value="{{$Label.TC_linkedin_import_button_submit}}" onclick="skuid.events.publish('com.linkedInImport.onFormSubmit'); return false;" />
	</div>
</div>
