<div class="c-disabled-message">
    <span class="main-message">{{$Label.TC_login_disabled_teksystemsemea}} <a href="https://europe.teksystems.com/en-gb/locations" target="_blank">https://europe.teksystems.com/en-gb/locations</a>.</span>
    <ul>
        <li class="c-disabled-message__list-item">
            <a target="_blank" href="https://www.linkedin.com/company/2152?trk=vsrp_companies_res_name&amp;trkInfo=VSRPsearchId:394525511380288772477,VSRPtargetId:2152,VSRPcmpt:primary">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
        </li>
        <li class="c-disabled-message__list-item">
            <a target="_blank" href="https://www.facebook.com/teksystems">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
        </li>
        <li class="c-disabled-message__list-item">
            <a target="_blank" href="https://www.youtube.com/user/TEKsystems08">
                <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
        </li>
        <li class="c-disabled-message__list-item">
            <a target="_blank" href="https://twitter.com/TEKsystems">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </li>
        <li class="c-disabled-message__list-item">
            <a target="_blank" href="https://www.pinterest.com/teksystems">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
            </a>
        </li>
        <li class="c-disabled-message__list-item">
            <a target="_blank" href="https://www.instagram.com/teksystems">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</div> 