<div class="c-disabled-message">
    <span class="main-message">{{$Label.TC_login_disabled_aerotekemea}} <a href="https://www.aerotek.com/locations" target="_blank">https://www.aerotek.com/locations</a>.</span>
    <ul>
        <li class="c-disabled-message__list-item">
            <a target="_blank" href="https://www.linkedin.com/company/aerotek">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
        </li>
        <li class="c-disabled-message__list-item">
            <a target="_blank" href="https://www.facebook.com/Aerotek">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
        </li>
        <li class="c-disabled-message__list-item">
            <a target="_blank" href="https://www.youtube.com/user/RecruitingStaffing">
                <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
        </li>
        <li class="c-disabled-message__list-item">
            <a target="_blank" href="https://twitter.com/aerotek">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </li>
        <li class="c-disabled-message__list-item">
            <a target="_blank" href="https://plus.google.com/+aerotek">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</div> 