<div class="c-disabled-message">
    <span class="main-message">Your access to Aston Carter’s exclusive talent community is now at an end. To stay connected with us please follow us on social media. Should you require immediate assistance please contact your recruiter or local office: <a href="https://www.astoncarter.com/en-ca/our-story/contact-us#locations" target="_blank">Aston Carter locations</a>.</span>
    <ul>
        <li class="c-disabled-message__list-item">
            <a target="_blank" href="https://www.linkedin.com/company/aston-carter">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</div>
