/* support center / article */ 
.content .slds-form-element__label {
	display: none;
}

.summary .meta  {
        display:none;
}

.forcePageBlockSectionRow:nth-of-type(2), .forcePageBlockSectionRow:nth-of-type(3),.forcePageBlockSectionRow:nth-of-type(4)  {
         display: none;
}

/* Fix profile banner on mobile */
@media only screen and (max-width: 768px) {
    .profile-header {
		margin-top: 34px;
    }
}

/* Support center link style */
.cTc_FAQ h2.categoryHeader {
    font-size: 1.2rem;
    color: #006B3F !important;
}

/* end date bar style */
.progressPill {
    background-color:#006B3F !important;
    border-radius:20px;
    color:white;
    float:right;
    height:24px;
    min-width: 85px;
    /* Get rid of float and use this to move a pill along the line
    left:calc(100% - 93px);*/
    line-height:24px;
    padding:0 20px;
    position:relative;
    top:-5px;
}

a.profileLink .slds-icon-text-default {
    fill: #006B3F;
}
/* notification bell fix */
.siteforceServiceBody .cNotifications .unsNotificationsCounter {
    color: #006B3F !important;
	background-color: transparent !important;
}
.siteforceServiceBody .cNotifications .unsNotificationsCounter .tooltipTrigger {
    color: #fff !important;
}

/* fixes for tc_banner */
.outage-banner {
    position: fixed;
    top: 0;
    right: 0em;
    width: 100%;
    z-index: 9999;
}

.accountSection .sectionbox:last-of-type {
    display: none;
}

.cHeaderPanel .cNavBarCon,
.detailsData .forceRecordView .test-id__section:first-of-type .slds-content__content .slds-form .forcePageBlockSectionRow,
.forceCommunityReputationWidget,
.mobile-menu,
.toastHidden {
    display: none
}

.cuf-preamble a.cuf-entityLink,
.entityLinkFeedItemImageHover .cuf-entityLinkID a.cuf-entityLink,
.forceChatterFeedItem .entityLinkHover a,
.forceChatterStyle .forceChatterEntityPhoto.standardSize,
a.cuf-entityLink,
a.cuf-entityLink.undefined {
    pointer-events: none;
    display:inline-block;
    cursor: default;
    text-decoration: none
}

.forceChatterFeedItemHeader .forceChatterEntityLink {
    pointer-events: none;
    display:inline-block;
    cursor: default;
    text-decoration: none
}

.forceSocialPhoto_v2.photoContainer {
    pointer-events: none;
    display:inline-block;
    cursor: default;
    text-decoration: none
}

.forceChatterEntityPhoto .image, .forceChatterEntityPhoto .uiImage {
    pointer-events: none;
    display:inline-block;
    cursor: default;
    text-decoration: none
}

.forceOutputOwnerIdLookupWithChangeLink .ownerName .photoContainer:not(:empty)+a.forceOutputLookup {
    pointer-events: none;
    display:inline-block;
    cursor: default;
    text-decoration: none
}

.forceChatterFacepilePreviewItem.photoBox .forceChatterEntityPhoto {
    pointer-events: none;
    display:inline-block;
    cursor: default;
    text-decoration: none
}

.forceOutputLookupWithPreview a {
    pointer-events: none;
    display:inline-block;
    cursor: default;
    text-decoration: none
}

.photoBox a {
    pointer-events: none;
    display:inline-block;
    cursor: default;
    text-decoration: none
}

.astoncarterFooter,
.astoncarterFooter a {
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px
}

.mobile-menu .show-menu,
.mobile-menu li a,
.slds-button {
    text-transform: capitalize;
}

.comm-navigation.forceCommunityGlobalNavigation {
    transform: translateY(-100%)!important
}

.forceCommunityUserProfileBody .cUserProfileCon {
    margin-top: 0!important
}

.forceCommunityUserProfileBody .cUserProfileDetailCon {
    padding-right: 0!important;
    width: 100%!important
}

.profileVisibilitySection {
    display: none!important
}

.test-listViewManager .forceListViewManagerHeader li.slds-button,
li.myAccount {
    display: none
}

.cuf-preamble a.cuf-entityLink .uiOutputText {
    border: none!important;
    display: block!important
}

.cuf-preamble .uiOutputText {
    display: none
}

.cuf-preamble a.cuf-entityLink,
a.cuf-entityLink {
    color: inherit
}

.forceCommunityRecordListStandard .uiScroller.native {
    outline: 0
}

.oneAlohaPage {
    position: relative!important;
    z-index: 8!important
}

.forceCommunityDeflection .uiAutocompleteList {
    z-index: 999!important
}

.slds-comment__content .cuf-feedBodyText .feedBodyInner p .cuf-entityLinkId a.cuf-mention,
span.cuf-entityLinkId {
    pointer-events: none;
    display: inline-block;
    cursor: default;
    text-decoration: none;
    color: inherit!important
}

article.cuf-commentItem .comment__header p.cuf-commentNameLink {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: inherit!important
}

.slds-dropdown-trigger {
    pointer-events: auto!important;
    cursor: auto!important
}

body {
    font-family: inherit;
    font-style: normal;
    font-weight: 400
}

.slds-progress-bar__value_success {
    background: rgb(194,161,13);
}

.forceAsyncCarouselIndicator .tab.selected .dot-indicator {
    background-color: #006b3f!important
}

.cTc_KeyContacts a {
    font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit !important;
    font-weight: 800
}

.accountSection div .sectionbox:first-of-type {
    display: none!important
}

.cTc_Navigation.comm-navigation {
    position: relative;
    z-index: 9;
    /*background-color: #021a32 !important;
    color: #FFF !important;*/
}

/***/
.slds-button_brand,
.slds-button--brand,
.slds-button_neutral,
.slds-button--neutral,
.uiButton {
    text-transform: capitalize;;
    font-family: inherit;
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
    background-color: #006B3F;
    color: #FFF !important;
    border-width: 2px !important;
    border-style: solid !important;
    border-image: initial;
    border-color: transparent !important;
    min-height: 36px;
    box-sizing: border-box;
    transition: all .2s ease !important;
    -webkit-transition: all .2s ease !important;
}
.slds-button_neutral,
.slds-button--neutral {
    background-color: #fff !important;
    color: #006B3F !important;
    border-color: #006B3F !important;
}

.slds-button_brand:hover:enabled,
.slds-button--brand:hover:enabled,
.slds-button_neutral:hover:enabled,
.slds-button--neutral:hover:enabled,
.uiButton:hover {
    background-color: #003821 !important;
    color: #FFF !important;
}

.slds-button_brand:focus,
.slds-button--brand:focus,
.slds-button_neutral:focus,
.slds-button--neutral:focus,
.uiButton:focus {
    background-color: #003821 !important;
    color: #FFF !important;
}

.slds-button_brand:active,
.slds-button--brand:active,
.slds-button_neutral:active,
.slds-button--neutral:active,
.uiButton:active {
    background-color: #003821 !important;
    color: #FFF !important;
}

.forceCommunityAskCommunity.askCommunityBtn,
.communityBtn {
    color: #FFF !important;
    font-family: inherit;
    font-size: 0.9rem !important;
    border: inherit !important;
    border-width: 2px !important;
    border-color: #006B3F !important;
    border-style: solid !important;
    box-sizing: border-box;
    transition: all .2s ease !important;
    -webkit-transition: all .2s ease !important;
}

.forceCommunityAskCommunity.askCommunityBtn:hover,
.communityBtn:hover {
    color: #FFF !important;
    font-family: inherit;
}

.forceCommunityAskCommunity.askCommunityBtn:focus,
.communityBtn:focus {
    color: #FFF !important;
    font-family: inherit;
}

.forceCommunityAskCommunity.askCommunityBtn:active,
.communityBtn:active {
    color: #FFF !important;
    font-family: inherit;
}

.forcePublisherQuickActionCollapser .dummyButtonCallToAction:hover {
  background-color: initial !important;
  color: inherit !important;
}

.slds-pill__remove {
  background-color: transparent !important;
  border-color: transparent !important;
}

.slds-pill__remove:hover {
  background-color: transparent !important;
  border-color: transparent !important;
}

.slds-pill__remove:active {
  background-color: transparent !important;
  border-color: transparent !important;
}

.slds-pill__remove:focus {
  background-color: transparent !important;
  border-color: transparent !important;
}

.cancelButton,
.forceKnowledgeArticleThumbVote .slds-button,
.forceModalActionContainer--footerAction .slds-button:first-of-type {
    background-color: #FFF!important;
    color: #006B3F !important;
    border: 2px #006B3F solid !important;
    transition: all .2s ease !important;
    -webkit-transition: all .2s ease !important;
}

.cancelButton:hover,
.forceKnowledgeArticleThumbVote .slds-button:hover,
.forceModalActionContainer--footerAction .slds-button:first-of-type:hover {
    background-color: #FFF!important;
    color: #003821 !important;
    border: 2px #006B3F solid !important;
}

.cancelButton:focus,
.forceKnowledgeArticleThumbVote .slds-button:focus,
.forceModalActionContainer--footerAction .slds-button:first-of-type:focus {
    background-color: #003821 !important;
    color: #FFF !important;
}

.cancelButton:active,
.forceKnowledgeArticleThumbVote .slds-button:active,
.forceModalActionContainer--footerAction .slds-button:first-of-type:active {
    background-color: #003821 !important;
    color: #FFF !important;
}
/* topic following fix
.forceChatterChatterNotification {
  border-left: 1px solid #006B3F !important;
}

.forceChatterChatterFollow .button {
  color: #006B3F !important;
} */

/* topic following fix */
.forceChatterChatterNotification {
  border-left: 1px solid #006B3F !important;
}

.forceChatterChatterFollow .following {
  color: #006B3F !important;
}
/*follow button */

.forceChatterChatterFollow .slds-button:hover {
  color: #FFF !important;
  background-color: #003821 !important;
}
.forceChatterChatterFollow .slds-button:visited {
  color: #FFF !important;
  background-color: #003821 !important;
}
.forceChatterChatterFollow .slds-button:focus {
  color: #FFF !important;
  background-color: #003821 !important;
}
.forceChatterChatterFollow .slds-button:active {
  color: #FFF !important;
  background-color: #003821 !important;
}

/*follow button */

.forceChatterChatterFollow .slds-button:hover {
  color: #FFF !important;
  background-color: #003821 !important;
}
.forceChatterChatterFollow .slds-button:visited {
  color: #FFF !important;
  background-color: #003821 !important;
}
.forceChatterChatterFollow .slds-button:focus {
  color: #FFF !important;
  background-color: #003821 !important;
}
.forceChatterChatterFollow .slds-button:active {
  color: #FFF !important;
  background-color: #003821 !important;
}

/*icon fix for former job card */
.cTc_MatchedJobs .icon-circle {
  width: 32px !important;
  height: 32px !important;
}

.cTc_MatchedJobs .indicator-area .icon-circle .slds-icon {
  top: 3px !important;
  left: 4px !important;
}

.cTc_MatchedJobs .indicator-area .icon-circle .slds-icon .slds-icon-text-default {
  fill: #FFF !important;
}
body .uiTabset--default .tabs__item.active > a {
    color:  #006B3F  !important;
    border-color:  #007db8  !important;
}

.forceCommunityCreateRecordButton button, .forceCommunityCreateRecordButton .triggerLink {
    font-family: inherit !important;
    color: #007db8 !important;
}

.forceCommunityAskCommunity.askCommunityBtn {
    color: #fff !important;
    font-family: inherit;
}

.slds-button_brand, .slds-button--brand {
    color: #fff !important;
}

.slds-global-header__button--icon {
    color: #FFF!important;
    background-color: inherit!important;
    padding: 0!important;
    border: 0
}

.slds-icon-utility-close,
.slds-modal__close,
.slds-pill .slds-button--neutral,
.slds-pill .slds-button--neutral:hover {
    padding: 0!important;
    border: 0!important
}

.forceKnowledgeArticleThumbVote .slds-button {
    padding: 0 !important
}

.cuf-publisherAttachmentButton,
.slds-icon-utility-filterList {
    background-color: #FFF!important;
    color: #006B3F !important;
    padding: 0!important;
    border: 0!important
}

.slds-icon-utility-close {
    background-color: inherit!important;
    color: inherit!important
}

.slds-pill .slds-button--neutral {
    background-color: #FFF!important
}

.slds-pill .slds-button--neutral:hover {
    background-color: inherit!important
}

.slds-modal__close {
    background-color: transparent!important;
    color: #FFF!important
}

.dummyButtonCallToAction {
    background-color: #FFF!important;
    color: #006B3F!important;
    padding: 0 0 0 5px!important
}

.webname {
    display: none
}

.webnamehidden {
    visibility: hidden
}

td.slds-cell-edit:nth-of-type(5) {
    display: none!important
}

tr td a.outputLookupLink {
    pointer-events: none;
    display:inline-block;
    cursor: default;
    text-decoration: none;
    color: inherit!important
}

.viewAllLink {
    display: none
}

.astoncarterFooter {
  background-color: #E8E8E8 !important;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
}

.astoncarterFooterContainer {
  background-color:rgba(0, 0, 0, 0.2);
  padding:20px 10px;
  text-align:center;
}

.astoncarterFooter {
  background-color: #E8E8E8 !important;
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
}

.slds-theme_info {
    padding: .5rem 1rem .5rem .5rem!important
}

.mobile-menu li a,
.mobile-menu ul {
    text-align: center;
    background: #006B3F
}

.mobile-menu {
    width: 100%;
    line-height: 1.6em;
    font-weight: 400;
    text-align: center;
    position: relative;
    background-color: #006B3F
}

.mobile-menu ul {
    list-style-type: none;
    margin: 0 auto;
    padding-left: 0;
    width: 100%;
    position: absolute
}

.mobile-menu li {
    display: inline-block
}

.mobile-menu li a {
    display: block;
    min-width: 140px;
    font-family: inherit;
    color: #fff;
    text-decoration: none;
    margin-left: -5px;
    padding: 10px 0;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s
}

.mobile-menu li:hover a {
    color: #fff
}

.mobile-menu li:hover ul a {
    background: #f3f3f3;
    color: #fff;
    height: 40px;
    line-height: 40px
}

.mobile-menu li:hover .mobile-menu ul a:hover {
    color: #fff
}

.mobile-menu li ul {
    display: none
}

.mobile-menu li ul li {
    display: block;
    float: none
}

.mobile-menu li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px
}

.mobile-menu .show-menu {
    text-decoration: none;
    color: #fff;
    background: 0 0;
    padding: 10px 15px;
    display: none;
    cursor: pointer
}

.mobile-menu .show-menu svg {
    fill: #fff !important;
}

.slds-icon-utility-chevrondown svg {
    fill: #fff !important;
}

.mobile-menu span.menu-text {
    font-family: inherit;
    font-style: normal;
    font-weight: 800;
    top: 3px;
    padding-left: 5px;
    position: relative;
    font-size: 1.1em
}

.mobile-menu input[type=checkbox] {
    display: none
}

.mobile-menu input[type=checkbox]:checked~#menu {
    display: block
}

.mobile-menu hr {
    margin-top: 0!important;
    margin-bottom: 0!important
}

.forceCommunityActionsContainerMobile {
    display: none!important
}

@media screen and (max-width:768px) {
    /* fix ats education modal on mobile */
    .cTC_TalentEducationTimeline .slds-modal__container {
      margin: 0 !important;
      padding: 0 !important;
    }
    .cTC_TalentEducationTimeline .slds-modal__header {
      display: none;
    }
    .cTC_TalentEducationTimeline .slds-modal__content {
      padding: 0px 10px;
    }
    /**/

    /* fix ShareAJob modal on mobile */
    .cTc_ShareAJob .slds-modal__container {
      margin: 0 !important;
      padding: 0 !important;
      max-height: calc(100vh);
      overflow-y: auto;
    }
    .cTc_ShareAJob .slds-modal__header {
      display: none;
    }
    .cTc_ShareAJob .slds-modal__content {
      padding: 0px 10px;
    }

    .cTc_ShareAJob .slds-button_brand {
      border: 2px #006B3F solid !important;
      min-height: 41px !important;
    }
    /**/

    /* fix ats certification modal on mobile */
    .cTc_TalentCertificationTimeline {
      margin-top: 25px;
    }
    .cTc_TalentAddEditCertificationModal .slds-modal__container {
      margin: 0 !important;
      padding: 0 !important;
    }
    .cTc_TalentAddEditCertificationModal .slds-modal__header {
      display: none;
    }
    .cTc_TalentAddEditCertificationModal .slds-modal__content {
      padding: 0px 10px;
    }
    /**/

    /* fix resume upload on mobile */
    .cTc_TalentDocumentModal .slds-modal__container {
      margin: 0 !important;
      padding: 0 !important;
    }
    .cTc_TalentDocumentModal .slds-modal__header {
      display: none;
    }
    .cTc_TalentDocumentModal .slds-modal__content {
      padding: 10px 25px;
    }
    .cC_FileUpload .slds-file-selector__dropzone {
      padding: 5px 5px !important;
    }
    /**/
    /* fix skills goals and interests modal on mobile */
    .cTc_Preferences .slds-modal__container {
      margin: 0 !important;
      padding: 0 !important;
    }
    .cTc_Preferences .slds-modal__header {
      display: none;
    }
    .cTc_Preferences .slds-modal__content {
      padding: 10px 25px;
    }
    .cTc_Preferences .slds-button_brand, .slds-button--brand, .slds-button_neutral, .slds-button--neutral, .uiButton {
      min-height: 41px !important;
    }
    /**/

    .detailsData .forceRecordLayout .forcePageBlockSectionRow {
        font-size: 1rem
    }
    .forcePageBlockSection .section-header-title {
        font-size: 1.2rem!important;
        text-transform: capitalize;
    }
    .siteforceServiceBody .cHeaderOverlay {
        background: #E8E8E8
    }
    .mobile-menu ul {
        position: static;
        display: none
    }
    .mobile-menu li {
        margin-bottom: 1px
    }
    .mobile-menu li a,
    .mobile-menu ul li {
        width: 100%
    }
    .mobile-menu li a:active,
    .mobile-menu li a:focus,
    .mobile-menu li a:hover {
        width: 100%;
        color: #fff!important
    }
    .mobile-menu,
    .mobile-menu .show-menu {
        display: block
    }
    .cNavBarCon,
    .cTopLeftCon {
        display: none
    }
    .siteforceServiceBody .forceCommunityGlobalNavigation {
        height: auto!important;
        display: none
    }
    .certFixForMobile {
        margin-top: 1rem
    }
    .siteforceServiceBody .cBrandingProfile {
        width: 55%!important
    }
    .siteforceServiceBody .cHeaderLine {
        padding: 1.5rem .5rem 1rem!important
    }
    .forceCommunityGlobalNavigation .slds-list_horizontal>.slds-list__item>.slds-is-nested {
        min-width: 100%!important
    }
    /*** Mobile Job Search ***/
    .jobcart .slds-button {
        font-size: 10px;
    }
    .jobcart p {
        font-size: 14px !important;
    }
    .cTc_JobSearchResults .addtInfoText {
        line-height: 1.2rem;
    }
    /* hide manager and company on mobile */
    .detailsData .full .forcePageBlockSection:first-of-type .test-id__section-content .slds-form .forcePageBlockSectionRow:nth-of-type(2) {
        display: block;
    }
    .detailsData .full .forcePageBlockSection:first-of-type  .test-id__section-content .slds-form .forcePageBlockSectionRow:nth-of-type(3) {
        display: none;
    }
    .detailsData .full .forcePageBlockSection:first-of-type .test-id__section-content .slds-form .forcePageBlockSectionRow:nth-of-type(4) {
        display: none;
    }
    .detailsData .test-id__section:nth-of-type(2) .forcePageBlockSectionRow:nth-of-type(2) {
          display: flex !important;
    }
    .detailsData .test-id__section:nth-of-type(2) .forcePageBlockSectionRow:nth-of-type(3) {
          display: none !important;
    }
    .detailsData .test-id__section:nth-of-type(2) .forcePageBlockSectionRow:nth-of-type(4) {
          display: none !important;
    }

    /* hide manager and company on modal mobile */
    .test-id__section:first-of-type .test-id__section-content:nth-of-type(2)  .slds-is-editing .forcePageBlockSectionRow:nth-of-type(2) {
        display: block;
    }
    .test-id__section:first-of-type .test-id__section-content  .slds-is-editing .forcePageBlockSectionRow:nth-of-type(3) {
        display: none;
    }
    .test-id__section:first-of-type .test-id__section-content .slds-is-editing .forcePageBlockSectionRow:nth-of-type(4) {
        display: none;
    }

    .comm-page-custom-faq .narrowGrid {
        padding:0 !important;
    }
}

/* hide manager and company off the standard user profile component hack
 .detailsData .full .forcePageBlockSection .test-id__section-content .slds-form .forcePageBlockSectionRow:nth-of-type(2) {
     display: none;
 } */

 .detailsData .test-id__section:first-of-type .forcePageBlockSectionRow:nth-of-type(2) {
       display: none;
 }
 .detailsData .test-id__section:nth-of-type(2) .forcePageBlockSectionRow:nth-of-type(2) {
       display: none;
 }
 .detailsData .test-id__section:nth-of-type(2) .forcePageBlockSectionRow:nth-of-type(3) {
       display: flex;
 }
 .forceDetailPanelMobile .test-id__section:first-of-type .test-id__section-content .slds-is-editing .forcePageBlockSectionRow:nth-of-type(2) {
       display: block;
 }
 .test-id__section:first-of-type .test-id__section-content .slds-is-editing .forcePageBlockSectionRow:nth-of-type(2) {
       display: none;
 }
 .forceDetailPanelMobile .test-id__section:nth-of-type(2) .test-id__section-content .slds-is-editing .forcePageBlockSectionRow:nth-of-type(2) {
       display: block;
 }
 .forceDetailPanelMobile .test-id__section:nth-of-type(2) .test-id__section-content .slds-is-editing .forcePageBlockSectionRow:nth-of-type(3) {
       display: none;
 }
 .forceDetailPanelMobile .test-id__section:nth-of-type(2) .test-id__section-content .slds-is-editing .forcePageBlockSectionRow:nth-of-type(4) {
       display: none;
 }
 .test-id__section:nth-of-type(2) .test-id__section-content .slds-is-editing .forcePageBlockSectionRow:nth-of-type(2) {
       display: none;
 }

.forceCommunityGlobalNavigation .slds-list_horizontal>.slds-list__item>.slds-is-nested {
    min-width: 0!important
}

.cTc_Navigation .comm-navigation {
    background-color: rgb(0, 107, 63) !important;
}

.forceCommunityGroupHighlightStencilNapili .action li.slds-button:first-of-type {
    display: none;
}

.forceCommunityGroupHighlightStencilNapili .action .slds-button,
.forceCommunityGroupHighlightStencilNapili .action .slds-button a {
    color: #FFF;
}

.oneActionsRibbon li.slds-button--neutral>a {
    color: #FFF !important;
}

.forceCommunityGroupRecordHomeTabs .detailRelatedList .forceRelatedListSingleContainer:nth-of-type(1) {
    display: none;
}

.forceCommunityGroupRecordHomeTabs .detailRelatedList .forceRelatedListSingleContainer:nth-of-type(2) {
    display: none;
}

.forceChatterEditGroupNotificationSettings.uiButton.picker, .forceChatterEditGroupNotificationSettings.uiButton.pickerSelected {
    background-color: #006B3F !important;
}

.slds-progress-bar__value_success {
    background: rgb(194,161,13) !important;
}

.forceCommunityCreateRecordForm .forcePageBlockItemEdit .uiInputCheckbox {
    display: none !important;
}

.forceCommunityGroupHighlightStencilNapili .actions ul.forceActionsContainer li.slds-button:first-of-type {
    display: none !important;
}

.forceTopicFeaturedTopics .topicLabel {
    color: #FFF !important;
}

.slds-theme_info {
    color: #FFF !important;
}

.forceCommunityTileMenu .forceCommunityTileMenuItem {
    max-width: 180px;
}


/********* Job Search ********/

.cTc_JobSearchResults .searchResult {
    border: 1px solid #021a32 ;
    border-radius: 5px;
}

.cTc_JobSearchResultItem .searchResultsChk .checkmark {
    border: 1px solid #9a9b9c ;
    border-radius: 5px;
}

.cTc_JobSearchResults .facetCheckbox {
    border: 1px solid #9a9b9c;
    outline: 0;
}

.uiInput--default select, select.uiInput--default {
    border: 1px solid #9a9b9c  !important;
    border-radius: 5px !important;
    min-height: 20px;
}

.slds-has-inline-listbox, .slds-has-object-switcher {
    border: 1px solid #9a9b9c ;
    border-radius: 5px;
}

.cTc_JobSearchResultItem .searchResultsChk .checkmark {
    border: 1px solid #9a9b9c !important;
}

.slds-select_container .slds-select {
    border: 1px solid #9a9b9c ;
    border-radius: 5px;
}

.forceChatterQuestionPostDesktop .slds-select_container {
    border: none !important;
}

.forceChatterQuestionPostDesktop .slds-select_container .slds-select {
    border: 1px solid #9a9b9c !important;
}

/* ask a question modal*/
.slds-rich-text-editor {
    border: 1px solid #9a9b9c !important;
}

/* hide manager and company off the standard user profile component hack
 .detailsData .full .forcePageBlockSection .test-id__section-content .slds-form .forcePageBlockSectionRow:nth-of-type(2) {
     display: none;
 } */

 .detailsData .test-id__section:first-of-type .forcePageBlockSectionRow:nth-of-type(2) {
       display: none;
 }
 .detailsData .test-id__section:nth-of-type(2) .forcePageBlockSectionRow:nth-of-type(2) {
       display: none;
 }
 .test-id__section-content .slds-is-editing .forcePageBlockSectionRow:nth-of-type(2) {
       display: none;
 }

.tooltipTrigger {
  color: #FFF  !important;
}
.tooltipTrigger:hover {
  color: #e8e8e8  !important;
}

.uiInput--input .input, .uiInput--input.input {
      color: #021a32 !important;
      border: 1px solid #9a9b9c !important;
      box-shadow: none;
}

.uiInput--textarea .textarea, .uiInput--textarea.textarea {
      color: #021a32 !important;
      border: 1px solid #9a9b9c !important;
      box-shadow: none;
}

.selfServiceProfileMenuTrigger a {
    text-shadow: inherit !important;
}
.forceCommunityTileMenuItem .imagePreview {
    border: 1px solid rgb(244, 244, 244) !important;
    border-radius: .25rem;
    background-clip: padding-box;
    box-shadow: none;
}

.cTc_JobSearchResults h2 {
    color: #006B3F !important;
    display: inline-block;
    font-size: 19px;
    font-weight: 700;
}

.cTc_Pagination a.current {
    background-color: #006B3F !important;
    color: white;
    cursor: pointer;
    pointer-events: none;
    display:inline-block;
}

.cTc_JobSearchResults.jobcart .count, .cTc_JobSearchAutoMatchResults.jobcart .count {
    background-color: #006B3F !important;
}

h2.cTc_JobSearchLightning {
    font-size: 25px !important;
}

.cTc_LinkedInButton .slds-popover p {
    color: #FFF !important;
}

.siteforceServiceBody .cBrandingLogo:focus {
    box-shadow: #006B3F !important;
}

.forceCommunityTileMenuItem .tileLabel {
    color: #007db8 !important;
    font-size: 1rem !important;
    font-family: inherit;
}

.cTc_Navigation .comm-navigation .slds-list__item a, .cTc_Navigation .comm-navigation .slds-list__item button {
    font-size: 1rem !important;
    text-transform: capitalize !important;
    font-family: inherit;
}

slds-button slds-button_brand communityBtn selfServiceContactSupport {
  font-size: 1rem !important;
  text-transform: capitalize !important;
  font-family: inherit;
}

.forceCommunityRecordListStandard .listTitle {
	display: none;
}

.siteforceServiceBody .cSearchPublisher .mobile-search-icon {
    fill: #FFFFFF !important;
    color: #FFFFFF!important;
}

.cTc_Navigation .comm-navigation>*, .cTc_Navigation .comm-navigation>*>.slds-grid {
    font-family: inherit !important;
}

.forceCommunityGlobalNavigation .slds-list__item a, .forceCommunityGlobalNavigation .slds-list__item button {
   font-size: 1rem !important;
   font-family: inherit !important;
}

.forceCommunityGlobalNavigation .slds-list__item a:hover {
  color: #FFF !important;
}

.selfServiceContactSupport.communityBtn {
    font-size: 0.9rem !important;
    font-family: inherit;
}

.cTc_Contact {
   font-size: 1rem !important;
   padding: 5px 20px;
}

.forceChatterQuestionPostDesktop .showMoreDetailsLink {
   color: #006B3F !important;
}

.selfServiceProfileMenuTrigger .trigger-link:focus {
   color: #006B3F !important;
   box-shadow: 0 0 0 1px #006B3F !important;
}

.cTC_TalentEducationTimeline .slds-media .slds-col>.slds-button, .cTC_TalentEducationTimeline .slds-button.expandButton {
   color: #006B3F !important;
}

.cTc_TalentCertificationTimeline .slds-media .slds-col>.slds-button, .cTc_TalentCertificationTimeline .slds-button.expandButton {
   color: #006B3F !important;
}

.forceCommunitySearchBox .search-button {
   font-family: inherit !important;
}

.forceChatterChatterFollow .button {
   font-size: 1rem !important;
   font-family: inherit !important;
}

.recordListMobile .listContent li.dark {
    pointer-events: none;
    display:inline-block;
    cursor: default;
    text-decoration: none
}

ul.dark li.forceListRecord a ul.itemRows .tableRowGroup:nth-of-type(4) {
  display: none;
}

.slds-theme_success, .slds-theme--success {
    color: #fff !important;
}

.inFeed article.cuf-commentItem .comment__header {
    pointer-events: inherit !important;
    cursor: inherit !important;
}

/* cTc_LinkedInButton link color fix */
.cTc_LinkedInButton .slds-popover__body a {
   color: #FFF !important;
   text-decoration: underline;
}

/* enddate notification button override */
.toastTitle .uiButton {
  background-color: #021a32 !important;
  padding: 0px 10px !important;
  font-size: 0.9rem !important;
  text-decoration: none !important;
}
/**/

.slds-popover_tooltip .slds-popover__body {
    color:white !important;
}

/* Save a Job Heart Color */
.saveHeart,
.shareajobButton {
    fill:#006B3F;
    -webkit-text-fill-color:#006B3F;
}
.cTc_PreferenceCenter .requiredField {
    border-color:red !important;
}

/* Hide extra tabs in My Settings page */
.userSettingTabs .uiTabBar {
    display: none !important;
}

.comm-page-custom-faq .narrowGrid {
    padding:0 15%;
}

::selection {
  background: #A4D7F4; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #A4D7F4; /* Gecko Browsers */
}