<template>
    <lightning-record-edit-form object-api-name="Case" record-id={originId} onload={handleFormLoad} onsuccess={handleFormSuccess} onerror={handleFormError} id="caseStandard">
        <template if:true={isLoading}>
            <lightning-spinner variant="brand" size="large" alternative-text="Form Loading..."></lightning-spinner>
        </template>
        <div class="accordion-header">
             <lightning-accordion-section name="section0" label="Standard Fields">
                <div class="accordion-content">
                    
                    <div class="slds-grid slds-gutters">

                        <div class="slds-col col-50">
                            <label class="slds-form-element__label slds-truncate" title="Adjustment Type">Adjustment Type</label>
                            <div class="col-100">
                                <lightning-input-field variant="label-hidden" field-name="CR_Adjustment_Type__c" required disabled={caseReadonly} >
                                </lightning-input-field>
                            </div>
                            <label class="slds-form-element__label slds-truncate" title="Pay Group">Pay Group</label>
                            <div class="col-100">
                                <lightning-input-field variant="label-hidden" field-name="CR_Pay_Group__c" required disabled={caseReadonly} >
                                </lightning-input-field>
                            </div>
                            <label class="slds-form-element__label slds-truncate" title="Action Required">Action Required</label>
                            <div class="col-100">
                                <lightning-input-field variant="label-hidden" field-name="CR_Action_Required__c" required onchange={handleActionRequired} disabled={caseReadonly}>
                                </lightning-input-field>
                            </div>
                            <label class="slds-form-element__label slds-truncate" title="Explanation of Request">Explanation of Request</label>
                            <div class="col-100">
                                <lightning-input-field variant="label-hidden" field-name="Explanation_of_Request__c" required disabled={caseReadonly} >
                                </lightning-input-field>
                            </div>
                            <label class="slds-form-element__label slds-truncate" title="Is the Check being sent to an address other than the office?">Is the Check being sent to an address other than the office?</label>
                            <div class="col-100">
                                <lightning-input-field variant="label-hidden" field-name="Is_the_Check_being_sent_to_an_address__c" required onchange={handleCheckAddress} disabled={caseReadonly}>
                                </lightning-input-field>
                            </div>
                            <template if:true={isAddressChange}>
                                <label data-label="addressChange" class="slds-form-element__label slds-truncate" title="Please enter the address where the check should be sent">Please enter the address where the check should be sent</label>
                                <div class="col-100">
                                    <lightning-input-field data-id="addressChange" variant="label-hidden" field-name="Please_enter_the_address__c" required disabled={caseReadonly}>
                                    </lightning-input-field>
                                </div>
                            </template>
                            
                        </div>

                        <div class="slds-col col-50">
                            <label class="slds-form-element__label slds-truncate" title="Contact PS ID">Contact PS ID</label>
                            <div class="col-100 custom-formula">
                                <lightning-input-field variant="label-hidden" field-name="Contact_s_Peoplesoft_ID__c" disabled>
                                </lightning-input-field>
                            </div>
                            <label class="slds-form-element__label slds-truncate" title="Job Requsition Number">Job Requsition Number</label>
                            <div class="col-100">
                                <lightning-input-field variant="label-hidden" field-name="Job_Requsition_Number__c" required disabled={caseReadonly} >
                                </lightning-input-field>
                            </div>
                            <template if:true={isSubReasonCode}>
                                <label class="slds-form-element__label slds-truncate" title="Sub-Reason Code">Sub-Reason Code</label>
                                <div class="col-100">
                                    <lightning-input-field variant="label-hidden" field-name="Sub_Reason_Code__c" required onchange={handleSubReason} disabled={caseReadonly} >
                                    </lightning-input-field>
                                </div>
                            </template>
                            <label class="slds-form-element__label slds-truncate" title="Is this a Sub-Vendor?">Is this a Sub-Vendor?</label>
                            <div class="col-100">
                                <lightning-input-field variant="label-hidden" field-name="Is_this_a_Sub_Vendor__c" required disabled={caseReadonly} >
                                </lightning-input-field>
                            </div>
                            <label class="slds-form-element__label slds-truncate" title="Does the Contractor want a live check or DDP/Cash Pay?">Does the Contractor want a live check or DDP/Cash Pay?</label>
                            <div class="col-100">
                                <lightning-input-field variant="label-hidden" field-name="Does_this_contractor_want_a_live_check_o__c" required disabled={caseReadonly} >
                                </lightning-input-field>
                            </div>
                        </div>

                    </div>

                </div> 
             </lightning-accordion-section>   
        </div>

        <!--Conditional Field Section-->
        <div class="accordion-header">
            <lightning-accordion-section name="section1" label="Conditional Fields" class={toggleAccordionSection} >
                <div class="accordion-content">
                    <template if:true={getLoadingState}>
                        
                        <div class="slds-grid slds-gutters">
                            <div class="slds-col col-50">
                                 <template for:each={condFields.colOne.fields} for:item="config" for:index="index">
                                   
                                        <label key={config.fieldId} data-label={config.fieldId} class="slds-form-element__label slds-truncate" title={config.fieldLabel}>{config.fieldLabel}</label>
                                        <div key={config.fieldId} class={config.className}>
                                            <lightning-input-field data-id={config.fieldId} field-name={config.fieldApiName} required={config.isRequired} 
                                                variant="label-hidden" disabled={caseReadonly} >
                                            </lightning-input-field>
                                        </div>
                                    
                                </template>
                            </div>
                            <div class="slds-col col-50">
                                <template for:each={condFields.colTwo.fields} for:item="config" for:index="index">
                                   
                                        <label key={config.fieldId} data-label={config.fieldId} class="slds-form-element__label slds-truncate" title={config.fieldLabel}>{config.fieldLabel}</label>
                                        <div key={config.fieldId} class={config.className}>
                                            <lightning-input-field data-id={config.fieldId} field-name={config.fieldApiName} required={config.isRequired} 
                                                variant="label-hidden" disabled={caseReadonly} >
                                            </lightning-input-field>
                                        </div>
                                   
                                </template>
                            </div>
                        </div>

                        <template if:true={showCRSubSec}>
                            <hr>
                            <div class="slds-grid slds-gutters">
                                <div class="slds-col col-50">
                                    <label data-label="paidTaxes" class="slds-form-element__label slds-truncate" title="Does the agreed bonus amount need to be the net bonus total amount paid after taxes are deducted?">Does the agreed bonus amount need to be the net bonus total amount paid after taxes are deducted?</label>
                                    <div class="col-100">
                                        <lightning-input-field data-id="paidTaxes" variant="label-hidden" field-name="Does_the_agreed_bonus_amount_need_to_be__c" required onchange={agreedBonusHandler} disabled={caseReadonly} >
                                        </lightning-input-field>
                                    </div>
                                </div>
                                <div class="slds-col col-50">
                                    <template if:true={isBonusBill}>
                                        <label data-label="processFee" class="slds-form-element__label slds-truncate" title="Has the client agreed to be billed for the processing fee (x standard burden)?">Has the client agreed to be billed for the processing fee (x standard burden)?</label>
                                        <div class="col-100">
                                            <lightning-input-field data-id="processFee" variant="label-hidden" field-name="Has_the_client_agreed_to_be_billed_for__c" required onchange={clientAgreedHandler} disabled={caseReadonly} >
                                            </lightning-input-field>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </template>

                    </template>
                </div>
            </lightning-accordion-section>
        </div>
        <!-- Seaction for QA to fill in Reviewed By-->
        <div class="accordion-header">
            <lightning-accordion-section name="section10" label="QA Owner (Filled by QA Associates Only)">
                <div class="accordion-content">
                    <div class="slds-grid slds-gutters">
                        <div class="slds-col col-50">
                            <label class="slds-form-element__label slds-truncate" title="Reviewed By">QA Owner</label>
                            <div class="col-100">
                                <lightning-input-field variant="label-hidden" field-name="Reviewed_By__c" disabled={caseReadonly} >
                                </lightning-input-field>
                            </div>
                        </div>
                        <div class="slds-col col-50">
                        </div>
                    </div>
                </div>
            </lightning-accordion-section>
        </div>
    </lightning-record-edit-form>
</template>