/*style*/

.d-inline-block {
    display: inline-block;
}

ul:first-of-type {
    border-right: 1px solid lightgray;
}

:host {
    width: 100%;
}

ul {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}