<template>
    
<div class="slds-grid">
   
    <!--<span>Task Types</span>-->
     <!--<div if:true={enableFilter}>-->
    <template for:each={filterOptions} for:item="options" for:index="index" >
        
        <ul style="display: inline" class="testdisplay slds-col" key={options.type}>
            <span tabindex="0" class="slds-p-bottom_x-small">{options.type}</span>
            <li key={options.type} data-item={index} class="slds-listbox__item slds-p-around_xx-small" data-id={options.type}>
                <div class="slds-form-element__control">
                    <div class="slds-checkbox d-inline-block ">
                        <input type="checkbox" name="selectall" id={options.type} value={options.type} onchange={handleAllSelection} data-id={options} checked={options.selected}/>
                        <label class="slds-checkbox__label" for={options.type}>
                            <span class="slds-checkbox_faux"></span>                            
                        </label>
                        <span class="slds-p-left_xx-small">Select All</span>
                    </div>
                </div>
          </li>
            <template for:each={options.values} for:item="option" for:index="index1" >
                <li key={option.value} data-item={index1} class="slds-listbox__item slds-p-around_xx-small" data-id={option.value}  >
                    <div class="slds-form-element__control">
                        <div class="slds-checkbox d-inline-block ">
                        <input onchange={handleSelection} type="checkbox" id={option.value} name="options" value={option.value} data-id={option} checked={option.selected}/>
                        
                        <label class=" slds-m-left_small slds-checkbox__label" for={option.value}>
                            <span class="slds-checkbox_faux"></span>                            
                        </label>
                             <span class="slds-p-left_xx-small">{option.label}</span>
                        </div>
                    </div>                    
                   
                </li>
            </template>
        </ul>
        </template>
         <!--</div>  -->

</div>
<div slot="footer" style="display: none; justify-content: flex-end; background: #ECECEC; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; padding: 5px; ">
    <footer class="slds-popover__footer">
        <lightning-button label="Cancel" title="Non-primary action" onclick={handleClick} class="slds-m-left_x-small"></lightning-button>
            <lightning-button variant="brand" label="Select" title="Primary action" onclick={handleSelectClick} class="slds-m-left_x-small"></lightning-button>
    </footer>
</div>
</template>