.THIS .row-container {
  display: flex;
  flex-direction: row;
  height: 88px;
  border-bottom: 1px solid lightgray;
  padding: 16px;
}
.THIS .row-checkbox {
  width: 35px;

}
.THIS .row-name {
  min-width: 200px;
  max-width: 200px;
  color: black;
  font-weight: 600;
}
.THIS .row-name p {
  margin: 0;
  padding: 0;
}
.THIS .row-data {
  width: 100%;
}
.THIS .row-data p {
  margin: 0;
  padding: 0;
}
.THIS .row-data .title {
  color: black;
    font-weight: 600;
}
.THIS .row-data .address {
  color: gray;

}
.THIS .row-data .info {
  color: gray;
}
.THIS .row-related {
  font-weight: 400;  
}
.THIS .selected {
  background-color: rgba(21, 137, 238, 0.1);
}

.THIS .title svg {
    fill: #1589EE;
}

.THIS .title .slds-grid {
        display: inline-block;
        margin-left: 4px;
}

.THIS .title .core-popover {
    top: -17px;
    left: initial;
    right: 21px;
    width: 320px;
    word-break:break-word;
}