
.THIS .g2-textarea {height:55px}

.THIS .slds-modal__container {
    max-width: 100%!important;
    width: 98%;
    margin:auto!important;    
    overflow-x:hidden;
    padding: 3rem 0 0.5rem 0;
}

.THIS .cC_LookupLtng .slds-form-element__control {
    margin-top: 0.25rem;
}

.THIS.toggle {
    display: none;
}
.THIS .slds-table th, .THIS .slds-table td {
    padding: .25rem .5rem!IMPORTANT;
}
.THIS hr { margin: .5REM;}
.THIS .font-weight_heavy {font-weight:bold; font-size: 14px}
.THIS .uiInput--select.select:not([multiple]), .THIS .uiInput--select .select:not([multiple]), .THIS .uiInput--select .uiPopupTrigger a {
    height: 2.25rem;
    line-height: 1.875rem;
}
.THIS .slds-checkbox [type=checkbox][disabled]+.slds-checkbox_faux:after, .THIS .slds-checkbox [type=checkbox][disabled]+.slds-checkbox--faux:after, .THIS .slds-checkbox [type=checkbox][disabled]~.slds-checkbox_faux:after, .THIS .slds-checkbox [type=checkbox][disabled]~.slds-checkbox--faux:after, .THIS .slds-checkbox [type=checkbox][disabled]+.slds-checkbox__label .slds-checkbox_faux:after, .THIS .slds-checkbox [type=checkbox][disabled]+.slds-checkbox__label .slds-checkbox--faux:after {
    border-color: grey;
}

.THIS .slds-tabs__nav-scroller {
    position: fixed;
    z-index: 999999999999;
    width: 100%;
    background: white;
    margin-left:-20px;
    
}
.THIS .slds-tabs_default__nav, .THIS .slds-tabs--default__nav {
    position: absolute;
    background: white;
    width: -webkit-fill-available;
}
.THIS .split .slds-tabs_default__nav, .THIS .split .slds-tabs--default__nav {
    width: calc(100% - 668px);
    left: 8px;
}
.THIS .slds-card {
    position: relative;
    padding: auto;
    background: white;
    border: 1px solid #dddbda;
    border-radius: 0.25rem;
    background-clip: padding-box;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
}

.THIS .disabled-field {
    background: #eee;
    width: 100%!important;
    padding: 0 1rem 0 .75rem;
    line-height: 1.875rem;
    min-height: 2rem;
    display: block!important;
    border-radius: 3px;
    border: 1px solid #ddd;
    color: #999;
}
.THIS .disabled {background: #eee;}

.THIS .prefix{
    width: 6rem;
}

.THIS .suffix{
    width: 3.5rem;
}

.THIS .mi{
    width: 7.5rem;
}


.THIS .job-title-field .form-element__label{
    font-size: .75rem;
    color: rgb(112, 110, 107);
    line-height: 1.5;
}

.THIS .address-section .slds-input{
    min-height: calc(2.125rem + 2px);
}


/*Sandeep : SplitView Styles Start here*/

.THIS .split-toggle {
    top: 0;
    right: unset;
    z-index: 6;
    left: 625px;
    position: fixed;
}
.THIS .slds-split-view__toggle-button {
    position: absolute;
    right: -.75rem;
    height: 25%;
    background: rgb(255, 255, 255);
    border-radius: 0 8px 8px 0;
    border: 0;
    background-color: rgba(27, 82, 151, 1.0);
    color: white;
    top: 250px;
    padding: 0 .75rem;
}
.THIS .slds-split-view__toggle-button lightning-primitive-icon { position:absolute; top: 5px }
.THIS .split-toggle .lightningPrimitiveIcon {
    display:block; margin-top: -38px;
}
.THIS .main-content {
    position: relative;
    left: 0;
    right: 0;
    height:100%;
    overflow: hidden;
    z-index: 0;
}
.THIS .split-left {
    position: fixed;
    overflow: hidden;
    z-index: 5;
    height: calc(95vh - 120px);
}
.THIS .split-right {
    position: relative;
    padding-left: 0.5rem;
    height: calc(95vh - 120px);
}
.THIS .fullRight .split-left {
    display: none;
}
.THIS .fullRight .split-toggle {
    left: 0;
}
.THIS .fullRight .split-right {
    width: calc(100% - 0.75rem);
    left: .75rem;
}
.THIS .split-toggle_button-name{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    display: inline-block;
    transform-origin: 0;
    padding-bottom: 0.5rem;
    font-weight: 600;
    
}
.THIS .split .split-left {
    width: 625px;
}
.THIS .split .split-right {
        left: calc(625px + 0.75rem);
    width: calc(100% - 625px );
    border-left: 2px solid rgba(27, 82, 151, 1.0);
    padding: 0 .75rem;
    margin-left: -.75rem;
}

.THIS .splits-modal .split-right .slds-scrollable_y {max-height:500px;}

.THIS .slds-modal__content{
    overflow-y:hidden!important;
    height: 100vh;
}

.THIS .slds-tabs_default__content, .THIS .slds-tabs--default__content {
    padding-top: 40px;
}
.THIS .slds-split-view__toggle-button .slds-assistive-text{
    -webkit-transform: rotate(90deg)!important;
    -moz-transform: rotate(90deg)!important;
    -o-transform: rotate(90deg)!important;
    -ms-transform: rotate(90deg)!important;
    transform: rotate(90deg)!important;
    display: block!important;
    color: white!important;
    font-weight: 600!important;
    position: relative!important;
    width: unset!important;
    height: unset!important;
    overflow: unset!important;
    top: -25px!IMPORTANT; 
}
/*Sandeep:preview cmp changes*/
.THIS .split-left .cC_IFrameDisplay.wrap{
    height:432px;
    
}
.THIS .g2-checkbox {
    margin-left: 5px;
    margin-top: 1px;
}
/*Sandeep: resume Preview changes */
.THIS .split-left .cC_TalentSummaryModal{
    height: inherit!important;
    display: none;
}
.THIS .split-left.cC_TalentSummaryModal .slds-card .slds-card__body{
    height: calc(85vh - 190px)!important;
}
.THIS .split-left .slds-card .cC_TalentResumePreview .slds-card__body div.slds-p-around_small{
     height: inherit !important;
}
.THIS .AG-Status__Badge {padding: 2px 10px;border-radius: 15px; white-space: nowrap;display: inline-block;}
.THIS .AG-Status__Badge_Placed {background-color:#5dbb5d;color: #ffffff;}
.THIS .AG-Status__Badge_DNR {background-color:#ff9900;color: #ffffff;}
.THIS .AG-Status__Badge_DNC {background-color:#3498DB;color: #ffffff;}
.THIS .AG-Status__Badge_Ownership {background-color:#ff9900;color: #ffffff;}
.THIS .DNR-popover {top: 5px}
.THIS .content-toggle {display:none;}

.THIS .slds-modal__header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.THIS .job-title-field .cC_ToolTipUtility {
    padding-left: 14px;
}

.THIS .candidate-status div{
    display: flex;
    align-items: center;
    justify-content: left;
}

.THIS .ltng-lookup .slds-has-inline-listbox .slds-combobox__input{
    min-height: calc(1.90rem + 2px);
}
.THIS lightning-tab-bar ul {
    z-index: 1;
}
.THIS lightning-tab-bar a:focus {
    text-decoration: none !important;
}
.THIS ul.has-error {
    line-height: 1.25;
}

.THIS ul.has-error .form-element__help{
    font-size: .65rem;
    font-weight: 600;
}

.THIS .with-error {position: relative;}
.THIS .with-error p {
    color: rgb(194, 57, 52);
    font-size: .65rem;
    font-weight: 600;
    margin-top: -0.25rem;
}

.THIS .with-error input {
    border: 1px solid rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
    border-left: 5px solid rgb(194, 57, 52);
}

.THIS .with-error .lookup-input.search-req-field {
    border-left: 0px;
}

.THIS .uiInput--default .form-element__help {
    margin-top: 0.25rem;
}

.THIS .accordion-item-header {
    display: inline-flex;
    cursor: pointer;
}

.THIS .accordion-item {
    border-top-color: rgb(221, 219, 218);
    border-top-style: solid;
    border-top-width: 1px;
    margin: 15px;
}

.THIS .show {
    opacity: 1;
    visibility: visible;
}

.THIS .hide {
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    height: 0;
}

.THIS .accordion-item-header {
    background-color: #035797;
    width: 100%;
    color: #fff;
    border-radius: 5px 5px 0px 0px;
}

.THIS .accordion-item-header svg{
    fill: #fff;
}

.THIS .accordion-item {
    border: 1px solid #dddbda;
    border-radius: 0px 0px 5px 5px;
}



.THIS .slds-text-color_destructive {
    font-size: 0.65rem;
}



.THIS .uiInput--textarea.textarea {
    padding: 0.5em;
    height: 30px;
}

.THIS .textarea-preline.search-req-field{
    border-left: 5px solid #00cdcd;
    background-color: #f4ffff;
}

.THIS .textarea-preline.search-req-field:focus{
    border-top: 1px solid rgb(21, 137, 238);
    border-right:  1px solid rgb(21, 137, 238);
    border-bottom: 1px solid rgb(21, 137, 238);
    border-left: 5px solid #00cdcd;
    box-shadow: 0 0 3px #0070d2;
    background-color: #f4ffff;
    outline: 0;
}

.THIS .horizontal-radio .slds-form-element__control .slds-radio{
    display: inline-block;
}

.THIS .mutli-select{
    max-height: 115px;
    padding: 0.25rem;
}

.THIS option.uiInputSelectOption {
    padding: 0.25rem 0.5rem;
}

/* DEMO CHANGES */
.THIS #dynamic-textarea-demo {
        border-left: 5px solid #00cdcd;
        flex-direction: row;
	    background: rgb(255, 255, 255);
    	border: 1px solid rgb(221, 219, 218);
	    border-radius: .25rem;
    	margin-top: 1px;
}

.THIS .focused-div-container {
		border: 1px solid rgb(0,140,231) !important;
	    box-shadow: 0 0 3px rgba(0,140,231,1);
}

.THIS .blue-border-left {
        border-left: 5px solid #00cdcd;
}

.THIS .truncated-container::after {
    content: '...';
}

.THIS .slds-modal__footer .search-req-field {
    border-left: 5px solid #00cdcd;
    padding-left: 0.25rem;
    margin-right: 1rem;
}
/* DEMO CHANGES ^^ */

.THIS .modal-footer .slds-form-element__label {
    display: inline;
}

.THIS .dnc-section .has-error {
    text-align: left;
}

.THIS .dnc-section .slds-select {
    width: 11rem;
}

.THIS .dnc-section .uiInput--input .input {
    width: 8rem;
}

.THIS .dnc-section .uiInput--input .has-error {
    margin-top: 0.75rem;
    width: 10rem;
    border: 1px solid rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
}

.THIS .dnc-section .slds-form-element__label:nth-of-type(2) {
    width: 20%;
}

.THIS .dnc-section .slds-form-element__label:nth-of-type(3) {
    width: 50%;
}

.THIS .dnc-section .uiInput--datetime .datePicker-openIcon {
    bottom: 10px;
}

.THIS .textarea-readonly .textarea-wrapper,
.THIS .textarea-readonly textarea,
.THIS .textarea-readonly .truncated-container:after{
    background-color: #d5d5cf;
}
.THIS .parse-field-footer{
   width: 19px;
    height: 5px;
    transform:rotate(270deg);
    border-radius: 16px;
    background-color: #f0ee6c;
    border: 1px solid #c2a10d;
    position:relative;
    left:7px;
}
.THIS .icon-fill-green {
    background: #28835E;
}
.THIS .icon-fill-red {
    background: #C23934;
}
.THIS .icon-fill-yellow {
    background: #FEB75D;
}
.THIS .icon-wrap {    
    border-radius: 8px;
    color: #fff;
    display: inline-block;
    line-height: 16px;
    text-align: center;
    width: 16px;
    font-size: 9px;
    position: relative;
    top:-9px;
    left:-5px;
}
.THIS .color-sup svg{
    height:10px;
    fill:#fff;
    position:relative;
    left:-3px;
}
