.THIS #eapToggle {
  background: #006b3f;
  width: 2.2rem;
  height: 1.1rem;
  border-radius: .55rem;
  cursor: pointer;
  position: relative;
  transition: all .2s ease-out;
  display: inline-block;
}

.THIS #eapToggleContainer {
z-index: 2000;
  position: fixed;
  right: .2rem;
  border: 1px solid lightgray;
  border-radius: .25rem;
  padding: .1rem .5rem;
  height: 2rem;
  bottom: .25rem;
  line-height: 1.6rem;
  cursor: pointer;
}

.THIS #switch {
  background: white;
  width: .9rem;
  height: .9rem;
  border-radius: .45rem;
  transform: translate(.5rem, .1rem);
  transition: all .2s ease-out;
  cursor: pointer;
  display: inline-block;
  position: absolute;
}

.THIS .eapLabel {
  z-index:999999;
  font-weight: 600;
  display: inline-block;
  transform: translateY(.1rem);
}

.THIS .eap-toggle-icon {
  height: 1.5rem;
  margin-right: .4rem;
}

.THIS .beta-engine {
  background: rgb(0, 109, 204);
  color: white;
}

.THIS #beta-search-icon svg {
  margin-left: .5rem;
  height: 1.3rem;
  width: 1.8rem;
}