<template>
    <lightning-record-edit-form object-api-name="Case" record-id={originId} onload={handleFormLoad} onsuccess={handleFormSuccess} onerror={handleFormError} id="caseStandard">
        <template if:true={isLoading}>
            <lightning-spinner variant="brand" size="large" alternative-text="Form Loading..."></lightning-spinner>
        </template>
        <div class="accordion-header">
            <lightning-accordion-section name="section0" label="Standard Fields">
                <div class="accordion-content">
                
                    <div class="slds-grid slds-gutters">
                        <div class="slds-col col-50">
                            <label class="slds-form-element__label slds-truncate" title="Contact Name">Contact Name</label>
                            <div class="col-100 custom-formula">
                                <lightning-input-field variant="label-hidden" field-name="Contact_Name__c" disabled>
                                </lightning-input-field>
                            </div>
                            <label class="slds-form-element__label slds-truncate" title="Adjustment Type">Adjustment Type</label>
                            <div class="col-100">
                                <lightning-input-field variant="label-hidden" field-name="Adjustment_Type__c" required onchange={handleAdjType}>
                                </lightning-input-field>
                            </div>
                            <label class="slds-form-element__label slds-truncate" title="Client PS ID">Client PS ID</label>
                            <div class="col-50">
                                <lightning-input-field variant="label-hidden" field-name="CSC_Client_PS_ID__c" required>
                                </lightning-input-field>
                            </div>
                            <label class="slds-form-element__label slds-truncate" title="Does this contractor have a garnishment?">Does this contractor have a garnishment?</label>
                            <div class="col-50">
                                <lightning-input-field variant="label-hidden" field-name="Does_this_contractor_have_a_garnishment__c" required>
                                </lightning-input-field>
                            </div>
                            <label class="slds-form-element__label slds-truncate" title="Does this contractor require prevailing wage?">Does this contractor require prevailing wage?</label>
                            <div class="col-50">
                                <lightning-input-field variant="label-hidden" field-name="Does_this_contractor_require_prevailing__c" required onchange={handlePrevailingWage}>
                                </lightning-input-field>
                            </div>
                            <label class="slds-form-element__label slds-truncate" title="How the Adjustment error occurred?">How the Adjustment error occurred?</label>
                            <div class="col-50">
                                <lightning-input-field variant="label-hidden" field-name="How_payroll_Adjustment_error_occurred__c" required>
                                </lightning-input-field>
                            </div>
                        </div>
                        <div class="slds-col col-50">
                            <label class="slds-form-element__label slds-truncate" title="Contact PS ID">Contact PS ID</label>
                            <div class="col-100 custom-formula">
                                <lightning-input-field variant="label-hidden" field-name="Contact_s_Peoplesoft_ID__c" disabled>
                                </lightning-input-field>
                            </div>
                            <label class="slds-form-element__label slds-truncate" title="Pay Group">Pay Group</label>
                            <div class="col-100">
                                <lightning-input-field variant="label-hidden" field-name="Pay_Group__c" required></lightning-input-field>
                            </div>
							<label class="slds-form-element__label slds-truncate" title="Pay Group">Does this adjustment add wages or reduce wages</label>
                            <div class="col-100">
                                <lightning-input-field variant="label-hidden" field-name="Does_this_adjustment_add_wages_or_reduce__c" required onchange={handleWages}>
								</lightning-input-field>
                            </div>
                            <label class="slds-form-element__label slds-truncate" title="Is this a VMS Client?">Is this a VMS Client?</label>
                            <div class="col-50">
                                <lightning-input-field variant="label-hidden" field-name="Is_this_a_VMS_Client__c" required>
                                </lightning-input-field>
                            </div>
                            <label class="slds-form-element__label slds-truncate" title="Is the Contractor Active or Inactive?">Is the Contractor Active or Inactive?</label>
                            <div class="col-50">
                                <lightning-input-field variant="label-hidden" field-name="Is_the_contractor_active_or_inactive__c" required onchange={handleConActive}>
                                </lightning-input-field>
                            </div>
                            <label class="slds-form-element__label slds-truncate" title="Is this a Rate or Time adjustment?">Is this a Rate or Time adjustment?</label>
                            <div class="col-50">
                                <lightning-input-field variant="label-hidden" field-name="Is_this_a_Rate_or_Time_adjustment__c" required onchange={handlerateTimeAdj}>
                                </lightning-input-field>
                            </div>
                        </div>
                
                    </div>
                
                </div>
            </lightning-accordion-section>
        </div>
        
        <div class="accordion-header">
            <lightning-accordion-section name="section1" label="Conditional Fields" class={toggleAccordionSection} onchange={handleSubSection}>
                <div class="accordion-content">
                    
                    <template if:true={getLoadingState}>
                        <div class="slds-grid slds-gutters">
                            <div class="slds-col col-50">

                                <template if:true={isNegAdj}>
                                    <label data-label="reasonForAdj" class="slds-form-element__label slds-truncate" title="Reason For Adjustment">Reason For Adjustment</label>
                                    <div class="col-100">
                                        <lightning-input-field data-id="reasonForAdj" variant="label-hidden" field-name="Reason_for_Adjustment__c" required>
                                        </lightning-input-field>
                                    </div>
                                </template>

                                <template for:each={condFields.colOne.fields} for:item="config" for:index="index">
                                   
                                        <label key={config.fieldId} data-label={config.fieldId} class="slds-form-element__label slds-truncate" title={config.fieldLabel}>{config.fieldLabel}</label>
                                        <div key={config.fieldId} class={config.className}>
                                            <lightning-input-field data-id={config.fieldId} field-name={config.fieldApiName} required={config.isRequired} 
                                                variant="label-hidden">
                                            </lightning-input-field>
                                        </div>
                                    
                                </template>

                            </div>
                            <div class="slds-col col-50">
                                <template for:each={condFields.colTwo.fields} for:item="config" for:index="index">
                                   
                                        <label key={config.fieldId} data-label={config.fieldId} class="slds-form-element__label slds-truncate" title={config.fieldLabel}>{config.fieldLabel}</label>
                                        <div key={config.fieldId} class={config.className}>
                                            <lightning-input-field data-id={config.fieldId} field-name={config.fieldApiName} required={config.isRequired} 
                                                variant="label-hidden">
                                            </lightning-input-field>
                                        </div>
                                   
                                </template>
                                <template if:true={isNegAdj}>
                                    <template if:false={isWageReduction}>
                                        <label data-label="isThisYorM" class="slds-form-element__label slds-truncate" title="Is this a Y (Off-Cycle entered by associate) or M (Off-cycle entered by payroll)?">Is this a Y (Off-Cycle entered by associate) or M (Off-cycle entered by payroll)?</label>
                                        <div class="col-50">
                                            <lightning-input-field data-id="isThisYorM" variant="label-hidden" field-name="Is_this_a_Y_or_M__c" required>
                                            </lightning-input-field>
                                        </div>
                                    </template>
                                </template>
                            </div>
                        </div>
                        <template if:true={showSubSection}>
                            <hr>
                            <div class="slds-grid slds-gutters">
                                <div class="slds-col col-50">
                                    <template for:each={subSectionFields.colOne.fields} for:item="config" for:index="index">
                                    
                                        <label key={config.fieldId} data-label={config.fieldId} class="slds-form-element__label slds-truncate"
                                            title={config.fieldLabel}>{config.fieldLabel}</label>
                                        <div key={config.fieldId} class={config.className}>
                                            <lightning-input-field  data-id={config.fieldId} field-name={config.fieldApiName} required={config.isRequired} variant="label-hidden">
                                            </lightning-input-field>
                                        </div>
                                    
                                    </template>

                                    <template if:true={ispayoutNonDisc}>
                                        <label data-label="dailyOTState" class="slds-form-element__label slds-truncate" title="Is the Contractor working in a daily OT state?">Is the Contractor working in a daily OT state?</label>
                                        <div class="col-50">
                                            <lightning-input-field data-id="dailyOTState" variant="label-hidden" field-name="Is_the_Contractor_working_in_a_daily_OT__c" required>
                                            </lightning-input-field>
                                        </div>

                                         <label data-label="pstdTimeEntry" class="slds-form-element__label slds-truncate" title="Has the last weekending of the performance period posted in Time Entry?">Has the last weekending of the performance period posted in Time Entry?</label>
                                        <div class="col-50">
                                            <lightning-input-field data-id="pstdTimeEntry" variant="label-hidden" field-name="Has_the_last_weekending_of_the_performan__c" required>
                                            </lightning-input-field>
                                        </div>
                                    </template>

                                </div>
                                <div class="slds-col col-50">
                                    <template for:each={subSectionFields.colTwo.fields} for:item="config" for:index="index">
                                    
                                        <label key={config.fieldId} data-label={config.fieldId} class="slds-form-element__label slds-truncate"
                                            title={config.fieldLabel}>{config.fieldLabel}</label>
                                        <div key={config.fieldId} class={config.className}>
                                            <lightning-input-field data-id={config.fieldId} field-name={config.fieldApiName} required={config.isRequired} variant="label-hidden">
                                            </lightning-input-field>
                                        </div>
                                    
                                    </template>
                                </div>
                            </div>
                        </template>
                        <template if:true={isWageReduction}>
                            <hr>
                            <div class="slds-grid slds-gutters">

                                <div class="slds-col col-50">
                                    <label data-label="minWageRisk" class="slds-form-element__label slds-truncate" title="Does this adjustment pose a minimum wage risk?">Does this adjustment pose a minimum wage risk?</label>
                                    <div class="col-50">
                                        <lightning-input-field data-id="minWageRisk" variant="label-hidden" field-name="Does_this_adjustment_pose_a_min_wage__c" required>
                                        </lightning-input-field>
                                    </div>

                                    <template if:true={showchkMoneyOrdCol1}>
                                        <label data-label="chckMoneyOrderCol1" class="slds-form-element__label slds-truncate" title="Do you have a Check/Money Order or Termed Contractor Repayment Letter if this adjustment results in a negative balance for this contractor?">Do you have a Check/Money Order or Termed Contractor Repayment Letter if this adjustment results in a negative balance for this contractor?</label>
                                        <div class="col-50">
                                            <lightning-input-field data-id="chckMoneyOrderCol1" variant="label-hidden" field-name="Do_you_have_a_Check_Money_Order__c" required>
                                            </lightning-input-field>
                                        </div>
                                    </template>

                                    <template if:true={showManualDeductCol1}>
                                        <label data-label="willManDedCol1" class="slds-form-element__label slds-truncate" title="Will Payroll be manually deducting this overpayment from their checks?">Will Payroll be manually deducting this overpayment from their checks?</label>
                                        <div class="col-50">
                                            <lightning-input-field data-id="willManDedCol1" variant="label-hidden" field-name="Will_payroll_be_manually_deducting_this__c" required>
                                            </lightning-input-field>
                                        </div>
                                    </template>

                                    <template if:true={showExplainDetailCol1}>
                                        <label data-label="expDetCol1" class="slds-form-element__label slds-truncate" title="Explain in detail the action items taken to recover any overpaid amounts to the contractor">Explain in detail the action items taken to recover any overpaid amounts to the contractor</label>
                                        <div class="col-50">
                                            <lightning-input-field data-id="expDetCol1" variant="label-hidden" field-name="Explain_in_detail_the_action_item__c" required>
                                            </lightning-input-field>
                                        </div>
                                    </template>
                                </div>

                                <div class="slds-col col-50">
                                    <template if:true={showPayArrang}>
                                        <label data-label="hasPayArr" class="slds-form-element__label slds-truncate" title="Has payment arrangement been established outside the payroll process? (i.e, Sending a check)">Has payment arrangement been established outside the payroll process? (i.e, Sending a check)</label>
                                        <div class="col-50">
                                            <lightning-input-field data-id="hasPayArr" variant="label-hidden" field-name="Has_payment_arrangement__c" required>
                                            </lightning-input-field>
                                        </div>
                                    </template>

                                    <template if:true={showchkMoneyOrdCol2}>
                                        <label data-label="chckMoneyOrderCol2" class="slds-form-element__label slds-truncate" title="Do you have a Check/Money Order or Termed Contractor Repayment Letter if this adjustment results in a negative balance for this contractor?">Do you have a Check/Money Order or Termed Contractor Repayment Letter if this adjustment results in a negative balance for this contractor?</label>
                                        <div class="col-50">
                                            <lightning-input-field data-id="chckMoneyOrderCol2" variant="label-hidden" field-name="Do_you_have_a_Check_Money_Order__c" required>
                                            </lightning-input-field>
                                        </div>
                                    </template>

                                    <template if:true={showExplainDetailCol2}>
                                        <label data-label="expDetCol2" class="slds-form-element__label slds-truncate" title="Explain in detail the action items taken to recover any overpaid amounts to the contractor">Explain in detail the action items taken to recover any overpaid amounts to the contractor</label>
                                        <div class="col-50">
                                            <lightning-input-field data-id="expDetCol2" variant="label-hidden" field-name="Explain_in_detail_the_action_item__c" required>
                                            </lightning-input-field>
                                        </div>
                                    </template>

                                    <template if:true={showPleaseExplain}>
                                        <label data-label="plsExplain" class="slds-form-element__label slds-truncate" title="Please Explain">Please Explain</label>
                                        <div class="col-50">
                                            <lightning-input-field data-id="plsExplain" variant="label-hidden" field-name="Please_Explain__c" required>
                                            </lightning-input-field>
                                        </div>
                                    </template>
                                </div>

                            </div>
                        </template>
                    </template>
                   
                </div>
            </lightning-accordion-section>
        </div>
        <!-- Seaction for payroll to fill in Payroll Owner-->
        <div class="accordion-header">
            <lightning-accordion-section name="section12" label="Payroll Owner (Filled by Payroll Associates Only)">
                <div class="accordion-content">
                    <div class="slds-grid slds-gutters">
                        <div class="slds-col col-50">
                            <label class="slds-form-element__label slds-truncate" title="Payroll Owner">Payroll Owner</label>
                            <div class="col-100">
                                <lightning-input-field variant="label-hidden" field-name="Payroll_Owner__c" >
                                </lightning-input-field>
                            </div>
                        </div>
                        <div class="slds-col col-50">
                        </div>
                    </div>
                </div>
            </lightning-accordion-section>
        </div>
    </lightning-record-edit-form>
</template>