.date-range-cont {
    min-width: max-content;
}
.date-range-display {
    border: 1px solid #dddbda;
    padding: .5rem;
    border-radius: 5px;
    background-color: white;
    height: 2rem;
    max-width: 15vw;
    padding-top: 10.5px;
    padding-bottom: 9.5px;
    cursor: pointer;
}
.date-range-display > div {
    flex-grow: 1;
}
.date-range-icon-pos {
    bottom:3.5px;
}
.date-range-picker {
    min-width: 18rem;
    height: auto;
    border: 1px solid lightgray;
    border-radius: 5px;    
    position: absolute;
    top: 2rem;
    left: 0;
    background-color: white;
    z-index: 9999;
    box-shadow: 3px 6px 9px -6px gray;
}
.pickers {
    flex-grow: 1;
}

.date-range-preview {
    margin: 0.5rem 0;
}

.date-range-display  span,
.date-range-preview span {
    margin: 0 .5rem;
}

.toggle-custom {
    cursor: pointer;
    margin-left: 0.5rem;
    color: var(--lwc-brandTextLink,rgb(0, 109, 204));
}

.toggle-custom:hover {
    text-decoration: underline;
}

.date-range-filter {
    margin: 0.5rem 0;
}