<template>
    <div class="slds-is-relative date-range-cont slds-grid slds-grid_vertical">
        
        <div onclick={togglePicker} tabindex="0" class="date-range-display slds-grid slds-align_absolute-center">
                <p class="slds-truncate" title={formattedDate}>
                    {formattedDate}
                </p>
                <div class="slds-is-relative slds-align_absolute-center slds-p-left_x-small date-range-icon-pos"> <lightning-icon icon-name="utility:event" size="xx-small" alternative-text="Date Range" ></lightning-icon></div> 
        </div>
        <div class="date-range-picker slds-grid slds-grid_vertical slds-p-around_xx-small slds-hide">
            <template if:true={enableRangeFilter}>
                <lightning-combobox
                    class="date-range-filter" 
                    options={getOptions} 
                    label="Range" 
                    name="range" 
                    placeholder="Custom"
                    value={rangeFilterValue}
                    onchange={handleRangeChange}
                    ></lightning-combobox>
            </template>
           <template if:true={enableDatePreview}>
                <div class="date-range-preview">
                    <div tabindex="0" class="slds-grid slds-grid-align_spread">
                       <p class="slds-truncate" title={formattedDatePreview}>
                           {formattedDatePreview}
                        </p>
                        <div tabindex="0" aria-label="Customize Link" onclick={toggleCustomFilter} class="toggle-custom">Customize</div>
                    </div>
                </div>
            </template>

            <template if:true={enableDatePicker}>
                <div tabindex="0" class="pickers slds-grid">
                    <lightning-input 
                        onchange={handleDateChange}
                        max={to} 
                        class="slds-p-around_xx-small" 
                        type="date" 
                        name="from" 
                        label="From:" 
                        value={from}
                    ></lightning-input>
                    <lightning-input 
                        onchange={handleDateChange}
                        min={from} 
                        class="slds-p-around_xx-small" 
                        type="date" 
                        name="to" 
                        label="To:" 
                        value={to}
                    ></lightning-input>  
                    
                </div>
            </template>
           
            <div class="button-grp slds-grid slds-grid_align-end">
                <button class="reset slds-button slds-button_neutral" onclick={handleCancel}>Cancel</button>
                <button class="apply slds-button slds-button_brand" onclick={handleApply}>Select</button>
            </div>
        </div>
    </div>
</template>