.THIS hr {margin: .25rem 0;}
.THIS div.cC_DropDownSort  {text-align:right;}

.THIS .uiInput--select.select{
    font-size: 0.75rem;
    width: 70%;
}

.THIS .results-wrapper {
    padding: 0.5rem;
}

.THIS .utility-placeholder{
    height: 50px;
    width: 100%;
}

.THIS .select-checkbox {
    display: flex;
    align-items: center;
    align-content: center;
    text-transform: capitalize;
}

.THIS .select-checkbox input {
    border: 1px solid rgb(112, 110, 107);
}

.THIS .top-bar-sub-container {
    float: unset;
    padding: unset;
}

.THIS .expandButton{
    margin-top: 0.125rem;
}

.THIS td {
    border-top: 1px solid rgb(221, 219, 218);
}

.THIS .results-container {
    margin-left: 0 !important
}

.THIS .flame-icon {
    position: relative;
    transform: translate(-2px, -3px);
    margin-right: 0.25rem;
}

.THIS #resultsTop .results-col {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.THIS #resultsTop .results-col,
.THIS #resultsTop .sidebar-col {
    min-height: unset;
    height: unset;
    overflow: unset;
}

.THIS .likely-interested-toggle .slds-checkbox_toggle [type=checkbox]:checked+.slds-checkbox_faux_container .slds-checkbox_faux{
    background-color: #006A00;
    border-color: #006A00;
}

.THIS .backgroundBox{
    background-color: #336bbe;
    border-radius: var(--sds-c-badge-radius-border, 0.3rem);
}

.THIS strong,
.THIS  b,
.THIS .slds-tabs_default__item.slds-is-active .slds-tabs_default__link {
     font-weight: 600;
}