<template>
    <c-lwc-tracking-subscriber>
        <textarea 
        class={inputClass} 
        data-tracker="keywords_search" 
        oninput={onInput} 
        onblur={onBlur} 
        onfocus={onFocus} 
        onkeydown={onKeyDown} 
        rows="1"
        placeholder={placeholder}
        >
        {value}
        </textarea>
    </c-lwc-tracking-subscriber>
    <div aria-live="assertive">
    <ul if:true={hasError}>
        <template for:each={errors} for:item="err">
            <li class="slds-form-element__help" key={err.message}>{err.message}</li>
        </template>
    </ul>
        </div>
</template>