.THIS slds-modal__container{
    width:10%;       
       
}
.THIS radio-spacing {
    padding: 0px 5px;
}

.THIS .slds-modal__content{
    padding: 1rem;
}

.THIS h1 {
    font-size: 1rem;;
}

.THIS .standard-modal {
    position: absolute!important;
    top: 13%;
}