.THIS .talent-sidebar{
    height: calc(100vh - 8.1rem);
    bottom: 2.5rem;
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 0 3px #0070d2;
    border: 1px solid #0070d2;
    border-radius: 0.25rem 0 0 0.25rem;
}

.THIS .text-color_light-grey{
    color: #778899;
}

.THIS .slds-card{
    position: relative;
    width: 100%;
}

.THIS .slds-text-title_caps{
    text-transform: capitalize;
}

.THIS div.slds-card.slds-p-around_small, .THIS div.slds-tabs_default {
    height: 100%;
}
.THIS div.slds-tabs_default {
    margin-top: -1.2rem;
    display: flex;
    flex-direction: column;
}
.THIS .l-tab {
    flex: 1;
}
.THIS .l-tab.stretch {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
}

.THIS .uncapitalize {
    text-transform: lowercase;
}
.THIS .stretch .tab-list-container {
    flex: 1;
}


.THIS .tab-list-container{
    overflow-y: auto;
}

.THIS .tab-list{
    height: 100%;
}



.THIS .truncate-badge{
    display: inline-block;
    max-width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.THIS .slds-badge{
    margin: 0 0.25rem 0.25rem;
	display: block;
}
.THIS .slds-card {
    padding: .75rem!important;
}

.THIS .text-bold {
    font-weight: 600;
    margin-right: 0.5rem;
}