.THIS .twitter-typeahead{
  width: 100% !important;  z-index: 99999999999;
  position:absolute; max-height:300px;
}
.THIS .tt-input{
  width: 100% !important;
}

.THIS .typeahead,
.THIS .tt-query,
.THIS .tt-hint {
  width: 100%;
  height: 30px;
  padding: 8px 12px;

  line-height: 30px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.THIS .typeahead {
  background-color: #fff;
}

.THIS .typeahead:focus {
  border: 2px solid #0097cf;
}

.THIS .tt-query {
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.THIS .tt-hint {
  color: #999
}

.THIS .tt-dropdown-menu {
  width: 100%;
  margin-top: 12px;
  padding: 8px 0;
    position: absolute; z-index: 99999999999!important;
  max-height: 150px!important; overflow: scroll!important; 
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
          border-radius: 8px;
          box-shadow: 0 5px 10px rgba(0,0,0,.2);

}

.THIS .tt-suggestion {
  padding: 3px 20px;
  font-size: 12px;
  line-height: 24px;
}

.THIS .tt-suggestion .tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.THIS .tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.THIS  .tt-suggestion p {
  margin: 0;
}