.THIS .slds-modal__container{
	max-width: 80% !important;
    max-height: 90% !important;
    top: 15%!important;
    width:100%;
}

.THIS .twitter-typeahead > .slds-input{
    min-height: calc(2.125rem + 2px);
}

.THIS .uiOutputNumber{
    background-color: rgb(255, 255, 255);
    color: rgb(22, 50, 92);
    width: 100%;
    display: inline-block;
    padding: 0 1rem 0 .75rem;
    line-height: 1.875rem;
    min-height: calc(2.125rem + 2px);
}

.THIS .uiInput_default .form-element__label{
    color: inherit;
}