<template>
    <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">
        <div  id="searchInput" class={txtclassname} data-id="resultBox" aria-expanded="false" aria-haspopup="listbox" role="combobox" aria-labelledby="resultSearch">

            <input type="text" class="search-input" oninput={handleChange} onblur={blurHandler} value={textValue} placeholder="Search">
            <lightning-icon size="x-small" class="slds-icon slds-input__icon slds-input__icon_right slds-icon-text-default" icon-name="utility:search"></lightning-icon>

            <div data-state={listState} class="slds-dropdown slds-dropdown_length-with-icon-7 slds-dropdown_fluid" role="listbox">
                <ul role="listbox" class="listbox-ul">
                    <template if:true={listItems} for:each={listItems} for:item="listItem">
                        <li class="slds-listbox__item slds-p-left_small list-item-focus listbox-ul" key={listItem} data-id={listItem.Id} data-value={listItem.Text_Value__c} onclick={handleListSelect}>
                            {listItem.Text_Value__c}
                        </li>
                    </template>
                </ul>
            </div>
        </div>
    </div>
</template>