.slds-dropdown {
    text-transform: capitalize;
}
[data-state="hide"] {
    display: none;
}
.search-icon {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 1.1rem;
    fill: #b0adab;
    pointer-events: none;
}
/* .listItemFocus{
    padding-left: .75rem;
    background: #F3F2F2;
    padding-top: 4px;
    padding-bottom: 4px;
}
.list-item-focus:hover{
    padding-left: .75rem;
    background: #F3F2F2;
    padding-top: 4px;
    padding-bottom: 4px;
}
.list-item-focus:active{
    padding-left: .75rem;
    background: #F3F2F2;
    padding-top: 4px;
    padding-bottom: 4px;
}
.list-item-focus:focus{
    padding-left: .75rem;
    background: #F3F2F2;
    padding-top: 4px;
    padding-bottom: 4px;
} */
.listbox-ul{
    margin-top: 5px;
    font-weight: 400;
}
li:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}
.search-input{
    font-weight: 400;
    width: 100%;
    height: 39px;
    margin-top: 2px;
    border-left: 5px solid #00cdcd;
    background-color: #f4ffff; 
    border-right: 1px solid rgb(221, 219, 218);
    border-top: 1px solid rgb(221, 219, 218);
    border-bottom: 1px solid rgb(221, 219, 218);
    border-radius: 2px;
}
input:focus {
    outline: 0;
    box-shadow: none;
    /* border-right: 1px solid rgb(27, 150, 255);
    border-top: 1px solid rgb(27, 150, 255);
    border-bottom: 1px solid rgb(27, 150, 255); */
}