<template>
        <div class="alert-result"> 
                <div class="result-info slds-p-horizontal_x-small slds-grid">
                    <div class="info slds-grid slds-grid_vertical slds-grid_align-center slds-truncate full-flex">
                        <div class="info-name-title">
                            <p class="slds-truncate" title={getFullName}><lightning-formatted-url value={getFormattedUrl} label={getFullName}></lightning-formatted-url></p>
                             <p class="truncate jobtitle" title={result.jobTitle}>{result.jobTitle}</p>
                            <p class="truncate location">
                                <template for:each={getLocation} for:item="loc"><span key={loc} class="loc">{loc}</span></template>                                
        
                            </p>
                        </div>
                    </div>
                    <div class="status slds-grid slds-grid_align-center slds-grid_vertical-align-center">
                            <c-lwc-talent-status-badge status={result.candidateStatus}></c-lwc-talent-status-badge>                        
                    </div>
                    <div class="location slds-grid full-flex slds-text-align_right slds-grid_align-end slds-grid_vertical-align-center">
                        {getTriggerDate}
                    </div>
                </div>
                <div lwc:dom="manual" class="result-teaser slds-p-around_x-small" data-id="teaser">
                    
                </div>
            </div>
</template>