.result-info {
    border: 1px solid lightgray;
    background-color: whitesmoke;
    width: 100%;
    height: 55px;
}
.full-flex {
    flex: 1 1;
}
.jobtitle {
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
}
.location {
    font-size: 12px;
}
.result-teaser {
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
}
:host:last-of-type .result-teaser{
    border-bottom: 1px solid lightgray;
}
em {
    background: rgb(255, 240, 63);
    padding: .125rem;
    font-weight: 600;
    color: rgb(0, 112, 210);
}
.loc:not(:last-of-type)::after {
    content: ',';
    margin-right: 3px;
}
