.THIS *::-webkit-scrollbar-corner {
	background-color: inherit;
}

.THIS *::-webkit-scrollbar {
	background-color: transparent;
	width: 7px;
	height: 7px;
}

.THIS *::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0);
	border-radius: 3px;
}

.THIS *:hover::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.3);
	border-radius: 3px;
}

/* .THIS .search-body-container {
	height: 100vh;
}  */

.THIS .show-facets .facet-container-scroll::-webkit-scrollbar-corner {
	background-color: inherit;
}

.THIS .show-facets .facet-container-scroll::-webkit-scrollbar {
	background-color: transparent;
	width: 7px;
	height: 7px;
}

.THIS .show-facets .facet-container-scroll::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0);
	border-radius: 3px;
}

.THIS .show-facets .facet-container-scroll:hover::-webkit-scrollbar-thumb{
	background-color: rgba(0,0,0,0.3);
	border-radius: 3px;
}

.THIS .add-button .slds-popover{
	right: 0;
	top: 2.5rem;
}


.THIS .search-facet-match-wrapper {
	padding: 0.5rem;
	margin-bottom: 1rem;
}


.THIS .keyword-search .uiInput--input .input, .THIS .uiInput--input.input {
    min-height: 0;
}

.THIS .slds-has-error {
	border-color: rgb(194, 57, 52);
}

.THIS .has-error {
	color: rgb(194, 57, 52);
}

.THIS .search-icon{
	color: #fff;
	background-color: #0070d2;
	transition: color 0.25s ease-in;
}

.THIS input::placeholder{
	color: rgb(176, 173, 171);
}

.THIS .save-button{
    background-color: #fff;
}


.THIS .keywords-container {
	flex-grow: 4;
	transition: all 0.25s ease-out;
}

.THIS .location-container{
	flex-grow: 2;
	transition: all 0.25s ease-out;
}

.THIS .match-button-container {
	flex-grow: 0;
	justify-content: flex-start;
}

.THIS .match-button-container .slds-button_neutral {
	padding: 0 0.5rem;
}

.THIS .action-buttons-container{
	flex-grow: 1;
	
	justify-content: flex-end;
}

.THIS .keywords-container-expanded{
	flex-grow: 8;
	transition: all 0.25s ease-in;
}

.THIS .location-container-collapsed .location-input{
	width: 15vw;
}

.THIS .location-container-collapsed{
	flex-grow: 1;
	transition: all 0.25s ease-in;
}

.THIS .location-container-collapsed .truncate-badge{
	max-width: 100%;
}



.THIS .reset-button > lightning-primitive-icon > svg.slds-button__icon{
    transform: scaleX(-1);
}

.THIS .slds-grid .slds-wrap:focus{
	outline: #ffffff;
}

.THIS .results-container{
	/*position: relative;*/
	width: 100%;
	right: 0px;
	top: 0px;
	transition: 300ms ease-out;
}

.THIS .hide-facets,
.THIS .show-facets {
	flex-direction: row-reverse;
}

.THIS .show-facets .facet-container-scroll,
.THIS .show-facets .facet-container {
	width: inherit !important;
	visibility: visible;
	transition: 300ms ease-in;
	background-color: #fff;
}

.THIS .show-facets .facet-container-scroll {
    height: calc(100vh - 200px);
	overflow-y: scroll;
}

.THIS .show-facets .facet-container{
    height: calc(100% - 40px);
	transform: translateX(0px);
}

.THIS .pos-relative .facet-container-scroll {
	height: calc(100% - 40px) !important;
}

.THIS .hide-facets .facet-container,
.THIS .hide-facets .facet-container-scroll,
.THIS .hide-facets .show-button{
	width: 0px;
	visibility: hidden;
	overflow: hidden;
	transform: translateX(-400px);
	transition: 300ms ease-out;
	background-color: transparent;
}

.THIS .hide-facets .facet-container > *,
.THIS .hide-facets .show-button > * {
	visibility: hidden;
}

.THIS .facet-container div {
	transition: 300ms ease-in;
}

.THIS .show-button {
	visibility: visible;
	position: fixed;
	z-index: 8000;
	transform: translateY(0px);
	transition: 300ms ease-in; 
}

.THIS .hide-button {
	visibility: hidden;
	transform: translateY(-64px);
	transition: 300ms ease-out;  
}

.THIS .show-button .update-results-wrapper{
    height: 32px;
    margin-bottom: 1rem;
}

.THIS .hide-button .update-results-wrapper{
    height: 0px;
    margin-bottom: 0;
}

.THIS .update-results{
    width: inherit;
    background-color: rgb(27, 82, 151);
}

.THIS .search-body-container{
	position: relative;
	top: 3.5rem;
}

.THIS .fixed-search-header{
	position: fixed;
	margin-top: -1rem;
	left: 0px;
	z-index: 4;
	width: 100%;
	min-height: 70px;
	border-radius: 0px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
	transform: all 0.5s ease-in;
	padding: 0.5rem 1rem;
}

.THIS .switch-button{
	margin-top: 1.2rem;
	height: 2rem;
	margin-right: 1rem;
}


.THIS .offsetY{
    transform: translateY(-10rem);
}

.THIS .show-facets .filter-expand-icon{
	visibility: hidden;
	transform: translate(-300px, 25vh);
	transition: 300ms ease-out;
}

.THIS .hide-facets .filter-expand-icon{
	visibility: visible;
    transform: translate(-30px, 100px);
	transition: 300ms ease-in;
}

.THIS .filter-expand-icon{
	position: fixed;
	z-index: 9000;
	background-color: #0070d2;
	color: #fff;
	padding: .7rem 0.5rem 0.7rem .8rem;
	border-radius: 0px 0.5rem 0.5rem 0px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.THIS .filter-expand-icon:hover{
	background-color: #0059a8;
	color: #ccc;
}

.THIS .custom-logo img {
	width: 1.25rem;
	height: auto;
}

.THIS .custom-logo {
	height: 35px;
}
/*Enable Scrollbars for new automatch page*/

.THIS .results-col {
	min-height: 100%;
	height: calc(100vh - 215px);
	overflow: hidden;
}

.THIS .sidebar-col {
	min-height: 100%;
	height: calc(100vh - 260px);
	overflow: hidden;
}

.THIS .facet-col {
	height: calc(100vh - 158px);
/*	overflow: hidden; */
    position: relative;
    transition: all .3s ease-in;
}

.THIS .results-container,
.THIS .sidebar-container {
	height: calc(100% - 52px) !important;
	overflow-y: scroll;
	overflow-x: hidden;
}

.THIS .results-container {
    margin-left: .5rem;
}

.THIS .results-container::-webkit-scrollbar-corner,
.THIS .sidebar-container::-webkit-scrollbar-corner,
.THIS .tab-list-container::-webkit-scrollbar-corner {
	background-color: inherit;
}

.THIS .results-container::-webkit-scrollbar,
.THIS .sidebar-container::-webkit-scrollbar,
.THIS .tab-list-container::-webkit-scrollbar{
	background-color: transparent;
	width: 7px;
	height: 7px;
}
.THIS .results-container::-webkit-scrollbar-thumb,
.THIS .sidebar-container::-webkit-scrollbar-thumb,
.THIS .tab-list-container::-webkit-scrollbar-thumb{
	background-color: rgba(0,0,0,0);
	border-radius: 3px;
}
.THIS .results-container:hover::-webkit-scrollbar-thumb,
.THIS .sidebar-container:hover::-webkit-scrollbar-thumb,
.THIS .tab-list-container:hover::-webkit-scrollbar-thumb{
	background-color: rgba(0,0,0,0.3);
	border-radius: 3px;
}



.THIS .results-col {
	width: 600px;
	position: relative;
}

.THIS .facet-col {
    /*width: 35vw;*/
    /*width: 15rem !important;*/
}

.THIS .match-facet-col {
	width: 18rem!important;
}

.THIS .sidebar-col {
	flex: 1 1 auto;
	width: 25vw;
}

.THIS .pos-relative {
    position: relative;
}
.THIS .search-button-group {
	margin-top: 1.1rem;
	margin-left: 3rem;
}
.THIS .search-inputs {
	flex: 1;
}
.THIS .keyword-search {
	flex-grow: 1;
	/*width: 55%;*/
	margin-right: 1rem;
}
/*.THIS .cC_SearchLocationInput {*/
	/*width: 45rem;*/
/*}*/
.THIS .cC_SearchLocationInput .input-container, .THIS .cC_SearchLocationInput .input-container .location-input {
	flex-grow: 1;
}
.THIS .cC_SearchLocationInput .input-container .location-input {
	width: 20vw;
}
.THIS .cC_SearchLocationInput .slds-pill-container {
	flex-grow: 1;
	width: 32rem;
}
.THIS .cC_SearchLocationInput .slds-pill-container .cC_SearchLocationPill .truncate-badge {
	max-width: 5rem;
}

.THIS .facets-selected-counter {
    z-index: 999999999999;
    position: absolute;
    font-size: .7rem;
    color: white;
    background: red;
    border-radius: 1rem;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
	text-align: center;
	transition: 300ms ease-in;
}

.THIS .show-facets .facets-selected-counter {
	transform: translate(-405px, 100px);
}

.THIS .hide-facets .facets-selected-counter {
	transform: translate(-5px, 100px);
}

.THIS .hide-label {
    /* visibility: hidden; */
	position: absolute;
	top: -999999px;
    left: -999999px;
}