<template >
        
                <div class="demo-only" style="height: 640px;">
                    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                        <div class="slds-modal__container">
                            <header class="slds-modal__header">
                                <div style="display:inline" onkeydown={setManualFocusforCloseBtn}>
                                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal} data-id="closeModalBtn" id="closeModalBtn">
                                        <lightning-icon icon-name="utility:close" size="medium">
                                        </lightning-icon>
                                        <span class="slds-assistive-text">Close</span>
                                    </button>
                                </div>
                                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">{label.ATS_DELETE_CONFIRMATION_HEADER}</h2>
                            </header>
                            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                                <center>
                                    <p>{label.ATS_DELETE_CONFIRMATION}</p>
                                </center>
                            </div>
                            <footer class="slds-modal__footer">
                                <lightning-button label={label.ATS_NO} variant="neutral" data-id="noModalBtn" id="noModalBtn" onclick={closeModal}></lightning-button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <div style="display:inline" onkeydown={setManualFocusforYesBtn}>
                                    <lightning-button label={label.ATS_YES} variant="brand" data-id="yesModalBtn" id="yesModalBtn" onclick={saveModal}></lightning-button>
                                </div>
                            </footer>
                        </div>
                    </section>
                    <div class="slds-backdrop slds-backdrop_open"></div>
                </div>
        
</template>