.THIS .boldtext {
 	font-weight: 600;
 	position: relative;
 	top: 0.125rem;
}
.THIS .slds-modal__content{
    overflow: initial;
}
.THIS .slds-modal__container {
    top:1.5rem;
}
.THIS .dropdown-position .slds-dropdown{
    bottom:100%;
    top:auto !important;
    
}