<template>
    <div class="slds-p-bottom_small">
        
        <div class="slds-grid slds-wrap slds-border_bottom slds-p-top_x-small slds-p-bottom_x-small slds-p-around_small" style="background-color:#dddbda;">
            <div class="slds-col slds-size_1-of-1">
                <div class="slds-form-element">
                    <div class="slds-form-element__control slds-p-top_x-small slds-p-bottom_small">
                        <div class="slds-clearfix slds-p-bottom_small">
                            <div class="slds-float_left">
                                <p>Question {questionIncrement}</p>
                              </div>
                            <div class="slds-float_right">
                             <!-- <p>Remove Question</p>-->
                             <button onclick={removeQuestion} class="slds-button slds-button_neutral">Remove Question</button>
                            </div>
                          </div>
                     <!--<input type="text" id="text-input-id-47" placeholder="Placeholder text…" required="" class="slds-input" />-->
                     <lightning-input id='text-input-id-47' type="text" maxlength="255" variant = "label-hidden" placeholder="Placeholder text…"></lightning-input>
                    </div>
                  </div>
                </div>
           <!-- <div class="slds-grid slds-p-bottom_small">
                <div class="slds-col slds-p-right_x-small">
                    <p>What is the desired answer? </p>
                </div>
                <div class="slds-col slds-m-right_large">
                    <span>
                        <span class="slds-m-right_small">Yes</span>
                        <input type="radio" aria-label="Yes" value={questionIncrement.item1} class="slds-p-top_small" >
                    </span>
                </div>
                <div class="slds-col slds-m-right_large">
                    <span>
                        <span class="slds-m-right_small">No</span>
                        <input type="radio" aria-label="No" value={questionIncrement.item2} class="slds-p-top_small">
                    </span>
                </div>
            </div> -->
                <p>What is the desired answer? </p>
            
            <template for:each={options} for:item="item">
                <fieldset key={item.value} style="display: block; float: left;">
                    <div class="slds-form-element__control">
                        <span class="slds-radio">
                            <input name="radiogroup" id={item.value} type="radio" value={item.value} onchange={handleSelected}/>
                            <label class="slds-radio__label" for={item.value}>
                                <span class="slds-radio_faux"></span>
                                <span class="slds-form-element__label">{item.label}</span>
                            </label>
                        </span>
                    </div>
                </fieldset>
            </template>
            
            <div class="slds-grid slds-size_1-of-1 slds-p-bottom_small">
                <div class="slds-col slds-size_1-of-12">
                    <lightning-input type="checkbox" data-id="checkbox" label="Yes" value={yes} onchange={handleQustionCheckChange}></lightning-input>
                </div>
                <div class="slds-col slds-size_11-of-12">
                    <p>Disqualifying Question</p>
                </div>
            </div>
        </div>
        <!-- <div class="slds-p-top_small">
            <button onclick={addQuestion} class="slds-button slds-button_neutral">+ Add another question</button>
        </div> -->
    </div>
</template>