:host {
    --sds-c-accordion-summary-color-background: rgb(243, 242, 242);
    --sds-c-accordion-section-spacing-block-start: 0.5rem;
    --sds-c-accordion-section-spacing-block-end: 0.5rem;         
    --sds-c-accordion-heading-font-size: 1rem; 
}
.button-css {
    --sds-c-button-line-height: 1.25rem;  
}

.background {
    background-color: #ffb85d;
}