<template>
    <lightning-record-edit-form data-id="submitRecId" record-id = {recordId} object-api-name="Opportunity" onload={recordLoad} onsubmit={onSubmit}>
        <lightning-accordion class="slds-card" allow-multiple-sections-open
                         onsectiontoggle={handleSectionToggle}
                         active-section-name={activeSections}>      
            <lightning-accordion-section name="A" label="Opportunity Logistics">
                <template if:false={editFlag}>
                    <lightning-button class="button-css" slot="actions" label="Edit" variant="brand" onclick={handleEditClick}></lightning-button>
                </template>
                <template if:false={editFlag}>
                    <section id="oppLogistics" class="slds-p-around_small slds-p-bottom_none">
                        <div class="slds-grid slds-gutters slds-m-bottom_x-small">
                            <div class="slds-col slds-size_1-of-3 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <template if:false={editFlag}>
                                            <label class="slds-form-element__label">
                                                <b>Opportunity Owner</b>
                                                <lightning-output-field data-id="ownerIdView" variant="label-hidden" field-name="OwnerId" ></lightning-output-field>
                                            </label>
                                        </template>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-3 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                            <b>Close Date</b>
                                            <lightning-output-field data-id="closeDateView" variant="label-hidden" field-name="CloseDate" ></lightning-output-field>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-3 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                            <b>Close Reason</b>
                                            <lightning-output-field data-id="closeReasonView" variant="label-hidden" field-name="Closed_Reason__c" ></lightning-output-field>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>    
                </template>
                <template if:true={editFlag}>
                    <section id="oppLogisticsEdit" class="slds-p-around_small slds-p-bottom_none">
                        <div class="slds-grid slds-gutters slds-m-bottom_x-small">
                            <div class="slds-col slds-size_1-of-3 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">                                                                     
                                        <label class="slds-form-element__label">
                                            <b>Opportunity Owner</b>
                                            <lightning-input-field data-id="ownerIdEdit" variant="label-hidden" value={Req_Opportunity_Owner__c} field-name="Req_Opportunity_Owner__c" onchange={handleOwnerChange} ></lightning-input-field>
                                        </label>                                   
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-3 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                            <b>Close Date</b></label>
                                            <lightning-input-field data-id="closeDateView" field-name="CloseDate" variant="label-hidden"></lightning-input-field>                                    
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-3 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                            <b>Close Reason</b></label>
                                            <lightning-input-field data-id="closeReasonView" variant="label-hidden" field-name="Closed_Reason__c" ></lightning-input-field>                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>    
                </template>                   
            </lightning-accordion-section>

            <lightning-accordion-section name="B" label="Talent Information">
                <template if:false={editFlag}>
                    <lightning-button  class="button-css" slot="actions" label="Edit" variant="brand" onclick={handleEditClick}></lightning-button>
                </template>
                <template if:false={editFlag}>
                    <section id="talentInfo" class="slds-p-around_small slds-p-bottom_none">
                        <div class="slds-grid slds-gutters slds-m-bottom_x-small slds-form-element_readonly">
                            <div class="slds-col slds-size_1-of-3 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                            <b>Talent Name</b>
                                            <lightning-output-field data-id="talentNameView" variant="label-hidden" field-name="AccountId" ></lightning-output-field>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-3 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                            <b>Job Title</b>
                                            <lightning-output-field data-id="jobTitleView" variant="label-hidden" field-name="Req_Job_Title__c" ></lightning-output-field>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-3 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                            <b>Current Company</b>
                                        </label><br/>
                                        <template if:true={showCompany}>                                        
                                            <lightning-formatted-rich-text value={currentCompany} onclick={redirectToAccount}></lightning-formatted-rich-text>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-grid slds-gutters slds-m-bottom_x-small slds-form-element_readonly">
                            <div class="slds-col slds-size_1-of-3 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                            <b>Location</b>
                                        </label><br/>                                        
                                        <template if:true={showLocation}>
                                            <lightning-formatted-text value={location}></lightning-formatted-text>  
                                        </template>                                  
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-3 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                            <b>Remote Work Interest</b>
                                            <lightning-output-field data-id="remoteWorkView" variant="label-hidden" field-name="Req_Work_Remote__c" ></lightning-output-field>
                                        </label>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                        <div class="slds-grid slds-gutters slds-m-bottom_x-small slds-form-element_readonly">
                            <div class="slds-col slds-size_1-of-1 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                            <b>Skills</b>                                        
                                        </label><br/>
                                        <ul class="slds-listbox slds-listbox_horizontal" role="listbox" aria-label="Selected Options:" aria-orientation="horizontal" aria-describedby="listbox-pill-with-icon">
                                            <template if:true={showSkills}>
                                                <template for:each={topSkills} for:item="pill">
                                                    <li class="slds-listbox-item border" role="presentation" key={pill}>
                                                    <span class="slds-pill background" role="option" tabindex="0" aria-selected="true">                            
                                                        <span class="slds-pill__label" title={pill}>{pill}</span>                            
                                                    </span>
                                                    </li>
                                                </template>
                                            </template>
                                        </ul>                                                                                                             
                                    </div>
                                </div>
                            </div>                        
                        </div>
                        <div class="slds-grid slds-gutters slds-m-bottom_x-small slds-form-element_readonly">
                            <div class="slds-col slds-size_1-of-1 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                            <b>Skills Comments</b>
                                            <lightning-output-field data-id="skillCommentsView" variant="label-hidden" field-name="Req_Qualification__c" ></lightning-output-field>
                                        </label>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                        <div class="slds-grid slds-gutters slds-m-bottom_x-small slds-form-element_readonly">
                            <div class="slds-col slds-size_1-of-1 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                            <b>Goals and Interests</b>
                                            <lightning-output-field data-id="goalsView" variant="label-hidden" field-name="Description" ></lightning-output-field>
                                        </label>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                        <div class="slds-grid slds-gutters slds-m-bottom_x-small slds-form-element_readonly">
                            <div class="slds-col slds-size_1-of-3 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                            <b>Rate Range - Low</b>
                                        </label>
                                        <br/>                                    
                                        <p class="slds-p-top_xx-small">{billMin}</p>                                                                            
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-3 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                            <b>Rate Range - High</b>
                                        </label><br/>                                    
                                        <p class="slds-p-top_xx-small">{billMax}</p>                                    
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-3 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                            <b>Frequency</b>
                                            <lightning-output-field data-id="frequencyView" variant="label-hidden" field-name="Req_Rate_Frequency__c" ></lightning-output-field>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-grid slds-gutters slds-m-bottom_x-small slds-form-element_readonly">
                            <div class="slds-col slds-size_1-of-3 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                            <b>Salary Rate - Low</b>
                                        </label><br/>                                    
                                        <p class="slds-p-top_xx-small">{salMin}</p>                                    
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-3 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                            <b>Salary Rate - High</b>
                                        </label><br/>                                    
                                        <p class="slds-p-top_xx-small">{salMax}</p>                                    
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-3 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                            <b>Currency</b>
                                            <lightning-output-field data-id="currencyView" variant="label-hidden" field-name="Currency__c" ></lightning-output-field>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-grid slds-gutters slds-m-bottom_x-small">
                            <div class="slds-col slds-size_1-of-1 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                            <b>Potential Account(s)</b>                                        
                                        </label>
                                        <lightning-output-field data-id="potentialAccountView" variant="label-hidden" field-name="Potential_Accounts__c" ></lightning-output-field>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                    </section>
                </template>
                <template if:true={editFlag}>
                    <section id="talentInfoEdit" class="slds-p-around_small slds-p-bottom_none">
                        <div class="slds-grid slds-gutters slds-m-bottom_x-small slds-form-element_readonly">
                            <div class="slds-col slds-size_1-of-3 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                            <b>Talent Name</b></label>
                                            <lightning-input-field data-id="talentNameView" variant="label-hidden" field-name="AccountId" ></lightning-input-field>                                    
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-3 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                            <b>Job Title</b></label>
                                            <lightning-input-field data-id="jobTitleView" variant="label-hidden" field-name="Req_Job_Title__c" ></lightning-input-field>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-3 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                        <b>Current Company</b></label><br/>                                        
                                        <lightning-formatted-rich-text value={currentCompany} onclick={redirectToAccount}></lightning-formatted-rich-text>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-grid slds-gutters slds-m-bottom_x-small slds-form-element_readonly">
                            <div class="slds-col slds-size_1-of-3 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                            <b>Location</b>
                                        </label><br/>                                        
                                        <template if:true={showLocation}>
                                            <lightning-formatted-text value={location}></lightning-formatted-text>  
                                        </template>                                  
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-3 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                        <b>Remote Work Interest</b></label>
                                        <lightning-input-field data-id="remoteWorkView" variant="label-hidden" field-name="Req_Work_Remote__c" ></lightning-input-field>    
                                    </div>
                                </div>
                            </div>                        
                        </div>
                        <div class="slds-grid slds-gutters slds-m-bottom_x-small slds-form-element_readonly">
                            <div class="slds-col slds-size_1-of-1 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                            <b>Skills</b>                                        
                                        </label><br/>
                                        <c-lwc-pills-lookup                                                                        
                                                data-id="topSkills"
                                                skills={topSkills}                                            
                                                opco="TEKSystems, Inc." 
                                                onskillschange={handleTopSkillsChange}
                                                ondupe={handleDupeMsg}
                                        ></c-lwc-pills-lookup>                                                                                                                                                    
                                    </div>
                                </div>
                            </div>                        
                        </div>
                        <div class="slds-grid slds-gutters slds-m-bottom_x-small slds-form-element_readonly">
                            <div class="slds-col slds-size_1-of-1 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                        <b>Skills Comments</b></label>
                                        <lightning-input-field data-id="skillCommentsView" variant="label-hidden" field-name="Req_Qualification__c" ></lightning-input-field>                                    
                                    </div>
                                </div>
                            </div>                        
                        </div>
                        <div class="slds-grid slds-gutters slds-m-bottom_x-small slds-form-element_readonly">
                            <div class="slds-col slds-size_1-of-1 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                        <b>Goals and Interests</b></label>
                                        <lightning-input-field data-id="goalsView" variant="label-hidden" field-name="Description" ></lightning-input-field>                                    
                                    </div>
                                </div>
                            </div>                        
                        </div>
                        <div class="slds-grid slds-gutters slds-m-bottom_x-small slds-form-element_readonly">
                            <div class="slds-col slds-size_1-of-3 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                            <b>Rate Range - Low</b>
                                        </label>
                                        <lightning-input-field data-id="frequencyView" variant="label-hidden" field-name="Req_Pay_Rate_Min__c" ></lightning-input-field>                                                                           
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-3 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                            <b>Rate Range - High</b>
                                        </label>
                                        <lightning-input-field data-id="frequencyView" variant="label-hidden" field-name="Req_Pay_Rate_Max__c" ></lightning-input-field>                                 
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-3 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                        <b>Frequency</b></label>
                                        <lightning-input-field data-id="frequencyView" variant="label-hidden" field-name="Req_Rate_Frequency__c" ></lightning-input-field>                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-grid slds-gutters slds-m-bottom_x-small slds-form-element_readonly">
                            <div class="slds-col slds-size_1-of-3 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                            <b>Salary Rate - Low</b>
                                        </label>
                                        <lightning-input-field data-id="frequencyView" variant="label-hidden" field-name="Req_Salary_Min__c" ></lightning-input-field>                                   
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-3 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                            <b>Salary Rate - High</b>
                                        </label>
                                        <lightning-input-field data-id="frequencyView" variant="label-hidden" field-name="Req_Salary_Max__c" ></lightning-input-field>                                   
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_1-of-3 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                        <b>Currency</b></label>
                                        <lightning-input-field data-id="currencyView" variant="label-hidden" field-name="Currency__c" ></lightning-input-field>                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-grid slds-gutters slds-m-bottom_x-small">
                            <div class="slds-col slds-size_1-of-1 slds-m-right_xxx-small">
                                <div class="slds-form-element slds-p-left_xx-small">
                                    <div class="slds-form-element__control">
                                        <label class="slds-form-element__label">
                                            <b>Potential Account(s)</b>                                        
                                            <lightning-output-field data-id="potentialAccountEdit" variant="label-hidden" field-name="Potential_Accounts__c" ></lightning-output-field>                                 
                                        </label>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                    </section>
                </template>
            </lightning-accordion-section>
            <template if:true={editFlag}>
                <div class="slds-grid slds-grid_align-center">
                    <lightning-button class="slds-p-around_small" label="Cancel" onclick={handleCancel}></lightning-button>
                    <lightning-button class="slds-p-around_small" label="Save" type="submit" variant="brand" ></lightning-button>
                </div>
            </template>       
        </lightning-accordion>            
    </lightning-record-edit-form>
        
</template>