<template>
  <div
    class="slds-scrollable_none slds-grid slds-grid_align-end"
    style="background-color: white"
  >
    <div class="slds-col slds-p-around_x-small">
      <p>
        Showing<strong> {startingindex} </strong>To
        <strong> {lastindex} </strong>Of
        <strong> {totalrecords}</strong>
      </p>
    </div>
    <div class="slds-col slds-list_inline slds-select_container">
      <lightning-button-icon
        icon-name="utility:left"
        variant="border-filled"
        onclick={handlefirst}
        disabled={previousbtndisabled}
      ></lightning-button-icon>
      <lightning-button-icon
        icon-name="utility:chevronleft"
        variant="border-filled"
        onclick={handleprevious}
        disabled={previousbtndisabled}
      ></lightning-button-icon>
      <lightning-button-group onclick={handleclick}>
        <template for:each={pages} for:item="page">
          <lightning-button key={page} label={page}></lightning-button>
        </template>
      </lightning-button-group>
      <lightning-button-icon
        icon-name="utility:chevronright"
        variant="border-filled"
        onclick={handlenext}
        disabled={nextbtndisabled}
      ></lightning-button-icon>
      <lightning-button-icon
        icon-name="utility:right"
        variant="border-filled"
        onclick={handlelast}
        disabled={nextbtndisabled}
      ></lightning-button-icon>
      <select
        data-name="perPageSelect"
        class="slds-select slds-m-horizontal_xx-small"
        onchange={handleOptionChange}
      >
        <option value="20">20</option>
        <option value="30" selected>30</option>
        <option value="50">50</option>
      </select>
    </div>
  </div>
</template>