.THIS .light_blue {
	background-color: hsl(215, 100%, 68%);
}

.THIS .related-skills-popover{
	position: absolute;
	z-index: 3;
	margin-top: 1rem;
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.10);
}


.THIS .slds-button--icon-x-small .slds-button__icon{
	width: .75rem;
	height: .75rem;
}

.THIS .slds-popover{
	width: auto;
}

.THIS .slds-text-heading--small em{
	text-transform: capitalize;
}