.THIS .inputFieldWidth {
    width: 100%;
    border:none;
    background-image:none;
    background-color:#F9F9F9;
    box-shadow: none;
    border-radius: 0;
    font-weight: 600;
}
.THIS .inputFieldWidth:focus {
    background-color: #F9F9F9;
    box-shadow: none;
    outline: none;
    border-bottom: 2px solid rgb(0, 109, 204);
}
.THIS .slds-popover__body {
    padding-left: 5px;
    padding-right: 5px;
}
.THIS .slds-popover {
    padding: 7px;
    background-color: #F9F9F9;
}
.THIS .slds-form__control {
    display: flex;
    justify-content: center;
}
.THIS .list-edit{
    position: absolute; 
    top: 0px
}