.THIS .viewMenuLabel {color: rgb(22, 50, 92);}
.THIS .slds-card__body {overflow-y: visible;margin-bottom: 0px;}
.THIS .slds-card__footer {margin-top: 0px;margin-bottom: 0px;padding-top: 0px;padding-bottom: 0px;}

.THIS .content-toggle {display:none;}

/* -- default icon hover --*/
.THIS .slds-icon__hover_light-grey svg {fill: #fff}
.THIS .slds-icon__hover_light-grey:hover svg {fill: #cfd7e6!important}
.THIS .slds-icon_blue svg {fill: #0070d2!important;}
/* -- end default icon hover --*/

.THIS .slds-truncate.multiline-ellipsis {display: -webkit-box;-webkit-line-clamp: 5;-webkit-box-orient: vertical; white-space: pre-line!important; }

.THIS .bold {font-weight:600}
.THIS .slds-media__body {overflow:initial;}
.THIS span { overflow-wrap: break-word; word-wrap: break-word;}

.THIS .slds-dropdown-trigger .slds-icon-text-default {
        fill: rgb(112, 110, 107);
}