.THIS.popover-container {
    position: relative;
}
.THIS .badge-popover {
    top: -22px;
    left: 73px;
    position: absolute;
}
/*.THIS .badge-popover::after {
	width: 90px;
    height: 82px;
    visibility: hidden;
    transform: rotateZ(90deg);
    top: 13px;
    left: -79px;
}*/

.THIS .slds-popover__body {
    background-color: rgb(243, 242, 242);
}