.THIS .match-indicator span {
    font-size: 80%;
    font-weight: 600;
    color: rgb(8, 7, 7);
    text-transform: uppercase;
    line-height: 0;
}

.THIS .match-indicator img {
    margin-right: 0.25rem;
    height: auto;
    width: 1rem;
}

.THIS .match-popover-button {
    position: relative;
    display: flex;
    align-items: center;
}

.THIS .match-popover-button span{
    transform: translateY(2px);
}

.THIS .insight-popover {
    position: absolute;
    z-index: 1;
    left: -16px;
    min-width: 17rem;
}