<template>
    <div class="reference-search">
        <template if:true={showSpinner}>
            <lightning-spinner variant="brand" alternative-text="Loading" size="medium">
        </lightning-spinner></template>
        <header>
            <form onsubmit={handleSubmit}>
                <div class="search slds-p-left_x-small slds-p-bottom_x-small slds-grid slds-wrap">
                    <template for:each={inputs} for:item="input">
                        <div key={input.field} class="slds-form-element slds-p-horizontal_xx-small slds-p-top_x-small">                        
                            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_left">
                                <lightning-icon 
                                    class="slds-icon slds-input__icon slds-input__icon_left slds-icon-text-default" 
                                    icon-name={input.icon} 
                                    alternative-text="Approved"
                                    size="x-small" 
                                ></lightning-icon>
                            <!-- <div class="slds-icon slds-input__icon slds-input__icon_left slds-icon-text-default">X</div>   -->
                            <input type="text" data-field={input.field} oninput={handleInputChange} placeholder={input.label} class="slds-input" />
                            </div>
                        </div>
                    </template>
                    <div class="slds-form-element slds-p-horizontal_xx-small slds-p-top_x-small slds-grid">
                        <c-lwc-google-location-lookup                        
                            placeholder="Location"
                            input-variant="label-hidden"
                            onchange={handleLocationChange}
                            onselect={handleLocationSelect}
                        ></c-lwc-google-location-lookup>
                        <select disabled={disableRadius} oninput={handleInputChange} data-field='radius' class="slds-select radius">
                            <template for:each={radi} for:item="radius">
                                <option key={radius.value} value={radius.value} selected={radius.selected}>{radius.value}{radiusUnit}</option>
                            </template>
                        </select>                        
                    </div>
                    <c-lwc-pill-field 
                        onpillchange={handlePillChange}
                        pills={pills}
                        placeholder="Talent Skills or Job Title"  
                        class="slds-form-element slds-p-horizontal_xx-small slds-p-top_x-small"
                        class-name="secondary"
                    >
                        <lightning-icon
                        slot="icon" 
                        class="slds-grid slds-grid_align-center slds-grid_vertical-align-center" 
                        icon-name="utility:copy_to_clipboard" 
                        alternative-text="Approved"
                        size="x-small" 
                    ></lightning-icon>
                    </c-lwc-pill-field>                    
                </div>
                <div class="controls slds-p-top_x-small slds-p-horizontal_xx-small">
                    <div class="buttons slds-grid">
                    <lightning-button 
                        variant="brand"
                        type="submit"                        
                        label="Search" 
                        title="Search References" 
                        icon-name="utility:search" 
                        class="slds-m-left_x-small"
                        onclick={search}
                    ></lightning-button>
                    <lightning-button                 
                        label="Reset"
                        onclick={reset}
                        type="button" 
                        title="Reset Search References" 
                        icon-name="utility:refresh" 
                        class="slds-m-left_x-small"
                    ></lightning-button>
                    </div>
                    <div class="help-text slds-text-body_small">
                        Only 1 field is required to run the search
                    </div>
                </div>
            </form>            
        </header>
        <div class="content slds-p-around_small">
            <template if:true={noResults}>
                <c-lwc-empty-state-image img="Start" header-text="No Results found"></c-lwc-empty-state-image>
            </template>
            <template if:false={noResults}>
                <c-lwc-data-table
                row-action-highlight="true"
                table-columns={tableColumns}
                actions={tableActions}
                table-data={tableData}
                onrowaction={handleTableAction}                
                onclickonlink={handleLinkClickAction}                 
            ></c-lwc-data-table>
            </template>
        </div>
        <c-lwc-drawer size="max">
            <c-lwc-ref-details></c-lwc-ref-details>
        </c-lwc-drawer>        
    </div>
</template>