.reference-search {
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
}
header {
    background-color: #F3F2F2;
    /* margin: -0.75rem;
    background-color: white;
    width: 100vw; */
}
form {
    display: flex;
}
.content {
    overflow: auto;
}
.slds-form-element, c-lwc-pill-field {
    flex-grow: 1;
    min-width: 21rem;
}
.search {
    flex-grow: 1;
}
.controls {
    display: flex;
    flex-direction: column;    
}
.help-text {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
c-lwc-google-location-lookup {
    flex: 1 1 21rem;
}
select.radius {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    left: -2px;
    max-width: 4.2rem;
}