.search-input-wrapper {
    width:100%;
}

a.clear-all {
    float: right;
    font-size: 12px;
    position: relative;
    right: 4px;
    top: 2px;
}

li {
    color: #c23934;
}

.slds-input[data-haserror="true"] {
    border: 1px solid #c23934;
}

.entityHeading {
    font-weight: 600;
    font-size: 16px;
    padding-bottom: .25rem;
}

.smartContainer {
    position: relative;
}

.search-input-wrapper[data-showresults="true"] {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.slds-input {
    height: 30px;
    min-height: 30px;
}

.slds-input[data-issmart="true"][data-showsummary="false"] {
    height: auto;
}

.search-input-results {
    background-color: #fbfbfb;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    display:block;
    overflow-y: scroll;
    position: absolute;
    width: 125%;
}

.search-input {
    overflow: hidden;
    padding: 0;
    resize: none;

    border: none;
    font-size: 13px;
    height: 28px;
    outline: none;
    position: relative;
    width: 100%;
}

/*.search-input[data-showsummary="false"][data-showresults="true"] {
    border-bottom: 1px solid var(--lwc-colorBorder, rgb(221, 219, 218));
}*/

.search-input[data-showsummary="true"] {
    /*bottom: 3px;*/
    width:calc(100% - 120px);
}

/* Pills */
.selected-summary {
    bottom: 2px;
    display: inline-block;
    position: relative;
    width: 120px;
}

.selected-summary .pill {
    align-items: center;
    background-color: #0070d2;
    border-radius: 0.25rem;
    color: white;
    cursor: default;
    display: inline-flex;
    float:right;
    height: 24px;
    justify-content: space-between;
    top:5px;
}

.pillContainer {
    text-transform: capitalize;
}

.slds-pill {
    border: none;
    color: #fff;
    font-weight: normal;
    max-width: 80%;
    vertical-align: bottom;
}

.slds-pill .whiteIcon {
    fill: #fff;
}

.slds-pill-container { 
    background-image:none;
    border: none;
    width: 100%;

    /* IP Code */
    min-height: 20px !important;
}

/*.slds-pill[data-pillsearchtype="exclude"] {
    background-color: #c80000;
}

.slds-pill[data-pillsearchtype="exclude"] .slds-pill-container {
    background-color: #c80000;
}*/

.slds-pill, .slds-pill .slds-pill-container {
    background-color: #0070d2;
}

.slds-pill[data-pilltype="skill"],
.slds-pill[data-pilltype="skill"] .slds-pill-container,
.slds-pill[data-pilltype="skillset"],
.slds-pill[data-pilltype="skillset"] .slds-pill-container {
    background-color: RGBA(232, 229, 243, 0.8);
    color: RGB(40, 33, 65);
}

.slds-pill[data-pilltype="title"],
.slds-pill[data-pilltype="title"] .slds-pill-container,
.slds-pill[data-pilltype="job_function"],
.slds-pill[data-pilltype="job_function"] .slds-pill-container {
    background-color: RGBA(220, 242, 245, 0.6);
    color: RGB(21, 65, 71);
}

.slds-pill[data-pilltype="company"],
.slds-pill[data-pilltype="company"] .slds-pill-container,
.slds-pill[data-pilltype="industry"],
.slds-pill[data-pilltype="industry"] .slds-pill-container {
    background-color: RGBA(216, 239, 223, 0.6);
    color: RGB(20, 48, 29);
}

.slds-pill__label {
    display: inline-block;
    line-height: 14px;
    margin-top: 2px; /* margin-top: 5px; */
    width: 100%;
}

.pills-standard .slds-pill-container:hover {
    cursor: pointer;
}

.selectedContainer .pills-standard .slds-pill-container:hover { 
    background-image: linear-gradient(to right,#fff, 60%,#00396B);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    background-clip: text; 
}

.slds-pill-container .slds-button {
    margin-top: -5px;
}

.slds-pill-container .slds-button.slds-button_icon {
    display:none;
}

.slds-pill-container:hover .slds-button.slds-button_icon {
    display:inline-flex;
}

.slds-button.slds-button_icon {
    margin-left: -16px;
}

.selectedCountPill {
    float: right;
    top: 3px;
}

.selectedContainer {
    background-color:#efefef;
}