<!-- sldsValidatorIgnore -->
<template>
    <template if:true={showSelected}>
        <a href="javascript:void(0)" class="clear-all" onclick={clearSelected}>Clear All</a>
    </template>

    <div class="smartContainer">
        <!-- Search Text Input -->
        <div class="slds-input search-input-wrapper" onmousedown={handleCancelBlur} data-haserror={hasError} data-showresults={showResults} data-issmart={_isSmartSearch} data-showsummary={showSummary}>
            <textarea class="search-input" placeholder="Search..." onkeyup={handleKeyUp} onfocus={handleFocus} onblur={handleBlur} data-showsummary={showSummary} data-showresults={showResults}></textarea>
            
            <template if:true={showSummary}>
                <div class="selected-summary" onclick={focusInput}>
                    <span class="pill slds-p-horizontal_x-small">{selectedCountLabel}</span>
                </div>
            </template>

            <template if:false={showSummary}>
                <template if:true={showSelected}>
                    <div class="slds-p-bottom_x-small pillContainer pills-standard pills-selected" style="width:100%;" data-overrideblur="true">
                        <template for:each={selectedOutput.selected} for:item="s">
                            <template for:each={s.options} for:item="pill">
                                <span key={pill.name} class="slds-pill slds-p-horizontal_x-small slds-m-left_none slds-m-right_x-small slds-m-top_x-small" data-pilltype={pill.type} data-overrideblur="true">
                                    <template if:true={pill.showIcon}>
                                        <span key={pill.name} class="slds-pill__icon_container">
                                            <lightning-icon icon-name="utility:layers" alternative-text="Connected" size="xx-small"></lightning-icon>
                                        </span>
                                    </template>
                                    <div class="slds-pill-container" data-pilltype={pill.type} data-overrideblur="true">
                                        <span class="slds-pill__label" data-pilltype={pill.type} data-overrideblur="true">{pill.name}</span>
                                        <button class="slds-button slds-button_icon slds-m-left_xx-small" title="Close" onclick={removePill} data-action="remove" data-pillid={pill.id} data-removebutton="true" data-overrideblur="true">
                                            <svg class="slds-button__icon whiteIcon" aria-hidden="true">
                                                <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#close"></use>
                                            </svg>
                                            <span class="slds-assistive-text">Close</span>
                                        </button>
                                    </div>
                                </span>
                            </template>
                        </template>
                    </div>
                </template>
            </template>
        </div>

        <div aria-live="assertive">
            <ul if:true={hasError}>
                <template for:each={errors} for:item="err">
                    <li class="slds-form-element__help" key={err.message}>{err.message}</li>
                </template>
            </ul>
        </div>

        <template if:true={showResults}>
            <!-- Search Results -->
            <div class="search-input-results slds-border_top slds-border_right slds-border_bottom slds-border_left" onmousedown={handleCancelBlur} data-overrideblur="true">

                <!-- Close Button -->
                <lightning-button-icon style="float:right;margin:5px 5px 0 0;" onclick={closeWindow} icon-name="utility:close" variant="bare" alternative-text="Delete" class="slds-m-left_xx-small" title="Delete"></lightning-button-icon>

                <!-- Options -->
                <template if:true={showSuggestions}>
                    <div class="slds-grid slds-wrap slds-p-around_medium pills-suggested" data-overrideblur="true">
                        <template if:true={suggestions.suggestions}>
                            <template for:each={suggestions.suggestions} for:item="s">
                                <div key={s.name} class="slds-col slds-size_1-of-2 slds-m-bottom_medium" data-overrideblur="true">
                                    <span class="entityHeading" data-overrideblur="true">{s.name}</span>
                                    <div class="slds-p-bottom_x-small pillContainer pills-standard" data-overrideblur="true">
                                        <template for:each={s.options} for:item="pill">
                                            <span onclick={selectPill} key={pill.id} class="slds-pill slds-p-horizontal_x-small slds-m-left_none slds-m-right_x-small slds-m-top_x-small" data-pillid={pill.id} data-pilltype={pill.type} data-overrideblur="true">
                                                <template if:true={pill.showIcon}>
                                                    <span class="slds-pill__icon_container">
                                                        <lightning-icon icon-name="utility:layers" alternative-text="Connected" size="xx-small"></lightning-icon>
                                                    </span>
                                                </template>
                                                
                                                <div class="slds-pill-container" data-pillid={pill.id} data-pilltype={pill.type} data-overrideblur="true">
                                                    <span class="slds-pill__label" data-pillid={pill.id} data-pilltype={pill.type} data-overrideblur="true">{pill.name}</span>
                                                    <!--<button class="slds-button slds-button_icon slds-m-left_xx-small" title="Close" data-action="remove" data-value={pill}>
                                                        <svg class="slds-button__icon whiteIcon" aria-hidden="true">
                                                            <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#close"></use>
                                                        </svg>
                                                        <span class="slds-assistive-text">Close</span>
                                                    </button>-->
                                                </div>
                                            </span>
                                        </template>
                                    </div>
                                </div>
                            </template>
                        </template>
                    </div>
                </template>
                <template if:false={showSuggestions}>
                    <div class="slds-grid slds-wrap slds-border_top slds-p-around_medium">
                        No more results
                    </div>
                </template>
            </div>
        </template>
    </div>
</template>