.THIS .slds-input.disabled {
    background-color: #eee; /*border-color: #a8b7c7;*/ cursor: not-allowed;
    -webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.THIS .slds-modal__container {
    max-height: 80%;
    top: 20%;
}
.THIS .uiInput--select select {
    min-height: calc(2.125rem + 2px)!important;
}