<template>
    
    <div class="search-lookup">
        <c-lwclookupltng
            text-value={value}
            where-cond={whereCond}
            lovname='JobTitleList'
            onsearchstringchange={handleSearchStringChange}
            sort-cond='Number_Value__c DESC'
        ></c-lwclookupltng>
    </div>
    
</template>