.THIS input[type=radio]{
    display: inline-flex;
    margin: 0.25rem 0;
}

.THIS .switch-icon{
    width: auto;
    height: auto;
}

.THIS .slds-section__title-action{
    border: 1px solid rgb(216, 221, 230);
}

.THIS .slds-section__title{
    font-size: 0.75rem;
    width: 100%;
    position: relative;
}

.THIS .form-element__label{
    display: inline-block;
    margin-right: 0.5rem;
}

.THIS .form-element__label span {
    padding-left: 6px;
}

.THIS .search-facet-label{
    padding-left: 0.25rem;
    text-transform: capitalize;
    color: rgb(84, 105, 141);
    line-height: 1.5;
    display: inline-flex;
    width: 90%;
}

.THIS .doc-count{
    margin-left: 0.25rem;
}

.THIS li{
    margin: 0.50rem 0;
}

.THIS .input-icon {
    position: absolute;
    right: 0.25rem;
    top: 0.5rem;
    z-index: 9000;
    background-color: #fff;
}

.THIS p {
    font-size: 0.75rem;
}

.THIS .beta-container {
    position: relative;
    top: -15px;
}

.THIS .beta-button {
    background-color: rgb(27, 82, 151);
    border-radius: 4px;
    color: white;
    font-size: 9px;
    padding: 2px 4px;
}

.THIS .beta-button:hover {
    text-decoration: none;
}

.THIS .beta-popover {
    min-width: 75px;
    position: absolute;
    top: -72px;
    left: -235px;
    text-transform: none;
    line-height: 1rem;
}