<template>
    <header class="slds-modal__header">
        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
            <b>Confirm Merge</b>
        </h2>
    </header>
    <div class="slds-modal__content slds-p-around_large">
        <p>
            <b>Merge with:&nbsp; 
                <a onclick={redirectToOpportunityPage}>
                    {selectedRecord.Req_Job_Title__c} @ {selectedRecord.Account.Name} -
                    {selectedRecord.Opportunity_Num__c}
                </a>
            </b>
        </p>
        <div class="slds-p-top_medium">
            Once you confirm this merger the VMS opportunity will be closed and will be converted to opportunity above.
            You will be brought to that opportunity page with the VMS section populated.
            <div class="slds-p-top_medium">
                <b>Are sure you want to merge this opportunity with {selectedRecord.Opportunity_Num__c}?</b>
            </div>
        </div>
    </div>
    <div if:true={loading} class="slds-is-relative">
        <lightning-spinner
            alternative-text="Loading...">
        </lightning-spinner>
    </div>
    <footer class="slds-modal__footer">
        <div class="slds-float_left" onclick={showOpportunitySummary}>
            <lightning-button-icon icon-name="action:back" size="small" variant="outline-brand" alternative-text="Back"
                title="Back"></lightning-button-icon>
            <a class="slds-p-left_xx-small">Go back to Opportunity Summary</a>
        </div>
        <button class="slds-button slds-button_neutral" onclick={closeModal}>Cancel</button>
        <button class="slds-button slds-button_brand" onclick={viewRecord}>Yes, Merge Opportunity</button>
    </footer>
</template>