<template>
    <section aria-describedby="dialog-body-id-98" aria-labelledby="dialog-heading-id-5" class="slds-popover slds-popover_prompt " style="position:absolute;" role="dialog">
  <button class="slds-button slds-button_icon slds-button_icon-small slds-float_right slds-popover__close" title="Close dialog">
    <svg class="slds-button__icon" aria-hidden="true">
      <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
    </svg>
    <span class="slds-assistive-text">Close dialog</span>
  </button>
  <div class="slds-popover__body" id="dialog-body-id-98">
    <div class="slds-media">
      <div class="slds-media__figure">
        <span class="slds-icon_container">
          <svg class="slds-icon slds-icon_small slds-icon-text-default" aria-hidden="true">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#prompt"></use>
          </svg>
          <span class="slds-assistive-text"></span>
        </span>
      </div>
      <div class="slds-media__body slds-m-top_none slds-m-right_small">
        <c-search-lookup-component clas-name='Lookup' place-holder='Title' method-name='querySObject' object-name='Global_LOV__c' record-type-name='JobTitleList' is-soql='true' sort-condition='Number_Value__c DESC' use-cache=false onlookupitemselectedevent={handleJobTitleSelectedEvent}
                            search-string={jobTitle} where-condition={jobTitleWhereCondition} addl-fields="[]" record-limit="6"></c-search-lookup-component>
        <button class="slds-button slds-button_neutral slds-col_bump-right" onclick={closeButton}>Close</button>

      </div>
    </div>
  </div>
  <!--<footer class="slds-popover__footer">
    <div class="slds-grid slds-grid_vertical-align-center">
      <button class="slds-button slds-button_neutral slds-col_bump-right">Dismiss</button>
      <span class="slds-popover_prompt__action-link">
        <a href="#" class="slds-button">Learn more</a>
      </span>
      <button class="slds-button slds-button_brand">Save</button>
    </div>
  </footer>-->
</section>
     
</template>