.THIS .template-container{
    background: #e7e7e7;
}
.THIS .email-text {
    font-size: 12px;
}
.THIS label { display:none;
}
.THIS hr {margin: 1rem 0;
}
.THIS .disclaimer {
    color: #c80000;
    font-weight:600;
    text-align:left;
    font-size: 12px;
}
.THIS .box_red {
    background: #fcefef;
    padding: .75rem;
    font-size: 12px;
    border: 1px solid #c80000;
    border-radius: .25rem;
}
.THIS .text_red {
    color: #c80000;
}