.THIS .page-background {
	background-color: #fff;
	padding: 0.25rem;
}

.THIS .disabled-field {
    background: #eee;
    width: 100%!important;
    padding: 0 1rem 0 .75rem;
    line-height: 1.875rem;
    min-height: 2rem;
    display: block!important;
    border-radius: 3px;
    border: 1px solid #ddd;
    color: #999;
}



.THIS .slds-input,
.THIS .uiInput--select.select:not([multiple]),
.THIS .textarea-wrapper {
    min-height: calc(2.125rem + 2px)!important;;
}

.THIS .font-weight_heavy {font-weight: 600}
.THIS .font-italic {font-style:italic;}

/*toggleCss.css*/
.THIS.toggle {
    display: none;
}

.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}

.THIS .no-label .slds-form-element__label {
    display: none;
}

.THIS input::placeholder,
.THIS textarea::placeholder {
    color: rgb(163, 159, 157);
}

.THIS .slds-form-element__label,
.THIS label {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    display: block;
    color: rgb(62, 62, 60);
    font-size: .75rem;
    padding-right: .5rem;
    padding-top: .25rem;
    margin-bottom: .125rem!important;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.THIS .horizontal-radio .slds-form-element__control .slds-radio,
.THIS .slds-form-element__control .slds-radio .slds-form-element__label{
    display: inline-block;
    padding-left: 0.25rem;
}

.THIS.uiButton.saveRecord {
	background: springgreen;
    float: right;
}
.THIS.uiButton.cancelRecord {
	background: coral;
    float: right;
}

.THIS .slds-form-element__control label span, .THIS h2{
    font-weight: 600;
}

.THIS .uiInput--default .form-element__help {
    margin-top: 0.25rem;
}

.THIS .slds-form_stacked .slds-form-element{
    margin-bottom: 0;
}

.THIS h2{
    margin-bottom:20px
}
.THIS .col_preferred {
    min-width: 60px;
}

.THIS .col_preferred input{
    position: absolute;
    transform: translate(1.25rem, 1.75rem);
}

.THIS .col_preferred .first-chbox{
    position: absolute;
    transform: translate(1.25rem, 0.5rem);
}


.THIS .disabled {background: #eee;}
.THIS .slds-form-element__label {font-weight:bold;}


.THIS .contact-form .slds-input{
    min-height: calc(2.125rem + 2px);
}

.THIS input.has-error {
    border: 1px solid rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
}

.THIS ul.has-error {
    line-height: 1.25;
}

.THIS ul.has-error .form-element__help{
    font-size: .65rem;
    font-weight: 600;
}

.THIS .with-error {position: relative;}
.THIS .with-error p {
    color: rgb(194, 57, 52);
    font-size: .65rem;
    font-weight: 600;
}

.THIS .with-error input {
    border: 1px solid rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
    border-left: 5px solid rgb(194, 57, 52);
}

.THIS .with-error .lookup-input.search-req-field {
    border-left: 0px;
}

.THIS .with-error .cC_LookupLtng {margin: 0;}


.THIS .cC_LookupLtng .slds-input-has-icon .slds-input__icon {
    top: unset;
    bottom: 0.5rem;
}
/* -- sf winter 18 override -- */
.THIS .slds-form-element.cC_ToolTipUtility {
    width: unset!important;
    margin-bottom: unset;
}
.THIS .hidden-field {
display:none;}

.THIS .accordion-item-header {
    display: inline-flex;
    cursor: pointer;
}

.THIS .accordion-item {
    border-top-color: rgb(221, 219, 218);
    border-top-style: solid;
    border-top-width: 1px;
    margin: 15px;
}



.THIS .show {
    opacity: 1;
    visibility: visible;
}

.THIS .hide {
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    height: 0
}

.THIS .accordion-item-header {
    background-color: #035797;
    width: 100%;
    color: #fff;
    border-radius: 5px 5px 0px 0px;
}

.THIS .accordion-item-header svg{
    fill: #fff;
}

.THIS .accordion-item {
    border: 1px solid #dddbda;
    border-radius: 0px 0px 5px 5px;
}




.THIS .slds-text-color_destructive {
    font-size: .65rem;
}

.THIS .subsection-toggle {
    border-color: #fff;
    background: #fff;
    position: absolute;
    color: #035797;
    cursor: pointer;
    transform: translate(1.25rem, -0.5rem);
}

.THIS .subsection-toggle p{
    font-weight: 600;
    padding: 0 0.25rem;
}

.THIS .subsection-toggle svg {
    fill: #035797;
}

.THIS .subsection-toggle:focus {
    outline-color: none;
    outline-width: 0px;
}


.THIS .page-header {
    border-radius: .25rem .25rem 0 0 ;
    padding: 0.75rem 1rem;
}

.THIS .page-footer {
	margin-bottom: 3rem;
}

.THIS .modal-footer {
	display: none;
}

.THIS .slds-modal__footer .search-req-field {
	border-left: 5px solid #00cdcd;
	padding-left: 0.25rem;
	margin-right: 1rem;
}

/*lookup pillbar changes*/

.THIS .slds-pill__action {
    background-color: #A4D7F4;
    color: #092d43;
    border: 1px solid rgb(184, 222, 246)!important;
}

.THIS .slds-icon-text-default {
    fill:  #092d43;
}

.THIS .slds-pill__action {
    background-color: #A4D7F4;
    color: #092d43;
    border: 1px solid rgb(184, 222, 246)!important;
}

.THIS .slds-pill__action .slds-button__icon svg {
    fill: #092d43;
}

.THIS .slds-icon_container {
    line-height: 1!important;
}

.THIS .page-footer .slds-form-element__label {
    display: inline;
}


.THIS .dnc-section .has-error {
    text-align: left;
}

.THIS .dnc-section .slds-select {
    width: 11rem;
}

.THIS .dnc-section .uiInput--input .input {
    width: 8rem;
}

.THIS .dnc-section .uiInput--input .has-error {
    margin-top: 0.75rem;
    width: 10rem;
    border: 1px solid rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
}

.THIS .dnc-section .slds-form-element__label:nth-of-type(2) {
    width: 20%;
}

.THIS .dnc-section .slds-form-element__label:nth-of-type(3) {
    width: 50%;
}

.THIS .dnc-section .uiInput--datetime .datePicker-openIcon {
    bottom: 10px;
}

.THIS .accordion-item-body .section-container {
    padding: 0.75rem;
}
.THIS .n2pbgcolor .add-field .slds-input{
    background-color: #F0EE6C !important;
}
.THIS .n2pbgcolor .add-field .parse-add-loc .slds-combobox_container{
    border: 1px solid #C2A10D !important;
}
.THIS .n2pbgcolor .add-field .show .slds-input{
    border: 1px solid #C2A10D !important;
}