.THIS .mutli-select{
    max-height: 115px;
    padding: 0.25rem;
}

.THIS .multi-select input::placeholder {
    color: #092d43;
}
.THIS option.uiInputSelectOption {
    padding: 0.25rem 0.5rem;
}


.THIS .inline-item-body .border-right {
    border-right: 1px solid rgb(221, 219, 218);
}

.THIS .rate-field .slds-input{
    background-color: #F0EE6C !important;
    border: 1px solid #C2A10D !important;
}
.THIS .rate-field .uiInput--input.input {
    background-color: #F0EE6C !important;
    border: 1px solid #C2A10D !important;
}
.THIS .multi-placement .slds-icon_container{
   right:1.75rem;
}
.THIS .label-hide span {
    position: absolute;
    left: -9999%;
}