.THIS {
    position: relative;
}
.THIS .slds-modal__footer  {
    margin: 1rem -1rem -1rem -1rem;
}
.THIS .container {
    min-height: 13rem;
    overflow-y: auto;
}
.THIS .red-font {
    color: rgb(194, 57, 52);
}
.THIS .container > * {
    margin: 0 .5rem;
}