.THIS .slds-listbox {
	font-size: 0.8125rem;
	overflow: auto;
}

.THIS .has-keyboard-focus {background-color: rgb(247, 249, 251);}
.THIS .slds-icon-text-default{fill: rgb(176, 173, 171);}
.THIS input {margin-bottom: 0!important;}
/*.THIS input::placeholder { color: rgba(27, 82, 151, 1.0); text-align:center;}*/
.THIS .slds-icon-text-default {fill: rgba(27, 82, 151, 1.0)}
/*.THIS .slds-has-inline-listbox .slds-combobox__input {min-height: calc(2.125rem + 2px)}*/
.THIS .message-area{ border-top: 1px solid rgb(221, 219, 218) }

.THIS .input-focus{
	outline: 0;
	border-color: rgb(21, 137, 238);
	background-color: #fff;
	box-shadow: 0 0 3px #0070d2;
}