.indicator-container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: .75rem;
    background-color: #F4F6F8;
}

.indicator-header {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.indicator-list a {
    position: relative;
}