<template>
 
    <div class="indicator-container">
        <div class="indicator-header">
            <lightning-icon icon-name="utility:info" alternative-text="Info" size="small"></lightning-icon>
            <p>This talent is actively viewing job postings on Allegis job boards.</p>
        </div>
        <template if:true={toggleList}>
            <div class="indicator-list">
                <a href="#" onclick={togglePopover}>Open List of postings.</a>
            </div>
        </template>
    </div>
   
</template>