.THIS .multiple-location-popover{
	position: absolute;
	z-index: 9000;
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.10);
	transform: translate(-19rem, 2.5rem);
	width: 580px;
}

.THIS .slds-popover_large{
	min-width: 35rem;
}

.THIS .slds-button--icon-x-small .slds-button__icon{
	width: .75rem;
	height: .75rem;
}

/*.THIS .slds-popover{*/
	/*width: auto;*/
/*}*/

.THIS .location-input {
    min-width: 370px;
}

.THIS .slds-text-heading--small em{
	text-transform: capitalize;
}

.THIS .slds-form-element{
	margin-right: 0.25rem;
}

.THIS .radius-select{
	width: 5rem;
	margin-right: 0.25rem;
}

.THIS .distance-select{
	width: 10rem;
}

.THIS .cC_SearchLocationInput{
	width: 100%;
}