.THIS .saved-address{
	min-height: 36vh;
	padding: 1rem;
	background-color: rgb(250, 250, 250);
	border: 1px solid #e7e7e7; 
}
.THIS .slds-required {
    margin: 0px!important;
}
.THIS .address-section .slds-input{
	min-height: calc(2.125rem + 2px);
}
.THIS .boldtextloc {
    font-weight: 600!important;
    position: relative;
    top: .125rem;
    color:#C23934 !important;
}
.THIS .boldtextloc .slds-combobox_container{
    border:1px solid #C23934!important;
}