.THIS label{display:none;}
.THIS .slds-form-element__label{display: none;}
.THIS span.showTitle .slds-form-element__label{display:block !important;}
.THIS .toggle{display: none;}
/* -- pill field -- */
.THIS .uiPillContainer_default {padding: 2px 2px 0 2px;margin: 0;line-height: 14px;}
.THIS .uiPill_default .pillIcon, .THIS .uiPill_default .pillIcon .uiImage {height: 15px;width: 15px;line-height: 1;}
.THIS .uiPillContainer_default .pillContainerListItem {margin-right: 5px;margin-bottom: 2px;}

/* -- date field -- */
.THIS .slds-input, .THIS .uiInput_input,.THIS .input { line-height: 1rem; min-height: 1.9rem;}

/* -- lookup field override -- */
.THIS .cATS_LookupComponent .twitter-typeahead {z-index: 9999;}
.THIS .forceSearchInputLookupDesktop .uiInput_lookup.lookup__menu{
    z-index: 10000;
}
.THIS .spinner-div {
    background-color: rgba(255, 255, 255,0.8);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}