.alert {
    border: 1px solid lightgray;
    background-color: whitesmoke;
    border-radius: 3px;
    width: 100%;
    height: 35px;
    cursor: pointer;
}
.alert:hover {
    background-color: #F0F8FC;
}
.flex-shrink {
    flex: 0 1;
}
.full-flex {
    flex: 1 1;
}
.icon-btn {
    margin-bottom: 3px;
}
.alert-count {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    min-width: 15px;
    background-color: #c42530;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
    font-weight: 600;
    margin: 0 5px;
    line-height: 1;
}
[data-class="email-on"]::after {
    content: '\2714';
    color: white;
    background-color: green;
    position: absolute;
    top: 2px;
    right: -3px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7px;
    padding-right: 1px;
}
[data-class="current"] {
    outline: 0;
    box-shadow: 0 0 3px #0070d2;
    background-color: #f0f8fc;
}