<template>
    <div class="alert slds-m-vertical_xx-small slds-p-horizontal_x-small slds-grid" data-class={checkCurrent} data-id={alert.Id} onclick={onClick}>
            <div class="full-flex slds-grid slds-grid_vertical-align-center slds-truncate">
                <span class="truncate" title={alert.Name}>{alert.Name}</span>
            </div> 
            <div class="flex-shrink slds-grid slds-grid_align-end slds-grid_vertical-align-center">
                    <span if:true={showAlerts} class="alert-count">{alert.Result_Count_V2__c}</span>
                    <lightning-button-icon data-class={status} data-action="emailOnOff" icon-name="utility:email" variant="bare" class="icon-btn slds-is-relative slds-m-horizontal_xx-small" alternative-text="Email"></lightning-button-icon>
                    <lightning-button-icon data-action="delete" icon-name="utility:delete" variant="bare" class="icon-btn slds-m-horizontal_xx-small" alternative-text="Delete"></lightning-button-icon>                    
            </div>
    </div>
</template>