.THIS .col-100 {
    width: 100%;
}

.THIS .col-50 {
    width: 50%;
}

.THIS .accordion-header {
    background-color: #F3F2F2;
}

.THIS .accordion-content {
    background-color: #fff;
    margin: 0 -0.75rem -1rem;
    padding: 0.75rem 1.5rem 1.5rem;
}

.THIS .slds-accordion__section {
    padding: 0rem 0.75rem 0.75rem;
}

.THIS .section-accordion .slds-accordion__summary-heading span {
    font-size: 1rem;
}