/* fileUpload2.css is identical */
.THIS .notUploading {visibility: hidden;}
.THIS .uploading {visibility: visible;display: inline-block;margin-top: 10px;}
.THIS .small-spinner {height: 20px;width: 20px;}
.THIS .file {margin-bottom: 5px;display: block;vertical-align: text-bottom;}
.THIS .hide {display: none;}
.THIS .show {display: block;}
.THIS .uiSpinner {
    position: absolute;
    top: 48vh;
    right: 24vw;
    background: transparent;
}
.THIS .slds-media__figure{
	margin-left: 1rem;
}
.THIS .slds-modal__content {
    overflow-y: auto!important;
    max-height: 75vh;
}
.THIS .document-type__input {
  	width: 100%;
}
/*.THIS .slds-modal__container {
    margin: 0 auto;
    width: 70%;
    max-width: 70rem;
    min-width: 20rem;
}*/
/*.THIS ::-webkit-scrollbar {width: 5PX;
    display: table-column;
    background: transparent;}*/
@media only screen and (min-width: 64em) {
  .THIS .document-type__input {
  	width: 180px;
  }
  .THIS .slds-media__figure{
	margin-left: 0;
	}
}