.THIS .AG-Status__Badge {padding: 2px 10px;border-radius: 15px; white-space: nowrap;background-color:#0c8eff;color: #ffffff;}
.THIS .AG-Status__Badge.AG-Status__Badge--Current {background-color:#0c8eff;color: #ffffff;}
.THIS .employment__container {overflow: hidden;padding: 1px; width: 25px;height: 25px;font-size: 14px;font-weight: 600;display: block; text-align: center;margin: 0 auto 0 3px; background-color: rgb(255, 228, 198)!important;border: 2px solid #f88962;color: #f88962; position:relative; z-index:10;}
.THIS .expandButton {margin-top: 2px; margin-left: 0px;}
.THIS .slds-media--timeline:before {z-index: 10;top: 2px;height: 100%; left: .65rem!important}
.THIS .slds-icon-text-default {fill: #f88962;}
.THIS .slds-timeline__media:before, .THIS .slds-media_timeline:before, .THIS .slds-media--timeline:before {background: #f88962; border-top: 25px solid #FFF;}
.THIS .slds-item_detail{ white-space: normal;}
.THIS .slds-timeline__icon {position:relative; z-index: 10;}.THIS .edit-menu {min-height:24px;}
.THIS strong,
.THIS  b {
     font-weight: 600;
}