
.THIS .container_edu-cert{min-height: 280px;}
.THIS .slds-modal__container{width:auto;}
.THIS .slds-media .slds-col > .slds-button, .THIS .slds-button.expandButton {outline: 0!important;box-shadow: none!important;}
.THIS .slds-media_timeline {margin-left: 10px;padding-bottom: 1rem;}
.THIS .expandButton {margin-bottom: 6px;}



/*
changes for S-58385
*/
.THIS .slds-media_timeline:before {
    z-index: 10;
    top: 2px;
    height: 100%;
    left: .75rem!important;
}

.THIS .slds-timeline__media:before, .THIS .slds-media_timeline:before {
    background: #f88962;

}
.THIS .slds-dropdown-trigger .slds-icon-text-default {
        fill: rgb(112, 110, 107);
}

.THIS .slds-media .slds-col>.slds-button, .THIS .slds-button.expandButton {
    outline: 0!important;
    box-shadow: none!important;
    line-height: 0;
}
.THIS li.slds-timeline__item {
    list-style: none;
}
.THIS .pre-line {white-space:pre-line!important;}

.THIS .viewMenuLabel {color: rgb(22, 50, 92);}
.THIS .slds-card__body {overflow-y: visible;margin-bottom: 0px;}
.THIS .slds-card__footer {margin-top: 0px;margin-bottom: 0px;padding-top: 0px;padding-bottom: 0px;}

.THIS .content-toggle {display:none;}

/* -- default icon hover --*/
.THIS .slds-icon__hover_light-grey svg {fill: #fff}
.THIS .slds-icon__hover_light-grey:hover svg {fill: #cfd7e6!important}
.THIS .slds-icon_blue svg {fill: #0070d2!important;}
/* -- end default icon hover --*/

.THIS .slds-truncate.multiline-ellipsis {display: -webkit-box;-webkit-line-clamp: 5;-webkit-box-orient: vertical; white-space: pre-line!important; }

.THIS .bold {font-weight: 600}
.THIS .slds-media__body {overflow:initial;}
.THIS span { overflow-wrap: break-word; word-wrap: break-word;}