header {
    background-color: white;
}
header[data-class="sticky"] {    
    position: fixed;
    width: 100%;
    left: 0;
    margin-top: -0.8rem;
    z-index: 98;
    border-bottom: 1px solid #c8c8c8;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
}
header[data-class="nonSticky"] {    
    position: absolute;
    width: 100%;
    top: 0;
    /*scroll-behavior: none;*/  
    margin-top: -0.8rem;
    z-index: auto;
    border-bottom: 1px solid #c8c8c8;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
}
.slds-page-header .slds-icon_container svg {
    width: 2rem;
    fill: white;
    box-shadow: none;
}
.slds-page-header {
    border-radius: 0;
}
.header-container {
    align-items: center;
}
lightning-button-menu {
    background-color: white;
}
header .info {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}
ul.field-list {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}
ul.field-list li {
    flex: 1 1 0%;
    min-width: 0;
    width: 50px;
}
ul.field-list li a {
    display: block;
}
ul.field-list li.ons {
    flex: 1 1 0%;
    min-width: 0;
    max-width: fit-content;
    width: 50px;
}
.redColor{
    color:red;
}
.yellowColor{
    color:orange;
}
.greenColor{
    color:green;
}