<template>
  <header data-class={headerClass}>
    <div class="slds-page-header">
        <div class="slds-page-header__row">
          <div class="slds-page-header__col-title">
            <div class="slds-media header-container">
              <div class="slds-media__figure">
                <span class="slds-icon_container slds-icon-standard-opportunity" title="opportunity">
                  <!-- <svg class="slds-icon slds-page-header__icon" aria-hidden="true">
                    <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#opportunity"></use>
                  </svg> -->
                    <svg viewBox="0 0 24 24">
                      <path d="M17.1 16.6H6.9c-.2 0-.4.2-.4.4 0 .8.6 1.5 1.4 1.5h8.2c.8 0 1.4-.7 
                      1.4-1.5 0-.2-.2-.4-.4-.4zm1.1-9.9c-.8 0-1.4.7-1.4 1.5 0 .4.2.8.5 1.1-.4.9-1.3
                       1.5-2.4 1.5-1.3-.1-2.3-1.1-2.4-2.4v-.6c.6-.2.9-.7.9-1.3 0-.8-.6-1.5-1.4-1.5s-1.4.7-1.4 
                       1.5c0 .6.3 1.1.9 1.3v.6c-.1 1.3-1.1 2.3-2.4 
                       2.4-1.1.1-2-.6-2.4-1.5.3-.3.5-.7.5-1.1 0-.8-.6-1.5-1.4-1.5s-1.5.7-1.5 1.5.7 
                       1.4 1.5 1.4l.6 5.1c.1.3.2.4.5.4h10.2c.2 0 .4-.1.5-.4l.6-5.1c.8 0 1.5-.6 
                       1.5-1.4s-.7-1.5-1.5-1.5z">
                       </path>
                    </svg>
                  <span class="slds-assistive-text">opportunity</span>
                </span>
              </div>
              <div class="slds-media__body">
                <div class="slds-page-header__name">
                  <div class="slds-page-header__name-title">
                    <h1>
                      <span class="slds-page-header__title slds-truncate" title={OppName}>{OppName}</span>
                    </h1>
                  </div>
                </div>                
              </div>
            </div>
          </div>
          <div class="actions slds-grid slds-grid_vertical-align-center">
             <template if:true={isAerotek}>
              <button class="slds-button slds-button_brand" onclick={handleOppStatusChange}>Update Position Status</button>
             </template>
             <template if:false={isAerotek}>
              <button class="slds-button slds-button_brand" onclick={handleOppStatusChange}>Update Opportunity Status</button> 
              </template>
              

              <!-- FOLLOW BUTTON -->
              <template if:true={following}>
                <button class={following} onclick={handleFollow} aria-live="assertive">
                  <span class="slds-text-not-pressed">
                      <svg class="slds-button__icon slds-button__icon_small slds-button__icon_left" aria-hidden="true" viewBox="0 0 24 24">
                          <path d="M13.8 13.4h7.7c.3 0 .7-.3.7-.7v-1.4c0-.4-.4-.7-.7-.7h-7.7c-.2 
                          0-.4-.2-.4-.4V2.5c0-.3-.3-.7-.7-.7h-1.4c-.4 0-.7.4-.7.7v7.7c0 .2-.2.4-.4.4H2.5c-.3
                          0-.7.3-.7.7v1.4c0 .4.4.7.7.7h7.7c.2 0 .4.2.4.4v7.7c0 .3.3.7.7.7h1.4c.4 0
                            .7-.4.7-.7v-7.7c0-.2.2-.4.4-.4z">
                          </path>
                      </svg>Follow</span>
                  <span class="slds-text-pressed">
                      <svg class="slds-button__icon slds-button__icon_small slds-button__icon_left" aria-hidden="true" viewBox="0 0 24 24">
                          <path d="M8.8 19.6L1.2 12c-.3-.3-.3-.8 0-1.1l1-1c.3-.3.8-.3
                          1 0L9 15.7c.1.2.5.2.6 0L20.9 4.4c.2-.3.7-.3 1 0l1 1c.3.3.3.7
                            0 1L9.8 19.6c-.2.3-.7.3-1 0z">
                          </path>
                      </svg>Following</span>
                </button>
              </template>
              <!-- /FOLLOW BUTTON -->


              <lightning-button-group>
                  <template for:each={buttons} for:item="button">
                    <template if:true={button.title}>
                      <lightning-button 
                        key={button.value} 
                        label={button.label}
                        value={button.value}                         
                        onclick={handleQuickAction} 
                        title={button.value}                       
                    ></lightning-button>
                    </template>
                    <template if:false={button.title}>
                      <lightning-button 
                        key={button.value} 
                        label={button.label}
                        value={button.value}                         
                        onclick={handleQuickAction}                        
                    ></lightning-button>
                    </template>                    
                  </template>
                <lightning-button-menu menu-alignment="right" alternative-text="Show menu">
                    <template for:each={buttonsAlt} for:item="button">
                        <lightning-menu-item 
                            key={button.value} 
                            label={button.label} 
                            value={button.label}                            
                            onclick={handleQuickAction}
                        ></lightning-menu-item>
                    </template>
                </lightning-button-menu>
            </lightning-button-group>
          </div>
        </div>
    </div>
    <div class="info slds-p-horizontal_x-small slds-p-vertical_small">
      <ul class="field-list">
        <template for:each={infoFields} for:item="field">       
          <template if:true={isAerotek}>
            <li class="slds-p-right_x-small ons" key={field.label}>
              <h5 class="slds-text-title slds-truncate" title={field.label}>{field.label}</h5>
              <template if:true={field.nav}><a href={field.url} class="slds-text-heading_small slds-truncate" title={field.value}>{field.value}</a></template>
              <template if:false={field.nav}>
                <template if:true={field.colorCode}>
                  <template if:true={colorRed}>
                    <p class="slds-text-heading_small redColor" title={field.value}>{field.value}</p>
                  </template>
                  <template if:true={colorYellow}>
                    <p class="slds-text-heading_small yellowColor" title={field.value}>{field.value}</p>
                  </template>
                  <template if:true={colorGreen}>
                    <p class="slds-text-heading_small greenColor" title={field.value}>{field.value}</p>
                  </template>
                </template>
                <template if:false={field.colorCode}>
                  <p class="slds-text-heading_small " title={field.value}>{field.value}</p>
                </template>
              </template>            
            </li>
          </template>
          <template if:false={isAerotek}>
            <li class="slds-p-right_x-small" key={field.label}>
              <h5 class="slds-text-title slds-truncate" title={field.label}>{field.label}</h5>
              <template if:true={field.nav}><a href={field.url} class="slds-text-heading_small slds-truncate" title={field.value}>{field.value}</a></template>
              <template if:false={field.nav}>
                <template if:true={field.colorCode}>
                  <template if:true={colorRed}>
                    <p class="slds-text-heading_small redColor" title={field.value}>{field.value}</p>
                  </template>
                  <template if:true={colorYellow}>
                    <p class="slds-text-heading_small yellowColor" title={field.value}>{field.value}</p>
                  </template>
                  <template if:true={colorGreen}>
                    <p class="slds-text-heading_small greenColor" title={field.value}>{field.value}</p>
                  </template>
                </template>
                <template if:false={field.colorCode}>
                  <p class="slds-text-heading_small slds-truncate" title={field.value} data-id={field.label}>{field.value}</p>
                </template>                
              </template> 
            </li>          
          </template>                                      
        </template>
      </ul>
      <c-lwc-opp-match-talent record-id={Id}></c-lwc-opp-match-talent>
    </div>
  </header>
</template>