<template>
        <section aria-describedby="dialog-body-id-98" aria-labelledby="dialog-heading-id-103" 
                 class="" role="dialog">
             <div class="slds-popover" style="position:absolute;top:2rem;left:0">
           <button class="slds-button slds-button_icon slds-button_icon-small slds-float_right slds-popover__close" title="Close dialog">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="close" style="height:14px;"><path d="M14.3 11.7l6-6c.3-.3.3-.7 0-1l-.9-1c-.3-.2-.7-.2-1 0l-6 6.1c-.2.2-.5.2-.7 0l-6-6.1c-.3-.3-.7-.3-1 0l-1 1c-.2.2-.2.7 0 .9l6.1 6.1c.2.2.2.4 0 .6l-6.1 6.1c-.3.3-.3.7 0 1l1 1c.2.2.7.2.9 0l6.1-6.1c.2-.2.4-.2.6 0l6.1 6.1c.2.2.7.2.9 0l1-1c.3-.3.3-.7 0-1l-6-6c-.2-.2-.2-.5 0-.7z"></path></svg>
            <span class="slds-assistive-text">Close dialog</span>
          </button>
            <header class="slds-popover__header">
            
                
                <h2 class="slds-text-heading_small" id="dialog-heading-id-103" style="font-weight:600">Filters</h2>
              </header>
            <div class="slds-popover__body slds-popover__body_small" id="dialog-body-id-98">
                   <slot name="popoverbody"></slot>
              </div>
            <footer class="slds-popover__footer">
                    <slot name="footer" onslotchange={handleSlotFooterChange}></slot>
                </footer>
                 </div>
          </section>
</template>