<template>
    
    <div class="search-lookup">
        <c-search-lookup-component 
            label-text={inputLabel}
            required
            clas-name='Lookup' 
            place-holder={ATS_JOB_TITLE} 
            method-name='querySObject' 
            object-name='Global_LOV__c' 
            record-type-name='JobTitleList' 
            is-soql='true' 
            sort-condition='Number_Value__c DESC' 
            use-cache=false
            free-text={freeText}
            onfreetextselectedevent={handleJobTitleFreeTextEvent} 
            onlookupitemselectedevent={handleJobTitleSelectedEvent}
            search-string={jobTitle} 
            where-condition={jobTitleWhereCondition} 
            addl-fields="[]" 
            record-limit="6"
            onsearchstringblank={handleBlankJobTitle}>
        </c-search-lookup-component>
    </div>
</template>