<template>
    <c-lwc-tracking-subscriber>
        <div class="lwc-form" if:false={submitted}>
            <textarea data-tracker="firstName" class="lwc-input" placeholder="First Name">{fName}</textarea>
            <textarea data-tracker="lastName" class="lwc-input" placeholder="Last Name">{lName}</textarea>
            <input type="checkbox" data-tracker="terms_acceptance" name="terms"/>&nbsp;<label for="terms">I accept terms and conditions</label> <br>
            <input type="checkbox" data-tracker="emails_acceptance" name="emails"/>&nbsp;<label for="emails">I want to receive emails</label> <br>
            <input type="checkbox" data-tracker="texts_acceptance" name="texts"/>&nbsp;<label for="texts">I want to receive text messages</label> <br>
            <button onclick={onSubmit} data-tracker="submit_lwc_form">Submit</button> <br>
            <button onclick={onClear} data-tracker="clear_lwc_form">Clear</button> <br>
        </div>
        <div if:true={submitted}>Successfully submitted <br>
        <button onclick={onReset} data-tracker="reset_lwc_form">Reset</button> 
        </div>
    </c-lwc-tracking-subscriber>
</template>