<template>
    <div class="c-container">
        <lightning-card>
            <p class="slds-p-horizontal_small">
                <c-lwc-multi-select-lookup 
                    label-name="Search Contact"
                    object-api-name= "Contact"
                    field-api-names="Id,Name"
                    filter-field-api-name="Name"
                    icon-name="standard:contact"
                    extra-filter={extrafilter}
                    order-by-apiname=""
                    limit-number=""
                    onretrieve={selectItemEventHandler} 
                    onremove={deleteItemEventHandler}>
                </c-lwc-multi-select-lookup>
            </p><br><br>     
        </lightning-card> 
    </div>
</template>