@import "allegis-vars.less";

// Components
@import "banners.less";
@import "buttons.less";
@import "card.less"; 
@import "content-section.less";
@import "key-contacts.less";
@import "modal.less";
@import "navigation.less";
@import "tabs.less";
@import "end-date.less";
@import "support-center.less";
@import "toast.less";

// Pages
@import "pages/profile.less";
@import "pages/search-results.less";

// Globals
a { color: @link-color; }
a svg.slds-icon { fill: @link-color; }
input::placeholder { color: @input-placeholder-color; }

// Text Globals
.com-uppercase { text-transform: uppercase; }
.com-capitalize { text-transform: capitalize; }

// Tooltip
.slds-popover {
    background-color: @tooltip-background !important;
    color: @tooltip-text-color;
}

// Header
.topContent {
    line-height: 75px;
}

@media (max-width:1024px) {
    .topContent {
        line-height: 60px;
        padding:0 1rem;
    }
}

// Dashboard - left/right columns
.comm-page-home .contentWrapper {
    border:1px solid #E0E0E0; 
    border-radius:5px;
}

.comm-page-home .leftContent{
    background-color: @profile-card-color;
}

.contentRegion {
    padding-top:0 !important;
}

// Dashboard - Global search
.search-field-wrapper {
    box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.4);
}

// Header - End Date
.toastHidden {
    display:none !important;
}


// Modals - close button
.slds-modal__close .slds-button {
    border:none;
    color:@white;
}

// Header - Hide hero on mobile
@media (max-width:480px) {
    .newHero,
    .mainContentArea_hero .globalSearch {
        display:none;
    }
    
    .mainContentArea_hero {
        margin-top:0 !important;
    }
}

// Header - Title bar
.titleBar {
    background-color:@title-bar-background-color;
    color:@title-bar-text-color;
}

.titleBar h1 {
    color:@title-bar-text-color;
}

.titleBarContent {
    padding: 38px 0;
    @media (max-width:480px) {
        padding: 38px 20px;
    }
}

// Basic Info - stretch content
.comm-page-home .contentWrapper .contentInnerWrapper {
    align-items: stretch;
}

.c-key-contacts {
    padding: 20px 0;
}

// Profile Page - Skill Pills
.pillContainer .com-pill {
    background-color: @pill-background-color;
    border-radius: 20px;
    color: @pill-text-color;
    display: inline-block;
    font-size: .75rem;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 2px 10px;
    text-transform: uppercase;
}

.pillContainer .com-pill-suggested {
    background-color: @pill-suggested-background-color;
    border: 1px solid @pill-suggested-border-color;
    border-radius: 20px;
    color: @pill-suggested-text-color;
    display: inline-block;
    font-size: .75rem;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 2px 10px;
    text-transform: uppercase;
}

.pillContainer .com-edit-pill {
    cursor: pointer;
}

.pillContainer .com-pill.com-edit-pill svg {
    fill:@pill-text-color;
    position: relative;
    top: -1px;
}

.pillContainer .com-pill-suggested.com-edit-pill svg {
    fill:@pill-suggested-text-color;
    position: relative;
    top: -1px;
}

// Profile Page - typeahead
ul.typeaheadReults {
    border: 1px solid @navigation-border;
}

ul.typeaheadReults li.result, 
ul.typeaheadReults li.skillResult {
    cursor: pointer;
    text-transform:capitalize;
}

ul.typeaheadReults li.result:hover,
ul.typeaheadReults li.skillResult:hover,
ul.typeaheadReults li.result.itemSelected,
ul.typeaheadReults li.skillResult.itemSelected {
    background-color:#eee;
}

// Checkboxes
.slds-form-element .slds-checkbox [type=checkbox]:not([disabled]):checked+.slds-checkbox_faux, 
.slds-form-element .slds-checkbox [type=checkbox]:not([disabled]):checked+.slds-checkbox--faux, 
.slds-form-element .slds-checkbox [type=checkbox]:not([disabled]):checked~.slds-checkbox_faux, 
.slds-form-element .slds-checkbox [type=checkbox]:not([disabled]):checked~.slds-checkbox--faux, 
.slds-form-element .slds-checkbox [type=checkbox]:not([disabled]):checked+.slds-checkbox__label .slds-checkbox_faux, 
.slds-form-element .slds-checkbox [type=checkbox]:not([disabled]):checked+.slds-checkbox__label .slds-checkbox--faux {
    background-color:@pill-background-color;
}

.slds-checkbox [type=checkbox]:not([disabled]):checked+.slds-checkbox_faux:after, 
.slds-checkbox [type=checkbox]:not([disabled]):checked+.slds-checkbox--faux:after, 
.slds-checkbox [type=checkbox]:not([disabled]):checked~.slds-checkbox_faux:after, 
.slds-checkbox [type=checkbox]:not([disabled]):checked~.slds-checkbox--faux:after, 
.slds-checkbox [type=checkbox]:not([disabled]):checked+.slds-checkbox__label .slds-checkbox_faux:after, 
.slds-checkbox [type=checkbox]:not([disabled]):checked+.slds-checkbox__label .slds-checkbox--faux:after {
    border-bottom-color:@pill-text-color !important;
    border-left-color:@pill-text-color !important;
}

// Footer
.c-footer_container {
    background-color: @footer-background-color;
    color: @footer-text-color;
}

.c-footer_container .copyright {
    color: @footer-text-color;
}

.c-footer_container a {
    color: @footer-link-color;
    text-decoration: none;
}

.c-footer_container img {
    max-width: 140px;
}

// Article detail override
c-com_faq-detail .slds-rich-text-editor__output > span > div {
    margin-left:0 !important;
}

@media (min-width:481px) {
    // Preferences Checkbox group
    .prefCheckBoxes .slds-form-element__control {
        display: flex;
        flex-wrap: wrap;
    }
    // Preferences Checkbox item
    .prefCheckBoxes .slds-checkbox {
        flex-grow: 1;
        width: 50%;
    }
}

@media (max-width:480px) {
    // profile padding
    .profileItem {
        padding: 0 1rem;
    }

    // profile buttons
    .profileHeader .slds-col {
        margin-bottom: 0.75rem;
        margin-left: 0;
        width:100%;
    }
}

// Keep at bottom for overrides
@import "mobile-overrides.less";

.forceCommunitySearchBox .search-button, .forceCommunitySearchBox .has-input .search-field, .forceCommunitySearchBox .search-field, .forceCommunitySearchBox .search-field:focus {
    border-radius: 0px 5px 5px 0px !important;
}

::selection{
    color: @selection-color;
    background-color: @selection-background;
}