.com-banner {
    display: block;
    font-weight:@banner-font-weight;
    max-height:200px;
    transition: max-height 250ms;
}

.com-banner .info {
    padding: 1rem 0;
    background-color: @banner-info-background-color;
    color: @banner-info-text-color;
}

.com-banner .success {
    padding: 1rem 0;
    background-color: @banner-success-background-color;
    color: @banner-success-text-color;
}

.com-banner .warning {
    padding: 1rem 0;
    background-color: @banner-warning-background-color;
    color: @banner-warning-text-color;
}

.com-banner .error {
    padding: 1rem 0;
    background-color: @banner-error-background-color;
    color: @banner-error-text-color;
}

.com-banner.com-banner-hide {
    max-height: 0px;
    overflow: hidden;
}