// https://lightningdesignsystem.com/components/buttons/

// Global search font override on Dashboard 
.search-button {
  font-family: @btn-font;
  border-radius: 0px 6px 6px 0px !important;
}

// Override standard buttons where necessary
.slds-button {
	// Only put size and padding for all buttons here
	padding: @btn-padding !important;
	border-radius: @btn-border-radius !important;
	line-height: 1.5rem !important;
	font-family: @btn-font !important;
    &_brand {
        // specific to brand only
        background-color:@btn-background-color;
        border:@btn-border-color;
		color:@btn-font-color;
        transition: background-color 0.8s;
        -webkit-transition: background-color 0.8s;
        &:active,&:focus {
            background-color:@btn-background-color-active;
            border: @btn-border-active;
            color:@btn-font-color-active !important;
        }
        &:hover:enabled {
            background-color:@btn-background-color-hover;
            border:@btn-border-hover;
            color:@btn-font-color-hover !important; 
        }
    } 
    &_neutral {
        background-color:#FFF;
        border:@btn-ghost-border;
        color:@btn-ghost-font-color;
        transition: background-color 0.8s;
        -webkit-transition: background-color 0.8s;
        &:active,&:focus {
            background-color:@btn-ghost-background-active;
            border:@btn-ghost-border-active;
            color:@btn-ghost-font-color-active;
        }
        &:hover:enabled {
            background-color:@btn-ghost-background-hover;
            border:@btn-ghost-border-hover;
            color:@btn-ghost-font-color-hover;
        }
    }
}

.u-btn, .u-btn button {
    // Only put size and padding for all buttons here
	display: inline-block;
	vertical-align: middle;
    font-family: @btn-font !important;
	font-size: @btn-font-size;
	font-weight: @btn-font-weight;
	padding: @btn-padding !important;
	border-radius: @btn-border-radius;
	box-shadow: @btn-box-shadow;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	text-transform: @btn-text-transform;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none; 
	&:disabled {
			background: #e0e5ee;
			border-color: transparent;
			color: #fff;
	}

	&--primary {
			background-color: @btn-background-color;
		    border: @btn-border;
			color: @btn-font-color;
			&:hover {
					background-color: @btn-background-color-hover;
					color: @btn-font-color-hover;
					border: @btn-border-hover;
					text-decoration: none;
			}
			&:focus {
				background-color: @btn-background-color;
				color: @btn-font-color;
				border: @btn-border;
				text-decoration: none;
			}
			&:active {
				background-color: @btn-background-color-active;
				color: @btn-font-color-active;
				border: @btn-border-active;
				text-decoration: none;
			}
	}

	&--ghost-primary {
	    background-color: @btn-ghost-background-color;
	    border: @btn-ghost-border;
	    color: @btn-ghost-font-color;
	    &:hover {
	        background-color: @btn-ghost-background-color;
	        color: @btn-ghost-font-color-hover;
	        border: @btn-ghost-border-hover;
	        text-decoration: none;
	    }
	    &:focus, &:active {
	      background-color: @btn-ghost-background-active;
	      color: @btn-ghost-font-color-active;
	      border: @btn-ghost-border-active;
	      text-decoration: none;
	    } 
	}
} 

body.comm-page-custom-Jobs .slds-button {
	// Only put size and padding for all buttons here
	padding: 0px 0px  !important;
	line-height: 2rem !important;
}