.c-card {
    padding: 1rem;
    background-color: @card-background-color;
    border-style: @card-border-style;
    border-width: @card-border-width;
    border-color: @card-border-color;
    border-radius: @card-border-radius;
}   