.progressPill {
    background-color: @end-date-pill !important;
    text-transform: uppercase;
    border-radius: 20px 20px 20px 20px;
    color:white;
    float:right;
    height:26px;
    min-width: 110px;  
    line-height:26px;
    padding:0 20px;
    position: relative;
    top: -3px;
}

.progressContainer {
    background-color: @end-date-background;
    border-radius:12px;
    height:20px;
    margin: 5px 0 15px;
    width:100%;
    position: relative;
    top: 5px;
}

// Desktop
@media (min-width:481px) {
    .progressContainer {
        max-width:50%;
    }
}