// Everything below desktop
@media (max-width:1024px) {
    
}

// Mobile Only
@media (max-width:480px) {
    
}

@media (max-width:768px) {
    .cTc_HomeLayout .rightContent {
        padding:0;
        margin:0;
    }

    .comm-page-home c-com_basic-info img {
        max-width: 120px;
    }

    .comm-page-home .contentWrapper {
        border:none;
    }

    .comm-page-detail-005 c-com_profile .slds-container_x-large .slds-grid .slds-col.slds-p-right_x-large {
        padding-right:0;
    }

    .comm-page-home .content {
        margin-top:0;
    }

    .comm-page-home .leftContent,
    .comm-page-home .rightContent > div > .ui-widget,
    .comm-page-detail-005 .profileItem,
    .comm-page-home .content > div > .ui-widget:not(:last-of-type) {
        background-color: #EDF2F5;
        border-radius:6px;
        flex:auto;
        margin:0 20px 20px;
        padding:20px;
    }

    .comm-page-home .leftContent {
        background-color: white;
        margin:0;
    }

    .comm-page-home .c-support-center_container,
    .comm-page-home .c-support-center_container .slds-col,
    c-com_key-contacts > div,
    .comm-page-home .c-end-date-cta {
        padding:0 !important;
    }

    .comm-page-home .c-support-center_container h1,
    .comm-page-home .c-support-center_container h3,
    .comm-page-home .c-support-center_container p {
        text-align: inherit;
    }
}

// Tablet only
@media (min-width:481px) and (max-width:1024px) {
    
}