.slds-modal__container .requiredHelpText {
    float: left;
    position: relative;
    top: 2px;
}

.slds-modal__header .close-button {
    float:right;
    padding:8px 0 8px 8px;
    position: relative;
}

.slds-backdrop {
    background: rgba(0, 0, 0, 0.5) !important;
}

// File selector 
.slds-modal__content .slds-file-selector {
    width:100%
}

.slds-modal__content .slds-file-selector__dropzone {
    width: 100%;
    padding: 50px;
    text-align: center;
    margin: 20px auto;
}

.slds-modal__content .slds-file-selector__body {
    display: block;
}

.slds-modal__content .slds-file-selector__button {
    margin-bottom: 20px;
}

// Non-Mobile
@media (min-width:481px) {
    .comm-page-detail-005 c-com_location-settings .editLocationModal .slds-modal__content {
        overflow: initial;
    }
}


// Mobile
@media (max-width:480px) {
    .slds-modal__container {
        border-radius: 0;
        display:flex;
        margin: 0;
        padding: 0;
        top: 100vh;
        transition: top 250ms;
    }

    .slds-modal__container.open {
        top: 0vh;
    }

    .slds-modal__container .slds-modal__header {
        border-radius: 0;
    }

    .slds-modal__container .slds-modal__content {
        flex-grow: 1;
        padding: 0.5rem;
    }

    .slds-modal__container .slds-modal__footer {
        border-radius: 0;
    }

    .com-modal-container .slds-backdrop {
        opacity: 0 !important;
    }
}