/****************************************/
/*    Navigation for new theme (BYO)    */
/****************************************/

.mobileMenu {
    display: none;
}

.mobileMenu .subMenuItem {
    line-height: 25px;
}

.desktopMenu .menuItem {
    cursor: pointer;
    position:relative;
}

.mobileMenu hr {
    margin: 1rem 0;
}

.desktopMenu .subNavigation {
    background-color: white;
    left:0;
    min-width:100%;
    position: absolute;
    visibility: hidden;
    z-index: 100;
}

.desktopMenu .subNavigation a {
    display:block;
    line-height: initial;
}

.desktopMenu .menuItem:hover > .subNavigation {
    visibility: visible;
}

// Desktop
@media (min-width:1025px) {
    .subNavigation a {
        padding: 10px 15px;
    }

    .subNavigation a:first-of-type {
        padding: 0 15px 10px 15px;
    }

    .subNavigation a:last-of-type {
        padding: 10px 15px 15px 15px;
    }

    .menuButton {
        display:none;
    }
}

// Mobile
@media (max-width:1024px) {
    .desktopNavBar {
        display:none;
    }
    
    .communityTheme {
        position:relative;
        right:0;
    	transition: right 250ms, position 250ms;
    }
    
    .communityTheme.menuOpen {
        // round to prevent fractional pixels
        right: round(80vw);
    }

    .mobileMenu {
        transition: left 250ms, position 250ms;
    }

    .mobileMenu.menuOpen {
        // round to prevent fractional pixels
        left: round(20vw) !important;
    }

    .desktopMenu,
    .navCheckbox {
        display: none;
    }
    
    .mobileMenu .nav {
        height: 100%;
        overflow:scroll;
    }

    .mobileMenu .menuItem {
        line-height:50px;
        font-size:1.2rem;
        color: #fff;
    }

    .mobileMenu .subMenuItem {
        display:block;
        line-height: 15px;
    }

    .mobileMenu .menuItem {
        line-height:50px;
        font-size:1.2rem;
    }

    .mobileMenu .subMenuCheckbox {
        display: none;
    }

    .mobileMenu .subMenuCheckbox {
        display: none;
    }

    .mobileMenu .subNavigation {
        height:0px;
        overflow:hidden;
        transition: height 250ms;
    }

    .mobileMenu .subMenuCheckbox:checked ~ .subNavigation {
        height:fit-content;
        transition: height 250ms;
    }

    /* Clear button on mobile search */
    .mobileMenu .slds-input__icon-group.slds-input__icon-group_right {
        top: 40px;
    }

    /*******/

    .mobileMenu .subMenuItem {
        line-height: 25px;  
    }

    .desktopMenu,
    .navCheckbox {
        display: none;
    }
    
    .mobileMenu {
        display: block;
        position: fixed;
        top: 0;
        left: 100vw;
        height: 100vh;
        width: 80vw;
        z-index:1000;
    }

    .menuSearch {
        color:black;
        height:45px;
    }

    .openMenuImage {
        width:2.5rem;
        height:2.5rem;
    }
}

// Tablet
@media (min-width:769px) and (max-width:1024px) {
    .mobileMenu {
        width: 50vw;
    }

    .communityTheme.menuOpen {
        // round to prevent fractional pixels
        right: round(50vw);
    }

    .mobileMenu.menuOpen {
        // round to prevent fractional pixels
        left: round(50vw) !important;
    }
}

// Class to hide transition for mobile app tab changing
.notransition {
    -webkit-transition: none !important; 
    -moz-transition: none !important; 
    -o-transition: none !important; 
    -ms-transition: none !important; 
    transition: none !important; 
}