.c-support-center_container h1, 
.c-support-center_container h3, 
.c-support-center_container p {
    text-align: center;
}

.c-support-center_container {
    background-color: @profile-card-color;
    padding: 40px 25px;
}

.c-support-icons {
    max-width: 94px;
    max-height: 87px;
    width: auto;
    height: auto;
    margin: 10px;
}

.c-support-center_link {
    text-decoration: none !important;
    color: inherit;
}

.c-support-center-btn-container {
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.c-support-center_faq-cat {
    color: #0C5B8D;
    font-size: 1.125rem;
}

.c-support-center_description {
    font-size: 1rem;
}

.c-card {
    padding: 1.35rem;
    margin: 10px;
    border: 1px solid #fff;
    border-radius: 3px;
    background-color: #FFF;
    text-decoration: none;
    text-align: center;
}

.articleLink {
    background-color: #EEF3F5 !important;
    padding: 10px 5px 10px 15px;
    margin: 0px 0.75rem 0.75rem 0.75rem;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 200ms;
    &:hover, &:active, &:focus {
        background-color: #DBE5EA !important;
        text-decoration: underline;
    }
}

@media (max-width:768px) {
    .c-support-center_link {
        margin: 5px 0px;
        padding: 5px;
    }

    .supportCenterItem {
        height: fit-content;
        padding: 5px 0;
    }
 
    .supportCenterItem img {
        float:left;
        height: 100px;
        margin:0 5px 0 0;
        width: 100px;
    }

    .supportCenterItemContent {
        padding: 0 5px;
        text-align: left;
    }

    .supportCenterItemContent .c-support-center_description {
        display: table-cell;
    }

    .c-support-center-btn-container {
        text-align: initial;
    }
}