/*
    <lightning-tabset class="customTabs">
*/

.customTabs .slds-is-active, .customTabs .slds-is-active::after, .customTabs .slds-tabs_default__item.slds-is-active::after {
    background-color: #FFF !important;
    color: #021A32 !important;
    font-weight: 800 !important;
    border-bottom: 1px solid #FFF !important;
}

.customTabs .slds-tabs_default__item {
    color: #0C5B8D;
    font-weight: 800 !important;
    padding: 10px 30px !important;
}
.customTabs .slds-tabs_default__nav {
    background-color: #D6DADF !important;
    border-bottom: none !important;
}

.customTabs .slds-tabs_default__link, .customTabs .slds-tabs--default__link {
    border-bottom: 0px !important;
    font-size: 1.0625rem;
    font-weight: 400;
}

.customTabs .slds-tabs_default__item::after,
.customTabs .slds-tabs_default__item::after,
.customTabs .slds-tabs--default__item::after,
.customTabs .slds-tabs--default__item::after {
    height: 3px;
    background-color: #d6dadf !important;
}

// Mobile
@media (max-width:480px) {
    // Hide tabs on mobile profile page 
    body.comm-page-detail-005 .customTabs .slds-tabs_default__nav {
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .customTabs .slds-tabs_default__item {
        padding: 5px 25px !important;
    }
}

// Desktop
@media screen and (min-width:1280px) {
    .customTabs .slds-tabs_default__nav .slds-tabs_default__item:first-of-type {
        margin-left:~"calc((100vw - 1280px) / 2)";
    }
}