.c-toast-message {
    @media (min-width:480px) {
        left: 50%;
        transform: translate(-50%, 0);
    }

    box-shadow: @toast-shadow-blur @toast-shadow-color;
    margin: 0 20px;
    max-width: 600px;
    padding: 10px 20px;
    position: fixed;
    top: -200px;
    transition: top 500ms;
    width:calc(100% - 40px);
    z-index: 9999;

    /* Default Colors */
    background-color: @toast-background-color;
    border-left: @toast-border-left; 
    color: @toast-color;

    &.open {
        top: 20px;
    }

    &.error {
        background-color: @toast-error-background-color;
        border-left: @toast-error-border-left;
        color: @toast-error-color;
    }

    &.success {
        background-color: @toast-success-background-color;
        border-left: @toast-success-border-left;
        color: @toast-success-color;
    }
}

.c-toast-message h6 {
    color: @toast-heading-color;
    font-weight: bold;

    @media (max-width:479px) {
        font-size: 1.125rem;
    }
}

.c-toast-message.error h6 { color: @toast-error-heading-color; }
.c-toast-message.success h6 { color: @toast-success-heading-color; }

.c-toast-message .close {
    margin: auto 0;
}
.c-toast-message .close img {
    cursor: pointer;
    padding: 10px 0 10px 10px;
}