.THIS .show {
   max-height: 900px;
    width: 100%;
}
.THIS .modal-content-right {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    padding: 0 20px;
}
.THIS .input-container .uiInput{
    flex-grow: 1;
    padding: 0 5px;
}
.THIS .input-container li {
    margin-top: 0;
}

.THIS #data-table{
    max-width: 90%;
    width: 90%;
}
.THIS .col1 {
    width: 55px;
}