.THIS .col-3 svg {
    fill: var(--lwc-colorTextIconDefault,rgb(112, 110, 107));
}
.THIS .slds-icon_blue svg {
    fill: var(--lwc-brandTextLink,rgb(0, 109, 204));
}
.THIS .record-header header {
    display: none;
}
.THIS .header-container {
    height: 3.5rem;
    background: #f3f2f2;
}
.THIS .record-header .slds-card__body {
    margin: 0;
}
.THIS .record-name {
    text-transform: uppercase;
    font-size: 1rem;
}
.THIS .record-title {
    font-style: italic;
    font-size: 0.7rem;
}
.THIS strong {
    margin-right: .2rem;
}
.THIS .col-1, .THIS .col-2, .THIS .col-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.THIS .col-2 *, .THIS .col-3 * {
    font-size: 0.7rem;
}