.THIS .toggle{
	  display: none;
}

.THIS .add-new-button{
	position: absolute;
	right: 0px;
	top: -5px;
	z-index: 9000;
}

.THIS .interview-modal-timeline{
	max-width: 80rem;
	min-width: 62rem;
	transform: translate(-7rem,5rem);
	width: 80%;
	margin: 0 auto;
}

.THIS .interview-modal{
	transform: translate(0rem,8rem);
	min-width: 45rem;
	max-width: 80rem;
	width: 80%;
	margin: 0 auto;
}

.THIS .slds-modal__content{
	height: 70%;
}

.THIS dd, 
.THIS dt{
    margin-bottom: 0.25rem;
}

.THIS dd:last-child, 
.THIS dt:last-child{
    margin-bottom: 0;
}

.THIS .activities-list-container{
	overflow-y: scroll;
	max-height: 19rem;
}

.THIS .slds-dl_inline__detail p:nth-of-type(2){
    margin-top: 0.5rem;
}

.THIS .slds-tabs--default__content{
    padding: 0;
}

.THIS .edit-mode{
	background-color: #ecebea;
	padding: 0.25rem;
}

.THIS hr{
	margin: 0.25rem 0;
}
/* Sandeep: Time picker is going under the modal footer.below styel to makesur it overflows */
.THIS .overflow-y-visible {
    overflow: visible!important;
}
.THIS .slds-form-element__label{
    display: none;
}
.THIS .custom-footer {
	margin: 1rem -1rem -1rem -1rem;
}
.THIS .add-new-btn {
	position: absolute;
	right: 22px;
	transform: translateY(-62px);
	width: 115px;
}
.THIS .d-inline-check {
 display: inline-block;
  margin-right: 5px;
  margin-top:2px;
    width: 0.8rem;
    height: 0.8rem;
}
.THIS .opp-verbiage-pos .uiInput--checkbox{
  display:inline-block;
   font-size: 12px;
    font-weight: 600;
    padding-left:15px;
    margin:auto;
}
.THIS .opp-verbiage-pos {
    background-color:#FFB75D;
    padding:4px 6px 6px 6px;
    margin-bottom:10px;
    border-radius:5px;        
}
    .THIS .opp-verbiage-pos svg {
        height:18px;
        fill:#333333;      
    }
.THIS .verb-pos {
  font-size:12px;
}
.THIS .border-right {
  border: 0.6px solid black;
}
