.THIS .slds-page-header{
    padding: 8px;
    border-radius: .25em;
    border-bottom: 0px;
}

.THIS .slds-media > a:visited{
    background-color: #e0e5ee;
}

.THIS h2{
    font-size: 1.025rem;
    max-width: 14rem;
}

.THIS .req-page-title h2{
	font-size: 1rem;
	line-height: 1;
}

.THIS .req-page-title p{
	line-height: 1.25;
}

.THIS .req-page-title {
    width: 100%;
}