.THIS .slds-form-element__label{
	padding-top: 0;
}
.THIS .slds-accordion__list-item{
    border-top: 0;
}
.THIS .slds-section-title_divider{
	font-size: 1rem;
}
.THIS .slds-checkbox [type=checkbox][disabled]+.slds-checkbox_faux:after, .THIS .slds-checkbox [type=checkbox][disabled]+.slds-checkbox--faux:after, .THIS .slds-checkbox [type=checkbox][disabled]~.slds-checkbox_faux:after, .THIS .slds-checkbox [type=checkbox][disabled]~.slds-checkbox--faux:after, .THIS .slds-checkbox [type=checkbox][disabled]+.slds-checkbox__label .slds-checkbox_faux:after, .THIS .slds-checkbox [type=checkbox][disabled]+.slds-checkbox__label .slds-checkbox--faux:after {
    border-color: #443232;
}

.THIS .slds-p-left--xx-large {
    padding-left: 10rem;
}

.THIS abbr{
	margin-left: -5px;
}

.THIS .slds-cell-edit__button:hover{
	color: rgba(0, 112, 210, 1.0);
	transition: color 0.25s ease-in;
}

.THIS .slds-accordion__list-item{
	border-top: 0;
}

.THIS .slds-accordion__summary-heading{
	background-color: rgb(243, 242, 242);
	padding: 0.5rem 1rem;
}

.THIS .slds-form-element{
	width: 100%;
}

.THIS .account-info{
	font-size: 1rem;
}

.THIS .save-overlay{
	position: fixed;
	z-index: 4;
	background-color: rgba(255,255,255, 0.7);
	padding: 0.5rem;
	bottom: 40px;
}

.THIS .button-container{
	margin: 0 auto;
}

.THIS .edit-mode-helptext .slds-form-element__icon{
	position: absolute;
	transform: translate(112px, -22px);
}

.THIS .match-req {
   border-left: 5px solid #00cdcd;
   background-color: #f4ffff; 
}
.THIS .High-field .match-req-bg-color {
    background-color: #f4ffff;
}
.THIS .job-pill .slds-pill{
    background-color: #f4ffff;
}
.THIS .skill-pill .match-req-bg-color{
    background-color: #f4ffff;
}
.THIS .exp-level-pill  .slds-input{
   border-left: 5px solid #00cdcd;
   background-color: #f4ffff; 
}
.THIS .match-req-desc .uiInput--textarea.textarea{
    border-left: 5px solid #00cdcd;
    background-color: #f4ffff;
}
.THIS .match-req-level .slds-input{
    border-left: 5px solid #00cdcd;
    background-color: #f4ffff;
}
.THIS .bg-edit {
    background-color: #E6E6E6;
    height:50px;
}
.THIS .required{
    float: left;
    padding-right: 2px;
    color: rgb(194, 57, 52);
    font-weight: 700
}
.THIS .search-edit {
    display:inline-block
}
.THIS .required-edit {
    display:inline-block
}
.THIS .field-class{
    position:absolute;
    top:16px;
}
.THIS .border-rad {
    border-radius:4px;
}
.THIS .button-pos {
    position:relative;
    bottom:11px;
}
.THIS .search-match-pill{
   width: 25px;
    height: 5px;
    transform:rotate(270deg);
    border-radius: 16px;
    background-color: #00cdcd;
    position:relative;
    left:5px;
}
.THIS .placement-dis .slds-form-element .slds-form-element__label{
    display:none;
}


.THIS .position-btn-inline{
	position: absolute;
    top: 0;
    right: 0;
    transform: translateY(5%) translateX(-2px);
}

.THIS .position-btn {
	position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-143%) translateX(-2px);
}
.THIS #positionSummary {
    position: relative;
}