@import "variables";

@font-face {
  font-family: 'icomoon';
  src:
    url('#{$icomoon-font-path}/icomoon.ttf?pkkwlv') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?pkkwlv') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?pkkwlv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

.icon-external-link {
  &:before {
    content: unicode($icon-external-link); 
  }
}
.icon-arrow-line-right {
  &:before {
    content: unicode($icon-arrow-line-right); 
  }
}
.icon-facebook {
  &:before {
    content: unicode($icon-facebook); 
  }
}
.icon-instagram {
  &:before {
    content: unicode($icon-instagram); 
  }
}
.icon-linkedin {
  &:before {
    content: unicode($icon-linkedin); 
  }
}
.icon-google {
  &:before {
    content: unicode($icon-google); 
  }
}
.icon-twitter {
  &:before {
    content: unicode($icon-twitter); 
  }
}
.icon-youtube {
  &:before {
    content: unicode($icon-youtube); 
  }
}
.icon-play {
  &:before {
    content: unicode($icon-play); 
  }
}
.icon-plus {
  &:before {
    content: unicode($icon-plus); 
  }
}
.icon-arrow-left {
  &:before {
    content: unicode($icon-arrow-left); 
  }
}
.icon-angle-left-double {
  &:before {
    content: unicode($icon-angle-left-double); 
  }
}
.icon-angle-left {
  &:before {
    content: unicode($icon-angle-left); 
  }
}
.icon-arrow-line-left {
  &:before {
    content: unicode($icon-arrow-line-left); 
  }
}
.icon-arrow-right {
  &:before {
    content: unicode($icon-arrow-right); 
  }
}
.icon-angle-right-double {
  &:before {
    content: unicode($icon-angle-right-double); 
  }
}
.icon-angle-right {
  &:before {
    content: unicode($icon-angle-right); 
  }
}
.icon-email {
  &:before {
    content: unicode($icon-email); 
  }
}
.icon-pdf {
  &:before {
    content: unicode($icon-pdf); 
  }
}
.icon-globe {
  &:before {
    content: unicode($icon-globe); 
  }
}
.icon-location {
  &:before {
    content: unicode($icon-location); 
  }
}
.icon-map {
  &:before {
    content: unicode($icon-map); 
  }
}
.icon-phone {
  &:before {
    content: unicode($icon-phone); 
  }
}
.icon-search {
  &:before {
    content: unicode($icon-search); 
  }
}
.icon-minus {
  &:before {
    content: unicode($icon-minus); 
  }
}

