@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?pkkwlv') format('truetype'),
    url('fonts/icomoon.woff?pkkwlv') format('woff'),
    url('fonts/icomoon.svg?pkkwlv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-external-link:before {
  content: "\e918";
}
.icon-arrow-line-right:before {
  content: "\e917";
}
.icon-facebook:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-linkedin:before {
  content: "\e902";
}
.icon-google:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e904";
}
.icon-youtube:before {
  content: "\e905";
}
.icon-play:before {
  content: "\e906";
}
.icon-plus:before {
  content: "\e907";
}
.icon-arrow-left:before {
  content: "\e908";
}
.icon-angle-left-double:before {
  content: "\e909";
}
.icon-angle-left:before {
  content: "\e90a";
}
.icon-arrow-line-left:before {
  content: "\e90b";
}
.icon-arrow-right:before {
  content: "\e90c";
}
.icon-angle-right-double:before {
  content: "\e90d";
}
.icon-angle-right:before {
  content: "\e90e";
}
.icon-email:before {
  content: "\e90f";
}
.icon-pdf:before {
  content: "\e910";
}
.icon-globe:before {
  content: "\e911";
}
.icon-location:before {
  content: "\e912";
}
.icon-map:before {
  content: "\e913";
}
.icon-phone:before {
  content: "\e914";
}
.icon-search:before {
  content: "\e915";
}
.icon-minus:before {
  content: "\e916";
}
