$icomoon-font-path: "fonts" !default;

$icon-external-link: \e918;
$icon-arrow-line-right: \e917;
$icon-facebook: \e900;
$icon-instagram: \e901;
$icon-linkedin: \e902;
$icon-google: \e903;
$icon-twitter: \e904;
$icon-youtube: \e905;
$icon-play: \e906;
$icon-plus: \e907;
$icon-arrow-left: \e908;
$icon-angle-left-double: \e909;
$icon-angle-left: \e90a;
$icon-arrow-line-left: \e90b;
$icon-arrow-right: \e90c;
$icon-angle-right-double: \e90d;
$icon-angle-right: \e90e;
$icon-email: \e90f;
$icon-pdf: \e910;
$icon-globe: \e911;
$icon-location: \e912;
$icon-map: \e913;
$icon-phone: \e914;
$icon-search: \e915;
$icon-minus: \e916;

