<template>
    <!--<lightning-card>
        <div >
            <lightning-card>
               <template if:true={selectedContact}>
                    <div class="slds-m-around_medium">
                        <p>{selectedContact.Full_Name__c}</p>
                        <p>{selectedContact.Title}</p>
                        <p>Current Employer : <lightning-formatted-rich-text value={selectedContact.Current_Employer__c}></lightning-formatted-rich-text></p>
                        <p>Contact Status : <lightning-formatted-rich-text value={selectedContact.Candidate_Status__c}></lightning-formatted-rich-text></p>
                        <p><lightning-formatted-phone value={selectedContact.Phone}></lightning-formatted-phone></p>
                        <p><lightning-formatted-email value={selectedContact.Email}></lightning-formatted-email></p>
                    </div>
                </template>                
            </lightning-card>
        </div>
    </lightning-card>-->
    <lightning-card>
    <lightning-record-view-form record-id={recordId} object-api-name="Contact">
        <div class="slds-grid">
            <div class="slds-col slds-size_1-of-4">
                <lightning-output-field field-name="Full_Name__c" variant="label-hidden"></lightning-output-field>
                <lightning-output-field field-name="Title" variant="label-hidden"></lightning-output-field>
            </div>
            <div class="slds-col slds-size_1-of-4">
                <lightning-output-field field-name="Current_Employer__c" variant="label-hidden"></lightning-output-field>
                <lightning-output-field field-name="Candidate_Status__c" variant="label-hidden"></lightning-output-field>
            </div>
            <div class="slds-col slds-size_1-of-4">
                <lightning-output-field field-name="Phone" variant="label-hidden"></lightning-output-field>
                <lightning-output-field field-name="Email" variant="label-hidden"></lightning-output-field>
            </div>
            <!-- EMAIL -->
                <div class="slds-grid icon-gray" title={Preferred_Email_Value__c} id="tlp-header-email">
                    <!--<lightning:icon class="slds-m-horizontal_x-small" iconName="utility:email" size="x-small" variant="bare" alternativeText="Email" />-->
                    <!--<aura:if isTrue={(Email &amp;&amp; Other_Email__c &amp;&amp; Work_Email__c) }>
                        Input Email
                    </aura:if>-->
                    <lightning-output-field  field-name={Preferred_Email_Value__c} > </lightning-output-field>
                    
                        <ui:menu class="view-all-menu_dropdown">
                        <ui:menuTriggerLink aura:id="trigger">
                            <div class="slds-truncate">
                                <aura:if istrue={Email}>                         
                                    <lightning:icon class="slds-icon_blue" iconname="utility:down" size="x-small"></lightning:icon>
                                </aura:if>
                            </div>
                        </ui:menuTriggerLink>
                                                
                        <ui:menuList class="actionMenu" aura:id="actionMenu">
                            <aura:if istrue={Email}> 
                            <ui:menuItem aura:id="email01" label={Email} ></ui:menuItem>
                                <aura:set attribute="else">
                                    <ui:menuItem aura:id="email01" label={Email}></ui:menuItem>
                                </aura:set>
                            </aura:if>
                            <aura:if istrue={Other_Email__c}> 
                            <ui:menuItem aura:id="email02" label={Other_Email__c} ></ui:menuItem>
                                <aura:set attribute="else">
                                    <ui:menuItem aura:id="email02" label={Other_Email__c} ></ui:menuItem>
                                </aura:set>
                            </aura:if>
                            <aura:if istrue={Work_Email__c}>
                            <ui:menuItem aura:id="email03" label={Work_Email__c} ></ui:menuItem>
                                <aura:set attribute="else">
                                    <ui:menuItem aura:id="email03" label={Work_Email__c} ></ui:menuItem>
                                </aura:set>
                            </aura:if>
                        </ui:menuList>
                    </ui:menu>
                    
                </div>
                <!-- /EMAIL -->
        </div>
    </lightning-record-view-form>
    </lightning-card>
</template>