<template>
    <c-lwc-tracking-subscriber>
        <button class="slds-button slds-button_neutral match" data-tracker={tracker} onclick={handleClick}>
            <svg class="" viewBox="0 0 53 40">
            <g fill="none" fill-rule="nonzero">
                <path fill="#021A32" d="M49.58732628 9.32102663l-8.8636991-2.7452877L50.37341217.26763536c1.2916801-.84437959 2.89309134.50187789 2.2831942 1.91944765l-3.06928008 7.13394363z"></path>
                <path fill="#A4D7F4" d="M35.611966 18.45678348l-5.70031697-1.7654931c-1.25928072-.39002314-1.49489578-2.0704536-.3914649-2.7917843l11.2034417-7.32374671L35.611966 18.45678348z"></path>
                <path fill="#245A84" d="M40.72362737 6.57573865l8.86370087 2.74526701-13.97536065 9.13575708z"></path>
                <path fill="#FFB612" d="M35.61196588 18.45678397l8.86515364 2.72842338-13.97536063 9.13575708z"></path>
                <path fill="#FFB612" d="M30.5017572 30.32098466l8.8636802 2.7452652-9.63690375 6.31052317c-1.29050826.84504497-2.89260643-.49860393-2.28517942-1.91653574l3.05840297-7.13925263z"></path>
                <path fill="#FFB612" d="M44.47711926 21.18520725l5.70031518 1.76551372c1.25928068.39002313 1.49491646 2.07045548.39146491 2.79178433l-11.20344167 7.32374675 5.11166158-11.8810448z"></path>
                <path fill="#0195D3" d="M44.47711946 21.1852067l-8.86515367-2.72842334 13.97536065-9.13575709z"></path>
                <path fill="#FFB612" fill-opacity=".82" d="M39.36543727 33.06625026l-8.86368019-2.7452652 13.97536063-9.1357571z"></path>
                <path fill="#1C5298" d="M16.6288877 19.8225392c5.1417761 0 9.3089977-4.1672423 9.3089977-9.3089977 0-5.14175535-4.1672216-9.30899765-9.3089977-9.30899765-5.1417762 0-9.3089977 
                4.16722153-9.3089977 9.30899765 0 5.1417762 4.1672423 9.3089977 9.3089977 9.3089977zm6.5163046 2.3272546h-1.2145431c-1.6145377.7418147-3.4108684 1.163617-5.3017615 1.163617-1.8908931 
                0-3.6799754-.4218231-5.3017615-1.163617h-1.2145224c-5.39630303 0-9.77445688 4.3781331-9.77445688 9.774457v3.025433c0 1.92726 1.56361154 3.4908716 3.49087154 3.4908716H19.0441623c4.0844146 
                0 4.6975846-1.15857 5.5677946-3.4908716l3.2687862-7.8874476c.93366-2.8104508-1.2774739-4.5988893-4.7355508-4.9124424z"></path>
            </g>
            </svg>
            Match Talent
        </button>
      </c-lwc-tracking-subscriber>
</template>