.THIS .slds-media_timeline:before {
    z-index: 10;
    top: 2px;
    height: 100%;
   /* left: .65rem!important;*/
}
.THIS .slds-icon-text-default {
    fill: #f88962;
}
.THIS .slds-timeline__media:before, .THIS .slds-media_timeline:before {
    background: #f88962;
        border-top: 25px solid #FFF;

}
.THIS .slds-dropdown-trigger .slds-icon-text-default {
        fill: rgb(112, 110, 107);
}

.THIS .slds-media .slds-col>.slds-button, .THIS .slds-button.expandButton {
    outline: 0!important;
    box-shadow: none!important;
    line-height: 0;
}
.THIS .slds-timeline__icon {position:relative; z-index: 10;}