.THIS .table-container{
    max-height: 200px;
    overflow: auto;
    padding-right: 0.5rem;
}
.THIS .table-container::-webkit-scrollbar-corner {
    background-color: inherit;
}
.THIS .table-container::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
    height: 7px;
}
.THIS .table-container::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0);
    border-radius: 3px;
}
.THIS .table-container:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.3);
    border-radius: 3px;
}

.THIS .image-container {
    overflow: hidden;
    text-align: center;
    max-height: 300px;
}

.THIS .image-container .slds-m-vertical_medium,
.THIS .image-container .slds-illustration{
    margin-bottom: 0;
}

.THIS .slds-icon {
    fill: rgb(81, 79, 77);
}

.THIS th {
    min-height: 2rem;
    max-width: 100px;
}

.THIS .slds-table thead th {
    padding: 0.125rem 0rem;
    text-transform: uppercase;
    font-weight: 400;
}

.THIS .sticky-th {
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

.THIS td {
    text-transform: capitalize;
}

.THIS .custom-logo div {
    transform: translateX(-0.5rem);
    margin: 0 0.25rem;
}

.THIS .icon-col:nth-of-type(1) {
    width: 80px;
}

.THIS .icon-col:nth-of-type(2) {
    width: 50px;
}



.THIS .slds-table_fixed-layout {
    min-width: 1200px;
}


.THIS .custom-logo img {
    width: 1.25rem;
    height: auto;
    margin-right: 0.25rem;
}

.THIS .custom-icon {
    width:  1.5rem;
    height: auto;
}

.THIS .slds-table td:first-child {
    padding-left: 0;
}

.THIS tbody {
    vertical-align: top !important;
}

.THIS thead .slds-truncate {
    font-weight: 600 !important;
}

.THIS .tooltip-hover {
    position: unset !important;
}

.THIS .tooltip-hover .tooltip-text {
  	visibility: hidden;
    background-color: rgb(241,241,242);
    color: black;
    font-size: .65rem;
    text-align: center;
    position: absolute;
    z-index: 9999;
    opacity: 0;
    top: 2.5rem;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 0 .4rem;
    transition: opacity .3s;
    box-shadow: 0 0 0.6rem #bfbfbf;
}

.THIS .tooltip-hover:hover .tooltip-text {
  visibility: visible;
    opacity: 1;
}

