<template>    
    <div class='pill-container slds-p-vertical_x-small slds-p-left_x-small'>
            <span class="slds-icon_container slds-icon-utility-search slds-input__icon iconheight icon-fill">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="search" style="height: 15px; fill:#416fa9;">
                        <title></title><path d="M22.9 20.9l-6.2-6.1c1.3-1.8 1.9-4 1.6-6.4-.6-3.9-3.8-7.1-7.8-7.4C5 .4.4 5 1 10.5c.3 4 3.5 7.3 7.4 7.8 2.4.3 4.6-.3 6.4-1.5l6.1 6.1c.3.3.7.3 1 0l.9-1c.3-.3.3-.7.1-1zM3.7 9.6c0-3.2 2.7-5.9 5.9-5.9 3.3 0 6 2.7 6 5.9 0 3.3-2.7 6-6 6-3.2 0-5.9-2.6-5.9-6z">
                    </path>
                </svg>
             </span>
        <!-- Print existing pills -->
        <div  if:true={pillItems} class="d-inline">
            <template for:each={pillItems} for:item='pillItem'>                        
                <span key={pillItem.pillId}><c-pill-component pill-id={pillItem.pillId} pill-label={pillItem.pillLabel} pill-css={pillItem.pillCss} show-close={pillItem.showClose} pill-index={pillItem.pillIndex} onpillitemcloseevent={handlepillitemcloseevent}></c-pill-component></span>
            </template>
        </div>
        <!-- skills search lookup container -->
        <span class="search-pos"><c-search-lookup-component clas-name='Lookup' method-name='querySObject' object-name='Global_LOV__c' record-type-name='MatchSkillList' place-holder={placeholder} is-soql='true' sort-condition='Number_Value__c DESC' use-cache=false onlookupitemselectedevent={handleSkillSelectedEvent} search-string={searchText} where-condition={skillsWhereCondition} addl-fields="[]" related-to="skill" record-limit="6"></c-search-lookup-component></span>
    </div>
</template>