.pill-container{
    border: 1px solid rgb(221, 219, 218);
    border-radius: 5px;
 }
 .icon-fill{
    top: 23px;
    left: -5px;
}.d-inline{
    display: inline;
}
.search-pos{
    display: inline-block;
    position: relative;
    top: -24px;
}
