<template>
    <lightning-vertical-navigation selected-item={selectedItem} onselect={handleSelect}>
        <lightning-vertical-navigation-section>
            <lightning-vertical-navigation-item-icon label="Dashboard" name="dashboard" icon-name="utility:home"></lightning-vertical-navigation-item-icon>
            <lightning-vertical-navigation-item-icon label="Delivery Center Reqs" name="deliveryCenterReqs" icon-name="utility:company"></lightning-vertical-navigation-item-icon>
            <lightning-vertical-navigation-item-icon label="Allocated Reqs" name="allocatedReqs" icon-name="utility:adduser"></lightning-vertical-navigation-item-icon>
            <lightning-vertical-navigation-item-icon label="Saved Reqs" name="savedReqs" icon-name="utility:bookmark"></lightning-vertical-navigation-item-icon>
            <lightning-vertical-navigation-item-icon label="Shared Reqs" name="sharedReqs" icon-name="utility:send"></lightning-vertical-navigation-item-icon>
            <!--<lightning-vertical-navigation-item-icon label="Hidden Reqs" name="hiddenReqs" icon-name="utility:hide"></lightning-vertical-navigation-item-icon>-->
        </lightning-vertical-navigation-section>
    </lightning-vertical-navigation>
</template>