.THIS {
}
.THIS .heading{
    font-size: 1.4em;
    font-weight: 400;
    padding-top: 2px;
    padding-bottom: 0rem;
}
.THIS .wave-heading{
    font-size: 1.5em;
    font-weight: bolder;
    padding-top: 1rem;
    padding-left: 1rem;
}