.THIS .slds-form-element.cC_LookupRecentlyViewed, .THIS .slds-form-element.cC_LookupLtng{
	margin-top: .25rem; height: 31px;
}
.THIS .btn-grp {
    text-align: left;
}
.THIS .slds-card__body {
    margin-top: 15px;
}
.THIS .cardBorder {
    border: 1px solid lightgray !important;
    padding: 1rem !important;
}
.THIS .loading {
    width: 100%; 
    position: absolute; 
    top: 160px; 
    padding-right: 150px;
    
}

.THIS .hide-loading {
    display:none;
}

.THIS .show-loading {
    display:block;
}
.THIS #downloadable {
    width: 612px;
    border:1px solid lightgray;
}
.THIS .doc-table {
    width:100%;
}

.THIS .viewMenuLabel {color: rgb(22, 50, 92);}
.THIS .uiMenuList--default .uiMenuItem>a{
    text-transform: capitalize;
}

.THIS button.header-action-menu { padding: 0 10px; color:  rgb(0, 112, 210);}
.THIS .view-all-menu_dropdown {display: inline-block; padding-left: 5px}
.THIS .dwn-btn lightning-primitive-icon {margin-right: 5px;}
.THIS .sapcer-td {width:40px;}
.THIS lightning-primitive-icon svg {margin-right: 0;}
.THIS lightning-button button {padding: 0; border: none; border-color: inherit; background-color: inherit; color: rgb(112, 110, 107);}
.THIS lightning-button button:hover {background-color: inherit; color: rgba(27, 82, 151, 1.0);}
.THIS th a {border-top: 1px solid lightgray;}
.THIS .slds-text-title_caps .slds-th__action {border-top: 1px solid lightgray;}
.THIS .flex {display: inline-flex;}
.THIS .chkbox-col {width: 5.5rem;}
.THIS .slds-table {table-layout: fixed;}
.THIS .slds-table thead th {background-color: inherit;}
.THIS .tbl-select {padding-left: 5px;}
.THIS .dwn-btn {margin-top: 7px;}
.THIS .content {margin-top: 0;}
.THIS .no-bottom-margin {margin-bottom: 0;}

.THIS .actions-cell {text-align: center; width: 105px;}
.THIS .slds-div-button {width: 32px; margin: 0;}

.THIS .ref-info-table tr td:nth-of-type(1) {width: 10px;}
.THIS .ref-info-table tr td:nth-of-type(2) {width: 80px;}
.THIS .ref-info-table tr td:nth-of-type(5) {width: 80px;}
.THIS .ref-info-table tr td:nth-of-type(4) {width: 60px;}

.THIS .ref-content-table tr td:nth-of-type(2) {width: 1px;}
.THIS .ref-content-table {margin-left: 10px;}

.THIS .ref-by {
    white-space: nowrap;
    text-overflow: clip;    
}

.THIS .ref-date-sep {
    font-size: 30px;
    line-height: 0;
    font-weight: 600;
}
.THIS .ref-title h3 {
    font-size: 19px;
    font-weight: 600;
}
.THIS .ref-title h5 {
    font-size: 13px;
}
.THIS .ref-container {
  margin: 0 auto;
}
.THIS .ref-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7px;
}
.THIS .ref-info {
  font-weight: 600;
  margin-bottom: 10px;
  padding: 13px;
  background-color: #F3F4F5;
}
.THIS .ref-info-title {
  font-size: 16px;
}
.THIS .ref-info-title {
  margin-bottom: 7px;
}

.THIS .ref-info-cols p {
  margin: 0 0.5rem 0 0;
}

.THIS .ref-info-item {
  display: flex;
}
.THIS .ref-info-item p:nth-of-type(2) {
  font-weight: 400;
}
.THIS .ref-data {
  padding: 0 10px;
}
.THIS .ref-data-item {
  margin-bottom: 7px;
}
.THIS .ref-data-item p {
  margin: 0;
  word-break: break-word;
}
.THIS .ref-data-item-title {
  color: #2196F3;
  font-weight: 600;
}
.THIS .cC_CustomMenu button svg {
    fill: deepskyblue;
}
.THIS .ital {
    font-style: italic;
}
.THIS .devat {
    font-weight: 600;
}