.THIS hr {margin: .5rem 0;}
.THIS div.cC_DropDownSort  {text-align:right;}
.THIS div.slds-form-element__control {float:right;}
.THIS .uiInput--select.select{
	font-size: 0.75rem;
    width: 70%;
}

.THIS .uiInput--default .form-element__label{
	text-transform: capitalize;
	float: right;
}

.THIS .utility-placeholder{
	height: 50px;
	width: 100%;
}

.THIS .select-checkbox{
	border: 1px solid rgb(112, 110, 107);
}

.THIS .expandButton{
	margin-top: 0.125rem;
}

.THIS td {
    border-top: 1px solid rgb(221, 219, 218);
}