.THIS .slds-button--icon-border{
	border: 0px;
}

.THIS .slds-modal__container{
	position: relative;
	/* transform: translateY(5.5rem);  */
	min-width: 61rem;
	max-height: 42rem;
}

@media (max-height: 756px) { 
    .THIS .slds-modal__content{ 
        max-height: 15rem; 
    } 
 
    /*.THIS .table-wrapper{ 
        overflow: hidden; 
    } */
 
    .THIS .table-container{ 
        height: 20rem; 
    } 
 
} 

.THIS .slds-listbox{
    position: absolute;
    z-index: 400;
    overflow-y: auto;
    max-height: 20vh;
}

.THIS input{
    margin-bottom: 0.25rem;
}

.THIS input::placeholder,
.THIS textarea::placeholder{
   color: rgb(176, 173, 171);
}

.THIS .form-container{
    padding: 1rem;
    background-color: #fff;
}

/*-- To format extremely long searches --*/

.THIS .slds-table{
    table-layout: fixed;
}
.THIS .format-col{
	width: 400px;
}

.THIS .button-col{
    width: 2%;
}

.THIS .col-max-width{
	width: 10%;
}

.THIS .col-min-width{
	width: 5%;
}

.THIS .uiInput--default .form-element__help{
    font-size: inherit;
    margin-top: 0;
}

.THIS .error-text {
    display:none;
}
.THIS .show-error {
    display:flex;
    color: rgb(194, 57, 52);
}

.THIS .show-message {
    display: flex;
    color: #844800;
}