

.THIS .slds-modal__container {
    border-radius: 0.5rem;
}

.THIS .talent-list-main {
    font-weight: 600;
    padding-bottom: 16px;
    font-size: 16px;
}

.THIS .del-list-btn {
    position: absolute;
    right: 9px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.THIS .count-num {
    background: #026CCC;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    color: #fff;
    display: inline-block;
    line-height: 24px;
    text-align: center;
    width: 24px;
    font-size: 9px;
    position: relative;
    bottom: 2px;
}

.THIS .check-box-list th {
    padding-left: 5px;
}

.THIS .my-list-count-icon {
    margin-left: 2px;
    display: inline-block;
}

.THIS .my-list-count {
    margin-left: 2px;
}

.THIS .my-list-count-client {
    display: inline-block;
}

.THIS .checkbox-pad {
    padding-left: 5px !important;
}

.THIS .list-name-font {
    color: #2B89DA;
}

.THIS .search-width {
    min-width: 134PX;
}

.THIS .full-width {
    width: 100% !important;
}

.THIS .talent-header-width {
    width: 300px;
}

.THIS .note-text {
    font-weight: 600;
}

.THIS .notes-add-pill {
    background: rgb(61, 138, 231);
    border-radius: 1rem;
    padding: 0.5rem;
    color: white;
    font-size: .8rem;
    display: inline-block;
    cursor: pointer;
}

.THIS .add-note {
    font-size: 1.2rem;
    line-height: .8rem;
    font-weight: 100;
    transform: translateY(1px);
    display: inline-block;
}

.THIS .note-icon svg {
    fill: rgb(245, 187, 109);
    height: 1.5rem;
    cursor: pointer;
}


/* custom */

.THIS .custom-asterisk {
    color: red;
}

.THIS .note-body {
    padding: .5rem 2rem .5rem 2rem;
}

.THIS .note-talent-name {
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}

.THIS .disclaimer {
    font-size: .8rem;
    font-style: italic;
    margin-bottom: 0.5rem;
}

.THIS .notes-body {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: .25rem;
    line-height: 2rem;
    padding: 0 .5rem;
    resize: none;
}

.THIS .note-footer {
    display: flex;
}

.THIS .note-footer svg {
    fill: rgb(61, 138, 231);
    padding-right: 2px;
}

.THIS .note-footer button {
    margin-left: .5rem;
    border-radius: .25rem;
    border: 1px solid rgb(197, 197, 197);
    padding: .5rem 1rem;
}

.THIS .note-button-delete {
    color: rgb(61, 138, 231);
    margin-left: .5rem;
    border-radius: .25rem;
    border: 1px solid rgb(197, 197, 197);
    padding: .5rem 1rem;
}

.THIS .note-button-delete span {
    vertical-align: bottom;
}

.THIS .notes-modal {
    width: 100% !important;
    max-width: 60rem !important;
}

.THIS .note-button-save {
    background: rgb(20, 57, 111);
    color: white;
}

.THIS .button-container button:disabled {
    background: #B0ADAB;
    color: black;
}

.THIS .slds-modal__header {
    padding: 0.5rem;
}

.THIS .lightning-icon-note svg {
    fill: rgb(245, 187, 109);
    cursor: pointer;
}

.THIS .notes-modal textarea:focus {
    outline: none;
}

.THIS .button-link {
    border: 0;
    background: transparent;
    padding: 0;
    line-height: normal;
}