<apex:component controller="ApplicationEmailTemplateController" access="global">
    <apex:attribute name="sourceEventRec" type="Event" description="Event record" assignTo="{!eventRec}"/>

    <body>
    <STYLE type="text/css">
          td  {font-size: 11px; font-face: verdana; padding: .5rem;border: 1px solid #bbbbbb;} 
          table { width: 100%; border-spacing: 0px; text-align: left;border-collapse: collapse;}
          .label {width: 25%; background: #efefef; font-weight:bold;}
    </STYLE>
    <font face="arial" size="2">
        
You have received an application to a job you posted.<br/>

{!sourceEventRec.who.FirstName} {!sourceEventRec.who.LastName} has applied for &nbsp;
<apex:outputText rendered="{!BEGINS(sourceEventRec.Job_Posting__r.Owner.Profile.Name,'Single')}" value="{!sourceEventRec.Job_Posting__r.Name}"/>
<apex:outputText rendered="{!!BEGINS(sourceEventRec.Job_Posting__r.Owner.Profile.Name,'Single')}" 
                 value="{!RIGHT(sourceEventRec.Job_Posting__r.Source_System_id__c,LEN(sourceEventRec.Job_Posting__r.Source_System_id__c)-2)}"/>
                -{!sourceEventRec.Job_Posting__r.Job_Title__c} through 
				{!IF(contains(LOWER(sourceEventRec.Job_Posting__r.Opportunity__r.OpCo__c), "aerotek"), 
                (IF(contains(LOWER(sourceEventRec.Job_Posting__r.Opportunity__r.Req_Division__c),"easi"),"Actalent", 
				(IF(LOWER(sourceEventRec.Job_Posting__r.Opportunity__r.Req_Division__c) == "aerotek scientific, llc","Actalent",
				(IF(LOWER(sourceEventRec.Job_Posting__r.Opportunity__r.Req_Division__c) == "aerotek ce","Actalent",
                (IF(contains(LOWER(sourceEventRec.Job_Posting__r.Opportunity__r.Req_Division__c),"aston carter"),"Aston Carter",
                sourceEventRec.Job_Posting__r.Opportunity__r.OpCo__c)))))))), sourceEventRec.Job_Posting__r.Opportunity__r.OpCo__c)} Career Site.<br/>
<br/><br/>
<table border="0" >
<tr>
    <td class="label">Title</td>
    <td>{!sourceEventRec.Job_Posting__r.Job_Title__c}</td>    
</tr>

<tr>
    <td class="label">Recruiter</td>
    <td>{!sourceEventRec.Job_Posting__r.Owner.Name}</td>    
</tr>

<tr>
    <td class="label">Posting ID</td>
    <td><apex:outputText rendered="{!BEGINS(sourceEventRec.Job_Posting__r.Owner.Profile.Name,'Single')}" value="{!sourceEventRec.Job_Posting__r.Name}"/><apex:outputText rendered="{!!BEGINS(sourceEventRec.Job_Posting__r.Owner.Profile.Name,'Single')}" value="{!RIGHT(sourceEventRec.Job_Posting__r.Source_System_id__c,LEN(sourceEventRec.Job_Posting__r.Source_System_id__c)-2)}"/></td>    
</tr>

<tr>
    <td class="label">Req</td>
    <td><apex:outputText rendered="{!BEGINS(sourceEventRec.Job_Posting__r.Owner.Profile.Name,'Single')}" value="{!sourceEventRec.Job_Posting__r.Opportunity__r.Name}"/><apex:outputText rendered="{!!BEGINS(sourceEventRec.Job_Posting__r.Owner.Profile.Name,'Single')}" value="{!sourceEventRec.Job_Posting__r.Opportunity__r.ORIGINATION_SYSTEM_OPPORTUNITY_NAME__c}"/></td>    
</tr>

<tr>
    <td class="label">Desired Salary</td>
    <td>{!contact.CS_Salary__c}</td>    
</tr>
<tr>
    <td class="label">Desired Pay Rate</td>
    <td><apex:outputField value="{!contact.CS_Desired_Salary_Rate__c}"/></td>  
</tr>

<tr>
    <td class="label">Geographic Preference</td>
    <td>{!contact.CS_Geo_Pref_Comments__c}</td>    
</tr>


</table> <br/><br/>
If you wish to manage this job posting, you can <apex:outputPanel rendered="{!BEGINS(sourceEventRec.Job_Posting__r.Owner.Profile.Name,'Single')}"><apex:outputlink value="{!LEFT($Api.Partner_Server_URL_140,FIND('.com',$Api.Partner_Server_URL_140)+4)+sourceEventRec.who.Id}"> view this candidate's application</apex:outputlink> or <apex:outputlink value="{!LEFT($Api.Partner_Server_URL_140,FIND('.com',$Api.Partner_Server_URL_140)+4)+sourceEventRec.Job_Posting__c}"> all posting applications.</apex:outputlink></apex:outputPanel>
<apex:outputPanel rendered="{!!BEGINS(sourceEventRec.Job_Posting__r.Owner.Profile.Name,'Single')}"><apex:outputlink value="{!$Label.RWS_Job_Posting_URL}/RWS/application/searchApplicationsCareerSite.action?postingInputTO.postingId={!RIGHT(sourceEventRec.Job_Posting__r.Source_System_id__c,LEN(sourceEventRec.Job_Posting__r.Source_System_id__c)-2)}&vendorApplicationId={!sourceEventRec.Vendor_Application_ID__c}"> view this candidate's application</apex:outputlink> or <apex:outputlink value="{!$Label.RWS_Job_Posting_URL}/RWS/application/searchApplications.action?postingInputTO.postingId={!RIGHT(sourceEventRec.Job_Posting__r.Source_System_id__c,LEN(sourceEventRec.Job_Posting__r.Source_System_id__c)-2)}"> all posting applications.</apex:outputlink></apex:outputPanel>     <br/><br/>   
This electronic mail (including any attachments) may contain information that is privileged, confidential, and/or otherwise protected from disclosure to anyone other than its intended recipient(s). Any dissemination or use of this electronic mail or its contents (including any attachments) by persons other than the intended recipient(s) is strictly prohibited. If you have received this message in error, please notify us immediately by reply e-mail so that we may 
correct.

</font>
</body>

</apex:component>