<apex:component >
 <div id="footer" style="text-align: center;">  
  <a href="http://www.allegisgroup.com/Privacy/Default.aspx" target="_blank">Privacy Policy</a> | <a href="http://www.allegisgroup.com/Terms/Default.aspx" target="_blank">Terms &amp;  
  Conditions</a> | <a href="http://www.allegisgroup.com/Site-Map.aspx" target="_blank">Site Map</a> | <span>Copyright ©  
  2012  
  Allegis Group. All rights reserved.</span> <a href="http://www.americanstaffing.net/" target="_blank" id="ASA_Member">  
  Member of the American Staffing Association</a>  
  </div>  

</apex:component>