.THIS .info-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(2.5rem, auto);
    grid-column-gap: 4rem;
    padding: 0 1.8rem;
}
.THIS .info-section > * {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
    padding-bottom: 3px;
    border-bottom: 1px solid lightgray;
}
.THIS .slds-page-header {
    margin: .1rem 0.65rem;
}