.THIS .slds-timeline__icon { z-index:20;border: none; margin-top: -0.75rem; border: 2px solid #fff;border-top-width: 0.25rem;border-bottom-width: 0.25rem;}
.THIS .timeline{margin-left:10px;}
.THIS .nonAG_icon {
    z-index:20;
    border: none;
    width: 22px;
    height: 22px;
    margin-left: 3px;
    margin-top: 16px;
}
.THIS .slds-media_timeline{
    margin-left:10px;
    padding-bottom: 1rem;
}
.THIS .slds-media_timeline:before { z-index:10; top:0px; height:100%;    left: 0;}
.THIS .slds-media__figure{z-index: 10;}
.THIS {background: transparent;}
.THIS .employmentIcon
{
    overflow: hidden;
    padding: 1px;
    width: 25px;
    height: 25px;
    font-size: 14px;
    font-weight: 600;
    display: block;
    text-align: center;
    margin: 0 auto 0 3px;
    background-color: rgb(255, 228, 198)!important;
    border: 2px solid #f88962;
    color: #f88962;
    margin-right: 10px;
    margin-top:10px;
}

.THIS .activitySectionHeader {overflow: hidden !important;}
.THIS .activitySectionHeader:before {
  background: grey;
  content: " ";
  display: flex;
  position: relative;
  border-bottom: 1px dashed white;
  margin-top: -1px;
  left: 100px;
  right: 0;
  top: 14px;
}

.THIS .expandButton{
    margin-bottom: 6px;
    margin-left:16px;
}

.THIS .slds-timeline__media_call:before{background: #f2cf5b!important;}
.THIS .slds-timeline__meal:before, .THIS .slds-timeline__media_meal:before {background: #f2cf5b!important;}