.THIS .fldbox {
    cursor: move;
    background-color : #0070d2;
    width: 100%;
    height: 30px;
    color:#fff;
   /* display: flex;
    flex-flow: row wrap;
    justify-content: left;*/
    padding: 5px;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.THIS .ResumeParseModal .slds-modal__container {
    width: 50rem;
    max-width: 100%;
}
/*.THIS .fldContainer {
    width: 200px;
    height: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 5px 0;
    margin: auto;
    /border: 1px dashed rgb(221, 219, 218);/
}*/
.THIS .slds-radio_button__label {background: none;}
.THIS input.BorderlessInput {
    border: 1px dashed rgb(221, 219, 218);
        padding: 5px 0;
background-color: rgb(255, 255, 255);
    border-radius: .25rem;
    width: 90%;
    -webkit-transition: border .1s linear,background-color .1s linear;
    transition: border .1s linear,background-color .1s linear;
    display: inline-block;
    padding: 0 1rem 0 .75rem;
    line-height: 1.875rem;
    min-height: calc(1.875rem + (1px * 2));
}
/*.THIS .BorderlessInput{
    background-color: rgb(255, 255, 255);
    display: inline-block;
    padding: 0 1rem 0 .75rem;
    line-height: 1.875rem;
    min-height: calc(1.875rem + (1px * 2));
}*/
.THIS .DropEffect{
    text-align: left;
    border:none;
   /* float:left;*/
    width:100%;
    color:#0070d2;
     /*background-color:red;
          font-color:green;*/
}
.THIS .DragEffect{
    cursor: move !important;
     /*background-color:red;
          font-color:green;*/
}
.THIS .DraggableIndicator {
/*
* The group of dots which indicate draggability.
  Just declaring the dimensions and positioning.  The actual dots themselves are an SVG graphic
  which is generated via JavaScript in js/draggable.js
*/
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0.5em;
    top: 0;
    bottom: 0;
    margin: auto;
}
.THIS .iconColor{
    fill:transparent !important;
}
.THIS .slds-table thead th {
    text-align: center;
}