.THIS iframe {
    display: block;       /* iframes are inline by default */
    position: relative; 
    height: 100%;        /* Viewport-relative units */
    width: 100%;
}

.THIS.wrap { left:0; width:100%; bottom: 0px; height:400px;  position: relative;}