<template>
    
    <template for:each={optionData} for:item="option">
        <template if:true={option.selected}>
            <lightning-pill style="color:#fff" key={option.value} class="dc-pill" name={option.value} label={option.label} onremove={removePill}></lightning-pill>
        </template>
    </template>
    
    <div class="slds-combobox_container slds-m-top_x-small">
        <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open" aria-expanded="true" aria-haspopup="listbox" role="combobox">
            <!-- Search Input -->
            <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                <lightning-input disabled={disabled} class="inputBox" placeholder="" onblur={blurEvent} onclick={showOptions} onkeyup={filterOptions} value={searchString} variant="label-hidden" id="combobox-id-1" style="width: 100%" >
                </lightning-input>
                <lightning-icon class="slds-input__icon" icon-name="utility:down" size="x-small" alternative-text="search"></lightning-icon>
            </div>

            <!-- Dropdown List -->
            <template if:true={showDropdown}>
                    
                <div class="slds-dropdown slds-dropdown_length-5 slds-dropdown_fluid" id="multipleOptions" role="listbox"> 
                    <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                        <template if:false={message} >
                            <template for:each={optionData} for:item="option">

                                <div key={option.value} data-id={option.value}>
                                <template if:false={option.highlight} >
                                <template if:true={option.isVisible}>
                                <li class="slds-listbox__item" data-selected="false" data-id={option.value}
                                    data-value={option.value} role="presentation"
                                    onmousedown={selectItem} id={option.value}>
                                    <div class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small"
                                        role="option">                                 
                                        <span class="slds-media__figure">
                                            <template if:true={option.selected}>
                                                <lightning-icon icon-name="utility:check" size="x-small" alternative-text="icon" ></lightning-icon>
                                            </template>
                                            <template if:false={option.selected}>
                                                <lightning-icon icon-name="" size="x-small" alternative-text="icon" ></lightning-icon>
                                            </template>
                                        </span>
                                        <span class="slds-media__body">
                                            <span class="slds-truncate" title={option.label}>{option.label}</span>
                                        </span>                                  
                                    </div>
                                </li>
                                </template>
                                </template>

                                <template if:true={option.highlight}>
                                <template if:true={option.isVisible}>
                                <li class="slds-listbox__item" data-selected="false" data-id={option.value}
                                    data-value={option.value} role="presentation"
                                    onmousedown={selectItem} style="background-color: rgb(223, 222, 219);">
                                    <div class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small"
                                        role="option">                                 
                                        <span class="slds-media__figure">
                                            <template if:true={option.selected}>
                                                <lightning-icon icon-name="utility:check" size="x-small" alternative-text="icon" ></lightning-icon>
                                            </template>
                                            <template if:false={option.selected}>
                                                <lightning-icon icon-name="" size="x-small" alternative-text="icon" ></lightning-icon>
                                            </template>
                                        </span>
                                        <span class="slds-media__body">
                                            <span class="slds-truncate" title={option.label}>{option.label}</span>
                                        </span>                                  
                                    </div>
                                </li>
                                </template>
                                </template>

                                </div>
                                
                            </template>
                        </template>
                        <template if:true={message} >
                            <li class="slds-listbox__item">
                                <span class="slds-media slds-listbox__option_entity verticalAlign slds-truncate">{message}</span>
                            </li>
                        </template>
                    </ul>
                </div>
            

            </template>
        </div>
    </div>

</template>