.dc-pill {
    --sds-c-pill-color-background: #00396b;
    --sds-c-pill-color-background-hover: #00396b;
    color: rgb(255, 255, 255);
};

lightning-button-icon button {
    color: #fff !important;
    fill: #fff !important;
}

/* .dc-pill svg {
    color: #fff;
    fill: #fff;
    color:rgb(255, 255, 255);
}; */