.THIS .slds-form--inline .slds-form-element__control {
    display: block;
    margin-bottom: 0;
}


.THIS .text-color_light-grey{
    color: #778899;
}

.THIS .slds-table_cell-buffer tr>th:first-child, .THIS .slds-table_cell-buffer tr>td:first-child, .THIS .slds-table--cell-buffer tr>th:first-child, .THIS .slds-table--cell-buffer tr>td:first-child {
     padding-left: .75rem;
}
.THIS .AG-Status__Badge {padding: 2px 10px;border-radius: 15px; white-space: nowrap;display: inline-block;}
.THIS .AG-Status__Badge_Placed {background-color:#5dbb5d;color: #ffffff;}
.THIS .slds-card .slds-card {
    background: inherit;
    border: inherit;
    box-shadow: inherit;
}
.THIS .blue-box {
    background: #eef1f6; 
    border-radius: 4px;
}

.THIS .expandButton{
    margin-bottom: 6px;
}
.THIS .btn-group{
    padding-top: 19px;
}
.THIS .no-label {
    margin-top: 20px;
}
.THIS label.slds-form-element__label.slds-no-flex.slds-m-right--xxx-small {
    display: none;
}
@media (max-width: 48em){
    .THIS .slds-max-medium-table_stacked-horizontal th {
        text-align: right;
    }
}
@media (max-width: 48em){
    .THIS .slds-max-medium-table_stacked-horizontal th:before {
        float: left;
        margin-top: .125rem;
    }
}


.THIS .slds-button+.slds-button{
    margin-left: 0.5rem;
}


.THIS input,
.THIS .cC_LookupLtng input{
    padding: 0 1rem 0 .75rem;
    line-height: 1.875rem;
    margin-bottom: 0.25rem;
}

.THIS .uiInput--default .form-element__label{
    margin-bottom: 0px;
}

.THIS .slds-box.searchBox {
    background-color: #D8DDE6;
}

.THIS .empty-state-message {
    margin: 1rem auto;
    color: #54698d;
    text-align: center;
    overflow-x: hidden;
}

.THIS .empty-state-message img{
    width: auto;
    max-height: 100px;
    -webkit-transform: translateX(50px);
    transform: translateX(20px);
}

.THIS .empty-state-message h2{
    font-size: 1rem;
    margin: 0.25rem auto;
}

.THIS .slds-table th:first-child {
    width: 15%;
}

.THIS .link-col{
    width: 6%;
}

.THIS input::placeholder{
    color: rgb(176, 173, 171);
}.THIS .vp-width {
    width: 20rem;
    float: left;
    padding: 1rem 1rem;
}
.THIS .border-left{
border-left: 1px solid rgb(221, 219, 218);
}
.THIS .or-sep {
    align-self: center;
    font-size: 26px;
    color: #CFD7E6;
    margin: 0 7px;
}
.THIS .no-results {
    font-weight: 600;
}
.THIS .no-res-link {
    font-weight: 600;
}
.THIS .slds-table thead th {
    background-color: white;
}

.THIS table lightning-primitive-icon svg {
    fill: #1589EE;
}

.THIS .candidate-status div{
    display: flex;
    align-items: center;
    justify-content: left;
}
.THIS .search-locItem::after {
    content: ', ';
}
.THIS .search-locItem:last-of-type::after {
    content: '';
}

.THIS .email-container {
   display: flex;
    align-items: center;
}
.THIS .phone-container {
    display: flex;
    align-items: center;
}