/*.THIS .slds-modal__content {
    overflow: hidden;
    overflow-y: auto;
    min-height: 69vh;
    padding-bottom: 0;
}*/
.THIS .slds-modal__content {
    min-height: 44vh;
    max-height: 69vh;
}
.THIS .icon_blue .slds-icon {
    fill:rgb(0, 109, 204);
}
.THIS .left-column {min-height: 50vh;}
/*.THIS .slds-modal__container {min-width: 95%; top: 0!important}*/

.THIS .slds-modal__footer span {display:inline-block; vertical-align: top}
.THIS .slds-modal__footer button {margin-left: .5rem;}
.THIS .slds-modal__footer input {margin-left: .5rem; margin-right: 4.5rem;}

.THIS hr { margin: 0 0 .5rem 0;}

/* disabled */
.THIS .disabled {background: rgb(239, 239, 239); font-style:italic;    color: grey;}

.THIS lightning-helptext.slds-form-element {
    top: -2px;
    margin-left: 2px;
}

.THIS .footer-input {width: 97%;  min-height: 32px;}


.THIS .indicator-area .slds-icon{
    width: 1rem;
    height: 1rem;
}
.THIS .footer-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.THIS .add-email-btn {
    min-width: 118px;
}

.THIS .footer-select {
    display: flex;
}
.THIS .email-select {
    display: flex;
    width: 100%;
}
.THIS .relative {
    overflow: auto;
    max-height: 69vh;
}
.THIS .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.85);
}
.THIS .blur {
    filter: blur(2px);
}
.THIS .selected {
    text-decoration: line-through;
    color: #c23934;
}
.THIS .email-type-wrapper {
    display: flex;
    flex-direction: column;
}
.THIS .type-error {
    border: 2px solid rgb(194,57,52);
    border-radius: 3px;
}
.THIS .type-error::after {
    position: relative;
    bottom: -20px;
    left: 0;
    color: rgb(194,57,52);
    content: 'Please select an email type'
}