<template>    
    <template if:true={contact.data}>
        <!--<div class="tab-list slds-p-bottom_medium">
            <div class="slds-m-around_medium">
                <div class="slds-grid slds-m-bottom_small">
                    <div class="slds-col slds-size_1-of-2 slds-p-right_small">
				        <div class="slds-grid slds-grid_align-start">
					        <lightning-icon iconName="utility:company" size="x-small" variant="brand" title="EMPLOYER" class="slds-m-vertical_small slds-m-right_xx-small"/>
						        <div class="slds-m-vertical_small slds-m-right_medium">
							        <div class="slds-has-flexi-truncate">

									        <span class="slds-text-title_caps">EMPLOYER:</span>
							        </div>
					            </div>
				        </div>
				        <p title={currentEmployer} class="slds-truncate">{currentEmployer}</p>
				    </div>

                </div>
            
            </div>
        </div> <span if:true={searchResults.isCustomCss}>-->    
        <span if:true={dncDnu}>
			<div class="dn-panel">
				<div class="icon"><span>!</span></div>
				<div class="panel slds-truncate">
					<span if:true={dnc} class="dn-sub-panel">
						<div class="slds-truncate slds-grid slds-grid_vertical-align-center">
							<p  title="Do Not Contact" class="dnc-icon slds-m-vertical_small slds-m-right_xx-small">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="end_call"><path d="M22.4 2.6l-1-1c-.3-.3-.8-.2-1.1.2L9.5 12.6 7.2 10c-.3-.3-.3-.6-.1-1l1.7-2.4c.5-.6.5-1.5 0-2.2L6.5 1.6C5.8.8 4.6.7 3.8 1.5L1.4 3.9c-.4.3-.6.9-.6 1.4.3 4.2 2 8.3 4.6 11.3l-3.6 3.7c-.4.3-.4.8-.2 1.1l1 1c.3.3.8.2 1.1-.2L22.2 3.7c.4-.3.5-.8.2-1.1zm0 14.9l-2.8-2.3c-.7-.5-1.6-.5-2.2 0L15 16.9c-.3.3-.7.2-1-.1l-1.1-1-3.9 4c2.8 1.8 6.1 3.1 9.6 3.3.6 0 1.1-.2 1.4-.6l2.4-2.4c.9-.7.9-2 0-2.6z"></path></svg>
                            </p>
							<span class="truncate">DO NOT CONTACT</span>
						</div>
					</span>
					<span if:true={dnu} class="dn-sub-panel">                       
						<div class="slds-truncate slds-grid slds-grid_vertical-align-center">
							<p title="Do Not Use" class="dnc-icon slds-m-vertical_small slds-m-right_xx-small"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="error"><path d="M12 .9C5.9.9.9 5.9.9 12s5 11.1 11.1 11.1 11.1-5 11.1-11.1S18.1.9 12 .9zM3.7 12c0-4.6 3.7-8.3 8.3-8.3 1.8 0 3.5.5 4.8 1.5L5.2 16.8c-1-1.3-1.5-3-1.5-4.8zm8.3 8.3c-1.8 0-3.5-.5-4.8-1.5L18.8 7.2c1 1.3 1.5 3 1.5 4.8 0 4.6-3.7 8.3-8.3 8.3z"></path></svg></p>
							<span class="truncate">DO NOT USE</span>
						</div>
					</span>
				</div>
			</div>
		</span>
       
        <div class="tab-list slds-p-bottom_medium">
            <div class="slds-m-around_medium">
                <div class="slds-grid slds-wrap slds-m-bottom_small">
                    <div class="slds-col slds-size_1-of-2 slds-p-right_small">
				        <div class="slds-grid slds-grid_align-start">
		                    <lightning-icon icon-name="utility:company" size="x-small" variant="brand" title="EMPLOYER" class="slds-m-vertical_small slds-m-right_xx-small"></lightning-icon>
			                <div class="slds-m-vertical_small slds-m-right_medium">
			                    <div class="slds-has-flexi-truncate" tabindex="0">
					                <span aria-labelledby={label.ATS_EMPLOYER} class="slds-text-title_caps">{label.ATS_EMPLOYER}:</span>
			                    </div>
                            </div>
                        </div>
                        <span if:true={isCurrentEmployerText}>
                            <p title={currentEmployerText} class="slds-truncate" >{currentEmployerText}</p>
                         </span>
                        <span if:false={isCurrentEmployerText}>
                            <a href={currentEmployerId} target="_blank">{currentEmployerName}</a>
                        </span>
                        
						<!--<p title={currentEmployer} class="slds-truncate" ><lightning-formatted-rich-text value={currentEmployer} disable-linkify="false"></lightning-formatted-rich-text></p>-->
					</div>
					<div class="slds-col slds-size_1-of-2" tabindex="0">
						<div class="slds-grid slds-grid_align-start">
							<lightning-icon icon-name="utility:case" size="x-small" variant="brand" title={label.ATS_JOB_TITLE} class="slds-m-vertical_small slds-m-right_xx-small"></lightning-icon>
							<div class="slds-m-vertical_small">
								<div class="slds-has-flexi-truncate">
			
									<span aria-hidden="true" class="slds-text-title_caps">{label.ATS_JOB_TITLE}:</span>
			
								</div>
							</div>
						</div>
						<p title={title} class="slds-truncate">{title}</p>
					</div>
			
					<div class="slds-col slds-size_1-of-2">
						<div class="slds-grid slds-grid_align-start">
							<lightning-icon icon-name="utility:email" size="x-small" variant="brand" title={label.ATS_EMAIL} class="slds-m-vertical_small slds-m-right_xx-small"></lightning-icon>
							<div class="slds-m-vertical_small">
								<div class="slds-has-flexi-truncate" tabindex="0">
			
									<span class="slds-text-title_caps">{label.ATS_EMAIL}:</span>
			
								</div>
							</div>
						</div>
                        <div class="slds-has-flexi-truncate">
						    <a title={email} href={emailLink} >

						        <div class="slds-truncate">{email}</div>
							 </a>
						</div>
                        <div class="slds-has-flexi-truncate">
						    <a title={workEmail} href={workEmailLink} >

						        <div class="slds-truncate">{workEmail}</div>
							 </a>
						</div>
                        <div class="slds-has-flexi-truncate">
						    <a title={otherEmail} href={otherEmailLink} >

						        <div class="slds-truncate">{otherEmail}</div>
							 </a>
						</div>
						<!--<p title={email} class="slds-truncate">{email}</p>
						<p title={otherEmail} class="slds-truncate">{otherEmail}</p>
						<p title={workEmail} class="slds-truncate">{workEmail}</p>-->
					</div>
			
					<div class="slds-col slds-size_1-of-2">
						<div class="slds-grid slds-grid_align-start">
							<lightning-icon icon-name="utility:call" size="x-small" variant="brand" title={label.ATS_PHONE} class="slds-m-vertical_small slds-m-right_xx-small"></lightning-icon>
                            
							<div class="slds-m-vertical_small" tabindex="0">
								<div class="slds-has-flexi-truncate">
			
									<span aria-labelledby={label.ATS_PHONE} class="slds-text-title_caps">{label.ATS_PHONE}:</span>
			
								</div>
							</div>
						</div>
                        <div if:true={mobilePhoneNotNull} id="Mobile" class="slds-grid slds-has-flexi-truncate">
							<span tabindex="0" aria-label="Mobile Phone" class="slds-text-title slds-m-right_xx-small">M:</span>
							<a title={mobilePhone} href={mobilePhoneLink} >
								<div class="slds-truncate">
									{mobilePhone}
								</div>

							</a>
						</div>
                        <div if:true={homePhoneNotNull} id="Home" class="slds-grid slds-has-flexi-truncate">
							<span tabindex="0" aria-label="Home Phone" class="slds-text-title slds-m-right_xx-small">H:</span>
							<a title={homePhone} href={homePhoneLink}>
								<div class="slds-truncate">
									{homePhone}
								</div>

							</a>
						</div>
                        <div if:true={phoneNotNull} id="Work" class="slds-grid slds-has-flexi-truncate">
							<span tabindex="0" aria-label="Work Phone" class="slds-text-title slds-m-right_xx-small">W:</span>
							<a title={phone} href={phoneLink} >
								<div class="slds-truncate">
									{phone}
								</div>

							</a>
						</div>
                        <div if:true={otherPhoneNotNull} id="Other" class="slds-grid slds-has-flexi-truncate">
							<span tabindex="0" aria-label="Other Phone" class="slds-text-title slds-m-right_xx-small">O:</span>
							<a title={otherPhone} href={otherPhoneLink} >
								<div class="slds-truncate">
									{otherPhone}
								</div>
							</a>
						</div>
                        <!--<p title={mobilePhone} class="slds-truncate">{mobilePhone}</p>						
						<p title={homePhone} class="slds-truncate">{homePhone}</p>
                        <p title={phone} class="slds-truncate">{phone}</p>
						<p title={otherPhone} class="slds-truncate">{otherPhone}</p>-->
						
					</div>
			
					<div class="slds-col slds-size_1-of-2" tabindex="0">
						<div class="slds-grid slds-grid_align-start">
							<lightning-icon icon-name="utility:checkin" size="x-small" variant="brand" title={label.ATS_LOCATION} class="slds-m-vertical_small slds-m-right_xx-small"></lightning-icon>
							<div class="slds-m-vertical_small">
								<div class="slds-has-flexi-truncate">
			
									<span aria-hidden="true" class="slds-text-title_caps">{label.ATS_LOCATION}:</span>
			
								</div>
							</div>
						</div>
						<p title={mailingAddress} class="slds-truncate">{mailingAddress}</p>
					</div>
					<div class="slds-col slds-size_1-of-2" tabindex="0">
						<div class="slds-grid slds-grid_align-start">
							<lightning-icon icon-name="utility:identity" size="x-small" variant="brand" title={label.ATS_TALENT_ID} class="slds-m-vertical_small slds-m-right_xx-small"></lightning-icon>
							<div class="slds-m-vertical_small">
								<div class="slds-has-flexi-truncate">
			
									<span aria-hidden="true" class="slds-text-title_caps">{label.ATS_TALENT_ID}:</span>
			
								</div>
							</div>
						</div>
						<p title={talentId} class="slds-truncate">{talentId}</p>
					</div>
			
					<div class="slds-col slds-size_1-of-2" tabindex="0">
						<div class="slds-grid slds-grid_align-start">
							<lightning-icon icon-name="utility:page" size="x-small" variant="brand" title={label.ATS_RESUME_LAST_UPDATED} class="slds-m-vertical_small slds-m-right_xx-small"></lightning-icon>
							<div class="slds-m-vertical_small">
								<div class="slds-has-flexi-truncate">
			
									<span aria-hidden="true" class="slds-text-title_caps">{label.ATS_RESUME_LAST_UPDATED}:</span>
			
								</div>
							</div>
						</div>
						<p title={resumeLastModified} class="slds-truncate"><lightning-formatted-date-time value={resumeLastModified} year="numeric" month="short" day="2-digit" ></lightning-formatted-date-time></p>
					</div>
			
					<div class="slds-col slds-size_1-of-2" tabindex="0">
						<div class="slds-grid slds-grid_align-start">
							<lightning-icon icon-name="utility:world" size="x-small" variant="brand" title={label.ATS_WEBSITE} class="slds-m-vertical_small slds-m-right_xx-small"></lightning-icon>
							<div class="slds-m-vertical_small">
								<div class="slds-has-flexi-truncate">
			
									<span aria-hidden="true" class="slds-text-title_caps">{label.ATS_WEBSITE}:</span>
			
								</div>
							</div>
						</div>
						<p title={webSiteURL} class="slds-truncate">{webSiteURL}</p>
					</div>
			
					<div class="slds-col slds-size_1-of-2" tabindex="0">
						<div class="slds-grid slds-grid_align-start">
							<lightning-icon icon-name="utility:user" size="x-small" variant="brand" title={label.ATS_RECENT_SUBMITTAL} class="slds-m-vertical_small slds-m-right_xx-small"></lightning-icon>
							<div class="slds-m-vertical_small">
								<div class="slds-has-flexi-truncate">
			
									<span aria-hidden="true" class="slds-text-title_caps">{label.ATS_RECENT_SUBMITTAL}:</span>
			
								</div>
							</div>
						</div>
						<p title={recentSubmittal} class="slds-truncate">{recentSubmittal}</p>
					</div>
			
					<div class="slds-col slds-size_1-of-2" tabindex="0">
						<div class="slds-grid slds-grid_align-start">
							<lightning-icon icon-name="utility:date_input" size="x-small" variant="brand" title={label.ATS_RECET_SUBIMITTAL_DATE} class="slds-m-vertical_small slds-m-right_xx-small"></lightning-icon>
							<div class="slds-m-vertical_small">
								<div class="slds-has-flexi-truncate">
			
									<span aria-hidden="true" class="slds-text-title_caps">{label.ATS_RECET_SUBIMITTAL_DATE}:</span>
			
								</div>
							</div>
						</div>
						<p title={recentSubmittalDate} class="slds-truncate"><lightning-formatted-date-time value={recentSubmittalDate} year="numeric" month="short" day="2-digit" ></lightning-formatted-date-time></p>
					</div>
					 <div class="slds-col slds-size_1-of-2" tabindex="0">
						<div class="slds-grid slds-grid_align-start">
							<lightning-icon icon-name="utility:comments" size="x-small" variant="brand" title={label.ATS_COMMENT} class="slds-m-vertical_small slds-m-right_xx-small"></lightning-icon>
							<div class="slds-m-vertical_small">
								<div class="slds-has-flexi-truncate">
			
									<span aria-hidden="true" class="slds-text-title_caps">{label.ATS_COMMENT}:</span>
			
								</div>
							</div>
						</div>
						<p title={comments} class="slds-truncate">{comments}</p>
					</div>
					
                </div>
            </div>
	    </div>
        
		
        <!--<p title={dncDnu} class="slds-truncate">{dncDnu}</p>
        <p title={dnc} class="slds-truncate">{dnc}</p>
        <p title={dnu} class="slds-truncate">{dnu}</p>
        <p title={preferredEmail} class="slds-truncate">{preferredEmail}</p>
        <p title={email} class="slds-truncate">{email}</p>
        <p title={otherEmail} class="slds-truncate">{otherEmail}</p>
        <p title={workEmail} class="slds-truncate">{workEmail}</p>
        <p title={preferredPhoneValue} class="slds-truncate">{preferredPhoneValue}</p>
        <p title={phone} class="slds-truncate">{phone}</p>
        <p title={mobilePhone} class="slds-truncate">{mobilePhone}</p>
        <p title={homePhone} class="slds-truncate">{homePhone}</p>
        <p title={otherPhone} class="slds-truncate">{otherPhone}</p>
        <p title={mailingAddress} class="slds-truncate">{mailingAddress}</p>
        <p title={talentId} class="slds-truncate">{talentId}</p>
        <p>{resumeLastModified}</p>
        <p title={recentSubmittal} class="slds-truncate">{recentSubmittal}</p>
        <p><lightning:formattedDateTime value={recentSubmittalDate} year="numeric" month="short" day="2-digit" ></lightning:formattedDateTime></p>
        <p><lightning:formattedUrl value={webSiteURL} label="WebSite URL" tooltip= {webSiteURL} target="_blank"></lightning:formattedUrl></p>
        <p>{webSiteURL}</p>
        <p>{comments}</p>-->
    </template>
    <template if:true={contact.error}>
        <!--<c-error-panel errors={contact.error}></c-error-panel>-->
    </template>
    

</template>