/*style*/

.dn-panel {
    height: 2.2rem;
    border: 1px solid #c23934;
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin-right: 1rem;
}
.dn-panel .icon {
    width: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c23934;
}
.dn-panel .icon span {
    color: white;
    font-size: 1.5rem;
}
.dn-panel .panel {
    flex: 1 1;
    display: flex;
}
.dn-panel .panel>div lightning-icon {
    margin-top: 0;
    margin-bottom: 0;
}
.dnc-icon svg {
    fill: #c23934;
    height:16px;
}
.dn-panel .panel span {
    color: #c23934;
}
.dn-panel .panel .dn-sub-panel>div {
    padding: 0 .5rem;
}
.dn-panel .panel>span.div:not(:last-of-type) {
    border-right: 1px solid grey;
}