.button-icon{
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: 1px solid lightgrey;
    padding: 0.25rem;
    margin-right: 0.5rem;
    cursor: pointer;
    transition: background-color 0.25ms ease-in;
}

.button-icon:hover {
    background-color: #d1d0d0;
    border: 1px solid #a1a1a1;
}

.button-icon:hover .button-img {
    filter: brightness(0.8);
}

.selected {
    background-color: #f3f2f2;
    border: 1px solid #d1d0d0;
}

.selected .button-img {
    filter: brightness(0.95);
}

div[data-disabled="true"] {
    background-color: #b9b9b9;
    border: 1px solid #9b9b9b;
    pointer-events: none;
    cursor: not-allowed;
}

div[data-disabled="true"] .button-img {
    filter: brightness(.73);
}

div[data-disabled="true"] input {
    pointer-events: none;
    opacity: 0.5;
}

.button-label-hidden:not(:focus):not(:active){
    clip: rect(0 0 0 0); 
    clip-path: inset(100%); 
    height: 1px; 
    overflow: hidden; 
    position: absolute; 
    white-space: nowrap; 
    width: 1px; 
}

.button-checkbox{
    position: absolute;
    z-index: 2;
}

.button-img{
    display: block;
    width: 100px;
    height: auto;
    transition: filter 0.25ms ease-in;
}

.img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

button.link {
  display: inline-block;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 0;
  color: var(--sds-c-button-text-color, var(--lwc-brandAccessible,rgb(1, 118, 211)));
  font: inherit;
}

button.link:hover {
    text-decoration: underline;
}