<template>
    <div title={getButtonTitle}>
        <div class={getButtonState} data-disabled={disabled} onclick={handleButtonClick} aria-label={label} tabindex="0">
            <label for={buttonId} class="button-label-hidden" title={getButtonTitle}>
                {label}
            </label>
            <input id={buttonId} type="checkbox" class="button-checkbox" checked={getCheckboxState} />
            <div class="img-wrapper">
                <div class="button-img">
                    <slot></slot>
                </div>
            </div>
        </div>
    </div>
     <div>
        <template if:true={isSlot}>
            <button class="link" onclick={boardSlotClick}> View Active Postings </button>
        </template>
    </div>
</template>