<template>
    <template if:false={noData}>
        <c-lwc-data-table 
        table-columns={cols} 
        table-data={tableData} 
        show-spinner={showSpinner} 
        actions={actions}
        onrowaction={handleRowAction}
    ></c-lwc-data-table>
    </template>
    <template if:true={noData}>        
        <c-lwc-empty-state-image img="No Access" header-text={noDataMessage}></c-lwc-empty-state-image>
    </template>  
</template>