.THIS .font-weight_heavy {font-weight: 600}
.THIS .font-italic {font-style:italic;}

/*toggleCss.css*/
.THIS.toggle {
    display: none;
}


.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}


.THIS.uiButton.saveRecord {
	background: springgreen;
    float: right;
}
.THIS.uiButton.cancelRecord {
	background: coral;
    float: right;
}

.THIS .slds-form-element__control label span, .THIS h2{
    font-weight: 600;
}

.THIS .slds-form_stacked .slds-form-element{
    margin-bottom: 0;
}

.THIS h2{
    margin-bottom:20px
}
.THIS .col_preferred {
    min-width: 60px;
}

.THIS .col_preferred input{
    position: absolute;
    transform: translate(1.25rem, 1rem);
}

.THIS .col_preferred .first-chbox{
    position: absolute;
    transform: translate(1.25rem, 0.5rem);
}

.THIS .slds-form-element__control {
    padding-bottom: 5px;
}
.THIS .disabled {background: #eee;}
.THIS .slds-form-element__label {font-weight:600;}


.THIS .contact-form .slds-input{
    min-height: calc(2.125rem + 2px);
}

.THIS .with-error {position: relative;}
.THIS .with-error h1 {
    position: absolute;
    color: rgb(194, 57, 52);
    font-size: .75rem;
}
.THIS .with-error input {
    border: 1px solid rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
}
.THIS .with-error .cC_LookupLtng {margin: 0;}

/* -- sf winter 18 override -- */
.THIS .slds-form-element.cC_ToolTipUtility {
    width: unset!important;
    margin-bottom: unset;
}
.THIS .hidden-field {
display:none;}

.THIS .accordion-item-header {
    display: inline-flex;
    cursor: pointer;
}

.THIS .accordion-item {
    border-top-color: rgb(221, 219, 218);
    border-top-style: solid;
    border-top-width: 1px;
    margin: 15px;
}

.THIS .show {
   height: 100%;
}

.THIS .hide {
   max-height: 0px;
   overflow: hidden;
   display: none;
}

.THIS .accordion-item-header {
    background-color: #035797;
    width: 100%;
    color: #fff;
    border-radius: 5px 5px 0px 0px;
}

.THIS .accordion-item-header svg{
    fill: #fff;
}

.THIS .accordion-item {
    border: 1px solid #dddbda;
    border-radius: 0px 0px 5px 5px;
}

.THIS .required {
    padding-right: 8px;
    color: #fff;
}

.THIS .required:before {
    content: '•';
    font-size: 2rem;
    position: absolute;
    transform: translate(0px, -15px);
    color: rgb(194, 57, 52);
}

.THIS .slds-text-color_destructive {
    font-size: 0.6rem;
}

.THIS .subsection-toggle {
    border-color: #fff;
    background: #fff;
    position: absolute;
    transform: translate(1.25rem, -0.75rem);
    color: #035797;
}

.THIS .subsection-toggle p{
    font-weight: 600;
    padding: 0 0.25rem;
}

.THIS .subsection-toggle svg {
    fill: #035797;
}

.THIS .subsection-toggle:focus {
    outline-color: none;
    outline-width: 0px;
}