<link rel="stylesheet" type="text/css" href="//cloud.typography.com/7408474/6945152/css/fonts.css?v=20160830"/>
<script src="https://connect-analytics-test.astoncarter.com/_res/js/s_code.js" type="text/javascript"></script>
<script src="https://connect-analytics-test.astoncarter.com/_res/js/reportsuites.js" type="text/javascript"></script>

<!-- Hotjar Tracking Code for Lightning -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:751432,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
