@font-face {
    font-family: 'muller-bold';
    src: url('/s/sfsites/c/resource/1528894098000/tc_tek_fonts/tc_tek_fonts/muller/muller-bold.woff') format('woff');
}
@font-face {
    font-family: 'muller-extrabold';
    src: url('/s/sfsites/c/resource/1528894098000/tc_tek_fonts/tc_tek_fonts/muller/muller-extrabold.woff') format('woff');
}
@font-face {
    font-family: 'muller-light_italic';
    src: url('/s/sfsites/c/resource/1528894098000/tc_tek_fonts/tc_tek_fonts/muller/muller-light_italic.woff') format('woff');
}
@font-face {
    font-family: 'muller-light';
    src: url('/s/sfsites/c/resource/1528894098000/tc_tek_fonts/tc_tek_fonts/muller/muller-light.woff') format('woff');
}
@font-face {
    font-family: 'muller-regular_italic';
    src: url('/s/sfsites/c/resource/1528894098000/tc_tek_fonts/tc_tek_fonts/muller/muller-regular_italic.woff') format('woff');
}
@font-face {
    font-family: 'muller-regular';
    src: url('/s/sfsites/c/resource/1528894098000/tc_tek_fonts/tc_tek_fonts/muller/muller-regular.woff') format('woff');
}
@font-face {
    font-family: 'klinic-medium';
    src: url('/s/sfsites/c/resource/1528894098000/tc_tek_fonts/tc_tek_fonts/klinic/klinicslab-medium.woff') format('woff');
}
@font-face {
    font-family: 'klinic-medium_italic';
    src: url('/s/sfsites/c/resource/1528894098000/tc_tek_fonts/tc_tek_fonts/klinic/klinicslab-medium_italic.woff') format('woff');
}
@font-face {
    font-family: 'klinic-book';
    src: url('/s/sfsites/c/resource/1528894098000/tc_tek_fonts/tc_tek_fonts/klinic/klinicslab-book.woff') format('woff');
}
@font-face {
    font-family: 'klinic-book_italic';
    src: url('/s/sfsites/c/resource/1528894098000/tc_tek_fonts/tc_tek_fonts/klinic/klinicslab-book_italic.woff') format('woff');
}
@font-face {
    font-family: 'klinic-bold';
    src: url('/s/sfsites/c/resource/1528894098000/tc_tek_fonts/tc_tek_fonts/klinic/klinicslab-bold.woff') format('woff');
}
@font-face {
    font-family: 'klinic-bold_italic';
    src: url('/s/sfsites/c/resource/1528894098000/tc_tek_fonts/tc_tek_fonts/klinic/klinicslab-bold_italic.woff') format('woff');
}

/* note for prod remove /teksystemscom/ and update the resource link I have the prod links commented below */
@font-face {
    font-family: 'muller-bold';
    src: url('/teksystemscom/s/sfsites/c/resource/1528894098000/tc_tek_fonts/tc_tek_fonts/muller/muller-bold.woff') format('woff');
}
@font-face {
    font-family: 'muller-extrabold';
    src: url('/teksystemscom/s/sfsites/c/resource/1528894098000/tc_tek_fonts/tc_tek_fonts/muller/muller-extrabold.woff') format('woff');
}
@font-face {
    font-family: 'muller-light_italic';
    src: url('/teksystemscom/s/sfsites/c/resource/1528894098000/tc_tek_fonts/tc_tek_fonts/muller/muller-light_italic.woff') format('woff');
}
@font-face {
    font-family: 'muller-light';
    src: url('/teksystemscom/s/sfsites/c/resource/1528894098000/tc_tek_fonts/tc_tek_fonts/muller/muller-light.woff') format('woff');
}
@font-face {
    font-family: 'muller-regular_italic';
    src: url('/teksystemscom/s/sfsites/c/resource/1528894098000/tc_tek_fonts/tc_tek_fonts/muller/muller-regular_italic.woff') format('woff');
}
@font-face {
    font-family: 'muller-regular';
    src: url('/teksystemscom/s/sfsites/c/resource/1528894098000/tc_tek_fonts/tc_tek_fonts/muller/muller-regular.woff') format('woff');
}
@font-face {
    font-family: 'klinic-medium';
    src: url('/teksystemscom/s/sfsites/c/resource/1528894098000/tc_tek_fonts/tc_tek_fonts/klinic/klinicslab-medium.woff') format('woff');
}
@font-face {
    font-family: 'klinic-medium_italic';
    src: url('/teksystemscom/s/sfsites/c/resource/1528894098000/tc_tek_fonts/tc_tek_fonts/klinic/klinicslab-medium_italic.woff') format('woff');
}
@font-face {
    font-family: 'klinic-book';
    src: url('/teksystemscom/s/sfsites/c/resource/1528894098000/tc_tek_fonts/tc_tek_fonts/klinic/klinicslab-book.woff') format('woff');
}
@font-face {
    font-family: 'klinic-book_italic';
    src: url('/teksystemscom/s/sfsites/c/resource/1528894098000/tc_tek_fonts/tc_tek_fonts/klinic/klinicslab-book_italic.woff') format('woff');
}
@font-face {
    font-family: 'klinic-bold';
    src: url('/teksystemscom/s/sfsites/c/resource/1528894098000/tc_tek_fonts/tc_tek_fonts/klinic/klinicslab-bold.woff') format('woff');
}
@font-face {
    font-family: 'klinic-bold_italic';
    src: url('/teksystemscom/s/sfsites/c/resource/1528894098000/tc_tek_fonts/tc_tek_fonts/klinic/klinicslab-bold_italic.woff') format('woff');
}
