.THIS {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.THIS.spinnercls{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}
 .THIS .task-label {
     font-size:12px;
     color:#737271;
 }
.THIS .sub-label-truncate p:last-child {
    font-weight: 600;
    cursor: pointer;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
 .THIS .task-sub-label {
     font-weight:600;
    cursor:pointer;
    }
    .THIS .slds-card__footer {
        text-align:right;
    }

    .THIS .font-weight-600 {
        font-weight:600;
    }
    .THIS .required-cls {
        color:#c43f3a;
    }

    .THIS .slds-card__body {
        flex-grow: 1;
        height: 170px;
        overflow: auto;
    }
    .THIS .drop-down-pos .slds-dropdown-trigger {
        position:absolute;
    }
    .THIS .padding-bottom-small {
        padding-bottom:5px;
    }
    .THIS .border-btm-grey {
        border-bottom: 1px solid #f3f2f2;
    }