.THIS .slds-form-element__label:empty {
    display: none;
}

.THIS .cC_LookupLtng .slds-form-element__control {
    margin-top: -0.125rem;
}

.THIS .radio-label {
    padding-bottom: 0;
}

.THIS option.uiInputSelectOption {
    padding: 0.25rem 0.5rem;
}

/* DEMO CHANGES */
.THIS #geo-comments {
    flex-direction: row;
    background: rgb(255, 255, 255);
    margin-bottom: 3px;
    border: 1px solid white;
}

.THIS .focused-div-container {
    border: 1px solid rgb(0,140,231) !important;
    box-shadow: 0 0 3px rgba(0,140,231,1);
    border-radius: .25rem;
}

.THIS .blue-border-left {
    border-left: 5px solid #00cdcd;
}

.THIS .truncated-container::after {
    content: 'MORE' !important;
    background: white;
    right: 0;
    font-size: .7rem;
    transform: translate(-4px, -25px);
    float: right;
    padding: 5px 6px 0 8px;
    color: rgb(0, 109, 204);
}

.THIS .flex-box-container {
    display: flex;
    justify-content: space-between;
}

.THIS .padingTop-2 {
    padding-top: 2px;
}
.THIS .loc-field .slds-input{
    background-color: #F0EE6C !important;
    border: 1px solid #C2A10D !important;
}
.THIS .loc-field .uiInput--input.input {
    background-color: #F0EE6C !important;
    border: 1px solid #C2A10D !important;
}

.THIS #geo-comments textarea {
    transform: translateY(-1px);
}