.THIS {
}
.THIS .heading{
    font-size: 1.5em;
    font-weight: bolder;
    padding-top: 1rem;
    padding-bottom: 2.4rem;
}
.THIS .wave-heading{
    font-size: 1.5em;
    font-weight: bolder;
    padding-top: 1rem;
    padding-left: 1rem;
}