.THIS {
    height: 100%;
    overflow: hidden;
}
.THIS .alerts-container {
    height: 100%;
}
.THIS .alerts {
    width: 25%;
    height: 100%;
}
.THIS .results {
    height: 100%;
    width: 75%;
    overflow: auto;
}
.THIS .full-flex {
    flex: 1 1;
}
.THIS .section-header {
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.THIS .expanded {
    max-height: max-content;
}
.THIS .collapsed svg {
    transform: rotateZ(-90deg)
}
.THIS .collapsed {
    max-height: 21px;
    overflow: hidden;
}

.THIS .collapsed .section-body {
    display: none;
}

.THIS .scroll{
    overflow-y: auto;
}
.THIS .alert-result:last-of-type .result-teaser {
    border-bottom: 1px solid lightgray;
}
.THIS .no-results {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}