.skill-pill-field {
    position: relative;
    border: 1px solid rgb(217, 219, 221);
    border-radius: 5px;
    border-left: 5px solid #00cdcd;
    background-color: #f4ffff;
}
.search-icon {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 1.1rem;
    fill: #b0adab;
    pointer-events: none;
}
.slds-pill_container {
    background-color: inherit;
    padding-left: 1rem;
    display: flex;
    flex-wrap: wrap;
}
ul.slds-listbox li:focus {
    background-color: rgb(249, 249, 250);
    outline: none;
}
.slds-pill_container .slds-pill svg {
    fill: black;
}
a {
    cursor: default;
}
[data-class="hide"] {
    display: none;
}
.slds-pill_container {
    border: none;
}

/*Suggested Skills styles*/
.slds-pill:hover {
    background-color: none;
}
.slds-pill a {
    background-color: #B0D7F2;
    color: black;    
}