.THIS .uiInput--default .form-element__label{
    margin-left: .25rem;
    text-transform: capitalize;
    color: rgb(84, 105, 141);
    line-height: 1.5;
    margin-bottom: 0;
}

.THIS .uiInput--checkbox {
    display: flex;
    flex-direction: row-reverse;
}

.THIS .checkboxShow {
    display: block;
}

.THIS .checkboxHide{
    display: none;
    
}

.THIS input.uiInput--checkbox{
    display: inline-flex;
}

.THIS .switch-icon{
    width: auto;
    height: auto;
}

.THIS .slds-section__title-action{
    border: 1px solid rgb(216, 221, 230);
}

/*.THIS .slds-form-element__label{*/
    /*display: none;*/
/*}*/

.THIS .slds-section__title{
    font-size: 0.75rem;
    width: 100%;
}

.THIS .form-element__label{
    display: inline-block;
}


.THIS .search-facet-label{
    padding-left: 0.25rem;
    text-transform: capitalize;
    color: rgb(84, 105, 141);
    line-height: 1.5;
    display: inline-flex;
    width: 90%;
}

.THIS .doc-count{
    margin-left: 0.25rem;
}

.THIS li{
    margin: 0.50rem 0;
}

.THIS .red-icon {
    color: rgb(194, 57, 52);
}

.THIS .input-icon {
    position: absolute;
    right: 0.25rem;
    top: 0.5rem;
    z-index: 9000;
    background-color: #fff;
}