.THIS .result-info {
    border: 1px solid lightgray;
    background-color: whitesmoke;
    width: 100%;
    height: 55px;
}
.THIS .result-teaser {
     border-right: 1px solid lightgray;
     border-left: 1px solid lightgray;
 }
.THIS .name {
    font-weight: 600;
    font-size: 14px;
}
.THIS .jobtitle {
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
}
.THIS .location {
    font-size: 12px;
}
.THIS .location span::after {
    content: ', ';
}
.THIS .location span:last-child::after {
    content: '';
}
.THIS .full-flex {
    flex: 1 1;
}
.THIS em {
    background: rgb(255, 240, 63);
    padding: .125rem;
    font-weight: 600;
    color: rgb(0, 112, 210);
}