.THIS .slds-media_timeline:before {
    z-index: 10;
    top: -3px;
    height: 100%;
    left: .75rem!important;
}
.THIS .slds-icon-text-default {
    fill: #f88962;
}
.THIS .slds-timeline__media:before, .THIS .slds-media_timeline:before {
    background: #f88962;
       /* border-top: 25px solid #FFF;*/

}
.THIS .slds-dropdown-trigger .slds-icon-text-default {
        fill: rgb(112, 110, 107);
}

.THIS .slds-media .slds-col>.slds-button, .THIS .slds-button.expandButton {
    outline: 0!important;
    box-shadow: none!important;
    line-height: 0;
}
.THIS li.slds-timeline__item {
    list-style: none;
}
.THIS .pre-line {white-space: pre-line!important;}