.THIS .slds-progress-bar_large {
    height: 18px;
    border-radius: 6px;
}

.THIS .slds-progress-bar__value {
    height: 18px;
    border-radius: 6px;
    background: #38ca5e;
}

.THIS .bar{
    padding: 12px 0px 30px 0px;
}