.bold {
    font-weight: 600;
}

.smaller {
    font-size: 11px;
}

.pillContainer {
    background-color: #e2e6e9;
    border-radius: 4px;
    min-height: 42px;
}

.slds-pill {
    border: none;
    color: #fff;
}

.slds-pill .whiteIcon {
    fill: #fff;
}

.pills-skill    .slds-pill { background-color: #005FB2; }
.pills-industry .slds-pill { background-color: #fb8383; }
.pills-company  .slds-pill { background-color: #4167c7; }
.pills-stage    .slds-pill { background-color: #30bd7e; }
.pills-location .slds-pill { background-color: #FFB75D; }

.slds-pill-container { background-image:none; transition: all 1000ms; }
.pills-skill    .slds-pill-container:hover { background-image: linear-gradient(to right,#fff, 60%,#005FB2); -webkit-text-fill-color: transparent; -webkit-background-clip: text; background-clip: text; }
.pills-industry .slds-pill-container:hover { background-image: linear-gradient(to right,#fff, 60%,#fb8383); -webkit-text-fill-color: transparent; -webkit-background-clip: text; background-clip: text; }
.pills-company  .slds-pill-container:hover { background-image: linear-gradient(to right,#fff, 60%,#4167c7); -webkit-text-fill-color: transparent; -webkit-background-clip: text; background-clip: text; }
.pills-stage    .slds-pill-container:hover { background-image: linear-gradient(to right,#fff, 60%,#30bd7e); -webkit-text-fill-color: transparent; -webkit-background-clip: text; background-clip: text; }
.pills-location .slds-pill-container:hover { background-image: linear-gradient(to right,#fff, 60%,#FFB75D); -webkit-text-fill-color: transparent; -webkit-background-clip: text; background-clip: text; }

.slds-pill-container .slds-button.slds-button_icon {
    display:none;
    transition: all 1000ms;
}

.slds-pill-container:hover .slds-button.slds-button_icon {
    display:inline-flex;
}

.addButton {
    float: right;
    margin-top: 3px;
}

.addButtonIcon {
    fill: #4a90e2;
}

.slds-button.slds-button_icon {
    margin-left: -16px;
}