<template>
    <template if:true={lwcFacetCheckboxTypeahead}>
        <c-lwc-facet-checkbox-filter facet-data={facetData} selected-items={facetData.selectedValues}></c-lwc-facet-checkbox-filter>
    </template>
    <template if:true={lwcFacetLocation}>
        <c-lwc-facet-location facet-data={facetData}></c-lwc-facet-location>
    </template>
    <template if:true={lwcFacetSelect}>
        <c-lwc-facet-select facet-data={facetData}></c-lwc-facet-select>
    </template>
</template>