
.lineBreak {
     margin-bottom: 10px;
}
.lineBreakTop {
    margin-top: 10px;
}
hr { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
} 
.timelineheader {
     margin-bottom: 20px;
      font-weight: bold;
      font-weight: 1200;
}
.timelineEditButton {
    margin-top: 5px;
}
.dueDate {
     text-align: center; 
}
.buttonDivClass {
     text-align: center;
     margin-top: 5px; 
}
.dueDateMonthDay {
    font-weight: bold;
}
.dueDateHour {
    font-weight: bold;
}
.subjectHeader {
     font-weight: bold;
     font-weight: 1200;
}
.timelineEditDeleteCommonClass {
    margin-top: 10px;
}