.THIS input[type=checkbox]:checked.green-checkbox{
    border-color: rgb(0, 178, 0); /*Choose your color*/
    box-shadow: 0 0 3px #006A00; /*Choose a darker color for the shadow*/
    background-color: rgb(0, 178, 0);
}

.THIS a, 
.THIS p{
    text-transform: capitalize;
}



.THIS .slds-text-heading_small {
    font-weight: 600;
}

.THIS .req-card{
    width: 100%;
    border-radius: 0.25rem;
    border: 1px solid rgb(221, 219, 218);
    margin-bottom: 0.5rem;
}

.THIS .req-card:hover,
.THIS .req-card:hover .bottom-row,
.THIS .req-card:hover .bottom-row .action-col {
    background-color: #eff8fe;
}

.THIS .req-card:hover .bottom-row{
    border-top: 1px solid  rgb(221, 219, 218);
}

.THIS .top-row {
    width: 100%;
}

.THIS .top-row a {
    margin-bottom: 0.25rem;
}

.THIS .bottom-row {
    width: 100%;
    height: 1.5rem;
    padding: 0.25rem 0.5rem;
    background: rgb(221, 219, 218);
}

.THIS .bottom-row .main-col {
    padding: unset;
    border-right: unset;
}

.THIS .bottom-row .action-col{
    width: 1rem;
    min-width: 1rem;
    display: flex;
}

.THIS .action-menu{
    display: flex;
    align-content: center;
    justify-content: center;
}

.THIS .top-row .action-col ul {
    margin-top: 0.5rem;
}

.THIS .top-row .action-col li {
    margin: 0.5rem 0;
}

.THIS .main-col {
    width: 95vw;
    min-width: 40rem;
    border-right: 0.125rem solid rgb(221, 219, 218);
    padding: 0.5rem;
}

.THIS .align-right{
    display: flex;
    justify-content: flex-end;
}

.THIS .action-col {
    width: 2rem;
    min-width: 2rem;
    max-width: 2rem;
}

.THIS .badge-col {
    display: flex;
    align-items: center;
}

.THIS .badge-col svg {
    fill: #0A6894;
}

.THIS .badge-list li:nth-child(1){
    width: 14rem;
}

.THIS .badge-list li:nth-child(2){
    width: 11rem;
}

.THIS .badge-list li:nth-child(3){
    width: 15rem;
}

.THIS .badge-list li:nth-child(3) p{
    text-transform: unset;
}

.THIS .green-badge {
    background-color: rgb(0, 169, 84);
    padding: 0.125rem 0.5rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0.5rem;
    font-size: 0.65rem;
    margin-right: 0.5rem;
}

.THIS .popover {
    color: var(--lwc-brandTextLink,rgb(0, 109, 204));
    position: relative;
}

.THIS .right-caret {
    position: absolute;
    right: -0.5rem;
    transform: scale(1.75);
}

.THIS .act-detail-popover{
    position: absolute;
    z-index: 9000;
    top: 2rem;
    left: 1rem;
}

.THIS .assign-val-blue{
    color: var(--lwc-brandTextLink,rgb(0, 109, 204));
}

.THIS .assign-font-bold{
    font-weight: 600;
}

.THIS .skill-hlt{
	font-weight: 600;
	background-color: rgb(255, 240, 63);
	color: rgb(0, 112, 210);
	padding: 0.125rem;
}

.THIS .truncate-title {
    display: inline-block;
    margin-bottom: -.25rem;
}

.THIS .truncate-title:hover{
    text-decoration: underline;
}

.THIS .skill-toggle {
    font-weight: 600;
    cursor: pointer;
    color: rgb(0, 112, 210);
    align-self: flex-end;
}

.THIS .truncate-block {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
}

.THIS .truncate-block:after {
    content: '\2026';
}

.THIS .slds-popover__body  {
    color: #333333;
}

.THIS .action-menu .slds-button {
    line-height: 1.25;
    color: #fff;
    text-transform: uppercase;
}


.THIS .action-menu .slds-button_icon-border-filled {
    height: 1.15rem;
    width: 1.55rem;
    background-color: transparent;
    border-radius: unset;
    border-color: unset;
    border: unset;
    display: block;
}

.THIS .action-col a,
.THIS .action-menu a{
    transition: all 0.25s ease-in;
    text-decoration: none;
}

.THIS .action-col p,
.THIS .action-menu p {
    text-align: center;
    line-height: 1.25;
    color: rgb(112, 110, 107);
    font-size: 8px;
    text-transform: capitalize;
}

.THIS .action-col .action-menu svg {
    transform: translateY(-0.25rem);
}

.THIS .action-col .action-menu p {
    transform: translate(-0.5rem, -0.5rem);
}


.THIS .action-col .slds-icon,
.THIS .action-menu .slds-icon {
    fill: rgb(112, 110, 107);
    line-height: 0;
    vertical-align: middle;
}

.THIS .action-col a:hover .slds-icon,
.THIS .action-col a:hover p,
.THIS .action-menu .slds-button:hover .slds-icon,
.THIS .action-menu .slds-button:hover p{
    fill: #0A6894;
    color: #0A6894;
    text-decoration: none;
}

.THIS .action-col a:focus .slds-icon,
.THIS .action-col a:focus p,
.THIS .action-menu .slds-button:focus .slds-icon,
.THIS .action-menu .slds-button:focus p{
    fill: #0A6894;
    color: #0A6894;
    text-decoration: none;
}
.THIS .action-menu img {
    width: 1.25rem;
    height: auto;
    margin-right: 0.25rem;
}
.THIS .action-menu a {
    justify-content: flex-start;
    text-decoration: none;
}

.THIS .action-menu .slds-dropdown {
    width: 15vw;
    z-index: 1;
}

.THIS .button-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
}

.THIS .is-disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.THIS .is-disabled svg {
    fill: rgb(165, 165, 165);
}

.THIS .submit-button .slds-icon-standard-actions-and-buttons {
    background-color: unset;
}

.THIS .submit-button svg {
    transform: rotate(45deg);
}

/*Sidebar Styles and Animations*/

.THIS .req-sidebar {
    height: calc(100vh - 8.1rem);
    position: fixed;
    width: 25%;
    max-width: 35vw;
    z-index: 100;
    top: 9.95rem;
    right: -34vw;
}

.THIS .show-sidebar {
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.THIS .hide-sidebar {
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

@keyframes slide-right {
      0% {
          right: 0;
          opacity: 1;
      }
      99% {
          opacity: 0;
      }
      100% {
          right: -34vw;
      }
  }

@keyframes slide-left {
    0% {
        right: -34vw;
        opacity: 0;
    }
    99% {
        opacity: 1;
    }
    100% {
        right: 0;
    }
}


.THIS .card-selected {
     background-color: #eff8fe;
    border: 1px solid #0A6894;
    box-shadow: 0 0 3px #0070d2;
}

.THIS .card-selected .bottom-row {
    border-top: 1px solid  rgb(221, 219, 218);
    background-color: #eff8fe;
}

.THIS strong,
.THIS  b {
     font-weight: 600;
}