
.THIS .cts-btn {
    margin-bottom: 5px;
}
.THIS .contact-pill {
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.THIS .no-results-text {
    font-size: initial;
}
.THIS .dnc-wrapper {
    align-items: center;
    color: #c23934;
}
.THIS .dnc-wrapper svg {
    fill: #c23934;
    margin-right: 0.2rem;
}
.THIS .dnc-wrapper span  {
    text-transform: uppercase;
    font-weight: 600;
}
 .THIS .del-btn {
   padding-left:7px;
 }
 .THIS .del-number {
  background: #026CCC;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    color: #fff;
    display: inline-block;
    line-height: 24px;
    text-align: center;
    width: 24px;
    font-size:9px;
    position:relative;
    bottom:2px;
  }
    .THIS .select-block {
        border:1px solid rgb(221, 219, 218);
        border-radius:5px;
        height: 69px;
        overflow-y: scroll;
        margin-bottom: 10px;
        margin-left: 10px;
        padding-top:5px;
      
    }
.THIS .rec-number{
    background: #026CCC;
    border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    color: #fff;
    display: inline-block;
    line-height: 18px;
    text-align: center;
    width: 24px;
    font-size: 9px;
    position: relative;
    bottom: 2px;
    height: 24px;
    margin-top: 4px;
}
.THIS .btn-campaign .slds-dropdown{
    position: absolute;
    right: 0px;
    left: -168px; 
}
.THIS .btn-save-campaign{
    border:none;
    background:#fff;
}
 .THIS .btn-disable .slds-button{
     cursor:none;
    pointer-events: none;
     color:rgb(221, 219, 218);
    }
 .THIS .btn-disable .slds-button:hover{
     color:rgb(221, 219, 218);
    }
    .THIS .font-regular {
        font-size:13px;
    }
    .THIS .btn-disable .slds-dropdown{
     display:none;
    }