.activity-timeline {
    position: relative;
    box-sizing: border-box;
    min-width: 700px;
    max-width: 700px;
}

.activity-timeline__header {
     margin-bottom: 20px;
      font-weight: bold;
      font-weight: 1200;
}

.activity-timeline__button {
    margin-top: 10px;
}

.activity-timeline__button--edit {
    margin-top: 5px;
}

.activity-timeline__separator {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
}

.utility__line-break--bottom {
     margin-bottom: 10px;
}

.utility__line-break--top {
    margin-top: 10px;
}

.utility__font-weight--bold {
    font-weight: bold;
}
