.THIS .slds-card__body {overflow-y: visible;margin-bottom: 0px;}
.THIS .slds-card__footer {margin-top: 0px;margin-bottom: 0px;padding-top: 0px;padding-bottom: 0px;}
/*.THIS .edit-status,
.THIS .cancel-status {
	height: 0;
	vertical-align: top;
	border: 0;
	color: rgb(199, 199, 199);
}  */
.THIS .edit-status:hover,
.THIS .cancel-status:hover {
	color: rgb(112, 110, 107);
}

.THIS .picklist{
    cursor: pointer;
}

.THIS .name-col{
    width: 15%;
}
.THIS .location-col,
.THIS .status-col{
    width: 11%;
}
/*.THIS .status-col{
    width: 14%;
}*/
.THIS .date-col{
   width: 8%
}
.THIS .source-col {
  width: 10%;
}
.THIS .disposition-col {
   width: 20%
}
.THIS .edit-col{
    width: 2%;
}
.THIS .actions-col {
    width: 115px;
}
.THIS .col-actions > * {
    margin: 0 5px;
}

.THIS .word-wrap{
  white-space: pre-wrap;
}

.THIS .slds-card__body .slds-table .slds-hint-parent .slds-truncate a:visited {
	color: #2d466c;
	background-color: #e0e5ee;
}
.THIS .email-on:after {
    content: '\2714';
    color: white;
    background-color: green;
    position: absolute;
    top: -2px;
    right: -3px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7px;
    padding-right: 1px;
}
.THIS .call-on:after {
    right: 0;
}