ul {
    margin: 0.25rem 0;
    padding-left: 2.5rem;
    list-style: disc;
}

li {
    font-size: 0.8125rem;
    color: rgb(62, 62, 60);
}

ul li {
    margin-bottom: 0.25rem;
}

li ul {
    list-style: lower-alpha;
}