<template>
    <div>
        <lightning-input 
            type="checkbox"
            checked={config.selected}
            label={config.label} 
            class="slds-text-title_bold slds-truncate"
            data-label={config.labelId} 
            title={config.label} 
            onchange={handleCheckbox}>
        </lightning-input>
        <div class="backupItems" lwc:dom="manual"></div>
    </div>
  
</template>