.THIS .custom-btn {
    background-color: inherit;
    padding: 0;  
    border-radius: 0;
}
.THIS .custom-btn svg {
    fill: gray;
}

.THIS .custom-btn:hover svg {
    fill: rgb(27, 82, 151);
}

.THIS .action-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.THIS .preferred__text a{
    font-weight: 600;
}

.THIS .talent-location {
    white-space: normal;
}
.THIS .slds-dropdown a {
    padding: .5rem .75rem;
}
.THIS .action-icon {
    padding: 0 8px;
    margin: 0;
}
.THIS .dnu-container, .THIS .dnu-container svg {
    color: #c23934;
    fill: #c23934;
}
.THIS .dnu-container span {
    margin-left: .2rem;
    font-weight: 600;
}
.THIS .color-red .clr-icon-red svg{
fill: #A9262E; 
}
.THIS .color-grey .clr-icon-grey svg{
fill: #B7B6B4; 
}
.THIS .color-green .clr-icon-green svg{
fill: #29835E; 
}
.THIS .color-green .text-green {
    color: #29835E; 
    text-transform: uppercase;
    font-weight: 600;
}
.THIS .color-grey .text-grey {
    color: #B7B6B4; 
    text-transform: uppercase;
    font-weight: 600;
}
.THIS .color-red .text-red {
    color: #A9262E; 
    text-transform: uppercase;
    font-weight: 600;
}

.THIS .notes-add-pill {
    background: rgb(61,138,231);
    border-radius: 1rem;
    padding: .1rem .3rem .1rem .5rem;
    color: white;
    font-size: .8rem;
    display: inline-block;
    cursor: pointer;
}

.THIS .add-note {
    font-size: 1.2rem;
    line-height: .8rem;
    font-weight: 100;
    transform: translateY(1px);
    display: inline-block;
}

.THIS .note-icon svg {
    fill: rgb(245,187,109);
    height: 1.5rem;
    cursor: pointer;
}

.THIS #notes-modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.4);
    z-index: 9999999;    
    padding: 2rem;
}

.THIS .notes-modal {
    background: white;
    border-radius: .5rem;
    width: calc(100vw - 2rem);
    height: calc(100vh - 2rem);
}