<template>
    <template if:true={popoverOutput}>
        <template if:true={showPopover}>
            <section class="slds-popover slds-nubbin_top-left slds-popover_large" role="dialog">
                <button class="slds-button slds-button_icon slds-button_icon-small slds-float_right slds-popover__close" title="Close dialog">
                    <svg class="slds-button__icon" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Close dialog</span>
                </button>
                <template if:true={output}>
                    <header class="slds-popover__header">
                        <h2 class="slds-text-heading_small" id="dialog-heading-id-102">{output}</h2>
                    </header>
                </template>
                <div class="slds-popover__body" id="dialog-body-id-97">
                    <div class="slds-grid slds-grid_vertical">
                        <template for:each={popoverOutput} for:item="field">
                            <div key={field.label} class="slds-col"><strong>{field.label}</strong>: {field.value}</div>
                        </template>
                    </div>
                </div>
            </section>
        </template>
    </template>

    <template if:true={output}>
        <template if:true={clickable}>
            <a href={link} style={additionalStyle} target="_blank" onmouseover={showhidePopover} onmouseout={showhidePopover}>{output}</a>
        </template>
        <template if:false={clickable}>
            <span style={additionalStyle} onmouseover={showhidePopover} onmouseout={showhidePopover}>{output}</span>
        </template>
    </template>
</template>