.THIS .truncate-badge{
	display: inline-block;
	max-width: 10rem;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.THIS .slds-icon{
	fill: rgb(112, 110, 107);
}


.THIS .my-list li{
	border-top: 0px;
	display: inline-block;
	position: relative;
	margin-right: 0.5rem;
}

.THIS .my-list li{
	text-transform: capitalize;
}

.THIS .my-list li:first-child{
	text-transform: none;
}

.THIS li:after{
	content: ',';
	display: inline-block;
	position: absolute;
	top: 0px;
	right: -4px;
	font-weight: 600;
}

.THIS li:first-child:after,
.THIS li:nth-last-child(2):after{
	content: '';
	display: none;
}

.THIS .slds-text-title_caps{
	margin: .25rem .25rem .25rem 0;
}

.THIS .list-title{
	width: 25%;
}

.THIS .list-badges{
	width: 75%;
}

.THIS .show-5:nth-of-type(1n+7) {
    display: none;
}