.THIS .saved-address{
	min-height: 36vh;
	padding: 1rem;
	background-color: rgb(250, 250, 250);
	border: 1px solid #e7e7e7; 
}

.THIS .address-section .slds-input{
	min-height: calc(2.125rem + 2px);
}

.THIS .search-req-field{
	border-left: 5px solid #00cdcd;
	background-color: #f4ffff;
}

.THIS .slds-form-element__label,
.THIS label {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	display: block;
	color: rgb(62, 62, 60);
	font-size: .75rem;
	padding-right: .5rem;
	padding-top: .25rem;
	margin-bottom: .125rem!important;
	position: relative;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.THIS .hidden-field {
	display: none;
}