
.THIS dt {
	width: auto!important;
	font-weight: 600;
}

.THIS .content-toggle{
	position: absolute;
	transform: translate(-4rem, 0.5rem);
	display: none;
	z-index: 9000;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.THIS .slds-nubbin_top:before, 
.THIS .slds-nubbin--top:before{
	background-color: rgb(243, 242, 242);
}

.THIS hr{
	margin: 0.25rem 0;
}

.THIS .mixedCase {
	text-transform: capitalize;
}
.THIS .slds-popover_panel::before {
    transform: rotateX(45deg);
    width: 100%;
    height: 50px;
    top: -42px;
    left: 7px;
    background-color: rgba(0,0,0,0);
}