.THIS textarea {
	width: 99.5%;
    border: none;
    margin-bottom: -5px;
/*	resize: none; */
    line-height: 175%;
    overflow: hidden;
}

.THIS textarea:focus {
    outline: none;
}

.THIS {
    padding: .2em;
}