// =============================================================================
// OP-CO specific variables
// =============================================================================
@import "opcos/aerotekemea-vars.less";

// =============================================================================
// Common includes across OP-COs
// =============================================================================
@import "allegis-common.less";

// =============================================================================
// Fonts
// =============================================================================
body {
    font-family: 'Verlag A', 'Verlag B', Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal !important;
    font-weight: 400;
 }

// =============================================================================
// Aerotek customizations
// =============================================================================

html {
    font-family: 'Verlag A', 'Verlag B', Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    color: #010101 !important;
}

ul.u-bullet-list {
  list-style-type: none;
  font-size: 1.6em;
}

// =============================================================================
// Aerotek logo
// =============================================================================
.u-brand img {
    max-width: 160px;
    height: auto;
    margin: 12px 0px 0px 10px;
    max-height: 42px;
	// Mobile
	@media(max-width: @screen-xs-max){
		margin-top: 13px;
		margin-left: 10px;
	}
}

.u-login-container img {
  max-width: 275px;
}

.cookieConsentWrapper {
    background-color: @brand-slate;
    border-bottom: 1px solid black;
}

::selection {
    color: @selection-color;
    background-color:@selection-background;
}