@import "preboot/normalize.less";
@import "preboot/preboot.less";
@import "forms.less";
@import "grid.less";
@import "popovers.less";
@import "mixins.less";

// fonts
@import "material-design-iconic-font/material-design-iconic-font.less";

// vendors
@import "tagmanager.less";

// pages
@import "pre-auth.less";
@import "skuid-linkedin.less";

// components
@import "component-card.less";
@import "component-form-group.less";
@import "component-login-form.less";
@import "component-social.less";
@import "utilities.less";
@import "component-notifications.less";
@import "component-buttons.less";
@import "component-forgot-password-embed.less";
@import (less) "salesforce-lightning-design-system/salesforce-lightning-design-system.css";

// ===================
// Chatter Overrides
// ===================

//scoping wrapper
html body {
	.chatterexpando .feedpage {
		@media(max-width: @screen-sm-max){
			width: auto;
		}
	}

	.feedpage {
		.feedmain {
			@media(max-width: @screen-sm-max){
				width: auto;
			}
		}

		.feedrightbar {
			@media(max-width: @screen-sm-max){
				width: auto;
				margin-right: 0;
				float: none;
			}
		}
	}

	.publishercontainer,
	.publishercontainer * {
		box-sizing: content-box;
	}

	// ===================
	// Let's make it responsive-er
	// ===================
	.cxallfeedactions .feeditemActionMenu .zen-options,
	.feedcommentactions .commentActionMenu .zen-options,
	.feedmainandrightbar .feedrightbar .zen-options {
		@media(max-width: @screen-md-max){
			left: -160px;
		}
	}

}


// =============================================================================
// Placeholder Styles
// =============================================================================
::-webkit-input-placeholder {
	font-size: 16px;
	font-style: italic;
	opacity: 0.7;
}
:-moz-placeholder {
	font-size: 16px;
	font-style: italic;
	opacity: 0.7;
}
::-moz-placeholder {
	font-size: 16px;
	font-style: italic;
	opacity: 0.7;
}
:-ms-input-placeholder {
	font-size: 16px;
	font-style: italic;
	opacity: 0.7;
}

// ===================
// Global Skuid Overrides
// ===================
html  {
	background: transparent!important;
	font: normal @font-size-base/@line-height-base normal @font-family-base;
	// smooth web fonts
	-webkit-font-smoothing: antialiased;
}
body,
.nx-page {
	// using important to defeat the skuid style
	//Removing background to make white (S-110602)
	//background-color: @body-background!important;
	font-family: @font-family-base !important;
	padding: 0!important;
}

a:link, a:visited {
	text-decoration: none;
	color: @link-color;
}
a:hover, a:active {
	text-decoration: underline;
	color: @link-color-hover;
}

a, a:focus, *:focus {
	outline:0;
}

p {
	margin: 0 0 1em;
}

.c-body-container {
	min-height: @sidebar-height;
}

// mobile friendly common height columns
.is-height-adjusted {
	.c-card {
		@media(max-width: @screen-sm-max){
			min-height: 0!important;
		}
	}
}

// get rid of zoom on input fields
input[type='text'],
input[type='number'],
textarea,
select {
  font-size: 16px !important;
	&:focus {
		font-size: 16px !important;
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	input[type='text'],
	input[type='number'],
	textarea,
	select {
	  font-size: 16px !important;
		&:focus {
			font-size: 16px !important;
		}
	}
}

.nx-page .nx-page-content {
	padding: 0 !important;
}


// =============================================================================
// Cookie Consent
// =============================================================================

.cookieConsentWrapper {
	background-color:@brand-tertiary;
	color:@black-0;
	padding:10px;
	position:absolute;
	text-align:center;
	width:100%;
	z-index:100;
}

.cookieConsentWrapper p {
	margin:10px 0;

	@media(min-width: @screen-md-min){
		display:inline-block;
	}
}

.cookieConsentWrapper a {
	color:@link-color !important;
	text-decoration:underline;
}

.cookieConsentWrapper .qa-cookie-button {
	width:100px;

	@media(min-width: @screen-md-min){
		display:inline-block;
		margin-left:20px;
	}

	@media(max-width: @screen-md-max){
		margin-bottom:10px;
	}
}

.appCloseWindow a {
	color:black !important;
}