// =============================================================================
// OP-CO specific variables
// =============================================================================
@import "opcos/astoncarteremea-vars.less";

// =============================================================================
// Common includes across OP-COs
// =============================================================================
@import "allegis-common.less";

// =============================================================================
// Fonts
// =============================================================================
body {
    font-family: 'Verlag A', 'Verlag B', Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal !important;
    font-weight: 400;
 }

// =============================================================================
// Aston Carter logo
// =============================================================================
.u-brand img {
    max-width: 180px;
    height: auto;
    margin: 22px 0px 0px 10px;
    max-height: 42px;
	// Mobile
	@media(max-width: @screen-xs-max){
		margin-top: 13px;
		margin-left: 10px;
	}
}

.u-login-container img {
  max-width: 340px;
}

::selection {
    color: @selection-color;
    background-color:@selection-background;
}