.c-form-group {
	display: block;
	margin-bottom: 25px;

	label {
		font-size: 17px;
		font-weight: 700;
		text-align: left;
		width: 100%;
	}

	&__text-input {
		padding: 10px;
		border: 1px solid @black-20;
		width: 100%;
		font-size: 16px;
		display: block;

		&--pronounced {
			border: 2px solid @black-20;
			border-radius: 5px;
			padding: 14px 10px;
		}

		&--username {
			background-image: url('../../images/icon-username.png');
			background-size: 20px;
			background-position: 6px 14px;
			background-repeat: no-repeat;
			padding-left: 38px;
		}

		&--password {
			background-image: url('../../images/icon-password.png');
			background-size: 20px;
			background-position: 6px 14px;
			background-repeat: no-repeat;
			padding-left: 38px;
		}
	}

	&__match-state {
		padding: 10px 0px 5px;
	}

	&__show-password {
		margin-right: 5px !important;
	}

	&--centered {
		
		label {
			text-align: center;	
		}
	}

	@media(min-width: @screen-md-min){
		width: 50%;
		margin: 0 auto 25px;
	}

}

.c-form {
	display: block;

	label {
		font-size: 17px;
		font-weight: 700;
		text-align: left;
		width: 100%;
	}

	&__text-input {
		padding: 10px;
		border: 1px solid @black-20;
		width: 100%;
		font-size: 16px;

		&--pronounced {
			border: 2px solid @black-10;
			border-radius: 5px;
			padding: 14px 10px;
		}

		&--username {
			background-image: url('../../images/icon-username.png');
			background-size: 20px;
			background-position: 6px 14px;
			background-repeat: no-repeat;
			padding-left: 38px;
		}

		&--password {
			background-image: url('../../images/icon-password.png');
			background-size: 20px;
			background-position: 6px 14px;
			background-repeat: no-repeat;
			padding-left: 38px;
		}
	}

	&__match-state {
		padding: 10px 0px 20px;
	}

	&__show-password {
		margin-right: 5px !important;
	}

	&--centered {
		
		label {
			text-align: center;	
		}
	}
}



.c-search-form {

	//margin-bottom: @margin-bottom;

	&__form-control {
		border-radius: 3px;
		border: 1px solid transparent;
		box-sizing: border-box;
		display: inline-block;
		// margin-bottom: @margin-bottom;
		padding: 10px;

		// &.error {
		// 	border: 1px solid @brand-danger;
		// 	background: lighten(@brand-danger, 30%);
		// }

		&:focus {
			background-color: @input-search-focus;
		}

	}

	.jquery-error {
		border: 1px solid @brand-danger;
		background: lighten(@brand-danger, 30%);
	}

	textarea.c-search-form__form-control {

		width: auto;
		display: block;
		height: 75px;

		@media(min-width: @screen-sm-min){
			width: 80%;
			height: 100px;
		}
	}

	// ===================
	// Hide show things based on state...
	// ===================

	&__hide-editing {
		display: block;
	}

	&__show-editing {
		display: none;
	}

	&__show-requested {
		display: none;
	}

	// ===================
	// Form group is being edited
	// ===================
	&.is-editing {

		.c-form-group__show-editing {
			display: block;
		}

		.c-form-group__hide-editing {
			display: none;
		}
	}

	// ===================
	// Form group has request pending
	// ===================
	&.is-requested {

		.c-form-group__show-requested {
			display: block;
		}

		.c-form-group__hide-requested {
			display: none;
		}
	}
}

label.error {
	color: @brand-warning;
	display: block;
	font-size: 12px;
	margin-top: 2px;
}

.js-error {
	label.error {
		color: @brand-warning;
		display: block;
	}
}


.c-select-style {
	background: #fafafa url("../../images/select-arrow.png") no-repeat 96% 50%;
	border-radius: 3px;
	border: 1px solid #ccc;
	overflow: hidden;
	&:focus, &:active {
		background: @input-search-focus url("../../images/select-arrow.png") no-repeat 96% 50%;
	}
}

.c-select-style select {
	-webkit-appearance: none;
	background-image: none;
	background: transparent;
	border: 0;
	box-shadow: none;
	padding: 10px 8px 9px;
	&:focus, &:active {
		background: @input-search-focus url("../../images/select-arrow.png") no-repeat 96% 50%;
	}
}

.c-select-style select:focus {
	outline: none;
}
