.c-notification {
		min-width:100%;
		position: fixed;
    z-index: 999;
    text-align: center;
    display:block;
		word-wrap: normal;
	.slds-notify--toast {
		text-align: center;
	}
}

#global-warning-toast {
	svg.slds-icon {
		fill: #16325c;
		position: relative;
    	top: 3px;
	}
	svg.slds-button__icon {
		position: relative;
		top:3px;
	}
}

.slds-notify__close {
	margin-left: .25rem;
	z-index: 9999;
}

.slds-notify--toast {
	display: block !important;
	min-width: 0rem !important;
}

.c-disabled-message {
	font-size: 1rem;
}

//==============
// Slate Button
//==============

.u-btn--slate {
	background: #021A32 !important;
	padding: 5px 10px !important;
}

//================================
// Abenity Notification
//================================

.c-abenity-notification {
	max-width: 500px;
	display: block;
	Width: 100%;
	margin: 10px auto;
	text-align: center;
	font-size: 16px;
}


//================================
// skuid overrides for crazy long names
//================================

.nx-error, .nx-error-inline {
	max-width: 400px;
    word-wrap: break-word;
}

//================================
// Mobile tweaks for notifications
//================================

@media screen and (max-width:767px) {
	.c-disabled-message {
		max-width: 100%;
    	font-size: 1rem;
    }
}

@media screen and (max-width:480px) and (min-width:425px) {
	.c-disabled-message {
		max-width: 340px;
    	font-size: 1rem;
    }
}

@media screen and (max-width:424px) and (min-width:361px) {
	.c-disabled-message {
		max-width: 250px;
   		font-size: 0.7rem;
    }
}

@media screen and (max-width:360px) and (min-width:321px){
	.c-disabled-message {
		max-width: 225px;
    	font-size: 0.7rem;
    }
}

@media screen and (max-width:320px) {
	.c-disabled-message {
		max-width: 208px;
    	font-size: 0.7rem;
    }
}
