// ===================
// Styles for Card Component
// ===================

.c-card {
	.clearfix();

    margin-bottom: 0;

    // reverse card
    &__reverse {
        &-primary {
            color: @black-0;
            background: @brand-primary;
        }
        &-secondary {
            color: @black-0;
            background: @brand-secondary;
        }
        &-tertiary {
            color: @black-0;
            background: @brand-tertiary;
        }
        &-quaternary {
            color: @black-0;
            background: @brand-quaternary;
        }
    }

    &--centered {
        text-align: center;
    }

    &--no-style {
        .box-shadow(none);
        .clearfix();
        background: transparent!important;

        // vertical margin
        margin: @card-padding 0;

        // padding
        padding: @card-padding;
    }
}

.c-tile-community-activity {
    min-height: 423px;
}
