.u-btn {
	display: inline-block;
	font-size: @btn-font-size;
	font-weight: @btn-font-weight;
	padding: @btn-padding;
	border-radius: @btn-border-radius;
	box-shadow: @btn-box-shadow;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	text-transform: @btn-text-transform;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	&:disabled {
			background: #D1D1D2;
			border-color: transparent;
			color: #fff;
	}

	&--primary {
			background-color: @btn-background-color;
		  border: @btn-border;
			color: @btn-font-color;
			&:hover {
					background-color: @btn-background-color-hover;
					color: @btn-font-color-hover;
					border: @btn-border-hover;
					text-decoration: none;
			}
			&:focus, &:active {
				background-color: @btn-background-color-active;
				color: @btn-font-color-active;
				border: @btn-border-active;
				text-decoration: none;
			}
	}

	&--ghost-primary {
	    background-color: #FFF;
	    border: @btn-ghost-border;
	    color: @btn-ghost-font-color;
	    &:hover {
	        background-color: @brand-primary;
	        color: @btn-ghost-font-color-hover;
	        border: @btn-ghost-border-hover;
	        text-decoration: none;
	    }
	    &:focus, &:active {
	      background-color: @btn-ghost-background-active;
	      color: @btn-ghost-font-color-active;
	      border: @btn-ghost-border-active;
	      text-decoration: none;
	    }
	}

	&--block {
		  width: 100%;
			margin-top: 5px;
	}
}

/*
	&--primary {
    	background: @brand-primary;
    	color: @btn-font-color !important;
    	&:hover, &:focus, &:active {
    		background: @link-color-hover !important;
    		color: #021A32 !important;
    	}
	}

	&--ghost-primary {
        background: #FFF !important;
		border-color: #f8971d;
    	color: @brand-primary  !important;
    	&:hover, &:focus, &:active {
    		background: @link-color-hover !important;
    		color: #FFF !important;
    	}
	}

	&--tertiary {
		background: @brand-tertiary;
        &:hover, &:focus, &:active {
            color: #021A32 !important;
            background: @link-color-hover;
        }
	} */

/*
	// ===================
	// Buttons
	// ===================

	// Button mixins
	.u-btn(){
		.transition(all @transition-time ease-in-out);

		background: @brand-primary;
		border-radius: 3px;
		border: 1px solid transparent;
		box-shadow: 1px 2px 2px 0 rgba(0,0,0,0.1);
		color: @black-0!important;
		display: inline-block;
		font-size: 13px !important;
		font-weight: 700 !important;
		padding: 10px 20px;
		text-align: center;
		text-decoration: none!important;
		text-transform: uppercase;

		&:hover {
			background: darken(@brand-primary, 5%);
			color: @black-0;
			text-decoration: none;
		}

		@media(min-width: @screen-sm-min){
			display: inline-block;
		}
	}

	.u-btn--ghost(){
		background: transparent;
		border: 1px solid @black-0;
	}

	.u-btn--link(){
		background-color: transparent;
		border-color: transparent;
		color: @brand-primary!important;
		font-weight: 700;
		box-shadow: none;

		&:hover {
			background-color: transparent;
			border-color: transparent;
			color: darken(@brand-primary, 15%)!important;
		}

		&--strong {
			text-transform: uppercase;
			font-weight: 700;
		}
	}

	.u-btn--block {
		width: 100%;
	}

	.u-btn--left {
		padding-left: 0;
		text-align: left;
	}

	.u-btn--disabled {
		background-color: @black-20;
		cursor: default;
	}

	.u-btn--link {
		.u-btn--link();
	}

	.u-btn--ghost-primary {
		.u-btn();
		.u-btn--ghost();
		border-color: @brand-primary;
		color: @brand-primary!important;

		&:hover {
			color: @black-0!important;
		}
	}

	html body {
		.u-btn {
			.u-btn();
		}
	}

	// skuid override
	.nx-page {
		a.u-btn,
		button.u-btn,
		.u-btn {

			.u-btn();

			&--ghost {
				.u-btn--ghost();
			}

			&--ghost-primary {
				.u-btn--ghost-primary();
				span {
					padding: 0 !important;
				}
			}

			&--link {
				.u-btn--link();
			}

			&--left {
				.u-btn--left();
			}

			&--primary {
				background: @brand-primary;
				&:hover {
					background: darken(@brand-primary, 5%);
				}
			}

			&--secondary {
				background: @brand-secondary;
				&:hover {
					background: darken(@brand-secondary, 5%);
				}
			}

			&--tertiary {
				background: @brand-tertiary;
				&:hover {
					background: darken(@brand-tertiary, 5%);
				}
			}
		}
	}
*/
