.c-social {
    
    @media(max-width: @screen-xs-max){
        margin-top: 20px;
    }

    ul {
        list-style: none;
        padding: 0;
        li {
            display: inline-block;
            &:first-child {
                margin-left: 0;
            }

            a {
                font-size: 40px;
            }
        }
    }
}

.fa-linkedin {
    color: #0077B5 !important;
}

.fa-facebook {
    color: #3b5998 !important;
}

.fa-twitter {
    color: #1DA1F2 !important; 
}

ul.com-disabled-social {
    display:table !important;
    margin: 0 auto;
    width: 60%;
}

li.c-disabled-message__list-item {
    display: table-cell;
    font-size: 1.5em;
    padding: 10px 5px 0px 5px;
    i.fa {
        color: black !important;
    }
}
