@media screen and (min-width: 480px) {
	.u-halfscreen-container {
		display: none;
	}
}

.c-login-form .c-form-group {
	width: 100%;
}

.slds-state {
	&__fail-red {
		fill: rgba(194,57,52,.95) !important;
	}
	&__success-green {
		fill: rgba(4,132,75,.95) !important;
	}
}

.input-state {
	&__fail-red {
		border: 1px solid rgba(194,57,52,.95) !important;
	}
	&__success-green {
		border: 1px solid rgba(4,132,75,.95) !important;
	}
}

.text-state {
	&__fail-red {
		color: rgba(194,57,52,.95);
	}
	&__success-green {
		color:rgba(4,132,75,.95);
	}
}

.c-password-verification {
	p {
		margin: 0px 0px 0px 0px !important;
	}
}

.c-password-heading {
	font-weight:700;
	margin: 0px 0px 0px 0px !important;
}

.c-form-group:last-child {
    margin: 0 auto 0px;
}

.c-terms-checkbox {
	margin-right: 5px !important;
}