// =============================================================================
// OP-CO specific variables
// =============================================================================
@import "opcos/easi-vars.less";

// =============================================================================
// Common includes across OP-COs
// =============================================================================
@import "allegis-common.less";

// =============================================================================
// Fonts
// =============================================================================
body {
    background-color: @brand-primary;
    font-family: 'Verlag A', 'Verlag B', Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal !important;
    font-weight: 400;
 }

 // Hide Jobseeker cookie banner
 .cookieConsentWrapper {
    position: absolute;
    visibility: hidden;
 }

// =============================================================================
// Aerotek logo
// =============================================================================
.u-brand img {
    max-width: 160px;
    height: auto;
    margin: 12px 0px 0px 10px;
    max-height: 42px;
	// Mobile
	@media(max-width: @screen-xs-max){
		margin-top: 13px;
		margin-left: 10px;
	}
}

.u-login-container img {
  max-width: 275px;
}

/* Save a Job Heart Color */
.saveHeart,
.shareajobButton {
  fill: #021a32;
  -webkit-text-fill-color: #021a32;
}

/* Newco style on home page is much different. Override it here */
html, h1, h2, p {
    color:white;
}

.qa-password-rule-characters, 
.qa-change-password-box,
.password-heading,
.u-lead,
.qa-password-rule-letters,
.qa-password-rule-numbers,
.qa-password-rule-special-characters {
    color: #021a32 !important;
} 

.u-halfscreen-container--text {
    .box-shadow(none);
    background-color: white;
    color: @brand-primary !important;
}

.u-halfscreen-container--text h2,
.u-halfscreen-container--text .u-bullet-list .u-lead {
    color: @brand-primary !important;
}

.c-form-group__text-input {
    background-color: @brand-primary;
    color: white !important;
}

.c-form-group__text-input::placeholder {
    color: white !important;
}

::selection {
    color: @selection-color;
    background-color:@selection-background;
}