.c-linkedin {
    width: 300px;
    margin: 0 auto;
    margin-top: 0px;
    margin-top: 40px;
    font-size: 17px;
}

.c-card {
    display: block;
    padding: 20px;
    background-color: #ffffff;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    transition: none;
}

.c-linkedin__select-all {
    margin: 5px 0px 15px 0px;
    padding: 0px 0px 5px 0px;
    border-bottom: 1px solid #ccc;
}

.c-linkedin__header-text {
    margin-bottom: 10px;
    width: 275px;
    display: block;
    padding: 0px 3px;
    margin-bottom: 11px;
    line-height: 23px;
}

.c-linkedin__labels {
    margin-left: 5px;
}

.c-linkedin__select-section {
    margin: 5px 0px 5px 0px;
}

.c-linkedin__button-wrapper {
    margin: 15px 0px 2px;
    text-align: center;
}

.c-header-wrapper, .c-footer-wrapper {
    display: none;
}

.js-loader {
    display: none;
}

.c-sidebar-menu {
    display: none !important;
}
