// ===================
// OP-CO specific variables
// ===================
@import "opcos/teksystemsemea-vars.less";

// ===================
// Common includes across OP-COs
// ===================
@import "allegis-common.less";

// ===================
// TEKSYSTEMS FONTS
// ===================

// Regular
@font-face {
  font-family: "TEKsys DIN-RegularAlternate";
  src: url('@{fontPath}/TekSystemsDin/966064454-tekdinrga.eot');
  src: url('@{fontPath}/TekSystemsDin/966064454-tekdinrga.eot?#iefix') format('embedded-opentype'), url('@{fontPath}/TekSystemsDin/966064454-tekdinrga.svg#TEKsys DIN-RegularAlternate') format('svg'), url('@{fontPath}/TekSystemsDin/966064454-tekdinrga.woff') format('woff'), url('@{fontPath}/TekSystemsDin/966064454-tekdinrga.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Bold
@font-face {
  font-family: "TEKsys DIN-Black";
  src: url('@{fontPath}/TekSystemsDin/841552735-tekdinbl.eot');
  src: url('@{fontPath}/TekSystemsDin/841552735-tekdinbl.eot?#iefix') format('embedded-opentype'), url('@{fontPath}/TekSystemsDin/841552735-tekdinbl.svg#TEKsys DIN-Black') format('svg'), url('@{fontPath}/TekSystemsDin/841552735-tekdinbl.woff') format('woff'), url('@{fontPath}/TekSystemsDin/841552735-tekdinbl.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Semi-bold
@font-face {
  font-family: "TEKsys DIN-BoldAlternate";
  src: url('@{fontPath}/TekSystemsDin/769042969-tekdinbda.eot');
  src: url('@{fontPath}/TekSystemsDin/769042969-tekdinbda.eot?#iefix') format('embedded-opentype'), url('@{fontPath}/TekSystemsDin/769042969-tekdinbda.svg#TEKsys DIN-BoldAlternate') format('svg'), url('@{fontPath}/TekSystemsDin/769042969-tekdinbda.woff') format('woff'), url('@{fontPath}/TekSystemsDin/769042969-tekdinbda.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Light
@font-face {
  font-family: "TEKsys DIN-Light";
  src: url('@{fontPath}/TekSystemsDin/598114014-tekdinlt.eot');
  src: url('@{fontPath}/TekSystemsDin/598114014-tekdinlt.eot?#iefix') format('embedded-opentype'), url('@{fontPath}/TekSystemsDin/598114014-tekdinlt.svg#TEKsys DIN-Light') format('svg'), url('@{fontPath}/TekSystemsDin/598114014-tekdinlt.woff') format('woff'), url('@{fontPath}/TekSystemsDin/598114014-tekdinlt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// =============================================================================
// Fonts
// =============================================================================
@resourcePath: "../../../talent/resource";
@lightningPath: "SLDS011";

@font-face {
  font-family: "Salesforce Sans";
  src: url("@{resourcePath}/@{lightningPath}/assets/fonts/webfonts/SalesforceSans-Light.woff2") format("woff2"), url("@{resourcePath}/@{lightningPath}/assets/fonts/webfonts/SalesforceSans-Light.woff") format("woff");
  font-weight: 300; }

@font-face {
  font-family: "Salesforce Sans";
  src: url("@{resourcePath}/@{lightningPath}/assets/fonts/webfonts/SalesforceSans-LightItalic.woff2") format("woff2"), url("@{resourcePath}/@{lightningPath}/assets/fonts/webfonts/SalesforceSans-LightItalic.woff") format("woff");
  font-style: italic;
  font-weight: 300; }

@font-face {
  font-family: "Salesforce Sans";
  src: url("@{resourcePath}/@{lightningPath}/assets/fonts/webfonts/SalesforceSans-Regular.woff2") format("woff2"), url("@{resourcePath}/@{lightningPath}/assets/fonts/webfonts/SalesforceSans-Regular.woff") format("woff");
  font-weight: 400; }

@font-face {
  font-family: "Salesforce Sans";
  src: url("@{resourcePath}/@{lightningPath}/assets/fonts/webfonts/SalesforceSans-Italic.woff2") format("woff2"), url("@{resourcePath}/@{lightningPath}/assets/fonts/webfonts/SalesforceSans-Italic.woff") format("woff");
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: "Salesforce Sans";
  src: url("@{resourcePath}/@{lightningPath}/assets/fonts/webfonts/SalesforceSans-Bold.woff2") format("woff2"), url("@{resourcePath}/@{lightningPath}/assets/fonts/webfonts/SalesforceSans-Bold.woff") format("woff");
  font-weight: 700; }

@font-face {
  font-family: "Salesforce Sans";
  src: url("@{resourcePath}/@{lightningPath}/assets/fonts/webfonts/SalesforceSans-BoldItalic.woff2") format("woff2"), url("@{resourcePath}/@{lightningPath}/assets/fonts/webfonts/SalesforceSans-BoldItalic.woff") format("woff");
  font-style: italic;
  font-weight: 700; }

// Medium
@font-face {
  font-family: "TEKsys DIN-Medium";
  src: url('@{fontPath}/TekSystemsDin/488494874-tekdinmd.eot');
  src: url('@{fontPath}/TekSystemsDin/488494874-tekdinmd.eot?#iefix') format('embedded-opentype'), url('@{fontPath}/TekSystemsDin/488494874-tekdinmd.svg#TEKsys DIN-Medium') format('svg'), url('@{fontPath}/TekSystemsDin/488494874-tekdinmd.woff') format('woff'), url('@{fontPath}/TekSystemsDin/488494874-tekdinmd.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//=====================
// Password Fields Font
//=====================

.password {
  font-family: sans-serif !important;
}

::selection {
    color: @selection-color;
    background-color:@selection-background;
}