.hidden {
	display: none !important;
}

.bodyDiv,
.c-body-container {
	.transition(opacity 0.1s ease-in-out);
	opacity: 1;
}

.u-overflow-hidden {
	overflow: hidden;
	position: fixed;
	width: 100%;

	.bodyDiv,
	.c-body-container {
		opacity: 0.3;
	}

	.c-body-container {
		> div {
			pointer-events: none;
		}
	}

	.bodyDiv {
		pointer-events: none;
	}
}

.u-avatar {
	border-radius: 100%;
	position: relative;
	width: 100px;
	margin: 0 auto 20px;
	height: 100px;
	overflow: hidden;
	background-size: cover;
	background-position: 50%;

	img {
		position: absolute;
		left: 50%;
		top: 50%;
		height: 100%;
		width: auto;
		.translate(-50%,-50%);
	}

	&--xs {
		width: 25px;
		height: 25px;
	}

	&--sm {
		width: 50px;
		height: 50px;
	}

	&--md {
		width: 75px;
		height: 75px;
	}

	&--lg {
		width: 100px;
		height: 100px;
	}
}

.u-chevron::before {
	.transition(transform 0.2s linear);
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.65em;
	left: 0.15em;
	position: relative;
	top: 0.45em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.65em;
}

.u-chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}

.u-chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

.u-chevron.left:before {
	left: 0.25em;
	transform: rotate(-135deg);
}

.u-accordion {
	.transition(background 0.2s linear);
	background: @brand-slate;
	border: 1px solid darken(@brand-slate, 10%);
	color: @black-0;
	margin-top: 20px;
	padding: 10px 20px;

	&:hover {
		background: lighten(@brand-slate, 10%);
	}

	dt {
		cursor: pointer;
		font-size: 18px;

		.u-chevron {
			position: relative;
			left: -8px;
		}

		&.is-active {
			.u-chevron:before {
				transform: rotate(135deg);
			}
		}
	}

	dd {
		.transition(height 0.2s ease-in-out);
		display: none;
		margin-top: 20px;

		&.is-active {
			display: block;
		}
	}
}


// =============================================================================
// Visibility helpers
// =============================================================================

.visible-xs {
	@media(min-width: @screen-sm-min){
		display: none!important;
	}
}

.visible-sm {
	@media(min-width: @screen-md-min){
		display: none!important;
	}
}

.hidden-sm {
	@media(max-width: @screen-sm-max){
		display: none!important;
	}
}

.hidden-xs {
	@media(max-width: @screen-xs-max){
		display: none!important;
	}
}

.u-brand {
	img {
		//height: 40px;
		//margin-top: 15px;
		margin-left: 40px;
	}
}

.u-capitalize {
	text-transform:  capitalize;
}

.u-container {
	.clearfix();
	margin: 0 auto;
	max-width: @container-large-desktop;

	&--header {
		padding: 20px 10px;
	}
}

.u-full-width-container {
	//#gradient.radial(@header-bg-light, @header-bg-dark);
	//background: #598db2;
	padding: 20px;

	// for now this is specific to profile summary card
	.c-profile__avatar {
		margin: 0 0 20px 20px;
	}

	h1, h2, p {
		color: @black-0;
	}
}

.u-center-block {
	display: block;
	margin: 0 auto;
}

.u-action-controller {
	margin: 10px 0;
	width: 100%;
	text-align: right;
}


// ===================
// centered columns styles
// ===================
.row-centered {
	text-align:center;
}
.col-centered {
	display:inline-block;
	float:none;
	// reset the text-align
	text-align:left;
	// inline-block space fix
	margin-right:-4px;
}

// ===================
// popover (tooltip)
// ===================
.u-popover {
	cursor: pointer;
}

// ===================
// header text
// ===================

// Define mixin for reuse
.u-header(@font-size: 14px, @line-height: @line-height-base){
	font: normal @font-size/@line-height @font-family-header;
}

.u-header {

	@header-margin: 20px;

	.u-header();

	&--xs {
		font-size: @font-size-xs;
	}

	&--sm {
		font-size: @font-size-sm;
	}

	&--md {
		font-size: @font-size-md;
		line-height: @line-height-base * .85;
	}

	&--lg {
		font-size: @font-size-lg;
		line-height: @line-height-base * .85;
	}

	&--lg-light {
		font-size: @font-size-lg;
		font-weight: 100;
		line-height: @line-height-base * .85;
	}

	&--xl {
		font-size: @font-size-xl;
		font-weight: 300;
		line-height: @line-height-base * .85;

		@media(max-width: @screen-xs-max){
			font-size: 32px;
		}
	}

	&--margin {
		display: inline-block;
		margin-bottom: @header-margin;
	}
}

.u-lead {
	font-size: @font-size-md;
	line-height: 1.2em;
	font-weight: 100;
}

// ===================
// meta text
// ===================
.u-meta {
	font: normal 14px/@line-height-base @font-family-header;
	color: @black-40;

	&--xs {
		font-size: 12px;
	}

	&--sm {
		font-size: 14px;
	}

	&--md {
		font-size: 17px;
	}

	&--lg {
		font-size: 19px;
	}

	.u-svg-icon {
		margin: 0 5px 0 0;
		position: relative;
		top: -3.4px;
		.slds-icon {
			fill: @link-color;
		}
	}
}

// =============================================================================
// Halfscreen Container
// =============================================================================
.u-halfscreen-container {
	z-index: 2;
	display: block;

	@media(min-width: @screen-md-min){
		position: absolute;
		top: 0;
		width: 48%;

		&--right {
			right: 0;
		}
	}

	&--text, &--text-container {
		.box-shadow(inset 0 0 22px rgba(0,0,0,.4));
		background: @brand-slate;
		color: #fff;
		margin-top: 20px;
		padding: 25px;
		align-items: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		display: flex;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		margin-top: 0;
		height: 100vh;
		padding: 45px;

		@media(min-width: @screen-md-min){
			align-items: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			display: flex;
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			margin-top: 0;
			height: 100vh;
			padding: 45px;
		}
	}
}

// =============================================================================
// Login container flexbox
// =============================================================================
.u-login-container {
	padding: 20px 0 0;
	z-index: 1;
	position: relative;

	@media(max-width: @screen-md-min){
		padding-top:100px;
	}

	@media(min-width: @screen-md-min){
		align: center;
		justify-content: center;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		min-height: 24em;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		height: 100vh;
	}
}



// ===================
// svg icons
// ===================
.u-svg-icon {

	.slds-icon {
		vertical-align: text-top;
	}
}

// ===================
// margins and padding
// ===================
.u-margin-40 {margin: 40px!important;}
.u-margin-30 {margin: 30px!important;}
.u-margin-20 {margin: 20px!important;}
.u-margin-15 {margin: 15px!important;}
.u-margin-10 {margin: 10px!important;}
.u-margin-5 {margin: 5px!important;}
.u-margin-0 {margin: 0!important;}

.u-margin-top-40 {margin-top: 40px!important;}
.u-margin-top-30 {margin-top: 30px!important;}
.u-margin-top-20 {margin-top: 20px!important;}
.u-margin-top-15 {margin-top: 15px!important;}
.u-margin-top-10 {margin-top: 10px!important;}
.u-margin-top-5 {margin-top: 5px!important;}
.u-margin-top-0 {margin-top: 0px!important;}

.u-margin-right-40 {margin-right: 40px!important;}
.u-margin-right-30 {margin-right: 30px!important;}
.u-margin-right-20 {margin-right: 20px!important;}
.u-margin-right-15 {margin-right: 15px!important;}
.u-margin-right-10 {margin-right: 10px!important;}
.u-margin-right-5 {margin-right: 5px!important;}
.u-margin-right-0 {margin-right: 0px!important;}

.u-margin-bottom-40 {margin-bottom: 40px!important;}
.u-margin-bottom-30 {margin-bottom: 30px!important;}
.u-margin-bottom-20 {margin-bottom: 20px!important;}
.u-margin-bottom-15 {margin-bottom: 15px!important;}
.u-margin-bottom-10 {margin-bottom: 10px!important;}
.u-margin-bottom-5 {margin-bottom: 5px!important;}
.u-margin-bottom-0 {margin-bottom: 0px!important;}

.u-margin-left-40 {margin-left: 40px!important;}
.u-margin-left-30 {margin-left: 30px!important;}
.u-margin-left-20 {margin-left: 20px!important;}
.u-margin-left-15 {margin-left: 15px!important;}
.u-margin-left-10 {margin-left: 10px!important;}
.u-margin-left-5 {margin-left: 5px!important;}
.u-margin-left-0 {margin-left: 0px!important;}
