.THIS .slds-card__body{
	overflow-y: visible;
	margin-bottom: 0;
}

.THIS .slds-card__footer{
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

/*Error Indicators*/

.THIS .indicator-area{
	margin: 0.75rem;
	padding: 0.25rem .75rem;
	background-color: #f4f6f9;
}

.THIS .indicator-area .slds-inline_icon_text {
	color: #706e6b;
	padding: 0.5rem 0.75rem;
}

.THIS .indicator-area .slds-inline_icon_text p{
	font-size: 95%;
	line-height: 1.2;
}

.THIS .icon-circle{
	background-color: #706e6b;
	height: 24px;
	width: 24px;
	border-radius: 50%;
	position: relative;
}

.THIS .indicator-area .slds-icon{
	position: absolute;
	top: 3px;
	left: 3px;
}

.THIS .indicator-area .slds-icon > lightning-primitive-icon > svg{
	height: 0.75rem;
	width: 0.75rem;
	fill: #f4f6f9;
}
.THIS .indicator-area .slds-icon-text-default{
    fill: #ffffff;
}