slot[name="header"] {
    flex: 1 1 auto;
    display: flex;
}
.slds-section__title-action {
    cursor: default;
}
.slds-section__title-action-icon {
    cursor: pointer;
}
.section-toggle {
    border: none;
    background-color: inherit;
}
.section-toggle:focus {
    outline: none;
}
.section-toggle:hover {
    background-color: inherit;
}
.slds-section__content {
    padding: 0 .25rem;
}