<template>
    <div class={sectionClass}>
        <h3 class="slds-section__title">
          <div aria-controls="expando-unique-id" aria-expanded="true" class="slds-button slds-section__title-action">
            <!-- <svg class="slds-section__title-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#switch"></use>
            </svg> -->
            <button class="section-toggle" onclick={toggleSection}>
              <svg xmlns="http://www.w3.org/2000/svg" data-action="toggle" class="slds-section__title-action-icon slds-button__icon slds-button__icon_left" aria-hidden="true" viewBox="0 0 52 52" id="switch">
                  <path d="M47.6 17.8L27.1 38.5c-.6.6-1.6.6-2.2 0L4.4 17.8c-.6-.6-.6-1.6
                  0-2.2l2.2-2.2c.6-.6 1.6-.6 2.2 0l16.1 16.3c.6.6 1.6.6 2.2 0l16.1-16.3c.6-.6
                    1.6-.6 2.2 0l2.2 2.2c.5.7.5 1.6 0 2.2z">
                  </path>
              </svg>
            </button>
            <span class="slds-truncate" title={title}>{title}</span>
            <slot name="header"></slot>
          </div>
        </h3>
        <div aria-hidden="false" class="slds-section__content" id="expando-unique-id">
            <slot></slot>
        </div>
      </div>
</template>