<template>
    <div class="indicator slds-grid slds-grid_vertical-align-center slds-m-around_xxx-small">
        <div class="document slds-is-relative">
            <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
                style="enable-background:new 0 0 100 100;width:30px">
                <path class="st1" style="fill:#C8C8C8"
                    d="M49.9 35.3h.2V50s-17.5.6-19.1 0c-1.7-.6-2.3-2.6-3.1-5.5-.9-3 4.1-9.9 13.2-12.5 1.7 3.6 9 3 9 3h-.2s7.3.7 9-3C68 34.6 73 41.5 72.2 44.5c-.8 2.9-1.5 4.9-3.1 5.5-1.7.6-19.1 0-19.1 0"
                    id="torso"></path>
                <ellipse style="fill:#C8C8C8" class="st1" cx="50" cy="18.1" rx="11.3" ry="13" id="head"></ellipse>
                <path
                    d="M82.4 91.8H17.6c-2.4 0-4.3-1.9-4.3-4.3v-82c0-2.4 1.9-4.3 4.3-4.3h64.8c2.4 0 4.3 1.9 4.3 4.3v82c0 2.4-1.9 4.3-4.3 4.3z"
                    style="fill:none;stroke:#C8C8C8;stroke-width:2;stroke-miterlimit:10" id="Square"></path>
                <g id="Lines" style="stroke: #C8C8C8;stroke-width:3">
                    <path class="st3" d="M79.9 60.4H20.1M79.9 68.1H20.1M79.9 75.3H20.1M79.9 82.9H20.1"></path>
                </g>
            </svg>

            <section aria-describedby="dialog-body-id-7z7" aria-label="Dialog Title"
                class="slds-is-absolute slds-popover slds-popover_small slds-nubbin_left" role="dialog">
                <div class="slds-popover__body" id="dialog-body-id-7z7">
                    <p>Result from resume match</p>
                </div>
            </section>

        </div>

        <div data-class={indicator} class="match slds-grid slds-grid_vertical-align-center slds-is-relative">
            <div class="bar">.</div>
            <div class="bar">.</div>
            <div class="bar">.</div>

            <section aria-describedby="dialog-body-id-7z8" aria-label="Dialog Title"
                class="slds-is-absolute slds-popover slds-popover_small slds-nubbin_left" role="dialog">
                <div class="slds-popover__body" id="dialog-body-id-7z8">
                    <p><span class="match-text">{matchability}%</span> match</p>
                </div>
            </section>

        </div>

    </div>

</template>