div.match > div {
    background-color: #c8c8c8;
    color: #C8C8C8;
    height: 50%;
    width: 5px;
    margin: 0 1px;
    line-height: 1;
}
div[data-class="single"] div.bar:first-of-type {
    background-color: #005FB2;
    color: #005FB2;
}

div[data-class="double"] div.bar:not(:last-of-type) {
    background-color: #005FB2;
    color: #005FB2;
}

div[data-class="tripple"] div.bar {
    background-color: #005FB2;
    color: #005FB2;
}
.document section {
    max-width: 12rem;
    display: none;
    top: -50%;
    left: 2.6rem;
}
.document:hover section {
    display: block;
}
.match section {
    max-width: 7rem;
    display: none;    
    left: 2.3rem;
}
.match:hover section {
    display: block;
}
.match-text {
    color: #005FB2;
    font-weight: 600;
}
.match {
    margin-left: 0.5rem;
}
.slds-popover__body {
    white-space: normal;
}