.THIS span.parsed-school-body{white-space: normal;}
/*.THIS .parsed-school-label{display: block !important;}*/
.THIS .disabled-field {background: #eee; width: 100%!important; padding: 0 1rem 0 .75rem; line-height: 1.875rem;min-height: calc(2.125rem + 2px); display: block!important; border-radius: 3px; border: 1px solid #ddd;color: #999;}
.THIS .slds-has-inline-listbox .slds-combobox__input, .THIS .uiInput--select.select:not([multiple]), .THIS .uiInput--select .select:not([multiple]), .THIS .uiInput--select .uiPopupTrigger a {min-height: 35px;}
.THIS .form-element__label {color: rgb(112, 110, 107); line-height: 1.5; margin-bottom: .25rem;}
.THIS .uiInput.uiInputText.uiInput--default.uiInput--input {margin-bottom: 6px;}
.THIS .slds-table th, .THIS .slds-table td {white-space: normal;}