<template>
    <label class="slds-m-bottom_xx-small bold smaller">{facetData.displayTitle.en_US}</label>
    <div class="slds-p-bottom_x-small slds-p-left_x-small pillContainer pills-standard" data-value="mainpill" onclick={handleFilterChange}>
        <template for:each={facetData.selectedValues} for:item="pill">
            <span key={pill.value} class="slds-pill slds-p-horizontal_x-small slds-m-horizontal_xx-small slds-m-top_x-small">
                <div class="slds-pill-container">
                    <span class="slds-pill__label">{pill.label}</span>
                    <button class="slds-button slds-button_icon slds-m-left_xx-small" title="Close" data-action='remove' data-label={pill.label} data-value={pill.value} onclick={handleChange}>
                        <svg class="slds-button__icon whiteIcon" aria-hidden="true">
                            <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#close"></use>
                        </svg>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                </div>
            </span>
        </template>
        <lightning-button-icon icon-name="utility:add" variant="bare" icon-class="addButtonIcon" data-value='add' class="addButton" onclick={handleFilterChange}></lightning-button-icon>
    </div>

    <template if:true={isEnableFilter}>
        <div class="slds-m-horizontal_x-small popover">
            <div class="slds-grid slds-p-around_small">
                <div class="slds-col">
                    <lightning-input data-name="enter-search" label="" variant="label-hidden" type="search" onkeyup={handleInputChange} value={inputValue}></lightning-input>
                </div>
                <div class="slds-col slds-m-left_small slds-grow-none">
                    <lightning-button variant="base" label="Close" onclick={handleClose}></lightning-button>
                </div>
            </div>
            <template if:true={options}>
                <div class="itemList">
                    <template if:true={showMyLocation}>
                        <p data-action="add" data-label="Mount Airy, MD, USA" data-value="" data-option="" class="slds-p-horizontal_small slds-p-vertical_x-small selectableItem"
                            onclick={handleChange}>Mount Airy, MD, USA<span class="currentLocation">Current Location</span></p>
                    </template>
                    <template for:each={options} for:item="item">
                        <p key={item.value} data-action="add" data-label={item.label} data-value={item.value} data-option={item.value} class="slds-p-horizontal_small slds-p-vertical_x-small selectableItem"
                            onmousedown={handleChange}>{item.label}</p>
                    </template>
                </div>
            </template>
        </div>
    </template>
</template>