.bold {
    font-weight: 600;
}

.smaller {
    font-size: 11px;
}

.pillContainer {
    background-color: #e2e6e9;
    border-radius: 4px;
    min-height: 42px;
    text-transform: capitalize;
    padding-right: 22px;
}

.slds-pill {
    border: none;
    color: #fff;
    font-weight: normal;
    max-width: 80%;
}

.slds-pill .whiteIcon {
    fill: #fff;
}

.pills-standard .slds-pill { 
    background-color: #00396B; 
}

.slds-pill-container { 
    background-image:none; 
    transition: all 1000ms; 
    width: 100%;
}

.slds-pill__label {
    display: inline-block;
    line-height: 14px;
    margin-bottom: -2px;
    margin-top: 5px;
    width: 100%;
}

.pills-standard .slds-pill-container:hover { 
    background-image: linear-gradient(to right,#fff, 60%,#00396B); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;
    background-clip: text; 
}

.slds-pill-container .slds-button {
    margin-top: -5px;
}

.slds-pill-container .slds-button.slds-button_icon {
    display:none;
    transition: all 1000ms;
}

.slds-pill-container:hover .slds-button.slds-button_icon {
    display:inline-flex;
}

.addButton {
    margin-right: 15px;
    margin-top: 11px;
    padding-left: 19px;
    position: absolute;
    right: 0;
}

.addButtonIcon {
    fill: #4a90e2;
}

.slds-button.slds-button_icon {
    margin-left: -16px;
}

.popover {
    background-color: #fff;
    border: 1px solid #dddbda;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    font-weight: normal;
    position: absolute;
    z-index: 50;
    left: 0;
    right: 0;
}

.popover .selectableItem {
    text-transform: capitalize;
}

.popover .selectableItem:hover,
.popover .selectableItem.itemSelected {
    background-color:#e2e6e9;
}

.currentLocation {
    display: block;
    color: #808080;
    font-size: 10px;
}