.THIS .errocCssClass{
    color:red;
    font-weight: bold;
}
.THIS .successCssClass{
    color:green;
    font-weight: bold;
}
.THIS .warningCssClass{
    color:red;
    font-weight: bold;
}

.THIS .comments{
    width: 60%;
}