.THIS .container--light-blue {
    background: #EEF1F6;
    padding: 18PX;
    border-radius: 5px;
}
.THIS .container__list-item:nth-child(even) {
    background: #fafafa;
}
.THIS .container__list-item {
    border-bottom: 1px solid rgb(216, 221, 230);
}

.THIS .slds-text-title_caps{
	font-weight: 600;
	padding-right: .25rem;
	color: rgb(22, 50, 92);
}

.THIS .slds-text-body--regular{
	text-transform: capitalize;
}


.THIS a:visited{
	color: #2d466c;
	background-color: #e0e5ee;
}


.THIS .slds-truncate{
	max-width: 80%;
	display: block;
}

.THIS .slds-button--icon-border-filled{
    width: 5rem;
}

.THIS .slds-icon{
    float: right;
}

.THIS .slds-button--neutral{
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.THIS .skill-hlt{
	font-weight: 600;
	background-color: rgb(255, 240, 63);
	color: rgb(0, 112, 210);
	padding: 0.25rem;
}

/*Indicator Area Styles*/

.THIS .indicator-area{
	margin: 0.75rem 0;
}

.THIS .indicator-area .slds-inline_icon_text {
	background-color: #f4f6f9;
	color: #706e6b;
	padding: 0.5rem 0.75rem;
}

.THIS .indicator-area .slds-inline_icon_text p{
	font-size: 95%;
	line-height: 1.2;
}

.THIS .icon-circle{
	background-color: #706e6b;
	height: 24px;
	width: 24px;
	border-radius: 50%;
	position: relative;
}

.THIS .indicator-area .slds-icon{
	position: absolute;
	top: 3px;
	left: 3px;

}

.THIS .indicator-area .slds-icon > lightning-primitive-icon  > svg{
	height: 0.75rem;
	width: 0.75rem;
	fill: #f4f6f9;
}
/*Modal styles*/
.THIS td .slds-icon{
    width: 1rem;
    height: 1rem;
}
.THIS .teaser-section{
	border: 1px solid rgb(216, 221, 230);
	background: #fdfdfd;
}
.THIS small {
    font-weight: 600;
    font-size: 90%;
}
.THIS .slds-grid div {
    line-height: 1.5;
    font-size: .75rem;
}
.THIS .teaser-toggle {
    border: none;
    background-color: transparent;
    min-width: 1rem;
    position: relative;
    transform: translate(0rem, -0.25rem);
    width: 14px;
    height: 16px;
}
.THIS .container__list-item {
    border: 1px solid rgb(216, 221, 230);
    font-size: 95%;
}
.THIS .slds-card {
    background: rgb(241, 241, 241);
}
.THIS .truncate-title {
    display: inline-block;
    margin-bottom: -.25rem;
}
.THIS .vertical-rule { 
    border-left: 1px solid rgb(221, 219, 218);
    border-right: 1px solid rgb(221, 219, 218);
    padding: 0 0.5rem;
}
.THIS input[type=checkbox]:checked.green-checkbox{
    border-color: rgb(0, 178, 0); /*Choose your color*/
    box-shadow: 0 0 3px #006A00; /*Choose a darker color for the shadow*/
    background-color: rgb(0, 178, 0);
}