.THIS .hidden-form-field {
    display : none;
}

.THIS .slds-dropdown-trigger_click.slds-is-open .slds-dropdown{
    position: relative;
}

.THIS .slds-modal__content{
    overflow: auto;
}

.THIS .uiInput--default .form-element__label{
	margin-right: 0.25rem;
}

.THIS .radio-buttons .required{
    display: none; 
}

.THIS .toggle{
	  display: none;
}