.THIS .slds-pills .light_blue{
	background: #99C6ED;
}

.THIS .slds-pills .mid_blue{
	background: #005AA8;
}
.THIS .truncated-container {
    width:100%;
}

.THIS .slds-pills .dark_blue{
	background: #002D54;
}

.THIS .slds-pill .slds-pill__action{
	border: none;

}

.THIS .slds-pill a{
	color: #fff;
    padding-right: 0.25rem;
}

.THIS .slds-pill_link{
	padding: 0.25rem;
}

.THIS .slds-section__title{
    font-size: 0.75rem;
    width: 100%;
}

.THIS .slds-form-element__label{
    display: none;
}

.THIS .form-element__label{
    display: inline-block;
}


.THIS .slds-section__title-action{
    border: 1px solid rgb(216, 221, 230);
}


.THIS .search-facet-label{
    padding-left: 0.25rem;
    text-transform: capitalize;
    margin: 0.25rem 0;
    color: rgb(84, 105, 141);
    line-height: 1.5;
    margin-bottom: .25rem;
    display: inline-flex;
    width: 90%;
}

.THIS .doc-count{
    margin-left: 0.25rem;
}

.THIS .help-text{
    display: block;
}