.THIS hr{
	margin: 1rem 1.5rem;
}

.THIS .desired-currency-table {
	width: 100%;
	table-layout: fixed;
}

.THIS .desired-currency-table th,
.THIS .desired-currency-table td{
	width: 12%;
	overflow: hidden;
}

.THIS label.slds-form-element__label{
	display: none;
}