.THIS .uiMenuList--default.uiMenuList{
    top: 2rem;
    right: 0rem;
    float: none;
    left: auto;
    transform: translateX(0);
}
.THIS .uiMenuList--default .uiMenuItem>a[aria-disabled=true], .THIS .uiMenuList--default .uiMenuItem>span[aria-disabled=true] {
    color: #a9adae;
    cursor: default;
}

.THIS .slds-button_icon-border-filled{
	width: 5.5rem;
}

.THIS .slds-button_neutral{
     padding: 0 0.5rem;
}

.THIS .slds-theme_inverse{
	background-color: #0070d2;
}


.THIS .slds-badge{
	margin: 0.25rem 0.25rem 0.25rem 0.5rem
}
.THIS .btn-campaign .slds-dropdown{
    position: absolute;
    right: 1px;
    left: -159px; 
}
.THIS .btn-save-campaign{
    border:none;
    background:#fff;
}
.THIS .btn-disable .slds-button{
     cursor:none;
    pointer-events: none;
     color:rgb(221, 219, 218);
    }
 .THIS .btn-disable .slds-button:hover{
     color:rgb(221, 219, 218);
    }
 .THIS .btn-disable .slds-dropdown{
     display:none;
    }
    .THIS .font-regular {
        font-size:13px;
    }
.THIS .fade {
    display:block;
    visibility:visible;
    opacity:1;
}