.THIS {
	width: 100%;
}

.THIS .slds-pill__label {
    text-transform: capitalize;
    display: inline-flex;
}

.THIS .slds-pill{
    color: #ffffff;
	margin: 0.25rem 0.25rem 0.25rem 0;
	padding: 0.125rem 0.25rem;
    background-color: hsl(215, 100%, 38%);
}

.THIS .fav-badge{
    background-color: #FCB95B;
    color: #ffffff;
    display: inline-block;
	max-width: 15rem;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.THIS .slds-icon_container{
	line-height: 1.2;
}

.THIS .normal-badge{
	background-color: hsl(215, 100%, 38%);
	color: #ffffff;
	display: inline-block;
	max-width: 15rem;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.THIS ul.slds-wrap li{
	display: inline-block;
	margin: 0.25rem 0.25rem 0.25rem 0;
}