<!-- sldsValidatorIgnore -->
<!-- sldsValidatorIgnore -->
<template>
    <select class="slds-select" onchange={handleSelect}>
        <template for:each={_options} for:item="opt">
            <option key={opt.value}  value={opt.value} selected={opt.selected}> {opt.label}
            </option>
        </template>
    </select>
</template>