.THIS {
	width: 100%;
}

.THIS .slds-pill .slds-icon-text-default{
    fill: #fff;
}

.THIS .toggle-text{
	color: rgb(159, 170, 181);
}

.THIS hr{
	margin: 1rem 0;
}

.THIS .slds-icon-utility-close > lightning-primitive-icon > svg{
	fill: #fff;
}

.THIS .slds-pill_link .slds-pill__remove{
    position: relative;
    top: -2px;
    right: -2px;
    transform: none;
}

.THIS .match-pill-container .slds-pill{
	padding: 0.25rem 0.5rem;
}

.THIS .slds-pill__label{
	color :#fff;
}

.THIS .unfavorite-icon,
.THIS .favorite-icon{
	padding-bottom: 0.25rem;
}

.THIS .unfavorite-icon > lightning-primitive-icon > svg,
.THIS .favorite-icon > lightning-primitive-icon > svg{
	position: relative;
    top: -2px;
    right: -4px;
    transform: none;
}

.THIS .switch-icon{
    width: auto;
    height: auto;
}


.THIS .unfavorite-icon  > lightning-primitive-icon > svg{
	stroke: #fff;
	stroke-width: 2px;
}

.THIS .unfavorite-icon > lightning-primitive-icon > svg.slds-icon-text-default{
	fill: transparent;
}

.THIS .favorite-icon  > lightning-primitive-icon > svg{
	fill: #fff;
	stroke: transparent;
	stroke-width: 2px;
}

.THIS .pill-popover li .slds-pill__label {
	cursor: pointer;
	text-decoration: underline;
	transition: color 0.25s ease-in;
}

.THIS .pill-popover li .slds-pill__label:hover {
	color: rgb(243, 242, 242);
}


.THIS .add-popover { 
	position: absolute!important;
	margin-top: -0.5rem;
	z-index: 3;
}
.THIS .add-container { display: inline-flex; width: 100%}
.THIS .add-container .uiInput--input.input {border-bottom-right-radius: 0; border-top-right-radius: 0;    }
.THIS .add-container button {border-bottom-left-radius: 0; border-top-left-radius: 0;    }
.THIS .add-button-1, .THIS .add-button-2 {right: 2rem;}
.THIS .position-unset {
    position: unset !important;
}

.THIS .display-inline {
    display: inline-block;
}

.THIS .float-right {
    float: right;
}

.THIS .position-unset {
    position: unset !important;
}