<template>
    <div class="slds-grid slds-gutters_direct slds-p-bottom_xx-large req-routing">
        <div class="slds-col slds-size_2-of-12" onclick={handledropdown}>
            <slot name="subNav">
                <c-lwc-req-routing-sub-nav ontabselected={tabselected}></c-lwc-req-routing-sub-nav>
            </slot>
        </div>
        <div class="slds-col slds-size_10-of-12">
            <!-- Dashboard -->
            <template if:true={dashboardSelected}>
                <slot name="filter">
                    <c-lwc-req-routing-filters initial-filter-state="open" view={selectedTab} onfiltersearchexecuted={updateResults} ontotalrecordscounts={fetchrecordcount}></c-lwc-req-routing-filters>
                </slot>
                <slot name="searchResults" class="slds-p-left_medium">
                    <c-lwc-req-routing-search-results-container records-per-page={recordsPerPage} start-index={startIndex} req-search-results={reqSearchResults} totalrecords={totalrecordscount} view={selectedTab}></c-lwc-req-routing-search-results-container>
                </slot>
            </template>

            <!-- Delivery Center -->
            <template if:true={deliveryCenterReqsSelected}>
                <slot name="filter">
                    <c-lwc-req-routing-filters initial-filter-state="closed" view={selectedTab} onfiltersearchexecuted={updateResults} ontotalrecordscounts={fetchrecordcount}></c-lwc-req-routing-filters>
                </slot>
                <slot name="searchResults" class="slds-p-left_medium">
                    <c-lwc-req-routing-search-results-container records-per-page={recordsPerPage} start-index={startIndex} req-search-results={reqSearchResults} totalrecords={totalrecordscount} view={selectedTab}></c-lwc-req-routing-search-results-container>
                </slot>
            </template>

            <!-- Allocated -->
            <template if:true={allocatedReqsSelected}>
                <slot name="filter">
                    <c-lwc-req-routing-filters initial-filter-state="closed" view={selectedTab} onfiltersearchexecuted={updateResults} ontotalrecordscounts={fetchrecordcount}></c-lwc-req-routing-filters>
                </slot>
                <slot name="searchResults" class="slds-p-left_medium">
                    <c-lwc-req-routing-search-results-container records-per-page={recordsPerPage} start-index={startIndex} req-search-results={reqSearchResults} totalrecords={totalrecordscount} view={selectedTab}></c-lwc-req-routing-search-results-container>
                </slot>
            </template>

            <!-- Saved -->
            <template if:true={savedReqsSelected}>
                <slot name="filter">
                    <c-lwc-req-routing-filters initial-filter-state="closed" view={selectedTab} onfiltersearchexecuted={updateResults} ontotalrecordscounts={fetchrecordcount}></c-lwc-req-routing-filters>
                </slot>
                <slot name="searchResults" class="slds-p-left_medium">
                    <c-lwc-req-routing-search-results-container records-per-page={recordsPerPage} start-index={startIndex} req-search-results={reqSearchResults} totalrecords={totalrecordscount} view={selectedTab}></c-lwc-req-routing-search-results-container>
                </slot>
            </template>

            <!-- Shared -->
            <template if:true={sharedReqsSelected}>
                <slot name="filter">
                    <c-lwc-req-routing-filters initial-filter-state="closed" view={selectedTab} onfiltersearchexecuted={updateResults} ontotalrecordscounts={fetchrecordcount}></c-lwc-req-routing-filters>
                </slot>
                <slot name="searchResults" class="slds-p-left_medium">
                    <c-lwc-req-routing-search-results-container records-per-page={recordsPerPage} start-index={startIndex} req-search-results={reqSearchResults} totalrecords={totalrecordscount} view={selectedTab}></c-lwc-req-routing-search-results-container>
                </slot>
            </template>

            <!-- Hidden -->
            <template if:true={hiddenReqsSelected}>Hidden</template>
        </div>
    </div>
</template>