.THIS {
    margin: -1rem;
}
.THIS .toggle{display: none;}
.THIS.spinnercls{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}
.THIS .warning-msg {
    padding: 8px 4px;
    background-color: #ffb75d;
    display: flex;
    align-items: center;
}
.THIS .warning-msg > h2 {
    padding: 0 .25rem;
}
.THIS .warning-msg > div {
    flex-grow: 1;
    justify-content: flex-end;
    display: flex;
}
.THIS .d-block {
    padding-left: 10px;
    display: block;
}