.slds-modal__container {
    margin: 0 auto;
    width: 100%;
    max-width: 90rem;
    min-width: 30rem;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;
}

.required-field {
    color: red;
}