<template>              
    <div class="slds-modal__container modal-style">                
        <header class="slds-modal__header">
            <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                <lightning-icon icon-name="utility:close"
                    alternative-text="close"
                    variant="inverse"
                    size="small" ></lightning-icon>
                <span class="slds-assistive-text">Close</span>
            </button>
            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Create Req</h2>
        </header>                
        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
            <p>You can select one of the <b>Contacts</b> to create a req with or choose other. If you choose other you can
                search for a Hiring Manager and an Account on the Req Opportunity form.<br/>
                <br/><br/>
                When you click <b>Create Req</b> you will be brought to the Req Opportunity form with some data
                autopopulated.
            </p>
            <br/><br/><br/>                        
            <div class="slds-size_1-of-2">
                <label>
                    <abbr class="required-field">*</abbr>
                    <b>Contact for Req Creation</b>
                </label>
                <select class="slds-select" id="select-01" onchange={handleChange}>
                    <template for:each = {options} for:item="opt">
                    <option key={opt.value} value={opt.value}>{opt.label}</option>
                    </template>
                </select>
                <template if:true={showErrorMessage}>
                    <p class="required-field">Please select a contact or other from the dropdown</p>
                </template>                
            </div>
        </div>                
        <footer class="slds-modal__footer">
            <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
            <button class="slds-button slds-button_brand" onclick={submitDetails} title="Create Req">Create Req</button>
        </footer>
    </div>        
</template>