.THIS .max_error{
    color: red;
    padding:10px;
}
.THIS .slds-scrollable::-webkit-scrollbar-corner {
    background-color: inherit;
}
.THIS .slds-scrollable::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
    height: 7px;
}
.THIS .slds-scrollable::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0);
    border-radius: 3px;
}
.THIS .slds-scrollable:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.3);
    border-radius: 3px;
}
.THIS thead th {
    padding: 0 0.5rem;
    position: sticky;
    top: 0;
    z-index: 10;
}
.THIS .discTable {
   display: table;
   width: 100%;
}
.THIS .discRow {
   display: table-row;
    padding-right: 10px;
}
.THIS .discCellWarning {
    padding-right: 5px;
}
.THIS .discCell {
   text-align: left;
}