// =============================================================================
// OP-CO specific variables
// =============================================================================
@import "opcos/aerotekemea-vars.less";
@import url("https://use.typekit.net/jkm8yce.css");

// =============================================================================
// Common includes across OP-COs
// =============================================================================
@import "common/allegis-common.less"; 

// =============================================================================
// Overrides from allegis-common less
// =============================================================================
@import "common/navigation.less";

// =============================================================================
// Custom styles for Aerotek
// =============================================================================
 
// Globals
html * {
    font-family: canada-type-gibson, Arial, sans-serif !important;
}

html, body {
    font-size:16px;
    font-family: canada-type-gibson, Arial, sans-serif;
}

a {text-decoration: underline;}
p {font-size: 1rem;}

h1 { font-size: 42px; }
h2 { font-size: 36px; }
h3 { font-size: 32px; }
h4 { font-size: 26px; }
h5 { font-size: 24px; }
h6 { font-size: 20px; }
h2, h3 { font-weight:400; }
h4, h5, h6 { font-weight:100; }

@media (max-width:480px) {
    h1 { font-size: 36px; }
    h2 { font-size: 30px; }
    h3 { font-size: 26px; }
    h4 { font-size: 22px; }
    h5 { font-size: 18px; }
    h6 { font-size: 14px; }
    h2, h3 { font-weight:400; }
    h4, h5, h6 { font-weight:100; }
}

// Header - User Profile Menu
.profileName {
    color: @brand-slate;
}

// Header - Navigation - Desktop
.desktopMenu, .desktopMenu a {
    color: @navigation-links;
    text-decoration: none;
    text-transform: uppercase;
}

.desktopMenu .desktopNavBar, .desktopMenu .desktopNavBar a {
    text-transform: capitalize;
}

.desktopMenu a:hover, .subNavigation a:hover {
    text-decoration: underline;
}

.desktopMenu .subNavigation {
    border: 1px solid @navigation-border;
    border-top: none;
}

// Header - Navigation - Mobile
.mobileMenu {
    background-color: @brand-slate;
    text-transform: uppercase;
}
.mobileMenu .nav {
    background-color: @brand-slate;
    color: @white;
}
.mobileMenu .nav a {
    color: @white;
    text-decoration: none;
}

.mobileMenu hr {
    margin: 1rem 0;
}

.desktopMenu a, .menuItem {
    text-decoration: none;
}

//Navigation - lower case for profile menu
.profileSubMenu {
    text-transform: capitalize;
}

// Support Center
.comm-page-custom-faq-category .content a:hover,
.comm-page-custom-faq-detail .content a:hover {
    text-decoration: none !important;
}