// =============================================================================
// OP-CO specific variables
// =============================================================================
@import "opcos/easi-vars.less";
@import url("https://use.typekit.net/jkm8yce.css");

// =============================================================================
// Common includes across OP-COs
// =============================================================================
@import "common/allegis-common.less"; 

// =============================================================================
// Overrides from allegis-common less
// =============================================================================
@import "common/navigation.less";

// =============================================================================
// Custom styles for Aerotek
// =============================================================================
 
// Globals
html * {
    font-family: canada-type-gibson, Arial, sans-serif !important;
}

html, body {
    font-size:16px;
    font-family: canada-type-gibson, Arial, sans-serif;
}

a {text-decoration: underline;}
p {font-size: 1rem;}

h1 { font-size: 42px; }
h2 { font-size: 36px; }
h3 { font-size: 32px; }
h4 { font-size: 26px; }
h5 { font-size: 24px; }
h6 { font-size: 20px; }
h2, h3 { font-weight:400; }
h4, h5, h6 { font-weight:100; }

@media (max-width:480px) {
    h1 { font-size: 36px; }
    h2 { font-size: 30px; }
    h3 { font-size: 26px; }
    h4 { font-size: 22px; }
    h5 { font-size: 18px; }
    h6 { font-size: 14px; }
    h2, h3 { font-weight:400; }
    h4, h5, h6 { font-weight:100; }
}

// Header - User Profile Menu
.profileName {
    color: @brand-slate;
}

// Header - Navigation - Desktop
.desktopMenu, .desktopMenu a {
    background-color:#07101A !important;
    color: @navigation-links;
    text-decoration: none;
}

.desktopMenu .desktopNavBar, .desktopMenu .desktopNavBar a {
    background-color:#07101A !important;
    text-transform: capitalize;
}

.desktopMenu a:hover, .subNavigation a:hover {
    background-color:#07101A !important;
    text-decoration: underline;
}

.desktopMenu .subNavigation {
    background-color:#07101A !important;
    border: 1px solid @navigation-border;
    border-top: none;
}

.subNavigation {
    background-color:#07101A !important;
}

// Header - Navigation - Mobile
.mobileMenu {
    background-color: @brand-slate;
    text-transform: uppercase;
}
.mobileMenu .nav {
    background-color: @brand-slate;
    color: @white;
}
.mobileMenu .nav a {
    color: @white;
    text-decoration: none;
}

.mobileMenu hr {
    margin: 1rem 0;
}

.desktopMenu a, .menuItem {
    text-decoration: none;
}

//Navigation - lower case for profile menu
.profileSubMenu {
    text-transform: capitalize;
}

// Support Center
.comm-page-custom-faq-category .content a:hover,
.comm-page-custom-faq-detail .content a:hover {
    text-decoration: none !important;
}

@media screen and (min-width: 768px) {
    .c-card {
        min-height: 254px !important;
    }
}

.c-header-nav {
    background-color: #07101A;
}

.c-header-nav .slds-border_right {
    display: none; 
}
.progressPill[c-com_endDate_com_endDate] {
    background-color: #C2D500!important;
    color: #021a32 !important;
}

.u-btn, .forceCommunitySearchBox .search-button, .slds-button {
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.qa-jobtitle {
    text-transform: capitalize;
} 