<template>
    <template if:true={editting}>
        <div class="inline-edit slds-p-around_xx-small">

            <c-search-lookup-component 
            data-field={params.dataField}
            record-type-name={params.recordTypeName}
            place-holder={params.placeholder}         
            clas-name={params.clasName} 
            method-name={params.methodName} 
            object-name={params.objectName} 
            is-soql={params.isSoql}                                    
            use-cache={params.useCache}
            addl-fields={params.addlFields}
            display-fields={params.displayFields}
            related-to={params.relatedTo}  
            is-custom-css={params.isCustomCSS} 
            record-limit={params.recordLimit}      
            first-record-search-icon={params.firstRecordSearchIcon}                 
            search-lookup-text={params.searchLookupText}
            search-string={cellData.value}
            onblur={handleLookupClose}
            onselected={handleSelected}                                                         
        ></c-search-lookup-component>

        
            <!-- <c-search-lookup-component 
            data-field={params.dataField}
            place-holder={params.placeholder}         
            clas-name='Lookup' 
            method-name='searchSObject' 
            object-name={params.objectName} 
            is-soql='true'                                    
            use-cache=false
            addl-fields="[]"        
            first-record-search-icon="true"                 
            search-lookup-text={params.searchLookupText}
            search-string={cellData.value}
            onblur={handleLookupClose}
            onselected={handleSelected}                                                         
        ></c-search-lookup-component> -->

        <!--
            display-fields={lookupDisplay}         
            onlookupitemselectedevent={handleLookup} 
        -->
        </div>
    </template>
    <template if:false={editting}>
        <template if:true={cellData.navItem}>
            <div class="slds-truncate">
                <a href={url} target="_blank" onclick={navTo} title={cellData.value} data-action="true">{cellData.value}</a>
                <lightning-icon onclick={toggleEdit} data-action="true" class="edit-icon" icon-name="utility:edit" size="xx-small" alternative-text="Edit" ></lightning-icon>
            </div>
        </template>
        <template if:false={cellData.navItem}>
            <div class="slds-truncate slds-p-right_small" data-action="true" title={cellData.value} ondblclick={toggleEdit}>{cellData.value}</div>
            <lightning-icon onclick={toggleEdit} data-action="true" class="edit-icon" icon-name="utility:edit" size="xx-small" alternative-text="Edit" ></lightning-icon>
        </template>
    </template>
</template>