:host {
    display: table-cell;
    position: relative;
    padding: .25rem .5rem;
    white-space: nowrap;
    border-spacing: 0; 
    border-collapse: separate; 
    border-top: 1px solid #dddbda;
}
.inline-edit {
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 0 0 5px 5px;
    position: absolute;
    min-width: 250px;
    z-index: 9999;
    top:0;
    width: 100%;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.16);
}
lightning-icon.edit-icon {
    position: absolute;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
input {    
    outline: none;
    border: none;
}
.dateFieldCls {
    overflow: hidden;
    text-overflow: ellipsis;
}