<template>
    <template if:true={cellData.edit}>
        <template if:true={editting}>
            <div class="inline-edit slds-p-around_xx-small">
                <template if:true={cellData.edit.options}>
                        
                    <select onblur={handleClose} onchange={handleChange} class="slds-select" data-action="true">                       
                        <template for:each={options} for:item="option">
                            <option key={option} value={option}>{option}</option>
                        </template>
                    </select>                                
                        
                </template>
                <template if:false={cellData.edit.options}>
                    <template if:true={cellData.date}>
                        <lightning-input data-action="true" type="date" name="date" onblur={handleClose} onkeydown={handleEnter} value={cellData.value}></lightning-input>
                    </template>
                    <template if:false={cellData.date}>
                        <input
                            class="slds-input" 
                            type="text" 
                            onblur={handleClose}                     
                            onkeydown={handleEnter} 
                            value={cellData.value}
                            data-action="true"
                        >
                    </template>
                </template>
            </div>
        </template>        
        <template if:false={editting}>
                <template if:true={cellData.date}>
                    <div class="slds-truncate slds-p-right_small" data-action="true" title={cellData.value} ondblclick={toggleEdit}>
                        <lightning-formatted-date-time data-action="true" time-zone="UTC" value={cellData.value}></lightning-formatted-date-time>
                    </div>
                    <lightning-icon onclick={toggleEdit} data-action="true" class="edit-icon" icon-name="utility:edit" size="xx-small" alternative-text="Edit" ></lightning-icon>                        
                </template>
                <template if:false={cellData.date}>
                    <div class="slds-truncate slds-p-right_small" data-action="true" title={cellData.value} ondblclick={toggleEdit}>{cellData.value}</div>
                    <lightning-icon onclick={toggleEdit} data-action="true" class="edit-icon" icon-name="utility:edit" size="xx-small" alternative-text="Edit" ></lightning-icon>
                </template>
        </template>        
    </template>
    <template if:false={cellData.edit}>
            <template if:true={cellData.innerHTML}>
                <lightning-formatted-rich-text
                    value={cellData.innerHTML}
                >    
                </lightning-formatted-rich-text>
            </template>
            <template if:false={cellData.innerHTML}>
                    <template if:true={cellData.navItem}>
                            <div class="slds-truncate"><a href={url} target="_blank" onclick={navTo} title={cellData.value} data-action="true">{cellData.value}</a></div>
                        </template>
                        <template if:false={cellData.navItem}>
                            <template if:true={cellData.date}>
                                <template if:true={cellData.time}>
                                    <div tabindex="0" class="dateFieldCls">
                                        <lightning-formatted-date-time 
                                            title={cellData.title}                             
                                            value={cellData.value}                                            
                                            year="numeric"
                                            month="numeric"
                                            day="numeric"
                                            hour="2-digit"
                                            minute="2-digit" 
                                       ></lightning-formatted-date-time>
                                    </div>
                                </template>
                                <template if:false={cellData.time}>
                                    <div tabindex="0"><lightning-formatted-date-time  time-zone="UTC" value={cellData.value}></lightning-formatted-date-time></div>
                                </template>                
                            </template>
                            <template if:false={cellData.date}>                
                                <template if:true={cellData.icon}>
                                    <div tabindex="0" class="slds-grid slds-grid_vertical-align-center" title={cellData.value}>
                                        <lightning-icon icon-name={cellData.icon} size="x-small" alternative-text="Warning" ></lightning-icon>
                                    </div>
                                </template>
                                <template if:false={cellData.icon}>
                                    <div tabindex="0" class="slds-truncate" title={cellData.value}>{cellData.value}</div>
                                </template>
                            </template>                
                        </template>
            </template>
    </template>
</template>