.THIS .slds-table thead th {background-color: inherit;}
.THIS td button {padding: 0; border: none; border-color: inherit; background-color: inherit; color: rgb(112, 110, 107);}
.THIS td button:hover {background-color: inherit; color: rgba(27, 82, 151, 1.0);}
.THIS tbody tr:hover {background-color: rgb(244, 246, 249);}
.THIS .col1 {width: 150px;}
.THIS .col5 {width: 30%;}
.THIS .col7 {width: 120px;}
.THIS .assLink-btn {
    margin: 0 11px;
}
.THIS .assLink-btn:hover svg {
    fill: rgba(27, 82, 151, 1.0);
}
.THIS .assLink-inactive {
    margin: 0 11px;
}
.THIS .assLink-inactive svg {
    fill: lightgray;
}