.THIS .uiMenuList--default.uiMenuList{
    top: 2rem;
    right: 0rem;
    float: none;
    left: auto;
    transform: translateX(0);
}
.THIS .uiMenuList--default .uiMenuItem>a[aria-disabled=true], .THIS .uiMenuList--default .uiMenuItem>span[aria-disabled=true] {
    color: #a9adae;
    cursor: default;
}

.THIS .slds-button_icon-border-filled{
	width: 5.5rem;
}

.THIS .slds-theme_inverse{
	background-color: #0070d2;
}


.THIS .slds-badge{
	margin: 0.25rem 0.25rem 0.25rem 0.5rem
}