.THIS.container {
    overflow: auto;
    height: calc(100vh - 26rem);    
}
.THIS .comp-details {
    flex: 1 1 280px;
}
.THIS .comp-details textarea {
    max-height: 100px;
}
.THIS .slds-accordion__list-item:not(:last-of-type) {
    margin-bottom: .25rem;
}
.THIS .d-label_pos_terms{
    position:relative;
    bottom:18px;
}
.THIS lightning-formatted-text, .THIS lightning-formatted-number {
    font-size: .75rem!important;
}

.THIS .textarea-height .slds-textarea{
    height:2rem;
}
.THIS .row-height{
    max-height:5.25rem;
}
.THIS .align-helptext .slds-form-element_stacked {
    margin-bottom:0rem;
}
.THIS .error-input .slds-input{
    border:1.5px solid #c23934;
}
.THIS .error-input .skill-pill-field {
    border:1.5px solid #c23934;
    border-left: 5px solid #00cdcd;
}
.THIS .error-input .skill-pill-field .slds-input{
    border:none;
}
.THIS .error-input .slds-textarea{
     border:1.5px solid #c23934;
    border-left: 5px solid #00cdcd;
}
.THIS .position-helptext{
    position: relative;
    top: -1rem;
}
.THIS .textarea-view-truncate .slds-form-element__static {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .75rem;
}
/*<SKILLS>*/
.THIS .skill-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .25rem;
}
.THIS .skill-container li {
    padding: .25rem;
    border-radius: 5px;
    margin: .25rem 0;
}
.THIS .skill-container li:not(:last-of-type) {
    margin-right: .25rem;
}
.THIS .skill-container.top-skills li {
    background-color: #FFB85D;
    color: white;
}
.THIS .skill-container.secondary-skills li {
    background-color: #00366B;
    color: white;
}
.THIS .cCRM_SuggestedSkills {
    display: none;
}
/*</SKILLS>*/

/*.THIS {*/
/*    margin:0.75rem;*/
/*}*/
/*ANDY: removing left margins*/
.THIS .slds-col {
    margin-left: 0;
}
 .THIS .align_checkbox .label_checkbox{
        position:absolute;
        left:2rem;
  }
    .THIS .align_checkbox .slds-form-element__icon {
        display:none;
    }
.THIS .section-edit_button {
    height:fit-content;
    line-height:22px;
    margin-top:6px;
  }
    .THIS .padding_none .clone-address-highlight {
        padding:0;
    }
       .THIS .font-button_bold .slds-button {
        font-weight:bold;
        padding-right:0.75rem;
    }
 .THIS .section-accordion .slds-accordion__summary {
     background:rgb(243, 242, 242);
    }
.THIS c-lwc-text-less-more {
    font-weight: 400;
}
.THIS .hide lightning-output-field {
    display:none;
}
.THIS .externalJobDesc lightning-output-field {
    display: none;
}
    .THIS .microtextfee {
        margin-left:-7px;
    }
    .THIS .microtextflatfee {
        margin-left:-2px;
    }
.THIS .micro-text-label {
     white-space: nowrap;
    display: inline-block;
    font-size: 9px;
    }
.THIS .nowrap-whitespace {
    white-space: nowrap;
}
 .THIS .d-label_pos{
     position: relative;
    bottom: 1rem;
    }
    .THIS .d-label_none .slds-combobox .slds-button {
        display:block !important;
    }
    .THIS .d-label_none .slds-form-element_stacked {
        margin-bottom:0rem;
    }
 .THIS .d-label_none .slds-form-element__label {
     display:none !important;
    }
 .THIS .d-label_none .slds-button{
     display:none !important;
    }
	.THIS .d-none_onlyHelptext .d-label_none .slds-button{
     display:block !important;
    }
.THIS .d-none_onlyHelptext .d-label_none .slds-form-element__icon .slds-button{
     display:none !important;
    }
.THIS .section-accordion .slds-accordion__summary-heading span{
    font-size:1rem;
}
.THIS .slds-accordion__summary{
    margin: auto;
     padding:0px !important;
}
.THIS .slds-accordion__section{
    padding:0 !important;
}
.THIS .section-row .slds-form-element__label{
	padding-top: 0;
    font-weight: 700;
    color:#000000;
}
.THIS .section-row .slds-form-element__label a{
	color:#0070D2;
    font-size:0.75rem;
}
.THIS .section-row .slds-form-element__control a{
    color:#0070D2;
    font-size:0.75rem;
}
.THIS .section-row .slds-form-element__control .slds-form-element__static{
    color:#000000;
    font-size:0.75rem;
}
.THIS .slds-is-open>.slds-accordion__summary {
    margin-bottom:0;
}
.THIS .checkbox-view{
    font-weight:400;
}
.THIS .d-check_none .slds-checkbox{
   display:none;
}
.THIS .d-button_none .slds-button{
    display:none;
}
.THIS .edit-placement .slds-form-element_stacked{
    padding:0
}
.THIS .pill-bg_none .job-pill .slds-pill{
    background:none;
}
.THIS .pill-bg_none .job-pill .slds-pill__action{
    background:none;
    padding:0;
}
.THIS .edit-section .slds-form-element__label{
    color:#000;
    font-weight:700;
    padding-left:2px;
}
.THIS .slds-form-element__label{
    color:#000;
    font-weight:700;
}
.THIS .opp-owner_position{
    top: 3.5px;
}
.THIS .opp-owner_position .edit-label_variants{
    color: #000;
    font-weight: 700;
    font-size:0.75rem;
}
.THIS .slds-accordion__list-item{
    border-top: 0;
}
.THIS .edit-section .slds-input{
    font-size:0.75rem;
    color:#000;
    font-weight:400;
}
.THIS .edit-section .slds-form-element__static{
    font-size:0.75rem;
    color:#000;
    font-weight:400;
}
.THIS .d-icon_none .slds-form-element__icon{
    display:none;
}

.THIS .slds-section-title_divider{
	font-size: 1rem;
}

.THIS .slds-checkbox [type=checkbox][disabled]+.slds-checkbox_faux:after, .THIS .slds-checkbox [type=checkbox][disabled]+.slds-checkbox--faux:after, .THIS .slds-checkbox [type=checkbox][disabled]~.slds-checkbox_faux:after, .THIS .slds-checkbox [type=checkbox][disabled]~.slds-checkbox--faux:after, .THIS .slds-checkbox [type=checkbox][disabled]+.slds-checkbox__label .slds-checkbox_faux:after, .THIS .slds-checkbox [type=checkbox][disabled]+.slds-checkbox__label .slds-checkbox--faux:after {
    border-color: #443232;
}

.THIS .slds-p-left--xx-large {
    padding-left: 10rem;
}

.THIS abbr{
	margin-left: -5px;
}

.THIS .slds-cell-edit__button:hover{
	color: rgba(0, 112, 210, 1.0);
	transition: color 0.25s ease-in;
}

.THIS .slds-accordion__list-item{
	border-top: 0;
}

.THIS .slds-accordion__summary-heading{
	background-color: rgb(243, 242, 242);
	padding: 0.5rem 1rem;
}

.THIS .slds-form-element{
	width: 100%;
}

.THIS .account-info{
	font-size: 1rem;
}

.THIS .save-overlay{
	position: fixed;
	z-index: 4;
	background-color: rgba(255,255,255, 0.7);
	padding: 0.5rem;
    width: calc(100% - 2rem);
    left: 1rem;
    bottom: 2.5rem;
}

.THIS .button-container{
	margin: 0 auto;
}

.THIS .edit-mode-helptext .slds-form-element__icon{
	position: absolute;
	transform: translate(112px, -22px);
}

.THIS .match-req {
   border-left: 5px solid #00cdcd;
   background-color: #f4ffff; 
}
.THIS .High-field .match-req-bg-color {
    background-color: #f4ffff;
}
.THIS .job-pill .slds-pill{
    background-color: #f4ffff;
}
.THIS .skill-pill .match-req-bg-color{
    background-color: #f4ffff;
}
.THIS .exp-level-pill  .slds-input{
   border-left: 5px solid #00cdcd;
   background-color: #f4ffff; 
}
.THIS .match-req-desc .slds-textarea{
    border-left: 5px solid #00cdcd;
    background-color: #f4ffff;
    height: 130px;
}
.THIS .match-req-level .slds-textarea{
    border-left: 5px solid #00cdcd;
    background-color: #f4ffff;
    height: 70px;
}
.THIS .edit-section .clone-highlight .slds-input {
      border-left: 5px solid #00cdcd;
    background-color: #f4ffff; 
 }
.THIS .edit-section .clone-address-highlight .slds-input{
   border-left: 5px solid #00cdcd;
    background-color: #f4ffff; 
}
.THIS .bg-edit {
    background-color: #fff;
    height:50px;
}
.THIS .required{
    float: left;
    padding-right: 2px;
    color: rgb(194, 57, 52);
    font-weight: 700
}
.THIS .font-weight-bold {
    font-weight:bold;
}
.THIS .search-edit {
    display:inline-block
}
.THIS .required-edit {
    display:inline-block
}
.THIS .field-class{
    position:absolute;
    top:16px;
}
.THIS .border-rad {
    height:100px;
}
.THIS .button-pos {
    position:relative;
    bottom:11px;
}
.THIS .search-match-pill{
   width: 25px;
    height: 5px;
    transform:rotate(270deg);
    border-radius: 16px;
    background-color: #00cdcd;
    position:relative;
    left:5px;
}
.THIS .placement-dis .slds-form-element .slds-form-element__label{
    display:none;
}
.THIS .stg-rq-fld .slds-form-element .slds-required {
    display:none;

}

.THIS .position-btn-inline{
	position: absolute;
    top: 0;
    right: 0;
    transform: translateY(5%) translateX(-2px);
}

.THIS .position-btn {
	position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-143%) translateX(-2px);
}
.THIS #positionSummary {
    position: relative;
}

.THIS .custom_focus input {
    outline: 0;
    border-color: rgb(21, 137, 238);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px #0070d2;
}
.THIS .required-field::before {
  content: "*";
  color: #C23934;
  font-size: 0.8rem; 
}
.THIS .required-field {
    font-weight:bold;
}
.THIS .required-field .slds-form-element__icon{
    padding:0;
}
.THIS .my-small-text {font-size: 10px}

.THIS .abs-position {
    position: absolute;
}