.THIS .Quiz-Assessment .form-element__label{
    font-size: .75rem;
    color: rgb(112, 110, 107);
    line-height: 1.5;
}
.THIS .accordion-item-header {
    display: inline-flex;
    cursor: pointer;
}

.THIS .show {
   max-height: 650px;
}

.THIS .hide {
   max-height: 0px;
   overflow: hidden;
}

.THIS.toggle {
    display: none;
}
.THIS .slds-table th, .THIS .slds-table td {
    padding: .25rem .5rem!IMPORTANT;
}
.THIS hr { margin: .5REM;}
.THIS .font-weight_heavy {font-weight: 600; font-size: 14px}
.THIS .uiInput--select.select:not([multiple]), .THIS .uiInput--select .select:not([multiple]), .THIS .uiInput--select .uiPopupTrigger a {
    height: 2.25rem;
    line-height: 1.875rem;
}
.THIS .slds-checkbox [type=checkbox][disabled]+.slds-checkbox_faux:after, .THIS .slds-checkbox [type=checkbox][disabled]+.slds-checkbox--faux:after, .THIS .slds-checkbox [type=checkbox][disabled]~.slds-checkbox_faux:after, .THIS .slds-checkbox [type=checkbox][disabled]~.slds-checkbox--faux:after, .THIS .slds-checkbox [type=checkbox][disabled]+.slds-checkbox__label .slds-checkbox_faux:after, .THIS .slds-checkbox [type=checkbox][disabled]+.slds-checkbox__label .slds-checkbox--faux:after {
    border-color: grey;
}

.THIS .slds-tabs__nav-scroller {
    position: fixed;
    z-index: 999999999999;
    width: 100%;
    background: white;
    margin-left:-20px;
    
}
.THIS .slds-tabs_default__nav, .THIS .slds-tabs--default__nav {
    position: absolute;
    background: white;
    width: -webkit-fill-available;
}
.THIS .slds-card {
    position: relative;
    padding: auto;
    background: white;
    border: 1px solid #dddbda;
    border-radius: 0.25rem;
    background-clip: padding-box;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
}
.THIS .no-label label{display:none;}
.THIS .disabled-field {
    background: #eee;
    width: 100%!important;
    padding: 0 1rem 0 .75rem;
    line-height: 1.875rem;
    min-height: calc(2.125rem + 2px);
    display: block!important;
    border-radius: 3px;
    border: 1px solid #ddd;
    color: #999;
}
.THIS .disabled {background: #eee;}

.THIS .prefix{
    width: 6rem;
}

.THIS .suffix{
    width: 3.5rem;
}

.THIS .mi{
    width: 7.5rem;
}

.THIS .job-title-field .form-element__label{
    font-size: .75rem;
    color: rgb(112, 110, 107);
    line-height: 1.5;
}

.THIS .address-section .slds-input{
    min-height: calc(2.125rem + 2px);
    margin-bottom: 0.5rem;
}

.THIS .address-section .slds-form-element__label{
    margin-bottom: 0.25rem;
}

.THIS .main-content {
    position: relative;
    left: 0;
    right: 0;
    height:100%;
    overflow: hidden;
    z-index: 0;
}

.THIS .splits-modal .split-right .slds-scrollable_y {max-height:500px;}

.THIS .slds-modal__content{
    display: flex;
    flex-direction: row;
}
.THIS .slds-tabs_default__content, .THIS .slds-tabs--default__content {
    padding-top: 40px;
}

.THIS .accordion-item-body {
    padding-top: 1rem;
    transition: 0.2s ease-in;
}
.THIS .slds-form-element__label {
    margin-bottom: 0.25rem;
}
.THIS .input {
    min-height: 0;
}
.THIS .form-element__label {
    margin-bottom: 0.25rem;
}
.THIS .input-wrap {
    margin: 5px;
    font-size: .75rem;
}
.THIS .slds-input {
    padding-right: 0;
    padding-left: 0;
}
.THIS .date-pick-wrap {
    display: inline-flex;
    justify-content: center;
    margin-top: 16px;
}
.THIS .date-pick-wrap lightning-input {
    padding-right: 5px;
}
.THIS .rel-can-pos div:first-child {
    display: flex;
}
.THIS .rel-can-pos div:first-child label {
    padding-right: 5px;
}
.THIS .rel-div {
    padding-top: 24px;
}
.THIS .add-info-title {
    padding: 0 5px;
}

.THIS .input-with-helptext-1 lightning-helptext {position: relative; top: 17px; left: 167px;}
.THIS .input-with-helptext-2 lightning-helptext {position: relative; top: 17px; left: 180px;}
.THIS .modal-content-left {
    position: relative;
    padding-left: 15px;
}
.THIS .modal-content-right {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    padding: 0 20px;
}
.THIS .still-in-position {margin-bottom: 11px;}
.cC_TalentAssesmentModal .uiInput--select.select:not([multiple]), .cC_TalentAssesmentModal .uiInput--select .select:not([multiple]), .cC_TalentAssesmentModal .uiInput--select .uiPopupTrigger a {
    line-height: 1.875rem;
    height: 30px;
}