<template>
 
    <ul style="display: inline" class="testdisplay">
        <template for:each={searchResults.DisplayFields} for:item="displayItem" for:index="index" >
           <li key={displayItem.name} data-item={index} class="slds-listbox__item slds-m-right_xx-small" data-id={displayItem.name}>
               <span if:false={searchResults.isCustomCss}>
                    <p if:true={displayItem.isText}>
                        {displayItem.value}
                    </p>
                    <p if:true={displayItem.isPhone}>
                        <lightning-formatted-phone class="slds-truncate user-phone" value={displayItem.value} ></lightning-formatted-phone>                    
                    </p>
                </span>
                <span if:true={searchResults.isCustomCss}>
                        <span if:true={displayItem.isNameField}>
                            <span if:true={displayItem.isText}>
                                {displayItem.value}
                            </span>
                        </span>  
                        <span if:true={displayItem.isTitleField}>
                            <span if:true={displayItem.isText}>
                                ({displayItem.value})
                            </span>
                        </span> 
                        <span if:true={displayItem.isPhoneField} class="call-pos">
                            <span if:true={displayItem.isPhone}>
                                <lightning-formatted-phone class="slds-truncate user-phone" value={displayItem.value} ></lightning-formatted-phone>                    
                            </span>
                        </span>
                </span>
            </li>
        </template>
    </ul>
</template>