.empty-table {
    padding: 2rem;
    text-align: center;
}

.set-height {
    height: 10rem;
    overflow-x: hidden;
    border: none;
}

.container-width {
    width: 70%;
    max-width: 950px;
    min-width: 480px;
}