<template>
    <template if:true={isModalOpen}>        
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container container-width">                
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Allocate Recruiters</h2>
                </header>    

                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <div>
                        <p>Past Allocations</p>
                        <div data-id="past-recruiters">
                            <lightning-datatable
                                    key-field="id"
                                    data={pastAllocationsData}
                                    onrowselection={getSelectedRecords}
                                    columns={columns}
                                    max-row-selection="10">
                            </lightning-datatable>
                            <template if:false={hasPastAllocations}>
                                <p class="empty-table">Once you allocate a recruiter to a req this table will be populated</p>
                            </template>
                        </div>
                    </div>
                    <div>
                        <p class="slds-p-top_medium slds-p-bottom_xx-small">Find a Recruiter</p>                        
                        <lightning-input class="slds-p-bottom_x-small"
                            name="enter-search"                                
                            type="search"
                            placeholder="Search for a recruiter"
                            variant="label-hidden"
                            onchange={handleKeyChange}
                            autocomplete="off"
                        ></lightning-input>                        
                        <div data-id="search-table">
                            <lightning-datatable
                                key-field="id"
                                data={findRecruitersData}
                                columns={columns}
                                onrowselection={handleRowSelection}
                                max-row-selection="1"
                                enable-infinite-loading={isLoaded}
                                onloadmore={onLoadMoreHandler}
                                sorted-by={sortBy}
                                sorted-direction={sortDirection}
                                onsort={handleSortdata}>
                            </lightning-datatable>
                            <template if:false={foundNoRecruitersOnSearch}>
                                <p class="empty-table empty-search-list">Search for a recruiter to populate results</p>
                            </template>
                        </div>
                    </div>
                </div>
                
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
                    <button class="slds-button slds-button_brand" onclick={submitDetails} title="OK">Allocate Recruiter(s)</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>