.backdrop {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 99; 
    transition: 150ms ease-out;
    overflow: hidden;   
}
[data-direction="left"] {
    justify-content: flex-start;
}
[data-direction="left"] .panel {
    box-shadow: 3px 0px 8px 0px rgba(0,0,0,0.45);
}
.panel {
    padding: .5rem;
    background-color: white;
    min-width: 500px;
    max-width: 40%;
    box-shadow: -3px 0px 8px 0px rgba(0,0,0,0.45);
    transition: 150ms ease-out;
    overflow-y: auto;
}
.panel[data-size="max"] {
    width: 40%;
}

.hide {
    background-color: rgba(0,0,0,0);
    z-index: -1;    
}
.hide .panel {
    transform: translateX(100%);
}
[data-direction="left"].hide .panel {
    transform: translateX(-100%);
}