<template>
    <div class={getDrawerState} data-direction={side} onclick={handleBackdropClick}>
        <div class="panel" data-size={size}>
            <slot></slot>
        </div>
    </div>    
</template>