.THIS .slds-tabs_default__content {
    padding: unset;
}

.THIS .text-color_light-grey{
    color: #778899;
}

.THIS .slds-tabs_default__nav{
    background: rgb(243, 242, 242);
}

.THIS .slds-text-title_caps{
    text-transform: uppercase;
    font-weight: 600;
}


.THIS dd,
.THIS dt{
    margin: 0.25rem 0;
}

.THIS .tab-list-container {
    height: calc(100vh - 19.25rem);
    padding: 0.5rem 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 100%;
}

.THIS #activitiesTab .tab-list-container {
    margin-left: 0.25rem;
    padding: 0.5rem 0.5rem 10rem 0.5rem;
}

.THIS .slds-tabs_default__link {
    text-transform: uppercase;
}

.THIS .g2Activities-list li p{
    margin: 0.25rem 0;
}

.THIS .slds-dl_inline__detail p{
    margin: 0 0 0.25rem 0;
}

.THIS .slds-dl_inline__detail p:nth-of-type(2){
    margin-top: 0.5rem;
}

.THIS .slds-tabs--default__content{
    padding: 0;
}

.THIS .truncate-badge{
    display: inline-block;
    max-width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.THIS .slds-badge{
    margin: 0 0.25rem 0.25rem;
    display: block;
}
.THIS .slds-card {
    padding: .75rem!important;
}

.THIS .resume-date-label {
    font-weight: 600;
    display: inline-block;
    margin-right: .3rem;
}

.THIS .resume-updated {
    text-align: right;
}


.THIS .hlt1{
    cursor: pointer;
    
}

.THIS .hlt1:hover{
    text-decoration: underline;
}

.THIS .resume-container pre {
    overflow: unset;
}

.THIS .dnc-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid #c63e33;
    border-radius: .25rem;
}

.THIS .dnc-exclamation {
    background: #c63e33;
    color: white;
    font-weight: 600;
    padding: 0 .3rem;
    font-size: 1.2rem;
    line-height: 2rem;
}

.THIS .dnc-icon use {
    fill: #c63e33;
}

.THIS .dnc-icon {
    transform: translateY(-.1rem);
}

.THIS .dnc-contact .slds-text-title_caps,
.THIS .dnc-use .slds-text-title_caps {
    color: #c63e33;
    padding: 0 0 0 .3rem;
    font-weight: 600 !important;
}

.THIS .dnc-contact,
.THIS .dnc-use {
    padding: 0 .3rem;
}

.THIS .dnc-text-wrapper {
    display: inline-flex;
    padding: .4rem 0;
}

.THIS .dnc-wrapper {
    display: inline-block;
}


.THIS .act-fld-common {
    text-align:left;
    font-weight:600;
    text-transform: uppercase;
}
.THIS .act-past-header {
    padding-top:5px;
    padding-bottom:5px;
}
.THIS .past-act-section {
    position:relative;
    bottom:25px;
}

@media  screen and (max-width: 1599px) {
    .THIS .activities-list,
    .THIS .g2-list{
        width: 100vh;
    }
    .THIS .tab-list-container {
        overflow-x: scroll;
    }
}

.THIS .slds-card__header {
    background-color: #035797;
    margin: 0;
    padding: 5px 5px 5px 15px;
    height: 42px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.THIS .slds-card__header lightning-icon {
    display: none;
}

.THIS .slds-card__header div.slds-media span {
    color: white;
} 

.THIS .slds-card {
    border: 1px solid #dddbda!important;
    padding: 0 !important;
    border-radius: 7px;
    margin-bottom: 3rem;
}

.THIS .slds-card__body {
    padding: 1rem;
    margin-top: 0.5rem;
}

.THIS .slds-media_timeline:before {
    z-index: 10;
    top: 2px;
    height: 100%;
    left: .75rem!important;
}

.THIS .slds-timeline__media:before, .THIS .slds-media_timeline:before {
    background: #f88962;
}

.THIS .completed-g2-comments {
    margin-bottom: 1rem;
}

.THIS .card {
    flex-grow: 1;
    border-radius: 7px;
    border: 1px solid #bababa;
}

.THIS .card header {
    height: 42px;
    background-color: #035797;
    border-radius: 7px 7px 0 0;
}

.THIS .card .title  {
    color: white;
    font-size: 1rem;
    line-height: 1.25;
    margin-left: 0.75rem;
}

.THIS .card .actions {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}