<template>
    <div style="height: 300px;">
        <lightning-datatable
                key-field="id"
                data={boardData}
                columns={columns}
                hide-checkbox-column>
        </lightning-datatable>
    </div>    
</template>