.THIS h1 {font-size: 18px; color: #002e56;}
.THIS .lloyd-body__font {font-size: 14px}
.THIS .lloyd-column--right {max-width: 480px; margin-right: 50px;}
.THIS .slds-media {max-height: 270px; overflow: hidden;}

@media screen and (max-width: 480px) {
    
    .THIS .lloyd-column--right {margin: 0}

}