<!-- Composition template for all (most) post-login pages. -->

<!-- Take control of the page markup. We are manually accounting for the <html>, <head>, and <body> markup. -->
<apex:page docType="html-5.0" showHeader="false" sidebar="false" applyBodyTag="false" applyHtmlTag="false" standardStylesheets="false" controller="TC_TemplateController">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <head> 
            <title><apex:insert name="titleContent"/></title>
            <apex:insert name="head"/>
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <META name="apple-mobile-web-app-capable" content="no" />
            <META name="mobile-web-app-capable" content="yes" />

            <!-- Set the browser tab icon on desktop. -->
           
            <apex:variable var="mIcon" value="tc_mobile_icons/{!ProfileSlug}-16x16.png"/>
            <link rel="shortcut icon" sizes="16x16" href="{!URLFOR($Resource.tc_mobile_icons, mIcon)}" />

            <!-- Supporting markup for mobile bookmark. -->
            
                <META name="apple-mobile-web-app-title" content="{!$Setup.TC_Opco_Mappings__c.Opco_Name__c}" />
                <apex:variable var="mIcon1" value="tc_mobile_icons/{!ProfileSlug}-196x196.png"/>
                <link rel="shortcut icon" sizes="196x196" href="{!URLFOR($Resource.tc_mobile_icons, mIcon1)}" />
                 <apex:variable var="mIcon2" value="tc_mobile_icons/{!ProfileSlug}-72x72.png"/>
                <link rel="apple-touch-icon" sizes="120x120" href="{!URLFOR($Resource.tc_mobile_icons, mIcon2)}" />
                <apex:variable var="mIcon3" value="tc_mobile_icons/{!ProfileSlug}-76x76.png"/>
                <link rel="apple-touch-icon" sizes="144x144" href="{!URLFOR($Resource.tc_mobile_icons, mIcon3)}" />
                <apex:variable var="mIcon4" value="tc_mobile_icons/{!ProfileSlug}-114x114.png"/>
                <link rel="apple-touch-icon" sizes="114x114" href="{!URLFOR($Resource.tc_mobile_icons, mIcon4)}" />
                <apex:variable var="mIcon5" value="tc_mobile_icons/{!ProfileSlug}-120x120.png"/>
                <link rel="apple-touch-icon" sizes="120x120" href="{!URLFOR($Resource.tc_mobile_icons, mIcon5)}" />
                <apex:variable var="mIcon6" value="tc_mobile_icons/{!ProfileSlug}-144x144.png"/>
                <link rel="apple-touch-icon" sizes="144x144" href="{!URLFOR($Resource.tc_mobile_icons, mIcon6)}" />
                <apex:variable var="mIcon7" value="tc_mobile_icons/{!ProfileSlug}-152x152.png"/>
                <link rel="apple-touch-icon" sizes="152x152" href="{!URLFOR($Resource.tc_mobile_icons, mIcon7)}" />
           
        </head>
        <body>
            <!-- Standard boilerplate, plus global header and pulldown menu. -->
            <c:TC_HeaderComponent />

            <apex:insert name="body"/>

            <!-- Help, privacy policy, terms and conditions, and copyright. -->
            <c:TC_FooterComponent />

            <script type="text/javascript" charset="utf-8">
                /*
                 * The assumption being made is that the body insert (above) will include a Skuid page, making 
                 * Skuid constructs available here.
                 */
                (function(skuid){
                    var $ = skuid.$;
                    $(document).ready(function() {
                        /*
                         * Allow specific pages to customize the pageSlug variable. For example: 
                         *  var pageSlug = 'referFriend';
                         */
                        <apex:insert name="pageSlugDeclaration"/>
                        if (typeof pageSlug === 'undefined' || pageSlug === null) {
                            console.log('pageSlug not defined.');
                        } else {
                            if (typeof dataArray === 'undefined') {
                                var dataArray = [{}];
                            }
                            /*
                             * Make the profile slug (assigned via the profile-driven custom settings) available 
                             * to the front-end JavaScript.
                             */
                            dataArray[0].profileSlug = '{!profileSlug}';

                            /*
                             * Publish an event that the context (Skuid) page has been loaded.
                             */
                            skuid.events.publish("com." + pageSlug + ".hasLoaded", dataArray);
                        }
                    }); 
                })(skuid);
            </script>
        </body>
    </html>
    
</apex:page>