/* fileUpload2.css is identical */
.THIS .notUploading {
    visibility: hidden;
}

.THIS .uploading {
    visibility: visible;
    display: inline-block;
    margin-top: 10px;
}

.THIS .small-spinner {
    height: 20px;
    width: 20px;
}
.THIS .file {
    margin-bottom: 5px;
    display: block;
}
.THIS .slds-file-selector__dropzone {
    padding: 3.125rem 10rem;
}
.THIS .slds-form-element__control {
    text-align: center;
}
.THIS span.slds-form-element__label.slds-m-left_medium {
    text-align: center;
    color: rgba(27, 82, 151, 1.0);
    font-weight: 600;
    padding-left: .75rem;
}