<template>
    <label class="slds-m-bottom_xx-small bold smaller">{facetData.displayTitle.en_US}</label>
    <select class="slds-select" onchange={updateFacetData} onclick={handleClick}>
        <template for:each={facetData.options} for:item="option">
            <option key={option.label} value={option.value}>{option.label}</option>
        </template>
    </select>
</template>