.THIS .slds-button--icon-border{
	border: 0px;
}

.THIS .slds-modal__container{
	position: relative;
	/* transform: translateY(5.5rem);  */
	min-width: 61rem;
	max-height: 42rem;
}

@media (max-height: 756px) { 
    .THIS .slds-modal__content{ 
        max-height: 15rem; 
    } 
 
    /*.THIS .table-wrapper{ 
        overflow: hidden; 
    } */
 
    .THIS .table-container{ 
        height: 20rem; 
    } 
 
} 

.THIS .form-container{
    padding: 1rem;
    background-color: #fff;
}

/*-- To format extremely long searches --*/

.THIS .slds-table{
    table-layout: fixed;
}
.THIS .format-col{
	width: 400px;
}

.THIS .button-col{
    width: 2%;
}

.THIS .col-max-width{
	width: 10%;
}

.THIS .col-min-width{
	width: 5%;
}