.container {
    position: relative;
    padding-bottom: 1rem;
}
.text {
    white-space: pre-wrap;
    word-break: break-all;
}
.toggle {
    cursor: pointer;
    color: #006dcc;
    position: absolute;
    bottom: 0;
    right: 0;
}
.toggle-left {
    cursor: pointer;
    color: #006dcc;
    position: absolute;
    bottom: 0; 
    left: 0!important;   
}