<template>
    <div class="container">
        <div class="text">
            {text}            
        </div>
        <div class="toggle" onclick={handleToggle}>{toggleLabel}</div>
    </div>    
</template>