.THIS .slds-card {
    position: relative;
    padding: 0.75rem!important;
    background: white;
    border: 1px solid #dddbda!important;
    border-radius: 0.25rem!important;
    background-clip: padding-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1)!important;
}
.THIS .slds-wrap{margin-right: 0px;margin-left: 0px;}
.THIS .slds-modal__container {top: 22%!important; max-height: 82%!important}
.THIS .italic {font-style: italic;}
.THIS .clear--both {clear: both;}

.THIS .modal-input .slds-table th, .THIS .modal-input .slds-table td {
    white-space: normal;
}
.THIS summary:FOCUS, .THIS button:focus .THIS span:focus{
    outline: 0; border:none
}
.THIS .slds-text-link {cursor: pointer!IMPORTANT;}
.THIS summary::-webkit-details-marker {
    float: left;
    margin-top: 4px;
}
.THIS .slds-required--star-only::first-letter {color: rgb(194, 57, 52);}
.THIS .slds-button:focus {
    outline: 0!important;
    box-shadow: none!important;
}
.THIS.slds-backdrop{
	margin-top: 0px;
}
.THIS header {padding-top: 0;}