<template>
    <div if:true={checkRecValid}>
        <c-basecardtimelineitemtask task-item={itemDetail} rec-type={recType} oneventedit={handleEventEdit} ondeleterecordevt={handleDeleteEvent} current-user={currentUser} enable-condensed-labels={enableCondensedLabels} enable-action-menu={toggleActionMenu}></c-basecardtimelineitemtask>
    </div>
</template>