.THIS tr { height: 20px !important; vertical-align: middle !important;}
.THIS .msg-content {display: flex; flex-direction: row; margin-bottom: 16px;}
.THIS .msg-icon {display: flex; align-items: center;}
.THIS .msg-text {display: flex; align-items: center;}
.THIS .msg-icon svg {width: 6rem; height: 6rem;}
.THIS .warning-msg {
    display: flex;
    justify-content: center;
    align-items: center;
}
.THIS .talent-record-id-row {height:30px;}