<template>
    <form>
        <div if:true={isLoading}>
            <div class="slds-p-around_x-large">
                <lightning-spinner alternative-text="Loading" size="medium" variant="brand"></lightning-spinner>
            </div>
        </div>
        <lightning-card>
            <h3 slot="title">Real Time Case Age Report</h3>
            <div class="slds-p-around_small">
                <div class="slds-grid slds-gutters slds-m-bottom_small">
                    <div class="slds-col slds-size_1-of-3">
                        <lightning-combobox 
                            name="opco" 
                            label="OpCo" 
                            value={opcoValue} 
                            placeholder="Select OpCo" 
                            options={opcoOpts} 
                            onchange={handleOpcoSelect}>
                        </lightning-combobox>
                    </div>
                    <div class="slds-col slds-size_1-of-3">
                       
                        <lightning-record-edit-form 
                            object-api-name="Case" 
                            id="caseTalentOffice"
                            onload={handleLoad} >
                            <lightning-input-field 
                                field-name="Talent_Office__c" 
                                onchange={handleTargetOffice}>
                            </lightning-input-field>
						</lightning-record-edit-form>
                        <!-- Talent Office lookup here -->
                    </div>
                    <div class="slds-col slds-size_1-of-3">
                        <lightning-combobox 
                            name="center" 
                            label="Center" 
                            value={centerValue} 
                            placeholder="Select Center" 
                            options={centerOpts} 
                            onchange={handleCenterSelect}>
                        </lightning-combobox>
                    </div>
                </div>
                <div class="slds-grid slds-gutters slds-m-bottom_small">
                    <div class="slds-col slds-size_1-of-3">
                        <label for="createdDateRange" class="slds-form-element__label">
                            Created Date Range
                        </label>
                        <div class="slds-grid slds-gutters">
                            <div class="slds-col">
                                <lightning-input 
                                    type="date" 
                                    name="from" 
                                    label="From"
                                    class="createdDate" 
                                    value={createdDateFrom} 
                                    placeholder="From"
                                    variant="label-hidden"
                                    onchange={handleCreatedDateRange}
                                    required={setRequiredCreatedDate}>
                                </lightning-input>
                            </div>
                            
                            <div class="slds-col">
                                <lightning-input 
                                    type="date" 
                                    name="to" 
                                    label="To"
                                    class="createdDate"  
                                    value={createdDateTo} placeholder="To"
                                    variant="label-hidden"
                                    onchange={handleCreatedDateRange}
                                    required={setRequiredCreatedDate}>
                                </lightning-input>
                            </div>
                            
                        </div>
                        
                    </div>
                    <div class="slds-col slds-size_1-of-3">
                        <label for="closedDateRange" class="slds-form-element__label">
                            Closed Date Range
                        </label>
                        <div class="slds-grid slds-gutters">
                            <div class="slds-col">
                                <lightning-input 
                                    type="date" 
                                    name="from" 
                                    label="From"
                                    class="closedDate"  
                                    value={closedDateFrom} 
                                    placeholder="From"
                                    variant="label-hidden"
                                    onchange={handleCloseDateRange}
                                    required={setRequiredClosedDate}>
                                </lightning-input>
                            </div>
                            
                            <div class="slds-col">
                                <lightning-input 
                                    type="date" 
                                    name="to" 
                                    label="To" 
                                    class="closedDate"
                                    value={closedDateTo} 
                                    placeholder="To"
                                    variant="label-hidden"
                                    onchange={handleCloseDateRange}
                                    required={setRequiredClosedDate}
                                    >
                                </lightning-input>
                            </div>
                           
                        </div>
                        
                    </div>
                    <div class="slds-col slds-size_1-of-3">
                        <c-lwc-multi-select-picklist 
                            label="Status" 
                            comboplaceholder="Select Status" 
                            options={statusOpts} 
                            onitemselected={handleStatusSelect}>
                        </c-lwc-multi-select-picklist>
                    </div>
                </div>
                <!--<div if:true={searchData}>
                    <lightning-datatable data={searchData} 
                                         columns={columns} 
                                         key-field="id"
                                         hide-checkbox-column="true">
                    </lightning-datatable>
                </div>-->
                
                <div class="action-button-bar">
                    <lightning-button-group>
                        <lightning-button label="Excel" onclick={exportExcel}></lightning-button>
                        <lightning-button label="Clear Filters" onclick={clearFilters}></lightning-button>
                        <!-- <lightning-button label="PDF"></lightning-button> -->
                    </lightning-button-group>
                </div>
                
            </div>
        </lightning-card>
    </form>
   
</template>