.action-button-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.25rem 0;
}

.report-card header {
    background-color: rgb(243, 241, 242);
}

.report-card .title > * {
    color: rgb(0, 40, 62);
    font-size: 1rem;
    line-height: 1.25;
}