<template>
    <div data-class="card" class={cssCard}>
        <header class="card-header slds-grid slds-grid_vertical-align-center slds-p-horizontal_x-small">

            <template if:true={collapsible}>
                <div class="collapse slds-grid slds-grid_vertical-align-center slds-p-right_x-small">
                    <svg onclick={contentToggle} class={state} viewBox="0 0 24 24"><path d="M8.3 2l9.5 9.5c.3.3.3.7 0 1L8.3 22c-.3.2-.8.2-1.1 0l-1-1c-.2-.3-.2-.8 0-1.1l7.6-7.4c.2-.3.2-.7 0-1L6.3 4.1C6 3.8 6 3.3 6.3 3l1-1c.3-.2.7-.2 1 0z"></path></svg>
                </div>
            </template>

            <div class="title"><slot name="title"></slot></div>
            <div class="actions"><slot name="actions"></slot></div>
        </header>
        <div class="card-content slds-p-around_small" data-state={state}>
            <slot></slot>
        </div>
    </div>
</template>