[data-class='card'] {
    flex-grow: 1;
    border-radius: 7px;
    border: 1px solid #bababa;
    /* overflow: hidden; */
}
svg {
    height: 1rem;
    fill: white;
    cursor: pointer;
    transform: rotate(90deg);
}
header {
    height: 42px;
    background-color: #035797;   
}
.title > * {
    color: white;
    font-size: 1rem;
    line-height: 1.25;
}
.actions {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}
[data-state="collapsed"].card-content {
    display: none;
}
svg.collapsed {
    transform: rotate(0deg);
}
.activity-card {
    border:none;
}
 .activity-card .card-header {
    display:none;
 }