.THIS .slds-modal__container{
	top: 4rem;
}
.THIS .truncated-container {width:100%}
.THIS .slds-modal__content{
	max-height: 25rem;
    background: linear-gradient(180deg, transparent, ##e0e5ee, transparent) 50% 0 repeat-y;
    background-size: 1px 1px;
}


.THIS .selected-talent-header{
	background: #fff03f;
	width: 100%;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
	color: rgb(22, 50, 92);
}

.THIS .selected-pointer {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 20px 0 20px;
	border-color: #fff03f transparent transparent transparent;
	position: relative;
	top: 20px;
	left: 0.5rem;
}

.THIS .compared-talent-header{
	background: #e0e5ee;
	width: 100%;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
	color: rgb(22, 50, 92);
}

.THIS .compared-pointer {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 20px 0 20px;
	border-color: #e0e5ee transparent transparent transparent;
	position: relative;
	top: 20px;
	left: 0.5rem;
}

.THIS .light_blue{
	background: #89B2D5;
}

.THIS .mid_blue{
	background: #005AA8;
}

.THIS .dark_blue{
	background: #002D54;
}

.THIS .essential-pill{
	background-color: #FCB95B;
}

.THIS .slds-pill .slds-pill__action{
	border: none;

}

.THIS .slds-pill{
	color: #fff;
    padding: 0.25rem 0.5rem;
    /*background: #99C6ED;*/
    margin: 0.25rem 0.25rem 0.25rem 0;
}

.THIS .slds-pill_link{
	padding: 0.25rem;
}


.THIS .selected-section{
	border-right: 1px solid #e0e5ee;
	max-height: 25rem;
}

/*.THIS .compared-section{
	border-left: 1px solid #e0e5ee;
	max-height: 25rem;
}*/