table {
    table-layout: fixed;
    border: 1px solid #dddbda;
    border-radius: 5px;
    border-collapse: separate;   
    border-spacing: 0; 
}
table th {
    background-color: #fafaf9;
    color: #514f4d;
    padding: .25rem .5rem;
    font-weight: 600;
    line-height: normal;
    border-spacing: 0; 
    border-collapse: separate;
    position: relative; 
}
.sort-btn {
    cursor: pointer;
    margin-right: 0.2rem;
}
.last-action:active {
    background-color: rgb(216, 237, 255);
}
.last-action:hover {
    background-color: rgb(216, 237, 255) !important;
}
.last-action{
    background-color: rgb(216, 237, 255);
}
.resize-handle {
    position: absolute;
    width: 10px;
    top: 0;
    right: 0;
    height: 100%; 
    cursor: col-resize;
}
.resize-handle:hover {
    border-right: 3px solid blue;
}
.resize-handle:hover::after {
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    left: 3px;
    border-right: 1px solid blue;
}
.sticky th {
    position: sticky;
    background-color: #f7f7f7;
    top: 0px;
    z-index: 2;
}
.bg-color-first:first-child {
    background-color:  rgb(216, 237, 255);
}