<template>
    <div class="slds-is-relative">
            <template if:true={noResults}>
                <div class="slds-grid slds-grid_vertical-align-center slds-grid_align-center">
                    {noResultsMsg}
                </div>               
            </template>
            <template if:false={noResults}>
                    <template if:true={showSpinner}>
                            <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
                        </template>
                        <table>        
                            <thead class={stickyHeaderCSS}>
                                <tr>
                                    <template if:true={selection}>
                                        <th style="width: 35px" class="">                            
                                            <template if:true={multiSelect}>
                                                    <div class="slds-form-element">
                                                            <div class="slds-form-element__control">
                                                                <div class="slds-checkbox">
                                                                <input onchange={handleColumnSelect} type="checkbox" id="header-checkbox" value="header-checkbox" />
                                                                <label class="slds-checkbox__label" for="header-checkbox">
                                                                    <span class="slds-checkbox_faux"></span>
                                                                    <span style="display:none;">checkbox</span>                            
                                                                </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                            </template>
                                        </th>
                                    </template>
                                   <template if:true={actions}>
                                        <th style="width: 75px">Actions</th>
                                    </template>
                                    <template for:each={tableColumns} for:item="col">                    
                                        <th key={col.field} class="slds-is-relative slds-truncate" style={col.style} title={col.label}>                           
                                            <template if:true={col.sort}>
                                                <span tabindex="0"><lightning-icon alternative-text="sort icon" class="sort-btn" data-field={col.field} onclick={handleSort} icon-name="utility:sort" size="xx-small"></lightning-icon></span>
                                            </template>
                                            {col.label}  
                                        </th>                    
                                    </template>
                
                                </tr>
                
                            </thead>
                            <tbody>
                                <template for:each={paginatedTableData} for:item="row">            
                                    <c-lwc-data-table-row 
                                        key={row.id} 
                                        row-data={row} 
                                        actions={actions}
                                        selection={selection}
                                        onrowaction={dispatchAction}                        
                                        onedit={dispatchEdit}
                                        columns={tableColumns}
                                        class={getFirstRowClass}
                                        row-select={rowSelect}
                                        onrowselectionchange={handleRowChange}
                                    ></c-lwc-data-table-row>
                                </template>
                            </tbody>
                        </table>
                        <template if:true={pagination}>
                            <c-lwc-pagination page-data={tData} default-range={rowsPerPage} onpagination={handlePagination}></c-lwc-pagination>
                        </template>
            </template>

       
    </div>
</template>