.THIS .sort-btn {
    cursor: pointer;
}
.THIS span.location:after {
    margin: 0 0.1rem;
     content: ','
 }
.THIS span.location:last-of-type:after {
    content: ''
}
.THIS .email-container {
   display: flex;
    align-items: center;
}
.THIS .phone-container {
    display: flex;
    align-items: center;
}