.table-container {
    margin: 0.5rem 0;
}

.adj-section {
    padding: 0.5rem 0.25rem;
    margin-bottom: 0.5rem;
}

.adj-header {
    font-weight: 600;
    padding: 0.25rem 0;
}

.input-group {
    display: flex;
    gap: 0.5rem;
    width: 50vw;
}

.col-50 {
    width: 50%;
}

.action-button-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.25rem 0;
}

.action-button-bar p,
.action-button-bar lightning-button {
   margin-left: 0.5rem;
}

.footer-button-bar {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    align-items: center;
}

.header-container{
    display: flex;
    align-items: center;
    padding: 0.25rem 0;
    gap: 0.5rem;
}