<template>
    <c-modal header="Adjustments" css-modal="slds-modal slds-fade-in-open slds-modal_large" modal-result="slds-modal__content slds-p-around_medium slds-scrollable">
        <section slot="modalbody">
        
            <template if:true={hasTableData}>
                <div class="table-container">
                    <template if:true={isLoading}>
                        <lightning-spinner variant="brand" size="large" alternative-text="Loading..."></lightning-spinner>    
                    </template>
                    <ul>
                        <template for:each={modalTable} for:item="tData">
                            <li key={tData.id}>
                                <div class="adj-section">
                                    <div class="header-container">
                                        <p class="adj-header">
                                            {tData.headerName}
                                        </p>
                                        <lightning-button-icon icon-name="utility:delete" alternative-text="Remove Row" title="Remove Row" onclick={handleRemoveRow} variant="bare" data-id={tData.id}></lightning-button-icon>
                                        <template if:true={isPayroll}>
                                            <lightning-button-icon icon-name="utility:copy" alternative-text="Copy Row" title="Copy Row" onclick={handleCopyRow} variant="bare" data-id={tData.id}></lightning-button-icon>
                                        </template>
                                    </div>
                                    <div class="input-group">
                                        
                                        <div class="col-50">
                                            <!--<lightning-input data-id={tData.id} data-label="Weekending__c" value={tData.inputGroup.Weekending__c} label={weekendingLabel} placeholder="Select..." variant="label-stacked" type="date" onchange={handleInputChange}></lightning-input> -->
                                            <lightning-record-edit-form object-api-name="CSC_Payroll_Adjustments__c" >
                                                <lightning-input-field field-name="Weekending__c" data-id={tData.id} data-label="Weekending__c" value={tData.inputGroup.Weekending__c} variant="label-stacked" onchange={handleInputChange}></lightning-input-field>
                                            </lightning-record-edit-form>
                                        </div>
                                        <template if:true={isCheckrequest}>
                                            <lightning-record-edit-form object-api-name="CSC_Payroll_Adjustments__c" >
                                                <lightning-input-field field-name="CSC_Earnings_Code__c" data-id={tData.id} data-label="CSC_Earnings_Code__c" value={tData.inputGroup.CSC_Earnings_Code__c} variant="label-stacked" onchange={handleInputChange}></lightning-input-field>
                                            </lightning-record-edit-form>
                                        </template>
                                        <template if:true={isPayroll}>
                                            <div class="col-50">
                                                <lightning-input data-id={tData.id} data-label="Weekday__c" value={tData.inputGroup.Weekday__c} label="Weekday" variant="label-stacked" type="date" onchange={handleInputChange}></lightning-input>
                                            </div>

                                            <div class="col-50">
                                                <lightning-record-edit-form object-api-name="CSC_Payroll_Adjustments__c" >
                                                    <lightning-input-field field-name="CSC_Adjustment_Code__c" data-id={tData.id} data-label="CSC_Adjustment_Code__c" value={tData.inputGroup.CSC_Adjustment_Code__c} variant="label-stacked" onchange={handleInputChange}></lightning-input-field>
                                                </lightning-record-edit-form>
                                            </div>
                                            <div class="col-50">
                                                <lightning-record-edit-form object-api-name="CSC_Payroll_Adjustments__c" >
                                                    <lightning-input-field field-name="CSC_Earn_Code__c" data-id={tData.id} data-label="CSC_Earn_Code__c" value={tData.inputGroup.CSC_Earn_Code__c} variant="label-stacked" onchange={handleInputChange}></lightning-input-field>
                                                </lightning-record-edit-form>
                                            </div>
                                        </template>
                                        <template if:true={tData.hasPVWage}>
                                            <div class="col-50">
                                                <!--<lightning-input data-id={tData.id} data-label="Job_Req_ID__c" value={tData.inputGroup.Job_Req_ID__c} label="Job Req Id" variant="label-stacked" type="text" onchange={handleInputChange}></lightning-input> -->
                                                <lightning-record-edit-form object-api-name="CSC_Payroll_Adjustments__c" >
                                                    <lightning-input-field field-name="Job_Req_ID__c" data-id={tData.id} data-label="Job_Req_ID__c" value={tData.inputGroup.Job_Req_ID__c} variant="label-stacked" onchange={handleInputChange}></lightning-input-field>
                                                </lightning-record-edit-form>
                                            </div>
                                        </template>
                                        
                                    </div>
                                    
                                    <lightning-datatable 
                                        data={tData.tableData}
                                        column-widths-mode="auto" 
                                        class="slds-table_header-fixed_container slds-scrollable_x slds-border_top"
                                        columns={tData.tableCols} 
                                        key-field="Id"
                                        hide-checkbox-column="true"
                                        min-column-width="100"
                                        max-column-width="200"
                                        wrap-text-max-lines="2"
                                        draft-values={draftValues}
                                        suppress-bottom-bar="true"
                                        show-row-number-column="false"
                                        oncellchange={handleTableChange}
                                        >
                                        </lightning-datatable>
                                </div>
                            </li>
                        </template>
                    </ul>
                </div>
                <div class="slds-panel slds-size_small slds-panel_docked slds-panel_docked-right slds-is-open" aria-hidden="false">
                    <div class="slds-panel__header">
                        <h2 class="slds-panel__header-title slds-text-heading_small slds-truncate" title="Panel Header"><b>Total Gross Difference : </b></h2>
                    </div>
                    
                    <div class="slds-panel__body">
                        <p><lightning-formatted-number value={grossDiff} format-style="currency" currency-code="USD" currency-display-as="symbol"></lightning-formatted-number></p>
                        <!--<lightning-record-view-form record-id={recordId} object-api-name="Case">
                            
                            <lightning-output-field field-name="Total_Gross_Difference__c" variant="label-hidden">
                            </lightning-output-field> 
                        </lightning-record-view-form>-->
                    </div>
                    
                </div>
                <div class="action-button-bar">
                    <lightning-button label="Add Adjustment" variant="neutral" onclick={handleAddAdj} icon-name="utility:add"></lightning-button>
                </div>
            </template>
        </section>
        <div slot="footer">
            <div class="slds-modal__footer slds-p-around_medium">
                <div class="footer-button-bar">
                    <lightning-button variant="neutral" onclick={handleClose} label="Cancel"></lightning-button>
                    <lightning-button variant="brand" onclick={handleSave} label="Save and Close"></lightning-button>
                </div>
            </div>
        </div>
        
    </c-modal>
</template>