.THIS .hidden-form-field {
    display : none;
}

/*@media (min-width: 48em){
    .THIS .slds-modal__container{
        max-width: 30rem;
        height: 36rem;
        width: auto;
    }
}*/

.THIS .slds-dropdown-trigger_click.slds-is-open .slds-dropdown{
    position: relative!important;
    max-height: 180px;
}
.THIS .slds-modal__content {
    max-height: UNSET; 
}
/*.THIS .slds-modal__content{
    overflow: auto;
    min-height: 200px;
}*/
/*.THIS .slds-dropdown-trigger_click .slds-dropdown, .THIS .slds-dropdown-trigger_click:hover .slds-dropdown, .THIS .slds-dropdown-trigger--click .slds-dropdown, .THIS .slds-dropdown-trigger--click:hover .slds-dropdown {
    overflow: visible;
}*/