<template>
    <template if:true={isSearching}>
        <lightning-spinner size="large" alternative-text="Apply" class="slds-is-fixed"></lightning-spinner>
    </template>

    <div class="filterContainer slds-p-top_x-small slds-p-horizontal_small" onclick={handleChange}>
        <div class="slds-grid slds-grid_vertical-align-end slds-p-bottom_x-small">
            <template for:each={filters} for:item="filter">
                <template if:true={filter.selected}>
                    <template if:true={filter.isToggle}>
                        <div key={filter.fieldSlug} class="slds-m-right_x-small">
                            <c-lwc-facet-select facet-data={filter} onfacetitemselected={updateFacets}></c-lwc-facet-select>
                        </div>
                    </template>
                </template>
            </template>

            <div class="slds-col_bump-left">
                <lightning-button label="Cancel" class="slds-m-right_x-small" onclick={resetFilters}></lightning-button>
                <lightning-button label="Clear All" class="slds-m-right_x-small" onclick={clearAllFilters}></lightning-button>
                <lightning-button label="Apply" variant="brand" class="slds-m-right_x-small" onclick={handleApply}></lightning-button>
            </div>
        </div>
        <template if:true={faultString}>
            <div class="slds-grid">
                <div class="slds-col_bump-left">
                    <span style="color: red">{faultString}</span>
                </div>
            </div>
        </template>
        <div class="slds-grid slds-wrap" style="border-top: 1px solid #dddbda; font-weight: 600">
            <template for:each={filters} for:item="filter">
                <template if:true={filter.selected}>
                    <template if:false={filter.isToggle}>
                        <div key={filter.fieldSlug} style="position: relative" class="slds-col slds-m-vertical_x-small slds-p-horizontal_x-small slds-size_1-of-3">
                            <c-lwc-req-routing-filter
                            onfacetitemselected={updateFacets}
                            onfilteropen={filterOpened}
                            onfacetitemopened={closeAllTypeaheads}
                            facet-data={filter}
                            onclick={updateFilters}
                            name="updtfilters"
                            ></c-lwc-req-routing-filter>
                        </div>
                    </template>
                </template>
            </template>

            <div class="slds-col slds-m-vertical_x-small slds-p-horizontal_x-small slds-size_1-of-3">
                <label class="slds-m-bottom_xx-small bold smaller">&nbsp;</label> <!-- Leave this to keep spacing accurate -->
                <div class="slds-p-around_x-small">
                    <lightning-button variant="neutral" label="Customize Filters" onclick={toggleFilters} style="display: grid;margin-top: -5px;min-height: 38px;width: 100%;"></lightning-button>
                </div>
            </div>
        </div>
    </div>

    <template if:true={showFiltersModal}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_small">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={toggleFilters}>
                        <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                            <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#close"></use>
                        </svg>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Customize Req Routing Filters</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <div class="slds-grid slds-wrap">
                        <!-- Default -->
                        <div class="slds-col slds-size_1-of-1 slds-m-bottom_medium">
                            <span class="slds-text-heading_small">Default Filters</span>
                        </div>
                        <template for:each={filters} for:item="item">
                            <template if:true={item.selectable}>
                                <template if:true={item.defaultFacet}>
                                    <div key={item.displayTitle.en_US} class="slds-col slds-size_1-of-5 slds-m-bottom_medium">
                                        <lightning-input type="checkbox" label={item.displayTitle.en_US} checked={item.selected} data-fieldname={item.fieldSlug}></lightning-input>
                                    </div>
                                </template>
                            </template>
                        </template>

                        <!-- Additional -->
                        <div class="slds-col slds-size_1-of-1 slds-m-bottom_medium slds-m-top_medium">
                            <span class="slds-text-heading_small">Additional Filters</span>
                        </div>
                        <template for:each={filters} for:item="item">
                            <template if:true={item.selectable}>
                                <template if:false={item.defaultFacet}>
                                    <div key={item.displayTitle.en_US} class="slds-col slds-size_1-of-5 slds-m-bottom_medium">
                                        <lightning-input type="checkbox" label={item.displayTitle.en_US} checked={item.selected} data-fieldname={item.fieldSlug}></lightning-input>
                                    </div>
                                </template>
                            </template>
                        </template>
                    </div>
                </div>
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={toggleFilters}>Cancel</button>
                    <button class="slds-button slds-button_brand" onclick={addFilters}>Update Filters</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>