.THIS .saved-address{
	min-height: 36vh;
	padding: 1rem;
	background-color: rgb(250, 250, 250);
	border: 1px solid #e7e7e7; 
}

.THIS .address-section .slds-input{
	min-height: calc(2.125rem + 2px);
}

.THIS .match-req {
   border-left: 5px solid #00cdcd;
   background-color: #f4ffff; 
}
.THIS .border-around {
  border: 1.5px solid rgb(221, 219, 218);
  border-radius:3px;
}
.THIS .color-background .slds-form-element {
    border-left: 5px solid #00cdcd;
    padding-left:12px;
    border-radius:3px;
}
.THIS .color-background {
    background-color: #f4ffff;
}
.THIS .address-edit .slds-input {
   border-left: 5px solid #00cdcd;
   background-color: #f4ffff; 
}