<template>
   <!-- Handle the data having with Labels-->
 <section>

    <div class="comments-container slds-p-left_x-large">
       <!-- <div if:true={showName} class="slds-grid" style="font: bold" >
             <div class="row-value slds-p-right_small">{fieldLabel}:</div>
             <div if:false={isDateType}>                                                            
                <div if:false={popOver}>
                      <div if:false={isDefualtTwoLinesVisiblie} class="comments field-eow-val" data-id="htmlDataId">
                      </div>
                      <div if:true={isDefualtTwoLinesVisiblie} class="comments2 field-eow-val" data-id="htmlDataId">
                      </div>
                </div>
                <button if:true={moreButton} class="slds-m-left_x-small btn-bold" onclick={toggleContent}>
                   {moreButtonLabel}
                </button>
                              
             </div>            
          </div>
       </div> -->
       <dl if:true={showName} class="slds-dl_horizontal slds-grid flex-start" style="font: bold">
          <dt tabindex="0" class="row-value slds-dl_horizontal__label">{fieldLabel}: <br/>
          <div if:true={isComments}>
           <lightning-button-icon if:true={emailMessageId} icon-name="utility:new_window" variant="bare" alternative-text={label.CRM_EmailLabel} title={label.CRM_EmailLabel}  onclick={navigateToemail}></lightning-button-icon>
          <lightning-formatted-text if:true={emailMessageId} class = "emaildetails-text-url" value={label.CRM_EmailLabel} onclick={navigateToemail} style="color:blue" linkify></lightning-formatted-text>
          </div>
           </dt>
          <dd tabindex="-1" if:false={isDateType} class="slds-dl_horizontal__detail">
             <div if:false={popOver}>
                <div tabindex="0" if:false={isDefualtTwoLinesVisiblie} class="comments field-eow-val" data-id="htmlDataId">
                   {loadDisplayValue}
                </div>
                <div if:true={isDefualtTwoLinesVisiblie} class="comments2 field-eow-val" data-id="htmlDataId">
                   {loadDisplayValue}
                </div>
             </div>
             <button if:true={moreButton} class="slds-m-left_x-small btn-bold" onclick={toggleContent}>
                {moreButtonLabel}
             </button>
             <!-- <lightning-button if:true={moreButton} variant="base" label={moreButtonLabel} title=""
                               onclick={toggleContent} class="slds-m-left_x-small btn-bold"></lightning-button> -->
          </dd>
       </dl>
    </div>

      <span if:false={showName} class="slds-truncate" style="font: bold">
          <span if:false={isDateType} class="slds-grid" >
                <div if:true={popOver} class="pad-center-align" onmouseover={onMouseOverDetails} onmouseout={onMouseOutDetails}>
                      <!-- <a onclick={clickLink} class="assign-val-popfld" data-target-id="overview">{fieldValue}</a> -->
                      <p tabindex="0" class="assign-val-popfld" data-target-id="overview">{fieldValue}</p>
                      <slot></slot>
                </div>                                                                                          
                <span tabindex="0" if:false={popOver} class="slds-truncate row-value slds-p-left_xx-small pad-center-align" title={fieldValue}>{fieldValue}</span>
          </span>        
      </span>
      <div if:true={isDateType} class="assign-val-popfld pad-center-align">
         <div if:true={isEventRecordType} tabindex="0">
          <lightning-formatted-date-time data-target-id="dateoverview" onmouseover={handleMouseOver} onmouseout={handleMouseOut} value={fieldValue} year="numeric" month="short" day="2-digit" ></lightning-formatted-date-time>&nbsp;&gt;
        </div>
        <div if:false={isEventRecordType} style="color: black" class="field-eow-val" tabindex="0">                  
             <!-- {fieldValue} -->
             <lightning-formatted-date-time time-zone="UTC" data-target-id="dateoverview"  value={fieldValue} year="numeric" month="short" day="2-digit"></lightning-formatted-date-time>
           </div>
       </div>
     
 </section>
   <!-- Show popover -->
 <div class={cssPopOverDisplay}>
    <div if:true={userDetails}
       data-class={popoverAlignment}
       class="act-detail-assign slds-popover slds-nubbin_top-right slds-popover_medium slds-p-around_small">
       <div class={displaySpinner}>
          <lightning-spinner alternative-text="Loading..." size="small"></lightning-spinner>
       </div>
       <div if:false={popOverDisplayed}>
 
          <div class="slds-popover__header slds-text-heading_medium assign-val-blue assign-font-bold">
             {userDetails.user.Name} </div>
 
          <div class="slds-popover__body">
             <div><span class="assign-font-bold">{label.ATS_JOB_TITLE}:</span><span
                   class="slds-p-left_x-small">{userDetails.user.Title}</span></div>
             <div><span class="assign-font-bold">{label.ATS_FACET_OFFICE}:</span><span
                   class="slds-p-left_x-small">{userDetails.user.Office__c} </span> </div>
             <div> <span class="assign-font-bold">{label.ATS_FACET_OPCO}:</span> <span
                   class="slds-p-left_x-small">{userDetails.user.CompanyName}</span></div>
             <div><span class="assign-font-bold">{label.ATS_EMAIL}:</span> <span
                   class="slds-p-left_x-small">{userDetails.user.Email} </span></div>
             <div><span class="assign-font-bold">{label.ATS_PHONE}:</span><span
                   class="slds-p-left_x-small">{userDetails.user.Phone}</span> </div>
             <div><span class="assign-font-bold">{label.ATS_DIVISION}:</span><span class="slds-p-left_x-small">
                   {userDetails.user.Division__c} </span> </div>
          </div>
 
       </div>
    </div>
 </div>
 
   <!-- Show date popover -->
 <div class={cssDatePopOverDisplay}>
      <div class="popover-relative">
      <div if:true={datePopOverDisplayed} class="slds-popover slds-nubbin_top-right act-date-popover slds-popover_small">
         <div if:true={isEventRecordType} class="slds-popover__body">
            <span class="last-edit-label">{label.ATS_START_DATE_TIME}: </span>
            <lightning-formatted-date-time value={fieldValue} hour="2-digit" minute="2-digit" ></lightning-formatted-date-time>
            </br>
            <span class="last-edit-label">{label.ATS_LAST_EDITED}: </span>
            <lightning-formatted-date-time value={lastModifiedTime} year="numeric" month="short" day="2-digit"></lightning-formatted-date-time>
         </div>
      </div>
    </div>
 </div>

</template>