.hide-popover{
    display: none;
}

/* .show-popover {
    position: relative;
} */

/* .act-date-popover{
    position: absolute;
    right: 16%;
    margin-top:2%;
}
.act-detail-assign{
    position: absolute;
    right: 38%;
    margin-top: 2%;
} */
.emaildetails-text-url {
    cursor: pointer;
    vertical-align: sub
}
.show-popover {
    position: relative;
}

.act-detail-assign {
    transform: translate(-16rem, 1.25rem);
    position: absolute;
    z-index: 9000;
}

.act-date-popover {
    transform: translate(-10rem, 1.25rem);
    position: absolute;
    z-index: 9000;
}

.assign-val-popfld{
    color: #0070D2;
    font-weight: 500;
    font-size: 12px;
}
.assign-val-blue{
    color: #0070D2;
}
.assign-font-bold{
    font-weight: bold;
}
.grid-inline-block{
    display: inline-block;
}
.row-value{
    white-space: nowrap;
    font-weight:  bold;
    font-size: 12px;
    color: #383838;
}
.field-eow-val{
    font-size: 12px;
    color: #383838;
}
.pad-center-align{
    padding-top:3px;
}
.last-edit-label{
    font-weight: bold;
    padding-right: 8px;
}

.btn-bold{
    position: absolute;
    right: 0;
    top: -5px;
    font-size: 12px;
    font-weight: bold;
    color: #0070d2;
    border: unset;
    background-color: #ffffff;
}

.btn-bold:focus,
.btn-bold:active {
    outline: unset;
    box-shadow: unset;
}

.comments-container {
    position: relative;
    padding-right: 3rem;
}
.comments {
    height: 1.2rem;
    overflow: hidden;
}
.comments2 {
    height: 2.4rem;
    overflow: hidden;
}

dl {
    margin: 0.25rem 0;
}

dt {
    /* width: 15%; */
    padding-right: 0.75rem;
}

dd {
    /* width: 85%; */
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}
[data-class="center"] {
    transform: translate(-6rem,1.25rem);
}
[data-class="center"]:before {
    width: 1rem;
    height: 1rem;
    position: absolute;
    transform: rotate(45deg);
    content: '';
    background-color: inherit;
    left: 50%;
    top: -.5rem;
    margin-left: -.5rem;
}
[data-class="center"]:after {
    box-shadow: -1px -1px 0 0 rgba(0, 0, 0, 0.16);
    z-index: -1;
    width: 1rem;
    height: 1rem;
    position: absolute;
    transform: rotate(45deg);
    content: '';
    background-color: inherit;
    left: 50%;
    top: -.5rem;
    margin-left: -.5rem;
}