.THIS .saved-address{
	min-height: 36vh;
	padding: 1rem;
	background-color: rgb(250, 250, 250);
	border: 1px solid #e7e7e7; 
}

.THIS .address-section .slds-input{
	min-height: calc(2.125rem + 2px);
}