.THIS .custom-logo img {
    width: 3rem;
    height: auto;
    margin-right: 0.5rem;
}

.THIS .custom-logo .slds-title-text {
    font-size: 2rem;
}

.THIS .custom-logo div {
    margin: 0 0.25rem;
}

.THIS .auto-match-section {
    background-color: rgb(236, 235, 234);
}