<template>
        <div class="details-container">
            <template if:true={showSpinner}>
                <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
            </template>
            <div class="header">
                <c-lwc-record-url record-id={record.id} object={record.object} text={record.name}></c-lwc-record-url>
                &nbsp;- {record.jobTitle} at&nbsp;
                <c-lwc-record-url record-id={record.companyId} object="Contact" text={record.company}></c-lwc-record-url>
                <!-- <a href="#">{record.company}</a> -->
                <p class="ref-count">Reference for {references.length} Candidate(s)</p>
            </div>
            <template for:each={references} for:item="ref" for:index="index">
                <c-lwc-section key={ref.name} collapsed={ref.collapsed}>
                    <div slot="header" class="slds-grid ref-details-header">
                        <div class="ref-for">
                            <p>Reference for: <c-lwc-record-url record-id={ref.talentId} object="Contact" text={ref.name} field-label="ReferenceFor" onclickonlink={handleLinkClickAction}></c-lwc-record-url></p>
                        </div>
                        <div class="created-date">
                            <p></p>Created date: <span class="date">
                                <lightning-formatted-date-time 
                                title={ref.createdDate}                            
                                value={ref.createdDate}                                            
                                time-zone="UTC"
                           ></lightning-formatted-date-time>                                
                            </span></p>
                        </div>
                    </div>
                    <div class="body">
                        <div class="row1">
                            <div class="info slds-truncate">
                                <label>Title</label>
                                <p class="slds-truncate" title={ref.title}>{ref.title}</p>
                            </div>
                            <div class="info slds-truncate">
                                <label>Email</label>                                
                                <lightning-formatted-rich-text
                                    value={ref.email}
                                >    
                                </lightning-formatted-rich-text>
                                <!-- <p key={email}>{email}</p> -->
                                
                            </div>
                            <div class="info slds-truncate">
                                <label>Phone</label>
                                <lightning-formatted-rich-text
                                    value={ref.phone}
                                >    
                                </lightning-formatted-rich-text>
                                <!-- <template for:each={ref.phone} for:item="phone">
                                    <p key={phone}>{phone}</p>
                                </template>                                 -->
                            </div>
                        </div>
                        <div class="row2">
                            <div class="info slds-truncate">
                                <label>Date Employed</label>
                                <p class="slds-truncate">
                                    <lightning-formatted-date-time 
                                        title={ref.startDate}                                                                  
                                        value={ref.startDate}                                            
                                        time-zone="UTC"
                                    ></lightning-formatted-date-time>
                                    <span> - </span>
                                    <lightning-formatted-date-time 
                                        title={ref.endDate}                            
                                        value={ref.endDate}                                            
                                        time-zone="UTC"
                                    ></lightning-formatted-date-time>
                                </p>
                            </div>
                            <div class="info">
                                <label>Reference Checked by</label>
                                <p>                                    
                                    <!-- Recruiter Popover -->
                                    <c-timelineitemdetails
                                        field-name=""
                                        field-value=" "
                                        user-id={ref.userId}
                                        pop-over="true"
                                        popover-alignment="center"
                                    >
                                        <c-lwc-record-url record-id={ref.userId} object="User" text={ref.referenceCheckedBy} field-label="ReferenceCheckedBy" onclickonlink={handleLinkClickAction}></c-lwc-record-url>
                                    </c-timelineitemdetails>
                                </p>
                            </div>
                            <div class="info slds-truncate">
                                <label>Created Date</label>
                                <p>
                                    <lightning-formatted-date-time 
                                        title={ref.createdDate}                            
                                        value={ref.createdDate}                                            
                                        time-zone="UTC"
                                    ></lightning-formatted-date-time>                                      
                                </p>
                            </div>
                        </div>
                        <div class="row3">
                            <div class="info">
                                <label>Job Duties & Technologies</label>
                                <p>{ref.jobDuties}</p>
                            </div>
                        </div>
                        <div class="row4">
                            <div class="info">
                                <label>Project Description</label>
                                <p>{ref.projectDescription}</p>
                            </div>
                        </div>
                    </div>
                </c-lwc-section>
            </template>            
        </div>
</template>