.details-container {
    width: 100%;
    position: relative;
}
.header {
    text-align: center;
    font-size: 18px;
}
.ref-count {
    font-style: italic;
}
.ref-details-header {
    width: 100%;
    justify-content: space-between;
    font-weight: 600;
}
.ref-details-header a.name {
    color: rgb(0, 109, 204);    
}
.ref-details-header .name, .ref-details-header .date {
    font-weight: normal;
}
.body > div {
    display: flex;
    padding-bottom: .5rem;
}
.row1 .info, .row2 .info {
    flex: 1 1 33.33%;
}

.body > div:not(:last-of-type) {
    margin-bottom: .5rem;
    border-bottom: 1px solid lightgray;
}
.body label {
    font-weight: 600;
}