.THIS .slds-checkbox_on,
.THIS .slds-checkbox_off {
    display: none!important;
}

.THIS .slds-checkbox_toggle [type=checkbox]:checked+.slds-checkbox_faux_container .slds-checkbox_faux{
    border-color: #006B3F;
    background-color: #006B3F;
}

.THIS .slds-form-element__label {
    color: unset;
    font-size: unset;
    padding-top: .125rem;
}