
.THIS .accordion-item-header {
    display: flex;
    cursor: pointer;
    background-color: #035797;
    margin: 0;
    padding: 5px 5px 5px 15px;
    height: 42px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    align-items: center;
    color: white;
}
.THIS .accordion-item-header svg {
    fill: white;
}
.THIS .accordion-item {
    width: 100%;
}
.THIS .accordion {
    width: 100%;
}
.THIS .show {
   max-height: 1200px;
}

.THIS .hide {
   max-height: 0px;
   overflow: hidden;
   visibility: hidden;
}


.THIS .g2-textarea {height:55px}

.THIS .slds-modal__container {
    max-width: 100%!important;
    width: 98%;
    margin:auto!important;    
    overflow:hidden;
}

.THIS.toggle {
    display: none;
}
.THIS .slds-table th, .THIS .slds-table td {
    padding: .25rem .5rem!IMPORTANT;
}
.THIS hr { margin: .5REM;}
.THIS .font-weight_heavy {font-weight:600; font-size: 14px}
.THIS .uiInput--select.select:not([multiple]), .THIS .uiInput--select .select:not([multiple]), .THIS .uiInput--select .uiPopupTrigger a {
    height: 2.25rem;
    line-height: 1.875rem;
}
.THIS .slds-checkbox [type=checkbox][disabled]+.slds-checkbox_faux:after, .THIS .slds-checkbox [type=checkbox][disabled]+.slds-checkbox--faux:after, .THIS .slds-checkbox [type=checkbox][disabled]~.slds-checkbox_faux:after, .THIS .slds-checkbox [type=checkbox][disabled]~.slds-checkbox--faux:after, .THIS .slds-checkbox [type=checkbox][disabled]+.slds-checkbox__label .slds-checkbox_faux:after, .THIS .slds-checkbox [type=checkbox][disabled]+.slds-checkbox__label .slds-checkbox--faux:after {
    border-color: grey;
}

.THIS .slds-tabs__nav-scroller {
    position: fixed;
    z-index: 999999999999;
    width: 100%;
    background: white;
    margin-left:-20px;
    
}
.THIS .slds-tabs_default__nav, .THIS .slds-tabs--default__nav {
    position: absolute;
    background: white;
    width: -webkit-fill-available;
}
.THIS .split .slds-tabs_default__nav, .THIS .split .slds-tabs--default__nav {
    width: calc(100% - 668px);
    left: 8px;
}
.THIS .slds-card {
    position: relative;
    padding: auto;
    background: white;
    border: 1px solid #dddbda;
    border-radius: 0.25rem;
    background-clip: padding-box;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
}
.THIS .no-label label{display:none;}
.THIS .disabled-field {
    background: #eee;
    width: 100%!important;
    padding: 0 1rem 0 .75rem;
    line-height: 1.875rem;
    min-height: calc(2.125rem + 2px);
    display: block!important;
    border-radius: 3px;
    border: 1px solid #ddd;
    color: #999;
}
.THIS .disabled {background: #eee;}

.THIS .prefix{
    width: 6rem;
}

.THIS .suffix{
    width: 3.5rem;
}

.THIS .mi{
    width: 7.5rem;
}


.THIS .job-title-field .form-element__label{
    font-size: .75rem;
    color: rgb(112, 110, 107);
    line-height: 1.5;
}

.THIS .address-section .slds-input{
    min-height: calc(2.125rem + 2px);
    margin-bottom: 0.5rem;
}


/*Sandeep : SplitView Styles Start here*/

.THIS .split-toggle {
    top: 0;
    right: unset;
    z-index: 6;
    right: -1.50rem !important;
    position: fixed;
}
.THIS .slds-split-view__toggle-button {
    position: absolute;
    right: -.75rem;
    height: 25%;
    background: rgb(255, 255, 255);
    border-radius: 0 8px 8px 0;
    border: 0;
    background-color: rgba(27, 82, 151, 1.0);
    color: white;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 .75rem;
}
.THIS .slds-split-view__toggle-button lightning-primitive-icon { position:absolute; top: 5px }
.THIS .split-toggle .lightningPrimitiveIcon {
    display:block; margin-top: -38px;
}
.THIS .main-content {
    position: relative;
    left: 0;
    right: 0;
    height:100%;
    overflow: hidden;
    z-index: 0;
}
.THIS .split-left {
    position: fixed;
    overflow: auto;
    z-index: 5;
    height: calc(85vh - 120px);
}
.THIS .split-right {
    position: relative;
    padding-left: 0.5rem;
    height: calc(85vh - 120px);
}
.THIS .fullRight .split-left {
    display: none;
}
.THIS .fullRight .split-toggle {
    left: 0;
}
.THIS .fullRight .split-right {
    width: calc(100% - 0.75rem);
    left: .75rem;
}
.THIS .split-toggle_button-name{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    display: inline-block;
    transform-origin: 0;
    padding-bottom: 0.5rem;
    font-weight: 600;
    
}
.THIS .split .split-left {
    width: 625px;
}
.THIS .split .split-right {
        left: calc(625px + 0.75rem);
    width: calc(100% - 625px );
    border-left: 2px solid rgba(27, 82, 151, 1.0);
    padding: 0 .75rem;
    margin-left: -.75rem;
}

.THIS .splits-modal .split-right .slds-scrollable_y {max-height:500px;}

.THIS .slds-modal__content{
    display: flex;
    flex-direction: row;
}
.THIS .slds-tabs_default__content, .THIS .slds-tabs--default__content {
    padding-top: 40px;
}
.THIS .slds-split-view__toggle-button .slds-assistive-text{
    -webkit-transform: rotate(90deg)!important;
    -moz-transform: rotate(90deg)!important;
    -o-transform: rotate(90deg)!important;
    -ms-transform: rotate(90deg)!important;
    transform: rotate(90deg)!important;
    display: block!important;
    color: white!important;
    font-weight: 600!important;
    position: relative!important;
    width: unset!important;
    height: unset!important;
    overflow: unset!important;
    top: -25px!IMPORTANT; 
}
.THIS .split-left .cC_IFrameDisplay.wrap{
    height:unset!important;
    display:inline;
}
.THIS .g2-checkbox {
    float: right;
    margin-left: 5px;
    margin-top: 1px;
}

.THIS .accordion-item-body {
    transition: 0.2s ease-in;
    border: 1px solid lightgray;
}
.THIS .slds-form-element__label {
    margin-bottom: 0.25rem;
}
.THIS .input {
    min-height: 0;
}
.THIS .form-element__label {
    margin-bottom: 0.25rem;
}

.THIS .date-pick-wrap {
    display: inline-flex;
    justify-content: center;
    margin-top: 16px;
}
.THIS .date-pick-wrap lightning-input {
    padding-right: 5px;
}
.THIS .rel-can-pos div:first-child {
    display: flex;
}
.THIS .rel-can-pos div:first-child label {
    padding-right: 5px;
}
.THIS .rel-div {
    padding-top: 24px;
}
.THIS .add-info-title {
    padding: 0 5px;
}

.THIS .modal-content-left {
    position: relative;
}
.THIS .modal-content-right {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    padding: 0 20px;
}
.THIS .cC_TalentResumePreview .wrap {
    height: 100% !important;
}
.THIS .cC_TalentResumePreview {
    height: 100%;
    overflow: hidden;
    width: 0;
}
.THIS .cC_TalentResumeHTMLViewer {
    height: 100%;
}
.THIS .cC_TalentResumeHTMLViewer .viewer_container {
    height: 100%;
    padding: .5rem;
}
.THIS .cC_TalentResumePreview .slds-card__body .slds-p-around_small {
    padding-left: 0;
    padding-right: 0;
}
.THIS .opened-split .cC_TalentResumePreview {
    width: 100%;

    border-right: 2px solid rgba(27, 82, 151, 1.0);
    border-radius: 0;

}
.THIS .opened-split .cC_TalentResumePreview header {
    padding: .5rem;
}
.THIS .opened-split {
    width: 60%;
}
.THIS .cC_TalentResumePreview .slds-card__body {
    height: calc(100% - 58px);
}
.THIS .cC_TalentResumePreview .slds-p-around_small {
    height: 100%;
}
.THIS .still-in-position {margin-bottom: 11px;}
.cC_TalentReferenceModal .uiInput--select.select:not([multiple]), .cC_TalentReferenceModal .uiInput--select .select:not([multiple]), .cC_TalentReferenceModal .uiInput--select .uiPopupTrigger a {
    line-height: 1.875rem;
    height: 30px;
}

.THIS .section-col {
    flex: 1 1;
    min-width: 250px;
}
.THIS .workexp select {
    border: none;
}
.THIS .section-col2 {
    flex: 1 1;    
    min-width: 500px;
}
.THIS .half-size {
    width: 50%;
}
.THIS .flex-wrap {
    flex-wrap: wrap;
    margin: 1rem 0;
}
.THIS .in-position div.uiInput {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;    
}
.THIS .in-position label {
    padding-right: 5px;
}
.THIS .in-position > div.uiInput * {
    margin: 0;
}

.THIS .uiInput--default .form-element__label {
    font-weight: 600;
}
.THIS label.uiLabel span {
    font-weight: 600;
}
.THIS .input-wrap label {
    font-weight: 600;
}
.THIS .talents-job-label {
    font-weight: 600;
}
.THIS #resumeWrap > div {
    height: 100%;
}
.THIS .req-indicator {  
    font-weight: 600;
    color: rgb(194, 57, 52);
    line-height: 0;
}
.THIS .show-more-action {
    cursor: pointer;
    position: absolute;
    bottom: 0.8rem;
    background-color: white;
    left: 1.4rem;
    transform: translateY(50%);
    font-weight: 600;
    color: #035797;
    padding-left: .3rem;
    padding-right: .3rem;
    z-index: 1;
    text-transform: capitalize
}
.THIS .work-exp.show .show-more-action {
    display: block;
}
.THIS .show.more.work-exp {
    max-height: 7.4rem;
    overflow: hidden;
}
.THIS .required-text {
    color: rgb(194, 57, 52);
    font-size: 0.7rem;
    font-weight: 400;
    padding-left: 1rem;
}
.THIS label {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    display: block;
    color: rgb(62, 62, 60);
    font-size: .75rem;
    padding-right: .5rem;
    padding-top: .25rem;
    margin-bottom: .125rem!important;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.THIS .slds-form-element.cC_LookupRecentlyViewed {
    margin-top: 0!important;
}
.THIS .slds-form-element.cC_LookupLtng {
    margin-top: 0!important;
}
.THIS .capsize {
    text-transform: capitalize;
}
.THIS .personal-info .section-col {
    border-right: 1px solid lightgray;
}
.THIS .personal-info .section-col:last-of-type {
    border-right: none;
}

.THIS .cConnectedDropdownMenu {
    line-height: 1.5;
    align-items: center;
}
.THIS .section-container-row {
    flex-grow: 1;
    flex-shrink: 1;
}

.THIS #job-duties,
.THIS #work-quality,
.THIS #non-tech-skills,
.THIS #performance-ability,
.THIS #cooperation,
.THIS #strengths-comments,
.THIS #project-description,
.THIS #work-load,
.THIS #cultural-environment,
.THIS #initiative,
.THIS #attendance,
.THIS #growth-opportunities,
.THIS #additional-notes,
.THIS #reference-comments {
flex-direction: row;
background: rgb(255, 255, 255);
border: 1px solid white;
border-radius: .25rem;
}

.THIS .truncated-container::after {
content: 'MORE' !important;
background: white;
right: 0;
font-size: .7rem;
transform: translate(-3px, -25px);
float: right;
padding: 5px 6px 0 8px;
color: rgb(0, 109, 204);
}

.THIS .focused-div-container {
    border: 1px solid rgb(0,140,231) !important;
    box-shadow: 0 0 3px rgba(0,140,231,1);
    border-radius: .25rem;
}