.THIS {
	width: 100%;
}

.THIS .error-input{
	border: 1px solid rgb(194, 57, 52);
}

.THIS hr{
	margin: 1rem 0;
}

.THIS .slds-modal__container{
    width:100%;
}

@media (min-width: 48em){
    .THIS .slds-modal__container {
        margin: 0 auto;
        width: 100%;
        max-width: 100rem;
        min-width: 20rem;
    }    
}

.THIS .boldtext {
 	font-weight: 600;
 	position: relative;
 	top: 0.125rem;
}

.THIS .uiInput--default.has-error .form-element__help{
	margin-top: 0.125rem;
	font-weight: 600;
}

.THIS .toast-container{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10000;
}

.THIS lightning-helptext.help-button-icon{
	top: -2px;
}

.THIS .slds-form-element__label{
	margin-bottom: 0.25rem;
}

.THIS .slds-gutters{margin-right: 1rem;margin-left: 1rem;}

.THIS .edit-mode-helptext .slds-form-element__icon{
	position: absolute;
	transform: translate(112px, -22px);
}

.THIS .custom_lightninginput{
    width : 100%;
}
.THIS .custom_required{
    position: absolute;
	color : rgb(194, 57, 52);    
}

.THIS .custom_input .slds-form-element__label{
    margin-left : .5rem;
}
.THIS .slds-modal__content{
    overflow: initial;
}

.THIS .label-none .slds-form-element__label {
	display: none !important;
}