.THIS .search-facet-match-wrapper {
	padding: 0.75rem;
	margin-bottom: 3rem;
}

.THIS .search-facet-wrapper {
	margin-bottom: 3rem;
}

.THIS .uiInput--default .form-element__label{
	margin-left: 0.5rem;
	text-transform: capitalize;
}

.THIS .slds-pill {
	max-width: 240px;
}

.THIS .search-facet-label{
	font-size: 0.75rem;
}

.THIS .slds-section__title-action{
	text-transform: uppercase;
}

.THIS .slds-listbox__option {
	text-transform: capitalize;
}

.THIS .uiInput--input .input{
	font-size: 0.75rem;
	padding: 0 1rem 0 0.40rem;
}

.THIS .uiInput--datetime .datePicker-openIcon{
	right: 0.40rem;
	bottom: 9px;
}

.THIS .slds-pill__label{
	font-size: 0.75rem;
}

.THIS .help-text{
    margin-left: 0.25rem;
}

.THIS .help-text .slds-form-element__icon{
    transform: translateY(0.125rem);
}

.THIS .not-in-criteria{
	font-style: italic;
}