.THIS textarea {
    width: 100%;
    border: none;
    /* margin-bottom: -6px; */
    line-height: 195%;
    resize: none;
    overflow: hidden;
    background-attachment: unset;
}

.THIS textarea:focus {
    outline: none !important;
}
.THIS {
    width: 100%;
}
.THIS .preline-valid {
    border-left: 5px solid #00cdcd;
}

.THIS .search-match {
    background-color: #f4ffff;
}

.THIS .truncated-container::after {
    content: "MORE" !important;
    background: white;
    right: 0;
    font-size: .7rem;
    transform: translate(-4px, -30px);
    float: right;
    padding: 5px 6px 0 8px;
    color: rgb(0, 109, 204);
}

.THIS .truncated-sm::after {
    background: #f4ffff !important;
}

.THIS .truncated-search textarea {
    resize: none;
}


.THIS .textarea-wrapper {
    flex-direction: row;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(221, 219, 218);
    border-radius: .25rem;
    padding: 1px 0px 1px 5px;
}

.THIS:focus {
    outline: none;
}


.THIS .focused-div-container {
    border: 1px solid rgb(0,140,231) !important;
    box-shadow: 0 0 3px rgba(0,140,231,1);
}

.THIS .search-text-area textarea{
    padding: 0.25rem 0.5rem;
    resize: none;
}