.THIS .slds-pill__label {
    text-transform: capitalize;
    display: inline-flex;
}

.THIS .truncate-badge{
	display: inline-block;
	max-width: 4.5rem;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.THIS em{
	color: #969492;
}

@media (min-width: 1400px){
	.THIS .truncate-badge{
		max-width: 5rem;
	}
}

@media (min-width: 1900px){
	.THIS .truncate-badge{
		max-width: 100%;
		margin-right: 0.25rem;
	}
}