.THIS {
    height: calc(100vh - 10rem);
    display: flex;
    flex-direction: column;
}

.THIS .activity-details {
    flex-grow: 1;
    margin-bottom: 2.4rem;
}

.THIS .task-layout {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.THIS .task-layout .slds-card__header {
    background: #f3f2f2;
}

.THIS .custom-scroll-body .slds-card__body::-webkit-scrollbar-corner {
    background-color: inherit;
}

.THIS .custom-scroll-body .slds-card__body::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
    height: 7px;
}

.THIS .custom-scroll-body .slds-card__body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
}

.THIS .custom-scroll-body .slds-card__body:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.THIS .custom-scroll::-webkit-scrollbar-corner {
    background-color: inherit;
}

.THIS .custom-scroll::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
    height: 7px;
}

.THIS .custom-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
}

.THIS .custom-scroll:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}

.THIS .bottom-left-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 5px;
}

.THIS .myact-new {
    flex-grow: 1;
    height: 170px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.THIS .cC_TalentResumeHTMLViewer .viewer_container {
    height: inherit;
}

.THIS .lgc-bg lightning-button-menu button {
    display: flex;
    border: 1px solid lightgray;
    color: rgb(112, 110, 107);
}

.THIS .lgc-bg lightning-button-menu button>lightning-primitive-icon:first-of-type {
    order: -1;
}

.THIS .lgc-bg lightning-button-menu button>lightning-primitive-icon {
    padding: 0 .3rem;
}

.THIS .lgc-bg lightning-button-menu button>lightning-primitive-icon svg {
    fill: rgb(112, 110, 107);
    height: 0.75rem;
    width: 0.75rem;
}

.THIS .task-layout-padding .slds-card__header {
    padding-left: 8px;
    padding-right: 0px;
    padding-bottom: 3.5px;
    border-bottom: 1px solid rgb(221, 219, 218);
}

.THIS .task-layout-nocontent {
    padding-right: 5px;
}

.THIS .layout-nocontent .slds-card {
    padding-bottom: 257px;
}

.THIS .layout-nocontent-fill .slds-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.THIS .bottom-left-panel-inner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.THIS .layout-nocontent .slds-card__body {
    background: #f3f2f2;
    padding: 10px;
    position: relative;
    top: -15px;
    border-bottom: 1px solid rgb(221, 219, 218);
}

.THIS .layout-nocontent-fill .slds-card__body {
    background: #f3f2f2;
    padding: 10px;
    position: relative;
    top: -15px;
    border-bottom: 1px solid rgb(221, 219, 218);
}

.THIS .margin-left-none {
    margin-left: 0px;
}

.THIS .flex-order-val {
    border: 1px solid #E2E0DF;
    box-sizing: border-box;
    border-radius: 4px;
}

.THIS .flex-order-val .act-restrict .act-tabs .act-btn-class {
    flex: none;
}

.THIS .task-layout-padding .slds-modal__content:last-child {
    box-shadow: none;
}

.THIS .box-shadow-none .activity-header .slds-card {
    box-shadow: none;
}

.THIS .box-shadow-none .custom-scroll {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-clip: padding-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
}

.THIS .record-header {
    border: none;
    border-radius: 0px;
}

.THIS .activity-header {
    border-bottom: 1px solid rgb(221, 219, 218);
}

.THIS .action-filter-pos .slds-dropdown_left {
    left: auto;
    right: 0;
    transform: translateX(0);
}

.THIS .flex-order-val .act-restrict .slds-form-element__label {
    color: #000
}

.THIS .activity-table {
    height: 190px;
    overflow-y: auto;
}