.THIS .slds-button {
    cursor: pointer;
}
.THIS .slds-button:hover svg {
    fill: rgba(27, 82, 151, 1);
}

.THIS .disabled {
    cursor: default;
    text-decoration: none;
    opacity: .5;
}

.THIS .disabled:hover {
    background-color: unset;
    transition: unset;
}

.THIS .slds-button:focus,
.THIS .slds-dropdown:focus {
    outline: 0;
    box-shadow: unset;
}