.THIS .illustration-small{
	width: 100%;
    max-width: 400px;
    max-height: 300px;
    margin-bottom: 1rem;
}

.THIS .illustration-large{
	width: 100%;
    max-width: 600px;
    max-height: 400px;
    margin-bottom: 1rem;
}