.THIS .settings-popover{
	position: absolute;
	z-index: 9000;
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.10);
	transform: translate(-17.5rem, 0.5rem);
}



.THIS .slds-popover_large{
	min-width: 24rem;
}



.THIS .slds-button--icon-border{
	background-color: #ffffff;
}

.THIS .slds-button--icon-x-small .slds-button__icon{
	width: .75rem;
	height: .75rem;
}

.THIS .slds-popover{
	width: auto;
}

.THIS .slds-text-heading--small em{
	text-transform: capitalize;
}

.THIS .slds-form-element{
	margin-right: 0.25rem;
}


.THIS hr{
	margin: 0;
}