.THIS .slds-listbox {
    font-size: 0.8125rem;
    /*max-height: 150px;
    overflow: auto;*/
}

.THIS .mixedCase {
	text-transform: capitalize;
}

.THIS .has-keyboard-focus {
	background-color: rgb(247, 249, 251);
}

.THIS .slds-icon-text-default{
    fill: rgb(176, 173, 171);
}

.THIS input::placeholder{
    color: rgb(176, 173, 171);
}

.THIS .suggested-pill-container .inline-pill .slds-pill {
    background-color: #00366B;
    color: #fff;
}

.THIS .input-focus{
	outline: 0;
	border-color: rgb(21, 137, 238);
	background-color: #fff;
	box-shadow: 0 0 3px #0070d2;
}
.THIS .inline-pill-container .pill-input-container,
.THIS .inline-pill-container .suggested-pill-container {
    display: flex;
    flex-wrap: wrap;
    padding-right: 2rem;
    padding-left: 0.2rem;
    border-radius: 0.2rem;
}
.THIS .inline-pill-container.search-req-field,
.THIS .lookup-input.search-req-field {
    border-left: 5px solid #00cdcd;
    background-color: #f4ffff;
}

.THIS .search-req-field.slds-input {
    background-color: #f4ffff;
}
.THIS .inline-pill-container .pill-input-container li,
.THIS .inline-pill-container .suggested-pill-container li {
    list-style-type: none;
}
.THIS .inline-pill-container .pill-input-container input,
.THIS .inline-pill-container .suggested-pill-container input {
    flex: 1 1 10rem;
}
.THIS .N2Pcss .slds-pill__action {
    background-color: #f0ee6c;
    border: 1px solid #c2a10d!important;
}
.THIS .suggested-pill-container .slds-pill__action .slds-button__icon svg {
    fill:#fff;
}