/* -- GLOBAL -- */
.main-logo {text-align: center}
.main-logo img {    max-width: 100%;    height: auto;    width: auto!important;    display: initial;}
.menu-bar--left {float: left; background: #00396B ;min-width: 60px; min-height: 100%; position: absolute; z-index: 2;}
.main-content--right {width: 100%;z-index: 0; left: 60px; position: relative;}
.nx-include-panel { min-height: 0!important; position: relative;}
.breadcrumbs {text-transform: uppercase;font-weight: bold;  font-size: 12px;}
.card__Container .nx-pagetitle-subtitle {color: #444!important}
.searchFilterBox {background: #EEF1F6}
.filterHeaderClass {text-transform: capitalize;}
.ui-dialog .ui-widget-header {border-bottom: 0}
.loadText {text-align:left;}
.returnbutton {float: left;}
.labelbold {font-weight: bold;}
div.nx-field-reference-search {right: 25px!important}

::-webkit-input-placeholder {
   color: #ccc;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ccc;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc;
}

:-ms-input-placeholder {
   color: #ccc;
}

/* -- errors and highlights -- */
.hlt1 {background: #ffff80}
.ats-error {position: absolute;z-index: 999;max-width: 200px;max-height: 200px;background: lightyellow; border: 1px solid lemonchiffon;}
.floater {display: inline-block;}
.errors {text-align: center;color: red;}
.hidden {display: none;}
.tag {border: 1px solid gray;border-radius: 10px;padding: 1px 5px;margin-left: 10px;}
/* -- master page template -- */
.header {background: #eef1f6; border-bottom: 2px solid #ddd; margin-bottom: 0; min-height: 0!important; padding: 15px 0;}
.container__header {width: 100%; max-width: 1200px; margin: 0 auto;}
.main-content {min-height:600px; max-width: 1200px; margin: 25px auto;width: 100%}
.footer {min-height: 0px!important; padding: 15px;}
.container {white-space: nowrap; text-align: center;}

/* -- candidateCard -- */
.candidateName {font-size:16px;  text-align: center;}
.addresscontact { text-align: right;}
.title { text-align: center;}
.divider { text-align: center;}
.locationLabel { text-align: right;}
.locationfull { text-align:center;}
.currentlocation { text-align:left;}
.locationcolor { color:blue;}
.phone { text-align:right;}
.email { text-align:center;}
.navigation {text-align:right;}
.preferredPhone {vertical-align: text-bottom;}
.card__container {border-radius: .25rem; border: 1px solid #d8dde6; box-shadow: 0 3px 5px #ddd; margin: .75rem; overflow:hidden;background: #fff;}
.body__container {border-radius: .25rem; border: 1px solid #d8dde6; box-shadow: 0 3px 5px #ddd; margin: 0; overflow:hidden;background: #fff;}

.card__container--inner {padding: 15px; clear: both;}
.card__bar--bottom {background: transparent;padding: 8px; width: 100%;border-top: 1px solid #eee}
.card {}
.ui-dialog-title {text-transform: capitalize}

/*-- status bar / candidate flags --*/
.status-bar {background: #00396b!important; border-bottom: 1px solid #ccc;float: left;    width: 100%;min-height: 32px; }
.status-bar span {color:#fff!important}
.candidate-flag {margin: 0!important}
.candidate-flag__container {float: left;color: #fff;}
.candidate-flag--padding {padding: 5px 15px;}
.candidate-flag--orange {margin: 0!important; background: #ff6600}
.candidate-flag--red {background: #A61A14;  margin: 0; font-weight: normal}
.candidate-flag--blue {margin-left: 0px; background: #0c8eff;    }
.candidate-flag--neutral {color: #fff!important; font-weight: bold}
.candidate-flag__text {text-transform: uppercase;}

/* -- links -- */
.a:link {color: #000000;}
.nx-page a {color: #0C8EFF}

/* -- buttons -- */
.slds-button {padding:0 0 0 0;min-width: 88px;font-size: 14px!important; margin-top: 10px; text-transform: capitalize;}
.ui-button-text {font-size: inherit!important;text-transform:capitalize!important}
.slds-button--padding {padding: 6px 16px 6px 16px!important}
.searchFilterBox .slds-button {padding:0!important;}
.slds-button--neutral {padding:0; background: transparent!important;}
.slds-button--neutral:hover {background: #eef1f6!important;}
.slds-button--green {background-color: #77b300!important; margin: 0; }
.slds-button--green span {color: #fff;}
.slds-button {margin: 0 0 8px 0; }
.filterLableClass {font-size: 12px!important;}
.button-container {float: left;}
.nx-header-right .sk-navigation:hover {    background: none!important;    border: 1px solid #d8dde6!important;}
.ui-button-text-icon-primary {margin-top: 0px; position: relative; float:left; margin-right: 0px;border-right: 1px solid #ccc; padding-right: 0px;}
.ui-button .ui-button-text {float: left;position:relative!important; min-width: 88px;}
.CandidateActivities_editEducationButton, .CandidateActivities_editCertificationButton, .timeline_editEducationButton, .timeline_editCertificationButton, .timeline_editEmploymentButton, .timeline_deleteEmploymentButton {position:relative!important; left: 0!important;margin-bottom: 8px!important;}
.addinfobuttonclassname {width:65px; font-weight: 400; color: blue; background-color: white;border: 1px solid #0070d2;border-radius: 4px;}
.slds-timeline__actions { padding: 10px 10px 0px 0;}
.liButtonClassName { margin-bottom:10px; }
.candidate-card__buttons {position:relative; margin-bottom: 15px;}
.nx-pagetitle-action.ui-button.ui-widget {    margin-top: 0px; margin-left: 8px;}
.first-button {margin-left: 0!important}
/* -- text styles -- */
.editedByText {color: #ccc}
.blueText {color: #0070d2}
.textCenter {  text-align:center;}
.lightBlueText {color: #0070d2;}

.text--color-light-grey {color: #ccc}
.text--color-dark-grey {color: #4f6a92}
.text__medium-blue {color: #0070d2}
.text--color-light-blue {color: #0070d2;}
.text--medium-blue, .text--medium-blue span {color: #0070d2}
.text--color-dark-blue {color: #00396b;}
.text__header--small {font-weight: bold; }
.text--white span, .text--white {color:#fff}

.text__color--white, .text__color--white span {color:#fff}
.text__color--light-blue {color: #0070d2;}
.text__color--medium-blue, .text__color--medium-blue span {color: #0070d2}
.text__color--dark-blue {color: #00396b;}
.text__color--light-grey {color: #ccc}
.text__color--dark-grey {color: #4f6a92}
.text__preferred {color: #00396b;    font-weight: bold;}

.bold {font-weight: bold;}
.italic {font-style: italic;}
.text--center {  text-align:center;}
.text__missing-information {font-weight: normal;text-transform: capitalize;color: #4f6a92;font-style: italic;}

.text--small-help {font-weight: lighter;font-style: italic;font-size: x-small;}
.smallHelpText {font-weight: lighter;font-style: italic;font-size: x-small;}
.slds-tile__title {color: #0C8EFF; font-weight: bold; }
.organizationName {color: #0C8EFF; font-weight: bold}
.employmentDuration {font-weight:bold; text-transform: uppercase;}
.subTitle .nx-editor-header {display: flex; flex-direction: row-reverse; float: left;}
.subTitle .nx-pagetitle-maintitle {margin-right: 25px}
.subTitle #AddTaskDomId { float: right;}
.slds-timeline__item {padding-right: 0;    padding-left: 0;  margin-left: 0; }
.slds-media__figure {    margin-right: 0!important;    padding: 8px 0;}
.slds-media--timeline>.slds-media__figure {  padding: 10px 0px;}
.nx-basicfieldeditor-section-header {background: transparent;font-style: inherit;font-weight: inherit; font-size: inherit;}

/* -- headers -- */
h1 {font-weight: bold; font-size: 30px!important ; color: #444; width: 100%; margin-bottom: 15px!important;}
h2 {font-size: 24px; color: #666; width: 100%;}
h3 {font-size: 20px; color: #666; width: 100%; text-transform: uppercase;}
h4 {}
h5 {}
h6 {}

/* -- icons -- */
.slds-icon--blue {fill: #0070d2!important;}
.slds-icon--grey {fill: #444!important;  width: 17px; position: relative; float: left; bottom: 7px;}
.slds-icon--light-grey {fill: #cfd7e6}
.slds-icon__hover--light-grey {fill: #fff!important}
.container__resume .nx-item:hover .slds-icon__hover--light-grey {fill: #cfd7e6!important}
.client-group__icon {float: left; display:block; width: 40px; height: 40px; background: transparent!important;margin-top: 5px; margin-right: 15px;}
span.icon__resume { border-radius: 100px 50px; background: #0c8eff; color: white;width: 37px;display: inline-block;font-size: 17px;text-align: center; font-weight: 800; line-height: 17px;}
.ui-button-icon-primary {       position: relative!important;    float: left;    top: 0;   margin-right: -5px;    position: relative;}
/*.ui-button-text-icon-primary .ui-icon, .ui-button-icon-only .ui-icon {margin-top: 0px!important;}*/
.ui-button-text-icon-primary span.ui-button-icon-primary {margin-top: 0px!important;}
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon {margin-top: 0; top: 9px;}

button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close.ui-state-hover {background: transparent!important;color: #fff}
button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close.ui-state-hover .ui-icon-closethick {color: #fff}
/* -- backgrounds -- */
.background-color--grey {background: #efefef;}
.background-color--white {background: #ffffff!important;}

/* -- PAGINATION -- */
.pagination{display:inline-block;padding-left:0;margin:20px 0;border-radius:4px}
.pagination>li{display:inline}
.pagination>li>a,.pagination>li>span{position:relative;float:left;padding:6px 12px;margin-left:-1px;line-height:1.428571429;text-decoration:none;background-color:#fff;border:1px solid #ddd;}
.pagination>li:first-child>a,.pagination>li:first-child>span{margin-left:0;border-bottom-left-radius:4px;border-top-left-radius:4px}
.pagination>li:last-child>a,.pagination>li:last-child>span{border-top-right-radius:4px;border-bottom-right-radius:4px}.pagination>li>a:hover,
.pagination>li>span:hover,.pagination>li>a:focus,.pagination>li>span:focus{background-color:#eee}
.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus{z-index:2;color:#fff;cursor:default;background-color:#428bca;border-color:#428bca}
.pagination>.disabled>span,.pagination>.disabled>span:hover,.pagination>.disabled>span:focus,.pagination>.disabled>a,.pagination>.disabled>a:hover,.pagination>.disabled>a:focus{color:#999;cursor:not-allowed;background-color:#fff;border-color:#ddd}
.pagination-lg>li>a,.pagination-lg>li>span{padding:10px 16px;font-size:18px}
.pagination-lg>li:first-child>a,.pagination-lg>li:first-child>span{border-bottom-left-radius:6px;border-top-left-radius:6px}
.pagination-lg>li:last-child>a,.pagination-lg>li:last-child>span{border-top-right-radius:6px;border-bottom-right-radius:6px}
.pagination-sm>li>a,.pagination-sm>li>span{padding:5px 10px;font-size:12px}
.pagination-sm>li:first-child>a,.pagination-sm>li:first-child>span{border-bottom-left-radius:3px;border-top-left-radius:3px}
.pagination-sm>li:last-child>a,.pagination-sm>li:last-child>span{border-top-right-radius:3px;border-bottom-right-radius:3px}

/* -- FORMS -- */
/* -- inputs -- */
.form__header {border-bottom: 1px solid #cccccc; }
.form__sub-header {border-bottom: 1px solid #eeeeee; }
.form__label {font-weight: bold;margin: 4px 0!important;display: block;}
.form__text-field {border: 1px solid #d8dde6!important;background: #fff!important; padding: 3px 21px 3px 9px!important; min-height: 30px;font-family: "SalesForce Sans"; border-radius: 4px; margin-bottom: 5px; }
.form__field--full-width {width: 100%}
.form__field--full-width span.select2 {width: 100%!important}
.form__field--inline span.select2 {width: auto!important}
.form__field--half-width {width:49%; position: relative}
.form__field--tall {min-height: 100px;}
.slds-input--span .select2-container--default .select2-selection--single, .slds-input--span select {
    background-color: #fff;
    color: #16325c;
    border: 1px solid #d8dde6;
    border-radius: .25rem;
    width: 100%;
    transition: border .1s linear,background-color .1s linear;
    display: block;
    padding: 0 1rem 0 .75rem;
    line-height: 2.125rem;
    min-height: calc(2.125rem + 2px);
}

div.value {min-height: 22px;}
.value ul { width: 300px; -webkit-column-count: 2; -moz-column-count: 2; column-count: 2;}
.value li {display: flex; word-wrap: break-word; line-height: 16px; padding-bottom: 12px!important; white-space: normal!important;-moz-column-break-inside:avoid;
-webkit-column-break-inside:avoid;column-break-inside:avoid; }
.value textarea { width: 100%!important;padding: 15px; border-radius: 5px; overflow: scroll; border: 0; background: #f8f8f8;}
.value input {border: 1px solid #ccc; border-radius: 5px; background: #f8f8f8;}
.formFieldCont {align-self: baseline;min-height: 30px;padding: 15px;}
.formFieldCont div.label {color: #444444; font-weight: bold; border-bottom: 1px solid #cccccc; text-transform: uppercase;}
.formFieldCont div.value {padding-top: 10px;}
input[type="checkbox"], input[type="radio"] {width: 16px; height: 16px;}
input.nx-dt-dateinput {width: auto!important}
.form__date-field--small {width: 50%; float:left}
.form__input-field--empty {width:50px; min-height: 59px;}
.form__input-field--empty input {display: none;}
.text-area--short textarea {overflow: hidden;height: 33px!important;}
.value input, .value select {    padding: 6px 12px 6px 16px;border: 1px solid #ccc;    border-radius: 5px;    background: #f8f8f8;   }
.value input { width: 100%;}
span.selection {    width: 100%;}
.label-value-field--spacing .select2-selection--single {    width: 100%;}
.label-value-field--spacing .value, .label-value-field--spacing .select2, .label-value-field--spacing select {width: 100%!important; box-sizing: border-box;}
select {padding: 6px 12px 6px 16px;}

.form__dropdown span.select2-selection--single {border: 1px solid #d8dde6!important;background: #fff!important; padding: 3px 21px 3px 9px!important; min-height: 34px;    font-family: "SalesForce Sans";}

/* -- employmentModal -- */
div.ui-multiselect {background: white;outline: 0; font-family: SalesForce Sans; width: 100%;border: 1px solid #d8dde6; color: #16325c; font-weight: 300;
font-size: 12px; padding: 6px 12px 6px 16px; border-radius: 4px;    -webkit-box-sizing: border-box; -moz-box-sizing: border-box;  box-sizing: border-box; margin-top: 0;}
.ui-multiselect-header ul span.ui-icon {font-size: 14px!important;  padding: .1em .25em; }
.ui-multiselect-header.ui-widget-header span {color: #fff}
/* -- fundamentals/preferences -- */
.label-value-field--spacing .label {clear: left;}
.label-value-field--spacing  div.value, .summaryProfile span.value, .summaryProfile div.value {float:left;font-weight:bold;padding-bottom:15px}
.label-value-field--spacing .select2-selection__choice {color: #444!important; font-weight: bold;}
.label-value-field--spacing .value, .label-value-field--spacing .select2, .label-value-field--spacing select {width: 100%!important;}
.label-value-field--spacing .value, .label-value-field--spacing .select2, .label-value-field--spacing select .select2-container--disabled {width: 65%!important}
.label-value-field--spacing .select2-selection--single {width: 100%}
.label-value-field--spacing .dropdown-wrapper {width: 100%;min-height: 0!important; min-width: 0!important;}
.label-value-field--spacing .select2-selection--multiple {width: auto;}
.summaryProfile .label {width: auto!important; float: left;}
.select2-container--disabled span {float: left; width: auto!important;}
.label-value-field--spacing div.value span {float: left;display: block;min-height: 36px;min-width: 22px;}
.select2-container--disabled span {width: 100%!important;}
.static-content {width:auto; float: left;}
.rate div.value  {width: auto!important;}
.static-content .label {display: none;}
.static-content .select2-container--focus {width:auto!important;}
.static-content .select2-selection__rendered {width: auto!important}
.preference__field-practice .value, .label-value-field-spacing div.value {padding-bottom: 0!important;}
.label {font-weight: bold}
.value {font-weight: normal!important;}
.client-group__detail {font-weight: bold; color: #666; padding-bottom: 25px;}
.summaryProfile {width: 100%; padding: 15px;}
.client-group__text {    width: 95%;   float: left;}
.rate div.value input { width: 105px!important;}
.checkbox input {width: 16px!important;margin-left: 10px;}

/* -- select2 overrides -- */
.select2-container--default .select2-selection--multiple .select2-selection__choice {border: none!important; background: none; color: #0c8eff; display: block; float: left;width: 100%; padding: 0; margin: 0;font-weight: normal}
.select2-container--default.select2-container--focus .select2-selection--multiple {border: solid #d8dde6 1px!important; outline: 0; box-shadow: 0 0 10px #ccc;}
.select2-selection select2-selection--multiple {background-color: transparent!important;}
.select2 select2-container select2-container--default select2-container--focus {background-color: transparent!important;}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {padding: 0;}
.select2-container--default .select2-selection--multiple {background-color: white; border: 0; background: #f8f8f8; border-radius: 4px; cursor: text; padding: 15px;}

.select2-container--default.select2-container--disabled .select2-selection--multiple {background-color: transparent!important; border: 0;line-height: normal;}
.select2-container--default .select2-selection--single {border: 1px solid #d8dde6!important;background: #fff!important; padding: 0px 12px 6px 6px;}

.select2-container--disabled span {padding: 0!important; box-shadow: none!important;}
.select2-container .select2-selection--multiple {min-height: 0;}
.select2-container .select2-selection--single .select2-selection__rendered {    overflow: hidden;    border-radius: 5px;}
li.select2-selection__choice {padding: 5px 10px;}
ul.select2-selection__rendered {padding: 0}
/*span.select2.select2-container.select2-container--default {width: 100%!important}*/
/* - text field */

span.select2.select2-container.select2-container--default.select2-container--focus, span.select2.select2-container.select2-container--default {padding: 0}
div.ui-multiselect {margin-bottom: 8px}


.slds-radio .slds-radio--faux {margin-right: 8px;}
.slds-checkbox .slds-form-element__label {text-transform: capitalize; }

.select2-container .select2-selection--single .select2-selection__rendered { font-family: 'salesforce sans';font-weight: 300; font-size: 1.1em;}

/* -- lists -- */
.container__list-item { border-bottom: 1px solid #eee; padding: 15px;}
.container__list-item:nth-child(even) {background: #fafafa;}


/* - arrow - */
.label-value-field--spacing .select2-container--default .select2-selection--single .select2-selection__arrow {    right: 0px!important;}
.select2-container--default .select2-selection--single .select2-selection__arrow b {border-width: 6px 3px 0 3px; BORDER-COLOR: #444 transparent transparent transparent}

/* -- Activities & Timeline-- */
.CandidateActivities_editEducationButton,.CandidateActivities_editCertificationButton {margin-left: 200px;}
.CandidateActivities_editEducationButton,.CandidateActivities_editCertificationButton,.timeline_editEducationButton,.timeline_editCertificationButton,
.timeline_editEmploymentButton,.timeline_deleteEmploymentButton {position: absolute;left: 400px;min-width: 88px;}
.timelineEditDeleteCommonClass {width: 65px; font-weight: 400; color: white;border: 1px solid #0070d2;border-radius: 4px;}
.timelineEditClass {color: #ffffff;background: #0070d2;}
.timelineDeleteClass {color: #0070d2; background: transparent;  }
.timelineheader {font-size: 15px;margin: 15px 0}
.slds-timeline__actions .slds-tile__title {color: #16325c; font-weight: bold; text-transform: uppercase}
li.slds-timeline__item:hover, .slds-media:hover, .container__resume .nx-item:hover   {background: #EEF1F6}
.timeline-employment .slds-timeline__item:hover, .timeline-education .slds-timeline__item:hover, .slds-media .slds-media:hover {background: transparent}
.slds-media--timeline {padding-left: 0!important}
.slds-media__body {padding-left:16px}
.slds-media__body .slds-media__body {padding-top: 8px}
.slds-media__figure {margin-right: 0!important}
.slds-tile__title {padding-left: 0px!important;}
.slds-media {padding-left: 0px!important;}
.timeline__label {font-weight:bold}
.narrowResults {font-size:20px; padding-bottom: 20px}
.narrowResults:after {}
.chevron {border-style: solid; border-width: 0.25em 0.25em 0 0; content: ''; display: inline-block; height: 15px; right: 20px; position: absolute; top: 0.15em; color: #0C8EFF; vertical-align: top; width: 15px; transform: rotate(45deg); }
.preference__field-practice .value, .label-value-field--spacing div.value { padding-bottom: 0!important;margin-bottom: 10px;  }
.editmodeonly .rate div.value { width: auto!important; margin-top: -6px; margin-left: 7px;}
.summaryProfile .editmodeonly .rate div.value input {min-width: 150px;}
.slds-icon-text-default { fill: #54698d; width: 22px; height: 22px; margin-left: 5px;}
.value input, .value select { padding: 6px 12px 6px 6px!important; border: 1px solid #ccc; border-radius: 5px; background: #f8f8f8;}
.ui-datepicker .ui-datepicker-title select {     font-size: 1em;    margin: 1px 0;    padding-left: 0px; padding-right: 0px}
.card__references .nx-basicfieldeditor .nx-fieldtext {padding: 0}
.card__references .nx-basicfieldeditor-item {padding: 0}
.card__references .nx-item {border-bottom: 1px solid #eee; padding: 15px 0;}
.card__references .nx-item:last-child {border:none!important}

/* -- SKUID OVERRIDE --*/
/* -- navigation -- */
.sk-navigation {min-height: 14px; text-align: center; padding: 0}
.sk-navigation-item { margin: 0px 6px;padding: 6px 8px;display:inline-block;font-weight: 500;font-size: 11px;color: #0070d2;text-align:center;}
.sk-navigation-item-label {font-weight:bold;text-transform: uppercase;}
.multiple-nav-item {float: right;}
.multiple-nav-item > div {float: right;}
/* -- searchbar -- */
.sk-search {padding: 12px 12px 12px 12px; font-style: italic; color: #ccc}
/* -- skuidTheme Override -- */
.nx-pagetitle-subtitle {font-weight: 400; color: #444 padding: 0 6px 7px 0px;line-height: normal; font-style: normal; font-weight: normal;font-size: 18px; text-decoration: none;  text-transform: none;}
.nx-page {padding: 0; margin: 0}
.ui-icon-search:before {color: #0c8eff;}
.label-value-field--spacing .label {width: 35%;float: left;padding-bottom: 15px;}
.nx-header-right {padding-top: 0px}
div#sk-raiWN-612, div#sk-rb6B3-642 {margin-bottom:15px}
.nx-pagetitle .nx-messages {margin: 0}
.nx-basicfieldeditor .nx-fieldtext {color:inherit!important}
.ui-button .ui-button-text {padding: 6px 16px 6px 16px!important;}
.nx-fieldtext {padding: 0}
.slds-timeline{ max-width: 700px;  padding-right: 0;}
.nx-pagetitle-subtitle {color: #00396B}
.nx-page, #skuidEditBtnContainer, .ui-dialog, .blockMsg, .ui-multiselect-menu {font-size: 14px; color: #444;}
.nx-page, #skuidEditBtnContainer, .ui-dialog, .blockMsg, .ui-multiselect-menu {font-size: 14px; color: #444;}
.nx-editor select {margin-top: 0px; height: 34px!important; border-radius: 5px;border: 1px solid #d8dde6; margin-bottom: 5px}
.ui-widget-overlay {    background: rgb(168, 183, 199);    opacity: .8;}
.nx-editor-contents {margin: 0!important}
.nx-basicfieldeditor-item-label.nx-layout-above {padding: 0!important}
.nx-basicfieldeditor-item-label {margin-bottom: 5px}
div.nx-basicfieldeditor-section-body>div.nx-basicfieldeditor-item>.nx-field.nx-layout-above, .nx-basicfieldeditor-item>.nx-field.nx-layout-above {
    width: 100%;
    margin: 0;
    min-height: auto;
}

.slds-tile__detail li {    margin: 0;}
/*rich text editor override */
.slds-text-body--regular span {font-size: 14px!important}
.text-box--multiline .nx-richtext-input, .text-box--multiline {min-height: 110px;}
.text-box--full-width {width:100%;}
/* -- modals override -- */
.ui-dialog .ui-widget-header {border-bottom: 0;}
.ui-dialog.ui-widget {position: absolute; height: auto; width: 50%!important; display: block; top: 6%; left: 25%; z-index: 101;}
.ui-icon.ui-icon-closethick {    color: #009ddc!important;font-size: 220%!important; top: 0}
.ui-icon.ui-icon-closethick:hover {color: #00396B!important}
.ui-dialog .ui-dialog-titlebar .ui-button.ui-dialog-titlebar-close {top: 10px;right: 10px;}
.list-border .nx-item {border-bottom: 1px solid #eee; padding:15px 0 }
.list-border .nx-item:last-child {border:none;}
.table__header--border {border-bottom: 1px solid #eee;background: transparent!important}
.table__header--border .nx-item:hover {background: transparent!important}
.nx-field input, .nx-field textarea, .nx-field .nx-richtext-input {margin-bottom:8px}
.ui-dialog .slds-text-body--small {padding-bottom: 25px;}

/* -- BLUE TITLE BAR ON MODAL -- */
.ui-dialog {padding: 0;border: 0;}
.ui-dialog-titlebar {background: #00396B!important; }
.ui-dialog-title {color: #fff!important;}
button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close.ui-state-hover .ui-icon-closethick {color: #fff!important}
.ui-icon.ui-icon-closethick:hover {color: #fff!important}
.float--none .sk-wrapper {float: none!important; text-align:center!important;}


/* -- RESPONSIVE QUERIES -- */
/* -- mobile -- */
@media screen and (max-width: 480px)  {
    .container__auxilary-nav {width: 100%; flex: none!important; margin-top: 15px;}
    .container__search-bar {width: 100%; flex: none!important}
    .container__logo {width: 100%; flex: none!important}
    .main-logo {position: relative; width: 80%; margin: 0 10%}
    .multiple-nav-item > div {float: none;}
    .button-container {float:none; text-align: center; }
    .candidate-field__website, .candidate-field__talent-id {display: none}
    .slds-button {margin: 0 0 8px .25rem;}
    .card-summary .formFieldCont {width: 100%}
    .candidate-flag__container {width: 33.3%; font-size: 10px;}
    .candidate-flag {min-height: 44px;}
    .candidate-flag__owner {width: 100%; font-size: 13px; padding-top: 12px}
    .ui-dialog.ui-widget {position: absolute;height: auto;width: 100%!important; display: block; top: 6%;left: 0%!important; z-index: 101;}
    .candidate-card__buttons {position:relative;}
    .card-division {flex:none!important;}
    .candidate-field__city-state {padding-bottom: 15px;}
    .slds-timeline__actions {margin-bottom: 0px;display: inline-block}
    .slds-timeline__actions .slds-tile__title {margin-left: 0px; display: inline-block;border-right: 1px solid #ccc;padding-right: 10px; margin-right: 10px;}
    .activities__detail .slds-timeline__actions .slds-tile__title {width: 100%; border: none;}
    .slds-timeline__actions .slds-tile__title:last-child {border: none;}
    .candidate-card__buttons .nx-header-right, .divbuttonClass {float: left;}
    .slds-timeline__actions {align-items: baseline;}
    .timeline--width {width: 100%}
    .resume-column__date {width: 50%!important}
    .resume-column__file-name {width: 50%!important}
    .resume-column__default-resume {width: 20%!important;min-width: 50px}
    .resume-column__download {width: 20%!important;min-width: 50px}
    .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable {top: 0;}
    .ui-datepicker.ui-widget-content {  min-width: 221px;}
}

/* -- tablet -- */
@media screen and (min-width: 481px) and (max-width: 767px) {
    .container__auxilary-nav {width: 100%; flex: none!important; margin-top: 15px;}
    .container__search-bar {width: 100%; flex: none!important}
    .container__logo {width: 100%; flex: none!important}
    .main-logo {position: relative; width: 80%; margin: 0 10%;}
    .multiple-nav-item > div {float: right;}
    .button-container {float: left;text-align:center;  }
    .candidate-field__website, .candidate-field__talent-id {display: none}
    .slds-button {margin: 0 0 0px .25rem;}
    .ui-dialog.ui-widget {position: absolute;  height: auto; width: 75%!important; display: block;top: 6%; left: 12%!important; z-index: 101;}
    .candidate-card__buttons {position:relative; }
    .card-division {flex:none!important}
    .card__container {width: 97%}
    .candidate-card__buttons .nx-header-right, .divbuttonClass {float: left}
    .slds-timeline__actions {align-items: baseline;}
    .timeline--width {width: 100%}
    .slds-timeline__actions {margin-bottom: 0px;display: inline-block}
}
@media screen and (min-width: 666px) and (max-width: 767px) {
    .candidate-card__buttons {position:relative;}
    .card-summary .formFieldCont {width: 100%}
}

@media screen and (min-width: 717px) and (max-width: 991px) {
    .slds-timeline__actions {margin-bottom: 0px;display: inline-block }
    .slds-timeline__actions .slds-tile__title {margin-left: 0px; display: inline-block;border-right: 1px solid #ccc;padding-right: 10px; margin-right: 10px;}
    .slds-timeline__actions .slds-tile__title:last-child {border: none;}
    .resume-column__date {width: 50%!important}
    .resume-column__file-name {width: 50%!important}
    .resume-column__default-resume {width: 20%!important; min-width: 50px}
    .resume-column__download {width: 20%!important;min-width: 50px}
}

/* -- small full screen -- */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .container__auxilary-nav {    margin-top: 16px;}
    .main-logo {margin-top: 5px}
    .card-summary .formFieldCont {width: 100%}
    .ui-dialog.ui-widget {position: absolute; height: auto; width: 75%!important; display: block; top: 6%; left: 12%!important; z-index: 101;}
    .candidate-card__buttons {position:relative;}
    .resume-column__date {width: 50%!important}
    .resume-column__file-name {width: 50%!important}
    .resume-column__default-resume {width: 20%!important; min-width: 50px}
    .resume-column__download {width: 20%!important;min-width: 50px}
}

/* -- medium full screen -- */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .main-logo img {    max-width: 80%;    height: auto;    width: auto!important;    display: initial;}
    .main-logo {margin-top: 5px}
    .container__auxilary-nav {    margin-top: 16px;}
    .ui-dialog.ui-widget {position: absolute; height: auto; width: 75%!important; display: block; top: 6%; left: 12%!important; z-index: 101;}
    .candidate-card__buttons {position:absolute; top:0; right: 0}
    .timeline__container .slds-size--1-of-1 {width: auto}
    .resume-column__date {width: 50%!important}
    .resume-column__file-name {width: 50%!important}
    .resume-column__default-resume {width: 20%!important; min-width: 50px}
    .resume-column__download {width: 20%!important; min-width: 50px}
}

/* -- large full screen -- */
@media screen and (min-width: 1200px) {
    .main-logo img {    max-width: 80%;    height: auto;    width: auto!important;    display: initial;}
    .main-logo {margin-top: 5px;}
    .container__auxilary-nav {margin-top: 16px;}
    .candidate-card__buttons {position:absolute; top:0; right: 0}
    .ui-dialog.ui-widget {position: absolute;height: auto; width: 50%!important; display: block; top: 6%; left: 25%!important; z-index: 101;}
    .timeline__container .slds-size--1-of-1 {width: auto}
}
