.THIS .text-area{
    line-height: 1.7;
    padding: 0.25rem 0.5rem;
    resize: none;
    width: 100%;
    background-color: #fff;
}

.THIS .text-area-overflow:after{
    content: '\2026';
    position: absolute;
    transform: translate(-1.25rem, 0.25rem);
    font-size: 1rem;
}

.THIS .text-area-overflow .text-area{
    line-height: 2;
    padding: 0.125rem 1.15rem 0.125rem .5rem;
    overflow: hidden;
}