.link {
    margin-top: 5px;
    display:flex;
    align-items: center;
}
.link > p{
    margin-right: 3px;
}
h2{
    font-weight: bold;
}
.question-mark-icon {
    --sds-c-icon-color-background: gray;
    height: 10px;
    width: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.tooltip {
    position: relative;
}
.tooltip .content-tooltip{
    position: absolute;
    top: 35px;
    left: 132px;
    width: 300px;
    background-color:#fff;
    display: none;
    box-sizing: border-box;
    border-radius: 4px;
    opacity: 0;
    transition: 0.5s;
    transform: translate(-50%) translateY(0px);
    border: 1px solid lightgrey;
}
.tooltip .content-tooltip:before{
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 15px;
    background-color: #fff;
    top: -10px;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    transform: rotate(45deg);
}

/* Overrides for tooltip above content */
.tooltip .content-tooltip.tooltipUp {
    top: auto;
    bottom: 35px;
} 

.tooltip .content-tooltip.tooltipUp:before {
    top: auto;
    bottom: -10px;
    transform: rotate(225deg);
}
/* End override */

.tooltip:hover .content-tooltip{
    display: block;
    opacity: 1;
    transform: translate(-50%) translateY(0px);
    z-index: 1000;
}

strong {
    margin: 0 3px;
}
.dot {
    height: 5px;
    width: 5px;
    border-radius:50%;
    background-color: black;
    margin-right: 5px;
}
li {
    display: flex;
    align-items: center;
}