<template>
    <div class='link'>
        <p>Why you should call:</p>
            <div style="display:flex" class='tooltip' onmouseover={handleHover}>
                <lightning-icon class='question-mark-icon' icon-name="action:question_post_action" alternative-text="question-mark" size="xx-small" data-blockblur="true" data-contactid={matchData.id}></lightning-icon><br />
                <div class={tooltipStyle}>
                    <template if:false={validationTooltip}>
                        <div style="padding:10px; display:flex; align-items:center; width:100%;">
                            <p>No Information to show at this time.</p>
                        </div>  
                    </template>
                    <template if:true={validationTooltip}>
                        <div style="padding:10px; display:flex; align-items:center; justify-content:space-between; width:100%;">
                            <h2>Talent is eager</h2>
                        </div>
                        <ul style="margin: 0 10px 15px 10px">
                            <template if:true={matchData.recent_submittal}>
                                <li> 
                                    <template if:true={matchData.recent_submittal.bool}>
                                        <div class='dot'></div>Submitted to a Req <strong>{matchData.recent_submittal.string}</strong>
                                    </template>
                                    <template if:false={matchData.recent_submittal.bool}>
                                        <div class='dot'></div>Submitted to a Req <strong>{matchData.recent_submittal.string}</strong> ago
                                    </template>
                                </li>
                            </template>
                            <template if:true={matchData.recent_applications}>
                                <li> 
                                    <template if:true={matchData.recent_applications.bool}>
                                        <div class='dot'></div>Applied for a job <strong>{matchData.recent_applications.string} </strong>
                                    </template>
                                    <template if:false={matchData.recent_applications.bool}>
                                        <div class='dot'></div>Applied for a job <strong>{matchData.recent_applications.string} </strong> ago
                                    </template>
                                    
                                </li>
                            </template>
                            <template if:true={matchData.close_to_end_date}>
                                <li>
                                    <div class='dot'></div>End date is in <strong>{matchData.close_to_end_date.string} </strong>
                                </li>
                            </template>
                            <template if:true={matchData.available_soon}>
                                <li>
                                    <template if:true={matchData.available_soon.bool}>
                                        <div class='dot'></div>They are available <strong>{matchData.available_soon.string} </strong>

                                    </template>
                                    <template if:false={matchData.available_soon.bool}>
                                        <div class='dot'></div>They were available <strong>{matchData.available_soon.string} </strong> ago

                                    </template>
                                </li>
                            </template>
                            <template if:true={matchData.recent_resume_update}>
                                <li>
                                    <template if:true={matchData.recent_resume_update.bool}>
                                        <div class='dot'></div>Updated resume <strong>{matchData.recent_resume_update.string} </strong>
                                    </template>
                                    <template if:false={matchData.recent_resume_update.bool}>
                                        <div class='dot'></div>Updated resume <strong>{matchData.recent_resume_update.string} </strong> ago
                                    </template>
                                    
                                </li>
                            </template>
                            <template if:true={matchData.g2_comment_eagerness}>
                                <li>
                                    <div class='dot'></div>Expressed eagerness in last G2
                                </li>
                            </template>
                            <template if:true={matchData.in_pipeline}>
                                <li>
                                    <div class='dot'></div>Talent is in the<strong> Pipeline</strong>
                                </li>
                            </template>
                        </ul>
                    </template>  
                </div> 
            </div>    
    </div>
</template>