.THIS .blueUser svg{
    fill : #035797 !important;
}
.THIS .profile-tab {
    display:flex;
    flex:1 1;
}
.THIS .slds-text-color_destructive {
    margin-left: 0.3rem;
}
.THIS .self-Reported-profile{
   font-size:11px;
    position:relative;
    bottom:5px;
}
.THIS .talent-record{
   padding-bottom: 2px!important;
   padding-top: 11px;
}

.THIS .padding-btm {
    padding-bottom: 12px;
}
.THIS .accordion-item-body .section-container .accordion-item-body {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}
.THIS .accordion-item-body .section-container .accordion-item-body > .slds-col {
    width: 100%;
    height: 100%;
}
.THIS .hide + .cC_TalentDNCEdit {
    display: none;
}
.THIS .label-hide span {
    position: absolute;
    left: -9999%;
}

.THIS .errorField {
    border: red thin solid;
}

.THIS .errorMessage {
    color : red;
}