.THIS {
    margin-top: 5px;
}
.THIS .slds-page-header_object-home {padding-right:0px;padding-left:0px;width:100%;margin-bottom: 0px;min-height: 116px; margin-top: -15px; margin-left: -12px;line-height: 1rem;}
.THIS .tiny-text {font-size: .67rem;}
.THIS .slds-popover_panel .slds-popover__body {padding: .5rem 1.5rem .5rem 1.5rem!important}
.THIS .AG-Status__Badge {padding: 2px 10px;border-radius: 15px; white-space: nowrap;display: inline-block;float:left;}
.THIS .AG-Status__Badge_Placed {background-color:#5dbb5d;color: #ffffff;}
.THIS .AG-Status__Badge_DNR {background-color:#ff9900;color: #ffffff;}
.THIS .AG-Status__Badge_DNC {background-color:#3498DB;color: #ffffff;}
.THIS .AG-Status__Badge_Ownership {background-color:#ff9900;color: #ffffff;}
.THIS .DNR-popover {
	top: 27px;
    left: -18px;
    width: 20rem!important;
}
.THIS .bold {font-weight:bold}
.THIS .top-title-bar {min-width: 200px;}
.THIS .text-preferred {font-weight: bold;}
.THIS .slds-page-header {background: transparent;border-bottom: 0px;box-shadow: none; padding: 1rem 1rem .5rem 1rem}
.THIS .s1FixedFullWidth {left: 0;border-bottom: 1px solid rgb(221, 219, 218);box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.10);}
.THIS header.forceHighlightsPanel.highlights.headerBanner.forceHighlightsPanel.highlights {margin-left: 0rem;margin-top: 0rem;} 
.THIS .header-top_fixed {position:fixed; width: 100%; margin-top:0px; background-color: rgb(250, 250, 249); }
.THIS .header-top_lower-half {top: 66px; left: 0;padding: 0px;border-radius: 0; position: relative; background: #FFFFFF;width: 102%; padding: 0.5rem 1rem;}
.THIS div.uiMenuList.visible {display: block; left: 28px!important; top: 15px!IMPORTANT;}
.THIS button.header-action-menu {width: auto!important; color:  rgb(0, 112, 210);}
.THIS .view-all-menu_dropdown {display: inline-block; padding-left: 5px}
.THIS .slds-page-header__detail-row {margin: 0px;min-height: 60px;position: initial;}
.THIS.headerBanner {width:100%;}
.THIS .slds-modal__container {max-width: 80%!important;
    top: 19%!important;
    max-height: 80%;
    max-width: 80%;
    width: 100%;
    height: 100%;}
/*added by akshay start */
.THIS .viewMenuLabel {color: rgb(22, 50, 92);}
.THIS .slds-card__body {overflow-y: visible;margin-bottom: 0px; min-height: 116px}
.THIS .slds-card__footer {margin-top: 0px;margin-bottom: 0px;padding-top: 0px;padding-bottom: 0px;}
/*.THIS .slds-truncate {overflow:initial;}*/
.THIS .content-toggle {display:none;}

/* -- default icon hover --*/
.THIS .slds-icon__hover_light-grey svg {fill: #fff}
.THIS .slds-icon__hover_light-grey:hover svg {fill: #cfd7e6!important}
.THIS .slds-icon_blue svg {fill: #0070d2!important;}
/* -- end default icon hover --*/

.THIS article .slds-truncate {display: -webkit-box;-webkit-line-clamp: 5;-webkit-box-orient: vertical; white-space: pre-line; }
.THIS .bold {font-weight:bold}
.THIS .slds-media__body {overflow:initial;}
.THIS span { overflow-wrap: break-word; word-wrap: break-word;}

.THIS .slds-dropdown-trigger .slds-icon-text-default {
        fill: rgb(112, 110, 107);
}
/*added by akshay end */
@media screen and (max-width:780px) {
    .THIS .top-title-bar {width:33%}
    .THIS .top-title-bar .slds-truncate {max-width: 80%;}    
}

@media screen and (max-width:1000px) {
    .THIS .max-width--ownership {width: 150px;}
}
/*Sandep: Split screen changes start
.THIS .split_on{
    float: right;
    position: absolute;
    max-width: 61%!important;
    right: 0;
    left: unset!important;
    top: 55px!important;  
}*/
.THIS .split_on .top-title-bar{
       min-width: auto!important;
}
/*Sandeep: Split screen changes end*/
.THIS .CS-popover {

}
.THIS .CS-popover::before {
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    background-color: rgba(0,0,0,0);
    transform: translateX(-75px) translateY(-30px);
}
/*
.THIS .DNR-popover::before {top: 24px;}
.THIS .DNR-popover::after {top:24px;}
*/
.THIS li{
    margin-right: 0.5rem;
}
.THIS li:last-of-type{
    margin-right: 0;
}
.THIS .red-icon svg {
    fill: #C23934;
}
.THIS .ownership-popover {
    position: absolute;
    top: 22px;
    left: -18px;    
}