.THIS .uiInput--input.input{
    width: 5.5rem;
    text-align: center;
    text-transform: capitalize;
}

.THIS .ui-widget-content{
    position: relative;
    top: 0.5rem;
    margin: 0rem 0.5rem 1rem 0.5rem;
}

.THIS .ui-widget-header, .THIS .ui-slider-range{
    background: #9faab5!important;
}

.THIS .ui-widget-content > .ui-state-default{
    border-radius: 50%;
    background: #54698d!important;
    border: 0px;
}

.THIS .slds-text-heading--label{
	width: 100%;
}
.THIS .uiInput--datetime .datePicker-openIcon {
    right: .25rem;
}

.THIS .switch-icon{
    width: auto;
    height: auto;
}

.THIS .slds-section__title-action{
    border: 1px solid rgb(216, 221, 230);
}

.THIS .slds-form-element__label{
    display: none;
}

.THIS .slds-section__title{
    font-size: 0.75rem;
    width: 100%;
}

.THIS .form-element__label{
    display: inline-block;
}


.THIS .search-facet-label{
    padding-left: 0.25rem;
    text-transform: capitalize;
    color: rgb(84, 105, 141);
    line-height: 1.5;
    display: inline-flex;
    width: 90%;
}

.THIS .doc-count{
    margin-left: 0.25rem;
}

.THIS li{
    margin: 0.50rem 0;
}

.THIS .red-icon {
    color: rgb(194, 57, 52);
}