form.THIS {padding: 0px;}

.THIS .heading {color:#a62b22;font-size:30px;padding: 0px 0px 10px 0px;}

.THIS .lloyd-body__font {font-size: 14px; }
.THIS .lloyd-column--left { max-width: 480px; margin-left: 50px;}

.THIS .uiInputDefaultError .form-element__help {
    font-size: .875rem!important;    margin-top: 0;
    display: block;
    margin-bottom: .5rem;
}

.THIS .uiInput--default .form-element__help { margin-top: 0;
    display: block;
    margin-bottom: .5rem;}
.THIS .uiInput--input {
    margin-bottom: .5rem;
}
@media screen and (max-width: 480px) {
    
    .THIS .lloyd-column--left {margin: 0}

}