<template>
    <div class="resultItemContainer slds-grid slds-grid_vertical slds-m-top_x-small slds-p-around_x-small slds-p-bottom_none">
        
        <!-- Job title, location, action buttons -->
        <div class="slds-col slds-m-bottom_medium">
            <div class="slds-grid">
                <div class="slds-media__body">
                    <p>
                        <a href={reqDetails.opp_url} target="_blank" class="slds-m-right_small slds-text-title_bold">{reqDetails.job_title} @ {reqDetails.account_name} &dash; {reqDetails.opp_num}</a>
                        <template if:true={reqDetails.hiring_manager_url}>
                            <a href={reqDetails.hiring_manager_url} target="_blank" class="txtunderline slds-text-title_bold">View Client Info</a>
                        </template>
                    </p>
          <template if:true={reqDetails.islocationAvailable}>
            <p class="slds-text-color_weak slds-text-body_small redmondfont">
              {reqDetails.location}
            </p>
          </template>
          <template if:true={reqDetails.isRemoteWork}>
            <p class="slds-text-color_weak slds-text-body_small redmondfont">
              OR <b>Remote</b>
            </p>
          </template>
                </div>
                <div class="slds-col_bump-left">
                        <lightning-button-group>
            <lightning-button label="Share" icon-name="utility:send" data-type="share" data-value={reqDetails.id} onclick={showShareReqsModal}></lightning-button>
                        <lightning-button label="Save" icon-name="utility:save" data-type="Save" data-value={reqDetails.id} onclick={showSavedReqsModal} class="saveButton"></lightning-button>
            <lightning-button label="Allocate Recruiter" icon-name="utility:adduser" onclick={showAllocateRecModal}></lightning-button>
            <lightning-button label="Add Delivery Center" variant="brand" icon-name="utility:company" onclick={showDeliveryModal}></lightning-button>
          </lightning-button-group>
                    <c-lwc_allocated-recruiters onallocate={refreshAllocatedRecruiters}></c-lwc_allocated-recruiters>  
                    <c-lwc-delivery-center onsave={handleDeliveryCenterSave}></c-lwc-delivery-center>
          <c-lwc-share-reqs onshare={handleShareReqsRefresh}></c-lwc-share-reqs>
                </div>
            </div>
        </div>
        <!-- /Job title, location, action buttons -->
        <template if:true={isLoaded}>
            <lightning-spinner size="large" alternative-text="loading"></lightning-spinner>
        </template>        
            
    <template if:true={isModalOpen}>
      <c-lwc-req-routing-modal onclose={closeModal}>
        <template if:true={selectedTab}>
          <p>Do you want to save the Req?</p>
        </template>
        <template if:false={selectedTab}>
          <p>
            Please Confirm you want this Req removed from your Saved Req view?
          </p>
        </template>
        <div slot="footer">
          <lightning-button
            label="Yes"
            variant="brand"
            class="slds-p-right_medium"
            onclick={saveActions}
          ></lightning-button>
          <lightning-button
            label="No"
            onclick={handleModal}
            class="slds-p-right_medium"
          ></lightning-button>
        </div>
      </c-lwc-req-routing-modal>
    </template>
        <!-- Unallocate Req Start-->
        <!--Use template if:true to display/hide popup based on isModalOpen value--> 
        <template if:true={showUAModal}>
            <!-- Modal/Popup Box LWC starts here -->
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <!-- Modal/Popup Box LWC header here -->
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeUAModal}>
                            <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small"></lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Unallocate Recruiter</h2>
                    </header>
                    <!-- Modal/Popup Box LWC body starts here -->
                    <div class="slds-modal__content unallocate-modal slds-p-around_medium" id="modal-content-id-1">
                        <p>{reqDetails.job_title} @ {reqDetails.account_name} &dash; {reqDetails.opp_num}</p>
                        <p>Are you sure you want to unallocate <b>{unallocateUserName}?</b></p>
                    </div>
                    <!-- Modal/Popup Box LWC footer starts here -->
                    <footer class="slds-modal__footer">
                        <button class="slds-button slds-button_neutral" onclick={closeUAModal} title="Cancel">Cancel</button>
                        <button class="slds-button slds-button_brand" onclick={UARecruiter} title="Unallocate Recruiter">Unallocate Recruiter</button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
        <!-- Unallocate Req End-->
        <!-- Fields -->
        <div class="slds-col">
            <div class="slds-grid slds-wrap"><!-- Grid for All fields-->
                <div class="slds-col slds-size_1-of-1 slds-large-size_2-of-3 slds-border_right slds-p-right_x-small">
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-5 slds-m-bottom_small">
                            <p class="fieldLabel">Skill Speciality</p>
                            <p class="fieldValue slds-truncate" title={reqDetails.req_skill_specialty}>{reqDetails.req_skill_specialty}</p>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-5 slds-m-bottom_small">
                            <p class="fieldLabel">Created Date</p>
                            <p class="fieldValue"><lightning-formatted-date-time value={reqDetails.created_date} year="numeric" month="long" day="numeric"></lightning-formatted-date-time></p>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-5 slds-m-bottom_small">
                            <p class="fieldLabel">Req Owner</p>
                            <p class="fieldValue">
                                <c-lwc-person user-id={reqDetails.req_owner} fields={personFields} popover-fields={popoverFields} seperator=" " clickable="false" use-popover="true"></c-lwc-person>
                            </p>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-5 slds-m-bottom_small">
                            <p class="fieldLabel">Placement Type</p>
                            <p class="fieldValue slds-truncate" title={reqDetails.placement_type}>{reqDetails.placement_type}</p>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-5 slds-m-bottom_small">
                            <p class="fieldLabel">Win Prob Score</p>
                            <p class={winScoreStyle}>{reqDetails.win_prob_score}</p>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-5 slds-m-bottom_small">
                            <p class="fieldLabel">Req Stage</p>
                            <p class="fieldValue slds-truncate" title={reqDetails.req_stage}>{reqDetails.req_stage}</p>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-5 slds-m-bottom_small">
                            <p class="fieldLabel">Max Bill Rate</p>
                            <p class="fieldValue slds-truncate" title={reqDetails.max_bill_rate}>
                                <lightning-formatted-number value={reqDetails.max_bill_rate} format-style="currency" currency-code="USD"></lightning-formatted-number>
                            </p>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-5 slds-m-bottom_small">
                            <p class="fieldLabel">Max Pay Rate</p>
                            <p class="fieldValue slds-truncate" title={reqDetails.max_pay_rate}>
                                <lightning-formatted-number value={reqDetails.max_pay_rate} format-style="currency" currency-code="USD"></lightning-formatted-number>
                            </p>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-5 slds-m-bottom_small">
                            <p class="fieldLabel">Sub-Vendor</p>
                            <p class="fieldValue slds-truncate" title={reqDetails.canuse_subvendor}>{reqDetails.canuse_subvendor}</p>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-5 slds-m-bottom_small">
                            <p class="fieldLabel">Exclusive</p>
                            <p class="fieldValue">
                                <template if:true={reqDetails.is_exclusive}>Yes</template>
                                <template if:false={reqDetails.is_exclusive}>No</template>
                            </p>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-5 slds-m-bottom_small">
                            <p class="fieldLabel">VMS</p>
                            <p class="fieldValue">
                                <template if:true={reqDetails.is_vms}>Yes</template>
                                <template if:false={reqDetails.is_vms}>No</template>
                            </p>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-5 slds-m-bottom_small">
                            <p class="fieldLabel">Industry</p>
                            <div class="slds-m-top_x-small">
                                <template if:true={reqDetails.industry}>
                                    <span class="reqIndustryPill slds-truncate" title={reqDetails.industry}>{reqDetails.industry}</span>
                                </template>
                                <template if:false={reqDetails.industry}>
                                    <span class="reqIndustryPill">N/A</span>
                                </template>
                            </div>
                        </div>
                        <div class="slds-col slds-size_4-of-5">
                            <p class="fieldLabel">Skills</p>
                            <div class="slds-truncate slds-m-top_xx-small" title={reqDetails.req_skills}>
                                <template if:true={reqDetails.req_skills_length}>
                                    <template for:each={reqDetails.req_skills} for:item="skill">
                                        <span key={skill} class="reqSkillPill slds-m-right_small">{skill}</span>
                                    </template>
                                </template>
                                <template if:false={reqDetails.req_skills_length}>
                                    <span class="reqSkillPill">N/A</span>
                                </template>
                            </div>
                        </div>

                        <div class="slds-col slds-size_1-of-1 slds-m-vertical_small">
                            <p class="fieldLabel">Allocated Recruiters</p>
                            <p class="fieldValue" data-id="allocated-recs">
                                <template if:true={hasAllocated}>
                                    <ul class="recruiters slds-grid_vertical-align-start slds-wrap slds-m-vertical_x-small">
                                        <template for:each={usrs} for:item="usr">
                                            <li class="recruiter on slds-grid slds-p-vertical_xx-small" key={usr.Id}>
                                                <!-- <a href={usr.Id} target="_blank">{usr.Name}</a> -->
                                                <lightning-pill class="recruiter-pill" href={usr.Id} target="_blank" onremove={showRemovePopup} label={usr.Name} data-unaluid={usr.Id} data-reqid={reqDetails.id}></lightning-pill>
                                            </li>
                                        </template>
                                    </ul>
                                </template>
                            </p>
                            <template if:false={hasAllocated}>
                                <p class="fieldValue">--</p>
                            </template>
                        </div>
                    </div>
                </div>
            
                <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-3 slds-text-body_small slds-p-left_xx-large">
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-3 slds-m-bottom_small">
                            <p class="fieldLabel">Open Positions</p>
                            <p class="fieldValue">{reqDetails.open_positions}</p>
                        </div>
                        
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-3 slds-m-bottom_small">
                            <p class="fieldLabel">Total Positions</p>
                            <p class="fieldValue">{reqDetails.total_positions}</p>
                        </div>
                        
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-3 slds-m-bottom_small">
                            <p class="fieldLabel">Days Open</p>
                            <p class="fieldValue">{reqDetails.days_open}</p>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-3 slds-m-bottom_small">
                            <p class="fieldLabel">Linked</p>
                            <p class="fieldValue">{reqDetails.linked}</p>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-3 slds-m-bottom_small">
                            <p class="fieldLabel">Submitted</p>
                            <p class="fieldValue">{reqDetails.submitted}</p>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-3 slds-m-bottom_small">
                            <p class="fieldLabel">Interviewing</p>
                            <p class="fieldValue">{reqDetails.interviewing}</p>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-3 slds-m-bottom_small">
                            <p class="fieldLabel">Offer Accepted</p>
                            <p class="fieldValue">{reqDetails.offer_accepted}</p>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-3 slds-m-bottom_small">
                            <p class="fieldLabel">Started</p>
                            <p class="fieldValue">{reqDetails.started}</p>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-3 slds-m-bottom_small">
                            <p class="fieldLabel">Not Proceeding</p>
                            <p class="fieldValue">{reqDetails.not_proceeding}</p>
                        </div>
                        
                        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-3 slds-m-bottom_small">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fields -->
        
        <!-- Hide Req -->
        <div class="slds-col_bump-left">
            <p style="font-weight: 600;">
               
            </p>
        </div>
        <!-- /Hide Req -->

        <!-- Delivery Center -->        
        <template if:true={showDeliveryCenter}>
            <div class="slds-col slds-p-around_x-small slds-border_top additionalDetails slds-p-left_none">
                <div class="slds-grid slds-wrap">
                    <div class="slds-col slds-grow-none slds-m-right_xx-large"> <!-- iterate this -->
                      
                        <ul class="slds-list_horizontal">
                            <template for:each={SupportRequests} for:item="request">
                                <li class="slds-p-right_small" key={request.Id}>
                                    <a href={request.url} key={request.Id} class="hyperlink-font" target="_blank">{request.Alternate_Delivery_Office__c}</a>
                                    <p key={request.Id}>{request.CreatedBy.Name}</p>
                                </li>
                            </template> 
                        </ul>                        
                    </div>
                </div>
            </div>
        </template>

        <!-- SharedReqs -->
        <template if:true={showSharedReqs}>
            <div class="slds-col slds-p-around_x-small slds-border_top additionalDetails slds-p-left_none">
                <div class="slds-grid slds-wrap">
                    <div class="slds-col slds-grow-none slds-m-right_xx-large" style="display: contents">                        
                        <template for:each={sharedReqs} for:item="reqs">
                            <ul class="slds-list_horizontal slds-size_1-of-5" key={reqs.Id}>
                                <li class="slds-p-right_small" key={reqs.Id}>
                                    <a href={reqs.url} key={reqs.Id} class="hyperlink-font truncate" target="_blank" title={reqs.Name}>{reqs.Name}</a>
                                    <p class="truncate" key={reqs.Id} title={reqs.Email}><lightning-formatted-email value={reqs.Email}></lightning-formatted-email></p>
                                    <p class="truncate" key={reqs.Id} title={reqs.Phone}><lightning-formatted-phone value={reqs.Phone}></lightning-formatted-phone></p>
                                    <p class="truncate" key={reqs.Id} title={reqs.Title}>{reqs.Title}</p>
                                    <p class="truncate" key={reqs.Id} title={reqs.Office__c}>{reqs.Office__c}</p>
                                </li>
                            </ul>
                        </template>                        
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>