.resultItemContainer {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}

.fieldValue {
    color: #2b2826;
    font-size: 13px;
}

.textclr {
  color: red;
}

.winScoreGreen{
  font-weight: 600;
  color: green;
}

.winScoreOrange{
  font-weight: 600;
  color:orange;
}

.winScoreRed{
  font-weight: 600;
  color: red;
}

.redmondfont {
  font-style: italic;
}

.slds-grid {
  background-color: white;
}

.fieldLabel {
  color: #2b2826;
  font-weight: 600;
  font-size: 11px;
}

.txtunderline {
  text-decoration-line: underline;
}

.reqSkillPill {
  background-color: #dcf2f5;
  border-radius: 3px;
  padding: 4px 9px;
  display: inline-block;
}

.reqIndustryPill {
  background-color: #f7dddd;
  border-radius: 3px;
  padding: 4px 9px;
}

.spinner {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
}

.additionalDetails {
  line-height: 22px;
}

.additionalDetailsTitle {
  font-size: 1rem;
}

.additionalDetailsEmail {
  font-size: 0.9rem;
}

.recruiters {
  display: flex;
  padding-inline-start: 0;
  list-style: none;
}

.recruiter {
  display: none; 
} 
.recruiter.on { 
  display: inline-block;
}


.recruiter.on:first-child {
  margin-right: 0.25rem;
}
.recruiter.on ~ .recruiter.on:not(:last-child) {
  margin-right: 0.25rem;
}

.hyperlink-font {
  font-size: medium;
}

.truncate {
  display: block;
  max-width: 12vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}