.THIS .slds-form-element, 
.THIS .slds-input{
	width: 100%;
}


.THIS ul.slds-wrap li{
	display: inline-block;
	margin: 0.125rem 0.25rem 0.125rem 0;
}

.THIS .slds-icon_container{
	line-height: 0.2;
}

.THIS.ldsBtn  {
    width: 10px;
}

.THIS .view-mode .slds-pill__action{
	padding: 0.25rem 0.5rem;
}

.THIS .slds-pill__action{
	border: 0px;
}


/*THIS .top-container{
	border-radius: .25rem .25rem 0rem 0rem;
	border-bottom: none;
}

.THIS .bottom-container{
	border-radius: 0rem 0rem .25rem .25rem ;
}*/

.THIS .slds-form-element__label{
	display: none;
}

.THIS .view-mode .slds-button_icon-bare {
	display: none;
}

.THIS .job-pill .slds-pill__action{
    background-color: #f4ffff;
} 
.THIS .edit-check {
    border: 1px solid rgb(221, 219, 218);
    border-radius: .25rem;
    width: 100%;
    transition: border .1s linear,background-color .1s linear;
    display: inline-block;
    padding: 0 1rem 0 .75rem;
    line-height: 1.875rem;
    min-height: calc(1.875rem + (1px * 2));
    border-left: 5px solid #00cdcd;
    background-color: #f4ffff;
}
.THIS .lookup-search .lookup-input .slds-input{
    border-left: 5px solid #00cdcd;
    background-color: #f4ffff;
}