<!-- For inclusion of standard boilerplate markup in all post-login pages, whether they be fully 
    customized or largely "Salesforce standard" pages. If it wasn't for the "Salesforce standard" 
    pages, this could be included in TC_Template.page. -->
<apex:component controller="TC_TemplateController">

    <script type="text/javascript">
        document.getElementsByTagName('body')[0].className+=' u-opco-{!ProfileSlug}';
    </script>

    <div class="u-opco-{!ProfileSlug}">

        <apex:outputPanel rendered="{!IF(ProfileSlug == 'aerotek',true,false)}">
            <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7408474/6309752/css/fonts.css" />
        </apex:outputPanel>

        <apex:stylesheet value="{!URLFOR($Resource.tc_style, ProfileCssPath)}" />

        <!-- Global header and pulldown menu. -->
        <skuid:page page="header" module="TC" />

    </div>

</apex:component>