.THIS .center-column {text-align: center;}
.THIS table {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-spacing: 1px;
    width: 100%;
}
.THIS thead th {background-color: inherit;}
.THIS .name-column button {padding: 0 8px 0 0;}
.THIS .name-column a { color: #1589ee;}

.THIS tbody tr {height: 40px;}
.THIS tbody tr:hover {background-color: rgb(244, 246, 249);}
.THIS .align-center {
    display: flex;
    align-items: center;
}
.THIS table a {padding: 0;}

.THIS .col1 { width: 50px; }
.THIS .col11 { width: 125px; }
.THIS thead th { width: 10%; }
.THIS .col2 { width: 10%; }
.THIS .col5 { width: 10%; }
.THIS .col9 { width: 10%; }
.THIS .col10 { width: 10%; }
.THIS .col-5 { width: 68px;}

.THIS .notes-backdrop {
    background: rgba(0,0,0,.4);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    /* padding-top: 6rem; */
}

.THIS .notes-modal {
	border-radius: .5rem;
	background: white;
	width: 60rem;
    /* margin-left: calc((100vw - 60rem) / 2); */
	height: 38rem;
	min-height: 16rem;
}

.THIS .note-talent-name {
    font-size: 1.5rem;
    padding: 1.5rem;
    text-align: center;
	border-bottom: 1px solid lightgray;    
}

.THIS .note-title {
    margin-bottom: .25rem;
}

.THIS .disclaimer {
    font-size: .8rem;
    font-style: italic;
    margin-bottom: 1rem;
}

.THIS .notes-modal textarea {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: .25rem;
    line-height: 2rem;
    padding: 0 .5rem;
    resize: none;
}

.THIS .notes-modal textarea:focus {
    outline: none;
}

.THIS .note-body {
    padding: 0.5rem 2rem 5rem 2rem;

}

.THIS .note-footer {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    background: rgb(244,242,242);
    border-radius: 0 0 .25rem .25rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.THIS .notes-modal {
    position: relative;    
}

.THIS .note-footer button {
    margin-left: .5rem;
    border-radius: .25rem;
    border: 1px solid rgb(197,197,197);
    padding: .5rem 1rem;
}

.THIS .note-footer button:focus {
    outline: none;
}

.THIS .note-button-cancel {
    color: rgb(61,138,231);
}

.THIS .note-button-save {
    background: rgb(20,57,111);
    color: white;
}

.THIS .button-container button:disabled {
	background: #B0ADAB;
    color: black;
}

.THIS .note-button-cancel svg{
    fill: rgb(61,138,231);
    transform: translateY(-.15rem);
}
        
.THIS .close-icon {
    position: absolute;
    top: -1rem;
    right: -1rem;
    cursor: pointer;
    /* width: 60rem;
    display: flex;
    justify-content: flex-end;
    padding-bottom: .25rem;
    margin-left: calc((100vw - 60rem) / 2);
	cursor: pointer; */
}
        
.THIS .close-icon svg {
	fill: white;	            
}