// Brand colors
@brand-primary:           #013d73;
@brand-secondary:         #7eb236;
@brand-tertiary:          #021a32;
@brand-quaternary:        #013d73;
@brand-slate:             #101821;
@brand-footer:            #333333;
@brand-sticky-footer:     #03a9f4;
@sidebar-background:      #021a32;
@content-section:         #F7F6F3;
@brand-text-secondary:    #48484A;
@btn-white:                 #FFF;

@header-bg-light:         #09253e;
@header-bg-dark:          #021a33;

//Cards
@card-background-color:   #FFFFFF; 
@card-border-color:       #FFFFFF;
@card-border-style:       solid; 
@card-border-width:       1px;
@card-border-radius:      3px;

// Links
@link-color:              #1E88BE;
@link-color-hover:        darken(@link-color, 5%);
@linkedin-color-hover:    darken(#0077B5; 5%);
@link-color-hover-background:   #E9F0DE !important;

// Inputs
@input-border-color: initial;
@input-placeholder-color: #90928F;
@input-icon-color: @link-color;

// Components
@brand-footer-background:            @brand-slate;
@navigation-links:                 #0e1923;
@navigation-background:              @sidebar-background;
@navigation-border:                #979797;
@navigation-mobile-links:            @white;
@navigation-mobile-background:       @sidebar-background;
@navigation-mobile-border:         #979797;
@profilecard-pill:                   @brand-quaternary;

//Button Font
@btn-font: inherit;

// Button colors
@btn-background-color:        @brand-primary;
@btn-border-color:            2px solid @brand-primary;
@btn-font-color:              @btn-white;
@btn-font-size:               16px;
@btn-border-radius:           6px;
@btn-height:                  41px;
@btn-font-weight:             inherit;
@btn-padding:                 5px 15px;
@btn-border:                  2px solid @brand-primary;
@btn-box-shadow:              inherit;
@btn-text-transform:          inherit;
@btn-background-color-hover:  darken(@brand-primary, 5%);
@btn-font-color-hover:        @btn-white;
@btn-border-hover:            2px solid @btn-background-color-hover;
@btn-background-color-active: @brand-primary;
@btn-font-color-active:       #FFF;
@btn-border-active:           2px solid @brand-primary;
//ghost button
@btn-ghost-font-color:        @brand-primary;
@btn-ghost-background-color:  #FFF;
@btn-ghost-border:            2px solid @brand-primary;
@btn-ghost-background-hover:  @btn-white;
@btn-ghost-font-color-hover:  @btn-background-color-hover;
@btn-ghost-border-hover:      2px solid @btn-background-color-hover;
@btn-ghost-background-active: @btn-white;
@btn-ghost-border-active:     2px solid @btn-background-color-hover;
@btn-ghost-font-color-active: #FFF;

// Buttons
@button-brand-background:   @brand-primary;
@button-brand-border:       transparent;
@button-brand-color:        @white;
@button-brand-hover:        darken(@brand-primary, 5%);

@button-neutral-background: @white;
@button-neutral-border:     @brand-primary;
@button-neutral-color:      @brand-primary; 
 
//Dashboard Card
@profile-card-color:#F7F5F2;

//End date
@end-date-pill: #1B4F82;
@end-date-background: #E4E0DB;

// Banner
@banner-font-weight: 400;
@banner-info-background-color: #021A32;
@banner-info-text-color: @white;
@banner-success-background-color: #04844b;
@banner-success-text-color: @white;
@banner-warning-background-color: #ffb75d;
@banner-warning-text-color: #080707;
@banner-error-background-color: #c23934;
@banner-error-text-color: @white;

// Title Bar
@title-bar-background-color: #021A32;
@title-bar-text-color: @white;

// Footer
@footer-background-color: #07101A;
@footer-text-color: #FFF;
@footer-link-color: #A9D8EA;

// Pills
@pill-background-color: #1E88BE;
@pill-text-color: @white;
@pill-suggested-background-color: @white;
@pill-suggested-text-color: #1E88BE;
@pill-suggested-border-color: #1E88BE;
@pill-pending-background-color: #EB9032;
@pill-pending-text-color: @white;

// Tooltip
@tooltip-background: #101821;
@tooltip-text-color: #fff;

// Global Search Results
@global-search-results-highlightning: #FFE1A6;

// Toast Messages
@toast-shadow-color: rgba(0, 0, 0, 0.25);
@toast-shadow-blur: 0 0 1rem;

@toast-background-color: white;
@toast-border-left:6px solid #007DB3;
@toast-heading-color: #222222;
@toast-color: #48484A;

@toast-error-background-color: white;
@toast-error-border-left:6px solid #F8971D;
@toast-error-heading-color: #222222;
@toast-error-color: #48484A;

@toast-success-background-color: white;
@toast-success-border-left:6px solid #C1D82F;
@toast-success-heading-color: #222222;
@toast-success-color: #48484A;

.bob {
  color:blue;
}

// Selection Colors
@selection-color: #000;
@selection-background: #B4D5FE;