// Brand colors
@brand-primary:           #C1D82F;
@brand-secondary:         #C1D82F;
@brand-tertiary:          #021A32;
@brand-quaternary:        #013d73;
@brand-slate:             #021A32;
@brand-footer:            #021A32;
@brand-sticky-footer:     #C1D82F;
@sidebar-background:      #021a32;
@content-section:         #F7F6F3;
@brand-text-secondary:    #48484A;  

@header-bg-light:         #09253e;
@header-bg-dark:          #021a33;

//Available fonts

//Cards
@card-background-color:   #FFFFFF; 
@card-border-color:       #FFFFFF;
@card-border-style:       solid; 
@card-border-width:       1px;
@card-border-radius:      3px;

// Links
@link-color:              #007698;
@link-color-hover:        darken(@link-color, 5%);
@linkedin-color-hover:    darken(#007698; 5%);
@link-color-hover-background:   #007698 !important;

// Inputs
@input-border-color: initial;
@input-placeholder-color: #90928F;
@input-icon-color: @link-color;

// Components
@brand-footer-background:          @brand-slate;
@navigation-links:                 @brand-tertiary;
@navigation-background:            @sidebar-background;
@navigation-border:                #979797;
@navigation-mobile-links:          @white;
@navigation-mobile-background:     #007698;
@navigation-mobile-border:         #979797;
@profilecard-pill:                 @brand-quaternary;

//Button Font
@btn-font: 'muller-bold' !important;

//Glabal search
.forceCommunitySearchBox .search-field {
    border-radius: 6px !important;
}

// Button colors
@btn-background-color:        @brand-primary;
@btn-border-color:            2px solid @brand-primary;
@btn-font-color:              @brand-tertiary;
@btn-font-size:               16px;
@btn-border-radius:           6px;
@btn-height:                  41px;
@btn-font-weight:             800;
@btn-padding:                 5px 15px;
@btn-border:                  2px solid @brand-primary;
@btn-box-shadow:              inherit; 
@btn-text-transform:          inherit;
@btn-background-color-hover:  @brand-primary;
@btn-font-color-hover:        @brand-tertiary;
@btn-border-hover:            2px solid @brand-tertiary;
@btn-background-color-active: @brand-tertiary;
@btn-font-color-active:       #FFF;
@btn-border-active:           2px solid @brand-tertiary;
//ghost button
@btn-ghost-font-color:        @brand-quaternary;
@btn-ghost-background-color:  #FFF;
@btn-ghost-border:            2px solid @brand-quaternary;
@btn-ghost-background-hover:  #FFF;
@btn-ghost-font-color-hover:  @brand-tertiary;
@btn-ghost-border-hover:      2px solid @brand-tertiary;
@btn-ghost-background-active: @brand-tertiary;
@btn-ghost-border-active:     2px solid @brand-tertiary;
@btn-ghost-font-color-active: #FFF;
 
// Buttons
@button-brand-background:   @brand-primary;
@button-brand-border:       transparent;
@button-brand-color:        @brand-tertiary;
@button-brand-hover:        darken(@brand-primary, 5%);

@button-neutral-background: @white;
@button-neutral-border:     @brand-primary;
@button-neutral-color:      @brand-primary;

//Dashboard Card
@profile-card-color:#EEF3F5;
 
//End date
@end-date-pill: #007698;
@end-date-background: #DDDDDD;

// Banner
@banner-font-weight: 100;
@banner-info-background-color: #666564;
@banner-info-text-color: @white;
@banner-success-background-color: #04844b;
@banner-success-text-color: @white;
@banner-warning-background-color: #ffb75d;
@banner-warning-text-color: #080707;
@banner-error-background-color: #c23934;
@banner-error-text-color: @white;

// Title Bar
@title-bar-background-color: #021A32;
@title-bar-text-color: @white;

// Footer
@footer-background-color: #021A32;
@footer-text-color: #FFF;
@footer-link-color: #A9D8EA;

// Pills
@pill-background-color: #007698;
@pill-text-color: @white;
@pill-suggested-background-color: @white;
@pill-suggested-text-color: #007698;
@pill-suggested-border-color: #007698;
@pill-pending-background-color: #EB9032;
@pill-pending-text-color: @white;

// Tooltip
@tooltip-background: #101821;
@tooltip-text-color: #fff;

// Global Search Results
@global-search-results-highlightning: #FFE1A6;

// Toast Messages
@toast-shadow-color: rgba(0, 0, 0, 0.25);
@toast-shadow-blur: 0 0 1rem 0;

@toast-background-color: white;
@toast-border-left:6px solid #007DB3;
@toast-heading-color: #222222;
@toast-color: #48484A;

@toast-error-background-color: white;
@toast-error-border-left:6px solid #F8971D;
@toast-error-heading-color: #222222;
@toast-error-color: #48484A;

@toast-success-background-color: white;
@toast-success-border-left:6px solid #C1D82F;
@toast-success-heading-color: #222222;
@toast-success-color: #48484A;

// Selection Colors
@selection-color: #000;
@selection-background: #B4D5FE;