.THIS .search-results-card,
.THIS .match-results-card {
    margin: 0.5rem .2rem .5rem 0 !important;
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.20);
    border: 1px solid rgb(221, 219, 218);
}

.THIS .match-results-card {
     height: 110px;
}


.THIS .slds-card {
    position: unset;
}

.THIS p {
    line-height: 1.25;
    text-transform: capitalize;
}

.THIS dl {
    font-size: 90%;
}

.THIS .flame-icon {
    position: relative;
    transform: translate(-2px, -3px);
    margin-right: 0.25rem;
}

.THIS .badge-popover {
    top: 2rem;
    left: -8.5rem;
}

.THIS dt {
    width: 60%
}

.THIS dd {
    width: 40%;
}

.THIS .dislike-button-wrapper {
    margin: 1.25rem 0;
}


.THIS .col-2 a {
    font-size: 1rem;
    line-height: 1.5;
    text-transform: capitalize;
    font-weight: 600;
}

.THIS .col-2 .truncate-block p {
    font-weight: 600;
}

.THIS .col-2 .visited,
.THIS .col-2 .truncate-block .visited{
    font-weight: 400;
}


.THIS .col-2 div[data-tracker] {
    width: 70%;
}

.THIS .truncate-title {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    margin-bottom: -0.25rem;
}

.THIS .col-2 a:visited {
    color: #551A8B;
}

.THIS .selected,
.THIS .selected:hover,
.THIS .selected .slds-card:hover .bottom-row{
    box-shadow: 0 0 3px #0070d2!important;
    background-color: #D7EDFD!important;
    border: 1px solid #0070d2;
}

.THIS .slds-card:focus,
.THIS .slds-card:active,
.THIS .selected:active,
.THIS .selected:focus{
    background-color: #D7EDFD;
    box-shadow: 0 0 3px #0070d2;
    border: 1px solid #0070d2;
    outline: 0px;
}

.THIS .selected .bottom-row {
    background-color: #D7EDFD!important;
}

.THIS .slds-card:hover {
    background-color: #eff8fe;
}

.THIS .slds-card:focus {
    box-shadow: 0 0 3px #0070d2;
}

.THIS .slds-card:hover .bottom-row{
    background-color: #eff8fe;
}

.THIS .col-1,
.THIS .col-4 {
    width: 1.5rem;
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
    text-align: center;
}

.THIS .select-checkbox,
.THIS .button-icon {
    display: flex;
    justify-content: center;
    text-align: center;
}

.THIS .select-checkbox {
    margin: 0 auto;
}

.THIS .col-2 {
    width: 20rem;
    border-left: 1px solid #DEDEDE;
    padding: 0.25rem;
}

.THIS .col-3 {
    width: 12rem;
    border-left: 1px solid #DEDEDE;
    padding: 0.25rem;
}


.THIS .slds-badge {
    font-size: 8px;
}

.THIS .col-3 ul li {
    line-height: 1.25;
}

.THIS .col-4 {
    border-left: 1px solid #DEDEDE;
}

.THIS .match-results-card .col-4 ul {
    position: relative;
    top: -0.5rem;
}

.THIS .search-results-card .col-4 ul {
    position: relative;
    top: 0.5rem;
}

.THIS .results-row {
    width: 100%;
    height: 87px;
}



/*Feedback Button styles*/

.THIS .like-button .slds-button:focus {
    outline: 0px;
    box-shadow: unset;
    color: rgb(112, 110, 107);
}

.THIS .like-button .slds-button_icon-border {
    width: unset;
    height: 1rem;
    border: unset;
    border-color: unset;
}
.THIS .like-button .slds-button_icon-border.slds-is-selected {
    background-color: unset;
}

.THIS .like-button .slds-button_icon-border.slds-is-selected svg{
    fill: currentColor;
}

.THIS .disliked-selected .slds-button_icon-border.slds-is-selected {
    color: #C42530;
    transition: all 0.25s ease-in;
}


/*Bottom Row Styles*/
.THIS .bottom-row {
    width: 100%;
    height: 23px;
    background-color: #DEDEDE;
    border-top: 1px solid #DEDEDE;
    border-radius: 0 0 .25rem .25rem;
}

.THIS .match-indicator span {
    font-size: 80%;
    font-weight: 600;
    color: rgb(8, 7, 7);
    text-transform: uppercase;
    line-height: 0;
}

.THIS .pipeline-indicator {
    font-size: 8px;
    line-height: 1.5;
    background-color: #0A6894;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.125rem 0.5rem;
}

.THIS .pipeline-placeholder {
    width: 70px;
    height: 22px;
}
.THIS .pipeline-indicator .slds-icon {
    height: 11px;
    width: 11px;
    fill: #0A6894;
}
.THIS .pipeline-indicator .slds-icon-text-default {
    fill: #fff;
}

.THIS .action-menu .slds-button {
    line-height: 1.25;
    color: #fff;
    text-transform: uppercase;
}


.THIS .action-menu .slds-button_icon-border-filled {
    height: 23px;
    background-color: transparent;
    border-radius: unset;
    border-color: unset;
    border: unset;
    display: block;
}

.THIS .action-col {
    width: 5%;
    text-align: center;
}

.THIS .col-4 a,
.THIS .action-menu a{
    transition: all 0.5s ease-in;
    text-decoration: none;
}

.THIS .col-4 p,
.THIS .action-menu p {
    text-align: center;
    line-height: 1.25;
    color: rgb(112, 110, 107);
    font-size: 8px;
    text-transform: capitalize;
}

.THIS .search-results-card .action-icon {
    width: unset;
    text-align: unset;
    margin-top: 0.5rem;
}

.THIS .search-results-card .action-icon .button-icon {
    margin-bottom: unset;
}

.THIS .action-col .action-menu p {
    position: relative;
    top: -5px;
    left: -1px;
}

.THIS .search-results-card .action-icon .action-menu p {
    position: relative;
    top: -12px;
    left: -1px;
}

.THIS .search-results-card .action-menu .slds-dropdown {
    transform: translateY(-0.25rem);
}

.THIS .search-results-card .action-icon .slds-icon {
    transform: translateY(-0.5rem);
}

.THIS .action-col .action-menu .slds-button_icon-border-filled:hover,
.THIS .action-col .action-menu .slds-button_icon-border-filled:active {
    background-color: #DEDEDE;
    transition: all 0.5s ease-in;
}

.THIS .col-4 .slds-icon,
.THIS .action-menu .slds-icon {
    fill: rgb(112, 110, 107);
    line-height: 0;
    vertical-align: middle;
}

.THIS .col-4 a:hover .slds-icon,
.THIS .col-4 a:hover p,
.THIS .action-menu .slds-button:hover .slds-icon,
.THIS .action-menu .slds-button:hover p{
    fill: #0A6894;
    color: #0A6894;
    text-decoration: none;
}

.THIS .col-4 a:focus .slds-icon,
.THIS .col-4 a:focus p,
.THIS .action-menu .slds-button:focus .slds-icon,
.THIS .action-menu .slds-button:focus p{
    fill: #0A6894;
    color: #0A6894;
    text-decoration: none;
}
.THIS .action-menu img {
    width: 1.25rem;
    height: auto;
    margin-right: 0.25rem;
}
.THIS .action-menu a {
    justify-content: flex-start;
    text-decoration: none;
}

.THIS .action-menu .slds-dropdown {
    width: 15vw;
}



.THIS .button-icon {
    margin-bottom: 0.25rem;
}
.THIS .truncate-block {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.THIS .weight-700 {
    font-weight: 600;
}

/*SMS*/
.THIS .color-red svg{
fill: #A9262E!important;
}
.THIS .color-grey svg{
fill: #B7B6B4!important;

}
.THIS .color-green svg{
fill: #29835E!important;

}
.THIS .icon-size svg{
height:15px !important;
width:15px !important;
}

.THIS .icon-size-sup svg {
   height: 8px;
   width: 8px;
   
}