.THIS .slds-pill_bare {
    padding: .125rem;
    border: 1px solid rgb(216, 221, 230);
    border-radius: .25rem;
    padding: 0.25rem 0.5rem;
}

.THIS a .exclude-popover {
	color: rgb(8, 7, 7);
	margin-right: 0.5rem;
}

.THIS a:hover,
.THIS a:focus {
	text-decoration: none;
}

.THIS .exclude-keywords:after{
	color: rgb(8, 7, 7);
	content: '|';
	margin-left: 0.5rem;
}



.THIS .slds-pill__action{
	padding-right: 0;
}

.THIS .slds-truncate{
	max-width: 90%;
}

.THIS .slds-pill_link .slds-pill__remove {
	position: relative;
	top: 6px;
	right: 1px;
}

.THIS .slds-icon-utility-close > span > svg {
	fill: rgb(112, 110, 107);
}

.THIS .slds-media__figure{
	margin-right: 0;
}


.THIS .disabled{
	color: rgb(181, 180, 178);
}

.THIS .disabled > span > svg{
	fill: rgb(181, 180, 178);
}

.THIS .collapse-facet-button {
	left: -5px;
}
/*Change background color of pill container for better contrast*/

.THIS .search-facet-pill-container{
   	background: rgb(255, 255, 255);
    padding: 0.25rem 0.5rem;
    border: 1px solid rgb(112, 110, 107);
    border-radius: 4px;
}
.THIS .slds-icon-utility-filterList {width: 1rem;}
.THIS .no-wrap {white-space: nowrap; }
.THIS .exclude-popover { 
	position: absolute!important;
	z-index:3;
}
.THIS .exclude-container { display: inline-flex; width: 100%}
.THIS .exclude-container .uiInput--input.input {border-bottom-right-radius: 0; border-top-right-radius: 0;    }
.THIS .exclude-container button {border-bottom-left-radius: 0; border-top-left-radius: 0;    }

.THIS .exclude-keywords{ 
	margin-right: 0.5rem;
	font-size: 85%;
}
.THIS .position-unset {
	position: unset !important;
}

.THIS #filter-header {
	color: #706E6B;
	font-size: .75rem;
}

.THIS .translateY3px {
    transform: translate(-3px, 3px);
}