<template>
    <template if:true={recordId}>
        <a href={url} target="_blank" onclick={navTo} title={linkText}>{linkText}</a>
    </template>
    <template if:false={recordId}>
       {linkText}
    </template>
</template>