.THIS .slds-card__body{
    min-height: 160px;
}
.THIS table {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
}
.THIS  td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.THIS .ResumeParseModal .slds-modal__container {
    min-width: 50rem;
    max-width: 100%;
}
/* -- default icon hover --*/
.THIS .slds-icon__hover_light-grey svg {fill: #fff}
.THIS .slds-icon__hover_light-grey:hover svg {fill: #cfd7e6!important}
.THIS .slds-icon_blue svg {fill: #0070d2!important;}
/* -- end default icon hover --*/

.THIS .resume-button{
  display: flex;
  align-items: center;
  gap: 0.25rem;
}