.THIS #topFacetBarMainDivId {
	background: #EEF1F6;
	padding: 8px;
	margin: 0 0 20px 0; 
	border-radius: .25em;
}
.THIS .top-bar-sub-container {
    padding: 0.5rem;
    color: #999;
}
.THIS .summary-visible {
    visibility: visible;
    opacity: 1;
}