
.THIS .bold {font-weight: 600}
.THIS .underline {text-decoration:underline}
.THIS .popoverBodyGrid {
    display: grid;
}
.THIS .info-icon-container {
    margin-right: 0;
    position: relative;
    min-width: auto;
}
.THIS .core-popover {
    top: -28px;
    left: 27px;
    background: white;
    min-width:10rem;
    max-width:100rem;
    width:auto;
}
 .THIS .profile-title {
      font-size: 14px;
      color: #1589ee;
    }
    .THIS .Profile-text {
        font-size:12px;
    }
    .THIS .Profile-text-data {
        font-size:12px;
        font-weight:400 !important;
    }
    .THIS .profile-header {
        border-bottom:none;
    }