.THIS .filter-row {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    padding: 0.5rem 0;
}

.THIS .filter-row .slds-form-element {
    margin-right: 0.5rem;
}

.THIS .slds-form-element__label {
    font-weight: 700;
}