.THIS h1.heading {color:#a62b22;font-size:30px;padding: 0px 0px 10px 0px;}
.THIS h2 {font-size: 18px; color: #002e56;}
.THIS .lloyd-body__font {font-size: 14px; }
.THIS .lloyd-column--left {max-width: 480px; margin-left: 50px;}

@media screen and (max-width: 480px) {
    
    .THIS .lloyd-column--left {margin: 0}

}