.THIS {
}
.THIS .d-label_none .slds-combobox .slds-button {
        display:block !important;
    }
    .THIS .d-label_none .slds-form-element_stacked {
        margin-bottom:0rem;
    }
 .THIS .d-label_none .slds-form-element__label {
     display:none !important;
    }
 .THIS .d-label_none .slds-button{
     display:none !important;
    }
.THIS .error-input .slds-select{
    border: 1.5px solid #C23934;
}
.THIS .m-left_cls-55 {
    margin-left: -5.5rem !important;
}
.THIS .word-break {
    word-break: break-word;
}