<template>
    <div class="skill-pill-field">

      <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="search">
        <path d="M22.9 20.9l-6.2-6.1c1.3-1.8 1.9-4 1.6-6.4-.6-3.9-3.8-7.1-7.8-7.4C5 
        .4.4 5 1 10.5c.3 4 3.5 7.3 7.4 7.8 2.4.3 4.6-.3 6.4-1.5l6.1 6.1c.3.3.7.3 1
         0l.9-1c.3-.3.3-.7.1-1zM3.7 9.6c0-3.2 2.7-5.9 5.9-5.9 3.3 0 6 2.7 6 5.9 0 
         3.3-2.7 6-6 6-3.2 0-5.9-2.6-5.9-6z">
        </path>
      </svg>

        <c-lwc-pill-field 
            pills={skills}
            class-name={className}
            custom-blur="true"
            onblur={handleBlur} 
            onpillchange={handlePillChange}
            placeholder="Search" 
            value={value}
            onvaluechange={handleChange}
            onkeydown={handleKeyDown}
            ondupe={handleDupeMsg}
            is-ignore-enter-key-press={isIgnoreEnterKeyPress}
        ></c-lwc-pill-field>

        <div class="slds-pill_container slds-p-horizontal_small suggested-list">
            <template for:each={suggestedSkills} for:item="suggestedSkill">
                <span key={suggestedSkill} class="slds-pill slds-pill_link">
                  <a class="slds-pill__action" title={suggestedSkill}>
                    <span class="slds-pill__label">{suggestedSkill}</span>
                  </a>
                  <button type="button" onclick={handleSuggestedSkillAdd} data-val={suggestedSkill} class="slds-button slds-button_icon slds-button_icon slds-pill__remove" title="Add">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <path d="M13.8 13.4h7.7c.3 0 .7-.3.7-.7v-1.4c0-.4-.4-.7-.7-.7h-7.7c-.2 0-.4-.2-.4-.4V2.5c0-.3-.3-.7-.7-.7h-1.4c-.4 0-.7.4-.7.7v7.7c0 
                      .2-.2.4-.4.4H2.5c-.3 0-.7.3-.7.7v1.4c0 .4.4.7.7.7h7.7c.2 0 .4.2.4.4v7.7c0 .3.3.7.7.7h1.4c.4 0 .7-.4.7-.7v-7.7c0-.2.2-.4.4-.4z">
                      </path>
                    </svg>
                    <span class="slds-assistive-text">Add</span>
                  </button>
                </span>
            </template>
        </div>

        <div data-class={resultsState} class="slds-dropdown slds-dropdown_length-with-icon-7 slds-dropdown_fluid" role="listbox">
            <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                <template for:each={results} for:item="item">
                    <li tabindex="-1" key={item} onclick={handleSearchedSkillAdd} onkeydown={handleSearchedSkillNav} data-val={item} role="presentation" class="slds-listbox__item">
                        <div class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
                          <span class="slds-media__body">
                            <span class="slds-listbox__option-text slds-listbox__option-text_entity">
                              <span>{item}</span>
                            </span>
                          </span>
                        </div>
                    </li> 
                </template>
            </ul>
        </div> 

    </div>    
</template>