.THIS {
	width: 100%;
}

.THIS .slds-modal__content:last-child{
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	border-radius: 0px;
}

.THIS .slds-modal__footer{
	background-color: #ffffff;
}

.THIS .slds-pill .slds-icon-text-default{
    fill: #fff;
}

.THIS .toggle-text{
	color: rgb(159, 170, 181);
}

.THIS .error-input{
    border: 1px solid rgb(194, 57, 52);
    border-radius: 5px;
}

.THIS hr{
	margin: 1rem 0;
}

.THIS .slds-icon-utility-close > span > svg{
	fill: #fff;
}

.THIS .slds-pill__label{
    color:#ffffff; 
}

.THIS.a:hover, .THIS.a:active{
    color:#ffffff; 
}


.THIS .unfavorite-icon,
.THIS .favorite-icon{
	padding-bottom: 0.25rem;
}


.THIS .unfavorite-icon  > span > svg{
	stroke: #fff;
	stroke-width: 2px;
}

.THIS .unfavorite-icon > span > svg.slds-icon-text-default{
	fill: transparent;
}

.THIS .favorite-icon  > span > svg{
	fill: #fff;
	stroke: transparent;
	stroke-width: 2px;
}

.THIS .slds-pill__label {
    text-transform: capitalize;
    display: inline-flex;
}

.THIS .light_blue {

	background-color: hsl(215, 100%, 68%);
}

.THIS .mid_blue {

	background-color: hsl(215, 100%, 38%);
}

.THIS .dark_blue {
	
	background-color: hsl(215, 100%, 22%);
}

.THIS .essential-pill{
	background-color: #FCB95B;
}


.THIS .cCRM_ReqSkillCardInd .slds-pill{
    color:#ffffff;
	margin: 0.25rem 0.25rem 0.25rem 0;
	padding: 0.25rem 0.5rem;
    background-color: hsl(215, 100%, 38%);
}



.THIS .slds-icon_container{
	line-height: 1.2;
}

.THIS .truncate-badge{
	display: inline-block;
	max-width: 15rem;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px;
}

.THIS .slds-form-element__label_skills{
    display: inline-block;
    color: rgb(112, 110, 107);
    font-size: .75rem;
    line-height: 1.5;
    margin-right: .75rem;
    margin-bottom: -20px;
}

.THIS .slds-modal__container{
    width:100%;
    padding:0px;
}

@media (min-width: 48em){
.THIS .slds-modal__container {
    margin: 0 auto;
    width: 100%;
    max-width: 100rem;
    min-width: 20rem;
 }    
}

.THIS  aside.slds-m-bottom_medium{
	margin-bottom: 0;
}

.THIS .match-pill-container{
	min-height: 50px;
}



.THIS .boldtext {
 	font-weight: 600;
 	position: relative;
 	top: 0.125rem;
}

.THIS .uiInput--default.has-error .form-element__help{
	margin-top: 0.125rem;
	font-weight: 600;
}

.THIS .toast-container{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10000;
}

.THIS lightning-helptext.help-button-icon{
	top: -2px;

}

.THIS .slds-form-element__label{
	margin-bottom: 0.25rem;
}

/*Styles for Essential pills*/

.THIS .essential_color {
	background-color: #FCB95B;
}

.THIS .favorite > span > svg{
	fill: #ffffff;
}

.THIS .un-favorite > span > svg{
	fill: transparent;
	stroke: #ffffff;
	stroke-width: 5px;
}
.THIS .clone-highlight .lookup-input .slds-input{
   border-left: 5px solid #00cdcd;
    background-color: #f4ffff; 
}
.THIS .clone-highlight .uiInput--textarea.textarea{
    border-left: 5px solid #00cdcd;
    background-color: #f4ffff;
}
.THIS .clone-exp-highlight .uiInput--select.select{
    border-left: 5px solid #00cdcd;
    background-color: #f4ffff;
}
.THIS .clone-address-highlight .slds-input{
   border-left: 5px solid #00cdcd;
    background-color: #f4ffff; 
}
.THIS .search-fields {
    background-color: #e6e6e6;
    height: 50px;
}
.THIS .search-indicator {
    position: relative;
    bottom: 15px;
    display:flex;
}
.THIS .required{
    float: left;
    padding-right: 2px;
    color: rgb(194, 57, 52);
    font-weight: 700
}
.THIS .search-edit {
    display:inline-block
}
.THIS .required-edit {
    display:inline-block
}
.THIS .search-match-pill-clone{
   width: 25px;
    height: 5px;
    transform:rotate(270deg);
    border-radius: 16px;
    background-color: #00cdcd;
    position:relative;
    left:5px;
    top:6px;
}
.THIS .field-class-clone{
    position:relative;
    top:19px;
    display:flex;
    flex:1 100%;
}
.THIS .sc-button {
 display:flex;
 width:125%;
}
.THIS .altdeliverybutton{
    float: right;
    margin-top: -8px;
}
.THIS .altDeliveryHeader{
    font-size: 110%;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 8px; 
}
.THIS .opp-verbiage-pos {
    background-color:#FFB75D;
    padding:6px 6px 6px 6px;
     width:586px;
    border-radius:5px;   
}
    .THIS .opp-verbiage-pos svg {
        height:14px;
        fill:#333333;
        position:relative;
        left:-6px;
    }
.THIS .verb-pos {
  font-size:11px;
  
}

.THIS.spinnercls{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.THIS .ons-job-title input {
    border-left: none!important;
    background-color: white!important;
}