.THIS lightning-helptext .slds-form-element__icon {
    padding-top: 0;
}

.THIS .uiInput--textarea.textarea {
    padding: 0.5em;
    height: 30px;
}

.THIS .textarea-preline.search-req-field{
    border-left: 5px solid #00cdcd;
    background-color: #f4ffff;
}

.THIS .textarea-preline.search-req-field:focus{
    border-top: 1px solid rgb(21, 137, 238);
    border-right:  1px solid rgb(21, 137, 238);
    border-bottom: 1px solid rgb(21, 137, 238);
    border-left: 5px solid #00cdcd;
    box-shadow: 0 0 3px #0070d2;
    background-color: #f4ffff;
    outline: 0;
}

.THIS #goals-n-interests, .THIS #skills-comments, .THIS #overview-textarea {
    flex-direction: row;
    background: rgb(255, 255, 255);
    border: 1px solid white;
    transform: translateY(-2px);
}

.THIS #overview-textarea {
    padding-top: 0;
}

.THIS .focused-div-container {
    border: 1px solid rgb(0,140,231) !important;
    box-shadow: 0 0 3px rgba(0,140,231,1);
    border-radius: .25rem;
}


.THIS .truncated-container::after {
    content: 'MORE' !important;
    background: white;
    right: 0;
    font-size: .7rem;
    transform: translate(-4px, -25px);
    float: right;
    padding: 5px 6px 0 8px;
    color: rgb(0, 109, 204);
}

.THIS .flex-box-container {
    display: flex;
    justify-content: space-between;
}

.THIS .textarea-wrapper {
    /*padding-bottom: 5px;*/
}

.THIS .inline-item {
    margin-bottom: 0.5rem;
}

/* DEMO CHANGES ^^ */

.THIS .pick-list {
    width: 100%;
}

.THIS .show:nth-of-type(1) {
    margin-top: -1rem;
}
.THIS .parse-field .slds-input{
    background-color: #F0EE6C !important;
}
.THIS .parse-field .slds-combobox_container{
    border: 1px solid #C2A10D !important;
}
.THIS .parse-field .slds-combobox_container .slds-combobox{
    border: 0.5px solid #C2A10D !important;
}
.THIS .parse-skill div{
    background-color: #F0EE6C !important;
}

.THIS #goals-n-interests textarea, .THIS #skills-comments textarea {
    transform: translateY(-1px);
}