.THIS .slds-modal__container{}
.THIS.slds-modal{}
.THIS .sourceInput {width:100px; margin:auto;}
.THIS .link-to-req-modal-close {color: white;}
.THIS .link-to-req-modal {width: 95vw; margin: 0;}
.THIS .link-to-req-modal-body { height: 68vh; padding-bottom: 0;}
/*.THIS .link-to-req-modal-body .slds-grid {height: 100%;}*/
.THIS .link-to-req-modal-body .slds-medium-size_4-of-12 {margin: 0 12px -16px 0;}
.THIS .link-to-req-modal-body .slds-theme_shade {height: 100%; padding-bottom: 0;}
.THIS .link-to-req-modal-body .slds-medium-size_8-of-12 {margin-left: 12px; padding-right: 20px;}
.THIS .footer-buttons {display: flex; justify-content: flex-end;}
.THIS .footer-input {margin: 0 0 0 10px; width: 229px; height: 32px; min-height: 28px;}
.THIS .footer-button {margin: 0 8px 0 10px;}
.THIS .slds-modal__content {position: relative;}
.THIS .disabled-row {
    background: rgb(250, 250, 249);
    font-style: italic;
    color: grey;
}
.THIS .trunc-parent {display: flex; justify-content: center;}
.THIS .trunc {max-width:50vw; padding: 0 3px;}
.THIS .flex {display: flex; justify-content: space-between;}
.THIS .back-link {align-self: center;}
.THIS .icon_blue .slds-icon {fill: rgb(0, 109, 204);}
/*
@media (max-width: 1920px) {
    .THIS .link-to-req-modal {
       transform: translateX(-552px);
    }
}
@media (max-width: 1600px) {
    .THIS .link-to-req-modal {
       transform: translateX(-395px);
    }
}
@media (max-width: 1440px) {
    .THIS .link-to-req-modal {
       transform: translateX(-330px);
    }
}
@media (max-width: 1366px) {
    .THIS .link-to-req-modal {
       transform: translateX(-290px);
    }
}
@media (max-width: 1280px) {
    .THIS .link-to-req-modal {
       transform: translateX(-264px);
    }
}
@media (max-width: 1000px) {
    .THIS .link-to-req-modal {
       transform: translateX(0px);
    }
} */

@media (min-width: 48em) {
    .THIS .slds-modal__container {
      

    }

}

/*Copied from C_TalentreqSearchModal.css*/
.THIS .req-search_container {
    position: sticky;
    bottom: 0;
    width: 100%;
    background: white;
    z-index: 0;
    padding-bottom: 10px
}
.THIS .req-search_container header {
   /* width: calc(100% - 3rem);
    margin-left: 1rem;*/
    border: 0;
    box-shadow: none;
    position:relative;
}

.THIS .left-column {min-height: 53vh;}
.THIS .slds-modal__container .SearchReqsContainer .slds-nubbin_top:after, .THIS .slds-modal__container .slds-nubbin--top:after {
    width: 1rem;
    height: 1rem;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(-135deg);
    content: '';
    background-color: inherit;
    left: 50%;
    bottom: -.5rem;TOP: unset;
    margin-left: -.5rem;
}
.THIS .slds-modal__container  .SearchReqsContainer .slds-nubbin_top:before, .THIS .slds-nubbin--top:before {
    width: 1rem;
    height: 1rem;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    content: '';
    background-color: inherit;
    left: 50%;
    bottom: -0.5rem;TOP: unset;
    margin-left: -.5rem;
}
.THIS .slds-modal__container .SearchReqsContainer .slds-dropdown-trigger .slds-dropdown {
    bottom: 30px;
}
.THIS .slds-modal__container .SearchReqsContainer .slds-dropdown-trigger .slds-dropdown {
    top: AUTO;
}
.THIS .slds-modal__container .SearchReqsContainer .cC_SearchLocationInputPopover .multiple-location-popover {
    position: absolute;
    z-index: 9000;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.10);
    -webkit-transform: translate(-18.50rem, 2.5rem);
    -ms-transform: translate(-18.50rem, 2.5rem);
    transform: translate(-18.5rem, -15.5rem);
}
.THIS .slds-modal__container .SearchReqsContainer .search-body-container{
	position:inherit ;
	top: 0px;
    display:none;
}
.THIS .slds-modal__container .search-body-container{
	position:inherit ;
	top: 0px;
}
.THIS .slds-modal__container .SearchReqsContainer header {
    margin-top: 0;
}
.THIS hr { margin: 0 0 .5rem 0;}

.THIS .search-facet-pill-container .disabled{
    background: none;
}

.THIS .disabled {background: rgb(250, 250, 249); font-style:italic;    color: grey;}

.THIS lightning-helptext.slds-form-element {
    top: -2px;
    margin-left: 2px;
}
.THIS .SearchReqsContainer {
}
.THIS .req-search_inline {
    display: inline-flex;
}