.THIS input[type=radio]{
    display: inline-flex;
    margin: 0.25rem 0;
}

.THIS .switch-icon{
    width: auto;
    height: auto;
}

.THIS .slds-section__title-action{
    border: 1px solid rgb(216, 221, 230);
}



.THIS .slds-section__title{
    font-size: 0.75rem;
    width: 100%;
    position: relative;
}

.THIS .form-element__label{
    display: inline-block;
}


/*.THIS .search-facet-label{*/
    /*padding-left: 0.25rem;*/
    /*text-transform: capitalize;*/
    /*color: rgb(84, 105, 141);*/
    /*line-height: 1.5;*/
    /*display: inline-flex;*/
    /*width: 90%;*/
/*}*/

.THIS .doc-count{
    margin-left: 0.25rem;
}

.THIS li{
    margin: 0.50rem 0;
}

.THIS .red-icon {
    color: rgb(194, 57, 52);
}

.THIS .uiInput--default .form-element__label{
    margin-right: .5rem;
    text-transform: capitalize;
    color: rgb(84, 105, 141);
    line-height: 1.5;
    margin-bottom: 0;
    display: inline-flex;
    align-items: center;
}

.THIS .uiInput--radio {
    display: flex;
    flex-direction: row-reverse;
}