<template>
    <div class="slds-grid slds-m-around_x-small">
        <div class="per-page slds-grid_vertical-align-center slds-grid">
            <p>{label.ATS_SHOW}</p>
            <div class="slds-p-horizontal_xx-small">
                <select class="slds-select" onchange={changeRange}>
                    <!-- <option value="15">15</option>
                    <option value="25">25</option>
                    <option value="50">50</option> -->
                    <template for:each={ranges} for:item="range">
                        <option key={range} selected={getDefaultRange} value={range}>{range}</option>                     
                    </template>
                </select>
            </div>
            <p style="text-transform: capitalize">{label.ATS_ROWS_PER_PAGE}</p>
        </div>
        <div class="showing slds-grid slds-grid_vertical-align-center slds-p-horizontal_xx-small">
            <p>{label.ATS_SHOWING_ROWS} <strong>{state.rowStart}</strong> {label.ATS_TO} <strong>{state.rowEnd}</strong> {label.ATS_OF} <strong>{state.rowTotal}</strong></p>            
        </div>
        <div class="buttons slds-grid slds-grid_vertical-align-center">
            <lightning-button-icon 
                icon-name="utility:left"  
                alternative-text={label.ATS_FIRST_PAGE}
                onclick={first}
                disabled={state.navBtnStates.first}
            >
            </lightning-button-icon>
            <lightning-button-icon 
                icon-name="utility:chevronleft"  
                alternative-text={label.ATS_PREVIOUS_PAGE}
                onclick={prev}
                disabled={state.navBtnStates.previous}
            >
            </lightning-button-icon>

            <template for:each={state.buttons} for:item="button">
                <button 
                    key={button.value} 
                    disabled={button.disabled} 
                    class="slds-button slds-button_icon-border"
                    data-value={button.value}
                    onclick={handleClick}
                    title={button.value}
                >{button.value}</button>
            </template>
            <lightning-button-icon 
                icon-name="utility:chevronright"  
                alternative-text={label.ATS_NEXT_PAGE}
                onclick={next}
                disabled={state.navBtnStates.next}                
            >
            </lightning-button-icon>
            <lightning-button-icon 
                icon-name="utility:right"  
                alternative-text={label.ATS_LAST_PAGE}
                onclick={last}
                disabled={state.navBtnStates.last}   
            >
            </lightning-button-icon>
        </div>
    </div>
</template>