<apex:page standardController="Contact"  rendered="{!Contact.AccountChanged__c}">

 
 
<apex:stylesheet value="{!URLFOR($Resource.contactaddresspopup1, 'Contactaddresspopup1.CSS')}"/>
 
<apex:includeScript value="{!$Resource.contactaddresspopup2}"/>

<apex:includeScript value="{!$Resource.contactaddresspopup3}"/>

<style>
.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: .3em;
    top: 50%;
    width: 20px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 20px;
}
</style>

    
    <script type="text/javascript">
 
       window.open("/apex/LightningcontAlert?Contactid={!Contact.id}&Response=light",target="_parent");
    
 
 

  

 </script> 

    
 
</apex:page>