<apex:page standardController="Account">
<style>
.txtAreaStyle{
    width: 400px;    
}
.txtfields{
    width: 450px;    
}
.picklistFields{
    width: 255px;
    height: 20px;
}
</style>
<script type="text/javascript">
function addressCopy(b0, b1, b2, b3, b4, s0, s1, s2, s3, s4) {
    // Copy billing fields to shipping fields
    document.getElementById(s0).value = document.getElementById(b0).value;
    document.getElementById(s1).value = document.getElementById(b1).value;
    document.getElementById(s2).value = document.getElementById(b2).value;
    document.getElementById(s3).value = document.getElementById(b3).value;
    document.getElementById(s4).value = document.getElementById(b4).value;
    // No form submission
    return NULL;
}

     function gotoLightningView() {
            sforce.one.navigateToURL('\lightning/o/Account/list?filterName=Recent&0.source=alohaHeader');
        };
</script>
<apex:sectionHeader title="{!$ObjectType.Account.label} {!$Label.FC_Edit}" subtitle="{!$Label.FC_New} {!$ObjectType.Account.name}"/>
    <apex:form >
    <apex:pageMessages />
    <apex:pageBlock title="{!$ObjectType.Account.label} {!$Label.FC_Edit}" mode="edit" id="accountBlock">
        <apex:pageBlockButtons >
            <apex:commandButton action="{!save}" value="{!$Label.FC_save}"/>
          
            <apex:outputPanel rendered="{!$User.UITheme == 'Theme3'}">
              <apex:commandButton action="{!cancel}" value="{!$Label.FC_Cancel}"/>
            </apex:outputPanel>
    <apex:outputPanel rendered="{!$User.UITheme == 'Theme4t' || $User.UITheme == 'Theme4d' }">
        <apex:commandButton onclick="gotoLightningView()" immediate="true" value="{!$Label.FC_Cancel}" />
    </apex:outputPanel>
    
        </apex:pageBlockButtons>
        <apex:pageBlockSection showHeader="true" title="{!$Label.FC_Account_Information}" columns="2" id="AccountInformationSection">
          
          
            <apex:inputField required="true" value="{!Account.Name}"/>
            <apex:inputField value="{!Account.Phone}"/>
            <apex:inputField value="{!Account.Nickname__c}"/>            
            <apex:inputField value="{!Account.Website}"/> 
            <apex:inputField value="{!Account.No_of_Reqs__c}"/>
            <apex:inputField value="{!Account.Do_Not_Contact__c}"/>
            <apex:inputField value="{!Account.No_of_Open_Positions__c}"/>
            <apex:inputField value="{!Account.Do_Not_Contact_Reason__c}"/>
            <apex:pageBlockSectionItem />
            
            <apex:inputField value="{!Account.Rules_of_Engagement__c}"/>
                                   
            
            
            
               
                    
        </apex:pageBlockSection>
        <apex:pageBlockSection showHeader="true" title="{!$Label.FC_Address}" columns="2" id="Address">
            <apex:facet name="header">
            <apex:outputpanel > 
            <apex:outputText style="float:left; font-size:13px; font-weight:bold;"  value="{!$Label.FC_Address}" />
         <!--   <apex:outputLink style="float:right;" value="javascript: addressCopy('{!$Component.b0}', '{!$Component.b1}', '{!$Component.b2}', '{!$Component.b3}', '{!$Component.b4}', '{!$Component.s0}', '{!$Component.s1}', '{!$Component.s2}', '{!$Component.s3}', '{!$Component.s4}')">Copy DB Address to Worksite Address</apex:outputLink> -->
            </apex:outputpanel> 
            </apex:facet>
            
            <apex:inputField value="{!Account.BillingStreet}" id="b0" html-disabled="true" />   
            <apex:inputField value="{!Account.ShippingStreet}" id="s0"/>
            <apex:inputField value="{!Account.BillingCity}" id="b1" html-disabled="true"/>
            <apex:inputField value="{!Account.ShippingCity}" id="s1"/>
            <apex:inputField value="{!Account.BillingState}" id="b2" html-disabled="true"/>
            <apex:inputField value="{!Account.ShippingState}" id="s2"/>
            <apex:inputField value="{!Account.BillingPostalCode}" id="b3" html-disabled="true"/>
            <apex:inputField value="{!Account.ShippingPostalCode}" id="s3"/>
            <apex:inputField value="{!Account.BillingCountry}" id="b4" html-disabled="true"/>
            <apex:inputField value="{!Account.ShippingCountry}" id="s4"/>
        </apex:pageBlockSection>
     <!--   <apex:pageBlockSection showHeader="true" title="Account Intel - Aerotek" columns="2" rendered="{!IF((Contains($Profile.Name,'TEK')) && ($Profile.Name <>'TEK Credit Data Manager' || $Profile.Name <>'TEK Executive'),FALSE,TRUE)}">
            <apex:repeat value="{!$ObjectType.Account.FieldSets.Account_Intel_Aerotek}" var="fid"> 
           <apex:InputField value="{!Account[fid]}"/>
           </apex:repeat>          
        </apex:pageBlockSection>
        
        <apex:pageBlockSection showHeader="true" title="Account Intel - EASi" columns="2" rendered="{!IF((Contains($Profile.Name,'Aerotek Director') || Contains($Profile.Name,'BAC Probe AM Read Only') || Contains($Profile.Name,'Aerotek AM') || Contains($Profile.Name,'Aerotek OPM') || Contains($Profile.Name,'TEK')) && ($Profile.Name<>'TEK Executive' || $Profile.Name <>'TEK Credit Data Manager'),FALSE,TRUE)}">
            <apex:repeat value="{!$ObjectType.Account.FieldSets.Account_Intel_EASi}" var="fid"> 
           <apex:InputField value="{!Account[fid]}"/>
           </apex:repeat>
        </apex:pageBlockSection>
        
        <apex:pageBlockSection showHeader="true" title="Account Intel - TEKsystems" columns="2" rendered="{!IF((Contains($Profile.Name,'Aerotek') || Contains($Profile.Name,'BAC Probe AM Read Only')) && ($Profile.Name <>'Aerotek Credit Data Manager'),FALSE,TRUE)}">
            <apex:repeat value="{!$ObjectType.Account.FieldSets.Account_Intel_TEKsystems}" var="fid"> 
           <apex:InputField value="{!Account[fid]}"/>
           </apex:repeat>
        </apex:pageBlockSection> -->
        <apex:pageBlockSection showHeader="true" title="{!$Label.FC_Account_Intel}" columns="2">
            <apex:repeat value="{!$ObjectType.Account.FieldSets.Allegis_Consolidated_Intel}" var="fid"> 
           <apex:InputField value="{!Account[fid]}"/>
           </apex:repeat>
        </apex:pageBlockSection>
        <apex:pageBlockSection showHeader="FALSE" title="{!$Label.FC_Account_Intel}" columns="1">
            <apex:repeat value="{!$ObjectType.Account.FieldSets.Allegis_Consolidated_Intel_Additional}" var="fid"> 
           <apex:InputField value="{!Account[fid]}" styleClass="{!IF((LOWER($ObjectType.Account.Fields[fid].type) == 'textarea'),'txtAreaStyle',IF((LOWER($ObjectType.Account.Fields[fid].type) == 'picklist'),'','txtfields'))}"/>
           </apex:repeat>
        </apex:pageBlockSection>
        <apex:pageBlockSection showHeader="false" columns="1">
        </apex:pageBlockSection>
        <apex:pageBlockSection showHeader="true" title="{!$Label.FC_System_Information}" columns="2">
            <apex:inputField value="{!Account.OFCCP_Compliant__c}"/>
            
            <apex:inputField value="{!Account.WMS_Provider__c}"/>
            <apex:inputField value="{!Account.Export_Controls_compliance_required__c}"/>
            <apex:pageBlockSectionItem />
            <apex:inputField value="{!Account.Data_Governance_Status__c}"/>
            <apex:inputField value="{!Account.Siebel_ID__c}"/>
            <apex:inputField value="{!Account.Master_Global_Account_Id__c}"/>
            <apex:inputField value="{!Account.Global_Ultimate_DUNS__c}"/>
            <apex:inputField value="{!Account.ParentId}"/>
            <apex:inputField value="{!Account.Generic_Account__c}"/>
        </apex:pageBlockSection>
        <apex:pageBlockSection showHeader="false" columns="1">
        </apex:pageBlockSection>
    </apex:pageBlock>
    </apex:form>
</apex:page>