<apex:page sidebar="False" controller="AdministrativeSetup">
<apex:sectionheader title="Administrative" subtitle="Task" />
<apex:pagemessages />
<style>
      .fontsize {font-size:13px;color:#4a4a56;}
      .fontsizeHead {font-size:14px;color:#4a4a56;font-weight:bold}
      
  </style>
 <apex:actionStatus id="sts" style="align:center;" >      
                <apex:facet name="start" >
                         <apex:image value="/img/loading.gif" title="Processing..."/>
                </apex:facet>
                <apex:facet name="stop"></apex:facet>
            </apex:actionStatus>
                        
        <apex:form id="form1">
        <div style="border: 1px solid #EAEAEA;background-color:#F8F8F8; margin-top:10px; border-radius: 5px 10px 5px 10px; border-top:3px solid #747E96;">
              <table border="0" style="width:100%; margin:0px auto;" cellpadding="5" cellspacing="5">                   
                <tr>
                                       
                    <td width="50%" align="center">                              
                            <apex:outputPanel id="parentId" >   
                                <apex:outputLabel styleclass="fontsizeHead" value="Parent Object"  />&nbsp;&nbsp;
                                <apex:selectList id="parentObj" value="{!objName}" multiselect="false" size="1" >
                                    <apex:selectOptions value="{!objects}"/>
                                   
                                   <apex:actionSupport event="onchange" action="{!describeObject}" reRender="parentId,parentObj,viewObjectId,Fields,MultilevelSection" status="sts"/>
                                </apex:selectList>                             
                            </apex:outputPanel>                           
                             
                   </td>
                 <td width="50%" align="center">
                  <apex:outputPanel id="viewObjectId" >
                                <apex:outputLabel styleclass="fontsizeHead" value="Enabled For:" rendered="{!SetupEnabled}">  
                                    &nbsp;&nbsp;                                    
                                </apex:outputLabel> 
                                <apex:outputLabel rendered="{!SetupEnabled}" styleclass="fontsize">
                                <!--<font>Flexible Search</font>&nbsp;<apex:inputCheckbox label="FlexibleSearch" value="{!isFlexi}"/> &nbsp;&nbsp;&nbsp;&nbsp;
                                <font>MultiLevel Copy</font>&nbsp;<apex:inputCheckbox label="MultiLevelCopy" value="{!isMulti}"/>&nbsp;&nbsp;&nbsp;&nbsp;-->
                                <font>Audit Trail</font>&nbsp;<apex:inputCheckbox label="AuditTrail" value="{!isAudit}"/>&nbsp;&nbsp;&nbsp;&nbsp;
                        </apex:outputLabel>
                        <apex:commandbutton value="Go" style="Width:50px" action="{!EnabledFieldSection}" reRender="Fields,MultilevelSection" rendered="{!SetupEnabled}" status="sts"/>
                            </apex:outputPanel>  
                 </td>
                 </tr>
                 
                 </table>
                  </div>
     
    
     <apex:outputpanel id="Fields">
     <apex:outputpanel rendered="{!FieldSectionEnabled}">
     <style>
        .altEven{background: #FFFFFF;}
        .altRow{background: #F2F2F2;}
    </style>
     <div style="border: 1px solid #EAEAEA;background-color:#F8F8F8; margin-top:10px; border-radius: 5px 10px 5px 10px; border-top:3px solid #747E96;">
      
     <table cellpadding="0" cellspacing="0" border="0" width="auto" height="auto">
     <tr>      
        <td style="padding-left:20px;" class="fontsizeHead">Field Name</td>
        <td style="padding-left:25px;" class="fontsizeHead">API Name</td>
        <td class="fontsizeHead"><apex:outputpanel rendered="{!isFlexi}" ><center><apex:inputCheckbox value="{!CheckAllFlexible}" id="checkallFlexible">
                               <apex:actionSupport action="{!SelectAllFlexible}" event="onchange"/>
                           </apex:inputCheckbox>Flexible Search</center></apex:outputpanel></td>
                           
        <td class="fontsizeHead"><apex:outputpanel rendered="{!isMulti}" ><center><apex:inputCheckbox value="{!CheckAllMultiCopy}" id="checkallMulti">
                               <apex:actionSupport action="{!SelectAllMultiCopy}" event="onchange"/>
                           </apex:inputCheckbox>MultiLevel Copy</center></apex:outputpanel></td>
        <td>
        <apex:outputpanel id="AuditSection" rendered="{!isAudit}">
                
        <table border="0">
        <tr><td>&nbsp;</td></tr>
        <tr><td class="fontsizeHead"><center><apex:inputCheckbox value="{!CheckAllAudit}" id="checkallAudit">
                               <apex:actionSupport action="{!SelectAllAudit}" event="onchange"/>
                           </apex:inputCheckbox>Audit Trail</center></td></tr>
        <tr><td>        
        <apex:outputLabel styleclass="fontsize">
            <font><b>Create</b></font>&nbsp;<apex:inputCheckbox label="FlexibleSearch" value="{!IsCreate}"/> &nbsp;&nbsp;&nbsp;&nbsp;
            <font><b>Update</b></font>&nbsp;<apex:inputCheckbox label="MultiLevelCopy" value="{!isUpdate}"/>&nbsp;&nbsp;&nbsp;&nbsp;
            <font><b>Delete</b></font>&nbsp;<apex:inputCheckbox label="AuditTrail" value="{!isDelete}"/>&nbsp;&nbsp;&nbsp;&nbsp;
        </apex:outputLabel>
        </td></tr>
        </table>
        
        </apex:outputpanel>
        </td> 
        </tr>
        <apex:repeat value="{!ParentFields}" var="c" >    
        <tr class="{!IF(MOD(c.index,2)==1,'altEven','altRow')}">        
        <td style="padding-left:20px;" width="20%" class="fontsize"> {!c.Label}</td>
        <td style="padding-left:30px;" width="25%" class="fontsize"> {!c.api} ({!c.Dtype})</td>
        <td width="15%" ><center><apex:outputpanel rendered="{!isFlexi}" ><apex:inputCheckbox value="{!c.IsFlexible}"  /></apex:outputpanel></center></td>
        <td width="15%" ><center><apex:outputpanel rendered="{!isMulti}" ><apex:inputCheckbox value="{!c.IsMulti}"  /></apex:outputpanel></center></td>
        <td width="25%" ><center><apex:outputpanel rendered="{!isAudit}" ><apex:inputCheckbox value="{!c.IsAudit}"  /></apex:outputpanel></center></td>
        </tr>
        </apex:repeat>
         </table>
         </div>
        <center> <apex:commandbutton value="Save" action="{!SaveParentObject}" style="Width:80px" />&nbsp;&nbsp;&nbsp;
                <apex:commandbutton value="Reset" action="{!HomePage}" style="Width:80px" /></center>
          </apex:outputpanel></apex:outputpanel>           
           
       
       
       <apex:outputpanel id="MultilevelSection">
       <apex:outputpanel rendered="{!MultiLevelSection}">
       
           <div style="border: 1px solid #EAEAEA;background-color:#F8F8F8; margin-top:10px; border-radius: 5px 10px 5px 10px; border-top:3px solid #747E96;">
           <br/>
           <apex:outputLabel style="padding-left:20px;padding-bottom:13px;font-size:15px;color:#4a4a56;font-weight:bold"><b>MultiLevel Child Setup</b></apex:outputLabel><br/><br/>
              
              <table border="0" style="width:100%; margin:0px auto;" cellpadding="5" cellspacing="5">                   
                <tr class="fontsize">
                                       
                    <td width="50%" align="left">                              
                            <apex:outputPanel id="ChildObjectName">    
                                <apex:outputLabel styleclass="fontsizeHead" style="padding-left:20px;" value="Child Object"  />&nbsp;&nbsp;
                                <apex:selectList value="{!ChildObjectName}" multiselect="false" size="1" >
                                    <apex:selectOptions value="{!childObjects}"/>
                                   
                                   <apex:actionSupport event="onchange" action="{!describeChildFields}" reRender="MultilevelSection,ChildFields" status="sts"/>
                                </apex:selectList>                             
                            </apex:outputPanel>                           
                             
                   </td>
                   </tr>
                   <tr>
                   <td>
                      <apex:outputpanel id="ChildFields">
                      <apex:outputpanel rendered="{!MultilevelFieldSec}">
                      <table cellpadding="0" cellspacing="0" border="0" width="auto" height="auto">
                      <tr>
                        <td class="fontsizeHead" style="padding-left:20px;"><b><apex:inputCheckbox value="{!CheckAllChilds}" id="checkallChilds">
                               <apex:actionSupport action="{!SelectAllChildFields}" event="onchange"/>
                           </apex:inputCheckbox>Select</b></td>      
                        <td class="fontsizeHead"><b>Field Name</b></td>
                        <td class="fontsizeHead"><b>Data Type</b></td>        
                      </tr>
                      <apex:repeat value="{!ChildFields}" var="c">    
                        <tr class="{!IF(MOD(c.index,2)==1,'altEven','altRow')}" style="padding-down:7px; padding-top:7px;" >
                        <td style="padding-left:20px;" width="10%" ><apex:inputCheckbox value="{!c.IsMulti}" /></td>
                        <td width="30%" class="fontsize"> {!c.Label}</td>
                        <td width="30%" class="fontsize" >  {!c.Dtype}</td>
                        </tr>
                        </apex:repeat>                      
                         </table>
                          </apex:outputpanel></apex:outputpanel>
                 </td>
                                      
                   </tr></table>
                   </div>
                   <center> <apex:commandbutton value="Save" style="Width:80px" action="{!SaveChildObject}" rendered="{!MultilevelFieldSec}"/></center>
         </apex:outputpanel>
         </apex:outputpanel>
                   
     </apex:form>
</apex:page>