<apex:page standardController="Opportunity" recordSetVar="idSet" extensions="AlternateDeliveryCenterController">
    
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
        <head>            
            <!-- Import the Lightning Design System style sheet -->
            <apex:slds />
        </head>
        
    </html>    
    <body>
        <div class="slds-scope" id="errorMessageDiv" style="display:none">
            <!-- Modal -->
            <div role="dialog" tabindex="-1" aria-labelledby="header43" class="slds-modal slds-fade-in-open slds-modal--medium">
                <div class="modal-container slds-modal__container">
                    <div class="slds-modal__header">
                        <button class="slds-button slds-modal__close slds-button--icon-inverse" title="Close" onclick="goBackFunction()">
                            <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS,'/assets/icons/utility-sprite/svg/symbols.svg#close')}"></use>
                            </svg>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 id="header43" class="slds-text-heading--medium">Alternate Delivery Center</h2>
                    </div>
                    
                    <div class="slds-modal__content slds-p-around--medium">
                    	You do not have access to request Delivery Support on this Opportunity.
                    </div>
                </div>
            </div>
            <!-- / Modal -->
            <div class="slds-backdrop slds-backdrop--open"></div>
        </div>
    </body>
    
    <script>
    var flag = false;
    var opportunityId = '{!$CurrentPage.parameters.opid}';
    var recordType = '{!$Label.AlternateDeliveryRecordType}';
    var opco = '{!$CurrentPage.parameters.opco}';
    if(opco == 'Aerotek, Inc'){        
        flag = '{!accessFlag}';
    }
    if(opco == 'AG_EMEA' || opco == 'TEKsystems, Inc.'){
        flag = 'true';
        recordType = '{!$Label.AlternateDeliverySecondaryRecordType}';
        if(opco == 'AG_EMEA'){
            opco = 'AG EMEA';
        }
    }
    if(flag == 'true'){
        sforce.one.createRecord('Support_Request__c', recordType,{ 
            Opportunity__c : opportunityId,
            Opportunity_OpCo__c:opco,
            //panelOnDestroyCallback: function(cmp) {
            //       alert(11);
            //}
            
        });
    }
    else{
        //alert('test1');
        var x = document.getElementById('errorMessageDiv');
        x.style.display = 'block';
        //alert('Dont have access to create this record');
    }
    
    
    function goBackFunction(){
        window.open('/'+opportunityId,'_parent');
    }
    
    </script>
    
</apex:page>