<apex:page showHeader="false" sidebar="false" readonly="true" docType="html-5.0"
        title="ATS">
    <div id="__uithemeDivId" style="display:none">{!$User.UITheme}</div>
    <!--skuid:page page="CandidateSearch" /-->
</apex:page>