<apex:page id="thePage" standardController="Contact"  extensions="ContractorsController" standardStylesheets="true" showHeader="false" sidebar="false"  > 

<script>
    /******************************************************************
     Function to delay page load
    *******************************************************************/
    var previousOnload = window.onload; 
    window.onload = function()
    {
       if (previousOnload) 
       { 
          previousOnload();
       }
           setTimeout(makeCallOut,0);
    }
    
    function makeCallOut()
    {
       document.getElementById('thePage:theForm:theBtn').click();
    }
    </script>
    <style>
   .TableTitle {
    background-color: #5C85D6!important;
    height:15px; 
    }
   .odd {
      background-color: #D6E0F5;
      height:35px; 
    }
   .even {
        background-color: #E6EBF5;
        height:35px; 
    }

 </style>
<apex:form id="theForm">
<apex:commandButton id="theBtn" style="visibility:hidden;padding:0px;margin:0px;border:0px" action="{!startRequest}" reRender="esfPanel" status="status"/>
<c:WorkingWheel />
<apex:outputPanel id="esfPanel" >
    <apex:PageBlock id="theBlock" rendered="{!callOutMade}" mode="maindetail">
    <apex:outputPanel rendered="{!calloutfault == TRUE}" layout="block">
    <c:CustomErrorComponent exceptionMessage="{!exceptionMessage}" exceptionDescription="{!exceptionDescription}" />
    </apex:outputPanel>
        <apex:outputPanel rendered="{!calloutfault == false }" layout="block">
        <table width="100%" bgcolor="#C2C2A3" cellspacing="1" border="0" bordercolor = "white" style="border-top-left-radius: 7px;border-top-right-radius: 7px;">
        <tr>
        <td width="7%"><b>Contractors</b> </td>
        <td width="20%" >
            <apex:commandLink style="font-size:11px;" action="{!startRequest}" value="(Current" id="theCommandLink" rerender="esfPanel" rendered="{!IF(linkSelection != 'Current',true,false)}" status="status">
              <!--  <apex:param name="linkSelection" value="Current" assignTo="{!linkSelection}"/> -->
             </apex:commandLink>
             <apex:outputLabel value="(Current" style="font-size:11px;color:#1B70D0" rendered="{!IF(linkSelection == 'Current',true,false)}" />
            <apex:outputText value=" / "/>
            <apex:commandLink style="font-size:11px" action="{!fetchFormerRecordsCont}" value="Former)" id="theCommandLink1" rerender="esfPanel" rendered="{!IF(linkSelection != 'Former',true,false)}" status="status">
              <!--  <apex:param name="linkSelection" value="Former" assignTo="{!linkSelection}"/> -->
            </apex:commandLink>
            <apex:outputLabel value="Former)" style="font-size:11px;color:#1B70D0" rendered="{!IF(linkSelection == 'Former',true,false)}" />
        </td>
        <td Width ="15%" Colspan="1"></td> 
        <td width = "35%" colspan="5"> 
        <apex:panelGrid columns="8">
            <apex:commandLink value="◄◄" style="font-size:11px;text-decoration:none;" action="{!firstBtnClick}" reRender="esfPanel" rendered="{!previousButtonEnabled}"></apex:commandlink>
            <apex:outputLabel value="◄◄" rendered="{!NOT(previousButtonEnabled)}" style="font-size:11px;color:#A8A8A8"/>
            <apex:commandLink value="◄ Previous" style="font-size:11px;text-decoration:none;" action="{!previousBtnClick}" rendered="{!previousButtonEnabled}" reRender="esfPanel"></apex:commandlink>
            <apex:outputLabel value="◄ Previous" rendered="{! NOT(previousButtonEnabled)}" style="font-size:11px;color:#A8A8A8"/>
            <apex:outputLabel value="Page" rendered="{!Totalpages > 1}" style="font-size:11px"/>
            <apex:outputLabel value="{!pagenumber}" rendered="{!Totalpages > 1}" style="font-size:11px"/>
            <apex:outputLabel value="of" rendered="{!Totalpages > 1}" style="font-size:11px"/>
            <apex:outputLabel value="{!Totalpages}" rendered="{!Totalpages > 1}" style="font-size:11px"/>
            <apex:commandLink value="Next ►" style="font-size:11px;text-decoration:none;" action="{!nextBtnClick}" rendered="{!nextButtonEnabled}" reRender="esfPanel"></apex:commandlink>
            <apex:outputLabel value="Next ►" rendered="{! NOT(nextButtonEnabled)}" style="font-size:11px;color:#A8A8A8"/>
            <apex:commandLink value="►►" style="font-size:11px;text-decoration:none;" action="{!lastBtnClick}" rendered="{!nextButtonEnabled}"  reRender="esfPanel"></apex:commandlink>
            <apex:outputLabel value="►►" rendered="{! NOT(nextButtonEnabled)}" style="font-size:11px;color:#A8A8A8"/>
        </apex:panelGrid>
        </td>
        <td width="23%" colspan="2">
        <div align = "Right">
              <apex:outputLink rendered="{!NOT(hasParam)}" style="font-size:11px" value="/apex/Contractors_Contact_Data360?id={!Contact.Id}&full=1" target="_blank">Click here to Open in new window</apex:outputLink>
        </div>
        </td>
        </tr> 
        </table>
                <apex:outputPanel style="{!IF($CurrentPage.parameters.full = '1','overflow:auto','height:210px;overflow:hidden')}" layout="block" id="internalPanel">                    
                 <c:CustomErrorComponent exceptionMessage="{!exceptionMessage}" exceptionDescription="{!exceptionDescription}" />
                <apex:pageBlockTable id="pageTable" value="{!listStartsPage}" var="items" width="100%" rowClasses="even,odd" rendered="{!showPanel}" headerClass="TableTitle">
                  <apex:column width="7%">
                        <apex:facet name="header">
                            <apex:commandLink style="font-size:11px;color:#FFFFFF;font-weight:500"  value="Req ID" action="{!sortAction}" rerender="theBlock" >
                                <apex:param name="sortField" value="1" assignTo="{!sortColIndex}"/>
                                <apex:image value="/s.gif" styleClass="{!sortOrder}" rendered="{!sortColIndex == 1}" />
                            </apex:commandLink>
                        </apex:facet>
                        <apex:outputText value="{!items.reqName}" rendered="{!IF(items.TibcoReqId != null, False, True)}" style="font-size:11px"/> 
                        <apex:outputLink rendered="{!IF(items.TibcoReqId != null, true, false)}" style="font-size:11px" value="/{!items.TibcoReqId}" id="ReqSFLink" target="_blank">{!items.reqName}</apex:outputLink>  
                    </apex:column>
                    
                    <apex:column width="10%">
                       <apex:facet name="header">
                            <apex:commandLink style="font-size:11px;color:#FFFFFF;font-weight:500"  value="Owner" action="{!sortAction}" rerender="theBlock">
                                <apex:param name="sortField" value="14" assignTo="{!sortColIndex}"/> 
                                <apex:image value="/s.gif" styleClass="{!sortOrder}" rendered="{!sortColIndex == 14}" />
                            </apex:commandLink>
                        </apex:facet>
                        <apex:outputText style="font-size:11px" value="{!items.ReqOwner}" />
                    </apex:column>
                    
                    <apex:column width="10%" headerValue="Account" >
                       <apex:facet name="header">
                            <apex:commandLink style="font-size:11px;color:#FFFFFF;font-weight:500"  value="Account" action="{!sortAction}" rerender="theBlock">
                                <apex:param name="sortField" value="12" assignTo="{!sortColIndex}"/> 
                                <apex:image value="/s.gif" styleClass="{!sortOrder}" rendered="{!sortColIndex == 12}" />
                            </apex:commandLink>
                        </apex:facet>
                        <apex:outputLink rendered="{!IF(items.AccountId <> null, true, false)}" style="font-size:11px"  value="/{!items.AccountID}" id="contactSFLink" target="_blank">{!items.AccountName}</apex:outputLink> 
                        <apex:outputText value="{!items.AccountName}" rendered="{!IF(items.AccountId == null, true, false)}" style="font-size:11px"/>
                    </apex:column>

                    <apex:column width="10%" >
                        <apex:facet name="header">
                            <apex:commandLink style="font-size:11px;color:#FFFFFF;font-weight:500"  value="Contractor" action="{!sortAction}" rerender="theBlock">
                                <apex:param name="sortField" value="3" assignTo="{!sortColIndex}"/> 
                                <apex:image value="/s.gif" styleClass="{!sortOrder}" rendered="{!sortColIndex == 3}" />
                            </apex:commandLink>
                        </apex:facet>
                        <apex:outputLink style="font-size:11px" value="/apex/IntegrationOpenPage?searchType=RWS_ID&RWSId={!items.RWSReqURL}" id="ReqLink" target="_blank">{!items.ContractorName}</apex:outputLink>
                    </apex:column>

                    <apex:column width="15%" >
                        <apex:facet name="header">
                            <apex:commandLink style="font-size:11px;color:#FFFFFF;font-weight:500"  value=" Client Job Title" action="{!sortAction}" rerender="theBlock">
                                <apex:param name="sortField" value="4" assignTo="{!sortColIndex}"/> 
                                <apex:image value="/s.gif" styleClass="{!sortOrder}" rendered="{!sortColIndex == 4}" />
                            </apex:commandLink>
                        </apex:facet>
                        <apex:outputText style="font-size:11px" value="{!items.ClientJobTitle}" />
                    </apex:column>
                  
                    <apex:column width="6%" >
                        <apex:facet name="header">
                            <apex:commandLink style="font-size:11px;color:#FFFFFF;font-weight:500"  value="Bill Rate" action="{!sortAction}" rerender="theBlock">
                                <apex:param name="sortField" value="6" assignTo="{!sortColIndex}"/> 
                                <apex:image value="/s.gif" styleClass="{!sortOrder}" rendered="{!sortColIndex == 6}" />
                            </apex:commandLink>
                        </apex:facet>
                        <apex:outputText style="font-size:11px" value="$" rendered="{!items.BillRate <> 0.0}" />
                        <apex:outputText style="font-size:11px" value="{0, number, ###,###,###,###.00}" rendered = "{!items.BillRate <> 0.0}" ><apex:param value="{!items.BillRate}"/></apex:outputText>  
                    </apex:column>
                                         
                    <apex:column width="6%" >
                        <apex:facet name="header">
                            <apex:commandLink style="font-size:11px;color:#FFFFFF;font-weight:500"  value="Start Date" action="{!sortAction}" rerender="theBlock">
                                <apex:param name="sortField" value="7" assignTo="{!sortColIndex}"/>
                                <apex:image value="/s.gif" styleClass="{!sortOrder}" rendered="{!sortColIndex == 7}" />
                            </apex:commandLink>
                        </apex:facet>
                        <apex:outputText style="font-size:11px" value="{!items.StartDate}" />
                    </apex:column>
                    
                    <apex:column width="7%" >
                        <apex:facet name="header">
                            <apex:commandLink style="font-size:11px;color:#FFFFFF;font-weight:500"  value="PS Finish Date" action="{!sortAction}" rerender="theBlock">
                                <apex:param name="sortField" value="5" assignTo="{!sortColIndex}"/>
                                <apex:image value="/s.gif" styleClass="{!sortOrder}" rendered="{!sortColIndex == 5}" />
                            </apex:commandLink>
                        </apex:facet>
                        <apex:outputText style="font-size:11px" value="{!items.EndDate}" />
                    </apex:column>
                    
                     <apex:column width="14%"  >
                        <apex:facet name="header">
                            <apex:commandLink style="font-size:11px;color:#FFFFFF;font-weight:500"  value="Finish Reason" action="{!sortAction}" rerender="theBlock">
                                <apex:param name="sortField" value="8" assignTo="{!sortColIndex}"/> 
                                <apex:image value="/s.gif" styleClass="{!sortOrder}" rendered="{!sortColIndex == 8}" />
                            </apex:commandLink>
                        </apex:facet>
                        <apex:outputText style="font-size:11px" value="{!items.FinishReason}" />
                    </apex:column>
                    
                    <apex:column width="12%" >
                        <apex:facet name="header"> 
                        <apex:outputpanel >                                                 
                            <apex:commandLink style="font-size:11px;color:#FFFFFF;font-weight:500"  value="Division" action="{!sortAction}" rerender="theBlock">
                                <apex:param name="sortField" value="9" assignTo="{!sortColIndex}"/>
                                <apex:image value="/s.gif" styleClass="{!sortOrder}" rendered="{!sortColIndex == 9}" />                           
                            </apex:commandLink> &nbsp;&nbsp;&nbsp;&nbsp; 
                            <apex:selectList value="{!selectedFilterOption}" size="1" style="width:19px" rendered="true" title="Division">
                              <apex:actionSupport event="onchange" action="{!fetchFilteredRecords}" rerender="theBlock,internalPanel" status="status"/>
                              <apex:selectOptions value="{!DivisionList}"/>
                             </apex:selectList>     
                        </apex:outputpanel>                               
                        </apex:facet>                        
                        <apex:outputText style="font-size:11px" value="{!items.Division}"/>
                        
                    </apex:column>              
                    
                    <apex:column width="6%" >
                        <apex:facet name="header">
                            <apex:commandLink style="font-size:11px;color:#FFFFFF;font-weight:500"  value="Last Activity" action="{!sortAction}" rerender="theBlock">
                                <apex:param name="sortField" value="10" assignTo="{!sortColIndex}"/>
                                <apex:image value="/s.gif" styleClass="{!sortOrder}" rendered="{!sortColIndex == 10}" />
                            </apex:commandLink>
                        </apex:facet>
                        <apex:outputText style="font-size:11px; {!IF(items.LastActivityDate!= null, IF(items.LastActivityDate + 30 <today(), 'color:red','color:black'),'color:black')}" value="{!items.LastActivityDateString}" >
                            <apex:param value="{!items.LastActivityDate}" />
                        </apex:outputText>
                    </apex:column>
                    
                    <apex:column width="8%" >
                        <apex:facet name="header">
                            <apex:commandLink style="font-size:11px;color:#FFFFFF;font-weight:500"  value="Service Touchpoint" action="{!sortAction}" rerender="theBlock">
                                <apex:param name="sortField" value="11" assignTo="{!sortColIndex}"/>
                                <apex:image value="/s.gif" styleClass="{!sortOrder}" rendered="{!sortColIndex == 11}" />
                            </apex:commandLink>
                        </apex:facet>
                        <apex:outputText value="{!items.ServiceTouchpointDateString}" style="font-size:11px; {!IF(items.ServiceTouchpointDate!= null, IF(items.ServiceTouchpointDate + 30 <today(), 'color:red','color:black'),'color:black')}">
                        <apex:param value="{!items.ServiceTouchpointDate}" />
                        </apex:outputText>
                    </apex:column>
               
                </apex:pageBlockTable>
                
                </apex:outputPanel>
                
         <!--  <apex:outputText value="{!Contact.Siebel_ID__c}" rendered="false"/> -->
        </apex:outputPanel>
     </apex:PageBlock>
</apex:outputPanel> 


</apex:form>


</apex:page>