<apex:page standardController="Contact" extensions="ContactOverrideViewRoutingController" action="{!onLoad}">
<script src="/soap/ajax/32.0/connection.js" type="text/javascript"/>
<script src="/soap/ajax/32.0/apex.js" type="text/javascript"/>
 
 <script type="text/javascript">
 window.onload = function()
 {
    var url = "{!url}";
    if( (typeof sforce != 'undefined') && sforce && (!!sforce.one) ) 
    {
        // Salesforce1 navigation
        sforce.one.navigateToURL(url);
    }
    else 
    {
        
        if(url == '')
        window.top.location.href = '{!URLFOR($Action.Contact.View, Contact.id,null,true)}';
        else
         window.top.location.href = url;
    }
 }
 </script>
 </apex:page>