<apex:page standardController="Test_Case__c" extensions="EditTestCaseExtension">
<script>
function Cancel_Click(stepno,stepdescription,expresult)
{

document.getElementById(stepno).value= '';
document.getElementById(stepdescription ).value= '';
document.getElementById(expresult).value= '';
}
</script>
<!--Section Header-->
<apex:sectionHeader title="Test Case / Test Step" subtitle="Edit Test Case / Add Test Step(s)"/>
<apex:form >
<apex:pageMessages />
<!--PageBlock : Create TestCase Record -->
 <apex:pageBlock title="Edit Case" id="pbAddCase">
 <apex:pageBlockButtons Location="top">
     <apex:commandButton id="btnSaveTestCase" value="Save" action="{!Save}"/>
     <apex:commandButton id="btnCancel" value="Cancel" action="{!cancel}"/>
 </apex:pageBlockButtons>
 <table border="0" width="100%">
     <tr >
         <td style="text-align:right"><span class="labelCol">Test Case No</span></td>
         <td colspan="4"><apex:inputfield id="testcaseno" required="true" value="{!Test_Case__c.Test_Case_No__c}"/></td>
    </tr>
     <tr >
         <td style="text-align:right"><span class="labelCol">Test Case Name</span></td>
         <td colspan="4"><apex:inputfield id="testcasename" required="true" value="{!Test_Case__c.Test_Case_Name__c}"/></td>
    </tr>
     <tr>
         <td style="text-align:right"><span class="labelCol">Summary</span></td>
         <td colspan="4"><apex:inputfield id="summary" required="true"  value="{!Test_Case__c.Summary__c}" style="width:720px;height:50px"/>
         </td>
    </tr>
    <tr >
         <td style="text-align:right"><span class="labelCol">Use Case</span></td>
         <td><apex:inputfield id="usecase"  value="{!Test_Case__c.Use_Case__c}" /></td>
         <td style="width:10%">&nbsp;</td>
         <td style="text-align:right"><span class="labelCol">Type</span></td>
         <td><apex:inputfield id="typetxt" required="true" value="{!Test_Case__c.Type__c}"/></td>
     </tr>
    
     <tr>
         <td style="text-align:right"><span class="labelCol">Status</span></td>
         <td><apex:inputfield id="status" required="true" value="{!Test_Case__c.Status__c}"/></td>
         <td style="width:10%">&nbsp;</td>
         <td style="text-align:right"><span class="labelCol">Assigned To</span></td>
         <td><apex:inputfield id="assignedto" value="{!Test_Case__c.Assigned_To__c}"/></td>
         <!--<td style="text-align:right"><span class="labelCol">Test Run Set</span></td>
         <td><apex:inputfield id="testrunpick" value="{!Test_Case__c.Test_Run_Pick__c}"/></td>
         -->
     </tr>
     <!--
     <tr>
         <td style="text-align:right"><span class="labelCol">Automated Test</span></td>
         <td><apex:inputfield id="automatedtest" value="{!Test_Case__c.Automated_Test__c}"/></td>
         <td style="width:10%">&nbsp;</td>
         <td style="text-align:right"><span class="labelCol">Assigned To</span></td>
         <td><apex:inputfield id="assignedto" value="{!Test_Case__c.Assigned_To__c}"/></td>
     </tr>
     -->
 </table>
 </apex:pageBlock>
</apex:form>




<apex:form id="formAddStep">

<!--PageBlock : Add Step against Test Case -->
<apex:pageBlock title="Add Step" id="pbAddStep">
 <apex:pageBlockButtons location="top">
 <apex:commandButton id="btnAddStep" value="Add Step" reRender="formAddStep,formStepDescription"  action="{!AddTestCaseStep}" status="addStepStatus"/>
 <apex:commandButton id="btnCancelStep" immediate="true" reRender="pbAddStep"  status="CancelStepStatus" value="Cancel" onclick="Cancel_Click('{!$Component.stepnumber}','{!$Component.stepdescription}','{!$Component.expectedresult}')"/>
 <apex:actionstatus id="addStepStatus" starttext="Adding..."/>
 <apex:actionstatus id="CancelStepStatus" starttext="Canceling..."/>
 </apex:pageBlockButtons>
 <table border="0" width="100%">
     <tr>
         <td style="text-align:right"><span class="labelCol">Step Number </span></td>
         <td><apex:inputfield id="stepnumber" value="{!obj.Step_Number__c}" style="width:50px;" required="true"/></td>
         <td style="text-align:right"><span class="labelCol">Step Description</span></td>
         <td><apex:inputfield id="stepdescription" value="{!obj.Step_Description__c}" style="width:300px;height:50px" required="true"/></td>
         <td style="text-align:right"><span class="labelCol">Expected Result</span></td>
         <td><apex:inputfield id="expectedresult" value="{!obj.Expected_Result__c}" style="width:300px;height:50px" required="true"/></td>
     </tr>
 </table>
 </apex:pageBlock>
</apex:form>


<apex:form id="formStepDescription">
<apex:pageMessages />
<!--PageBlock : Show Added Steps against Test Case / Edit Test Steps -->
<apex:pageBlock Title="Step(s) Description" id="pbStepDescription">
<apex:pageBlockButtons location="top">
    <apex:commandButton id="btnRemoveStep" value="Remove Step" action="{!removeTestCaseStep}" reRender="formStepDescription,formAddStep"   status="removestepstatus" disabled="{!(noStepCount)}" />
    <apex:commandButton id="btnUpdateStep" value="Update Step" action="{!updateTestCaseStep}" reRender="formStepDescription,formAddStep" status="updatestepstatus" disabled="{!(noStepCount)}"/>
    <apex:actionstatus id="removestepstatus" starttext="Removing..."/>
    <apex:actionstatus id="updatestepstatus" starttext="Updating..."/>
</apex:pageBlockButtons>

<apex:pageBlockTable value="{!TestCaseSteps}" var="a" rendered="{!NOT(noStepCount)}">
    <apex:column >
    <apex:inputCheckbox value="{!a.selected}" id="checkedone">
    <apex:actionSupport event="onclick" action="{!GetSelected}" rerender="Selected_PBS"/>
    </apex:inputCheckbox>
    </apex:column>
    
    <apex:column headerValue="Step Number" >
    <apex:inputField value="{!a.acc.Step_Number__c}" style="width:50px;" required="true"/>
    </apex:column>
    
    <apex:column headerValue="Step Description" >
    <apex:inputField value="{!a.acc.Step_Description__c}" style="width:300px;height:50px" required="true"/>
    </apex:column>
    
    <apex:column headerValue="Expected Result">
    <apex:inputField value="{!a.acc.Expected_Result__c}" style="width:300px;height:50px" required="true" />
    </apex:column>
</apex:pageBlockTable>
</apex:pageBlock>
</apex:form>

</apex:page>