<apex:page > 
  <center>
<div style='border: 1px solid rgb(51, 153, 255); width: 96%; color: red; font-size: 18px; background-color: rgb(255, 255, 204);' id='NewsTicker'>
<marquee onMouseOver='this.stop();'  OnMouseOut='this.start();' width='98%'>Salesforce will be unavailable (read-only access) starting on Friday, December 11th at 8 pm EST until Sunday, December 13th at 11 pm EST. Please make sure all of your updates are entered into Saleforce before the outage.</marquee></div></center>
 <!-- onmouseover='this.scrollAmount=0' onmouseout='this.scrollAmount=6' --> 
 </apex:page>