<apex:page standardController="Contact" showHeader="true" sidebar="true" standardStylesheets="true" >

    <flow:interview name="ContactAddressAlert" finishLocation="/{!$CurrentPage.parameters.Contactid}" >
        <apex:param name="Contactid" value="{!$CurrentPage.parameters.Contactid}"/>
        <apex:param name="Response" value="{!$CurrentPage.parameters.Response}"/>
        
    </flow:interview>
</apex:page>