<apex:page standardController="Account" extensions="ActController" recordSetVar="Accounts" action="{!Deleteaccountsmsg}" >
    <apex:includeLightning />
  <apex:form >
    <apex:outputpanel id="messages">

    <apex:pageMessages escape="false" ></apex:pageMessages>
        <apex:commandButton action="{!cancel}" value="Go Back" id="theButton"/>
        <apex:commandButton action="{!Deleteaccounts}" value="Confirm Delete" id="theButton1"/>
      
      </apex:outputpanel>
      
</apex:form>
</apex:page>