<apex:page standardController="Opportunity" recordSetVar="opportunities" lightningStylesheets="true">
    <apex:includeLightning />
    
    <section >
        <div id="addToSelfTeam"/>
    </section>

    <script>
        var flag='{!Selected}';
        var currentURL=window.location.href;
         $Lightning.use("c:Opportunity_AddToSelfOppTeam", function(){
                $Lightning.createComponent(
                    "c:AddToSelfOppTeam",
                     {"selectedRecords":flag.toString()},
                    "addToSelfTeam",
                    function(cmp) {
                    });
                });
    </script>
    
</apex:page>