<apex:page standardController="Job_Posting__c" recordSetVar="postings" lightningStylesheets="true">
    <apex:includeLightning />
    <apex:slds />
    
    <section >
        <div id="refreshPosting"/>
    </section>

    
    <script>
      var flag='{!selected}';
        console.log('selected records ares in vf-->'+flag);
        var currentURL=window.location.href;
                 

         $Lightning.use("c:CRM_RWSMassRefreshPostingApp", function(){
                $Lightning.createComponent(
                    "c:CRM_RWSMassRefreshPosting",
                     {"selectedRecords":flag},
                    "refreshPosting",
                    function(cmp) {
                       
                    });
                });
    </script>
 
   
</apex:page>