<apex:page standardController="Contact" standardStylesheets="true" showHeader="false" sidebar="false">
<apex:stylesheet value="{!URLFOR($Resource.contactaddresspopup1, 'Contactaddresspopup1.CSS')}"/>
<!---link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"/---->

<apex:includeScript value="{!$Resource.contactaddresspopup2}"/>

<apex:includeScript value="{!$Resource.contactaddresspopup3}"/>

    <apex:outputPanel rendered="{!Contact.AccountChanged__c}">
        
        <script>
   
    
     // jquery funtion for pop up.
    
     $(function () {
     
        $( '<div></div>' ).dialog({
            resizable: false,
            height:200,
            modal: true,
            open: function() {
                var markup = 'Do you want the Account\'s address to be copied over to the contact?';
                 $(this).html(markup);
            },
            title: "Confirmation",
            buttons: {
            
            "Cancel": function() {
                    $( this ).dialog( "close" );
                    NoFunction();
                
                },
                "Copy Address": function() {
                    $( this ).dialog( "close" );
                    yesFunction();
                }
            }
        });
       
     })();
    
     function yesFunction(){
        // Write you code/logic of js here...
       window.open("/apex/LightningcontAlert?Contactid={!Contact.id}&Response=yes",target="_parent");
    }
    
    function NoFunction(){
        // Write you code/logic of js here...
       window.open("/apex/LightningcontAlert?Contactid={!Contact.id}&Response=no",target="_parent");
    }
        </script>
       </apex:outputPanel>
<apex:outputPanel id="esfPanel" >
    <apex:PageBlock id="theBlock" mode="maindetail">
     <apex:outputPanel layout="block">
         <apex:outputPanel layout="block">
         <table height = "100%" width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
    <!--   <td valign="top" width="20%" height="250px"><a onclick="window.top.location ='/{!$Label.Dashboard_1_Contact_Data360}?pc0=CONTACT_ID&pn0=eq&pv0={!left(Contact.ID,15)}&pc1=00NU00000035K8I&pn1=!eq&pv1=N/A&pc2=00NU00000035K8I&pn2=!eq&pv2= '"><analytics:reportChart reportId="{!$Label.Dashboard_1_Contact_Data360}" size="tiny" cacheResults="TRUE" cacheAge="43200000" showRefreshButton="FALSE" filter="{column:'CONTACT_ID',operator:'equals',value:'{!left(Contact.ID,15)}'}"></analytics:reportChart></a></td> 
       <td valign="top" width="20%" height="250px"><a onclick="window.top.location ='/{!$Label.Dashboard_2_Contact_Data360}?pn0=eq&pv0={!Contact.Account.Master_Global_Account_Id__c}'"><analytics:reportChart reportId="{!$Label.Dashboard_2_Contact_Data360}" size="tiny" cacheResults="TRUE" cacheAge="43200000" showRefreshButton="FALSE" filter="{column:'Account.Master_Global_Account_Id__c',operator:'equals',value:'{!Contact.Account.Master_Global_Account_Id__c}'}"></analytics:reportChart></a></td>  -->  
       
    <!--   <td class="Image1" valign="top" width="20%" height="250px" onclick="window.top.location ='/{!$Label.Dashboard_1_Contact_Data360}?pc0=CONTACT_ID&pn0=eq&pv0={!left(Contact.ID,15)}&pc1=00NU00000035K8I&pn1=!eq&pv1=N/A&pc2=00NU00000035K8I&pn2=!eq&pv2= '"><analytics:reportChart reportId="{!$Label.Dashboard_1_Contact_Data360}" size="tiny" cacheResults="False"  showRefreshButton="FALSE" filter="{column:'CONTACT_ID',operator:'equals',value:'{!left(Contact.ID,15)}'}" hideOnError="True" ></analytics:reportChart></td> 
       <td class="Image2" valign="top" width="20%" height="250px" onclick="window.top.location ='/{!$Label.Dashboard_2_Contact_Data360}?pn0=eq&pv0={!Contact.Account.Master_Global_Account_Id__c}'"><analytics:reportChart reportId="{!$Label.Dashboard_2_Contact_Data360}" size="tiny" cacheResults="False"  showRefreshButton="FALSE" filter="{column:'Account.Master_Global_Account_Id__c',operator:'equals',value:'{!Contact.Account.Master_Global_Account_Id__c}'}" hideOnError="True" ></analytics:reportChart></td> -->
       
   <!--     <td valign="top" width="25%" height="250px"><a href="/{!$Label.Dashboard_1_Contact_Data360}?pc0=CONTACT_ID&pn0=eq&pv0={!left(Contact.ID,15)}&pc1=00NU00000035K8I&pn1=!eq&pv1=N/A&pc2=00NU00000035K8I&pn2=!eq&pv2" target="_blank"><skuid:page page="ContactActivities"/></a></td> 
       <td valign="top" width="25%" height="250px"><a href="/{!$Label.Dashboard_2_Contact_Data360}?pn0=eq&pv0={!Contact.Account.Master_Global_Account_Id__c}" target="_blank"><skuid:page page="GlobalAccountCurrents"/></a></td> -->
        
        <td valign="top" width="50%"><!--skuid:page page="ContactActivitiesAndGlobalAccountCurrents"/--></td>
        <td valign="top" width ="50%"><apex:iframe src="/apex/Req_Contact_data360?id={!Contact.Id}" scrolling="false" width="100%"/></td>  
    </tr>
  <!-- <tr>
    <td colspan = "3"><apex:iframe src="/apex/Contractors_Account_Data360?id={!Account.Id}" scrolling="false" height="220px" width="100%"/></td>
    </tr> 
    -->
</table>         

          </apex:outputPanel>
     </apex:outputPanel> 
     </apex:PageBlock> 
</apex:outputPanel>
</apex:page>