<apex:page id="thePage" standardController="Strategic_Initiative__c" extensions="StrategicRoutingController"> <!-- action="{!getRouter}"> -->
   <script type="text/javascript">   
    setTimeout(function() {    
    var tempValue = '{!$CurrentPage.parameters.RecordType}';
    console.log(tempValue);
        if(typeof sforce != 'undefined' && sforce != null) {
            sforce.one.createRecord("Strategic_Initiative__c", tempValue);
        } else {
            document.getElementById('thePage:theForm:theBtn').click();
        }
    }, 1);    
    </script>
    <apex:form id="theForm">
       <apex:commandButton id="theBtn" style="visibility:hidden" reRender="theForm" action="{!getRouter}"/>
    </apex:form>   
</apex:page>