<apex:page standardController="Opportunity" >
<style type="text/css">
.FlowText {
  color: green;
}


.FlowButton {
  color: Blue;
  }
.FlowCurrency{
  color: Blue;
}
.FlowContainer {
  
}
</style>
  <flow:interview name="Opp_Flow" finishLocation="/{!Opportunity.Id}" >
        <apex:param name="Opportunityid" value="{!Opportunity.Id}"/>
        <apex:param name="supportReqType" value="Escalation"/>
    </flow:interview> 
</apex:page>