<apex:page standardController="Account" >
<style type="text/css">
.FlowText {
  color: green;
}


.FlowButton {
  color: Blue;
  }
.FlowCurrency{
  color: Blue;
}
.FlowContainer {
  
}
</style>
    <flow:interview name="TargetAccount" finishLocation="/{!Account.Id}" >
        <apex:param name="Accountid" value="{!Account.Id}"/>
        <apex:param name="AccountName" value="{!Account.Name}"/>
        
    </flow:interview>
</apex:page>