<apex:page id="thePage" controller="TeamingPartnersController" tabStyle="Reqs__c" action="{!newReq}">
<apex:form id="theForm">
        <apex:pageblock title="Select Billing Account for Req">  
        <apex:pageMessages />          
        <table width="100%">
             <tr> 
                   <th>  Account Name </th>
                   <apex:repeat value="{!$ObjectType.Teaming_Partner__c.FieldSets.TeamingPartners}" var="fld">                  
                     <th>  {!$ObjectType.Teaming_Partner__c.Fields[fld].label} </th>
                   </apex:repeat>
             </tr>        
            <apex:repeat value="{!lstTeamPartners}" var="reqs">
            <tr>  
                <td>               
                <apex:commandLink value="{!reqs.Account__r.Name}" action="{!newReq}"  immediate="true">  
                <apex:param name="TeammingID" value="{!reqs.Id}"/> 
                </apex:commandLink> 
                </td>
                                     
                <apex:repeat value="{!$ObjectType.Teaming_Partner__c.FieldSets.TeamingPartners}" var="fld">
                <td> <apex:outputField value="{!reqs[fld]}"/>  </td>
                </apex:repeat>
            </tr>
            </apex:repeat>
        </table>                          
        <apex:pageBlockButtons location="Top">
            <apex:commandButton value="Cancel" action="{!cancel}"/>
        </apex:pageBlockButtons>            
    </apex:pageblock>            
</apex:form>    
</apex:page>