<apex:page showheader="false">
<!--	HEADER -->  
<c:Web2LeadSiteHeader />

<div style="height:600px">
	<p style="font-weight:bold;font-size:20px;">
		Thank You.Your Lead information has been successfully submitted.
	</p>		
</div>

<!--	FOOTER -->
<c:Web2LeadSiteFooter />

</apex:page>