.THIS .slds-button--icon-border{
	border: 0px;
}

.THIS .slds-modal__container{
	position: relative;
	top: 3rem;
	width: 60%;
}

/*.THIS .slds-button{
	width: 100%;
}*/

.THIS tbody td{
	max-width: 200px;
	min-width: 50px;
}

.THIS .truncate-keyword{
	width: 200px;
	overflow: hidden;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.THIS .toggle-icon{
	position: absolute;
	top: 3px;
	right: 3px;
}

.THIS .slds-tabs--default__nav {
    border-bottom: 1px solid lightgray;
}

.THIS .slds-tabs--default__content{
    padding: 0;
}
.THIS table {
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
}
.THIS thead tr th {
    background-color: white;
    padding-top: 12px;
    padding-bottom: 12px;
}
.THIS .slds-icon {
    border: none;
}
.THIS .col {width: 20%;}
.THIS .col:first-child{
	width: 5%;
}

.THIS .slds-button-group button{
	margin-right: 0.25rem;
	padding: 0.25rem;
}

.THIS .form-container{
    padding: 1rem;
    background-color: #fff;
}