<template>
    <div class="slds-grid slds-m-top_medium req-routing" onclick={handleDropDown}>
        <!-- left -->
        <div class="slds-m-right_medium">
            <button class={filterButtonClasses} title="Filters" onclick={handleClick}>
                <svg class="slds-button__icon whiteIcon" aria-hidden="true">
                    <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#filter"></use>
                </svg>
                &nbsp;Filters<!--&nbsp;<span class="filterBadge slds-m-left_small">12</span>-->
            </button>
        </div>
        <div class="slds-m-right_medium">
            <select class="slds-input slds-combobox__input slds-p-horizontal_xx-small viewSelect" 
                    style="width:200px;"
                    onchange={handleChange} onclick={handleDropDown}>
                <template for:each={returnOps} for:item="option">
                    <option key={option.value} value={option.value}>{option.label}</option>
                </template>
            </select>
        </div>
        
        <template if:true={filtercountchanged}> 
            <div>
                <lightning-button-icon variant="brand" icon-name="utility:save" icon-position="center" alternative-text="Save" onclick={newview} title="Save View"></lightning-button-icon>
           </div>
        </template>

        
        <!-- /left -->

        <!-- right -->
        <div class="slds-col slds-size_1-of-3 slds-col_bump-left slds-m-right_large">
            <lightning-input
                name="enter-search"
                placeholder="Search for a req, role, or company"
                type="search"
                variant="label-hidden"
                onkeyup={handleKeyUp}
                value={searchInpt}
                onchange={handleSearchChange}
                autocomplete="off"
                onclick={handleDropDown}
            ></lightning-input>
        </div>
        <div>
            <select class="slds-input slds-combobox__input slds-p-horizontal_xx-small sortSelect" 
                    style="width:200px;"
                    onchange={updateSortFilters} onclick={handleDropDown}>
                <template for:each={sortByValues} for:item="option">
                    <option key={option.value} value={option.value}>{option.label}</option>
                </template>
            </select>
        </div>
        <!-- /right -->
    </div>
    <div>
        <div class={filterContainerClasses}>
            <c-lwc-req-routing-filter-details search-input-text={searchInpt} onresetfilters={handleCancel} onclearallfilters={handleClearAll} oncacheupdate={updateFromCache} ontogglechange={filterChange} onfacetitemselected={selectedFilters} facet-data={filter} view={view} onclick={filterChange} onsavedsearchloaded={updateFromSavedSearch}></c-lwc-req-routing-filter-details>
        </div>
        <template if:true={saveviewpopup}>
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" onclick={closemodal} title="Close" >
                            <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#close"></use>
                            </svg>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Save View</h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                        <template if:true={showErrorMsg}>
                            <div class="demo" style="height:4rem">
                            <div class="slds-notify_container  slds-is-relative">
                                <div class="slds-notify slds-notify_toast slds-align_absolute-center slds-theme_error" role="status">
                                <span class="slds-icon_container slds-icon-utility-error slds-no-flex  slds-align-top" title="Description of icon when needed">
                                <svg class="slds-icon slds-icon_small" aria-hidden="true">
                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#error"></use>
                                </svg>
                                </span>
                                <div class="slds-notify__content">
                                <h2 class="slds-text-heading_small">{errorMessage}</h2>
                                </div>
                                <div class="slds-notify__close">
                                <button class="slds-button slds-button_icon slds-button_icon-inverse" title="Close">
                                <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                                </svg>
                                <span class="slds-assistive-text">Close</span>
                                </button>
                                </div>
                                </div>
                                </div>
                            </div> 
                        </template>
                        <div>
                        <p>Current View Name</p>
                        <p>{selectedOption}</p>
                    </div>
                    <br>
                    <div>
                        <lightning-input name="new view name"  class="nameInput" type="text" label="New View Name" placeholder="Enter view name" max-length ="255" value={newviewinputname}></lightning-input>
                    </div>
                    </div>
                    <footer class="slds-modal__footer">
                        <div class="slds-float--right">
                            <button class="slds-button slds-button_neutral" title="Cancel" onclick={cancelbtn} disabled={disableButtons}>Cancel</button>
                            <button class="slds-button btn-save-view inpt" title="saveview" onclick={handleSaveView} disabled={disableButtons}>Save View</button>
                            <button class="slds-button slds-button_brand " title="New view" onclick={handleSaveNewView} disabled={disableButtons}>Save as New View</button>
                        </div>
                    </footer>
                    </div>
                </div>
                
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>

        </template> 
    </div>
</template>