.req-routing {
    /*height: 100%;*/
    background-color: white;
    top:20px
    /*display: flex;
    flex-direction: row;*/
}

/* Filter button */
.btn-filter {
    transition: all 500ms;
    box-shadow: none !important;
}

.btn-filter.slds-button_neutral {
    box-shadow: none !important;
    background-color: white !important;
}

.btn-filter .filterBadge {
    border-radius: 50%;
    padding: 0.25em;
    line-height: 15px;
    font-size: 12px;
}

/* Filter button - open */
.btn-filter.slds-button_neutral {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 12px;
}

.btn-filter.slds-button_neutral .filterBadge {
    background-color: var(--sds-c-button-brand-color-background, var(--lwc-brandAccessible,rgb(0, 112, 210)));
    color: white;
}

/* Filter button - closed */
.btn-filter.slds-button_brand {
    margin-bottom: 12px;
}

.btn-filter.slds-button_brand .filterBadge {
    background-color: white;
    color: var(--sds-c-button-brand-color-background, var(--lwc-brandAccessible,rgb(0, 112, 210)));
}

/* Filter button - open svg */
.btn-filter.slds-button_neutral svg {
    fill: --lwc-brandPrimary;
}

/* Filter button - closed svg */
.btn-filter.slds-button_brand svg {
    fill:white;
}

.filterContainerParent {
    margin-top: -1px;
    max-height: 0px;
    overflow-y: hidden;
    transition: all 500ms;
}

.filterContainerParent.open {
    max-height: 1000px;
    overflow-y: visible;
}

.btn-save-view{
    background-color:rgb(16, 154, 215);
    width:90px;
    color:white;
    text-align: center;
    justify-content: center;
    transition: border .15s linear;
    vertical-align: middle;
}

.slds-button_text{
    text-align: center;
}