<template>
  <div
    class="slds-grid slds-gutters act-grid-field slds-p-vertical_xx-small slds-m-top_x-small"
  >
    <div class="slds-col slds-size_1-of-4">
      <div class="slds-grid">
        <span class="act-field-icon slds-p-right_xx-small"
          ><lightning-icon icon-name={iconName} size="small"></lightning-icon
        ></span>
        <span class="act-field-type slds-truncate"
          ><c-timelineitemdetails
            field-name=""
            field-value={taskItem.ActivityType}
          ></c-timelineitemdetails
        ></span>
      </div>
    </div>
    <div class="slds-col slds-size_1-of-4">
      <div if:true={isTaskRecordType}>
        <c-timelineitemdetails
          field-name=""
          field-value={taskItem.Status}
        ></c-timelineitemdetails>
      </div>
      <div if:true={isEventRecordType}>
        <c-timelineitemdetails
          field-name=""
          field-value="-"
        ></c-timelineitemdetails>
      </div>
    </div>
    <div class="slds-col slds-size_1-of-4">
      <c-timelineitemdetails
        field-name=""
        field-value={assingedTo}
        user-id={taskItem.AssignedToId}
        pop-over="true"
      ></c-timelineitemdetails>
    </div>
    <div class="slds-col slds-size_1-of-4 slds-grid">
      <span class="slds-show_inline-block slds-size_3-of-4">
        <div if:true={isEventRecordType}>
          <c-timelineitemdetails
            field-name=""
            field-value={getDateValue}
            last-modified-time={taskItem.LastModifiedDate}
            record-type={recType}
            field-type="date"
            pop-over="true"
          ></c-timelineitemdetails>
        </div>
        <div if:false={isEventRecordType}>
          <c-timelineitemdetails
            field-name=""
            field-value={getDateValue}
            record-type={recType}
            field-type="date"
            pop-over="true"
          ></c-timelineitemdetails>
        </div>
      </span>

      <div if:true={enableActions} aria-label="actions dropdown">
        <a data-id="actionsmenu"
          onclick={showActionItems}
          class="caret down slds-size_1-of-4 slds-dropdown-trigger" tabindex="0"
        >
        <nav>
          <div
            id="action-popover"
            class="slds-dropdown slds-dropdown_right slds-nubbin_top-right slds-dropdown_menu popover-pos"
          >
            <ul class="slds-dropdown__list" role="menu">
              <li
                onclick={fireEditEvent}
                id="menu-0-1"
                class="slds-dropdown__item action-link"
              >
                <button class="action-btn">
                  <p class="slds-truncate btn-click">{label.ATS_EDIT}</p>
                </button>
              </li>
              <li
                if:true={isDeletable}
                onclick={showConfirmationMoal}
                id="menu-1-1"
                class="slds-dropdown__item action-link"
              >
                <button class="action-btn">
                  <p class="slds-truncate btn-click">{label.ATS_DELETE}</p>
                </button>
              </li>
            </ul>
          </div>
        </nav>
        </a>
      </div>
    </div>
  </div>
  <div class="act-sub-label">
    <c-timelineitemdetails
      field-name={label.ATS_SUBJECT}
      field-value={taskItem.Subject}
      show-more={enableCondensedLabels}
      valu-length={subjectLength}
    ></c-timelineitemdetails>
  </div>
  <div if:true={isTaskRecordType}>
    <div class="act-comm-label">
      <c-timelineitemdetails
        field-name={label.ATS_COMMENT}
        field-value={taskItem.Detail}
        show-more={enableCondensedLabels}
        valu-length={commentsLength}
        ignore-symb="true"
        defualt-line-numbers-visible="2"
        is-comments="true"
        record-id={taskItem.RecordId}
      ></c-timelineitemdetails>
        
    </div>
   <div>
  </div>
  </div>
    
  <div if:true={isEventRecordType}>
    <div if:true={isSubmittalEvent}>
      <div if:true={isInterviewing}>
        <div class="act-sub-label">
          <c-timelineitemdetails
            field-name={label.ATS_CLIENT_COMMENT}
            field-value={clientComments}
            show-more={enableCondensedLabels}
            valu-length={clientCommentsLength}
            ignore-symb="true"
          ></c-timelineitemdetails>
        </div>
        <div class="act-sub-label">
          <c-timelineitemdetails
            field-name={label.ATS_CANDIDATE_COMMENT}
            field-value={candidateComments}
            show-more={enableCondensedLabels}
            valu-length={candidateCommentsLength}
            ignore-symb="true"
          ></c-timelineitemdetails>
        </div>
      </div>
      <div if:false={isInterviewing}>
        <div class="act-sub-label">
          <c-timelineitemdetails
            field-name={label.ATS_COMMENTS}
            field-value={taskItem.PostMeetingNotes}
            show-more={enableCondensedLabels}
            valu-length={postMeetingNotesSize}
            ignore-symb="true"
          ></c-timelineitemdetails>
        </div>
      </div>

      <div if:true={isNotProceedingActivity}>
        <div class="act-sub-label">
          <c-timelineitemdetails
            field-name={label.ATS_NOT_PROCEEDING_REASON}
            field-value={taskItem.NotProceedingReason}
            show-more={enableCondensedLabels}
            valu-length={notProceedingLength}
            ignore-symb="true"
          ></c-timelineitemdetails>
        </div>
      </div>
    </div>
    <div if:false={isSubmittalEvent}>
      <div class="act-sub-label">
        <c-timelineitemdetails
          field-name={label.ATS_PRE_NOTES}
          field-value={taskItem.PreMeetingNotes}
          show-more={enableCondensedLabels}
          valu-length={preMeetingNotesSize}
        ></c-timelineitemdetails>
      </div>
      <div class="act-sub-label">
        <c-timelineitemdetails
          field-name={label.ATS_POST_NOTES}
          field-value={taskItem.PostMeetingNotes}
          show-more={enableCondensedLabels}
          valu-length={postMeetingNotesSize}
        ></c-timelineitemdetails>
      </div>
    </div>
  </div>

  <!-- Delete Confirmation Modal -->
  <div if:true={openmodel}>
    <c-lwcconfirmationmodal
      record-id={taskItem.RecordId}
      onconfirmmodalcloseevent={closeModal}
      onconfirmmodalsaveevent={confirmmodalsave}
    ></c-lwcconfirmationmodal>
  </div>
</template>