.act-field-icon{
    display: inline-block;
}
.act-field-type{
    display: inline-block;
}
.act-grid-field{
    background: #F1F1F1;
}
.act-sub-label .label-if-exist{
 display: inline-block;
}
/* Styles for caret icons */
.caret {
    width: 0;
    height: 0;
    display: inline-block;
    border: 6px solid transparent;
}
.caret.down{
    border-top-color:rgb(112, 110, 107);
    position: relative;
    top: 8px;
    left: 12px;
}
.popover-pos{
    position: absolute;
    right: -18px;
    top: 7px;
}
.action-btn{
    background: none;
    border: none;
    
}
.action-link:active{
    text-decoration: none;
    background-color:rgb(236, 235, 234); 
}
.btn-click{
    padding: 4px;
    color: black;
}