<template>
    <template if:true={selection}>
        <td>
            <template if:true={multiSelect}>
                <div class="slds-form-element">
                    <div class="slds-form-element__control">
                        <div class="slds-checkbox">
                        <input onchange={handleSelection} data-action="true" type="checkbox" name="options" id={rowData.id} value={rowData.id} disabled={disableCheckbox}/>
                        <label data-action="true" class="slds-checkbox__label" for={rowData.id} aria-label="checkbox">
                            <span data-action="true" class="slds-checkbox_faux"></span>  
                            <span style="display:none">checkbox</span>                          
                        </label>
                        </div>
                    </div>
                </div>
            </template>
            <template if:false={multiSelect}>                
                <span class="slds-radio">
                    <input onchange={handleSelection} data-action="true" type="radio" id={rowData.id} value={rowData.id} name="rowGroup" disabled={disableCheckbox}/>
                    <label data-action="true" class="slds-radio__label" for={rowData.id} aria-label="checkbox">
                        <span data-action="true" class="slds-radio_faux"></span>    
                        <span style="display:none">checkbox</span>                      
                    </label>
                </span>
            </template> 
        </td>
    </template>
    <template if:true={actions}>
        <td>
            <template for:each={actions} for:item="action">
                <lightning-button-icon
                    onclick={handleAction}
                    key={action.action}
                    data-action={action.action} 
                    icon-name={action.icon}
                    disabled={action.disable} 
                    variant="bare" 
                    alternative-text={action.action}   
                    class="slds-m-left_xx-small">
                </lightning-button-icon>
            </template>
        </td>
    </template>
    <template for:each={rowData.cells} for:item="cell" for:index="i">        
        <c-lwc-data-table-cell 
            onedit={dispatchEdit} 
            key={cell.value} 
            cell-data={cell}
            columns={columns}
            col-index={i}
        ></c-lwc-data-table-cell>
    </template> 
</template>