:host {
    display: table-row;
    border-top: 1px solid #dddbda;
    border-spacing: 0; 
    border-collapse: separate; 
}
:host:hover {
    background-color: #f3f2f2;
}
td {
    position: relative;
    padding: .25rem .5rem;
    white-space: nowrap;
    border-spacing: 0; 
    border-collapse: separate; 
    border-top: 1px solid #dddbda;
}