.reqsContainer {
    background-color: #F9F9FA;
}

.resultsContainer {
    margin-top:-0.75em;
    max-height:375px;
    overflow-y:scroll;
    position:relative;
}

.resultsContainerOneItem {
    overflow-y:visible;
}

.resultsContainerOneItemRecently {
    overflow-y:visible;
}

.allocatedReqs {
    background-color: transparent;
    border:none;
    border-bottom:1px solid black;
    border-radius:0;
    cursor:pointer;
    font-size:16px;
    font-weight: 600;
    outline: none;
    padding-right:20px;
}

.slds-card__footer {
    margin-top: -20px;
}