<template>
    <article class="slds-card">

        <!-- Card Header -->
        <div class="slds-card__header slds-grid">
            <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__body">
                    <h2 class="slds-card__header-title">
                        <a href="#" class="slds-card__header-link slds-truncate" title="Accounts">
                            <span>The Sorcerer</span> 
                        </a>
                    </h2>
                </div>
            </header>
        </div>
        <template if:true={isLoading}>
            <lightning-spinner></lightning-spinner>
        </template>
        <!-- Card Body -->
        <div class="slds-card__body slds-card__body_inner slds-p-around_none">              
            <template if:false={isEmpty}>
                <!-- Allocated Reqs-->
                <div class="slds-p-around_small reqsContainer">
                    <template if:true={allocatedReqs}>
                        <select class="allocatedReqs" onchange={handleOpportunityChange}>
                            <template for:each={allocatedReqs} for:item="req">
                                <option key={req.Opportunity.Id} value={req.Opportunity.Id}>{req.Opportunity.Name}</option>
                            </template>
                        </select>
                    </template>
                    <a href={selectedReqUrl} target="_blank" class="slds-m-left_small">View Req</a>
                </div>

                <!-- Tabs -->
                <template if:true={hideTalentmatches}>
                    <div style="position: absolute; width: -webkit-fill-available;">
                        <div class="slds-grid slds-grid_align-end  ">
                            <div class="slds-col">
                                <div class="slds-align_absolute-center slds-var-p-top_x-small slds-var-p-right_x-small">
                                    Radius </div>
                            </div>
                            <div class="slds-col">
                                <c-lwc-allocated-req-comobobox ondropdownselect={handleDropdownSelect} label='radius'
                                    value={radiusValue} options={radiusOptions}></c-lwc-allocated-req-comobobox>
                            </div>
                            <div class="slds-col slds-var-p-left_x-small slds-var-p-right_medium">
                                <c-lwc-allocated-req-comobobox ondropdownselect={handleDropdownSelect} label='km'
                                    value={kmsvalue} options={kmsOptions}></c-lwc-allocated-req-comobobox>
                            </div>
                        </div>
                    </div>
                </template>

                <div>
                    <lightning-tabset active-tab-value={activetab}>
                        
                        <!-- Matches -->
                        <template if:true={hideTalentmatches}>
                            <lightning-tab label="Top Matches" value='topMatches' onactive={handleActive}>
                                <div class={resultContainerClass}>
                                    <template if:true={showMatches}>
                                        <template for:each={matches} for:item="match" for:index="i">
                                            <c-lwc-allocated-req-item key={match.id} match-index={i} match-data={match}
                                                onselected={viewSelectedResume}  onopenpopover={handleOpenPopover} onblur={handleBlur}>
                                            </c-lwc-allocated-req-item>
                                        </template>
                                    </template>
                                    <template if:false={showMatches}> 
                                        <div class="slds-grid slds-grid_vertical slds-grid_align-center slds-grid_vertical-align-center">
                                            <img width="200px" src={imageUrl} />
                                            <h3 class="slds-text-heading_large">No matches found</h3>
                                        </div>
                                    </template>
                                </div>
                            </lightning-tab>
                        </template>

                        <!-- Recently Applied -->
                        <template if:true={showRecentlyApplied}>
                            <lightning-tab label="Recently Applied" value='recentlyApplied' onactive={handleActive}>
                                <div class={resultContainerRecentlyClass}>
                              <template if:true={showRecentMatches}>    
                                <template for:each={recentlyAppliedOutput} for:item="talent" for:index="i">
                                       <c-lwc-allocated-req-item key={talent.id} match-index={i} match-data={talent}
                                        onselected={viewSelectedResume}  onopenpopover={handleOpenPopover} onblur={handleBlur}>
                                    </c-lwc-allocated-req-item>
                                </template>
                              </template>
                                <template if:false={showRecentMatches}> 
                                    <div class="slds-grid slds-grid_vertical slds-grid_align-center slds-grid_vertical-align-center">
                                        <img width="200px" src={imageUrl} />
                                        <h3 class="slds-text-heading_large">No matches found</h3>
                                    </div>
                                </template>
                                </div>
                            </lightning-tab>
                        </template>

                    </lightning-tabset>
                </div>
            </template>
            <template if:true={isEmpty}>
                <div class="slds-p-around_small reqsContainer">
                    You have no allocated reqs.
                </div>
            </template>        
        </div>

        <!-- Card Footer -->
        <template if:false={isEmpty}>
            <template if:true={hideTalentmatches}>
                <footer class="slds-card__footer">
                    <a class="slds-card__footer-action" href="javascript:void(0)" onclick={navigateToMatches}>View All Matches
                        <span class="slds-assistive-text">View All Matches</span>
                    </a>
                </footer>
            </template>
        </template>
    </article>
    <template if:true={showModal}>
        <c-lwc-allocated-req-modal resume={selectedResume} activities={activities} show-modal={showModal}
        activetab = {activetab} onclosemodal={onCloseModal}></c-lwc-allocated-req-modal>
    </template>


</template>