.THIS .slds-modal__close{
	top: -3rem;
}

.THIS .overflow-hidden{
	overflow-y: hidden;
}

.THIS .capitalize-name{
	text-transform: capitalize;
}


	.THIS .slds-modal__container{
		max-width: 70vw;
		width: auto;
	}
    .THIS .slds-modal__content{
        max-height: 90vh;
        height: auto;
     }
.THIS .resume-date-label {
    font-weight: 600;
    display: inline-block;
    margin-right: .3rem;
}

.THIS .resume-updated {
    text-align: right;
}