/*style*/
.d-inline-block{
    display: inline-block;
}

.font-bold {
  font-weight:bold;
  font-size:12px;
}
.icon-search {
 background:#185797;
 border-radius:5px;
 padding:6px;
}
.sec-div {
    border-bottom:0.5px solid rgb(221, 219, 218);
}
.cursor-pointer {
 cursor:pointer;
}
