.THIS .talent-sidebar{
    bottom: 2.5rem;
    right: 0;
    z-index: 100;
    position: fixed;
    max-width: 35vw;
    width: 25%;
    background-color: #ffffff;
}

.THIS .text-color_light-grey{
    color: #778899;
}

.THIS .slds-card{
    position: relative;
    width: 100%;
    box-shadow: 0 0 3px #0070d2 !important;
}

.THIS .slds-text-title_caps{
    text-transform: capitalize;
}

/*.THIS .offset-top{*/
    /*transform: translate(0rem, 10rem);*/
/*}*/
.THIS .offset-top{
    height: calc(100vh - 8.1rem);
}

.THIS div.slds-card.slds-p-around_small, .THIS div.slds-tabs_default {
    height: 100%;
}
.THIS div.slds-tabs_default {
    margin-top: -1.2rem;
    display: flex;
    flex-direction: column;
}
.THIS .l-tab {
    flex: 1;
}
.THIS .l-tab.stretch {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.THIS .stretch .tab-list-container {
    flex: 1;
}
.THIS dd, 
.THIS dt{
    margin: 0.25rem 0;
}

.THIS .tab-list-container{
    /*min-height: 50vh;*/
    /*max-height: 55vh;*/
    overflow-y: auto;
}

.THIS .tab-list{
    height: 100%;
    /*overflow-y: auto;*/
}

.THIS .g2Activities-list li p{
    margin: 0.25rem 0;
}

.THIS .slds-dl_inline__detail p{
    margin: 0 0 0.25rem 0;
}

.THIS .slds-dl_inline__detail p:nth-of-type(2){
    margin-top: 0.5rem;
}

.THIS .slds-tabs--default__content{
    padding: 0;
}

.THIS .truncate-badge{
    display: inline-block;
    max-width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.THIS .slds-badge{
    margin: 0 0.25rem 0.25rem;
	display: block;
}
.THIS .slds-card {
    padding: .75rem!important;
}
.THIS .dnc-icon svg {
    fill: #c23934;
}
.THIS .dn-panel {
    height: 2.2rem;
    border: 1px solid #c23934;
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin-right: 1rem;
}
.THIS .dn-panel .panel {
    flex: 1 1;
    display: flex;
}
.THIS .dn-panel .panel > div {
    padding: 0 0.5rem;
}
.THIS .dn-panel .panel > div lightning-icon {
    margin-top: 0;
    margin-bottom: 0;
}
.THIS .dn-panel .panel > div:not(:last-of-type) {
    border-right: 1px solid gray;
}
.THIS .dn-panel .icon {
    width: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c23934;
}
.THIS .dn-panel .icon span {
    color: white;
    font-size: 1.5rem;
}
.THIS .dn-panel .panel span {
    color: #c23934;

}

.THIS #activitiesTab {
    overflow: scroll;
}