<template>
    <template if:true={showRecentOpps}>
        <header class="slds-modal__header">
            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
                <b>Merge With Opportunity</b>
            </h2>
        </header>            
        <div class="slds-modal__content slds-p-around_medium slds-p-top_none scroll-y">        
            <div class="slds-p-around_xx-small">
                <h3>Recently Viewed Opportunities</h3>
            </div>        
            <div data-id="recent-opps" class="slds-form-element_readonly height">
                <lightning-datatable                    
                        max-row-selection="1"
                        key-field="id"
                        data={recentData}
                        columns={columns}
                        onrowselection={getRecentRecord}
                        selected-rows={recentRecords}
                        default-sort-direction="desc"
                        sorted-by={sortBy}
                        sorted-direction={sortDirection}
                        onsort={handleRecentSortdata}>
                </lightning-datatable>
                <template if:false={hasRecentRecords}>
                    <p class="empty-table">Once you select an Opportunity you will see relevant information here</p>
                </template>
            </div> 
            <div>                               
                <lightning-input class="slds-p-bottom_x-small"
                    name="enter-search"                                
                    type="search"
                    placeholder="Search for an Opportunity"
                    variant="label-hidden"
                    onkeypress={handleKeyChange}
                    autocomplete="off"
                ></lightning-input>                        
                <div data-id="search-table">
                    <lightning-datatable
                        key-field="id"
                        data={searchData}
                        columns={columns}
                        onrowselection={getSelectedRecord}
                        selected-rows={searchRecords}
                        max-row-selection="1"  
                        default-sort-direction="desc"                                             
                        sorted-by={sortBy}
                        sorted-direction={sortDirection}
                        onsort={handleSearchSortdata}>
                    </lightning-datatable>
                    <template if:false={hasSearchResults}>
                        <p class="empty-table">Search for an opportunity to populate results</p>
                    </template>
                </div>            
            </div>
        </div>
        <footer class="slds-modal__footer">            
                <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
                <template if:true={showSummaryButton}>
                    <button class="slds-button slds-button_brand" onclick={showOppSummaryModal} title="OK">View Opportunity Summary</button>               
                </template>
                <template if:false={showSummaryButton}>
                    <button class="slds-button slds-button_brand" onclick={showOppSummaryModal} title="OK" disabled>View Opportunity Summary</button>               
                </template>                
        </footer>
    </template>
    <template if:true={showOppSummary}>
        <c-lwc-merge-v-m-s-show-opp-summary vms-req = {vmsReq} selected-record-id = {selectedRowId} onmerge={showMergeOpportunityModal} onselect={showSelectOpportunity} onclose={closeModal}></c-lwc-merge-v-m-s-show-opp-summary>
    </template>
    <template if:true={showMergeOpp}>             
        <c-lwc-merge-v-m-s-final-confirm vms-req = {vmsReq} selected-record={selectedRecord} onsummary={showOppSummaryModal} onclose={closeModal}></c-lwc-merge-v-m-s-final-confirm>   
    </template>
</template>