.scroll-y {
    overflow-y:auto !important;
}

.empty-table {
    padding: 2rem;
    text-align: center;
}

.set-height {
    height: 10rem;
    overflow-x: hidden;
    border: none;
}

.height {
    height: 10rem;
    overflow-x: hidden;
    border: none;
}