.THIS .value-selected {
    display: inline-block;
    color: #686868;
    cursor: pointer;
}

.THIS {
    font-family: 'Salesforce Sans',Arial,sans-serif;
}

.THIS .value-selected:hover {
    color: black;
}

.THIS .custom-option:not(:last-child) {
    border-bottom: 1px solid #e2e2e2;
}
.THIS .custom-option {
    padding: 7px 15px;
    display: block;
    cursor: pointer;
}

.THIS .custom-option:hover {
    background: #f3f2f2;
}
.THIS .custom-option:first-child {
    border-radius: 5px 5px 0 0;
}
.THIS .custom-option:last-child {
    border-radius: 0 0 5px 5px;
}
.THIS .hidden-menu {
    display: none !important;
}

.THIS [id^="options-"] {
    display:inline-block;
    box-shadow: 0 0 10px #a5a5a5;
    border-radius: 5px;
    background: white;
    width: auto;
    position: absolute;
    z-index: 999;
}

.THIS .stretch {
    transition: all .2s ease-out;
}

.THIS span.stretch {
    display:inline-block;
}