<div class="summary slds-p-bottom--large">

    <div class="summary__heading slds-text-heading--large slds-m-bottom--large">Summary</div>
    <!-- This section is not op-co specific.
    http://nextgen.team.allegisgroup.com:8090/display/ATS/Candidate+Summary  -->

    <div class="summary__common slds-m-bottom--medium">
        <div class="slds-grid slds-wrap">
            <div class="candidate-overview slds-col slds-size--1-of-1">
                <div class="slds-text-heading--medium form__header slds-m-bottom--medium">Candidate Overview</div>
                <textarea class="candidate-overview__text edit form__field--full-width form__field--tall form__text-field"></textarea>
                <div class="candidate-overview view"></div>
            </div>
        </div>
    </div>

    <!-- EMPLOYABILITY -->
    <div class="employability-information slds-m-bottom--large">
        <div class="slds-text-heading--medium form__header slds-m-bottom--medium">Employability Information</div>

        <div class="slds-grid slds-wrap slds-grid--pull-padded">
            <div class="slds-col slds-col--padded slds-size--1-of-1 slds-small-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                <div class="employability-information__reliable-transportation">
                    <label for="employability-information__reliable-transportation-picklist" class="form__label">Reliable Transportation?</label>
                    <select class="employability-information__reliable-transportation-picklist edit" id="employability-information__reliable-transportation-picklist">
                        <option value="" selected disabled>Select</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                    <span class="employability-information__reliable-transportation view"></span>
                </div>

                <div class="employability-information__countries-eligible-in form__field--full-width">
                    <label for="employability-information__countries-eligible-in-picklist" class="form__label">Countries eligible to work in: </label>
                    <select class="employability-information__countries-eligible-in-picklist edit " id="employability-information__countries-eligible-in-picklist">
                        <!-- added by user via select2  -->
                    </select>
                    <span class="employability-information__countries-eligible-in view"></span>
                </div>
                <div class="employability-information__drug-test">
                    <label for="employability-information__drug-test-picklist" class="form__label">Are you willing to submit to a drug test?</label>
                    <select class="employability-information__drug-test-picklist edit" id="employability-information__drug-test-picklist">
                        <option value="" selected disabled>Select</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                    <span class="employability-information__drug-test view"></span>
                </div>
            </div>
            <div class="slds-col slds-col--padded slds-size--1-of-1 slds-small-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                <div class="employability-information__background-check">
                    <label for="employability-information__background-check-picklist" class="form__label">Are you willing to submit to a background check?</label>
                    <select class="employability-information__background-check-picklist edit" id="employability-information__background-check-picklist">
                        <option value="" selected disabled>Select</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                    <span class="employability-information__background-check view"></span>
                </div>

                <div class="employability-information__security-clearance">
                    <label for="employability-information__security-clearance-picklist" class="form__label">Have you held an active U.S. security clearance in the last 24 months?</label>
                    <select class="employability-information__security-clearance-picklist edit" id="employability-information__security-clearance-picklist">
                        <option value="" selected disabled>Select</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                    <span class="employability-information__security-clearance view"></span>
                </div>
            </div>
        </div>
    </div>

    <!-- QUALIFICATIONS -->
    <div class="qualifications slds-m-bottom--large">
        <div class="slds-text-heading--medium form__header slds-m-bottom--medium">Qualifications</div>
        <div class="slds-grid slds-wrap slds-grid--pull-padded">
            <div class="slds-col slds-col--padded slds-size--1-of-1 slds-small-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                <div class="qualifications__skills form__field--full-width">
                    <label for="qualifications__skills-picklist" class="form__label">Skills:</label>
                    <select class="qualifications__skills-picklist edit" id="qualifications__skills-picklist">
                        <!-- entered by user -->
                    </select>
                    <span class="qualifications__skills view"></span>
                </div>
            </div>
            <div class="slds-col slds-col--padded slds-size--1-of-1 slds-small-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                <div class="qualifications__languages form__field--full-width">
                    <label for="qualifications__languages-picklist" class="form__label">Languages:</label>
                    <select class="qualifications__languages-picklist edit" id="qualifications__languages-picklist">
                        <option value="albanian">Albanian</option>
                        <option value="arabic">Arabic</option>
                        <option value="armenian">Armenian</option>
                        <option value="assamese">Assamese</option>
                        <option value="basque">Basque</option>
                        <option value="bengali">Bengali</option>
                        <option value="bulgarian">Bulgarian</option>
                        <option value="cambodian">Cambodian</option>
                        <option value="catalan">Catalan</option>
                        <option value="chinese">Chinese</option>
                        <option value="chinese-cantonese">Chinese-Cantonese</option>
                        <option value="chinese-chinois">Chinese-Chinois</option>
                        <option value="chinese-mandarin">Chinese-Mandarin</option>
                        <option value="chinese-taiwanese">Chinese-Taiwanese</option>
                        <option value="croatian">Croatian</option>
                        <option value="czech">Czech</option>
                        <option value="danish">Danish</option>
                        <option value="dutch">Dutch</option>
                        <option value="english">English</option>
                        <option value="estonian">Estonian</option>
                        <option value="euskera">Euskera</option>
                        <option value="farsi">Farsi</option>
                        <option value="finnish">Finnish</option>
                        <option value="french">French</option>
                        <option value="german">German</option>
                        <option value="greek">Greek</option>
                        <option value="gujarati">Gujarati</option>
                        <option value="hebrew">Hebrew</option>
                        <option value="hindi">Hindi</option>
                        <option value="hmong">Hmong</option>
                        <option value="hungarian">Hungarian</option>
                        <option value="icelandic">Icelandic</option>
                        <option value="indonesian">Indonesian</option>
                        <option value="italian">Italian</option>
                        <option value="japanese">Japanese</option>
                        <option value="kannada">Kannada</option>
                        <option value="kashmiri">Kashmiri</option>
                        <option value="korean">Korean</option>
                        <option value="latvian">Latvian</option>
                        <option value="lithuanian">Lithuanian</option>
                        <option value="macedonian">Macedonian</option>
                        <option value="malayalam">Malayalam</option>
                        <option value="norwegian">Norwegian</option>
                        <option value="oriya">Oriya</option>
                        <option value="pashto">Pashto</option>
                        <option value="polish">Polish</option>
                        <option value="portuguese">Portuguese</option>
                        <option value="punjabi">Punjabi</option>
                        <option value="romanian">Romanian</option>
                        <option value="russian">Russian</option>
                        <option value="sanskrit">Sanskrit</option>
                        <option value="serbian">Serbian</option>
                        <option value="sindhi">Sindhi</option>
                        <option value="slovak">Slovak</option>
                        <option value="slovanian">Slovanian</option>
                        <option value="spanish">Spanish</option>
                        <option value="swedish">Swedish</option>
                        <option value="tamil">Tamil</option>
                        <option value="telugu">Telugu</option>
                        <option value="thai">Thai</option>
                        <option value="turkish">Turkish</option>
                        <option value="ukranian">Ukranian</option>
                        <option value="urdu">Urdu</option>
                        <option value="uzbek">Uzbek</option>
                        <option value="vasco">Vasco</option>
                        <option value="vietnamese">Vietnamese</option>
                        <option value="other">Other</option>
                    </select>
                    <span class="qualifications__languages view"></span>
                </div>
            </div>
        </div>
    </div>


    <!-- GEOGRAPHIC PREFS -->
    <div class="geographic-prefs slds-m-bottom--large">
        <div class="slds-text-heading--medium form__header slds-m-bottom--medium">Geographic Preferences</div>
        <div class="slds-grid slds-wrap slds-grid--pull-padded">
            <div class="slds-col slds-col--padded slds-size--1-of-1 slds-small-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                <div class="geographic-prefs__willing-to-relocate">

                    <label for="geographic-prefs__willing-to-relocate-picklist" class="form__label">Willing to relocate?</label>
                    <select class="geographic-prefs__willing-to-relocate-picklist edit" id="geographic-prefs__willing-to-relocate-picklist">
                        <option value="" selected disabled>Select</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                    <span class="geographic-prefs__willing-to-relocate view"></span>
                </div>
                <div class="geographic-prefs__commute-length">
                    <label for="geographic-prefs__commute-length-distance"class=" form__label">Commute Length:</label>
                    <input class="geographic-prefs__commute-length-distance edit form__text-field" id="geographic-prefs__commute-length-distance" type="text" value="" />
                    <select class="geographic-prefs__commute-length-unit edit" id="geographic-prefs__commute-length-unit">
                        <option value="" selected disabled>Select</option>
                        <option value="miles">Miles</option>
                        <option value="minutes">Minutes</option>
                    </select>
                    <span class="geographic-prefs__commute-length view"></span>
                </div>
            </div>

            <div class="slds-col slds-col--padded slds-size--1-of-1 slds-small-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">

                <div class="geographic-prefs__national-opportunities">
                    <label for="geographic-prefs__national-opportunites-picklist"class="form__label">National Opportunities:</label>
                    <select class="geographic-prefs__national-opportunites-picklist edit" id="geographic-prefs__national-opportunites-picklist">
                        <option value="" selected disabled>Select</option>
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                    <span class="geographic-prefs__national-opportunites view"></span>
                </div>
            </div>
            <div class="slds-col slds-size--1-of-1 slds-col--padded">
                <div class="geographic-prefs__desired-location">
                    <div class="slds-text-heading--label slds-m-top--small slds-m-bottom--small form__sub-header">Desired Location</div>
                    <div class="slds-grid slds-wrap slds-grid--pull-padded">
                        <div class="slds-col slds-col--padded slds-size--1-of-1 slds-small-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
                            <label for="geographic-prefs__desired-location--city-input" class="form__label">City:</label>
                            <input class="geographic-prefs__desired-location--city-input edit form__text-field form__field--full-width" id="geographic-prefs__desired-location--city-input" />
                            <span class="geographic-prefs__desired-location--city view"></span>
                        </div>
                        <div class="slds-col slds-col--padded slds-size--1-of-1 slds-small-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
                            <label for="geographic-prefs__desired-location--country-picklist" class="form__label">Country:</label>
                            <select class="geographic-prefs__desired-location--country-picklist edit" id="geographic-prefs__desired-location--country-picklist ">
                                <option value="" selected disabled>Select</option>
                                <!-- dynamically loaded -->
                            </select>
                            <span class="geographic-prefs__desired-location--country view"></span>
                        </div>
                        <div class="slds-col slds-col--padded slds-size--1-of-1 slds-small-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3">
                            <label for="geographic-prefs__desired-location--state-picklist" class="form__label">State/Province:</label>
                            <select class="geographic-prefs__desired-location--state-picklist edit" id="geographic-prefs__desired-location--state-picklist">
                                <option value="" selected disabled>Select</option>
                                <!-- dynamically loaded -->
                            </select>
                            <span class="geographic-prefs__desired-location--state view"></span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- EMPLOYMENT PREFS -->
    <div class="employment-prefs slds-m-bottom--large">
        <div class="slds-text-heading--medium form__header slds-m-bottom--medium">Employment and Compensation Preferences</div>
        <div class="slds-grid slds-wrap slds-grid--pull-padded">
            <div class="slds-col slds-col--padded slds-size--1-of-1 slds-small-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                <div class="employment-prefs__goals-and-interests form__field--full-width">
                    <label for="employment-prefs__goals-and-interests-picklist"  class="form__label">Goals and Interests:</label>
                    <select class="employment-prefs__goals-and-interests-picklist edit">
                        <!-- set by user -->
                    </select>
                    <span class="employment-prefs__goals-and-interests view"></span>
                </div>

                <div class="employment-prefs__desired-rate">
                    <label for="employment-prefs__desired-rate--amount" class="form__label">Desired Rate:</label>
                    <input class="employment-prefs__desired-rate--amount edit form__text-field" id="employment-prefs__desired-rate--amount form__text-field" type="text" value="" />
                    <select class="employment-prefs__desired-rate--rate edit form__text-field">
                        <option value="" selected disabled>Select</option>
                        <option value="hourly">Hourly</option>
                        <option value="salary">Salary</option>
                    </select>
                    <span class="employment-prefs__desired-rate view"></span>
                </div>

                <div class="employment-prefs__desired-placement-type form__field--full-width">
                    <label for="employment-prefs__desired-placement-type--picklist" class="form__label">Desired Placement Type:</label>
                    <select class="employment-prefs__desired-placement-type--picklist edit" id="employment-prefs__desired-placement-type--picklist">
                        <option value="" selected disabled>Select</option>
                        <option value="contract">Contract</option>
                        <option value="direct-placement" class="form__label">Direct Placement</option>
                    </select>
                    <span class="employment-prefs__desired-placement-type view"></span>
                </div>
            </div>
            <div class="slds-col slds-col--padded slds-size--1-of-1 slds-small-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-2">
                <div class="employment-prefs__desired-schedule">
                    <label for="employment-prefs__desired-schedule--picklist" class="form__label">Desired Schedule:</label>
                    <select class="employment-prefs__desired-schedule--picklist edit" id="employment-prefs__desired-schedule--picklist">
                        <option value="" selected disabled>Select</option>
                        <option value="full-time">Full-time</option>
                        <option value="part-time">Part-time</option>
                    </select>
                    <span class="employment-prefs__desired-schedule view"></span>
                </div>

                <div class="employment-prefs__most-recent-rate">
                    <label for="employment-prefs__most-recent-rate--amount" class=" form__label">Most Recent Rate:</label>
                    <input class="employment-prefs__most-recent-rate--amount edit form__text-field form__field--half-width" id="employment-prefs__most-recent-rate--amount" type="text" value="" />
                    <select class="employment-prefs__most-recent-rate--rate edit">
                        <option value="" selected disabled>Select</option>
                        <option value="hourly">Hourly</option>
                        <option value="salary">Salary</option>
                    </select>
                    <span class="employment-prefs__most-recent-rate view"></span>
                </div>
            </div>
        </div>
    </div>




    <button class="button button--edit slds-button slds-button--brand slds-float--right view">
        <span class="button__text">Edit</span>
    </button>
    <button class="button button--save slds-button slds-button--brand slds-float--right edit">
        <span class="button__text">Save</span>
    </button>
    <button class="button button--cancel slds-button slds-button--neutral slds-float--right edit">
        <span class="button__text">Cancel</span>
    </button>
</div>
