.THIS {
    margin: -15px;
}
.THIS .red svg {
    fill: #c23934;
}
.THIS .orange svg {
    fill: #ff9a3c;
}
.THIS .green svg {
    fill: #04844b;
}
.THIS div.row {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}
.THIS .item-l {
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.THIS .item-l svg {
  margin-right: 10px;
  height: 20px;
}
.THIS .item-r {
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.THIS div.cp-row:hover {
    background-color: rgb(244, 246, 249);
}

.THIS div.cp-row:last-of-type {
    border-bottom: none;
}
.THIS .cp-row-right {
    max-width: 50%;
}
.THIS .switch {
  display: inline-block;
  height: 30px;
  position: relative;
  width: 50px;
}
.THIS .switch input {
  display:none;
}
.THIS .slider.NA {
  background-color: #ffb75d;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}
.THIS .slider.Yes {
  background-color: green;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}
.THIS .slider.NA:before {
  font-size: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  bottom: 2px;
  content: "N/A";
  height: 26px;
  right: 2px;
  position: absolute;
  transition: .4s;
  width: 26px;
}
.THIS .slider.Yes:before {
  font-size: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  bottom: 2px;
  content: "YES";
  height: 26px;
  right: 2px;
  position: absolute;
  transition: .4s;
  width: 26px;
}
.THIS input:checked + .slider {
  background-color: gray;
}

.THIS input:checked + .slider:before {
  transform: translateX(-20px);
  content: "NO";
}

.THIS .slider.round {
  border-radius: 34px;
}

.THIS .slider.round:before {
  border-radius: 50%;
}

    .THIS .dis-in-block {
        display:inline-block;
    }
    .THIS .left-pad button {
        padding-left: 6px;
    }
    .THIS .dis-in-block button {
      width: 12.5rem;
      margin-right: 0.8rem;
    }
    .THIS .dis-in-block svg {
      width: 1.075rem;
      height: 1.075rem;
    }
    .THIS .text-pos-right {
      padding-right:13.2rem;
    }