.THIS .textBoxDiv {
        background-color: white;
        border: 1px solid #dddbda;
        border-radius: 0.25rem;
        width: 100%;
        -webkit-transition: border 0.1s linear, background-color 0.1s linear;
        transition: border 0.1s linear, background-color 0.1s linear;
        overflow-y:auto;
        position:relative;
        padding: 0.5rem 0.75rem;
        height:370px;
}

.THIS .slds-textarea{
    height: 290px !important;
    line-height:2.0;
    font-size: 16px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.THIS .choose_anno_label {
    font-size:1.4em;
}
.THIS .annotationDiv {
    position:absolute;
    float:left;
    background-color:rgb(200,200,200);
    opacity: 0.9;
    padding:3px;
    height:370px;
    width:670px;
    border:1px solid rgb(100,100,100);
    border-radius:3px;
    z-index: 10000001;
    margin-left:auto;
    margin-right:auto;
}
.THIS .annotation_button {
    border: 1px solid rgb(100,100,100);
    width:160px!important;
}
.THIS .annotationDiv div {
    margin-top:4px;    
}
.THIS .annotationDiv label {
    margin-left:2px;
    cursor:pointer;
}
.THIS .choose_anno_label {
    font-weight:600;
}
.THIS .hideMe {
    display: none!important;    
}
.THIS .showMe {
    display: block;
}

.THIS .c0170 {
    padding: 1px;
    line-height: 2.8;
}
.THIS .c0184 {
    width: 100%;
    font-size: 18px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.THIS .c0184:focus {
    outline: 0;
  }
.THIS .c0184:empty {
    display: none;
}
.THIS .c0184 iframe, .THIS .c0184 img {
    max-width: 100%;
}

.THIS .c0172 {
    margin: 0 1px;
    display: inline-block;
}
/*HIGHLIGHTING CLASSES BEGIN **/
.THIS .c0193 {
    color: inherit;
    margin: 0 3px;
    display: inline;
    padding: 5px 8px;
    background: rgb(252,185,91);
    font-weight: 600;
    line-height: 1;
    border-radius:0px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}
.THIS .c0184  *::selection {
    background: rgb(252,185,91);
}
.THIS .c0184  *::-moz-selection {
    background: rgb(252,185,91);
}
.THIS .c0197 {
    color:white;
    font-size: 16px;
    font-weight: 600;
    font-family: "Roboto Condensed", "Arial Narrow", sans-serif;
    margin-left: 8px;
    text-transform: uppercase;
    vertical-align: middle;
}
/*HIGHLIGHTING CLASSES END **/
.THIS .c0174 {
    cursor: pointer;
    position: relative;
}

.THIS .c0174:hover .c0175 {
    opacity: 1;
}

.THIS .c0175 {
    top: -9px;
    left: -9px;
    color: #fff;
    width: 18px;
    height: 18px;
    display: block;
    opacity: 0;
    position: absolute;
    font-size: 0.95em;
    background: #444;
    text-align: center;
    transition: opacity 0.1s ease;
    font-family: sans-serif;
    line-height: 1.1;
    border-radius: 50%!important;
}

.THIS .non-move-x {
    top: -7px;
    right:-0px;
    width: 75px;
    height: 14px;
    display: block;
    opacity: 0;
    position: absolute;
    font-size: 0.75em;
    font-style: italic;
    background:rgb(252,185,91);
    border-bottom:1px solid rgb(100,100,100);
    color: red;
    text-transform: lowercase;
    text-align: center;
    transition: opacity 0.1s ease;
    font-family: sans-serif;
    line-height: 1.1;
    padding:3px;
    border:0px solid rgb(100,100,100);
    border-radius: 4px;
}

.THIS .slds-spinner_container {  
    z-index: 10000;
    position: fixed;   
}
.THIS .verify_msg {
    float:right;
    margin-right:5px;
    font-size:1.4em;
    margin-top:3px;
    color: rgb(252,185,91);
}
.THIS .extraction_btns {
    width:150px;    
}
.THIS .testbutton {
    margin-right:3px;
}