.THIS .edit-popover{
	position: absolute;
	z-index: 2;
	margin-top: -1rem;
}

.THIS .slds-popover__body{
	overflow: hidden;
}

.THIS .list-wrapper{
	max-height: 45vh;
	overflow-y: auto;
}

.THIS h1{
	text-align: left;
}