div.slds-badge[data-class="current"] {
	background-color: #44a144!important;
	color: #FFF!important;
}
div.slds-badge[data-class="former"] {
	background-color: #00437E!important;
	color: #FFF!important;
}
div.slds-badge[data-class="placed"] {
	background-color: #00B2CA!important;
	color: #FFF!important;
}
.slds-badge {
    background-color: #b0adab;
	color: #FFF;
}