.THIS .edit-popover{
	position: absolute;
	z-index: 9000;
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.10);
	transform: translate(-11rem, 1rem);
}

.THIS .slds-button--icon-x-small .slds-button__icon{
	width: .75rem;
	height: .75rem;
}

.THIS .edit-button{
    position: absolute;
    transform: translate(0.5rem, -0.125rem);
}

.THIS .slds-checkbox{
    margin: 0.75rem auto;
}

.THIS .slds-size_9-of-12{
    width: 80%;
}

.THIS .slds-size_3-of-12{
    width: 20%;
}

.THIS .col_preferred .uiInput--default .preferred-label > span{
    color: rgb(112, 110, 107);
}

.THIS .col_preferred .uiInput--default .form-element__label{
    color: #fff;
}

.THIS .slds-popover{
    width: 24rem;
}
.THIS .cC_TalentDNCEdit {
    margin-bottom: 1rem;
}
.THIS .cC_TalentDNCEdit lightning-input, .THIS .cC_TalentDNCEdit .options > * {
    padding: 0 0.25rem;
}
.THIS .input-width {
    width:348px;
    max-width:350px;
}
.THIS .edit-linkdn-popover {
    top:4rem;
}