<template>
    <div class="content">
        <template if:true={showSpinner}>
            <lightning-spinner alternative-text="Loading" variant="brand" size="medium"></lightning-spinner>
        </template>
    <div class="card">
    <c-lwc-card>
        <div slot="title">User Info</div>
        <div slot="actions"><button class="slds-button slds-button_neutral" onclick={handleUserAction}>{buttonValue}</button></div>
        <div class="userinfo-container slds-grid">
            <template for:each={userInfo} for:item="item">  

                <template if:true={item.text}>
                    <div key={item.label} class="slds-form-element">
                        <label class="slds-form-element__label">{item.label}</label>
                        <div class="slds-form-element__control">
                        <p>{item.value}</p>
                        </div>
                    </div>
                </template>

                <template if:true={item.input}>
                    <div key={item.label} data-class={item.field} class="slds-form-element">
                        <label class="slds-form-element__label">{item.label}</label>
                        <div class="slds-form-element__control">
                            <input type="text" data-field={item.field} oninput={handleInput} disabled={CM} value={item.value} class="slds-input" />
                        </div>
                        <div class="slds-form-element__help">This field is required</div>
                    </div>
                </template>
                
                <template if:true={item.checkbox}>
                    <template if:true={item.disabled}>
                        <div key={item.label} class="slds-form-element">
                            <label class="slds-form-element__label">{item.label}</label>
                            <div class="slds-form-element__control">
                              <span class="slds-checkbox slds-checkbox_standalone">
                                <input type="checkbox" name="label" data-field={item.field} onchange={handleChange} disabled={CM} checked={item.value} />
                                <span class="slds-checkbox_faux"></span>
                              </span>
                            </div>
                          </div>
                    </template>
                    <template if:false={item.disabled}>
                        <div key={item.label} class="slds-form-element">
                            <label class="slds-form-element__label">{item.label}</label>
                            <div class="slds-form-element__control">
                              <span class="slds-checkbox slds-checkbox_standalone">
                                <input type="checkbox" name="label" data-field={item.field} onchange={handleChange} checked={item.value} />
                                <span class="slds-checkbox_faux"></span>
                              </span>
                            </div>
                          </div>
                    </template>

                </template>

            </template>
        </div>
    </c-lwc-card>
</div>
<div class="card">
    <c-lwc-card>
        <div slot="title">Contact Info</div>
        <div class="contactinfo-container slds-grid">
        <template for:each={contactInfo} for:item="item"> 
            <template if:true={item.text}>
                <div key={item.label} class="slds-form-element">
                    <label class="slds-form-element__label">{item.label}</label>
                    <div class="slds-form-element__control">
                    <p>{item.value}</p>
                    </div>
                </div>
            </template>

            <template if:true={item.input}>
                <div key={item.label} data-class={item.field} class="slds-form-element">
                    <label class="slds-form-element__label">{item.label}</label>
                    <div class="slds-form-element__control">
                        <input type="text" data-field={item.field} oninput={handleInput} value={item.value} disabled={CM} class="slds-input" />
                    </div>
                </div>
            </template>

            <template if:true={item.rwsid}>
                <div key={item.label} class="slds-form-element">
                    <label class="slds-form-element__label">{item.label}</label>
                    <div class="slds-form-element__control">
                    <a target="_blank" href={item.url} ></a>
                    </div>
                </div>
            </template>

        </template>
    </div>
    </c-lwc-card>
</div>
<div class="card team-info">
    <c-lwc-card>
        <div slot="title">Team Info</div>
        <div class="teaminfo-container slds-grid">
            <template for:each={teamInfo} for:item="item">
                <c-search-lookup-component                
                key={item.label}
                is-custom-css="true"
                is-read-only={CM}
                data-id={item.field}
                label-text={item.label}
                data-field={item.dataField}
                place-holder={item.placeholder}         
                clas-name='Lookup' 
                method-name='querySObject' 
                object-name={item.objectName}
                where-condition="UserType='Standard'" 
                is-soql='true'
                record-limit="6"                                    
                use-cache=false
                addl-fields='["Title"]'
                display-fields={displayFields}
                related-to="User"        
                first-record-search-icon="true"                 
                search-lookup-text={item.searchLookupText}
                search-string={item.value}  
                onselected={handleSelected}                                     
            ></c-search-lookup-component>
            </template>
        </div>        
    </c-lwc-card>
</div>
<footer>
    <button class="slds-button slds-button_neutral" onclick={handleCancel}>Cancel</button>
    <button class="slds-button slds-button_brand" onclick={handleSave}>Save</button>
</footer>
</div>
</template>