.userinfo-container, .contactinfo-container, .teaminfo-container {
    flex-wrap: wrap;    
}
.userinfo-container > *, .contactinfo-container > *, .teaminfo-container > * {
    padding: .75rem;
    width: 25%;
}
[data-class="Reason"] {
    min-width: 50%;
}
.slds-form-element__help {
    display: none;
}
.slds-has-error .slds-form-element__help {
    display: block;
}
label {
    font-weight: 600;
}
.card:not(:last-child) {
    margin-bottom: .75rem;
}
.card.team-info {
    margin-bottom: 10rem;
}
footer {
    margin: 0 -1rem -1rem;
    padding: .75rem;
    display: flex;
    justify-content: flex-end;
    border-top: 2px solid #dddbda;
    background-color: #f3f2f2;
}
.content {
    position: relative;
}