.THIS.highcharts-button-box {
    display:none;
}

.THIS .chart-no-data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.THIS.highcharts-credits {
    display:none;
}