<template>
    <div class="slds-grid slds-grid_vertical slds-grid_align-center slds-grid_vertical-align-center">        
        <img src={imageUrl} alt={img} />
        <h3 class="slds-text-heading_large" if:true={title}>{headerText}</h3>
        <p if:true={text} class="slds-text-body_regular">{bodyText}</p>
    </div>        
</template>