<template>
    <form class={className} onsubmit={handleSubmit}>
        <div data-class={state} class="skill-field slds-grid">
            <!-- <div class="pills-container">        -->
            <slot name="icon"></slot>            
            <template for:each={pills} for:item="pill">
                <span key={pill} class="slds-pill slds-pill_link">
                    <a tabindex="-1" onkeydown={handleKeyDown} class="slds-pill__action" title={pill}>
                    <span class="slds-pill__label">{pill}</span>
                    </a>
                    <button tabindex="-1" onclick={handleRemove} data-pill={pill} class="slds-button slds-button_icon slds-button_icon slds-pill__remove" type="button" title="Remove">
                        <svg viewBox="0 0 24 24">
                            <path d="M14.3 11.7l6-6c.3-.3.3-.7 0-1l-.9-1c-.3-.2-.7-.2-1 0l-6 
                            6.1c-.2.2-.5.2-.7 0l-6-6.1c-.3-.3-.7-.3-1 0l-1 1c-.2.2-.2.7 0 
                            .9l6.1 6.1c.2.2.2.4 0 .6l-6.1 6.1c-.3.3-.3.7 0 1l1 1c.2.2.7.2.9
                             0l6.1-6.1c.2-.2.4-.2.6 0l6.1 6.1c.2.2.7.2.9 0l1-1c.3-.3.3-.7
                              0-1l-6-6c-.2-.2-.2-.5 0-.7z"></path>
                        </svg>
                    <span class="slds-assistive-text">Remove</span>
                    </button>
                </span>
            </template>
            <!-- </div>  -->
            <input 
                type="text"
                value={value}
                placeholder={placeholder}
                onkeydown={handleBackspace}
                oninput={handleInput} 
                onfocus={handleFocus}
                onblur={handleBlur} 
                class="slds-input inline-input"
            >
        </div>
    </form>
</template>