.skill-field {
    padding-left: .7rem;
    flex-wrap: wrap;
    padding-right: .25rem;
    border: 1px solid rgb(217, 219, 221);
    border-radius: .25rem;
    background-color: rgb(255, 255, 255);
    align-items: center;
}
[data-class="focused"] {
    outline: 0;
    border-color: rgb(21, 137, 238);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px #0070d2;
}
.inline-input {
    outline: 0;
    border: none;
    flex-grow: 1;
    width: auto;
    padding-left: 0;
}
.inline-input:focus {
    border-color: none;
    background-color: none;
    box-shadow: none;
}
slot[name="icon"] {    
    height: 2rem;        
    display: flex;
    align-items: center;
    margin-right: .3rem;    
    overflow: hidden;
}
.pills-container {
    display: flex;
    align-items: center;
}
.slds-pill {
    max-width: 20rem;
    height: 100%;    
}
.slds-pill:last-of-type {
    margin-right: .5rem;
}
.slds-pill a {
    cursor: default;
}
button svg {
    fill: #706e6b;
}
button:hover svg {
    cursor: pointer;
    fill: #005fb2;
}
/*<REQ SKILL SEARCH STYLES>*/
/*req-skill-search*/
.req-skill-search .skill-field {
    border: none;
    background-color: inherit;
}
.req-skill-search input {
    background-color: inherit;
}
.req-skill-search [data-class="focused"] {
    border-color: none;
    box-shadow: none;
}
/*<TOP SKILL STYLES>*/
.req-skill-search.primary .slds-pill svg {
    fill: white;
}
.req-skill-search.primary .slds-pill a {
    background-color: #FFB85D;
    color: white;
    border: none;
}
/*</TOP SKILLS STYLES>*/

/* <SECONDARY SKILLS STYLES> */
.req-skill-search.secondary .slds-pill svg, .secondary .slds-pill svg {
    fill: white;
}
.req-skill-search.secondary .slds-pill a, .secondary .slds-pill a {
    background-color: #00366B;
    color: white;
    border: none;
}
/* secondary */
/* </SECONDARY SKILLS STYLES> */


/*</REQ SKILL SEARCH STYLES>*/