.comm-page-detail-005 {
    .fieldLabel,
    .slds-form-element__label {
        color: #9B9D9A;
        font-size: 0.9375rem;
    }
    
    .profileItem {
        border-bottom: 1px solid #E0E0E0;
        &:last-of-type {
            border-bottom: none;
          }
    }

    .fieldData.address p,
    .fieldData.name p {
        line-height: 1.375rem;
    }
    
    .fieldData.address .slds-form-element__icon,
    .fieldData.name .slds-form-element__icon {
        margin-top:1px;
        padding-top:0;
    }

    .fieldData.address .slds-form-element__icon .slds-button:before,
    .fieldData.name .slds-form-element__icon .slds-button:before {
        content: "Pending";
        color: @pill-pending-text-color;
        font-size: .75rem;
        padding-right: 5px;
    }
    
    .fieldData.address .slds-form-element__icon .slds-button,
    .fieldData.name .slds-form-element__icon .slds-button {
        background-color: @pill-pending-background-color;
        margin: 0 10px;
        padding: 1px 10px;
        border-radius: 15px;
        color: @pill-pending-text-color;
        text-transform: uppercase;
    }    

    .fieldData.address .slds-form-element__icon .slds-button svg,
    .fieldData.name .slds-form-element__icon .slds-button svg {
        top: -1px;
        position: relative;
    }

    .titleText,
    .titleInput .slds-form-element__control .slds-input {
        text-transform: capitalize;
    }

    @media (min-width:481px) {
        .basicInfoContainer {
            border: 1px solid #D6DDE1;
            border-radius: 3px;
        }
    }

    .slds-timeline__icon .slds-icon-text-default {
        fill: #007DB3;
    }
}
.leftspace {
    margin-top: -24px;
}