body.comm-page-global-search {
    .forceCommunitySearch > div {
        display:none;
    }

    .resultsWrapper {
        display: initial !important;
    }

    .sortingInfo {
        display:none;
    }

    mark {
        background-color: @global-search-results-highlightning !important;
    }

    .slds-page-header {
        padding-left:0;
        padding-top:0;
    }

    .kbResultStencil {
        padding-left:0;
    }

    @media (min-width:481px) {
        .content {
            padding-left:0;
        }
    }
}