<template>
    <div class="alert-result">
        <article id={results.id} class="req-card">
            <div class="top-row slds-grid">
                <div class="main-col">
                    <div class="slds-grid slds-grid_align-spread">
                        <div class="slds-col">
                            <span class="slds-truncate slds-text-heading_small truncate-title" title={getJobTitle}>
                                <lightning-formatted-url value={getUrl} label={getJobTitle}></lightning-formatted-url>
                            </span>
                        </div>
                        <div class="slds-col">
                            <span class="slds-truncate slds-text-heading_small truncate-title" title={results.positionId}>
                                <lightning-formatted-url value={getUrl} label={results.positionId}></lightning-formatted-url>
                            </span>
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2">
                            <ul class="slds-list_horizontal">
                                <template for:each={getLocation} for:item="loc">
                                    <li key={loc} class="loc slds-truncate">{loc}</li>
                                </template>
                            </ul>
                            <ul class="slds-list-dotted">
                                <li>
                                    <h3><strong>{label.ATS_OWNER}:</strong>&nbsp;{getOwner}</h3>
                                </li>
                                <li>
                                    <h3><strong>{label.ATS_STAGE}:</strong>&nbsp;{results.jobStage}</h3>
                                </li>    
                            </ul>
                          
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                          
                            <div class="truncate-block">
                                <p class="slds-text-body_regular"><strong>{label.ATS_SKILLS}:&nbsp;</strong> {getSkillsTeaser}</p>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-row">
                <div class="slds-grid slds-grid_align-spread">
                    <ul class="slds-list_horizontal badge-list">
                        <li>
                            <div class="badge-col">
                                <lightning-icon class="slds-m-right_x-small" icon-name="utility:event" size="x-small"></lightning-icon>
                                <h3 class="slds-text-body_regular slds-truncate"><strong>{label.ATS_CREATED_DATE}:&nbsp;
                                    {getTriggerDate}
                                </strong>
                                </h3>
                            </div>
                        </li>
                        <li>
                            <div class="badge-col">
                                <lightning-icon class="slds-m-right_x-small" icon-name="utility:clock" size="x-small"></lightning-icon>
                                <h3 class="slds-text-body_regular slds-truncate"><strong>{label.ATS_DURATION}:&nbsp;{getDuration}</strong>
                                </h3>
                            </div>
                        </li>
                        <li>
                            <div class="badge-col">
                                <lightning-icon class="slds-m-right_x-small" icon-name="utility:moneybag" size="x-small"></lightning-icon>
                                <h3 class="slds-text-body_regular slds-truncate"><strong>{label.ATS_BILL_RATE}:&nbsp;{getBillRate}</strong>
                                </h3>
                            </div>
                        </li>
                    
                    </ul>
                    <div class="slds-grid slds-grid_align-spread">
                        <div class="badge-col slds-p-right_x-small">
                            <template if:true={results.workRemote}>
                                <div class="green-badge">
                                    {label.ATS_REMOTE}
                                </div>
                            </template>
                        </div>
                        <div class="badge-col">
                            <template if:true={results.canUseApprovedSubVendor}>
                                <div class="green-badge">
                                    {label.ATS_SUBVENDOR}
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
                
               
            </div>
        </article>
    </div>
    
</template>