input[type=checkbox]:checked.green-checkbox{
    border-color: rgb(0, 178, 0); /*Choose your color*/
    box-shadow: 0 0 3px #006A00; /*Choose a darker color for the shadow*/
    background-color: rgb(0, 178, 0);
}

a, 
p{
    text-transform: capitalize;
}

.slds-text-heading_small,
strong,
b {
    font-weight: 600;
}

.req-card{
    width: 100%;
    border-radius: 0.25rem;
    border: 1px solid rgb(221, 219, 218);
    margin-bottom: 0.5rem;
}

.top-row {
    width: 100%;
}

.top-row a {
    margin-bottom: 0.25rem;
}

.bottom-row {
    width: 100%;
    height: 1.5rem;
    padding: 0.25rem 0.5rem;
    background: rgb(221, 219, 218);
}

.bottom-row .main-col {
    padding: unset;
    border-right: unset;
}

.main-col {
    width: 95vw;
    min-width: 40rem;
    border-right: 0.125rem solid rgb(221, 219, 218);
    padding: 0.5rem;
}

.align-right{
    display: flex;
    justify-content: flex-end;
}

.badge-col {
    display: flex;
    align-items: center;
}

.badge-col svg {
    fill: #0A6894;
}

.badge-col h3 {
    font-weight: 600;
}

.badge-list li:nth-child(1){
    width: 14rem;
}

.badge-list li:nth-child(2),
.badge-list li:nth-child(3) {
    width: 11rem;
}

.badge-list li:nth-child(3) p{
    text-transform: unset;
}

.green-badge {
    background-color: rgb(0, 169, 84);
    padding: 0.125rem 0.5rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 0.5rem;
    font-size: 0.65rem;
}

.assign-val-blue{
    color: var(--lwc-brandTextLink,rgb(0, 109, 204));
}

.assign-font-bold{
    font-weight: 600;
}

.skill-hlt{
	font-weight: 600;
	background-color: rgb(255, 240, 63);
	color: rgb(0, 112, 210);
	padding: 0.125rem;
}

.truncate-title {
    display: inline-block;
    margin-bottom: -.25rem;
}

.truncate-title:hover{
    text-decoration: underline;
}

.skill-toggle {
    font-weight: 600;
    cursor: pointer;
    color: rgb(0, 112, 210);
    align-self: flex-end;
}

.truncate-block {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
}

.truncate-block:after {
    content: '\2026';
}

.slds-popover__body  {
    color: #333333;
}

.button-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
}

.is-disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.is-disabled svg {
    fill: rgb(165, 165, 165);
}


.card-selected {
     background-color: #eff8fe;
    border: 1px solid #0A6894;
    box-shadow: 0 0 3px #0070d2;
}

.card-selected .bottom-row {
    border-top: 1px solid  rgb(221, 219, 218);
    background-color: #eff8fe;
}

ul.slds-list_horizontal li,
ul.skill-list li {
    margin-right: 0.25rem;
}

ul.skill-list li:after {
    content: ',';
    margin-left: 0.125rem;
}

ul.skill-list li:last-child:after {
    content: '';
    margin-left: 0;
}