.THIS .slds-card {
    position: relative;
    padding: 0.75rem!important;
    background: white;
    border: 1px solid #dddbda!important;
    border-radius: 0.25rem!important;
    background-clip: padding-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1)!important;
}
.THIS .slds-wrap{margin-right: 0px;margin-left: 0px;}
.THIS .slds-modal__container {
    transform: translateY(7.5rem);
 }
.THIS .italic {font-style: italic;}
.THIS .clear--both {clear: both;}

.THIS .modal-input .slds-table th, .THIS .modal-input .slds-table td {
    white-space: normal;
}
.THIS summary:FOCUS, .THIS button:focus .THIS span:focus{
    outline: 0; border:none
}
.THIS .slds-text-link {cursor: pointer!IMPORTANT;}
.THIS summary::-webkit-details-marker {
    float: left;
    margin-top: 4px;
}
.THIS .slds-required--star-only::first-letter {color: rgb(194, 57, 52);}
.THIS .slds-button:focus {
    outline: 0!important;
    box-shadow: none!important;
}
.THIS.slds-backdrop{
    margin-top: 0px;
}
.THIS header {padding-top: 0;}
/*Sandeep : SplitView Styles Start*/


.THIS .slds-split-view__toggle-button {
    position: fixed;
    display: grid;
    right: 0;
    height: 15%;
    background: rgb(255, 255, 255);
    border-radius: 0 8px 8px 0;
    border: 0;
    background-color: rgba(27, 82, 151, 1.0);
    color: white;
    top: 400px;
    padding: 0 .75rem;
}
.THIS .split-toggle .lightningPrimitiveIcon {
    display:block; margin-top: -38px;
}
.THIS.main-content {
    position: relative;
    left: -17px;
    width: calc(100% + 17px);
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 0;
    top: -15px;
    padding-left: 0;
    padding-right: 0;
}

.THIS .split-left {
    position: relative;
    overflow: none;
    z-index: 10;
    float:left;
    top: 0px;
}
.THIS .split-right {
    overflow-y: auto;
    float:left;
    
}
.THIS.fullRight .split-left {
    display: none;
}
.THIS.fullRight .split-toggle {
    left: 0;
}
.THIS.fullRight .split-right {
    width: calc(100% - .05rem);
    margin-left: 0.45rem;
}
.THIS .split-toggle_button-name{
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    display: inline-block;
    transform-origin: 0;
    padding-bottom: 0.5rem;
    font-weight: 600;
    color: #ffffff;
    position: absolute;
    top: 1.5rem;
    left: 0.5rem;
}

.THIS .split-toggle_button-icon {
    position: absolute;
    left: 0.5rem;
    top: 0.75rem;
}

.THIS.split .split-left {
    width: 615px;
}
.THIS.split .split-left .resume_container{
    padding-right: 0px!important;
    border-right: 2px solid rgba(27, 82, 151, 1.0);
}
.THIS.split .split-toggle {
    right: unset;
    z-index: 5;
    left:596px;
    position: fixed;
}
.THIS.split .split-right {
    border-bottom: 3px solid #dddbda!important;
    width: calc(100% - 600px);
    padding: 0 .75rem;
    margin-left: 0rem;
}

.THIS .split-left .cC_TalentResumePreview{
    height: 100%;
    margin-left: 0px;
    
}
.THIS .split-left .cC_TalentResumePreview .slds-p-around_small{
    padding: 0px!important;
}
.THIS .slds-tabs_default__content, .THIS .slds-tabs--default__content {
    padding-top: 40px;
}


.THIS .cC_TalentResumePreview .C_IFrameDisplay.wrap .iframe html{
    overflow-y: scroll;   
}
   
.THIS .nx-page .nx-page-content {
    display:none!important;
}

.THIS.split .split-right{
		float: right;
	}
.THIS.split .split-left .slds-card__body{
		height:94%;
	}
.THIS.split .split-left .cC_TalentResumePreview, .THIS.split .split-left .slds-p-around_small,.THIS.split .split-left .cC_IFrameDisplay.wrap{
        height: 70vh;
	}
.THIS.split .split-left{
    	top: 187px;
		position: fixed;
    	left: inherit;
        height: calc(100vh - 230px);
	}
.THIS .slds-split-view__toggle-button lightning-primitive-icon{
    display: inline;
    margin-left: -4px;  
}
.THIS .slds-col.card {
    padding: 6px 8px;
}
.THIS .card article {
    padding: 0!important;
    border-radius: 7px!important;
    border-color: #bababa!important;
}
.THIS .card article .slds-card__body {
    padding: 10px;
}

.THIS .card .slds-card__header header{
    background-color: #035797;
	margin: 0;    
    padding: 5px 5px 5px 15px;
    height: 42px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.THIS .card header.slds-media span {
    color: white;
}
.THIS a.viewMenuLabel {
    color: white;
}
.THIS .card header span.slds-grid {
    color: white;
}
.THIS .card header div.slds-media span {
    color: white;
}

.THIS .card header div.slds-media a span,
.THIS .card header.slds-media a span {
    color: inherit;
}
.THIS .slds-card__header header .slds-icon-utility-down svg {
    fill: white;
}
.THIS .card .act-restrict .slds-card .slds-card__body {
    padding:0px !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    max-height: 524px !important;

}
.THIS .card .act-restrict .slds-card .slds-card__body::-webkit-scrollbar-corner {
    background-color: inherit;
}
.THIS .card .act-restrict .slds-card .slds-card__body::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
    height: 7px;
}
.THIS .card .act-restrict .slds-card .slds-card__body::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0);
    border-radius: 3px;
}
.THIS .card .act-restrict .slds-card .slds-card__body:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.3);
    border-radius: 3px;
}

.THIS .slds-card__header-title,
.THIS .forceStyle strong,
.THIS .forceStyle b,
.THIS .slds-badge,
.THIS .row-value[c-timelineitemdetails_timelineitemdetails],
.THIS .slds-table thead th,
.THIS p strong,
.THIS p b {
    font-weight: 600;
}




/*Sandeep : SplitView Styles End*/