.THIS {
    display: inline-block;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.THIS #comp {
    height: 100%;
}

.THIS #first, .THIS #second, .THIS #third, .THIS #fourth {
    box-sizing: border-box;
    border: 1px solid black;
    padding: 20px;
    width: 200px;
    cursor: pointer;
}

.THIS #structure {
    height: 100%;
}

.THIS #second, .THIS #fourth {
    float: right;
}

.THIS .top {
    opacity: 1 !important;
    z-index: 999 !important;
}


.THIS #analytics {
    border-radius: 0 3px 0 0;
    padding: 5px 0 5px 5px;
    background: rgba(0,0,0,.3);
    position: fixed;
    bottom: 40px;
    z-index: 9999;
}

.THIS #analytics button {
    margin-right: 5px;
}

.THIS #funnel {
    position: fixed;
    bottom: 0;
    right: 200px;
    z-index: 9999;
}

.THIS #canvas {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.THIS #structure {
    position: relative;
    z-index: 1;
}

.THIS .liner {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: dash .5s linear forwards;
}

.THIS #h1, .THIS #h2 {
    width: 100px;
}

.THIS #h2 {
    float: right;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.THIS .delay-indicator {
    cursor: pointer;
}
.THIS .delay-indicator:hover {
    z-index: 999999;
}

.THIS .sequence-indicator {
    transform: translate(-20px, -20px);
    transition: all .3s ease-out;
}

.THIS .p-indicator {
    cursor: pointer;
    transition: all .3s ease-out;
}

.THIS #real-input {
    display: none;
}

.THIS .session-step::after {
    content: attr(title);
    padding: .2rem;
    font-size: .8rem;
    font-weight: 400;
    color: #a5a5a5;
}

.THIS .session-step {
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    color: gray;
}

.THIS #test-h1 {
    /*    color: "{!v.state.color}"; */
}

.THIS .outOfViewport {
    transform: translateY(0px);
}

.THIS #analytics {
    transition: all .3s ease-out;
}