.THIS .slds-modal__close{
    top: -3rem;
}

.THIS .overflow-hidden{
    overflow-y: hidden;
}

.THIS .capitalize-name{
    text-transform: capitalize;
}


.THIS .slds-modal__container{
    max-width: 70vw;
    width: auto;
}
.THIS .slds-modal__content{
    max-height: 90vh;
    height: 40rem;
    overflow: auto;
}
.THIS .resume-date-label {
    font-weight: 600;
    display: inline-block;
    margin-right: .3rem;
}

.THIS .resume-updated {
    text-align: right;
}

.THIS .modal-nav button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    background-color: #fff;
    border: 0;
}

.THIS .modal-nav button:focus {
    outline-color: unset;
    outline-width: 0px;
    outline-style: none;
    box-shadow: 0px 0px 3px 5px rgb(59, 153, 252);
}

.THIS .button-left {
    left: -4rem;
    transition: background-color 0.25s ease-in;
}

.THIS .button-left svg {
    transform: translateX(-0.125rem);
}

.THIS .button-left:hover,
.THIS .button-right:hover {
    background-color: #bababa;
}

.THIS .button-right {
    right: -4rem;
    transition: background-color 0.25s ease-in
}

.THIS .button-right svg {
    transform: translateX(0.125rem);
}

.THIS .empty-state-container {
    height: 50vh;
    display: flex;
    align-items: center;
}

.THIS .illustration-large{
    width: 500px;
}