.align-center {
    text-align: center;
}

.customise-label {
    color: grey;
}

.container-width {
    width: 70%;
    max-width: 950px;
    min-width: 480px;
}

.req-inp {
    color: red;
}


.slds-avatar {
    width: 1rem;
    height: 1rem;
}

.font-position {
    font-size: smaller;    
}

.background-color {
    background-color: rgb(250, 255, 189);
}

.undo-btn-container {
    right: 0;
}