<template>
    <template if:true={isModalOpen}>        
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container container-width">                
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">New Support Request: Delivery Center</h2>
                </header>    

                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">  
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2 slds-p-around_small">
                            <div class="slds-grid">
                                <div class="slds-col slds-size_2-of-6 slds-p-around_xx-small">
                                    <label class="slds-form-element__label">Support Request #</label>
                                </div>
                                <div class="slds-col slds-size_4-of-6 slds-p-around_xx-small slds-p-around_xx-small">
                                    <lightning-formatted-text></lightning-formatted-text>
                                </div>
                            </div>                            
                        </div>
                        <div class="slds-col slds-size_1-of-2 slds-p-around_small">
                            <div class="slds-grid">
                                <div class="slds-col slds-size_2-of-6 slds-p-around_xx-small">
                                    <label class="slds-form-element__label">Owner</label>
                                </div>
                                <div class="slds-col slds-size_4-of-6 slds-p-around_xx-small">
                                    <span class="slds-avatar slds-avatar_profile-image-large slds-avatar_circle slds-m-right_small">
                                        <span class="slds-assistive-text">{owner}</span>
                                    </span>
                                    <a onclick={redirectToUser}>{ownerName}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2 slds-p-around_small">
                            <div class="slds-grid">
                                <div class="slds-col slds-size_2-of-6 slds-p-around_xx-small">
                                    <label class="slds-form-element__label">Opportunity</label>
                                </div>
                                <div class="slds-col slds-size_4-of-6 slds-p-around_xx-small text-wrap">
                                    {opportunity_No}
                                </div>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-2 slds-p-around_small">
                            <div class="slds-grid">
                                <div class="slds-col slds-size_2-of-6 slds-p-around_xx-small">
                                    <label class="slds-form-element__label">Status</label>
                                    <span class="slds-p-left_small">
                                        <lightning-helptext content="The status of this engagement."></lightning-helptext>
                                    </span>                                    
                                </div>
                                <div class="slds-col slds-size_4-of-6 slds-p-around_xx-small">
                                        Approved
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2 slds-p-around_small">
                            <div class="slds-grid">
                                <div class="slds-col slds-size_2-of-6 slds-p-around_xx-small">
                                    <label class="customise-label">Opportunity Opco</label>
                                </div>
                                <div class="slds-col slds-size_4-of-6 slds-p-around_xx-small">
                                    {opco}
                                </div>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-2 slds-p-around_small" data-id="delivery-team">
                            <div class="slds-grid slds-grid_vertical">
                                <div class="slds-col slds-size_1-of-1">
                                    <template if:true={hasDeliveryTeam}> 
                                        <div>
                                            <lightning-button-icon icon-name="utility:undo" size="xx-small" variant="none" style="float: right" onclick={undoDeliveryChange}></lightning-button-icon>                              
                                        </div>                                                                                                   
                                    </template>                            
                                </div>
                                <!--@see below tag for multiple delivery center@
                                <div class="slds-col slds-size_1-of-1">
                                    <div class="slds-grid">
                                        <div class="slds-col slds-size_2-of-6">
                                            <abbr class="req-inp">* &nbsp;</abbr>
                                            <label class="slds-form-element__label" style="display: inline">Delivery Office/Team</label>
                                        </div>                                           
                                        <div class="slds-col slds-size_4-of-6">
                                            <lightning-combobox
                                                class="office"                                        
                                                name="delivery-office"                                                                                
                                                placeholder="--None--"                                        
                                                variant="label-hidden"
                                                value={deliveryOffice}
                                                options={deliveryOfficeOptions}
                                                onchange={handleChange} 
                                                data-id="delivery">
                                            </lightning-combobox>
                                        </div>                             
                                    </div>
                                </div>                                   
                                <div class="slds-col slds-size_1-of-1">
                                    <div class="slds-grid">
                                        <div class="slds-col slds-size_2-of-6">                                          
                                        </div>
                                        <div class="slds-col slds-size_4-of-6">
                                            <template if:true={errorOnDelivery}>
                                                <p class="slds-form-element__help" style="color: red">Complete this field.</p>
                                            </template>
                                        </div>
                                    </div>                                    
                                </div>  
                                -->                              
                            </div>
                        </div>
                    </div>

                    <!--adding new input-->
                    <div class="slds-col slds-size_1-of-1 slds-is-relative">
                        <template if:true={selectedDC}>
                                <lightning-button-icon class="slds-is-absolute undo-btn-container" icon-name="utility:undo" size="small" variant="none" onclick={undoDeliveryChange}></lightning-button-icon>                                                                                         
                        </template>                            
                    </div>
                    <div class="slds-grid slds-no-flex">
                        <div class="slds-col slds-size_2-of-12">
                            <abbr class="req-inp">* &nbsp;</abbr>
                            <label class="slds-form-element__label" style="display: inline">Delivery Office/Team</label>
                        </div>
                        <div class="slds-col slds-size_10-of-12">
                            
                                <c-lwc-req-routing-multiple-delivery-center 
                                if:true={mulDeliveryOfficeOptions}
                                multi-select="true" 
                                options={mulDeliveryOfficeOptions} 
                                label="Multiple Delivery Offices"
                                onofficechange={handleDeliveryCenter}>
                                </c-lwc-req-routing-multiple-delivery-center>
                            
                            <template if:true={errorOnDelivery}>
                                <p class="slds-form-element__help" style="color: red">Complete this field.</p>
                            </template>
                        </div>
                    </div>

                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2 slds-p-around_small">
                            <div class="slds-grid">
                                <div class="slds-col slds-size_2-of-6 slds-p-around_xx-small">
                                    <label class="slds-form-element__label">Delivery Open Date</label>
                                </div>
                                <div class="slds-col slds-size_4-of-6 slds-p-around_xx-small">

                                    <lightning-formatted-date-time value={todayDate} year="numeric" month="numeric" day="numeric" hour="2-digit"
                                        minute="2-digit" time-zone="EST" hour12="false"></lightning-formatted-date-time>
                                </div>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-2 slds-p-around_small" data-id="num-positions">
                            <div class="slds-grid slds-grid_vertical">
                                <div class="slds-col slds-size_1-of-1">
                                    <template if:true={hasPositions}> 
                                        <div>
                                            <lightning-button-icon icon-name="utility:undo" size="xx-small" variant="none" style="float: right" onclick={undoPositionChange}></lightning-button-icon>                              
                                        </div>                                                                                                   
                                    </template>                            
                                </div>
                                <div class="slds-col slds-size_1-of-1">  
                                    <div class="slds-grid">
                                        <div class="slds-col slds-size_2-of-6">
                                            <abbr class="req-inp">* &nbsp;</abbr>
                                            <label class="slds-form-element__label" style="display: inline">Number of Positions Committed</label>
                                        </div>                                           
                                        <div class="slds-col slds-size_4-of-6">                                                                                          
                                            <lightning-input class="positions" name="num-of-pos" type="number" variant="label-hidden" onchange={handleChange} value={numOfPositions} data-id="positions"></lightning-input>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-col slds-size_1-of-1">
                                    <div class="slds-grid">
                                        <div class="slds-col slds-size_2-of-6">                                          
                                        </div>
                                        <div class="slds-col slds-size_4-of-6">
                                            <template if:true={errorOnPositions}>
                                                <p class="slds-form-element__help" style="color: red">Complete this field.</p>
                                            </template>
                                        </div>
                                    </div>                                    
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2 slds-p-around_small" data-id="comments">
                            <div class="slds-grid slds-grid_vertical">
                                <div class="slds-col slds-size_1-of-1">
                                    <template if:true={hasComments}> 
                                        <div>
                                            <lightning-button-icon icon-name="utility:undo" size="xx-small" variant="none" style="float: right" onclick={undoCommentsChange}></lightning-button-icon>                              
                                        </div>                                                                                                   
                                    </template>
                                </div>
                                <div class="slds-col slds-size_1-of-1">
                                    <div class="slds-grid">                                                                        
                                        <div class="slds-col slds-size_2-of-6 slds-p-around_xx-small">
                                            <label class="slds-form-element__label">Comments</label>
                                        </div>
                                        <div class="slds-col slds-size_4-of-6 slds-p-around_xx-small">
                                            <lightning-textarea class="comments" variant="label-hidden" onchange={handleChange} name="Comments" value={comments}></lightning-textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>

                    <div class="slds-section slds-is-open">
                        <h3 class="slds-section__title slds-theme_shade">
                          <span class="slds-truncate slds-p-horizontal_small" title="Section Title">Completed Information</span>
                        </h3>
                        <div aria-hidden="false" class="slds-section__content">                                                        
                            <div class="slds-grid">
                                <div class="slds-col slds-size_1-of-2 slds-p-around_small" data-id="completed-date">
                                    <div class="slds-grid slds-grid_vertical">
                                        <div class="slds-col slds-size_1-of-1">
                                            <template if:true={hasDate}> 
                                                <div>
                                                    <lightning-button-icon icon-name="utility:undo" size="xx-small" variant="none" style="float: right" onclick={undoDateChange}></lightning-button-icon>                              
                                                </div>                                                                                                   
                                            </template>
                                        </div>
                                        <div class="slds-col slds-size_1-of-1">
                                            <div class="slds-grid">                                            
                                                <div class="slds-col slds-size_2-of-6 slds-p-around_xx-small">
                                                    <label class="slds-form-element__label">Completed Date</label>
                                                    <span class="slds-p-left_small">
                                                        <lightning-helptext content="Date that this engagement request was completed."></lightning-helptext>
                                                    </span>
                                                </div>
                                                <div class="slds-col slds-size_4-of-6 slds-p-around_xx-small">
                                                    <lightning-input class="date slds-form-element_horizontal" variant="label-hidden" type="date" label="Completed Date" onchange={handleChange} name="CompletedDate" value={completedDate}></lightning-input>
                                                </div>
                                            </div>                                                                        
                                        </div>                      
                                    </div>                                                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <footer class="slds-modal__footer">
                    <div class="align-center">
                        <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>                        
                        <button class="slds-button slds-button_brand" onclick={save} title="OK" disabled={disableSave}>Save</button>  
                    </div>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>