.THIS .slds-modal__header{
    padding-top: 1rem;
}
/*.THIS .slds-modal__container {
    top: 5%;
}*/
.THIS .slds-modal__container{ 
    /*position: relative; 
    transform: translateY(5rem); 
    min-width: 60rem; 
    max-height: 42rem; */
}  
 
@media (max-height: 756px) { 
   /* .THIS .slds-modal__content{ 
        max-height: 15rem; 
    } */
}