.THIS .mergeSuccess {
    color : green;
}

.THIS .failure {
    color : red;
}

.THIS input.error, .THIS select.error {
    background-color: rgb(255, 255, 255);
    border-color: rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
    background-clip: padding-box;
}

.THIS span.required{
    color:#c23934;
}