/*.THIS .slds-table th,
	.THIS .slds-table td {
		max-width: 20px;
	}


.THIS .slds-table th:nth-child(4),
.THIS .slds-table td:nth-child(4){
    max-width: 25px;
}
.THIS .slds-table th:nth-child(5),
.THIS .slds-table td:nth-child(5){
    max-width: 25px;
}*/