.THIS input::placeholder,
.THIS textarea::placeholder,
.THIS .cC_LookupLtng input::placeholder {
    color: rgb(163, 159, 157);
}



.THIS input.has-error {
    border: 1px solid rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
}

.THIS ul.has-error {
    line-height: 1.25;
}

.THIS ul.has-error .form-element__help{
    font-size: .65rem;
    font-weight: 600;
}

.THIS .with-error {position: relative;}
.THIS .with-error p {
    color: rgb(194, 57, 52);
    font-size: .65rem;
    font-weight: 600;
}

.THIS .with-error input {
    border: 1px solid rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
    border-left: 5px solid rgb(194, 57, 52);
}

.THIS .with-error .lookup-input.search-req-field {
    border-left: 0px;
}

.THIS .with-error .cC_LookupLtng {margin: 0;}

.THIS .slds-text-color_destructive {
    font-size: .65rem;
}


.THIS .slds-form-element__label,
.THIS label {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    display: block;
    color: rgb(62, 62, 60);
    font-size: .75rem;
    padding-right: .5rem;
    padding-top: .25rem;
    margin-bottom: .125rem!important;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.THIS .cC_LookupLtng .slds-input__icon {
    top: unset;
    bottom: 0.5rem;
}

.THIS .footerButtons{display: block;}

.THIS .horizontal-radio .slds-form-element__control .slds-radio,
.THIS .slds-form-element__control .slds-radio .slds-form-element__label{
    display: inline-block;
    padding-left: 0.25rem;
}

.THIS .mutli-select{
    max-height: 115px;
    padding: 0.25rem;
}

.THIS option.uiInputSelectOption {
    padding: 0.25rem 0.5rem;
}

.THIS .edit-pencil {
    height: 0;
    transform: translateY(0.5rem);
    vertical-align: top;
    border: 0;
}

.THIS .edit-pencil .slds-button__icon {
    height: 0.75rem;
    width: 0.75rem;
}

.THIS .slds-card__footer {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
}
.THIS table td {text-transform: capitalize;}

.THIS .slds-truncate.multiline-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    white-space: pre-line;
}

.THIS .text-format_wrap {
    word-wrap: break-word;
    word-break: break-word;
}

.THIS ul.slds-wrap li{
    display: inline-block;
    margin: 0.25rem 0.5rem 0.25rem 0;
}
.THIS .disabled-field {
    background: #eee;
    width: 100%!important;
    padding: 0 1rem 0 .75rem;
    line-height: 1.875rem;
    min-height: 2rem;
    display: block!important;
    border-radius: 3px;
    border: 1px solid #ddd;
    color: #999;
}
.THIS .truncate-badge{
    display: inline-block;
    max-width: 15rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.THIS .overview-location thead th { background: transparent!important;}
.THIS .overview-location  tr>th:first-child, .THIS .overview-location tr>td:first-child {padding: 0}
.THIS .overview-location th {border-top: 0!important; padding-top: 0!important}
.THIS table.overview-location {    border: 0!important;}
.THIS .deleteButton {border: 0}
.THIS .slds-pill__label{margin-right: 1rem;}
.THIS .slds-pill__remove{top: 45%;}
.THIS .slds-checkbox [type=checkbox][disabled]+.slds-checkbox_faux:after, .THIS .slds-checkbox [type=checkbox][disabled]+.slds-checkbox--faux:after, .THIS .slds-checkbox [type=checkbox][disabled]~.slds-checkbox_faux:after, .THIS .slds-checkbox [type=checkbox][disabled]~.slds-checkbox--faux:after, .THIS .slds-checkbox [type=checkbox][disabled]+.slds-checkbox__label .slds-checkbox_faux:after, .THIS .slds-checkbox [type=checkbox][disabled]+.slds-checkbox__label .slds-checkbox--faux:after {
    border-color: grey;}
.THIS .expandButton{height: 0;vertical-align: baseline;border: 0;padding: 0; line-height: 0}
.THIS .currency .slds-form-element__label {display: none}

.THIS .uiInput--select.select:not([multiple]),
.THIS .uiInput--select .select:not([multiple]),
.THIS .uiInput--select .uiPopupTrigger a,
.THIS .uiInput--input .input,
.THIS .uiInput--input.input{
    min-height: 2rem;
}

.THIS lightning-helptext div {
    top: -2px;
    margin-left: 5px;
}


.THIS lightning-spinner {
    background-color: rgba(255, 255, 255, 0.95);
    top: 42px;
}

.THIS .slds-form-element__control .slds-radio{
    display: inline-block;
}


/* added by Manish*/
.THIS .page-background {
	background-color: #fff;
	padding: 0.25rem;
}

.THIS .font-weight_heavy {font-weight: 700}
.THIS .font-italic {font-style:italic;}

/*toggleCss.css*/
.THIS.toggle {
    display: none;
}


.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}


.THIS.uiButton.saveRecord {
	background: springgreen;
    float: right;
}
.THIS.uiButton.cancelRecord {
	background: coral;
    float: right;
}



.THIS .slds-form_stacked .slds-form-element{
    margin-bottom: 0;
}

.THIS h2{
    margin-bottom:20px
}
.THIS .col_preferred {
    min-width: 60px;
}

.THIS .col_preferred input{
    position: absolute;
    transform: translate(1.25rem, 1rem);
}

.THIS .col_preferred .first-chbox{
    position: absolute;
    transform: translate(1.25rem, 0.5rem);
}


.THIS .disabled {background: #eee;}
.THIS .slds-form-element__label {font-weight: 600;}

.THIS .contact-form .slds-input{
    min-height: calc(2.125rem + 2px);
}





/* -- sf winter 18 override -- */
.THIS .slds-form-element.cC_ToolTipUtility {
    width: unset!important;
    margin-bottom: unset;
}
.THIS .hidden-field {
display:none;}



.THIS .show {
    height: 100%;
    opacity: 1;
    visibility: visible;
}

.THIS .hide {
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    height: 0;
}


.THIS .slds-text-color_destructive {
    font-size: 0.65rem;
}

.THIS .subsection-toggle {
    border-color: #fff;
    background: #fff;
    position: absolute;
    transform: translate(1.25rem, 0.25rem);
    color: #035797;
    cursor: pointer;
}

.THIS .subsection-toggle p{
    font-weight: 600;
    padding: 0 0.25rem;
}

.THIS .subsection-toggle svg {
    fill: #035797;
}

.THIS .subsection-toggle:focus {
    outline-color: none;
    outline-width: 0px;
}


.THIS .inline-item-header {
    border-bottom: 1px solid rgb(221, 219, 218);
}

.THIS .inline-item-body .section-container {
    padding: 0.75rem 0;
}


/*lookup pillbar changes*/

.THIS .slds-pill__action {
    background-color: #A4D7F4;
    color: #092d43;
    border: 1px solid rgb(184, 222, 246)!important;
}

.THIS .slds-pill__action .slds-button__icon svg {
    fill: #092d43;
}

.THIS .cC_LookupLtng .slds-icon-text-default {
    fill: #092d43;
}

.THIS .no-label .slds-form-element__label {
    display: none;
}

.THIS .slds-icon_container {
    line-height: 1!important;
}

.THIS .slds-card__footer .slds-form-element__label {
    display: inline;
}

.THIS .slds-card__footer .search-req-field {
    border-left: 5px solid #00cdcd;
    padding-left: 0.25rem;
    margin-right: 1rem;
}

.THIS .slds-card__footer .edit-mode {
    padding: .75rem 1rem;
    margin-top: 0.75rem;
    border-top: 1px solid rgb(221, 219, 218);
    background-color: rgb(243, 242, 242);
}

.THIS .textarea-readonly .textarea-wrapper,
.THIS .textarea-readonly textarea,
.THIS .textarea-readonly .truncated-container:after{
    background-color: #d5d5cf;
}

.THIS .padding-left {
    padding-left: 2.75rem;
}

.THIS .n2p-button {
    border-color: #04844b;
    background-color: #04844b;
    color: #ffffff;
    transition: all 0.125s ease-in;
}

.THIS .n2p-button:hover {
    border-color: #206139;
    background-color: #206139;
    color: #d3d3d3;
}