.THIS hr{
	margin: 1rem 0;
}
.THIS .slds-col {overflow: auto;}

.THIS label.slds-form-element__label{
	display: none;
}

.THIS .uiInput--input .input {
	min-height: 0;
}

.THIS ul.slds-wrap li{
	display: inline-block;
	margin: 0.25rem 0.5rem 0.25rem 0;
}

.THIS .slds-pill{
	margin: 0.25rem;
}

.THIS .truncate-badge{
	display: inline-block;
	max-width: 10rem;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.THIS .slds-page-header{
	border: 1px solid rgb(221, 219, 218);
}

.THIS .list-wrapper{
  	height: 20rem;
    overflow: hidden;
}

.THIS .list-container{
    overflow-y: auto;
    height: 100%;
    padding-bottom: 1rem;
}

.THIS .modal-list-wrapper{
	height: 17.5rem;
    position: relative;
}

.THIS .modal-list-container{
	overflow-y: auto;
}

.THIS .slds-background{
	overflow: hidden;
}

.THIS .slds-background:before{
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: -40px;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(/_slds/images/themes/oneSalesforce/banner-brand-default.png?cache=210.2),linear-gradient(to top,rgba(32, 92, 159, 0), rgb(32, 92, 159));
    background-image: url(/_slds/images/themes/oneSalesforce/banner-brand-default.png?cache=210.2),linear-gradient(to top,rgba(32, 92, 159, 0), rgb(32, 92, 159));
    background-repeat: repeat-x;
    background-position: top left;
    height: 12.5rem;
}

.THIS .slds-background:after{
    content: '';
    display: block;
    position: absolute;
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(176, 196, 223, 0.0) 60%, rgba(176, 196, 223, 1.0));
    background-size: 100% 100%;
    background-position: bottom left;
    height: 100%;
}