.THIS {
}
.THIS .d-label_none .slds-combobox .slds-button {
    display:block !important;
}
.THIS .d-label_none .slds-form-element_stacked {
    margin-bottom:0rem;
}
.THIS .d-label_none .slds-form-element__label {
    display:none !important;
}
.THIS .d-label_none .slds-button{
    display:none !important;
}
.THIS .d-label_pos{
    position: relative;
    bottom: 1.3rem;
}
.THIS .overide-formelement .slds-form-element__label{
    padding:0;
    margin:0;
    display:block;
}
.THIS .boldtext {
    font-weight: 600;
    position: relative;
    top: 0.125rem;
}
.THIS .required-field::before {
    content: "*";
    color: #C23934;
    font-size: 0.8rem; 
}
.THIS .error-input .slds-select{
    border: 1.5px solid #C23934;
}
.THIS .font-weight-regular{
    font-weight:400 !important;
}
.THIS .font-weight-regular .slds-form-element__label{
    font-weight:400;
}
.THIS .help-button-icon .slds-form-element__icon{
    position:relative;
    top:-2px;
}
.THIS .d-formatted_pos {
    position: relative;
    bottom: 1rem;
}
.THIS .help-text .slds-form-element__icon {
    padding-top: 0px!important;
}
.THIS .slds-m-left_02 {
    margin-left: -0.2rem !important;
}