<template>
  <section
    role="dialog"
    tabindex="-1"
    aria-label="Meaningful description of the modal content"
    aria-modal="true"
    aria-describedby="modal-content-id-1"
    class="slds-modal slds-fade-in-open"
  >
    <div class="slds-modal__container">
      <header class="slds-modal__header slds-modal__header_empty">
        <button
          class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
          title="Close"
        >
          <lightning-icon
            icon-name="utility:close"
            variant="inverse"
            alternative-text="Close"
            title="Close"
            onclick={closeModal}
          ></lightning-icon>
        </button>
      </header>
      <div
        class="slds-modal__content slds-p-around_medium"
        id="modal-content-id-1"
      >
        <slot></slot>
      </div>
      <footer class="slds-modal__footer">
        <slot name="footer"></slot>
        <!-- <button class="slds-button slds-button_neutral">Cancel</button>
        <button class="slds-button slds-button_brand">Save</button> -->
      </footer>
    </div>
  </section>
  <div class="slds-backdrop slds-backdrop_open"></div>
</template>