<template>
    <lightning-radio-group name="radioGroup"
        label="Radio Group"
        options={objectionOptions}
        value={targetObject}
        onchange={targetObjectChange}
        type="radio"></lightning-radio-group>

    <div class="slds-form-element">                
        <div class="slds-form-element__control">
            <div class="slds-combobox_container">                        
                <div class={txtclassname} data-id="resultBox" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                    <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon slds-input-has-icon_left-right" role="none">                                
                        <div>
                            <span class="slds-icon_container slds-icon-utility-search slds-input__icon iconheight">
                                <lightning-icon class="slds-icon slds-icon slds-icon_small slds-icon-text-default" icon-name={iconName} size="x-small" alternative-text="icon" ></lightning-icon>
                            </span> 
                        </div>

                        <lightning-input required={required}  data-id="userinput" label={Label} name="searchText" value={searchString} class="leftspace"></lightning-input>
                        
                        <div if:true={iconFlag}>
                            <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right iconheight">
                                <lightning-icon class="slds-icon slds-icon slds-icon_small slds-icon-text-default" icon-name="utility:search" size="x-small" alternative-text="icon" ></lightning-icon>
                            </span> 
                        </div>

                        <div if:true={clearIconFlag}>
                            <button class="slds-input__icon slds-input__icon_right slds-button slds-button_icon iconheight" onclick={resetData}>
                                <lightning-icon class="slds-icon slds-icon slds-icon_small slds-icon-text-default" icon-name="utility:clear" size="x-small" alternative-text="icon" ></lightning-icon>
                                <span class="slds-assistive-text">Clear</span></button>
                        </div>

                    </div>
                    <lightning-button label="Search" title="Search" onclick={handleSearch} class="slds-m-left_x-small"></lightning-button>
                </div>
            </div>
        </div>
    </div>
    <!-- Data Table -->
    
    <div style="height: 300px;">
        <lightning-datatable
                key-field="datatableid"
                data={tableData}
                columns={tableColumns}>
        </lightning-datatable>
    </div>
</template>