.col-100 {
    width: 100%;
    position: relative;
}

 .col-50 {
    width: 50%;
    position: relative;
}

.accordion-header {
    background-color: #F3F2F2;
}

 .accordion-content {
    background-color: #fff;
    margin: 0 -0.75rem -1rem;
    padding: 0.75rem 1.5rem 1.5rem;
}

 .slds-accordion__section {
    padding: 0rem 0.75rem 0.75rem;
}

 .section-accordion .slds-accordion__summary-heading span {
    font-size: 1rem;
}

label[data-label="payrollConsult"],
label[data-label="payoutDiscretionary"],
label[data-label="contractorDeduction"] {
    position: absolute;
    left: 30px;
}

hr {
    margin: 1rem 0;
}