/* LWC Job Posting overrides */
.THIS label.slds-form-element__label {
    color: #000;
    font-size: 0.8rem;
    font-weight: 600;
}

.THIS .slds-rich-text-area__content {
    min-height: 10rem;
    max-height: 20rem;
}

.THIS .search-icon {
    top: 2rem !important;
}

.THIS .slds-accordion__summary-heading {
    font-weight: 600;
}

.THIS .slds-has-error .slds-input{
    border-color: var(--lwc-colorBorderError,rgb(194, 57, 52)) !important;
}

.THIS .slds-rich-text-editor__textarea p, 
.THIS .slds-rich-text-editor__output p{
    white-space: pre-wrap;
}

.THIS .slds-rich-text-editor__textarea h4,
.THIS .slds-rich-text-editor__output h4{
    margin-top: 0.75rem;
}

.THIS .slds-rich-text-editor__textarea ul,
.THIS .slds-rich-text-editor__output ul{
   padding-left: 0;
   margin-left: 0;
}

.THIS .spell-check-icon svg.slds-icon {
    width: 2.5rem;
    height: 1.5rem;
}

.THIS .slds-input {
    text-transform: capitalize;
}

.THIS .pay-rate-toggle {
    margin-bottom: 0.5rem;
}

.THIS .pay-rate-toggle .slds-form-element__label{
    font-weight: 600;
}

.THIS .pay-rate-toggle .slds-checkbox_toggle [type=checkbox]:checked+.slds-checkbox_faux_container .slds-checkbox_on,
.THIS .pay-rate-toggle .slds-checkbox_toggle [type=checkbox]+.slds-checkbox_faux_container .slds-checkbox_off {
    display: none;
}