.THIS .taskComplete{
    float:left;
    margin-right:10px;
    margin-top: 8px;
}
.THIS .text-format_wrap {  overflow-wrap: break-word;  word-wrap: break-word;  -ms-word-break: break-all;  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;  -moz-hyphens: auto;  -webkit-hyphens: auto;  hyphens: auto; }
.THIS .slds-item_detail{
    white-space: normal;
}
.THIS .ItemTitle{
    font-weight: 600;
}

.THIS .read-more-state {
  display: none;
}

.THIS .read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.THIS .read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.THIS .read-more-state ~ .read-more-trigger:before {
  content: 'Read more .....';
}

.THIS .read-more-state:checked ~ .read-more-trigger:before {
  	content: 'Read less';
    visibility: hidden;
    display: none;
    color:white;
}

.THIS .read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: darkblue;
  font-size: small;
  line-height: 2;
  font-weight: 600;
}


.THIS .p {
  padding: 2%;
  background: #fff9c6;
  color: #c7b27e;
  border: 1px solid #fce29f;
  border-radius: .25em;
}