.THIS .viewMenuLabel {color: rgb(22, 50, 92);}
.THIS .slds-card__body {overflow-y: visible;margin-bottom: 0px;}
.THIS .slds-card__footer {margin-top: 0px;margin-bottom: 0px;padding-top: 0px;padding-bottom: 0px;}

.THIS .content-toggle {display:none;}
.THIS li.slds-timeline__item {list-style: none;}

/* -- default icon hover --*/
.THIS .slds-icon__hover_light-grey svg {fill: #fff}
.THIS .slds-icon__hover_light-grey:hover svg {fill: #cfd7e6!important}
.THIS .slds-icon_blue svg {fill: #0070d2!important;}
/* -- end default icon hover --*/

.THIS .slds-truncate.multiline-ellipsis {display: -webkit-box;-webkit-line-clamp: 5;-webkit-box-orient: vertical; white-space: pre-line!important; }

.THIS .bold {font-weight:600}
.THIS .slds-media__body {overflow:initial;}
.THIS span { overflow-wrap: break-word; word-wrap: break-word;}

.THIS .slds-dropdown-trigger .slds-icon-text-default {
        fill: rgb(112, 110, 107);
}


.THIS .slds-icon-action-log-event {
    background-color: #eb7092;
    padding: .5rem;
}

.THIS .slds-icon-action-log-event.slds-icon_container--circle {
    border-radius: .25rem;  
}

.THIS .slds-icon-action-log-event.slds-timeline__icon {
    width: 2rem;
    height: 2rem;
}

.THIS .slds-icon-action-log-event.slds-timeline__icon .slds-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -.25rem;
    margin-left: -.25rem;
}
.THIS span, .THIS div {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
/*bctimeline start*/
.THIS .slds-timeline__icon { z-index:20;border: none; margin-top: -0.75rem; border: 2px solid #fff;border-top-width: 0.25rem;border-bottom-width: 0.25rem;}
.THIS .timeline{margin-left:10px;}
.THIS .nonAG_icon {
    z-index:20;
    border: none;
    width: 22px;
    height: 22px;
    margin-left: 3px;
    margin-top: 16px;
}
.THIS .slds-media_timeline{
    margin-left:10px;
    padding-bottom: 1rem;
}


.THIS .slds-media_timeline:before { 
    z-index:10; 
    top:0px; 
    height:100%;    
    left: 12px;
}

.THIS .slds-media__figure{z-index: 10;}

.THIS .employmentIcon
{
    overflow: hidden;
    padding: 1px;
    width: 25px;
    height: 25px;
    font-size: 14px;
    font-weight: 600;
    display: block;
    text-align: center;
    margin: 0 auto 0 3px;
    background-color: rgb(255, 228, 198)!important;
    border: 2px solid #f88962;
    color: #f88962;
    margin-right: 10px;
    margin-top:10px;
}

.THIS .activitySectionHeader {overflow: hidden !important;}
.THIS .activitySectionHeader:before {
  background: grey;
  content: " ";
  display: flex;
  position: relative;
  border-bottom: 1px dashed white;
  margin-top: -1px;
  left: 100px;
  right: 0;
  top: 14px;
}

.THIS .expandButton{
    margin-bottom: 6px;
    margin-left:16px;
}

.THIS .slds-timeline__media_call:before{background: #f2cf5b!important;}
.THIS .slds-timeline__meal:before, .THIS .slds-timeline__media_meal:before {background: #f2cf5b!important;}
/*bctimeline end */
.THIS .act-filter {
    width:180px;
}
.THIS .act-tab-view-parent{
border-radius: 5px!important;
border:1PX solid #bababa!important;

}