<template>
    <header class="slds-grid">
        <div class="details-title">
            <template if:true={checkApplicationTab}>Application Details - {title}</template>
            <template if:false={checkApplicationTab}>{label.ATS_Submittal_Details} - {title}</template>            
        </div>
        <div class="details-actions">
            <template if:false={checkApplicationTab}>
                <button class="slds-button slds-button_neutral" onclick={handleCancel}>{label.ATS_CANCEL}</button>
                <button class="slds-button slds-button_brand" data-id="saveBtn" onclick={handleSave}>{label.ATS_SAVE}</button>
            </template>
            <template if:true={checkApplicationTab}><button class="slds-button slds-button_neutral" onclick={handleCancel}>Back</button></template>
        </div>
    </header>
    <div class="container">
        <!-- COMPENSATION -->
        <template if:false={checkApplicationTab}>
            <c-lwc-card collapsible="true">
                <div slot="title">{label.ATS_StatusNCompensation}</div>            
                <div class="status-compensation slds-grid spread">
                    <div class="slds-grid slds-grid_vertical">
                        <div class="slds-grid status spread">
                            <lightning-combobox                            
                                label={label.ATS_STATUS}
                                value={status.value}
                                placeholder=""
                                options={status.options}
                                onchange={handleStatus}                            
                            ></lightning-combobox>
                        </div>
                        <template if:true={getOfficeState}>
                            <div class="slds-grid spread">
                                <div>                            
                                    <c-search-lookup-component 
                                        data-field="DeliveryOffice__c"
                                        place-holder="Search Delivery Office"         
                                        clas-name='Lookup' 
                                        method-name='searchSObject' 
                                        object-name='User_Organization__c' 
                                        is-soql='true'                                    
                                        use-cache=false
                                        addl-fields="[]"
                                        display-fields={lookupDisplay}         
                                        onlookupitemselectedevent={handleFieldEdit}         
                                        first-record-search-icon="true"                 
                                        search-lookup-text="Field Office"                                
                                        search-string={currentOffice}
                                        label-text="Delivery Office"         
                                    ></c-search-lookup-component>
                                </div>
                            </div>
                        </template>
						<Template if:true={hideDeliveryCenter}>
                            <div>                            
                                <lightning-combobox name="deliveryCenter"
                                    label="Delivery Office/Team"
                                    value={deliveryCenterValue}
                                    placeholder=""
                                    data-field="Delivery_Center__c"
                                    options={DeliveryPicklistValues}
                                    onchange={handleFieldEdit} >
                                </lightning-combobox>
                            </div>
                        </Template>
                        <div class="slds-grid compensation spread">
                            <lightning-textarea 
                                label={label.ATS_COMMENTS}
                                value={comments}
                                data-field="Comments__c"
                                onchange={handleFieldEdit}                            
                            ></lightning-textarea>
                        </div>

                    </div>
                    <div class="slds-grid compensation slds-grid_vertical">
                        <div class="slds-grid spread">
                            <template if:true={submittalDetails.Opportunity.Currency__c}>
                                <div class="currency">
                                    <label class="slds-form-element__label">{label.ATS_Currency}</label>
                                    <p>{submittalDetails.Opportunity.Currency__c}</p>
                                </div>
                            </template>
                            <Template for:each={compFields} for:item="field">
                                <Template if:true={field.options}>
                                        <lightning-combobox 
                                            key={field.value}                           
                                            label={field.label}
                                            value={field.value}
                                            data-field={field.field}
                                            placeholder=""
                                            options={field.options}
                                            onchange={handleFieldEdit}
                                            disabled={disableComp}                                    
                                    ></lightning-combobox>
                                </Template>
                                <Template if:false={field.options}>
                                    <lightning-input 
                                        key={field.value} 
                                        type="number"
                                        step="0.01"
                                        min="0"
                                        data-field={field.field}
                                        label={field.label} 
                                        value={field.value}
                                        onchange={handleFieldEdit}
                                        disabled={disableComp}                                    
                                    ></lightning-input>
                                </Template>
                            </Template>
                            
                             <div class="slds-grid spread">
                                <lightning-input 
                                        type="date"
                                        class="startDateCls"
		                                data-field="Start_Date__c"
		                                label={label.ATS_START_DATE} 
		                                value={startdate}
		                                onchange={handleFieldEdit}
		                                disabled={disableStartDate}                                    
	                                ></lightning-input>
                            </div>                         
                        </div>
                    </div>
                </div>            
            </c-lwc-card>
        </template>
        <!-- /COMPENSATION -->

        <!-- HISTORY -->
        <c-lwc-card collapsible="true">
            <div slot="title">{label.ATS_History}</div>
            <div slot="actions">
                <template if:true={showAddInterview}>
                    <button class="slds-button slds-button_neutral" onclick={handleAddInterview}>{label.ATS_Add_Interview}</button>
                </template>
            </div>
                <c-lwc-data-table
                show-spinner={showSpinner}
                table-columns={cols}
                table-data={tableData}
                pagination="true"
                onedit={handleEventEdit}
                actions={actions}
                onrowaction={handleHistoryInterviewEdit}
                rows-per-page={rowsPerPage}
            >
            </c-lwc-data-table>
        </c-lwc-card>
        <!-- /HISTORY -->
    </div>
</template>