c-lwc-card {
    padding: .5rem;
}
header {
    height: 4rem;
    background-color: #ededed;
    align-items: center;
    padding: .5rem;
}
.details-title {
    flex-grow: 1;
    font-size: 1.5rem;
}
.status-compensation > * {
    width: 50%;
}
.status-compensation > div:first-of-type {
    border-right: 1px solid lightgray;
}
.spread {
    flex-wrap: wrap;
}
.spread > * {
    flex-grow: 1;    
    padding: 0 .25rem;
}
.currency label {
    padding: 0.4rem 0;
}