.THIS .report-container{
    max-height: 15rem;
    overflow: auto;
    height: 100%;
}

.THIS .report-container::-webkit-scrollbar-corner {
    background-color: inherit;
}
.THIS .report-container::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
    height: 7px;
}
.THIS .report-container::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0);
    border-radius: 3px;
}
.THIS .report-container:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.3);
    border-radius: 3px;
}

.THIS .slds-section__title {
    font-weight: 600;
}

.THIS .sticky-th {
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

.THIS .marginHider {
    margin-bottom: -.75rem;
}

.THIS .selectColumnWidth {
    width: 2rem;
}

.THIS .textAlignRight{
    text-align: right;
}

.THIS .textAlignLeft{
    text-align: left;
}

.THIS .textAlignCenter{
    text-align: center;
}

.THIS .minHeight100 {
    min-height: 100px;
}

.THIS .view-report {
    padding-left: 8px;
    padding-top: 8px;
}
.THIS .current-talent {
    padding-bottom:7px;
}
.THIS .current-talent-top {
    padding-top: 7px;
    height:300px;
}
.THIS .text-align-left{
    padding-left : 0px;
}
.THIS .talent-end-date{
    padding-top : 7px;
}
.THIS .match-col {
    width: 6.5rem;
    min-width: 6.5rem;
}
.THIS .small-col {
    width: 7rem;
}
.THIS .dss-col {
    width: 12rem;
}


.THIS .col-width {
    max-width: 100px;
    width: 2rem;
}
.THIS .filter-style .slds-input{
    width:115px;
    color: rgba(27, 82, 151, 1);
    cursor:pointer;
}
.THIS .filter-style .slds-icon {
    fill: rgba(27, 82, 151, 1);
}
.THIS .filter-style .slds-input:focus {
    outline: 0;
    box-shadow: 0 0 3px #0070d2;
    color: rgba(0, 68, 135, 1);
    text-decoration:none;
    border-color:rgb(238, 241, 246);
}
.THIS .filter-style .slds-input:active {
   background-color: rgb(238, 241, 246);
}