.THIS input[type=radio]{
    display: inline-flex;
    margin: 0.25rem 0;
}

.THIS .switch-icon{
    width: auto;
    height: auto;
}

.THIS .slds-section__title-action{
    border: 1px solid rgb(216, 221, 230);
}

.THIS .slds-section__title{
    font-size: 0.75rem;
    width: 100%;
    position: relative;
}

.THIS .form-element__label{
    display: inline-block;
    margin-right: 0.5rem;
}

.THIS .search-facet-label{
    padding-left: 0.25rem;
    text-transform: capitalize;
    color: rgb(84, 105, 141);
    line-height: 1.5;
    display: inline-flex;
    width: 90%;
}

.THIS .doc-count{
    margin-left: 0.25rem;
}

.THIS li{
    margin: 0.50rem 0;
}

.THIS .red-icon {
    color: rgb(194, 57, 52);
}

.THIS .uiInput--datetime .datePicker-openIcon {
    right: .25rem;
}
.THIS .slds-section__title{
    font-size: 0.75rem;
    width: 100%;
}
.THIS .search-labels .slds-radio__label{
   white-space: nowrap;   
}
.THIS .search-labels span{
   padding-left:6px;
}
.THIS .submit-label { 
  color: #54698D;
}
.THIS .display-error .has-error .form-element__help{
    font-weight:600;
    margin-top:0rem;
}
.THIS .search-flex-radio {
    display:flex;
}
.THIS .has-error{
    color:#000000;
}
.THIS .search-flex-radio div .form-element__label{
   order:2;
   margin-left:0;
}
.THIS .search-flex-radio ul .form-element__help{
   font-weight:600;
   margin: 5px 0px; 
}