<template>
	<div style="padding-left:10px;padding-right:10px;" class="lwc-table-container">
		<template if:true={setSpinner}>
			<div id="spinnerDiv" style="height: 10rem">
				<div class="slds-spinner_container">
					<div role="status" class="slds-spinner slds-spinner_medium">
						<span class="slds-assistive-text">Loading</span>
						<div class="slds-spinner__dot-a"></div>
						<div class="slds-spinner__dot-b"></div>
					</div>
				</div>
			</div>
		</template>

<div class="slds-grid slds-grid_align-spread slds-size_12-of-12 slds-m-vertical_small preference-bar slds-wrap">

    <div class="slds-col">
        <div class="slds-grid default-picklist">
            <div class="slds-col">
                <lightning-combobox data-id="userprefcombo" name="progress" label="Combobox" value={cbValue} placeholder="Select Progress" variant="label-hidden" options={options} onchange={handleUserPrefChange}></lightning-combobox>
            </div>
            <template if:true={displaySavePrefButton}>
					<div class="slds-col">
						<lightning-button-icon 
						icon-name="utility:save" 
						alternative-text="Save" 
						class="slds-grid slds-grid_vertical-align-end" 
						onclick={saveUserPreferences}
					></lightning-button-icon>
					</div>
			</template>
        </div>
    </div>

    <div class="slds-col">
        <lightning-input data-id="keywordinput" placeholder={label.ATS_Filter_This_Table} name="keywordFilter" variant="label-hidden" value={keywordFilterKey} onchange={handleKeywordFilter}>
        </lightning-input>
    </div>

    <div class="slds-col">
        <c-lwc-date-range from={startDate} to={endDate} onrangechange={handleDateChange} init-range-filter-value={rangeFilterValue} enable-range-filter="true">
        </c-lwc-date-range>
    </div>

    <div class="slds-col">
        <div class="slds-form-element">
            <div class="slds-form-element__control">
                <div class="slds-combobox_container">
                    <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open" aria-expanded="true" aria-haspopup="listbox" role="combobox">
                        <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                            <input type="button" onclick={enablePopover} class="slds-input slds-combobox__input" name="ActivityType" value={activityFilterText} data-id="activityFilter" aria-controls="listbox-id-4" autocomplete="off" role="textbox" placeholder="Select an Option…"
                                readonly="" />
                            <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="height: 14px; fill: rgb(112, 110, 107)">
									<path d="M3.8 6.5h16.4c.4 0 .8.6.4 1l-8 9.8c-.3.3-.9.3-1.2 0l-8-9.8c-.4-.4-.1-1 .4-1z"></path>
								</svg>
							</span>
                        </div>
                        <template if:true={activityPopover}>
								<c-lwc-popover css="activity-type" title="Select Activity Types"
									css-contact-layout="slds-popover popover-activity-width" onfilterselect={displaySelectedFilters}>
							
									<div slot="popoverbody">
										<c-lwc-multi-select-popover data-id="activity" filter-options={activityFilterOptions}
											filter-type='activityType' onfilterselect={displaySelectedFilters}></c-lwc-multi-select-popover>
									</div>
									<div class="slds-grid slds-grid_align-end" slot="footer">
										<button class="slds-button slds-button_neutral" data-action="cancel" data-type="activity"
											onclick={handleSelect}>{label.ATS_CANCEL}</button>
										<button class="slds-button slds-button_brand" data-action="select" data-type="activity"
											onclick={handleSelect}>{label.ATS_SELECT}</button>
									</div>
								</c-lwc-popover>
							</template>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div aria-label="Activity Types">
						<div class="slds-grid input-combo-wrap padding-minor">
							<input type="button" class="input-toggle" onclick={enablePopover} name="ActivityType" value={activityFilterText} data-id="activityFilter"/>
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="height: 14px; fill: rgb(112, 110, 107)">
								<path d="M3.8 6.5h16.4c.4 0 .8.6.4 1l-8 9.8c-.3.3-.9.3-1.2 0l-8-9.8c-.4-.4-.1-1 .4-1z"></path>
							</svg>
						</div>
						<template if:true={activityPopover}>
							<c-lwc-popover css="activity-type" title="Select Activity Types"
								css-contact-layout="slds-popover popover-activity-width" onfilterselect={displaySelectedFilters}>
						
								<div slot="popoverbody">
									<c-lwc-multi-select-popover data-id="activity" filter-options={activityFilterOptions}
										filter-type='activityType' onfilterselect={displaySelectedFilters}></c-lwc-multi-select-popover>
								</div>
								<div class="slds-grid slds-grid_align-end" slot="footer">
									<button class="slds-button slds-button_neutral" data-action="cancel" data-type="activity"
										onclick={handleSelect}>{label.ATS_CANCEL}</button>
									<button class="slds-button slds-button_brand" data-action="select" data-type="activity"
										onclick={handleSelect}>{label.ATS_SELECT}</button>
								</div>
							</c-lwc-popover>
						</template>
						</div> -->
    </div>

    <div class="slds-col">
        <div class="slds-form-element">
            <div class="slds-form-element__control">
                <div class="slds-combobox_container">
                    <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open" aria-expanded="true" aria-haspopup="listbox" role="combobox">
                        <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                            <input type="button" onclick={enablePopover} class="slds-input slds-combobox__input" name="statusType" value={statusFilterText} data-id="statusTypeFilter" aria-controls="listbox-id-4" autocomplete="off" role="textbox" placeholder="Select an Option…" readonly=""
                            />
                            <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="height: 14px; fill: rgb(112, 110, 107)">
									<path d="M3.8 6.5h16.4c.4 0 .8.6.4 1l-8 9.8c-.3.3-.9.3-1.2 0l-8-9.8c-.4-.4-.1-1 .4-1z"></path>
								</svg>
							</span>
                        </div>
                        <template if:true={statusPopover}>
							<c-lwc-popover title="Select Activity Statuses"  css="activity-type" css-contact-layout="slds-popover" onfilterselect={displaySelectedFilters}>
								<div slot="popoverbody">
									<c-lwc-multi-select-popover data-id="status" filter-options={statusFilterOptions} filter-type='statusType' onfilterselect={displaySelectedFilters}></c-lwc-multi-select-popover>
								</div>
								<div class="slds-grid slds-grid_align-end" slot="footer">
									<button class="slds-button slds-button_neutral" data-action="cancel" data-type="status" onclick={handleSelect}>{label.ATS_CANCEL}</button>
									<button class="slds-button slds-button_brand" data-action="select" data-type="status" onclick={handleSelect}>{label.ATS_SELECT}</button>
								</div>
							</c-lwc-popover>
						</template>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div aria-label="Activity Statuses">
            <div class="slds-grid input-combo-wrap slds-is-relative padding-minor">
                <input type="button" name="statusType" onclick={enablePopover} class="input-toggle" value={statusFilterText} data-id="statusTypeFilter" />

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="height: 14px; fill: rgb(112, 110, 107)">
									<path d="M3.8 6.5h16.4c.4 0 .8.6.4 1l-8 9.8c-.3.3-.9.3-1.2 0l-8-9.8c-.4-.4-.1-1 .4-1z"></path>
								</svg>

            </div>
            <template if:true={statusPopover}>
								<c-lwc-popover title="Select Activity Statuses"  css="activity-type" css-contact-layout="slds-popover" onfilterselect={displaySelectedFilters}>
									<div slot="popoverbody">
										<c-lwc-multi-select-popover data-id="status" filter-options={statusFilterOptions} filter-type='statusType' onfilterselect={displaySelectedFilters}></c-lwc-multi-select-popover>
									</div>
									<div class="slds-grid slds-grid_align-end" slot="footer">
										<button class="slds-button slds-button_neutral" data-action="cancel" data-type="status" onclick={handleSelect}>{label.ATS_CANCEL}</button>
										<button class="slds-button slds-button_brand" data-action="select" data-type="status" onclick={handleSelect}>{label.ATS_SELECT}</button>
									</div>
								</c-lwc-popover>
							</template>
        </div> -->

    </div>

    <div class="slds-col">

        <div class="slds-form-element">
            <div class="slds-form-element__control">
                <div class="slds-combobox_container">
                    <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open" aria-expanded="true" aria-haspopup="listbox" role="combobox">
                        <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                            <input type="button" onclick={enablePopover} class="slds-input slds-combobox__input" name="ContactType" value={contactTypeFilterText} data-id="contacTypeFilter" aria-controls="listbox-id-4" autocomplete="off" role="textbox" placeholder="Select an Option…"
                                readonly="" />
                            <span class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="height: 14px; fill: rgb(112, 110, 107)">
									<path d="M3.8 6.5h16.4c.4 0 .8.6.4 1l-8 9.8c-.3.3-.9.3-1.2 0l-8-9.8c-.4-.4-.1-1 .4-1z"></path>
								</svg>
							</span>
                        </div>
                        <template if:true={contactTypePopover}>
							<c-lwc-popover title="Select Contact Types" class="contact-popover" css-contact-layout="slds-popover" onfilterselect={displaySelectedFilters}>
								<div class="contact-type-popover" slot="popoverbody">
									<c-lwc-multi-select-popover data-id="type" filter-options={contactTypeFilterOptions} filter-type='contactType' onfilterselect={displaySelectedFilters}></c-lwc-multi-select-popover>
								</div>
								<div class="slds-grid slds-grid_align-end" slot="footer">
									<button class="slds-button slds-button_neutral" data-action="cancel" data-type="type" onclick={handleSelect}>{label.ATS_CANCEL}</button>
									<button class="slds-button slds-button_brand" data-action="select" data-type="type" onclick={handleSelect}>{label.ATS_SELECT}</button>
								</div>
							</c-lwc-popover>
						</template>
                    </div>
                </div>
            </div>
        </div>


        <!-- <div aria-label="Contact Types">
            <div class="slds-grid input-combo-wrap slds-is-relative padding-minor">
                <input type="button" name="ContactType" onclick={enablePopover} class="input-toggle" value={contactTypeFilterText} data-id="contacTypeFilter" />

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" style="height: 14px; fill: rgb(112, 110, 107)">
									<path d="M3.8 6.5h16.4c.4 0 .8.6.4 1l-8 9.8c-.3.3-.9.3-1.2 0l-8-9.8c-.4-.4-.1-1 .4-1z"></path>
								</svg>

            </div>
            <template if:true={contactTypePopover}>
								<c-lwc-popover title="Select Contact Types" css-contact-layout="slds-popover" onfilterselect={displaySelectedFilters}>
									<div slot="popoverbody">
										<c-lwc-multi-select-popover data-id="type" filter-options={contactTypeFilterOptions} filter-type='contactType' onfilterselect={displaySelectedFilters}></c-lwc-multi-select-popover>
									</div>
									<div class="slds-grid slds-grid_align-end" slot="footer">
										<button class="slds-button slds-button_neutral" data-action="cancel" data-type="type" onclick={handleSelect}>{label.ATS_CANCEL}</button>
										<button class="slds-button slds-button_brand" data-action="select" data-type="type" onclick={handleSelect}>{label.ATS_SELECT}</button>
									</div>
								</c-lwc-popover>
							</template>
        </div> -->
    </div>

    <div class="slds-col">
        <button class="slds-button slds-button_brand" data-action="apply" data-type="status" onclick={sendToAura} disabled={disableApplyButton}>{label.ATS_APPLY}</button>
    </div>

    <div class="slds-col">
        <button class="slds-button slds-button_neutral" data-action="Reset" data-type="status" onclick={handleReset}>{label.ATS_RESET}</button>
    </div>

    <div class="slds-col">
        <lightning-button-menu alternative-text="Show menu" menu-alignment="auto" label={label.ATS_Action}>
            <lightning-menu-item value="MassUpdateTasks" label={label.ATS_Mass_Update_Tasks} onclick={handleMassUpdate}></lightning-menu-item>
            <lightning-menu-item value="DeleteSelected" label={label.ATS_Delete_Selected} onclick={handleMassDelete}></lightning-menu-item>
        </lightning-button-menu>
    </div>
</div>
<div style="margin-bottom:5px">
    <div class="activity-table custom-scroll">
        <c-lwc-data-table table-columns={cols} table-data={tableData} selection="multi" onedit={handleEdit} onrowaction={handleRowAction} row-select="true" row-action-highlight="true" no-results-msg={noDataDisplay.msg} sticky-header="true" is-database-sort=true
            ondatabasesort={handleDatabaseSorting}></c-lwc-data-table>
    </div>
</div>
</div>
</template>