/*style*/


/* .filters-header lightning-combobox {
    min-width: 7rem;
    flex-grow: 1;
}
.filters-header lightning-input {
    min-width: 10rem;
    flex-grow: 3;
}
.filters-header > *:not(:last-child) {
    margin-right: .75rem;
    height: 2rem;
} */

.lwc-table-container {
    background-color: white;
    background-clip: padding-box;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
    border: 1.2px solid #e2e0df;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 5px;
}

.input-combo-wrap {
    border: 1px solid #dddbda;
    padding: 6px;
    border-radius: 5px;
    align-items: center;
    display: flex;
}

.input-combo-wrap input {
    flex-grow: 1;
    text-align: left;
}


/* .input-combo-wrap div {
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
    display: flex;
} */


/*.filter-pos svg {
    position: absolute;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}*/

.action-filter-pos {
    z-index: 9;
}

.input-toggle {
    background: #fff;
    border: none;
}

.input-toggle:focus {
    outline: -webkit-focus-ring-color white 1px;
}

.slds-grid.input-combo-wrap.slds-is-relative:focus {
    outline: -webkit-focus-ring-color auto 1px;
}

.filter-pos {
    position: relative;
    bottom: -17px;
}

.date-range {
    margin-top: 1rem;
}

.spinner {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.padding-minor {
    padding-top: 5px;
}

svg {
    pointer-events: none;
}

c-lwc-popover {
    position: absolute;
    top: 0;
}

.default-picklist {
    position: relative;
    cursor: pointer;
}

.default-picklist-icon {
    position: absolute;
    right: 0;
}

.no-margin_right {
    margin-right: 0 !important;
}

div.default-picklist {
    max-width: 165px;
}