.THIS .slds-select {
  color: #686868;
  border: 0px;
  line-height: 1;
  outline: 0;
  padding: 0;
  height: 0.75rem;
  border-radius: 0px;
  transform: translateY(-0.125rem);
  cursor: pointer;
}

.THIS .slds-select_container {
    padding-right: 1rem;
}

.THIS .slds-select_container:before {
    border-bottom: 0px;
    top: 0;
}

.THIS .slds-select_container:after {
   right: 0.25rem;
   bottom: calc((1.75rem / 2) - 7px);
   border-top: 8px solid  #686868;
   border-left: 5px solid transparent;
   border-right: 5px solid transparent;
}