.THIS .textAlignRight{
    text-align: right;
}

.THIS .textAlignLeft{
    text-align: left;
}

.THIS .textAlignCenter{
    text-align: center;
}

.THIS .textTruncate {
    max-width: 205px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.THIS .custom-logo {
    padding: 0 1rem;
}
.THIS .custom-logo > div {
    height: 100%;
}
.THIS .select-col label > span {
    margin: 0!important;
    padding: 0!important;
}
.THIS .custom-logo img {
    width: 1.25rem;
    margin-right: 0.25rem;
}
.THIS .cC_EmptyStateImage img {
    max-width: 11rem;
}