<template>
    <section role="dialog">
           <div data-class={css} class={cssContactLayout}>
              <header class="slds-popover__header">            
                  <h2 tabindex="0" class="slds-text-heading_small">{title}</h2>
                  <slot name="header"></slot>
              </header>
              <div class="slds-popover__body slds-popover__body_medium">
                    <slot name="popoverbody"></slot>
                </div>
              <footer class="slds-popover__footer">
                  <slot name="footer" onslotchange={handleSlotFooterChange}></slot>
              </footer>
          </div>
    </section>
</template>