:host {
    color: black;
    padding: .5rem;
}
.slds-popover[data-class="activity-type"] {
    width: 27rem;
}

.popover-activity-width {
    width: 25rem;
}

header h2 {
    font-size: .8rem;
    font-weight: 600;
}

section {
    position: absolute;
    left: 0rem;
    top: 2rem;
}