.THIS .footerButtons{display: block;}
.THIS .slds-modal__container {max-width: 80%!important;
    top: 18%!important;
    max-height: 82%;
    max-width: 80%;
    width: 100%;
    height: 100%;}
.THIS .edit-pencil {height: 0;vertical-align: top;border: 0;color: rgb(221, 219, 218)}
.THIS .edit-pencil:hover {color: rgb(112, 110, 107)}
.THIS .slds-card__footer {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
}
.THIS table td {text-transform: capitalize;}
/*.THIS .slds-form-element__label {display:none;}*/
.THIS .slds-truncate.multiline-ellipsis {display: -webkit-box;-webkit-line-clamp: 5;-webkit-box-orient: vertical; white-space: pre-line; }
.THIS .text-format_wrap {word-wrap: break-word;word-break: break-word;}
.THIS ul.slds-wrap li{display: inline-block;margin: 0.25rem 0.5rem 0.25rem 0;}
.THIS .disabled-field {background: #eee; width: 100%!important; /*height: 34px!important;*/    padding: 0 1rem 0 .75rem;
    line-height: 1.875rem;
    min-height: calc(2.125rem + 2px); display: block!important; border-radius: 3px; border: 1px solid #ddd;color: #999;}
.THIS .truncate-badge{
    display: inline-block;
    max-width: 15rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.THIS .slds-table th, .THIS .slds-table td {/*padding: .75rem .5rem;*/}
.THIS .overview-location thead th { background: transparent!important;}
.THIS .overview-location  tr>th:first-child, .THIS .overview-location tr>td:first-child {padding: 0}
.THIS .overview-location th {border-top: 0!important; padding-top: 0!important}
.THIS table.overview-location {    border: 0!important;}
.THIS .deleteButton {border: 0}
.THIS .slds-pill__label{margin-right: 1rem;}
.THIS .slds-pill__remove{top: 45%;}
.THIS .slds-checkbox [type=checkbox][disabled]+.slds-checkbox_faux:after, .THIS .slds-checkbox [type=checkbox][disabled]+.slds-checkbox--faux:after, .THIS .slds-checkbox [type=checkbox][disabled]~.slds-checkbox_faux:after, .THIS .slds-checkbox [type=checkbox][disabled]~.slds-checkbox--faux:after, .THIS .slds-checkbox [type=checkbox][disabled]+.slds-checkbox__label .slds-checkbox_faux:after, .THIS .slds-checkbox [type=checkbox][disabled]+.slds-checkbox__label .slds-checkbox--faux:after {
    border-color: grey;}
.THIS .expandButton{height: 0;vertical-align: baseline;border: 0;padding: 0; line-height: 0}
.THIS .currency .slds-form-element__label {display: none}
.THIS .uiInput--select.select:not([multiple]), .THIS .uiInput--select .select:not([multiple]), .THIS .uiInput--select .uiPopupTrigger a {  
    min-height: calc(2.125rem + 2px);
}
.THIS lightning-helptext div {
    top: -2px;    margin-left: 5px;
}
.THIS .flexbox-btns {
    display: flex;
    justify-content: flex-end;
}
.THIS .flexbox-btn-group {position: relative;}
.THIS lightning-spinner {background-color: rgba(255, 255, 255, 0.95);}
.THIS .horizontal-radio .slds-form-element__control .slds-radio{
    display: inline-block;
}

.THIS .custom-textarea-container {
    flex-direction: row;
    background: rgb(255, 255, 255);
    /*border: 1px solid rgb(221, 219, 218);*/
    /*border-radius: .25rem;*/
}

.THIS #skills-comments-overview, 
.THIS #skills-comments, 
.THIS #overview-textarea {
    flex-direction: row;
    background: rgb(255, 255, 255);
    margin-bottom: 3px;
    border: 1px solid white;
    transform: translateY(-1px);
}

.THIS .focused-div-container {
    border: 1px solid rgb(0,140,231) !important;
    box-shadow: 0 0 3px rgba(0,140,231,1);
    border-radius: .25rem;
}


.THIS .truncated-container::after {
    content: 'MORE' !important;
    background: white;
    right: 0;
    font-size: .7rem;
    transform: translate(-4px, -25px);
    float: right;
    padding: 5px 6px 0 8px;
    color: rgb(0, 109, 204);
}