.THIS .indicator-area svg.slds-icon-text-default {
	fill: #fff;
}

.THIS .grid-view .container__list-item {
    border: 1px solid rgb(216, 221, 230);
    font-size: 95%;
}

.THIS .grid-view .slds-card{
	background: rgb(241, 241, 241);
}


.THIS .grid-view .slds-text-title_caps{
	font-weight: 600;
	color: rgb(22, 50, 92);
}

.THIS .grid-view a:visited{
	color: #2d466c;
	background-color: #e0e5ee;
}


.THIS .grid-view .cC_SearchResultsTalentActions .uiPopupTrigger{
	float: left;
	position: relative;
	top: 0px;
	left: 0px;
}

.THIS .grid-view .truncate-list .slds-truncate{
	display: inline-block;
	line-height: 1.125;
}


.THIS .grid-view .truncate-title{
	display: inline-block;
	margin-bottom: -0.25rem;
}


.THIS .grid-view .truncate-title-match{
	display: inline-block;
	margin-bottom: -0.25rem;
}


.THIS .grid-view .teaser-toggle{
	border: none;
	background-color: transparent;
	min-width: 1rem;
	position: relative;
	transform: translate(0rem, -0.25rem);
	width: 14px;
	height: 16px;
}

.THIS .grid-view .insights-button{
	border: none;
	background-color: transparent;
	min-width: 1rem;
	position: relative;
	transform: translate(0rem, -0.25rem);
	width: 14px;
	height: 16px;
}

.THIS .grid-view .slds-icon:hover{
    color: #0070d2;
}

.THIS .grid-view .slds-button--neutral{
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.THIS .grid-view .action-buttons .slds-button{
	min-width: 2rem;
	background-color: #ffffff;
}

.THIS .grid-view .hlt1{
	background: rgb(255, 240, 63);
    padding: 0.125rem;
    font-weight: 600;
    color: rgb(0, 112, 210);
    text-decoration: underline;
}

.THIS .grid-view .hlt2{
	background: rgb(255, 240, 63);
    padding: 0.125rem;
    font-weight: 600;
    color: rgb(0, 112, 210);
}

/*Indicator Area Styles*/

.THIS .grid-view .indicator-area{
	margin: 0.75rem 0;
}


.THIS .grid-view .icon-circle{
	background-color: #706e6b;
	height: 24px;
	width: 24px;
	border-radius: 50%;
	position: relative;
}

.THIS .grid-view .indicator-area .slds-icon{
	position: absolute;
	top: 3px;
	left: 3px;
}

.THIS .grid-view .indicator-area .slds-icon > lightning-primitive-icon > svg{
	height: 0.75rem;
	width: 0.75rem;
	fill: #f4f6f9;
}

/* Checkbox for Add to Callsheet */

.THIS .grid-view .uiInput--checkbox input, .THIS .grid-view input.uiInput--checkbox {
   min-width: 1rem;
}

.THIS .grid-view .candidate-status-badge{
	background-color:  #9e9e9d;
	color: #f4f6f9;
}

.THIS .grid-view small{
	font-weight: 600;
	font-size: 90%;
}

.THIS .grid-view .slds-card__header{
	display: none;
}

.THIS .grid-view .teaser-section{
	border: 1px solid rgb(216, 221, 230);
	background: #fdfdfd;
}

.THIS .selected{
	border-color: rgb(21, 137, 238);
	box-shadow: 0 0 3px #0070d2;
}

.THIS .selected .slds-card,
.THIS .selected .teaser-section{
	background: #ffffff;
}

.THIS .grid-view .slds-button +.slds-button{
	margin-left: 0;
}

.THIS .grid-view .employment-list strong,
.THIS .grid-view .employment-list p{
    line-height: 1.5;
    font-size: 0.75rem;
} 

.THIS .slds-is-collapsed {
	transform: scaleY(0);
	transition: transform 0.25s ease-out;
	transform-origin: bottom;
}

.THIS .slds-is-expanded {
	transition: transform 0.25s ease-in;
	transform: scaleY(1);
	transform-origin: top;
}
.THIS .disabled-row {
    background: rgb(250, 250, 249);
    font-style: italic;
    color: grey;   
}
.THIS .slds-icon {
    width: 1rem; height: 1rem;
}

.THIS .popover-container .slds-nubbin_left-top:before,
.THIS .popover-container .slds-nubbin_left-top:after{
	background: #fff;
}


.THIS .badge-popover{
	top: -22px;
}

.THIS .popover-container .slds-popover__header{
	background: #fff;
	border:1px solid rgb(221, 219, 218);
}

.THIS .right-margin-5 {
	width: .5rem;
	display: inline-block;
}
.THIS .color-red svg{
fill: #A9262E;
}
.THIS .color-grey svg{
fill: #B7B6B4;
 
}
.THIS .color-green svg{
fill: #29835E; 

}
.THIS .icon-size svg{
height:25px;
width:25px;
}
.THIS .icon-size-sup svg {
    height: 15px;
    width: 15px;
    position: relative;
    top: -5px;
}