.THIS .AG_Status-Former{
	background-color: #00437E;
	color: #FFF;
}

.THIS .AG_Status-Placed{
	background-color: #00B2CA;
	color: #FFF;
}

.THIS .AG_Status-Current{
	background-color: #44a144;
	color: #FFF;
}

.THIS .AG_Status-Default{
	background-color: #b0adab;
	color: #FFF;
}
.THIS .AG_Status-Destructive {
	background-color: var(--lwc-colorTextDestructive);
	color: #FFF;
}