<template>
    <template if:true={showTotalCount}>
        <div class="slds-p-top_medium" onclick={hanldeDropDown}>
            <span class="bold smaller">Total Results:&nbsp;{totalrecords}</span>
        </div>
    </template>

    <slot name="searchResults" onclick={hanldeDropDown}>
        <div style="background-color: white">
            <template for:each={_reqSearchResults} for:item="req">
                <div key={req.id}>
                    <c-lwc-req-routing-search-result-item req-details={req} view={view}></c-lwc-req-routing-search-result-item>
                </div>
            </template>
            <template if:false={showEmptyState}>
                <div style="position: fixed; bottom: 4px; z-index: 8000; right: 1rem">
                    <c-lwc-req-routing-paginator totalrecords={totalrecords} records-per-page={recordsPerPage} startindex={startIndex}></c-lwc-req-routing-paginator>
                </div>
            </template>
            <template if:true={showEmptyState}>
                <div class="slds-illustration slds-illustration_large slds-m-top_xx-large" aria-hidden="true">
                    <div class="slds-text-color_weak slds-m-bottom_xx-large">
                        <h3 class="slds-text-heading_medium">Add criteria from the filters to show Reqs relevant to your business or select a view you've created from the drop-down above</h3>
                    </div>
                    <img src="/img/chatter/Desert.svg" class="slds-illustration__svg" alt=""/>
                </div>
            </template>
        </div>
    </slot>
</template>