<template>
    <iframe width="100%" src={equestUrl}></iframe>
    <!--lightning-card  title="System Information" icon-name="custom:custom59">
        eQuest is On
        <div class="slds-m-around_medium">
            <iframe width="800" height="400" src={equestUrl}></iframe>
             eQuest is On
        </div>    
    </lightning-card-->
</template>