.THIS .slds-pill__label {
    text-transform: capitalize;
    display: inline-flex;
}
.THIS .slds-pill__action {
    padding-left: 0.5rem;
    border: 1px solid rgb(181, 180, 176);
}
.THIS .has-popover {
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.25s ease-in;
}

.THIS .has-popover:hover,
.THIS .has-popover:focus{
	color: #ccc;
}

.THIS .light_blue {

	background-color: hsl(215, 100%, 68%);
}

.THIS .mid_blue {

	background-color: hsl(215, 100%, 38%);
}

.THIS .dark_blue {
	
	background-color: hsl(215, 100%, 22%);
}

.THIS .dark_red {
    
    background-color: #c23934;
    color: #fff;
}
.THIS .dark_red button .slds-icon-text-default {
    fill: #fff;
}

.THIS .essential-pill{
	background-color: #FCB95B;
}

.THIS .essential-pill .has-popover:hover,
.THIS .essential-pill .has-popover:focus{
	color: #926c23;
}

.THIS .slds-pill{
	margin: 0.25rem 0.25rem 0.25rem 0;
}

.THIS .slds-icon_container{
	line-height: 1.2;
}

.THIS .truncate-badge{
	display: inline-block;
	max-width: 12rem;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* Styles for Exclude pills */
.THIS .exclude svg, .THIS .exclude:hover svg, .THIS .unexclude svg,.THIS .unexclude:hover svg {
    fill:#ffffff;
}

/*Styles for Essential pills*/

.THIS .essential_color {
	background-color: #FCB95B;
}

.THIS .favorite > span > svg{
	fill: #ffffff;
}

.THIS .un-favorite > span > svg{
	fill: transparent;
	stroke: #ffffff;
	stroke-width: 5px;
}

/* S-92964	Styles for Facet Pill delination */

.THIS .pill-unapplied{
    background-color: rgb(219, 229, 239);
    color: rgb(117, 116, 114);
}

.THIS .pill-unapplied:hover{
	background-color: rgb(207, 215, 224);
	color: rgb(115, 114, 109);
}

.THIS .pill-applied{
	background-color: rgb(255, 255, 255);
    border: 1px solid rgb(112, 110, 107);
}

.THIS .pill-applied:hover{
	background-color: rgb(244, 246, 249);
}