<template>
  
    <template if:true={showPopover}>
        <div>
        <div class={buttonClass}>
            <div class="slds-grid slds-grid_vertical-align-center">
            
                <svg viewBox="0 0 19 22" class="com-icon">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-316.000000, -107.000000)" fill={iconFill}>
                            <g transform="translate(316.000000, 107.000000)">
                                <g>
                                    <path
                                        d="M10.6875,1.3500312e-13 C13.6347419,1.3500312e-13 16.3033496,1.19297467 18.2367772,3.122378 L16.5564699,4.80083288 C15.0529081,3.30176317 12.9784326,2.375 10.6875,2.375 C6.09663302,2.375 2.375,6.09663302 2.375,10.6875 C2.375,15.278367 6.09663302,19 10.6875,19 C12.8549208,19 14.8285952,18.1704729 16.308361,16.8115807 L17.9137094,18.5618799 C16.0112211,20.3086938 13.4738852,21.375 10.6875,21.375 C4.78495674,21.375 3.07975867e-13,16.5900433 3.07975867e-13,10.6875 C3.07975867e-13,4.78495674 4.78495674,1.3500312e-13 10.6875,1.3500312e-13 Z">
                                    </path>
                                    <path
                                        d="M10.6875,11.4375 C13.3865476,11.4375 15.1423976,12.8398056 15.4036186,14.9967985 C14.1468255,16.1075777 12.495835,16.78125 10.6875,16.78125 C8.87843505,16.78125 7.22684175,16.1070337 5.97028496,14.996166 C6.2243418,12.8389441 7.93018496,11.4375 10.6786731,11.4375 L10.6786731,11.4375 Z M10.6875,5.9215625 C11.9993164,5.9215625 13.0625,6.98474609 13.0625,8.2965625 C13.0625,9.60837891 11.9993164,10.6715625 10.6875,10.6715625 C9.37568359,10.6715625 8.3125,9.60837891 8.3125,8.2965625 C8.3125,6.98474609 9.37568359,5.9215625 10.6875,5.9215625 Z">
                                    </path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>

                <div class="slds-is-relative">
                    <p class="comm-text slds-truncate slds-m-right_x-small">{label.ATS_SELF_REPORTED_INFO}</p>
                    <template if:true={showCaret}>
                        <svg viewBox="0 0 24 24" fill=#0070d2; class="down-caret">
                            <path d="M3.8 6.5h16.4c.4 0 .8.6.4 1l-8 9.8c-.3.3-.9.3-1.2 0l-8-9.8c-.4-.4-.1-1 .4-1z"></path>
                        </svg>
                    </template>
                    <section aria-label="Dialog title" class="slds-popover slds-nubbin_top-left slds-popover_large slds-hide" role="dialog">
                        <div class="slds-popover__body">
                            <div class="header slds-p-around_x-small">
                                <p class="update-date">{data.updatedDate}</p>
                                <p>{label.COMM_INFO_TEXT}</p>
                            </div>                            
                            <div oncopy={handleCopy}>
                                <table class="slds-table slds-no-row-hover">
                                    <tbody>
                                        <template if:true={showJobTitle}>
                                            <tr>
                                                <th class="slds-text-title_caps slds-align-top">
                                                    {label.ATS_JOB_TITLE}
                                                </th>
                                                <td data-type="title" class="slds-cell-wrap">
                                                    {data.jobTitle}
                                                </td>
                                            </tr>
                                        </template>
                                        <template if:true={showSkills}>
                                            <tr>
                                                <th class="slds-text-title_caps slds-align-top">
                                                    {label.ATS_SKILLS}
                                                </th>
                                                <td class="slds-cell-wrap">
                                                    <ul class="slds-list_horizontal">
                                                        <template for:each={data.skills} for:item="listItem">
                                                            <li key={listItem.id} title={listItem.value}>
                                                                <lightning-badge data-type="skill" label={listItem.value}></lightning-badge>
                                                            </li>
                                                        </template>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </template>                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                      </section>
                    <!-- <c-lwc-popover title={data.updatedDate} class={popoverClass} css="large">
                        <p slot="header">{label.COMM_INFO_TEXT}</p>
                        <div slot="popoverbody" oncopy={handleCopy}>
                            <table class="slds-table slds-no-row-hover">
                                <tbody>
                                    <template if:true={showJobTitle}>
                                        <tr>
                                            <th class="slds-text-title_caps slds-align-top">
                                                {label.ATS_JOB_TITLE}
                                            </th>
                                            <td data-type="title" class="slds-cell-wrap">
                                                {data.jobTitle}
                                            </td>
                                        </tr>
                                    </template>
                                    <template if:true={showSkills}>
                                        <tr>
                                            <th class="slds-text-title_caps slds-align-top">
                                                {label.ATS_SKILLS}
                                            </th>
                                            <td class="slds-cell-wrap">
                                                <ul class="slds-list_horizontal">
                                                    <template for:each={data.skills} for:item="listItem">
                                                        <li key={listItem.id} title={listItem.value}>
                                                            <lightning-badge data-type="skill" label={listItem.value}></lightning-badge>
                                                        </li>
                                                    </template>
                                                </ul>
                                            </td>
                                        </tr>
                                    </template>
                    
                                </tbody>
                            </table>
                        </div>
                    </c-lwc-popover> -->
                </div>
                
            </div>
        </div>
        </div>
    </template>
 
</template>