.com-icon{
    transform: scale(1);
    display: block;
    padding-right: 0.5rem;
    width: 1.5rem;
}
.comm-text {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}
.down-caret {
    width: 1rem;
    display: block;
    fill: #0070d2;
}

section.slds-popover {
    position: absolute;
    top: 1.7rem;
    left: 7rem;
}


ul{
    flex-wrap: wrap;
    align-items: flex-start;
}

ul li {
    margin: 0.25rem 0.5rem 0.25rem 0;
}
.update-date {
    color: black;
    font-weight: 600;
    margin-bottom: .25rem;
}
.slds-popover__body{
    padding: 0!important;
}

table tbody tr:first-child{
    border-bottom: 1px solid rgb(221, 219, 218);
}
table th.slds-text-title_caps {
    width: 23%;
}