<template>
    <!-- <h1>Search Alerts Analysis!!</h1> -->
    <div>
        <lightning-spinner if:true={showAlertsSpinner} alternative-text="Loading" variant="brand" size="medium">
        </lightning-spinner>
        <c-lwc-empty-state-image if:false={haveAlerts} body-text={emptyText} img="Start"></c-lwc-empty-state-image>
        <template if:true={haveAlerts}>
           
            <lightning-tabset>
                <lightning-tab label="Talent" value="T" onactive={handleTabSelect}>
                    <div class="container">
                        <template if:true={haveTalentAlerts}>
                            <div class="search-alerts">

                                <template for:each={state.alerts.talent} for:item="alert" for:index="i">
                                    <c-lwc-search-alert onaction={handleAction} email-status={alert.Send_Email__c}
                                        current-alert={state.currentAlert} key={alert.id} alert={alert}>
                                    </c-lwc-search-alert>

                                </template>

                            </div>

                            <div class="search-alerts-results slds-is-relative" data-id="results-container">
                                <c-lwc-empty-state-image if:false={haveResults} header-text="No Results For This Alert"
                                    img="Start">
                                </c-lwc-empty-state-image>
                                <lightning-spinner if:true={showSpinner} alternative-text="Loading" variant="brand"
                                    size="medium">
                                </lightning-spinner>
                                <template if:true={haveResults}>
                                    <template for:each={state.results} for:item="result" for:index="i">
                                        <div key={result.date}>
                                            <div class="section-header" data-index={i} onclick={setDefaultSection}>
                                                <c-if a={state.currentResults} comp="===" b={i} use-else="true">
                                                    <lightning-icon icon-name="utility:chevrondown" size="x-small"
                                                        alternative-text="Results">
                                                    </lightning-icon>
                                                    <lightning-icon slot="else" icon-name="utility:chevronright"
                                                        size="x-small" alternative-text="Results"></lightning-icon>
                                                </c-if>
                                                {result.date}({result.items})
                                            </div>
                                            <c-if a={state.currentResults} comp="===" b={i}>
                                                <template for:each={getCurrentResults.results} for:item="result">

                                                    <c-lwc-search-alert-result key={result.givenName} result={result}>
                                                    </c-lwc-search-alert-result>

                                                </template>
                                                <div if:true={showMore} onclick={loadMore} class="show-more">show more
                                                </div>
                                            </c-if>
                                        </div>
                                    </template>
                                </template>
                            </div>
                        </template>
                        <c-lwc-empty-state-image if:false={haveTalentAlerts} body-text={emptyText} img="Start">
                        </c-lwc-empty-state-image>
                    </div>

                </lightning-tab>
                <lightning-tab label="Req" value="R" onactive={handleTabSelect}>

                    <div class="container">
                        <template if:true={haveReqAlerts}>
                            <div class="search-alerts">

                                <template for:each={state.alerts.req} for:item="alert" for:index="i">
                                    <c-lwc-search-alert onaction={handleAction} email-status={alert.Send_Email__c}
                                        current-alert={state.currentAlert} key={alert.Id} alert={alert}>
                                    </c-lwc-search-alert>

                                </template>
                            </div>

                            <div class="search-alerts-results slds-is-relative" data-id="results-container">
                                <c-lwc-empty-state-image if:false={haveResults} header-text="No Results For This Alert"
                                    img="Start">
                                </c-lwc-empty-state-image>
                                <lightning-spinner if:true={showSpinner} alternative-text="Loading" variant="brand"
                                    size="medium">
                                </lightning-spinner>
                                <template if:true={haveResults}>
                                    <template for:each={state.results} for:item="result" for:index="i">
                                        <div key={result.date}>
                                            <div class="section-header" data-index={i} onclick={setDefaultSection}>
                                                <c-if a={state.currentResults} comp="===" b={i} use-else="true">
                                                    <lightning-icon icon-name="utility:chevrondown" size="x-small"
                                                        alternative-text="Results">
                                                    </lightning-icon>
                                                    <lightning-icon slot="else" icon-name="utility:chevronright"
                                                        size="x-small" alternative-text="Results"></lightning-icon>
                                                </c-if>
                                                {result.date}({result.items})
                                            </div>
                                            <c-if a={state.currentResults} comp="===" b={i}>
                                                <template for:each={getCurrentResults.results} for:item="result">

                                                    <c-lwc-search-alert-result-reqs key={result.jobId}
                                                        results={result}></c-lwc-search-alert-result-reqs>

                                                </template>
                                                <div if:true={showMore} onclick={loadMore} class="show-more">show more
                                                </div>
                                            </c-if>
                                        </div>
                                    </template>
                                </template>
                            </div>
                        </template>
                        <c-lwc-empty-state-image if:false={haveReqAlerts} body-text={emptyText} img="Start">
                        </c-lwc-empty-state-image>
                    </div>

                </lightning-tab>
            </lightning-tabset>

    </template>

    </div>
</template>