.container {
    height: 100%;
    overflow: hidden;
    display: flex;
}
.container > * {
    padding: 0 5px;
}
.section-header {
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.alert {
    height: 30px;
    width: 175px;
    background-color: #f5f5f5;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.result {
    height: 50px;
    width: 450px;
    border: 1px solid lightgray;    
}
.search-alerts {
    width: 25%;
    height: 100%;
    overflow-y: auto;
}
.search-alerts-results {
    height: 100%;
    width: 75%;
    overflow: auto;
}
.show-more {
    text-align: center;
    cursor: pointer;
    color: #0070d2;
    font-weight: 600;
}