<template>
    <div key={matchData.id} class={cssClassEvenOdd}>
        <div>
           <div class="slds-m-top_xx-small contactButtons">
                <a  class="slds-m-right_medium" data-popoverid="phone" onclick={togglePopover} onblur={handleBlur} data-blockblur="true">
                        Hide
                </a> <br/>
                <a href={phoneCallClick} class="slds-m-right_medium" data-popoverid="phone" onclick={togglePopover} onblur={handleBlur} data-blockblur="true">
                    <!--<lightning-icon icon-name="utility:call" alternative-text="Call" size="x-small" title="Call" data-blockblur="true"></lightning-icon>--><br />
                    Call
                </a>
                <a href={emailCallClick} class="slds-m-right_medium" data-popoverid="email" onclick={togglePopover} onblur={handleBlur} data-blockblur="true">
                    <!--<lightning-icon icon-name="utility:email" alternative-text="Email" size="x-small" title="Email" data-blockblur="true"></lightning-icon> --><br />
                    Email
                </a>
                <a href="#" class="slds-m-right_medium actionIconLink" data-popoverid="email" onclick={addActivity} onblur={handleBlur} data-blockblur="true" data-contactid={matchData.id}>
                    <!--<lightning-icon icon-name="utility:mark_all_as_read" alternative-text="Email" size="x-small" title="Email" data-blockblur="true" data-contactid={matchData.id}></lightning-icon>--><br />
                    Log Activity
                </a>
            </div>
            <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-4 slds-p-around_xx-small ">
                <h1 class="slds-truncate capitalizeText" title={matchData.name}>
                    <a title={matchData.name} href={matchData.contact_url} target="_blank">{matchData.name}</a>
                </h1> <br/> 
                <c-lwc-why-you-should-call match-data={matchData}></c-lwc-why-you-should-call>       
            </div>            
        </div>
        <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-4 slds-p-around_xx-small">
            <p class="slds-p-bottom_xxx-small slds-truncate capitalizeText" title={matchData.position_title}>{matchData.position_title} </p>
            <p class="slds-p-bottom_xxx-small capitalizeText" title={matchData.location}>{matchData.location} {matchData.countrycode}</p>
            <span class={cssPillClass}>{matchData.candidate_status}</span>
        </div>
        <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-4 slds-p-around_xx-small">
            <p class="slds-p-bottom_xxx-small slds-line-clamp_x-small" title={matchData.skillset}>{matchData.skillset}</p>
            <template if:true={matchData.lastResumeUpdatedDate}><p><a href="#" id={matchData.id}  onclick={onViewResume}>View Resume <br/> {matchData.lastResumeUpdatedDate}  </a> </p></template>
        </div>
        <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-4 slds-p-around_xx-small">
            <p class="slds-p-bottom_xxx-small">Last Activity:&nbsp; 
                <lightning-formatted-date-time value={matchData.activity_date}></lightning-formatted-date-time></p>
                <template if:true={matchData.activity_name}><p class="slds-p-bottom_xxx-small">By: {matchData.activity_name}</p></template>
            <p><a href="#" id={matchData.contact_id} onclick={onViewActivities}>View All Activities</a></p>
        </div>
    </div>

    <!-- Phone Popover -->
    <template if:true={phoneShowPopover}>
        <section class="slds-popover slds-nubbin_left-bottom slds-popover_large" role="dialog" data-popoverid="phone">
            <button class="slds-button slds-button_icon slds-button_icon-small slds-float_right slds-popover__close" title="Close dialog" data-popoverid="phone" onclick={togglePopover}>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="close" style="height:14px;"><path d="M14.3 11.7l6-6c.3-.3.3-.7 0-1l-.9-1c-.3-.2-.7-.2-1 0l-6 6.1c-.2.2-.5.2-.7 0l-6-6.1c-.3-.3-.7-.3-1 0l-1 1c-.2.2-.2.7 0 .9l6.1 6.1c.2.2.2.4 0 .6l-6.1 6.1c-.3.3-.3.7 0 1l1 1c.2.2.7.2.9 0l6.1-6.1c.2-.2.4-.2.6 0l6.1 6.1c.2.2.7.2.9 0l1-1c.3-.3.3-.7 0-1l-6-6c-.2-.2-.2-.5 0-.7z"></path></svg>
                <span class="slds-assistive-text">Close dialog</span>
            </button>
            
            <div class="slds-popover__body" data-blockblur="true">
                <div class="slds-grid slds-grid_vertical">
                    <p data-blockblur="true">Home: <lightning-formatted-phone value={matchData.home_phone}></lightning-formatted-phone></p>
                    <p data-blockblur="true">Work: <lightning-formatted-phone value={matchData.work_phone}></lightning-formatted-phone></p>
                    <p data-blockblur="true">Other: <lightning-formatted-phone value={matchData.other_phone}></lightning-formatted-phone></p>
                    <p data-blockblur="true">Mobile: <lightning-formatted-phone value={matchData.mobile_phone}></lightning-formatted-phone></p>    
                </div>
            </div>
        </section>
    </template>
    
    <!-- Email Popover -->
    <template if:true={emailShowPopover}>
        <section class="slds-popover slds-nubbin_left-bottom slds-popover_large popoverEmail" role="dialog" data-popoverid="email">
            <button class="slds-button slds-button_icon slds-button_icon-small slds-float_right slds-popover__close" title="Close dialog" data-popoverid="phone" onclick={togglePopover}>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="emailclose" style="height:14px;"><path d="M14.3 11.7l6-6c.3-.3.3-.7 0-1l-.9-1c-.3-.2-.7-.2-1 0l-6 6.1c-.2.2-.5.2-.7 0l-6-6.1c-.3-.3-.7-.3-1 0l-1 1c-.2.2-.2.7 0 .9l6.1 6.1c.2.2.2.4 0 .6l-6.1 6.1c-.3.3-.3.7 0 1l1 1c.2.2.7.2.9 0l6.1-6.1c.2-.2.4-.2.6 0l6.1 6.1c.2.2.7.2.9 0l1-1c.3-.3.3-.7 0-1l-6-6c-.2-.2-.2-.5 0-.7z"></path></svg>
                    <span class="slds-assistive-text">Close dialog</span>
                    </button>
            
            <div class="slds-popover__body" data-blockblur="true">
                <div class="slds-grid slds-grid_vertical">
                    <p data-blockblur="true">Communication Email: <lightning-formatted-email value={matchData.comm_email}></lightning-formatted-email></p>
                    <p data-blockblur="true">Work Email: <lightning-formatted-email value={matchData.work_email}></lightning-formatted-email></p>
                    <p data-blockblur="true">Other Email: <lightning-formatted-email value={matchData.comm_other_email}></lightning-formatted-email></p>
                </div>
            </div>
        </section>
    </template>
</template>