h1 {
    font-size:1.2em;
    font-weight: 600;
}

.contactButtons { 
    text-align: right;
    width: fit-content;
    border-right: thick solid #C0C0C0;
}

.contactButtons a {
    display: inline-block;
}

.pill {
    border-radius: 5px;
    font-size:11px;
    padding:3px 6px;
}

.pill.candidate {
    background-color: #b0adab;
    color:#ffffff;
}

.pill.current {
    background-color: #44a144;
    color:#ffffff;
}

.pill.former {
    background-color: #00396B;
    color:#ffffff;
}

.pill.placed {
    background-color: #00b2ca;
    color:#ffffff;
}

.resultItem.even {
    background-color:#ffffff;
}

.resultItem.odd {
    background-color:#F9F9FA;
}

.slds-popover {
    margin-left: 55px;
    margin-top: -85px;
    position: absolute;
}

.popoverEmail{
    margin-left: 105px;
}

.capitalizeText {
    text-transform: capitalize;
}