.skill-field {
    padding-left: .7rem;
    flex-wrap: wrap;
    padding-right: .25rem;
    border: 1px solid rgb(217, 219, 221);
    border-radius: .25rem;
    background-color: rgb(255, 255, 255);
    align-items: center;
}

slot[name="icon"] {    
    height: 2rem; 
    padding-right: 0.3rem;       
    display: flex;
    align-items: center;
    overflow: hidden;
}
.pills-container {
    display: flex;
    align-items: center;
}
.slds-pill {
    max-width: 20rem;
    height: 100%; 
    margin: 0.125rem 0.25rem 0.125rem 0;   
}

.slds-pill a {
    cursor: default;
}

.slds-pill[data-variant="neutral"]{
    background-color: #ffffff;
    color: #00396B;;
}

.slds-pill[data-variant="neutral"] .slds-pill__action{
    border: 1px solid #ffffff;;
    color: #00396B;;
}



.slds-pill[data-variant="neutral"] button svg {
    fill: #706e6b;
}

.slds-pill[data-variant="neutral"] button:hover svg {
    cursor: pointer;
    fill: #005fb2;
}

.slds-pill[data-variant="brand"]{
    background-color: #00396B;
}

.slds-pill[data-variant="brand"] .slds-pill__action  {
    border: 1px solid #00396B;
    color: #ffffff;
}

.slds-pill[data-variant="brand"] button svg {
    fill: #ffffff;
}

.slds-pill[data-variant="brand"] button:hover svg {
    cursor: pointer;
    fill: #bebebe;
}