.THIS {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
 .THIS .task-label {
     font-size:12px;
     color:#737271;
 }
 .THIS .task-sub-label {
     font-weight:600;
    }
    .THIS .slds-card__footer {
        text-align:right;
    }

    .THIS .font-weight-600 {
        font-weight:600;
    }
    .THIS .required-cls {
        color:#c43f3a;
    }

    .THIS .slds-card__body {
        flex-grow: 1;
        height: 170px;
        overflow: auto;
    }
    .THIS .drop-down-pos .slds-dropdown-trigger {
        position:absolute;
    }