.THIS .container label {
    display: flex;
    align-items: center;
}
.THIS {
    margin-top: 0.6rem;
    border-top: 1px solid rgb(221, 219, 218);
}
.THIS lightning-combobox .slds-dropdown {
    min-width: 200px;
}
/*.THIS  .has-error {*/
    /*text-align: left;*/
/*}*/

/*.THIS  .slds-select {*/
    /*width: 11rem;*/
/*}*/

/*.THIS .uiInput--input .input {*/
    /*width: 8rem;*/
/*}*/

/*.THIS .uiInput--input .has-error {*/
    /*margin-top: 0.75rem;*/
    /*width: 10rem;*/
    /*border: 1px solid rgb(194, 57, 52);*/
/*}*/

/*.THIS .slds-form-element__label {*/
    /*width: 50%;*/
/*}*/